<template>
  <main class="main-content">
    <section class="section section--fish sport-not-login">

      <div class="fish-container">
        <div class="tab-content fish-tab-content">
          <template v-if="gameMenu.length>0">
            <div :class="(gameThirdParty.id.toLowerCase() == gameThirdPartyId.toLowerCase()) ? 'tab-pane fade show active' : 'tab-pane fade show'" :id="'pills-' + gameThirdParty.id" role="tabpanel" :aria-labelledby="'pills-' + gameThirdParty.id + '-tab'" v-for="gameThirdParty in gameMenu" :key="gameThirdParty">
              <div class="by-back" :style="`background: url(` + getImgUrl(gameThirdParty.id,1) + `) center top no-repeat;`">
                <div class="container" @click="gameThirdParty.status===0 ?clickGameThirdParty(gameThirdParty, '/aad/FishHall', isLoadingObj):''">
                  <div class="by-title"><img :src="getImgUrl(gameThirdParty.id,2)">{{ $t("fishing") }}</div>
                  <div class="by-p"></div>
                  <a href="javascript:void(0)" class="by-btn" v-if="gameThirdParty.status===0">{{ $t("bet_now") }}</a>
                  <div class="by-img"><img :src="getImgUrl(gameThirdParty.id,3)"></div>
                </div>
              </div>
            </div>
          </template>
          <div class="by-bottom">
            <div class="container">
              <template v-if="gameMenu.length>0">
                <ul class="nav nav-pills fish-nav-pills" role="tablist">
                  <!---------維護中功能在 nav-item 後加 active↓↓↓↓↓-------------->
                  <li :class="game.status===2 ?'nav-item active':'nav-item'" role="presentation" v-for="game in gameMenu" :key="game" @click="setActive(game.gameThirdPartyNo, game.id)">
                    <!---------電子遊戲內容維護中div↓↓↓↓↓-------------->
                    <div class="maintainBlock" v-if="game.status===2">
                      <div class="maintainText">{{ $t("inMaintenance") }}</div>
                    </div>
                    <!---------電子遊戲內容維護中div↑↑↑↑↑-------------->
                    <a :class="(game.id.toLowerCase() == gameThirdPartyId.toLowerCase()) ? 'nav-link active' : 'nav-link'" :id="'pills-' + game.id + '-tab'" data-bs-toggle="pill" :data-bs-target="'#pills-' + game.id" role="tab" :aria-controls="'pills-' + game.id" aria-selected="true">
                      <img :src="getImgUrl(game.id,4)">
                      <div class="by-tabs-bottom">{{ game.name }}</div>
                    </a>
                  </li>
                </ul>
              </template>
            </div>
          </div>
        </div>
      </div>
      <!---->
    </section>
  </main>
  <!-- 加載 -->
  <loading v-model:active="isLoadingObj.valu" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />
</template>
<script setup>
import { ref, reactive, watch, computed, onMounted, onUpdated} from 'vue';
import { useStore } from 'vuex';
import { useRouter } from "vue-router";
import { useGamesStore } from '@/store/game'
import { storeToRefs } from "pinia";
import common from "@/utils/common";
import Loading from 'vue-loading-overlay';

const store = useStore();
const router = useRouter();
const games = useGamesStore();
const { gameMenu, gameThirdPartyId } = storeToRefs(games);
const { clickGameThirdParty } = common();
const wallets = computed(() => store.state.wallets);
const isLoadingObj = reactive({
  value:false
})
const currencyNo = ref('');
const currencyId = ref('');

const DomainLayoutId = computed(() => store.state.DomainLayoutId);

//按鈕值
const buttons = ref([
  {
    id: "fastspinfh",
    background: require('@/assets/aaa/img/fish/bg/by-back01.png'),
    title: require('@/assets/aaa/img/fish/title/by-logo01.png'),
    byImg: require("@/assets/aaa/img/fish/byImg/by-img01.png"),
    by: require("@/assets/aaa/img/fish/by/by01.png"),
  },
  {
    id: "ylfh",
    background: require('@/assets/aaa/img/fish/bg/by-back02.png'),
    title: require('@/assets/aaa/img/fish/title/by-logo02.png'),
    byImg: require("@/assets/aaa/img/fish/byImg/by-img02.png"),
    by: require("@/assets/aaa/img/fish/by/by02.png"),
  },
  {
    id: "fcgamingfh",
    background: require('@/assets/aaa/img/fish/bg/by-back04.png'),
    title: require('@/assets/aaa/img/fish/title/by-logo04.png'),
    byImg: require("@/assets/aaa/img/fish/byImg/by-img04.png"),
    by: require("@/assets/aaa/img/fish/by/by05.png"),
  },
  {
    id: "yesbingofh",
    background: require('@/assets/aaa/img/fish/bg/by-back03.png'),
    title: require('@/assets/aaa/img/fish/title/by-logo03.png'),
    byImg: require("@/assets/aaa/img/fish/byImg/by-img03.png"),
    by: require("@/assets/aaa/img/fish/by/by03.png"),
  },
  {
    id: "sgfish",
    background: require('@/assets/aaa/img/fish/bg/by-back05.png'),
    title: require('@/assets/aaa/img/fish/title/by-logo05.png'),
    byImg: require("@/assets/aaa/img/fish/byImg/by-img05.png"),
    by: require("@/assets/aaa/img/fish/by/by05.png"),
  },
  {
    id: "jdbfish",
    background: require('@/assets/aaa/img/fish/bg/by-back06.png'),
    title: require('@/assets/aaa/img/fish/title/by-logo06.png'),
    byImg: require("@/assets/aaa/img/fish/byImg/by-img06.png"),
    by: require("@/assets/aaa/img/fish/by/by06.png"),
  },
  {
    id: "ksfish",
    background: require('@/assets/aaa/img/fish/bg/by-back08.jpg'),
    title: require('@/assets/aaa/img/fish/title/by-logo08.png'),
    byImg: require("@/assets/aaa/img/fish/byImg/by-img08.png"),
    by: require("@/assets/aaa/img/fish/by/by08.png"),
  },
  {
    id: "jilifh",
    background: require('@/assets/aaa/img/fish/bg/by-back07.jpg'),
    title: require('@/assets/aaa/img/fish/title/by-logo07.png'),
    byImg: require("@/assets/aaa/img/fish/byImg/by-img07.png"),
    by: require("@/assets/aaa/img/fish/by/by07.png"),
  },
]);

// 取得圖片連結 (1=背景圖片, 2=logo, 3=右圖 ,4=點選圖片)
function getImgUrl(value, itype) {
  let item = buttons.value.find(item => item.id.toLowerCase() == value.toLowerCase());
  if (item) {
    switch (itype) {
      case 1:
        return item.background;
      case 2:
        return item.title;
      case 3:
        return item.byImg;
      case 4:
        return item.by;
    }
    return '';
  }
}

// 按鈕按下顯示
function setActive(gameThirdPartyNo, btnName) {
  gameThirdPartyId.value = btnName;
  localStorage.setItem('gameThirdPartyNo', gameThirdPartyNo);
  localStorage.setItem('gameThirdPartyId', btnName)
}

watch(
  () => wallets.value,
  () => {
    currencyNo.value = +localStorage.getItem("currencyNo");
    currencyId.value = localStorage.getItem("currencyId");

    games.filterHeaderMenuByCurrency();

    let no = localStorage.getItem("gameClass");
    let gameThirdPartyNo = localStorage.getItem("gameThirdPartyNo");
    let gameThirdPartyId = localStorage.getItem("gameThirdPartyId");
    
    let hasMatched = games.setGameThirdPartyNo(no, gameThirdPartyNo, gameThirdPartyId,'gameThirdParty')
    if(hasMatched === false){
      router.push("/" + DomainLayoutId.value);
    }
  }
)

onMounted(() => {
  initGameThird();
  currencyNo.value = +localStorage.getItem("currencyNo");
  currencyId.value = localStorage.getItem("currencyId");
});

onUpdated(() => {
  initGameThird();
});

// 初始化:選擇第一個正常的遊戲館
function initGameThird() {
  if (!localStorage.getItem("gameClass")) {
    localStorage.setItem("gameClass", 6);
    games.setGameThirdPartyNo(6, -1, '', 'gameThirdParty');
  }
}
</script>

<style lang="scss" scoped>
.section--fish .sport {
  -ms-background-size: cover;
  background-size: cover;
  height: 800px;

  .row {
    padding-bottom: 160px;
    margin-left: 17rem;

    .sport__item {
      margin-top: 2.5rem;
      padding-top: 0;
      padding-bottom: 0;

      img {
        max-width: none !important;
      }
    }
  }
}

.fish-container {
  .fish-tab-content {
    position: relative;

    .tab-pane {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      z-index: -1;
      opacity: 0;
      filter: alpha(opacity=0);
      transition: 0.5s all;

      .by-back {
        height: 790px;

        .container {
          position: relative;

          .by-title {
            font-size: 47px;
            height: 152px;
            color: #fff;
            padding-top: 80px;
            font-weight: bold;
            text-shadow: 5px 0 3px rgba(0, 118, 133, 0.76);

            img {
              margin-right: 15px;
              max-width: 110px;
            }
          }

          .by-p {
            text-shadow: 2px 0 2px rgba(0, 118, 133, 0.76);
            width: 590px;
            color: #fff;
            font-size: 22px;
            margin-top: 20px;
            line-height: 35px;
            text-align: justify;
          }

          .by-btn {
            display: block;
            font-size: 20px;
            color: #333;
            margin-top: 20px;
            //width: 112px;
            //height: 22px;
            width: 28%;
            padding: 6px 20px 6px 20px;
            line-height: 36px;
            text-align: center;
            border-radius: 36px;
            background: #fff600;
            &.type02P {
              background: #000000;
              color: #fff;
            }
          }

          .by-img {
            position: absolute;
            top: 80px;
            right: 15px;
          }
        }
      }

      &.active {
        position: relative;
        z-index: 10;
        opacity: 1;

        .by-img {
          animation: rightIn 0.5s ease-in-out;
        }
      }
    }
  }

  .by-bottom {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 100;
    bottom: 125px;
    background: rgba(255, 255, 255, 0.5);
    padding: 0 0 5px 0;

    .container {
      width: 1230px;

      .fish-nav-pills {
        text-align: center;

        li.nav-item {
          margin: 5px 20px 0 0;
          //background: #d66d00;
          &.active {
            filter: grayscale(100%);
            pointer-events: none;

            .maintainBlock {
              position: absolute;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              z-index: 500;
              background-color: rgba(0, 0, 0, 0.4);
              border-radius: 10px;

              .maintainText {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 30px 10px 30px;
                background-color: rgba(0, 0, 0, 1);
                border-radius: 10px;
                color: #fff;
              }
            }
          }

          a {
            cursor: pointer;
            display: block;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            padding: 0;

            img {
              width: 140px;
              height: 144px;
            }

            .by-tabs-bottom {
              position: absolute;
              left: 0;
              line-height: 23px;
              right: 0;
              bottom: 0;
              //font-size: 14px;
              padding: 15px 0 15px 0;
              color: #fff;
              background: rgba(0, 59, 91, 0.74);
              font-size: clamp(12px, 1.1vw, 14px);
              //height: 30px;
            }

            &:hover .by-tabs-bottom {
              background: #d66d00;
              color: #fff;
            }
            &.active {
              .by-tabs-bottom {
                background: #d66d00;
                color: #fff600;
              }
            }
          }


        }
      }
    }
  }
}

@keyframes rightIn {
  0% {
    margin-right: -100px;
    opacity: 0;
  }

  30% {
    margin-right: -100px;
    opacity: 0;
  }

  to {
    opacity: 1;
    margin-right: 0;
  }
}
</style>
