<template>
  <main class="main-content">
    <section class="section section--egame egame-fish">
      <div class="sport">
        <div class="container">
          <game-hall />
        </div>
      </div>
    </section>
  </main>
</template>
<script setup>
import GameHall from "@/components/aad/GameHallView.vue";
</script>

<style lang="scss" scoped>
.section--egame.egame-fish .sport {
  background: url(@/assets/aad/img/gameHall/game_hall_fish.jpg) no-repeat top;
  -ms-background-size: content;
  background-size: content;
  padding-top: 10rem;
}
</style>
