<template>
  <!-- desktop -->
  <main class="main-content indexHomeMainContentBlock">
    <div class="indexHomeMainContentBannerBlockFlex">
      <section class="section section--home-banner img-block indexHomeMainContentBannerBlock">

        <!-- 左邊紅包懸浮按鈕 -->
        <div class="homePromo-redEnvelope-left" v-if="redPacketLeftImg && redPacketShow === true"
          :data-bs-target="isLogin ? '#promoRed' : '#collapseTarget'" data-bs-toggle="modal">
          <div class="homePromo-btn">
            <img :src="redPacketLeftImg" alt="">
          </div>
        </div>

        <!--右邊懸浮社群-->
        <div class="aside-block">
          <div v-if="FrontShortcutArray.length > 0" class="society-block">
            <div v-for=" (FrontShortcut, index) in FrontShortcutArray" class="society-box" :key="index">
              <a class="d-flex align-items-center" :href="FrontShortcut.hyperlink" target="_blank">
                <span class="img position-relative">
                  <img class="none" :src="FrontShortcut.image" alt="">
                  <img class="hover" :src="FrontShortcut.stopOverImage" alt="">
                </span>
                <span class="text ml-2">{{ FrontShortcut.title }}</span>
              </a>
            </div>
          </div>
        </div>
        <!-- 右邊優惠懸浮按鈕 -->
        <div class="homePromo-redEnvelope" v-if="redPacketRightImg && redPacketShow === true"
          :data-bs-target="isLogin ? '#promoRed' : '#collapseTarget'" data-bs-toggle="modal">
          <div class="homePromo-btn">
            <img :src="redPacketRightImg" alt="" />
          </div>
        </div>

        <div class="homePromo-img" :data-bs-target="isLogin ? '#promoApplyPop' : '#collapseTarget'"
          data-bs-toggle="modal">
          <div class="homePromo-btn">
            <img :src="siteSettingsInfo.managerCDNUrl + 'aad/img/home/homePromo-btn2.png'" alt="" />
          </div>
        </div>

        <div class="home-banner">
          <swiper class="home-banner__slider isHotMatch swiper homeSwiper" :modules="modules" :slides-per-view="1"
            :space-between="25" :loop="true" :autoplay="{ delay: 2500 }"
            :navigation="{ nextEl: '.jackpot__next', prevEl: '.jackpot__prev' }" :pagination="false" :scrollbar="false">
            <swiper-slide v-for="(homeBanner, index) in homeBanners" :key="index" class="home-banner__item swiper-slide">
              <div class="home-banner__link">
                <a v-if="homeBanner.hyperlink" :href="homeBanner.hyperlink" target="_blank">
                  <img :src="homeBanner.imageUrl" alt="" />
                </a>
                <img v-else :src="homeBanner.imageUrl" alt="" />
              </div>
            </swiper-slide>
          </swiper>
        </div>
      </section>
    </div>
    <div class="section-bg">
      <section class="hot-live-game-section">
        <div class="hot-live-game">
          <div class="slider">
            <div class="movieBlock">
              <div v-if="homeVideo" class="movieItemiframeBg">
                <div class="movieItemiframe">
                  <iframe width="100%" height="100%" :src="homeVideo.hyperlink" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </div>
                <img :src="siteSettingsInfo.managerCDNUrl + 'aad/img/home/youtubeBg.png'" />
              </div>
              <div v-else>
                <img :src="siteSettingsInfo.managerCDNUrl + 'aad/img/home/noVideo.png'" alt="">
              </div>
            </div>
            <div class="appdown">
              <span class="onLineUser">{{ stringToMoney(onlineUser) }} người online</span>
              <span class="appDownLoad-text">{{ $t("All_in_1_app") }}</span>
              <router-link :to="{ name: 'aadAppDownLoad' }">
                <img :src="siteSettingsInfo.managerCDNUrl + 'aad/img/home/homeApp.png'" />
              </router-link>
              <div class="promo-slider slider d-flex">
                <swiper class="" :modules="modules" :slides-per-view="1" :loop="true" :autoplay="{ delay: 2500 }">
                  <template v-if="promotionList.length > 0">
                    <template v-for="(item, index) in promotionList" :key="index">
                      <swiper-slide v-if="item.simageUrl">
                        <router-link :to="{ name: 'aadPromotion' }">
                          <img :src="item.simageUrl" class="swiper-lazy" />                        
                        </router-link>
                      </swiper-slide>
                    </template>
                  </template>
                  <!-- 如果後台沒圖片，則呈現下面區塊 -->
                  <template v-else>
                    <template v-for="(item, index) in promoImg" :key="index">
                      <swiper-slide>
                        <router-link :to="{ name: 'aadPromotion' }">
                          <img :src="item.imgPath" class="swiper-lazy" />
                        </router-link>
                      </swiper-slide>
                    </template>
                  </template>
                </swiper>
              </div>

            </div>
          </div>
        </div>
      </section>

      <section class="top-game-section">
        <div class="top-game" :style="`
            background: url(${homelivegamebg}) no-repeat;
            background-size: 100% 100%;
            border-radius: 0;
          `">
          <div class="top-game-title">
            <span class="title">{{ $t("live_games") }} </span>
            <span class="descript">
              {{ $t("enjoy_premium_live_games") }}
            </span>
          </div>

          <div class="slider d-flex">
            <swiper class="top-game2-slider swiper" :modules="modules" :slides-per-view="6" :space-between="8"
              :initialSlide="6" :loop="true" :autoplay="{ delay: 3000 }" :navigation="{
                nextEl: '.btnNext',
                prevEl: '.btnPrev',
              }" :pagination="false" :scrollbar="false">
              <swiper-slide class="swiper-slide" v-for="(imgItem, index) in leftImg" :key="index">
                <div @click="goCasinoPage" @mouseover="showRightSide(index)">
                  <img :src="imgItem.imgPath" class="swiper-lazy" />
                </div>
              </swiper-slide>
            </swiper>
          </div>
        </div>
        <a class="btnPrev"><img :src="siteSettingsInfo.managerCDNUrl + 'aad/img/home/homeprev.png'" /></a>
        <a class="btnNext"><img :src="siteSettingsInfo.managerCDNUrl + 'aad/img/home/homenext.png'" /></a>
      </section>
      <section class="hot-slot-game-section">
        <div class="hot-slot-game-title">
          <span class="titleBox">{{ $t("slot_games") }}</span>
          <span class="descript" style="display: none">
            {{ $t("enjoy_premium_live_games") }}
          </span>
        </div>

        <div class="hot-slot-game">
          <div class="slider type02">
            <swiper class="hot-slot-game2-slider swiper" :modules="modules" :slides-per-view="'auto'" :loop="true"
              :looped-slides="5" :initial-slide="1" :slides-per-group="1" :autoplay="{ delay: 250000 }" :navigation="{
                nextEl: '.jackpot__next',
                prevEl: '.jackpot__prev',
              }" :pagination="false" :scrollbar="false" :observer="true" :observeParents="true"
              :centered-slides-bounds="true" :centered-slides="true" :spaceBetween="20" :direction="'horizontal'">
              <swiper-slide class="swiper-slide" v-for="(item, index) in slotGames" :key="index">
                <div class="game-box" @click="goClassPage('Egame')">
                  <div class="game-img">
                    <img :src="item.img" class="swiper-lazy" alt="" />
                  </div>
                  
                </div>
              </swiper-slide>
              
            </swiper>

            <div class="view-all-live-game">
              <a href="javascript:void(0)" @click="goClassPage('Egame')">
                {{ $t("more_games") }} >>
                <!-- View All Live Game >> -->
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="hot-game-live-section">
        <div class="top-game-title">
          
          {{ $t("elegant_live_lobby") }}
        </div>
        <div class="hot-game-live">
          <div class="slider type02">
            <swiper class="hot-game-live2-slider swiper" :modules="modules" :slides-per-view="5" :loop="true"
              :looped-slides="5" :initial-slide="5" :slides-per-group="1" :autoplay="{ delay: 3000 }" :navigation="{
                nextEl: '.jackpot__next',
                prevEl: '.jackpot__prev',
              }" :pagination="false" :scrollbar="false" :observer="true" :observeParents="true"
              :centered-slides-bounds="true" :centered-slides="true" :spaceBetween="0" :direction="'horizontal'">
              <swiper-slide class="swiper-slide">
                <div class="game-box" @click="goClassPage('Casino')">
                  <div class="game-img">
                    <img :src="siteSettingsInfo.managerCDNUrl + 'aad/img/home/live/live01.png'" class="swiper-lazy" />
                  </div>
                  <div class="game-info">
                    <div class="game-btn">{{ $t("experience_now") }}</div>
                  </div>
                </div>
              </swiper-slide>
              <swiper-slide class="swiper-slide">
                <div class="game-box" @click="goClassPage('Casino')">
                  <div class="game-img">
                    <img :src="siteSettingsInfo.managerCDNUrl + 'aad/img/home/live/live02.png'" class="swiper-lazy" />
                  </div>
                  <div class="game-info">
                    <div class="game-btn">{{ $t("experience_now") }}</div>
                  </div>
                </div>
              </swiper-slide>
              <swiper-slide class="swiper-slide">
                <div class="game-box" @click="goClassPage('Casino')">
                  <div class="game-img">
                    <img :src="siteSettingsInfo.managerCDNUrl + 'aad/img/home/live/live03.png'" class="swiper-lazy" />
                  </div>
                  <div class="game-info">
                    <div class="game-btn">{{ $t("experience_now") }}</div>
                  </div>
                </div>
              </swiper-slide>
              <swiper-slide class="swiper-slide">
                <div class="game-box" @click="goClassPage('Casino')">
                  <div class="game-img">
                    <img :src="siteSettingsInfo.managerCDNUrl + 'aad/img/home/live/live04.png'" class="swiper-lazy" />
                  </div>
                  <div class="game-info">
                    <div class="game-btn">{{ $t("experience_now") }}</div>
                  </div>
                </div>
              </swiper-slide>
              <swiper-slide class="swiper-slide">
                <div class="game-box" @click="goClassPage('Casino')">
                  <div class="game-img">
                    <img :src="siteSettingsInfo.managerCDNUrl + 'aad/img/home/live/live05.png'" class="swiper-lazy" />
                  </div>
                  <div class="game-info">
                    <div class="game-btn">{{ $t("experience_now") }}</div>
                  </div>
                </div>
              </swiper-slide>
              <swiper-slide class="swiper-slide">
                <div class="game-box" @click="goClassPage('Casino')">
                  <div class="game-img">
                    <img :src="siteSettingsInfo.managerCDNUrl + 'aad/img/home/live/live01.png'" class="swiper-lazy" />
                  </div>
                  <div class="game-info">
                    <div class="game-btn">{{ $t("experience_now") }}</div>
                  </div>
                </div>
              </swiper-slide>
              <swiper-slide class="swiper-slide">
                <div class="game-box" @click="goClassPage('Casino')">
                  <div class="game-img">
                    <img :src="siteSettingsInfo.managerCDNUrl + 'aad/img/home/live/live02.png'" class="swiper-lazy" />
                  </div>
                  <div class="game-info">
                    <div class="game-btn">{{ $t("experience_now") }}</div>
                  </div>
                </div>
              </swiper-slide>
              <swiper-slide class="swiper-slide">
                <div class="game-box" @click="goClassPage('Casino')">
                  <div class="game-img">
                    <img :src="siteSettingsInfo.managerCDNUrl + 'aad/img/home/live/live03.png'" class="swiper-lazy" />
                  </div>
                  <div class="game-info">
                    <div class="game-btn">{{ $t("experience_now") }}</div>
                  </div>
                </div>
              </swiper-slide>
              <swiper-slide class="swiper-slide">
                <div class="game-box" @click="goClassPage('Casino')">
                  <div class="game-img">
                    <img :src="siteSettingsInfo.managerCDNUrl + 'aad/img/home/live/live04.png'" class="swiper-lazy" />
                  </div>
                  <div class="game-info">
                    <div class="game-btn">{{ $t("experience_now") }}</div>
                  </div>
                </div>
              </swiper-slide>
              <swiper-slide class="swiper-slide">
                <div class="game-box" @click="goClassPage('Casino')">
                  <div class="game-img">
                    <img :src="siteSettingsInfo.managerCDNUrl + 'aad/img/home/live/live05.png'" class="swiper-lazy" />
                  </div>
                  <div class="game-info">
                    <div class="game-btn">{{ $t("experience_now") }}</div>
                  </div>
                </div>
              </swiper-slide>
            </swiper>
          </div>
        </div>
      </section>
      <!----------應該在home首頁段落↓↓↓↓↓↓↓↓----------->

      <button class="goTop" :class="{ fade: !isAtTop }" @click="goTop" v-show="!isAtTop">
        <font-awesome-icon icon="fa-solid fa-chevron-up" beat-fade size="lg" />
      </button>

      <!-- 一進首頁彈出廣告視窗 -->
      <div id="my-template">
        <div id="swiper-container">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div v-for="(swiperContainerBanner, index) in swiperContainerBanners" :key="index" class="swiper-slide">
                <a :href="swiperContainerBanner.hyperlink" target="_blank">
                  <img :src="swiperContainerBanner.imageUrl" alt="" />
                </a>
              </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- 申請優惠彈出視窗 -->
  <promo-apply />
  <promo-red-envelope-view />

  <!-- 加載 -->
  <loading v-model:active="isLoading" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />
</template>

<script>
import { Swiper, SwiperSlide } from "swiper/vue";
import {
  Navigation,
  Pagination,
  Scrollbar,
  A11y,
  EffectFade,
  Autoplay,
} from "swiper";
import { ref, reactive, watch, onUpdated, onMounted, computed } from "vue";
import { useRouter } from "vue-router";
import { useI18n } from "vue-i18n";
import apiService from "@/api/apiService";
import { startGame } from "@/api/api";
// import Qrcode from "vue3-qrcode";
import { useStore } from "vuex";
import { useGamesStore } from "@/store/game";
import { storeToRefs } from "pinia";
import common from "@/utils/common";
import Swal from "sweetalert2";
import promoApply from "@/components/aad/PromoApply.vue";
import homelivegamebg from "@/assets/aad/img/home/homeLiveGameBg.png";

import "swiper/css";
import "swiper/css/pagination";
import "swiper/css/scrollbar";
import "swiper/css/effect-fade";

import SwiperJq from "swiper";
import Loading from "vue-loading-overlay";
import PromoRedEnvelopeView from "@/components/aad/PromoRedEnvelopeView.vue";

export default {
  components: {
    Swiper,
    SwiperSlide,
    // Qrcode,
    promoApply,
    Loading,
    PromoRedEnvelopeView,
  },
  setup() {
    const games = useGamesStore();
    const store = useStore();
    const { headerMenu } = storeToRefs(games);
    const { locale } = useI18n();
    const min = 10000;
    const max = 100000;
    const homeBanners = reactive([]);
    const swiperContainerBanners = reactive([]);
    const homeVideo = ref("");

    const { errorHandling, stringToMoney, selectTab } = common();
    const swiperContainerBannersHasShow = ref(false);
    const onlineUser = ref("");
    const isLoading = ref(false);
    const FrontShortcutArray = ref([]);

    const DomainLayoutId = computed(() => store.state.DomainLayoutId);
    const siteSettingsInfo = computed(() => store.state.siteSettingsInfo);
    const isLogin = computed(() => store.state.isLogin);
    const lang = computed(() => store.state.lang);
    const wallets = computed(() => store.state.wallets);

    const createRandom = () => {
      return Math.floor(Math.random() * (max - min + 1) + min);
    };
    const getNumber = () => {
      return createRandom(min, max);
    };

    const { t } = useI18n();
    const router = useRouter();
    const currentUrl = ref("");
    const toPageUrl = (address, par) => {
      currentUrl.value = par;
      router.push({
        name: address,
        query: { info: par },
      });
    };

    const redPacketShow = ref("false");
    const redPacketRightImg = ref('');
    const redPacketLeftImg = ref('');


    //定義promo圖片路徑
    const promoImg = reactive([
      {
        id: 1,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/promoImg/0.8.png',
      },
      {
        id: 2,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/promoImg/15.png',
      },
      {
        id: 3,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/promoImg/88.888K.png',
      },
      {
        id: 4,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/promoImg/100K.png',
      },
      {
        id: 5,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/promoImg/250K.png',
      },
      {
        id: 6,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/promoImg/3888VND.png',
      },
      {
        id: 7,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/promoImg/6000K.png',
      },
      {
        id: 8,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/promoImg/8888K.png',
      },
      {
        id: 9,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/promoImg/9888K.png',
      },
      {
        id: 10,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/promoImg/Super-F.png',
      },
      {
        id: 11,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/promoImg/WC.png',
      },
      {
        id: 12,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/promoImg/Weekly.png',
      },
    ]);

    //定義左邊小圖路徑
    const leftImg = reactive([
      {
        id: 1,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/casino/AG.png',
      },
      {
        id: 2,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/casino/DG.png',
      },
      {
        id: 3,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/casino/SEXY.png',
      },
      {
        id: 4,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/casino/BG_live.png',
      },
      {
        id: 5,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/casino/EBET.png',
      },
      {
        id: 6,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/casino/Macau.png',
      },
      {
        id: 7,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/casino/BBIN.png',
      },
      {
        id: 8,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/casino/EV.png',
      },
      {
        id: 9,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/casino/MG.png',
      },
      {
        id: 10,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/casino/PP.png',
      },
      {
        id: 11,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/casino/PT.png',
      },
      {
        id: 12,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/casino/Venus.png',
      },
    ]);
    //回頁面頂端
    const isAtTop = ref(true);

    const checkScrollPosition = () => {
      isAtTop.value = window.pageYOffset === 0;
    };

    const goTop = () => {
      window.scrollTo({ top: 0, behavior: "smooth" });
    };

    //slot games
    const slotGames = reactive([
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/slot/CQ9.png',
        name: "CQ9",
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/slot/DS.png',
        name: "DS",
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/slot/FC.png',
        name: "FC",
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/slot/AG.png',
        name: "AG",
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/slot/BBIN.png',
        name: "BBIN",
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/slot/FCGaming.png',
        name: "FCGaming",
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/slot/FS.png',
        name: "FS",
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/slot/JDB.png',
        name: "JDB",
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/slot/JILI.png',
        name: "JILI",
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/slot/LGD.png',
        name: "LGD",
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/slot/MG.png',
        name: "MG",
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/slot/PG.png',
        name: "PG",
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/slot/PP.png',
        name: "PP",
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/slot/PT.png',
        name: "PT",
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/slot/RT.png',
        name: "RT",
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/slot/SG.png',
        name: "SG",
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/slot/VA.png',
        name: "VA",
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/slot/YB.png',
        name: "YB",
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/slot/YL.png',
        name: "YL",
      },

    ]);

    const favoriteThirdPartyGames = [
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/favorite/chess/BACCARAT-KINGMAKER.png',
        name: "Chess",
        id: "KMChess",
        thirdPartyGameNo: "Baccarat"
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/favorite/fish/BANCA-FS-FISHING.png',
        name: "Fish",
        id: "FastSpinFH",
        thirdPartyGameNo: "FastSpin-FISH-001"
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/favorite/chess/BAUCUA2---KINGMAKER.png',
        name: "Chess",
        id: "KMChess",
        thirdPartyGameNo: "Viet_Fish_Prawn_Crab"
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/favorite/chess/LIENG-BOLEGAMEING.png',
        name: "Chess",
        id: "BLChess",
        thirdPartyGameNo: "superbaicao"
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/favorite/egame/XENG3D-LGD-GAMING.png',
        name: "Egame",
        id: "LGD",
        thirdPartyGameNo: "casino"
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/favorite/chess/XOCDIA-KINGMAKER.png',
        name: "Chess",
        id: "KMChess",
        thirdPartyGameNo: "Xoc_Dia"
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/favorite/lottery/XOSOMIENBAC-TCGAMING.png',
        name: "Lottery",
        id: "TCG",
        thirdPartyGameNo: "NVNC"
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/favorite/sports/CMD368.png',
        name: "Sports"
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/favorite/egame/VA.png',
        name: "Egame"
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/favorite/egame/LGD.png',
        name: "Egame"
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/favorite/lottery/TCG.png',
        name: "Lottery"
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/favorite/fish/SG.png',
        name: "Fish"
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/favorite/fish/JDB.png',
        name: "Fish"
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/favorite/chess/KM.png',
        name: "Chess"
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aad/img/home/favorite/chess/BL.png',
        name: "Chess"
      },

    ]

    const promotionList = ref("");


    //紀錄左邊小圖路徑給右邊大圖用
    const imgIndexPath = ref("");
    //按下左邊小圖後記錄路徑
    const showRightSide = (index) => {
      imgIndexPath.value = leftImg[index].imgPath;
    };

    const liveOpacity = ref(1);



    function getBillboard() {
      const params = {
        deviceType: 1, // 1=pc
        lang: localStorage.getItem("locale") ?? 'en',
        DomainLayoutId: DomainLayoutId.value
      }

      apiService.post('/Billboard/List', params).then((res) => {
        swiperContainerBanners.splice(0);
        homeBanners.splice(0);
        homeVideo.value = '';
        res.data.datas.forEach(element => {
          /*  15    Logo
              16    彈窗廣告
              17    左邊浮動廣告
              18    右邊浮動廣告
              19    左下角廣告
              20    右下角廣告
              21    首頁輪播(頂部)
              23    首頁影片播放
              */
          if (element.placeId === 16) {
            swiperContainerBanners.push(element);
          }
          if (element.placeId === 21) {
            homeBanners.push(element);
          }
          if (element.placeId === 23 && homeVideo.value === '') {
            homeVideo.value = element
          }

          if (element.placeId === 19) {
            redPacketLeftImg.value = element.imageUrl;
          }

          if (element.placeId === 20) {
            redPacketRightImg.value = element.imageUrl;
          }
        });

      }).catch((err) => {
        console.log(err)
      });
    }

    onUpdated(() => {
      let template = document.querySelector("#my-template");
      if (
        template !== null &&
        swiperContainerBannersHasShow.value === false &&
        swiperContainerBanners.length > 0
      ) {
        swiperContainerBannersHasShow.value = true;
        Swal.fire({
          width: 800,
          padding: 0,
          background: "#000000a8",
          showCancelButton: false,
          showConfirmButton: false,
          showCloseButton: true,
          html: template,
          didRender: () => {
            new SwiperJq(".swiper-container", {
              navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
              },
            });
          },
        });
      }
    });

    function getPromotionList() {
      const params = {
        lang: localStorage.getItem("locale"),
        deviceType: 1, //桌機
        DomainLayoutId: DomainLayoutId.value
      };
      apiService
        .post("/Promotion/List", params)
        .then((res) => {
          promotionList.value = res.data.datas;        
        })
        .catch((err) => {
          errorHandling(err);
        });
    }

    //判斷紅包按鈕要不要顯示
    function getRedPacketInfo() {
      const params = {
        sessionKey: "",
        currencyNo: +localStorage.getItem('currencyNo'),
      };
      apiService
        .post("/Promotion/RedPacket/Info", params)
        .then((res) => {
          redPacketShow.value = res.data.status === 1 ? false : true;
        })
        .catch((err) => {
          errorHandling(err);
        });
    }

    //前台快捷配置
    function getFrontShortcut() {
      const params = {
        lang: localStorage.getItem("locale"),
        DomainLayoutId: DomainLayoutId.value
      };
      apiService
        .post("/SiteSetting/FrontShortcut", params)
        .then((res) => {
          res.data.datas.forEach((item) => {
            FrontShortcutArray.value.push(item);
          });
        })
        .catch((err) => {
          errorHandling(err);
        });
    }

    async function goClassPage(name) {
      let gameClass;
      switch (name) {
        case "Lottery":
          gameClass = 1;
          break;
        case "Casino":
          gameClass = 2;
          break;
        case "Egame":
          gameClass = 3;
          break;
        case "Sports":
          gameClass = 4;
          break;
        case "Chess":
          gameClass = 5;
          break;
        case "Fish":
          gameClass = 6;
          break;
        case "SportEvent":
          gameClass = 7;
          break;
      }
      await games.setGameThirdPartyNo(gameClass, -1, "", 'gameThirdParty');
      router.push({
        name: "aad" + name,
      });
    }
    async function goGame(thirdPartieGame) {
      let gameThirdPartyNo = "";

      const selectedGameThirdParty = headerMenu.value
        .flatMap((item) => item.subMenu || [])
        .find((gameThirdParty) => gameThirdParty.id === thirdPartieGame.id);

      if (selectedGameThirdParty)
        gameThirdPartyNo = selectedGameThirdParty.gameThirdPartyNo;

      //若找不到GameThirdParty 跳轉遊戲大廳
      if (!selectedGameThirdParty) {
        goThirdPartyPage(thirdPartieGame.name);
        return;
      }
      //clickAction 點擊動作(1=進入遊戲列表,2=直接跳轉遊戲商大廳)
      if (selectedGameThirdParty.clickAction === 2) {
        isLoading.value = true;
        try {
          await startGame(locale.value, gameThirdPartyNo, null, null);
        } catch (err) {
          if (err.response == null || err.response.status == null) {
            console.log(err);
            Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
          } else if (err.response.status == 460)
            // 遊戲維護
            Swal.fire("", t("game_maintain"), "warning");
          else errorHandling(err);
        }
        isLoading.value = false;
      } else {
        const findGame = selectedGameThirdParty.games.some(
          (game) => game.thirdPartyGameNo === thirdPartieGame.thirdPartyGameNo
        );
        //若找不到game跳轉遊戲大廳
        if (!findGame) {
          goThirdPartyPage(thirdPartieGame.name);
        } else {
          isLoading.value = true;
          try {
            await startGame(
              locale.value,
              gameThirdPartyNo,
              thirdPartieGame.thirdPartyGameNo,
              null
            );
          } catch (err) {
            if (err.response == null || err.response.status == null) {
              console.log(err);
              Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
            } else if (err.response.status == 460)
              // 遊戲維護
              Swal.fire("", t("game_maintain"), "warning");
            else errorHandling(err);
          }
          isLoading.value = false;
        }
      }
    }
    async function goThirdPartyPage(name) {
      //看起來跟goClassPage一樣，因為這是暫時版本，之後可能會變
      let gameClass;
      switch (name) {
        case "Lottery":
          gameClass = 1;
          break;
        case "Casino":
          gameClass = 2;
          break;
        case "Egame":
          gameClass = 3;
          break;
        case "Sports":
          gameClass = 4;
          break;
        case "Chess":
          gameClass = 5;
          break;
        case "Fish":
          gameClass = 6;
          break;
      }
      await games.setGameThirdPartyNo(gameClass, -1, "", 'gameThirdParty');
      router.push({
        name: name,
      });
    }
    async function goCasinoPage() {
      await games.setGameThirdPartyNo(2, -1, "", 'gameThirdParty');
      router.push({
        name: "aadCasino",
      });
    }
    function updateOnlineCount() {
      onlineUser.value = Math.floor(Math.random() * 20000) + 90000;
    }

    watch(
      () => lang.value,
      () => {
        getPromotionList();
        getBillboard();
      }
    )

    watch(
      () => wallets.value,
      () => {
        getRedPacketInfo();
      }
    )

    onMounted(() => {
      getPromotionList();
      getBillboard();
      updateOnlineCount();
      setInterval(updateOnlineCount, 30000);
      getRedPacketInfo();
      getFrontShortcut();
      window.addEventListener('scroll', checkScrollPosition);
    });

    return {
      getNumber,
      homelivegamebg,
      modules: [Navigation, Pagination, Scrollbar, A11y, EffectFade, Autoplay],
      t,
      toPageUrl,
      currentUrl,
      leftImg,
      imgIndexPath,
      showRightSide,
      liveOpacity,
      homeBanners,
      siteSettingsInfo,
      goTop,
      isAtTop,
      selectTab,
      isLogin,
      goClassPage,
      favoriteThirdPartyGames,
      goCasinoPage,
      promotionList,
      swiperContainerBanners,
      promoApply,
      onlineUser,
      stringToMoney,
      homeVideo,
      goGame,
      isLoading,
      redPacketShow,
      FrontShortcutArray,
      promoImg,
      slotGames,
      redPacketRightImg,
      redPacketLeftImg,
    };
  },
};
</script>

<style lang="scss" scoped>
.swiper-lazy {
  cursor: pointer;
}

.goTop {
  position: fixed;
  bottom: 10px;
  right: 22px;
  opacity: 1;
  z-index: 999;
  background: #ffb219;
  padding: 1rem 1.1rem;
  color: #fff;
  border-radius: 50%;
  font-weight: 900;
}

.fade {
  transition: opacity 0.5s;
}

.scrollbar {
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 0;
  min-width: 1000px;
}

.img-block {
  //max-width: 1920px;
  margin: auto;
  background: #004d3d;
}

.home-banner {
  padding-top: 1.5rem;
  background: #fff;
  border-radius: 0;

  .swiper-horizontal {
    border-radius: 0;

    .home-banner__link {

      /* padding-top: 33%; */
      img {
        height: 100%;
        /* height: 23.6538rem; */
      }
    }
  }
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 55px;
}

.swiper-slide.matches__item {
  opacity: 0 !important;
}

.swiper-slide-active.matches__item {
  opacity: 1 !important;
}

.section-bg {
  background-size: cover !important;
  //background-attachment: fixed;
  background-position: bottom !important;
  background-repeat: no-repeat !important;
  display: block;
  position: relative;
  z-index: 9;
  background: url('@/assets/aad/img/home/bg.png') #1b2026;

  .appdown {
    position: relative;
    width: 45%;

    .onLineUser {
      position: absolute;
      top: 9%;
      right: 7%;
      font-size: 1.2rem;
    }

    .appDownLoad-text {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.5rem;
    }

    .promo-slider {
      position: absolute;
      right: 5px;
      bottom: 53px;
      max-width: 57.5%;
    }
  }
}

.section--home--live {
  .home--live {
    margin: auto;
    //max-width: 1080px;
    min-width: 800px;

    &.type02 {
      //background-color: #069f7d;
      max-width: 1430px;
    }

    &.promoMsg {
      position: relative;

      .promoMsg__prev {
        font-size: 4rem;
        width: 25px;
        position: absolute;
        bottom: 45px;
        left: -70px;
        z-index: 99;
        color: #069f7d;
        font-weight: bolder;
      }

      .promoMsg__next {
        font-size: 4rem;
        width: 25px;
        position: absolute;
        bottom: 45px;
        right: -40px;
        z-index: 99;
        color: #fff;
        color: #069f7d;
        font-weight: bolder;
      }
    }

    a {
      cursor: initial;
    }
  }

  &.declare {
    .home--live {
      display: flex;
      max-width: 100%;
      min-width: 100%;
      justify-content: center;
    }
  }
}

section.top-game-section {
  max-width: 1920px;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  position: relative;

  //background-color: #1c59a8;

  //max-width: 1920px;
  //margin: auto;
  //height: 30050%;

  .top-game {
    //width: 70%;
    max-width: 1920px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: 100%, auto, contain;
    background-size: auto cover !important;
    background-position: center !important;
    padding: 1rem 2rem 2rem 2rem;
    width: 100%;
    border-radius: 50px;
    transition: 0.2s;

    .top-game-title {
      margin: 1rem auto 1.5rem auto;
      width: calc(100% - 8.3076rem);
      max-width: 1630px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        font-size: 1.2rem;
        text-transform: none;
        color: #f1ac33;
      }

      span.title {
        position: relative;
        display: inline-block;
        padding: 0.5rem;
        font-size: 2.4rem;
        color: #fff;
        margin-left: 4rem;
        /* &::after {
          content: "";
          position: absolute;
          top: -1.8rem;
          left: -9rem;
          background: url("@/assets/img/home/top-game-title-bg.png");
          height: 100px;
          width: 169px;
        } */

        &::before {
          content: '';
          position: absolute;
          top: -1.9rem;
          right: -12rem;
          background: url('@/assets/aad/img/home/line-title.png') no-repeat center left;
          height: 100px;
          width: 169px;
        }
      }
    }

    .slider {
      width: calc(100% - 14.3076rem);
      max-width: 1630px;
      margin: auto;
      //background-color: #069f7d;

      .top-game1-slider {
        width: 45%;
        width: calc(45% - 20px);
        //margin-right: 50px;

        img {
          width: 100%;
          //margin-right: 50px;
        }
      }

      .top-game2-slider {
        width: 100%;
        margin-left: 20px;

        :deep(.swiper-slide) {
          position: relative;

          div:hover {
            &::before {
              position: absolute;
              content: '';
              background: #00000062 url(@/assets/aad/img/home/img-blur.png);
              background-repeat: no-repeat;
              background-size: 100% 100%;
              background-position: center;
              width: 97%;
              height: 98%;
              cursor: pointer;
              border-radius: 13%;
              top: 2px;
              left: 2px;
            }
          }
        }

        img {
          border-radius: 10px;
        }
      }
    }
  }

  .btnPrev {
    position: absolute;
    left: 6.35rem;
    top: 50%;

    img {
      width: 80%;
    }
  }

  .btnNext {
    position: absolute;
    right: 5.3rem;
    top: 50%;

    img {
      width: 80%;
    }
  }

  @media (max-width: 1400px) {
    .top-game {
      padding: 0rem 2rem 2rem 2rem;
      border-radius: 30px;
    }
  }
}

.hot-live-game-section {
  width: calc(100% - 8.3076rem);
  max-width: 1630px;
  margin: 0 auto;
  margin-top: -4rem;

  .hot-live-game {
    max-height: 450px;
  }

  .hot-live-game-title {
    margin: 1rem auto 1.5rem auto;
    width: calc(100% - 8.3076rem);
    max-width: 1630px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5rem;

    span {
      font-size: 1.4423rem;
      text-transform: none;
      color: #f1ac33;
    }

    span.titleBox {
      position: relative;
      display: inline-block;
      padding: 0.5rem;
      font-size: 2.4rem;
      color: #fff;
      /* &::after {
          content: "";
          position: absolute;
          top: -1.8rem;
          left: -9rem;
          background: url("@/assets/img/home/top-game-title-bg.png");
          height: 100px;
          width: 169px;
        } */

      &::before {
        content: '';
        position: absolute;
        top: -1.9rem;
        right: -12rem;
        background: url('@/assets/aad/img/home/line-title.png') no-repeat center left;
        height: 100px;
        width: 169px;
      }
    }
  }

  .slider {
    position: relative;
    display: flex;
    //justify-content: center;
    align-items: center;
    justify-content: center;

    &.type02 {
      margin-top: -4.4853rem;
      z-index: 9;

      //background: #069f7d;
      .swiper-wrapper {
        .swiper-slide {
          width: 20%;

          /* transform: scale(0.9); */
          /* &:hover {
            transform: scale(1.1);
            transition: all 0.5s ease;
          } */
          .game-box {
            border: 1px solid transparent;
            border-radius: 15px;
            background: #2b2827;

            .game-info {
              .game-name {
                font-size: 1.1538rem;
                color: #f1ac33;
                text-align: center;
              }

              .game-type {
                font-size: 0.8076rem;
                color: #fff;
                text-align: center;
              }
            }
          }
        }

        .swiper-slide-active {
          transform: scale(1.2);
          transition: all 0.5s ease;
          border-radius: 10px;
          border: 1.2px solid;
          border-image: linear-gradient(to top, #f4780b, #fff) 0.5;
          mask-image: url('@/assets/aad/img/home/slotexample.png');

          .game-box {
            border-radius: 10px;
            background: #000;

            .game-img {
              width: 100%;
              position: relative;

              &::before {
                position: absolute;
                content: '';
                background-image: url(@/assets/aad/img/home/img-blur2.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-position: center;
                width: 100%;
                height: 100%;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .hot-live-game1-slider {
      width: 40%;
    }

    .hot-live-game2-slider {
      padding: 2rem;
      width: 60%;
      width: 57.6923rem;
      margin-left: 1.5rem;
      margin-bottom: 6.5rem;
    }

    .view-all-live-game {
      position: absolute;
      display: flex;
      justify-content: center;
      left: 42.5192rem;
      bottom: 2.5rem;
      background-color: #004d3d;
      border-radius: 15px;
      border: 2px solid #ecd0a0;
      padding: 15px 1.5rem 15px 1.5rem;
      color: #ecd0a0 !important;
      max-width: 283px;
      max-height: 77px;
      text-align: center;
      cursor: pointer;
      background: url(@/assets/aad/img/home/basebtn.png) no-repeat;
      background-size: 100% 100%;
      border: 0;
      color: #fff !important;

      & a {
        position: relative;
        color: #ecd0a0 !important;
        color: #fff !important;
        //font-size: 1.5rem;
        //font-size: 14px; /* for IE */
        //font-size: min(max(1.5vw, 12px), 22px);
        font-size: clamp(15px, 1.1vw, 24px);
        white-space: nowrap;
        //background-color: #069f7d;
        //height: 50px;
        //width: 100%;
      }
    }

    .movieBlock {
      display: flex;
      justify-content: center;
      align-content: center;
      height: auto;
      width: 43%;
      margin-bottom: 1.5rem;

      //background-color: #069f7d;
      //border: 10px solid #fff;
      //border-image: linear-gradient(to right, #eabe55, #ddae44, #fcf2b5, #b79349, #fdd05d, #e0b145, #e7c062, #eabe55,#fef5ba,#b79349,#fed15e,#f2c253, #deaf43) 1;
      //border-image-slice: 1;
      //overflow: hidden;
      padding: 7px;
      border-radius: 15px;
      background: linear-gradient(to right,
          #eabe55,
          #ddae44,
          #fcf2b5,
          #b79349,
          #fdd05d,
          #e0b145,
          #e7c062,
          #eabe55,
          #fef5ba,
          #b79349,
          #fed15e,
          #f2c253,
          #deaf43);

      .movieItemiframeBg {
        position: relative;
        width: 100%;
        height: auto;
        z-index: 1;
        border-radius: 8px;

        & img {
          width: 100%;
          height: auto;
          max-height: 360px;
          border-radius: 8px;
        }
      }

      .movieItemiframe {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
        border-radius: 8px;
      }

      img {
        border-radius: 8px;
      }
    }
  }
}

.hot-slot-game-section {
  width: calc(100% - 8.3076rem);
  max-width: 1630px;
  margin: 0 auto;
  margin-top: 0rem;
  background: url(@/assets/aad/img/home/homeSlotGameBg.png) no-repeat;
  background-size: 100% 100%;

  .hot-slot-game-title {
    margin: 1rem auto 1.5rem auto;
    width: calc(100% - 8.3076rem);
    max-width: 1630px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5rem;

    span {
      font-size: 1.4423rem;
      text-transform: none;
      color: #f1ac33;
    }

    span.titleBox {
      position: relative;
      display: inline-block;
      padding: 0.5rem;
      font-size: 2.4rem;
      color: #fff;
      /* &::after {
          content: "";
          position: absolute;
          top: -1.8rem;
          left: -9rem;
          background: url("@/assets/img/home/top-game-title-bg.png");
          height: 100px;
          width: 169px;
        } */

      &::before {
        content: '';
        position: absolute;
        top: -1.9rem;
        right: -12rem;
        background: url('@/assets/aad/img/home/line-title.png') no-repeat center left;
        height: 100px;
        width: 169px;
      }
    }
  }

  .slider {
    position: relative;
    display: flex;
    //justify-content: center;
    align-items: center;
    // width: calc(100% - 40px);
    max-width: 1630px;
    margin: auto;
    margin: 8rem 0 5rem 0;
    margin: auto;

    &.type02 {
      /* margin-top: -4.4853rem; */
      z-index: 9;

      //background: #069f7d;
      .swiper-wrapper {
        .swiper-slide {
          width: 20%;

          /* transform: scale(0.9); */
          /* &:hover {
            transform: scale(1.1);
            transition: all 0.5s ease;
          } */
          .game-box {
            border: 1px solid transparent;
            border-radius: 15px;
            background: #2b2827;

            .game-img {
              width: 100%;
              position: relative;

              &::before {
                position: absolute;
                content: '';
                top: 1px;
                left: 1px;
                background-image: url(@/assets/aad/img/home/img-blur2.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-position: center;
                width: 100%;
                height: 100%;
                cursor: pointer;
                transition: transform 0.3s, opacity 0.3s;
                transform-origin: center bottom;
                transform: translateY(100%);
                opacity: 0;
                border-radius: 10%;
              }

              &:hover {
                &::before {
                  transform: translateY(0);
                  opacity: 1;
                }
              }
            }

            .game-info {
              .game-name {
                font-size: 1.1538rem;
                color: #f1ac33;
                text-align: center;
              }

              .game-type {
                font-size: 0.8076rem;
                color: #fff;
                text-align: center;
              }
            }
          }
        }

        .swiper-slide-active {
          // transform: scale(1.2);
          // transition: all 0.5s ease;
          border-radius: 10px;

          // border: 1.2px solid;
          // border-image: linear-gradient(to top, #f4780b, #fff) 0.5;
          // mask-image: url("@/assets/aad/img/home/slotexample.png");
          .game-box {
            border-radius: 10px;
            // background: #000;

            // .game-img {
            //   width: 100%;
            //   position: relative;
            //   &::before {
            //     position: absolute;
            //     content: "";
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     background-image: url(@/assets/aad/img/home/img-blur2.png);
            //     background-repeat: no-repeat;
            //     background-size: 100% 100%;
            //     background-position: center;
            //     width: 100%;
            //     height: 100%;
            //     cursor: pointer;
            //     transition: transform 0.3s, opacity 0.3s;
            //     transform-origin: center bottom;
            //     transform: translateY(100%);
            //     opacity: 0;
            //   }
            //   &:hover {
            //     &::before {
            //       transform: translateY(0);
            //       opacity: 1;
            //     }
            //   }
            // }
          }
        }
      }
    }

    .hot-live-game1-slider {
      width: 40%;
    }

    .hot-slot-game2-slider {
      padding: 2rem 0.9rem 2rem 2.95rem;
      width: 60%;
      width: 57.6923rem;
      margin-left: 1.5rem;
      margin-bottom: 6.5rem;

      .swiper-slide {
        &.swiper-slide-active {
          transform: scale(1.3);
          transition: all 0.5s ease;
          margin: 0 0rem 0 -1.05rem !important;
          z-index: 10;
        }

        .game-box {
          background: none !important;
        }
      }
    }

    .view-all-live-game {
      position: absolute;
      left: 42.5192rem;
      bottom: 2.5rem;
      max-height: 72.5px;
      cursor: pointer;
      background: url(@/assets/aad/img/home/basebtn.png) no-repeat;
      background-size: 100% 100%;
      color: #fff !important;
      padding: 1.3rem 4rem;

      & a {
        position: relative;
        color: #ecd0a0 !important;
        color: #fff !important;
        //font-size: 1.5rem;
        //font-size: 14px; /* for IE */
        //font-size: min(max(1.5vw, 12px), 22px);
        font-size: clamp(15px, 1.1vw, 24px);
        white-space: nowrap;
        //background-color: #069f7d;
        //height: 50px;
        //width: 100%;
      }
    }

    .movieBlock {
      display: flex;
      justify-content: center;
      align-content: center;
      width: 40%;
      height: auto;
      width: 50%;
      height: 27.8076rem;
      //background-color: #069f7d;
      //border: 10px solid #fff;
      //border-image: linear-gradient(to right, #eabe55, #ddae44, #fcf2b5, #b79349, #fdd05d, #e0b145, #e7c062, #eabe55,#fef5ba,#b79349,#fed15e,#f2c253, #deaf43) 1;
      //border-image-slice: 1;
      //overflow: hidden;
      padding: 10px;
      border-radius: 15px;
      background: linear-gradient(to right,
          #eabe55,
          #ddae44,
          #fcf2b5,
          #b79349,
          #fdd05d,
          #e0b145,
          #e7c062,
          #eabe55,
          #fef5ba,
          #b79349,
          #fed15e,
          #f2c253,
          #deaf43);

      .movieItemiframeBg {
        position: relative;
        width: 100%;
        height: auto;
        z-index: 1;

        & img {
          width: 100%;
          height: auto;
          max-height: 360px;
        }
      }

      .movieItemiframe {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
      }
    }
  }
}

.hot-game-live-section {
  max-width: 1400px;
  height: 48.0769rem;
  margin: 0 auto;
  margin-top: 0rem;
  overflow: hidden;

  .top-game-title {
    font-size: 3rem;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }

  .hot-game-live-title {
    margin: 1rem auto 1.5rem auto;
    width: calc(100% - 8.3076rem);
    max-width: 1630px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5rem;

    span {
      font-size: 1.4423rem;
      text-transform: none;
      color: #f1ac33;
    }

    span.titleBox {
      position: relative;
      display: inline-block;
      padding: 0.5rem;
      font-size: 2.4rem;
      color: #fff;
      /* &::after {
          content: "";
          position: absolute;
          top: -1.8rem;
          left: -9rem;
          background: url("@/assets/img/home/top-game-title-bg.png");
          height: 100px;
          width: 169px;
        } */

      &::before {
        content: '';
        position: absolute;
        top: -1.9rem;
        right: -12rem;
        background: url('@/assets/aad/img/home/line-title.png') no-repeat center left;
        height: 100px;
        width: 169px;
      }
    }
  }

  .slider {
    position: relative;
    display: flex;
    //justify-content: center;
    align-items: center;
    width: calc(106% - 40px);
    max-width: 1630px;
    margin: auto;
    margin: 8rem 0 5rem 0;
    overflow-x: hidden;

    &.type02 {
      margin-top: -7rem;
      z-index: 9;

      //background: #069f7d;
      .swiper-wrapper {
        .swiper-slide {

          /* transform: scale(0.9); */
          /* &:hover {
            transform: scale(1.1);
            transition: all 0.5s ease;
          } */
          margin-top: -5rem;

          .game-box {
            text-align: center;

            .game-img {
              width: 100%;
              position: relative;
              opacity: 0.6;
            }

            .game-info {
              text-align: center;

              .game-btn {
                max-width: 192px;
                cursor: pointer;
                background: url(@/assets/aad/img/home/basebtn.png) no-repeat;
                background-size: 100% 100%;
                color: #fff !important;
                margin: auto;
                opacity: 0;
                padding: 1.1rem 0 1.5rem 0;
              }
            }
          }
        }

        .swiper-slide-active {
          transform: scale(1.2);
          transition: all 0.5s ease;
          margin: 2.5rem -1.5rem;
          z-index: 9;

          .game-box {
            .game-img {
              width: 100%;
              position: relative;
              opacity: 1;
            }

            .game-info {
              .game-btn {
                opacity: 1;
              }
            }
          }
        }

        .swiper-slide-prev,
        .swiper-slide-next {
          margin-top: -2.5rem;
        }
      }
    }

    .hot-game-live2-slider {
      padding: 10.5rem 0 0 0;
      width: 100%;
      // width: 82.1538rem;
      margin: 2.5rem 0rem 2.5rem 0rem;
      overflow: hidden;
    }
  }
}

.section--home--live.declare {
  a {
    margin: 1.5rem 1.5rem 0 1.5rem;
  }
}

.most-section {
  max-width: 1430px;
  margin: auto;
  padding-bottom: 280px;
  background: rgba(0, 77, 61, 0.68);
  border-radius: 20px 20px 0 0;

  .favorite {
    position: relative;

    .favorite-title {
      background-repeat: no-repeat;
      height: 60px;
      background-position-y: -20px;
    }

    .online-peple {
      display: flex;
      width: 20%;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      right: 0;
      top: 0;
      height: 60px;
      padding: 0.5rem 1rem 0.5rem 1rem;
      border-radius: 10px 10px 0 0;
      background: #26a699;

      .online-pic {
        //position: absolute;
        //top: -20px;
        width: 35%;
        position: relative;
        //background-color: #1c59a8;
        height: 100%;

        img {
          position: absolute;
          width: 50%;
          border-radius: 50%;
          border: 2px solid #000;
        }

        .img-1 {
          left: 0px;
          z-index: 1;
        }

        .img-2 {
          left: 10px;
          z-index: 2;
        }

        .img-3 {
          left: 15px;
          z-index: 3;
        }

        .img-4 {
          left: 20px;
          z-index: 4;
        }

        .img-5 {
          left: 25px;
          z-index: 5;
        }
      }

      .online-peple-count {
        width: 65%;
        font-size: 16px;
        text-align: right;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .swiper-backface-hidden .swiper-slide {
      padding: 0 0.5rem;
    }

    .favoriteSlider {
      position: relative;
      background: #ffffff71;

      .favorite-game-slider {
        padding: 2.45rem 1rem;
        //background-color: #069f7d;

        .swiper-slide {
          padding: 0;
          margin-left: 0px;
          border: 5px solid rgba(251, 239, 149, 0);

          a {
            position: relative;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .iconPlayArrow {
            display: none;
            position: absolute;
            background-repeat: no-repeat;
            background-size: 50%;
            background-position: center;
            width: 100%;
            height: 100%;
            z-index: 200;
          }

          &:hover {
            border: 5px solid #fbef95;
            border-radius: 25px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.65);

            .iconPlayArrow {
              display: block;
              pointer-events: none;
            }
          }
        }
      }

      .link-all {
        position: absolute;
        bottom: 5px;
        right: 20px;
        z-index: 1;
        cursor: pointer;
        color: #ecd0a0;
        border-bottom: 1px solid transparent;

        &:hover {
          border-bottom: 1px solid #ecd0a0;
        }
      }
    }
  }

  .popular {
    .popular-title {
      background-repeat: no-repeat;
      height: 60px;
      background-position-y: -20px;
    }

    .popular-left {
      width: 70%;

      .PopularLeftBlock {
        display: flex;
        justify-content: left;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        //background-color: #069f7d;
        padding: 2px !important;
      }

      .col {
        position: relative;
        //padding: .3rem 0rem 10px 0;
        //background-color: #069f7d;
        padding: 0;
        background-color: #1c59a8;
        width: calc(25% - 4px) !important;
        margin: 2px;
        flex-basis: auto;
        flex-grow: inherit;

        a {
          cursor: default;
          cursor: pointer;

          &:hover {
            &::before {
              position: absolute;
              content: '';
              background-image: url('@/assets/aad/img/home/swiper-slide-hover.png');
              background-repeat: no-repeat;
              background-size: 50%;
              background-position: center;
              background-color: #ffffff6b;
              width: 100%;
              height: 100%;
            }
          }

          img {
            width: 100%;
            height: 100%;
            //max-width: 233px;
          }
        }

        span.live {
          position: absolute;
          top: 8px;
          left: 5px;
          z-index: 999;
          background: #000000b7;
          padding: 0.2rem 0.5rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          white-space: nowrap;

          .lightEffect {
            width: 14px;
            height: 14px;
            border-radius: 50px;
            color: #00ff65;
            background-color: #00ff65;
            margin-right: 5px;

            &.effect-0 {
              color: #00ff65 !important;
              animation-name: L01;
              animation-duration: 1s;
              animation-delay: 0;
              animation-iteration-count: infinite;
              scale: 1;
              animation-timing-function: ease-in-out;
              animation-fill-mode: inherit;
              opacity: 1;

              @keyframes L01 {
                0% {
                  box-shadow: 0px 0px 0px 0px #00ff65;
                }

                50% {
                  box-shadow: 0px 0px 10px 5px #00ff65;
                }

                100% {
                  box-shadow: 0px 0px 0px 0px #00ff65;
                }
              }
            }

            &.effect-1 {
              color: #00ff65 !important;
              animation-name: L02;
              animation-duration: 1s;
              animation-delay: 10s;
              animation-iteration-count: 600;
              scale: 1;
              animation-timing-function: ease-in-out;
              animation-fill-mode: inherit;
              opacity: 1;

              @keyframes L02 {
                0% {
                  box-shadow: 0px 0px 0px 0px #00ff65;
                }

                50% {
                  box-shadow: 0px 0px 10px 5px #00ff65;
                }

                100% {
                  box-shadow: 0px 0px 0px 0px #00ff65;
                }
              }
            }

            &.effect-2 {
              color: #00ff65 !important;
              animation-name: L03;
              animation-duration: 1s;
              animation-delay: 0s;
              animation-iteration-count: 99;
              scale: 1;
              animation-timing-function: ease-in-out;
              animation-fill-mode: inherit;
              opacity: 1;

              @keyframes L03 {
                0% {
                  box-shadow: 0px 0px 0px 0px #00ff65;
                }

                50% {
                  box-shadow: 0px 0px 10px 5px #00ff65;
                }

                100% {
                  box-shadow: 0px 0px 0px 0px #00ff65;
                }
              }
            }

            &.effect-3 {
              color: #00ff65 !important;
              animation-name: L04;
              animation-duration: 1s;
              animation-delay: 300s;
              animation-iteration-count: 600;
              scale: 1;
              animation-timing-function: ease-in-out;
              animation-fill-mode: inherit;
              opacity: 1;

              @keyframes L04 {
                0% {
                  box-shadow: 0px 0px 0px 0px #00ff65;
                }

                50% {
                  box-shadow: 0px 0px 10px 5px #00ff65;
                }

                100% {
                  box-shadow: 0px 0px 0px 0px #00ff65;
                }
              }
            }
          }
        }

        .live {
          position: absolute;
          top: 8px;
          left: 5px;
          z-index: 999;
          background: #000000b7;
          padding: 0.2rem 0.5rem;
          white-space: nowrap;
        }
      }
    }

    .popular-right {
      position: relative;
      width: 36.5%;

      .popular-rightBg {
        background-position: center;
        background-size: 100% 100%;
        padding: 0px;
        box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.65);
        border-radius: 8px;
        overflow: hidden;
        border: 5px solid #fbef95;
      }

      a {
        cursor: default;

        img {
          width: -webkit-fill-available;
          //border: 2px solid #8f7a46;
          border-radius: 5px;
          max-height: 328px;
        }
      }

      .popular-moreLink {
        position: absolute;
        bottom: -2rem;
        right: 10px;
        color: #ecd0a0;
        border-bottom: 1px solid #ecd0a000;
        cursor: pointer;

        &:hover {
          border-bottom: 1px solid #ecd0a0;
        }
      }
    }
  }
}

/*----------應該在home首頁段落↓↓↓↓↓↓↓↓-------*/

.contanctBox {
  position: relative;
  width: 100%;
  display: block;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: linear-gradient(to top, #112a24, #004d3d);
  height: 450px;

  .contanctBox02 {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15rem;
    background-image: linear-gradient(to top, #171c1c, #004d3d);
  }

  .contanctBox03 {
    position: relative;
    top: -280px;
    margin: auto;
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15rem;
  }
}

.contanctBoxL {
  width: 64%;
}

.footer-GetAppText01 {
  position: relative;
  width: 100%;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;

  .textBox01 {
    width: 100%;
    color: #ff4e00;
    font-size: 26px;
    line-height: 36px;
  }

  .textBox02 {
    width: 100%;
    color: #ecd0a0;
    font-size: 26px;
    line-height: 36px;
  }
}

.footer-GetAppText02 {
  position: relative;
  width: 100%;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;

  .textBox01 {
    width: 100%;
    color: #ecd0a0;
    font-size: 14px;
    line-height: 36px;
  }

  .textBox02 {
    width: 100%;
    display: flex;
    justify-content: left;
    margin-top: 20px;

    .qrCodeBox {
      width: 162px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-right: 80px;
      min-width: 120px;

      .qrPic {
        width: 100%;
        padding: 20px;

        & img {
          width: 100%;
          height: auto;
        }

        &.type02 {
          width: 100%;
          padding: 0;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

.footer-pic01 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    width: calc(100% - 80px);
    max-width: 1100px;
    height: auto;
    padding: 1rem;
  }
}

.footer-pic03 {
  display: block;
  width: 36%;
  padding-right: 50px;
  padding-left: 16px;
  margin-top: 60px;

  >div {
    &:nth-child(2) {
      margin-top: 100px;
      margin-left: 7px;
    }

    .link {
      display: block;

      &:nth-child(1) {
        margin-bottom: 5px;
      }
    }

    button {
      background: none;
      padding: 0;
    }
  }
}

.promoText {
  width: 70%;
  margin: auto;
  justify-content: center;
  //background-color: #26a699;
  transition: 0.2s;
  max-width: 1920px;

  .promoText-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    //max-width: 60px;
    width: 5%;
    min-width: 60px;
    margin: 0 10px 0 0 !important;
    background-color: #1c59a8;
    color: #fff;
    max-height: 20px;
    font-size: 12px;
    padding: 2px 10px 2px 10px;
    border-radius: 3px;
    transform: scale(0.75);
    white-space: nowrap;
  }

  .promoText-content {
    width: calc(100% - 60px);
    color: #fff;
    //background-color: #004d3d;
  }
}

@media (max-width: 1400px) {
  .promoText {
    width: 90%;
  }
}

.indexHomeMainContentBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;

  //min-width: 960px;
  .indexHomeMainContentBannerBlockFlex {
    display: flex;
    justify-content: center;
    //max-width: 1920px;
    width: 100%;
    background-color: #004d3d;
    background-image: linear-gradient(to top, #112a24, #004d3d, #004d3d);
  }

  .indexHomeMainContentBannerBlock {
    margin: 0 !important;
    margin: none !important;
    //max-width: 1920px;
    //display: flex;
    //justify-content: center;
    width: 100%;

    //display: flex;
    //justify-content: center;
  }
}

/*右側社群選單*/
.aside-block {
  position: fixed;
  z-index: 10;
  right: -12px;
  top: 35%;
  transform: translateY(-50%);

  &:hover {
    .service-block {
      transform: translateX(-40px);
    }

    .society-block {
      transform: none;
    }
  }

  .service-block {
    display: block;
    position: relative;
    z-index: 1;
    width: 85px;
    right: 0px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1), translateX(-40px);

      &+.society-block {
        transform: none;
      }
    }
  }

  .society-block {
    margin-top: -67px;
    /* padding-top: 67px; */
    // transform: translateX(230px);
    // transition: transform 0.3s;
    position: absolute;
    // right: -85px;
    right: 20px;
    width: 80px;
    text-align: center;
    transition: width 0.5s ease;

    .society-box {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 0px;
      width: 100%;
      background: rgb(49, 49, 49);
      background: linear-gradient(180deg,
          rgba(49, 49, 49, 1) 0%,
          rgba(41, 41, 41, 1) 100%);
      border-top: 1px solid #4b4b4b;
      white-space: nowrap;
      overflow-x: hidden;

      &:not(:last-child) {
        border-bottom: 1px solid #000000;
      }

      &:first-child {
        border-top: none;
        border-bottom: 1px solid #000000;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      &:last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      &:hover {
        background: #242424;
      }

      a {
        position: relative;
        width: 100%;
        padding-left: 17px;

        &:hover {
          color: #f1ad34;

          .img {
            img {
              &.none {
                opacity: 0;
              }

              &.hover {
                opacity: 1;
              }
            }
          }
        }

        .img {
          max-width: 48px;
          flex: 0 0 auto;
          margin-right: 20px;

          img {
            transition: opacity 0.3s;

            &.none {
              opacity: 0.85;
            }

            &.hover {
              position: absolute;
              top: 0;
              left: 0;
              opacity: 0;
            }
          }
        }
      }
    }

    &:hover {
      width: 300px;
    }
  }
}

.homePromo-img {
  position: fixed;
  right: 22px;
  top: 20%;
  z-index: 10;
  cursor: pointer;

  .homePromo-btn {
    position: relative;

    img {
      width: 55px;
    }

    span {
      position: absolute;
      z-index: 20;
      right: 9px;
      top: 23px;
      font-size: 0.85rem;
    }
  }
}

.homePromo-redEnvelope {
  position: fixed;
  right: 5px;
  bottom: 70px;
  z-index: 10;
  cursor: pointer;

  .homePromo-btn {
    position: relative;

    img {
      width: 100px;
    }

    span {
      position: absolute;
      z-index: 20;
      right: 9px;
      top: 23px;
      font-size: 0.85rem;
    }
  }
}

.homePromo-redEnvelope-left {
  position: fixed;
  left: 8px;
  bottom: 70px;
  z-index: 10;
  cursor: pointer;

  .homePromo-btn {
    position: relative;

    img {
      width: 100px;
    }

    span {
      position: absolute;
      z-index: 20;
      right: 9px;
      top: 23px;
      font-size: 0.85rem;
    }
  }
}

#swiper-container {

  .swiper-button-next,
  .swiper-button-prev {
    color: white;
  }
}

.logo {
  max-width: 200px;
  margin: auto;
  margin-bottom: 2rem;
}

select,
input {
  display: block;
  width: 100%;
  margin: auto;
  background: transparent;
  color: #fff;
  padding: 1rem;
  border-radius: 5px;
  border-color: #72807c;

  option {
    background-color: #000;
  }

  &::placeholder {
    color: #fff;
  }
}

input {
  padding: 1.5rem;

  &:focus {
    background-color: transparent;
    color: #fff;
  }
}
</style>
<style lang="scss">
.swal2-popup {
  .swal2-close {
    margin-right: -0.5rem;

    &:focus {
      box-shadow: none;
    }
  }
}
</style>
