<template>
  <main class="main-content">
    <section class="section section--egame">
      <div class="sport">
        <div class="container">
          <game-hall />
        </div>
      </div>
    </section>
  </main>
</template>
<script setup>
import GameHall from "@/components/aad/GameHallView.vue";
</script>

<style lang="scss" scoped>
.section--egame .sport {
  background: url(@/assets/aad/img/gameHall/game_hall_sportEvent.jpg) no-repeat top;
  -ms-background-size: cover;
  background-size: cover;
  height: auto;
}
</style>
