<template>
  <div id="changWithdrawPw" class="modal collapse fade" tabindex="-1" ref="myModal">
    <div class="modal-dialog p-3">
      <!-- 如果已經設定密碼 -->
      <div class="modal-content" v-if="user.hasTransactionPassword">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><font-awesome-icon icon="fa-solid fa-xmark" /></button>
        </div>
        <div class="modal-body d-block p-3 text-center">
          {{$t("need_to_contact_customer_service_to_set_transfer_password")}}

        </div>
        <div class="modal-footer justify-content-center">
          <a :href="siteSettingsInfo.customerServiceUrl" target="_blank" class="btn btn-primary">{{$t("contactCustomerService")}}</a>
        </div>
      </div>
      <!-- 如果未設定密碼 -->
      <div class="modal-content" v-else>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ $t("change_password") }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><font-awesome-icon icon="fa-solid fa-xmark" /></button>
        </div>
        <div class="modal-body d-block p-3">
          <form>
            <div class="input-group mb-4">
              <input type="password" class="form-control" v-model="userPassword.newPassword" maxlength="4" :placeholder="$t('pls_enter_password')" autocomplete="off">
              <div class="errMsg" v-if="userPassword.newPasswordError" style="color: red">{{userPassword.newPasswordError}}</div>
            </div>
            <div class="input-group mb-4 mt-1">
              <input type="password" class="form-control" v-model="userPassword.confirmPassword" maxlength="4" v-on:keyup.enter="updateUserPassword()" :placeholder="$t('pls_enter_password_again')" autocomplete="off">
              <div class="errMsg" v-if="userPassword.confirmPasswordError" style="color: red">{{userPassword.confirmPasswordError}}</div>
            </div>
          </form>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-primary" @click="updateUserPassword">{{ $t("submit_application") }}</button>
        </div>
      </div>
    </div>
  </div>
  <loading-overlay :active="isLoading" :can-cancel="false" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff">
  </loading-overlay>
</template>

<script>
export class UserPassword {
  newPassword = '';
  confirmPassword = '';
  newPasswordError = '';
  confirmPasswordError = '';
}
</script>
<script setup>
import { ref, reactive, onMounted, computed } from 'vue';
import apiService from '@/api/apiService';
import { useStore } from "vuex"
import LoadingOverlay from 'vue-loading-overlay';
import { useI18n } from "vue-i18n";
import Swal from "sweetalert2";
import common from "@/utils/common";

const { t } = useI18n();
const store = useStore();
const isLoading = ref(false);
let userPassword = reactive(new UserPassword());
const { getUserInfo, errorHandling, userLogout } = common();

const user = computed(() => store.state.user);
const siteSettingsInfo = computed(() => store.state.siteSettingsInfo);

// 變更密碼
function updateUserPassword() {
  let hasError = false;
  userPassword.newPasswordError = '';
  userPassword.confirmPasswordError = '';

  // 驗證密碼
  let regex = /^[0-9]{4}/;
  if (!regex.test(userPassword.newPassword)) {
    userPassword.newPasswordError = t('length_needs_4_digits');
    hasError = true;
  }

  if (userPassword.confirmPassword != userPassword.newPassword) {
    userPassword.confirmPasswordError = t('confirm_password_different');
    hasError = true;
  }

  if (hasError) return;

  isLoading.value = true;
  apiService.put('/User/TransactionPassword', {
    sessionKey: localStorage.getItem("sessionKey"),
    password: userPassword.newPassword,
    checkPassword: userPassword.confirmPassword,
  }).then((res) => {
    Swal.fire("", t("success"), "success");
    Object.assign(userPassword, new UserPassword());
    getUserInfo();
  }).catch((err) => {
    if (err.response == null || err.response.status == null) {
      console.log(err);
      Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
    } else {
      switch (err.response.status) {
        case 452:
          Swal.fire("", t("password_unchangeable"), "error");
          break;
        case 453:
          Swal.fire("", t("confirm_password_different"), "error");
          break;
        default:
          errorHandling(err);
          break;
      }
    }
  }).finally(() => {
    isLoading.value = false;
  });
}


onMounted(() => {
  if (!localStorage.getItem("sessionKey")) { userLogout(); return; }
});

</script>

<style lang="scss" scoped>
.modal-content {
  background: #fff;
  .modal-header {
    color: #000;
    .btn-close {
      background: none;
      .fa-xmark {
        color: #505050;
        font-size: 1.2rem;
      }
    }
  }
  .modal-body {
    color: #000;
    .input-group {
      position: relative;
      .errMsg {
        position: absolute;
        bottom: -20px;
        right: 0;
      }
    }
  }
  .modal-footer {
    .btn-primary {
      background: linear-gradient(180deg, #b0dfd9 0%, #009688 100%);
      border-radius: 10px;
      border: none;
    }
  }
}
</style>