
<template>
  <div class="agencyPage">
    <div class="header-title">
      <div class="back"> <a href="javascript:history.go(-1)"><font-awesome-icon icon="fa-solid fa-chevron-left" /></a> </div>
      <div class="title">{{ $t("commission_claim_record") }}</div>
      <div class="search"></div>
    </div>
    <div class="agencyTeam-wrapper">
      <!-- 成員列表 -->
      <div class="member-listWrapper">
        <div class="member-table">
          <div class="bonus-title">{{ $t("commission_claim_record") }}</div>
          <div class="member-tr th">
            <div class="member-td">{{ $t("rebateDate") }}</div>
            <div class="member-td">{{ $t("valid_bet") }}</div>
            <div class="member-td">{{ $t("profit") }}</div>
            <div class="member-td">{{ $t("activeCount") }}</div>
            <div class="member-td">{{ $t("rebateAmount") }}</div>
          </div>
          <template v-if="getRebateRecordResp.length>0">
            <div class="member-tr" v-for="(item, index) in getRebateRecordResp" :key="index">
              <div class="member-td">{{ item.commissionDate }}</div>
              <div class="member-td">{{ stringToMoney(item.validScore) }}</div>
              <div class="member-td">{{ stringToMoney(item.profit) }}</div>
              <div class="member-td">{{ stringToMoney(item.activeCount) }}</div>
              <div class="member-td">{{ stringToMoney(item.rebate) }}</div>
            </div>
          </template>
        </div>
      </div>
      <!-- 分頁 -->
      <div v-if="totalCount>0" class="d-flex align-items-center justify-content-between mt-3 pr-1">
        <vue-awesome-paginate :total-items="totalCount" :items-per-page="rebateRecordListReq.pageSize" v-model="rebateRecordListReq.pageIndex" :on-click="changePage" />
        <div>{{$t('totalStart') + ' ' + totalCount + ' ' + $t('totalEnd')}}</div>
      </div>

    </div>
  </div>
  <!-- 加載 -->
  <loading v-model:active="isLoading" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />

</template>

<script>
// 佣金紀錄查詢
export class RebateRecordListReq {
  sessionKey = '';
  currencyNo = '';
  pageIndex = 1;
  pageSize = 10;
}
</script>

<script setup>

import { onMounted, reactive, ref } from 'vue';
import Loading from 'vue-loading-overlay';
import apiService from '@/api/apiService';
import common from "@/utils/common";

const { errorHandling, stringToMoney, userLogout } = common();
const rebateRecordListReq = reactive(new (RebateRecordListReq))
const getRebateRecordResp = reactive([]);
const isLoading = ref(false);
const totalCount = ref(0);

function getRebateRecordList() {
  rebateRecordListReq.sessionKey = localStorage.getItem("sessionKey");
  rebateRecordListReq.currencyNo = localStorage.getItem("currencyNo");
  isLoading.value = true;

  getRebateRecordResp.splice(0)
  apiService.post('/Rebate/Record', rebateRecordListReq)
    .then((res) => {
      res.data.datas.forEach(element => {
        getRebateRecordResp.push(element);
      });
      totalCount.value = res.data.totalCount;
    }).catch((err) => {
      errorHandling(err);
    }).finally(() => {
      isLoading.value = false;
    });
}
// 換頁
function changePage(value) {
  rebateRecordListReq.pageIndex = value;
  getRebateRecordList();
}

onMounted(() => {
  if (!localStorage.getItem("sessionKey")) { userLogout(); return; }
  getRebateRecordList();
})


</script>

<style lang="scss" scoped>
.agencyPage {
  color: #000;
  .header-title {
    background: #fff;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding: 1.5rem 1rem 1.5rem 1rem;
    color: #000;
    .fa-chevron-left {
      color: #000;
    }
  }
  .agencyTeam-wrapper {
    background: #f5f5f5;

    .member-listWrapper {
      text-align: center;
      .member-table {
        display: table;
        width: 100%;
        background: #fff;
        font-weight: normal;
        .bonus-title {
          position: relative;
          padding: 0.5rem;
          border-bottom: 1px solid #ececec;
          &::before {
            content: '';
            position: absolute;
            left: 5px;
            top: 10px;
            background: #f1ac33;
            border-radius: 5px;
            width: 4px;
            height: 16px;
          }
        }
        .member-tr {
          display: table-row;
          &.th {
            background: #e1e1df;
          }
          .member-td {
            display: table-cell;
            padding: 0.5rem 0;
            border: 1px solid #f5f5f5;
          }
        }
      }
    }
  }
}
:deep(.pagination-container button) {
  border-radius: 30px;
  padding: 0.2rem 0.68rem;
  font-size: 0.6rem;
}
:deep(.pagination-container button.active-page) {
  background: linear-gradient(100.85deg, #f1ac33 15.32%, #d5921c 94.32%);
  color: #fff;
}
</style>
