<template>
  <sign-form v-if="status" />

  <!-- 上選單電腦版 -->
  <div class="header">
    <header-top v-if="status" />
    <header-bottom v-if="status" />
  </div>

  <div class="box-translate">
    <router-view v-if="status" />
  </div>

  <footer-view v-if="status" />
  <div id="loader">
    <div class="loader-circle"></div>
  </div>
</template>

<script setup>
import { ref, onBeforeMount, onUnmounted, onMounted, watch, computed } from 'vue';
import { useStore } from "vuex"
import common from "@/utils/common";
import SignForm from '@/components/SignFormView.vue'
import HeaderTop from '@/components/aag/HeaderTop.vue'
import HeaderBottom from '@/components/aag/HeaderBottom.vue'
import FooterView from '@/components/aag/FooterView.vue'
import '@/assets/aag/css/app.css'
import { useRoute } from 'vue-router';

const store = useStore();
const route = useRoute();
const status = ref(false);
const isLogin = computed(() => store.state.isLogin);
const matchedLangs = computed(() => store.state.matchedLangs);
const { getSiteSettingInfo, getUserInfo, getWallets, getMatchedLangList, setCurrencyToLocalStorage, setWebNameAndIco, setLang, getGames, logout } = common();

const hideLoader = () => {
  const loader = document.getElementById("loader");
  loader.style.display = "none";
}

watch(
  () => isLogin.value,
  () => {
    if(localStorage.getItem("sessionKey")){
      getWallets();
    }
  }
)

onBeforeMount( async() => {
  if(localStorage.getItem('DomainLayoutId') && localStorage.getItem('DomainLayoutId') !== 'aag'){
    logout();
  }
  //設定版型
  store.dispatch('setDomainLayoutId', 'aag');

    //取得站台資訊
  await getSiteSettingInfo();
  //取得語系列表
  await getMatchedLangList();
  //設定語系
  await setLang(matchedLangs.value[0]);
  //設定幣別
  await setCurrencyToLocalStorage();

  //取得遊戲
  let path = route.path;
  if(path.includes('SportHall') || path.includes('CasinoHall') || path.includes('Egame') || path.includes('LotteryHall') || path.includes('FishHall') || path.includes('Chess') || path.includes('SportEventHall')){
    await getGames('getGameList');
  }
  else{
    getGames('getGameList');
  }

  status.value = true;
  if(status.value){
    hideLoader();

    //設定網站名稱和ico
    setWebNameAndIco();

    if(localStorage.getItem("sessionKey")){
      await getUserInfo();
    }
    //getUserInfo 錯誤時，可能會登出，所以if判斷要分開寫
    if(localStorage.getItem("sessionKey")){
      await store.dispatch('setIsLogin', true);
      await getWallets();
    }
  }
})


onMounted(async () => {
  const htmlElement = document.getElementsByTagName("html")[0];
  htmlElement.classList.add("aag");
});
onUnmounted(() => {
  const htmlElement = document.getElementsByTagName("html")[0];
  htmlElement.classList.remove("aag");
});
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html.aag {
  overflow-x: hidden;
  height: auto;

}
body {
    font-family: 'Roboto', sans-serif;
}
input, button, select, optgroup, textarea{
  color: initial;
  font-size: initial;
  font-family: initial;
  line-height: initial;
}

.scrollbar-x::-webkit-scrollbar-track,
.scrollbar::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #1b2026;
}

.scrollbar-x::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: linear-gradient(180deg, #eaa736 2.85%, #f2cf7f 97.76%);
  /* background: #d5921c; */
}

.box-translate {
  padding-top: 0px;
}

.header {
  position: relative;
  height: 60px;
}

@media (max-width: 992px) {
  .header {
    position: relative;
    height: 62px;
    background-color: #561d7b;
    border-bottom: none !important;
    box-shadow: none;

    &::before {
      box-shadow: none;
    }
  }
}

.footer::after {
  background: transparent;
  display: none;
}

@media (min-width: 992px) {
  .header {
    background: radial-gradient(
        30.37% 25% at 50%,
        at 0,
        hsla(0, 0%, 100%, 0.2) 0,
        rgba(252, 235, 255, 0) 100%
      ),
      radial-gradient(
        51.09% 68% at 50%,
        at 0,
        rgba(234, 217, 255, 0.06) 0,
        rgba(238, 217, 255, 0) 100%
      ),
      linear-gradient(
        90deg,
        rgba(35, 10, 54, 0.2) -11.45%,
        rgba(25, 13, 49, 0.5) 51.71%,
        rgba(27, 10, 49, 0.2) 111.45%
      );
    background: radial-gradient(
        30.37% 25% at 50% 0,
        hsla(0, 0%, 100%, 0.2) 0,
        rgba(252, 235, 255, 0) 100%
      ),
      radial-gradient(
        51.09% 68% at 50% 0,
        rgba(234, 217, 255, 0.06) 0,
        rgba(238, 217, 255, 0) 100%
      ),
      linear-gradient(
        90deg,
        rgba(35, 10, 54, 0.2) -11.45%,
        rgba(25, 13, 49, 0.5) 51.71%,
        rgba(27, 10, 49, 0.2) 111.45%
      );
    background-blend-mode: normal, color-dodge, normal;
  }

  .header:before {
    content: "";
    background: linear-gradient(0deg, #11071a, #11071a),
      radial-gradient(
        30.37% 25% at 50%,
        at 0,
        hsla(0, 0%, 100%, 0.3) 0,
        rgba(252, 235, 255, 0) 100%
      ),
      radial-gradient(
        51.09% 68% at 50%,
        at 0,
        rgba(234, 217, 255, 0.18) 0,
        rgba(238, 217, 255, 0) 100%
      ),
      linear-gradient(
        90deg,
        rgba(26, 0, 47, 0.2) -11.45%,
        rgba(25, 13, 49, 0.5) 51.71%,
        rgba(27, 10, 49, 0.2) 111.45%
      );
    background: linear-gradient(0deg, #11071a, #11071a),
      radial-gradient(
        30.37% 25% at 50% 0,
        hsla(0, 0%, 100%, 0.3) 0,
        rgba(252, 235, 255, 0) 100%
      ),
      radial-gradient(
        51.09% 68% at 50% 0,
        rgba(234, 217, 255, 0.18) 0,
        rgba(238, 217, 255, 0) 100%
      ),
      linear-gradient(
        90deg,
        rgba(26, 0, 47, 0.2) -11.45%,
        rgba(25, 13, 49, 0.5) 51.71%,
        rgba(27, 10, 49, 0.2) 111.45%
      );
    background-blend-mode: normal, normal, color-dodge, normal;
    box-shadow: none;
  }
}
@media (max-width: 767px) {
  .phone {
    .header {
      display: none;
      &.home-header {
        display: block;
      }
      &.all-header {
        display: none;
      }
    }
  }
}
.header-menu-item {
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .box-translate {
    margin-top: 60px;
  }
}


#loader{
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.95);
  .loader-circle{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
    border: 3px solid rgba(255,255,255,0.25);
    border-radius: 50%;
    border-top: 3px solid white;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
</style>
