<template>
    <div class="marquee-wrap d-flex align-items-center fs-12 px-2 py-1">
    <img class="megaphone" src="@/assets/aaf/img/phone/megaphone.png" alt="">
    <template v-if="isLoaded">
        <Vue3Marquee class="marquee ml-3" :duration="duration">
        <div v-if="notices">
            <span v-for="n in notices.datas" :key="n"
            v-html="
                n.title +
                '：' +
                n.content.replace(/<\/p>/g, ' ').replace(/<\/?.+?>/g, '')
            "
            class="text-white"
            ></span>
        </div>
        </Vue3Marquee>
    </template>
    </div>
  </template>
  
  <script setup>
  import { Vue3Marquee } from "vue3-marquee";
  import { ref, watch, computed } from "vue";
  import { useStore } from 'vuex';
  import { useI18n } from "vue-i18n";
  import { noticeList } from "@/api/api";
  import "vue3-marquee/dist/style.css";
  
  const store = useStore();
  const { locale } = useI18n();
  const duration = ref(50);
  const active = ref("");
  const notices = ref([]);
  const isLoaded = ref(false);
  
  const DomainLayoutId = computed(() => store.state.DomainLayoutId);
  
  //取得公告
  const getNotice = async () => {
    let w = 0;
    notices.value = await noticeList(locale.value, DomainLayoutId.value);
    notices.value.datas.forEach((item) => {
      w +=
        item.title.length +
        item.content.replace(/<\/p>/g, " ").replace(/<\/?.+?>/g, "").length;
    });
  
    if (w > 0) {
      duration.value = w;
      isLoaded.value = true;
    }
  };
  //處理捲軸
  const handleScroll = () => {
    active.value = window.scrollY >= 1 ? true : false;
  };
  
  watch(
    //更新語系
    () => locale.value,
    () => {
      getNotice();
    }
  );
  
  getNotice();
  window.addEventListener("scroll", handleScroll);
  </script>
  
  <style lang="scss" scoped>
  .marquee-wrap {
    background: rgba(40,40,40,0.7);
    .megaphone{
        width: 14px;
    }
  
  }
  </style>
  