<template>
    <div class="phone-footer w-100 text-center">
        <div class="link-items d-flex justify-content-between align-items-baseline pt-2 pb-1 ">

            <router-link class="link-item text-decoration-none ms-1" 
            :to="{ name: 'aafPhonehome' }"
            :class="{
                active:
                  $route.name === 'aafPhonehome' ||
                  $route.name === 'aafPhoneGameHall',
            }">
                <img class="icon d-table mx-auto" src="@/assets/aaf/img/phone/footer-home.png" alt="">
                <span class="fs-12 fw-bold text-nowrap text-center">{{ $t("games_lobby") }}</span>
            </router-link>

            <a href="https://google.com" target="_blank" class="link-item ms-2 me-5 text-decoration-none">
                <img class="icon d-table mx-auto " src="@/assets/aaf/img/phone/footer-online.png" alt="">
                <span class="fs-12 fw-bold">{{ $t("customer_service") }}</span>
            </a>

            <router-link class="link-item px-1 ml-5 text-decoration-none" :to="{ name: 'aafPhonePromotion' }" >
                    <img class="icon d-table mx-auto" src="@/assets/aaf/img/phone/footer-promotion.png" alt="">
                    <span class="fs-12 fw-bold">{{ $t("discount") }}</span>
            </router-link>

            <div class="link-item px-1">

              <!-- <div v-if="!isLogin" data-bs-target="#collapseTarget" data-bs-toggle="modal" @click="selectTab(true)">
                <img class="icon d-table mx-auto" src="@/assets/aaf/img/phone/footer-myprofile.png" alt="">
                <span class="fs-12 fw-bold">{{ $t("my") }}</span>
              </div>
              <router-link v-else :to="{ name: 'aafPhoneMemberView' }" class="text-decoration-none" :class="{ active: $route.name === 'aafPhoneMemberView' }">
                <img class="icon d-table mx-auto" src="@/assets/aaf/img/phone/footer-myprofile.png" alt="">
                <span class="fs-12 fw-bold">{{ $t("my") }}</span>
              </router-link> -->

              <router-link  :to="{ name: 'aafPhoneMemberView' }" class="text-decoration-none" :class="{ active: $route.name === 'aafPhoneMemberView' }">
                <img class="icon d-table mx-auto" src="@/assets/aaf/img/phone/footer-myprofile.png" alt="">
                <span class="fs-12 fw-bold">{{ $t("my") }}</span>
              </router-link>
            </div>

        </div>
        <div
        @click="moreFun = !moreFun"
        >
        <img class="footer-logo" src="@/assets/aaf/img/phone/footer-logo.png" alt="">
        </div>
        

        <div class="moreFunctionMenu" v-show="moreFun === true">
            <div class="menu-conetent">
                <div class="userInfo login">
                <div class="user-name">
                    {{ $t("account") }}:
                    <span>{{ user.account }}</span>
                </div>
                <div class="user-level">vip {{ user.level }}</div>
                <div class="online-service">
                    <a :href="siteSettingsInfo.customerServiceUrl" target="_blank" class="text-decoration-none link-light" >
                    <img src="@/assets/img/phone/online-serIcon.svg" alt="" />
                    <span>{{ $t("customer_service") }}</span>
                    </a>
                </div>
                </div>

                <div class="more-function">
                <router-link class="text-decoration-none" :to="{ name: 'aafPhoneDepositNav' }">
                    <div class="btn moreFUnc-despoit"></div>
                    <div class="text">{{ $t("recharge") }}</div>
                </router-link>

                <router-link class="text-decoration-none"  :to="{ name: 'aafPhoneCommonWithdraw' }">
                    <div class="btn moreFUnc-withdraw"></div>
                    <div class="text">{{ $t("withdrawal") }}</div>
                </router-link>
                <a :href="downloadUrl" target="_blank" class="text-decoration-none" >
                    <div class="btn moreFUnc-backupUrl"></div>
                    <div class="text">{{ $t("alternateURL") }}</div>
                </a>

                <router-link class="text-decoration-none"  :to="{ name: 'aafPhoneTransactionDetails' }">
                    <div class="btn moreFUnc-stake"></div>
                    <div class="text">{{ $t("funding_details") }}</div>
                </router-link>
                </div>
                <div class="more-function">
                <router-link class="text-decoration-none"  :to="{ name: 'aafPhoneAgency' }">
                    <div class="btn moreFUnc-agency"></div>
                    <div class="text">{{ $t("agencyTeam") }}</div>
                </router-link>
                <router-link class="text-decoration-none"  :to="{ name: 'aafPhoneVIPView' }">
                    <div class="btn moreFUnc-vip"></div>
                    <div class="text">{{ $t("vip_privileges") }}</div>
                </router-link>
                <router-link class="text-decoration-none"  :to="{ name: 'aafPhoneMessage' }">
                    <div class="btn moreFUnc-news"></div>
                    <div class="text">{{ $t("message_center") }}</div>
                </router-link>

                <router-link class="text-decoration-none"  :to="{ name: 'aafPhoneHistoryStakeRecord' }">
                    <div class="btn moreFUnc-gameRecord"></div>
                    <div class="text">{{ $t("gameRecord") }}</div>
                </router-link>
                </div>
            </div>
        </div>

    </div>
</template>

<script setup>
import { ref, onMounted, computed } from "vue";
import { useStore } from "vuex";
// import common from "@/utils/common";

// const { selectTab } = common();
const store = useStore();
const moreFun = ref(false);
const downloadUrl = ref("");

const user = computed(() => store.state.user);
// const isLogin = computed(() => store.state.isLogin);
const siteSettingsInfo = computed(() => store.state.siteSettingsInfo);

onMounted(() => {
  downloadUrl.value = '/#/download?lang=' + localStorage.getItem("locale");
});

</script>
<style lang="scss" scoped>
    .phone-footer{
        position: fixed;
        left: 0;
        bottom: 0;
        padding-top: 8px;
        z-index: 1;
        &::after{
            content:'';
            display: block;
            background-image: url(@/assets/aaf/img/phone/footer-bg.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100%;
            position: absolute;
            width: 100%;
            bottom: 0px;
        }
        .link-items{
            
            position: relative;  
            .link-item{
                flex:0 0 auto;
                width: 70px;
                z-index: 1;
                position: relative;
                color:#6f6f6f;
                &.active{
                    color:#1c9bff;
                }
                a{
                    color:#6f6f6f;
                }
                .icon{
                    width: 30px;
                }
            }
        }
        .footer-logo{
            position: absolute;
            top: 28%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 60px;
            z-index: 1;
        }

        .moreFunctionMenu {
    position: fixed;
    bottom: 0.6rem;
    z-index: 9999;
    background: #fff;
    color: #555555;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 96vw;
    padding: 1rem 1rem;
    .userInfo {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      align-items: center;
      .user-level {
        background: linear-gradient(0deg, #7e36ca 2.07%, #fc00b5 94.57%);
        border-radius: 10px;
        color: #fff;
        padding: 0 0.5rem;
        font-size: 0.6rem;
        font-weight: normal;
        height: 22px;
      }
      .online-service {
        background: linear-gradient(180deg, #b0dfd9 0%, #009688 100%);
        background-color: #f1ac33;
        border-radius: 20px;
        color: #231f20;
        font-size: 0.65rem;
        white-space: nowrap;
        padding: 0.3rem 1.5rem 0.3rem 0.5rem;
        img {
          max-width: 15px;
          margin-bottom: 0.3rem;
          margin-right: 0.5rem;
        }
      }
    }

    .more-function {
      display: flex;
      justify-content: space-between;
      margin: 1rem 0;
      font-size: 0.85rem;
      
      a {
        text-align: center;
        width: 100%;
        color: #555555;
        .btn {
          font-size: 0.8rem;
          width: 35px;
          height: 35px;
          white-space: nowrap;
          &.moreFUnc-despoit {
            background: url("@/assets/aae/img/phoneHome/footer/moreFunc/moreFUnc-despoit.svg") no-repeat;
          }
          &.moreFUnc-withdraw {
            background: url("@/assets/aae/img/phoneHome/footer/moreFunc/moreFUnc-withdraw.svg")
              no-repeat;
          }
          &.moreFUnc-stake {
            background: url("@/assets/aae/img/phoneHome/footer/moreFunc/moreFUnc-stake.svg") no-repeat;
          }
          &.moreFUnc-gameRecord {
            background: url("@/assets/aae/img/phoneHome/footer/moreFunc/moreFUnc-gameRecord.svg")
              no-repeat;
          }
          &.moreFUnc-agency {
            background: url("@/assets/aae/img/phoneHome/footer/moreFunc/moreFUnc-agency.svg") no-repeat;
          }
          &.moreFUnc-vip {
            background: url("@/assets/aae/img/phoneHome/footer/moreFunc/moreFUnc-vip.svg") no-repeat;
          }
          &.moreFUnc-news {
            background: url("@/assets/aae/img/phoneHome/footer/moreFunc/moreFUnc-news.svg") no-repeat;
          }
          &.moreFUnc-backupUrl {
            background: url("@/assets/aae/img/phoneHome/footer/moreFunc/moreFUnc-backupUrl.svg")
              no-repeat;
          }
        }
        .text {
          line-height: 1rem;
        }
      }
    }
  }
    }
</style>
  