<template>
  <div class="phone">
    <div class="messagePage">
      <div class="header-title">
        <div class="back"> <a href="javascript:history.go(-1)"><font-awesome-icon icon="fa-solid fa-chevron-left" /></a> </div>
        <div class="title">{{ $t("message_center") }}</div>
        <div class="search"></div>
      </div>

      <div class="message-content">

        <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
          <li class="nav-item notice" role="presentation" @click="activeIndex = 0; getNoticeList(0)">
            <div class="announce-icon">
              <font-awesome-icon icon="fa-solid fa-volume-high" />
            </div>
            <button class="nav-link" :class="{active:activeIndex === 0}" id="pills-announce-tab" data-bs-toggle="pill" data-bs-target="#pills-announce" type="button" role="tab" aria-controls="pills-announce" aria-selected="true">{{ $t('sports_announcement') }}</button>
          </li>
          <li class="nav-item" role="presentation" @click="activeIndex = 1; getMessageList(1)">
            <div class="mail-icon d-table mx-auto">
              <font-awesome-icon :icon="['fas', 'envelope']" />
              <span class="no-read">{{ unreadCount }}</span>
            </div>
            <button class="nav-link" :class="{active:activeIndex === 1}" id="pills-mail-tab" data-bs-toggle="pill" data-bs-target="#pills-mail" type="button" role="tab" aria-controls="pills-mail" aria-selected="false">{{ $t('station_letter') }}</button>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent" @scroll="onScroll">
          <div class="tab-pane fade" :class="{active:activeIndex === 0, show:activeIndex === 0}" id="pills-announce" role="tabpanel" aria-labelledby="pills-announce-tab" v-show="activeIndex === 0">
            <div v-if="noticeList.length > 0">
              <div v-for="(item) in noticeList" :key="item" class="announce-wrapper" @click="goDetail(0, item)">
                <div class="announce-content">
                  <div class="announce-title">
                    {{ item.title }}
                  </div>
                  <div class="announce-detail">{{ item.content.replace(/<\/?.+?>/g,'') }}</div>
                </div>
                <div class="announce-time">{{ unixToLocal(item.createTime) }}</div>
              </div>
            </div>
            <div v-else class="noDataBroad">
              <div class="noDataImg">
                <img src="@/assets/aaa/img/common/img_nodata_green.svg">
              </div>
              <div class="noDataText" style="color:#9D9B98;text-align: center; font-size: 1.2rem;">{{ $t("no_data") }}</div>
            </div>
          </div>

          <div class="tab-pane fade" :class="{active:activeIndex === 1, show:activeIndex === 1}" id="pills-mail" role="tabpanel" aria-labelledby="pills-mail-tab" v-show="activeIndex === 1">
            <div v-if="messageList.length > 0">
              <div class="announce-wrapper" v-for="(item) in messageList" :key="item" @click="goDetail(1, item)">
                <div class="announce-content">
                  <div class="announce-title" :class="(item.status === 0) ? 'no-read' : ''">
                    {{ item.title }}
                  </div>
                  <div class="announce-detail">{{ item.content.replace(/<\/?.+?>/g,'') }}</div>
                </div>
                <div class="announce-time">{{ unixToLocal(item.createTime) }}</div>
              </div>
            </div>
            <div v-else class="noDataBroad">
              <div class="noDataImg">
                <img src="@/assets/aaa/img/common/img_nodata_green.svg">
              </div>
              <div class="noDataText" style="color:#9D9B98;text-align: center; font-size: 1.2rem;">{{ $t("no_data") }}</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- 加載 -->
  <loading v-model:active="isLoading" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />

</template>



<script setup>

import { ref, onMounted, reactive ,computed } from 'vue';
import apiService from '@/api/apiService';
import common from "@/utils/common";
import { useStore } from 'vuex';
import Loading from 'vue-loading-overlay';
import { useRouter } from "vue-router";

const store = useStore();
const unreadCount = ref(0);
const { errorHandling, unixToLocal, userLogout } = common();
const messageList = reactive([]);
const noticeList = reactive([]);
const activeIndex = ref(1);
const isLoading = ref(false);
const router = useRouter();
const pageIndex = ref(1);
const totalCount = ref(0);
const pageSize = ref(10);

const DomainLayoutId = computed(() => store.state.DomainLayoutId);

// 取得站內信未讀數量
function getUnreadCount() {
  apiService.post('/Message/UnreadCount', {
    sessionKey: localStorage.getItem("sessionKey")
  }).then((res) => {
    unreadCount.value = res.data.count;
  }).catch((err) => {
    console.log(err);
  });
}

// 站內信
function getMessageList() {
  isLoading.value = true;
  apiService.post('/Message/List', {
    sessionKey: localStorage.getItem("sessionKey"),
    pageIndex: pageIndex.value,
    pageSize: pageSize.value,
  }).then((res) => {
    res.data.datas.forEach(element => {
      messageList.push(element)
    });
    totalCount.value = res.data.totalCount;
  }).catch((err) => {
    errorHandling(err);
  }).finally(() => {
    isLoading.value = false;
  });
}

// 公告
function getNoticeList() {
  isLoading.value = true;
  apiService.post('/Notice/List', {
    lang: localStorage.getItem("locale"),
    DomainLayoutId: DomainLayoutId.value
  }).then((res) => {
    noticeList.splice(0);
    res.data.datas.forEach(element => {
      noticeList.push(element)
    });
    totalCount.value = 0;
  }).catch((err) => {
    errorHandling(err);
  }).finally(() => {
    isLoading.value = false;
  });
}

// 轉到詳情
function goDetail(type, value) {
  // 0=公告, 1=站內信
  localStorage.setItem('PhoneMessageDetail', JSON.stringify({
    type: type,
    detail: value
  }));
  router.push({ name: 'aaaPhoneMessageDetail' });
}

//滑動信件列表
function onScroll(event) {
  const container = event.target;
  const scrollHeight = container.scrollHeight;
  const scrollTop = container.scrollTop;
  const clientHeight = container.clientHeight;

  // 如果滾動到底部，載入更多資料
  if (scrollHeight - scrollTop <= clientHeight) {
    loadMoreData();
  }
}
// 載入更多資料
function loadMoreData() {
  pageIndex.value++;
  getMessageList();
}

onMounted(() => {
  if (!localStorage.getItem("sessionKey")) { userLogout(); return; }
  getUnreadCount();

  if (localStorage.getItem('messageType') === '1') {
    activeIndex.value = 1;
    getMessageList();
  } else {
    activeIndex.value = 0;
    getNoticeList();

  }
})

</script>

<style lang="scss" scoped>
.phone {
  background: #f5f5f5;
  .messagePage {
    color: #000;
    .header-title {
      background: #fff;
      display: flex;
      justify-content: space-between;
      font-size: 1rem;
      padding: 1.5rem 1rem 1.5rem 1rem;
      color: #000;
      .fa-chevron-left {
        color: #000;
      }
    }
    .message-content {
      background: #fff;
      .nav-pills {
        .nav-item {
          svg {
            background: #009688;
            color: #fff;
            padding: 0.515rem;
            border-radius: 50%;
          }
          &.notice {
            svg {
              padding: 0.5rem 0.41rem;
            }
          }

          .announce-icon,
          .mail-icon {
            position: relative;

            .no-read {
              position: absolute;
              top: -5px;
              border-radius: 50%;
              padding: 0 0.3rem 0 0.25rem;
              background: red;
              color: #fff;
              font-size: 0.6rem;
              font-weight: normal;
              min-width: 22px;
            }
          }

          .nav-link {
            display: inline-block;
            width: 100%;
            margin: 0;
            padding: 0 0 0.5rem 0;
            color: #9c9c9c;
            font-weight: bolder;
            background: none;
            &.active {
              background: none;
              border-bottom: 3px solid #009688;
              border-radius: 0;
              color: #000;
            }
          }
        }
      }
      .tab-content {
        height: 500px;
        overflow-y: auto;
        .announce-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-weight: normal;
          border-bottom: 1px solid #d4d4d4;
          color: #000;
          padding-top: 0.4rem;
          padding-bottom: 0.4rem;
          padding-right: 1.2rem;
          .announce-content {
            .announce-title {
              position: relative;
              font-weight: bolder;
              font-size: 1.2rem;
              white-space: nowrap; /* 禁止文字自動換行 */
              overflow: hidden; /* 超出部分隱藏 */
              text-overflow: ellipsis; /* 使用省略號表示被省略的文字 */
              width: 200px; /* 設定寬度，讓文字顯示不下時出現省略號 */
              padding-left: 1.2rem;

              &.no-read {
                &::before {
                  content: '';
                  position: absolute;
                  width: 8px;
                  height: 8px;
                  background: red;
                  top: 7px;
                  left: 9px;
                  border-radius: 50%;
                }
              }
            }
            .announce-detail {
              font-size: 1rem;
              white-space: nowrap; /* 禁止文字自動換行 */
              overflow: hidden; /* 超出部分隱藏 */
              text-overflow: ellipsis; /* 使用省略號表示被省略的文字 */
              width: 200px; /* 設定寬度，讓文字顯示不下時出現省略號 */
              padding-left: 1.2rem;
            }
          }
        }
      }
    }
  }
  .noDataBroad {
    margin: 50px 0 0 0;
    width: 100%;
    //background: #009685;

    .noDataImg {
      width: 100%;

      & img {
        width: 100%;
        height: auto;
      }
    }

    .noDataText {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.44rem;
      line-height: 0.54rem;
      width: 100%;
      color: #9d9b98;
    }
  }
}
</style>
