<template>
  <div class="phone">

    <div class="messageDetailPage">
      <div class="header-title">
        <div class="back" @click="goBack"><font-awesome-icon icon="fa-solid fa-chevron-left" /> </div>
        <div class="title">{{ $t("station_letter") }}</div>
        <div class="search"></div>
      </div>

      <!-- 公告 -->
      <template v-if="message != null && message.type == 0">

        <div class="messageDetail-content">
          <div class="messageDetail-title">{{ message.detail.title }}</div>
          <div class="messageDetail-date">{{ unixToLocal(message.detail.createTime) }}</div>
          <div class="messageDetail-wrapper">
            <div class="messageDetail" v-html="message.detail.content"></div>
          </div>
        </div>
      </template>

      <!-- 站內信 -->
      <template v-if="message != null && message.type == 1">

        <div class="messageDetail-content">
          <div class="messageDetail-title">{{ message.detail.title }}</div>
          <div class="messageDetail-date">{{ unixToLocal(message.detail.createTime) }}</div>
          <div class="messageDetail-wrapper">
            <div class="messageDetail" v-html="message.detail.content"></div>
          </div>
        </div>
      </template>

    </div>
  </div>
</template>



<script setup>
import { ref, onMounted } from "vue";
import common from "@/utils/common";
import apiService from '@/api/apiService';
import { useRouter } from "vue-router"; // 从 "vue-router" 导入

const message = ref(null);
const { unixToLocal, userLogout } = common();
const router = useRouter();

// 標記讀取站內信
function markReading(value) {
  apiService.put('/Message/MarkReading', {
    sessionKey: localStorage.getItem("sessionKey"),
    no: value
  });
}

//點選回信件列表並帶著信件分類值0=公告, 1=站內信
const goBack = () => {
  if (localStorage.getItem('PhoneMessageDetail')) {
    let PhoneMessageDetail = localStorage.getItem('PhoneMessageDetail');
    message.value = JSON.parse(PhoneMessageDetail);
    localStorage.setItem('messageType', message.value.type);
  }
  router.go(-1);
};

onMounted(() => {
  if (!localStorage.getItem("sessionKey")) { userLogout(); return; }
  if (localStorage.getItem('PhoneMessageDetail')) {
    // 0=公告, 1=站內信
    let PhoneMessageDetail = localStorage.getItem('PhoneMessageDetail');
    message.value = JSON.parse(PhoneMessageDetail);
    if (message.value.type == 1 && message.value.detail.status == 0)
      markReading(message.value.detail.no);
  }
});


</script>

<style lang="scss" scoped>
.phone {
  background: #f5f5f5;
  .messageDetailPage {
    color: #000;

    .header-title {
      background: #fff;
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      padding: 1.5rem 1rem 1.5rem 1rem;
      color: #000;
      border-bottom: 1px solid #009688;
      .fa-chevron-left {
        color: #000;
      }
    }
    .messageDetail-content {
      padding-top: 1rem;
      background: #fff;
      font-weight: normal;
      height: calc(100vh - 75px);
      overflow-x: auto;

      .messageDetail-title {
        font-weight: bolder;
        text-align: center;
        font-size: 20px;
        margin-bottom: 5px;
      }

      .messageDetail-wrapper {
        padding: 0.5rem;
      }
    }

    .messageDetail-date {
      text-align: right;
      padding-right: 5px;
      color: #7f828b;
    }
  }
}
</style>
