<template>
  <div class="phone">
    <div class="currencySelectPage">
      <div class="header-title">
        <div class="back" @click="back"><font-awesome-icon icon="fa-solid fa-chevron-left" /></div>
        <div class="title">{{ $t("currency_selection") }}</div>
        <div class="search"></div>
      </div>
      <div class="currency-list">
        <div class="subLanMenu">
          <a class="lang-option" v-for="(wallet, index) in handledWallets" :key="index">
            <span class="currency-check">
              <label class="radio">
                <input class="radio-input" type="radio" name="radio" :value="wallet.currency.no" v-model="selectedCurrency">
                <span class="radio-checkmark-box">
                  <span class="radio-checkmark"></span>
                </span>
              </label>
            </span>
            <span class="nation">
              <img :src=wallet.currency.img alt="" class="lanImg">
            </span>
            <span class="nation-name">{{ wallet.currency.currencyId }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted, computed } from 'vue';
import { useStore } from 'vuex';
import { useI18n } from "vue-i18n";
import common from "@/utils/common";

const store = useStore();
const { t } = useI18n();
const selectedCurrency = ref('');
const { userLogout } = common();

const handledWallets = ref([
  {
    currency:{
      currencyId: t('all'),
      img: require('@/assets/img/currency/all.svg'),
      no: 0,
    }
  }
]);

const currencySelect = computed(() => store.state.currencySelect);
const wallets = computed(() => store.state.wallets);

const handleWallets = () => {
  handledWallets.value.push(...wallets.value);
}

const back = () => {
  store.dispatch('setCurrencySelect', selectedCurrency.value);
  history.go(-1)
}
onMounted(() => {
  if (!localStorage.getItem("sessionKey")) { userLogout(); return; }
  selectedCurrency.value = currencySelect.value === '' ? +(localStorage.getItem("currencyNo")) : currencySelect.value;
  handleWallets();
})

</script>

<style lang="scss" scoped>
.phone {
  background: #f5f5f5;
  .currencySelectPage {
    margin-bottom: 100px;
    color: #000;
    .header-title {
      background: #fff;
      display: flex;
      justify-content: space-between;
      font-size: 1rem;
      padding: 1.5rem 1rem 1.5rem 1rem;
      color: #000;
      .fa-chevron-left {
        color: #000;
      }
    }
    .currency-list {
      .subLanMenu {
        background: #fff;
        padding: 1rem 0;
        border-radius: 10px;
        .lang-option {
          background: #fff;
          display: flex;
          align-items: center;
          margin: 1rem;
          border-bottom: 1px solid #d9d9d9;
          padding-bottom: 1rem;
          span {
            margin: 0 0.2rem;
          }
          .nation-name {
            color: #000;
          }
          .radio {
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;
            user-select: none;
            margin-bottom: 0;

            &:hover {
              .checkbox-checkmark {
                border: 2px solid #009688;
              }
            }
          }

          .radio-input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            &:checked ~ .radio-checkmark-box {
              .radio-checkmark {
                &:after {
                  display: block;
                }
              }
            }

            &:checked ~ .radio-checkmark-box {
              .radio-checkmark {
                background-color: #fff;
                border: 2px solid #009688;
              }
            }

            &:disabled ~ .radio-checkmark-box {
              .radio-checkmark {
                border: 2px solid #b0b0b0;
                cursor: not-allowed;
              }
            }

            &:disabled {
              &:checked ~ .radio-checkmark-box {
                .radio-checkmark {
                  background-color: #b0b0b0;
                }
              }
            }
          }

          .radio-checkmark-box {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid transparent;
            border-radius: 50%;
          }

          .radio-checkmark {
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1.5px solid #58a55a;
            border-radius: 50%;
            cursor: pointer;

            &:after {
              content: '';
              display: none;
              background: url("data:image/svg+xml,%3Csvg width='6' height='4' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.8866 9.91722L0.0873348 5.36761C0.0596566 5.34137 0.037692 5.31018 0.0227039 5.27582C0.00771585 5.24146 0 5.20461 0 5.1674C0 5.13019 0.00771585 5.09335 0.0227039 5.05899C0.037692 5.02463 0.0596566 4.99343 0.0873348 4.96719L1.29893 3.81086C1.41471 3.70049 1.60183 3.70049 1.71761 3.81086L4.87718 6.80501C4.99296 6.91538 5.18143 6.91409 5.2972 6.80372L12.2787 0.0839022C12.3945 -0.0277526 12.5829 -0.0277526 12.7001 0.0826188L13.913 1.23895C14.0288 1.34932 14.0288 1.52771 13.9143 1.63809L6.30821 8.95468L6.30956 8.95597L5.30662 9.91722C5.19085 10.0276 5.00238 10.0276 4.8866 9.91722Z' fill='%23009688'/%3E%3C/svg%3E%0A")
                no-repeat center;
              width: 14px;
              height: 12px;
              background-size: contain;
            }
          }
          img {
            width: 30px;
          }
        }
      }
    }
  }
}
</style>
