<template>
  <div class="marquee-wrap">
    <!-- 其他內容 -->
    <div class="marquee-contain">
      <span class="marquee-title"><font-awesome-icon icon="fa-solid fa-volume-high" /></span>
      <template v-if="isLoaded">
        <Vue3Marquee class="marquee" :duration="duration">
          <div v-if="notices">
            <span v-for="n in notices.datas" :key="n" v-html=" n.title + '：' + n.content.replace(/<\/p>/g,' ').replace(/<\/?.+?>/g,'')"></span>
          </div>
        </Vue3Marquee>
      </template>
    </div>
  </div>

</template>

<script setup>
import { Vue3Marquee } from 'vue3-marquee'
import { ref, watch, computed } from 'vue';
import { useStore } from 'vuex';
import { useI18n } from "vue-i18n";
import { noticeList } from '@/api/api';
import "vue3-marquee/dist/style.css";

const store = useStore();
const { locale } = useI18n();
const duration = ref(50);
const active = ref('');
const notices = ref([]);
const isLoaded = ref(false);

const DomainLayoutId = computed(() => store.state.DomainLayoutId);

//取得公告
const getNotice = async () => {
  let w = 0;
  notices.value = await noticeList(locale.value, DomainLayoutId.value);
  notices.value.datas.forEach(item => {
    w += item.title.length + item.content.replace(/<\/p>/g, ' ').replace(/<\/?.+?>/g, '').length;
  });

  if (w > 0) {
    duration.value = w;
    isLoaded.value = true;
  }
}
//處理捲軸
const handleScroll = () => {
  active.value = window.scrollY >= 1 ? true : false;
}

watch(
  //更新語系
  () => locale.value,
  () => {
    getNotice();
  }
)

getNotice();
window.addEventListener("scroll", handleScroll);
</script>

<style lang="scss" scoped>
.marquee-wrap {
  position: static;
  background: #000000a6;
  padding: 0.2rem;

  .marquee-contain {
    display: flex;
    width: 96%;
    margin: auto;
    padding: 0;

    .marquee-title {
      color: #000;
      font-size: 1rem;
      height: 1rem;
      width: auto;
      white-space: nowrap;
      margin-right: 0.3rem;
      color: #fff;
    }

    .marquee {
      display: inline;
      color: #fff;
      height: 1.2rem;
      overflow: hidden;

      div {
        span {
          color: #fff;
          margin-left: 30px;
        }
      }
    }

    .notice {
      height: 80px;
      line-height: 80px;
    }
  }
}
</style>
