<template>
  <div id="walletSelectPage">
    <div class="title-block position-relative flex-center">
      <div class="back" @click="hideWalletSelect"><font-awesome-icon icon="fa-solid fa-chevron-left" /></div>
      <div class="title">錢包列表</div>
    </div>
    <div class="content-block">
        <div class="option" v-for="(wallet, index) in wallets" :key="index">
          <input type="radio" name="walletNo" :id="`walletNo${index}`" :value="wallet.currency.no" v-model="selectedWalletNo" :checked="selectedWalletNo === wallet.currency.no">
          <label :for="`walletNo${index}`" :key="index">
            <img :src="wallet.currency.img" alt="">
            <div class="ml-2">
              {{wallet.currency.currencyId}} - {{stringToMoney(wallet.balance)}}
            </div>          
          </label>
        </div>
    </div>
  </div>
  <!-- 加載 -->
	<loading v-model:active="isLoading" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />
</template>
<script setup>
import { ref, watch, computed, onMounted } from 'vue'
import common from "@/utils/common";
import { useStore } from "vuex";
import Loading from 'vue-loading-overlay';

const { stringToMoney, selectWallet } = common();
const store = useStore();
const selectedWalletNo = ref();
const isLoading = ref(false);

const emit = defineEmits(["hideWalletSelect"]);

const wallets = computed(() => store.state.wallets);

function hideWalletSelect(){
  emit("hideWalletSelect");
}

watch(
  () => selectedWalletNo.value,
  () => {
    selectWallet(wallets.value.find(item => item.currency.no === selectedWalletNo.value));
  }
)

onMounted(() => {
  selectedWalletNo.value = wallets.value[0].currency.no
})


</script>
<style lang="scss" scoped>
  #walletSelectPage{
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    color:black;
    font-size: 16px;
    padding-bottom: 50px;
    z-index: 10;
    height: 100vh;
    .title-block{
      height: 70px;
      .back{
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .content-block{
      padding: 0 16px;
      .option{
        border-bottom: 1px solid #d9d9d9;
        padding: 8px 10px;
        img{
          width: 32px;
        }
        input{
          display: none;
          &:checked+label::after{
            opacity: 1;
          }
        }
        label{
          display: flex;
          align-items: center;
          position: relative;
          padding-left: 40px;
          &::before,
          &::after{
            content:"";
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 25px;
            height: 25px;
            border-radius: 50%;
          }
          &::before{
            border:1.5px solid #58a55a;
          }
          &::after{
            background:url("data:image/svg+xml,%3Csvg width=%276%27 height=%274%27 viewBox=%270 0 14 10%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M4.8866 9.91722L0.0873348 5.36761C0.0596566 5.34137 0.037692 5.31018 0.0227039 5.27582C0.00771585 5.24146 0 5.20461 0 5.1674C0 5.13019 0.00771585 5.09335 0.0227039 5.05899C0.037692 5.02463 0.0596566 4.99343 0.0873348 4.96719L1.29893 3.81086C1.41471 3.70049 1.60183 3.70049 1.71761 3.81086L4.87718 6.80501C4.99296 6.91538 5.18143 6.91409 5.2972 6.80372L12.2787 0.0839022C12.3945 -0.0277526 12.5829 -0.0277526 12.7001 0.0826188L13.913 1.23895C14.0288 1.34932 14.0288 1.52771 13.9143 1.63809L6.30821 8.95468L6.30956 8.95597L5.30662 9.91722C5.19085 10.0276 5.00238 10.0276 4.8866 9.91722Z%27 fill=%27%23009688%27/%3E%3C/svg%3E%0A") no-repeat center;
            background-size: 14px;
            border:2px solid #58a55a;
            opacity: 0;
          }
        }
      }
    }
  }
  .flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>