<template>
  <!----語言選擇----->
  <div class="pCurrencyInfo" v-if="pageTarget === 'langPage'">
    <div class="headerTop">
      {{ $t("language_setting") }}
      <img
        @click="
          pageTarget = 'homePage';
          changeLangAndGames();
        "
        src="@/assets/img/icon/icon_game_arrow_left.svg"
        class="backBtn"
      />
    </div>
    <div class="pMidBoardBg">
      <!----語文資訊----->
      <div class="pMidBoardBox">
        <a class="lang-option" v-for="(lang, index) in matchedLangs" :key="index">
          <span class="currency-check">
            <label class="radio">
              <input class="radio-input" type="radio" name="radio" :value="lang" v-model="selectedLang">
              <span class="radio-checkmark-box">
                <span class="radio-checkmark"></span>
              </span>
              <span class="nation">
                <img :src=lang.image alt="" class="lanImg">
              </span>
              <span class="nation-name">{{ lang.name }}</span>
            </label>
          </span>
        </a>
      </div>
    </div>
  </div>

  <div class="phone-header__top" v-if="pageTarget === 'homePage'">
    <div class="header-top-logo">
      <img :src="logo?.imageUrl" alt="">
    </div>
    <div class="loginbox" v-if="!isLogin">
      <a href="javascript:void(0)" data-bs-target="#collapseTarget" data-bs-toggle="modal" @click="selectTab(false)">
        {{ $t("registration") }}
      </a>
      <a href="javascript:void(0)" data-bs-target="#collapseTarget" data-bs-toggle="modal" @click="selectTab(true)">
        {{ $t("login") }}
      </a>
      <!-- 語言選單 -->
      <a
        href="javascript:void(0)"
        class="button lan-button btnItem"
        @click="pageTarget = 'langPage'"
      >
        <img
          :src="lang.image"
          alt=""
          class="lanImg"
        />
        <div class="btnName">
          {{ lang.name }}
        </div>
        <span
          class="fa-solid fa-caret-down"
        >
          <font-awesome-icon icon="fa-solid fa-caret-right" />
        </span>
      </a>
    </div>
    <div v-else class="signedBox">
      <div class="balance">
        <span @click="walletSelectShow = true" style="flex-grow: 1;">
          <img :src="wallets[0]?.currency.img" alt="">
          <span class="amount">{{stringToMoney(wallets[0]?.balance)}}</span>
        </span>

        <span>
          <img src="@/assets/img/icon/icon_mine_money_refresh02.svg" ref="refreshIcon" class="refreshIcon" @click="refreshWallets(refreshIcon)" alt="" />
        </span>
      </div>
      <div class="sign isSigned">
        <span href="javascript:void(0)" class="vip-btn">
          VIP {{ user.level }}
        </span>
        <span class="userName">{{ user.account }}</span>
      </div>
    </div>
  </div>
  <div class="phone">
    <!-- 右邊紅包懸浮按鈕 -->
    <div v-if="redPacketShow === true" ref="homePromoRedEnvelope" class="homePromo-redEnvelope" :data-bs-target="isLogin ? '#promoRed' : '#collapseTarget'" data-bs-toggle="modal">
      <div class="homePromo-btn">
        <img :src="siteSettingsInfo.managerCDNUrl + 'aae/img/phoneHome/lucky-draw-icon.png'" alt="" />
      </div>
    </div>
    <marquee-view />
    <swiper class="game-slide-menu" :modules="modules" :slides-per-view="1" :loop="true" :scrollbar="false" :autoplay="{ delay: 1500 }" :speed="1000">
      <swiper-slide v-for="(homeBanner, index) in homeBanners" :key="index">
        <img :src="homeBanner.imageUrl" alt="" />
      </swiper-slide>
    </swiper>
    <div class="phone-main" :class="homeBanners.length === 0 ? 'noBanner' : ''">
      <div class="d-flex align-items-start">
        <div class="nav flex me-3" :class="homeBanners.length === 0 ? 'navNoBanner' : ''">
          <button v-for="(phoneMenuItem, index) in phoneMenu" :key="index" class="nav-link" :class="[
              gameClass === phoneMenuItem.no ? 'active' : '',
              phoneMenuItem.key,
            ]" type="button" @click="selectGameClass(phoneMenuItem)">
             <img :src="navIcons[phoneMenuItem.key]" alt=""> 
            <span>{{ phoneMenuItem.name }}</span>
          </button>
        </div>
        <div class="content" v-if="selectedGameClass?.key" :class="[
            homeBanners.length === 0 ? 'contentNoBanner' : '',
            selectedGameClass?.key,
            ]" :style="'background-image:url(' + bannerImgs[selectedGameClass.key] + ');'">
          <div class="row">
            <template v-if="selectedGameClass?.key === 'hot_game'">
              <section v-if="phoneMenu.find(item => item.no === 2)" class="top-game-section mb-2">
                <div class="top-game">
                  <div class="top-game-title">
                    <span class="title">JOGOS AO VIVO</span>
                    <span class="descript">
                      {{ $t("enjoy_premium_live_games") }}
                    </span>
                  </div>

                  <div class="slider d-flex">
                    <swiper class="top-game2-slider swiper" :modules="modules" :slides-per-view="4" :space-between="8" :initialSlide="4" :loop="true" :autoplay="{ delay: 3000 }" :navigation="{
                        nextEl: '.btnNext',
                        prevEl: '.btnPrev',
                      }" :pagination="false" :scrollbar="false">
                      <swiper-slide class="swiper-slide" v-for="(imgItem, index) in leftImg" :key="index">
                        <div @click="goTab(2)">
                          <img :src="imgItem.imgPath" class="swiper-lazy" />
                        </div>
                      </swiper-slide>
                    </swiper>
                  </div>
                </div>
                <a class="btnPrev">
                  <img :src="siteSettingsInfo.managerCDNUrl + 'aae/img/home/homeprev.png'" />
                </a>
                <a class="btnNext">
                  <img :src="siteSettingsInfo.managerCDNUrl + 'aae/img/home/homenext.png'" />
                </a>
              </section>
              <section v-if="phoneMenu.find(item => item.no === 3)" class="hot-slot-game-section">
                <div class="hot-slot-game-title">
                  <span class="titleBox">JOGOS DE SLOT</span>
                  <span class="descript" style="display: none">
                    {{ $t("enjoy_premium_live_games") }}
                  </span>
                </div>

                <div class="hot-slot-game">
                  <div class="slider type02">
                    <swiper class="hot-slot-game2-slider swiper" :modules="modules" :slides-per-view="5" :loop="true" :autoplay="{ delay: 2500000 }" :navigation="{
                        nextEl: '.jackpot__next',
                        prevEl: '.jackpot__prev',
                      }" :pagination="false" :scrollbar="false" :observer="true" :observeParents="true" :centered-slides-bounds="true" :centered-slides="true" :spaceBetween="20" :direction="'horizontal'">
                      <swiper-slide class="swiper-slide">
                        <div class="game-box" @click="goTab(3)">
                          <div class="game-img">
                            <img :src="siteSettingsInfo.managerCDNUrl + 'aae/img/home/slot/AG.png'" class="swiper-lazy" alt="" />
                          </div>
                          <div class="game-info">
                            <div class="game-name">JUNGLE BEATS4</div>
                            <div class="game-type">Fast Spin Slot</div>
                          </div>
                        </div>
                      </swiper-slide>
                      <swiper-slide class="swiper-slide">
                        <div class="game-box" @click="goTab(3)">
                          <div class="game-img">
                            <img :src="siteSettingsInfo.managerCDNUrl + 'aae/img/home/slot/BBIN.png'" class="swiper-lazy" alt="" />
                          </div>
                          <div class="game-info">
                            <div class="game-name">JUNGLE BEATS5</div>
                            <div class="game-type">Fast Spin Slot</div>
                          </div>
                        </div>
                      </swiper-slide>
                      <swiper-slide class="swiper-slide">
                        <div class="game-box" @click="goTab(3)">
                          <div class="game-img">
                            <img :src="siteSettingsInfo.managerCDNUrl + 'aae/img/home/slot/CQ9.png'" class="swiper-lazy" alt="" />
                          </div>
                          <div class="game-info">
                            <div class="game-name">JUNGLE BEATS6</div>
                            <div class="game-type">Fast Spin Slot</div>
                          </div>
                        </div>
                      </swiper-slide>
                      <swiper-slide class="swiper-slide">
                        <div class="game-box" @click="goTab(3)">
                          <div class="game-img">
                            <img :src="siteSettingsInfo.managerCDNUrl + 'aae/img/home/slot/DS.png'" class="swiper-lazy" alt="" />
                          </div>
                          <div class="game-info">
                            <div class="game-name">JUNGLE BEATS7</div>
                            <div class="game-type">Fast Spin Slot</div>
                          </div>
                        </div>
                      </swiper-slide>
                      <swiper-slide class="swiper-slide">
                        <div class="game-box" @click="goTab(3)">
                          <div class="game-img">
                            <img :src="siteSettingsInfo.managerCDNUrl + 'aae/img/home/slot/FC.png'" class="swiper-lazy" alt="" />
                          </div>
                          <div class="game-info">
                            <div class="game-name">JUNGLE BEATS8</div>
                            <div class="game-type">Fast Spin Slot</div>
                          </div>
                        </div>
                      </swiper-slide>
                      <swiper-slide class="swiper-slide">
                        <div class="game-box" @click="goTab(3)">
                          <div class="game-img">
                            <img :src="siteSettingsInfo.managerCDNUrl + 'aae/img/home/slot/FS.png'" class="swiper-lazy" alt="" />
                          </div>
                          <div class="game-info">
                            <div class="game-name">JUNGLE BEATS9</div>
                            <div class="game-type">Fast Spin Slot</div>
                          </div>
                        </div>
                      </swiper-slide>
                      <swiper-slide class="swiper-slide">
                        <div class="game-box" @click="goTab(3)">
                          <div class="game-img">
                            <img :src="siteSettingsInfo.managerCDNUrl + 'aae/img/home/slot/JDB.png'" class="swiper-lazy" alt="" />
                          </div>
                          <div class="game-info">
                            <div class="game-name">JUNGLE BEATS10</div>
                            <div class="game-type">Fast Spin Slot</div>
                          </div>
                        </div>
                      </swiper-slide>

                      <swiper-slide class="swiper-slide">
                        <div class="game-box" @click="goTab(3)">
                          <div class="game-img">
                            <img :src="siteSettingsInfo.managerCDNUrl + 'aae/img/home/slot/JILI.png'" class="swiper-lazy" alt="" />
                          </div>
                          <div class="game-info">
                            <div class="game-name">JUNGLE BEATS4</div>
                            <div class="game-type">Fast Spin Slot</div>
                          </div>
                        </div>
                      </swiper-slide>
                      <swiper-slide class="swiper-slide">
                        <div class="game-box" @click="goTab(3)">
                          <div class="game-img">
                            <img :src="siteSettingsInfo.managerCDNUrl + 'aae/img/home/slot/LGD.png'" class="swiper-lazy" alt="" />
                          </div>
                          <div class="game-info">
                            <div class="game-name">JUNGLE BEATS5</div>
                            <div class="game-type">Fast Spin Slot</div>
                          </div>
                        </div>
                      </swiper-slide>
                      <swiper-slide class="swiper-slide">
                        <div class="game-box" @click="goTab(3)">
                          <div class="game-img">
                            <img :src="siteSettingsInfo.managerCDNUrl + 'aae/img/home/slot/MG.png'" class="swiper-lazy" alt="" />
                          </div>
                          <div class="game-info">
                            <div class="game-name">JUNGLE BEATS6</div>
                            <div class="game-type">Fast Spin Slot</div>
                          </div>
                        </div>
                      </swiper-slide>
                      <swiper-slide class="swiper-slide">
                        <div class="game-box" @click="goTab(3)">
                          <div class="game-img">
                            <img :src="siteSettingsInfo.managerCDNUrl + 'aae/img/home/slot/PG.png'" class="swiper-lazy" alt="" />
                          </div>
                          <div class="game-info">
                            <div class="game-name">JUNGLE BEATS7</div>
                            <div class="game-type">Fast Spin Slot</div>
                          </div>
                        </div>
                      </swiper-slide>
                      <swiper-slide class="swiper-slide">
                        <div class="game-box" @click="goTab(3)">
                          <div class="game-img">
                            <img :src="siteSettingsInfo.managerCDNUrl + 'aae/img/home/slot/PP.png'" class="swiper-lazy" alt="" />
                          </div>
                          <div class="game-info">
                            <div class="game-name">JUNGLE BEATS8</div>
                            <div class="game-type">Fast Spin Slot</div>
                          </div>
                        </div>
                      </swiper-slide>
                      <swiper-slide class="swiper-slide">
                        <div class="game-box" @click="goTab(3)">
                          <div class="game-img">
                            <img :src="siteSettingsInfo.managerCDNUrl + 'aae/img/home/slot/PT.png'" class="swiper-lazy" alt="" />
                          </div>
                          <div class="game-info">
                            <div class="game-name">JUNGLE BEATS9</div>
                            <div class="game-type">Fast Spin Slot</div>
                          </div>
                        </div>
                      </swiper-slide>
                      <swiper-slide class="swiper-slide">
                        <div class="game-box" @click="goTab(3)">
                          <div class="game-img">
                            <img :src="siteSettingsInfo.managerCDNUrl + 'aae/img/home/slot/RT.png'" class="swiper-lazy" alt="" />
                          </div>
                          <div class="game-info">
                            <div class="game-name">JUNGLE BEATS10</div>
                            <div class="game-type">Fast Spin Slot</div>
                          </div>
                        </div>
                      </swiper-slide>

                      <swiper-slide class="swiper-slide">
                        <div class="game-box" @click="goTab(3)">
                          <div class="game-img">
                            <img :src="siteSettingsInfo.managerCDNUrl + 'aae/img/home/slot/SG.png'" class="swiper-lazy" alt="" />
                          </div>
                          <div class="game-info">
                            <div class="game-name">JUNGLE BEATS7</div>
                            <div class="game-type">Fast Spin Slot</div>
                          </div>
                        </div>
                      </swiper-slide>
                      <swiper-slide class="swiper-slide">
                        <div class="game-box" @click="goTab(3)">
                          <div class="game-img">
                            <img :src="siteSettingsInfo.managerCDNUrl + 'aae/img/home/slot/VA.png'" class="swiper-lazy" alt="" />
                          </div>
                          <div class="game-info">
                            <div class="game-name">JUNGLE BEATS8</div>
                            <div class="game-type">Fast Spin Slot</div>
                          </div>
                        </div>
                      </swiper-slide>
                      <swiper-slide class="swiper-slide">
                        <div class="game-box" @click="goTab(3)">
                          <div class="game-img">
                            <img :src="siteSettingsInfo.managerCDNUrl + 'aae/img/home/slot/YB.png'" class="swiper-lazy" alt="" />
                          </div>
                          <div class="game-info">
                            <div class="game-name">JUNGLE BEATS9</div>
                            <div class="game-type">Fast Spin Slot</div>
                          </div>
                        </div>
                      </swiper-slide>
                      <swiper-slide class="swiper-slide">
                        <div class="game-box" @click="goTab(3)">
                          <div class="game-img">
                            <img :src="siteSettingsInfo.managerCDNUrl + 'aae/img/home/slot/YL.png'" class="swiper-lazy" alt="" />
                          </div>
                          <div class="game-info">
                            <div class="game-name">JUNGLE BEATS10</div>
                            <div class="game-type">Fast Spin Slot</div>
                          </div>
                        </div>
                      </swiper-slide>
                    </swiper>

                    <div class="view-all-live-game">
                      <a href="javascript:void(0)" @click="goClassPage('aaeEgame')">
                        {{ t("view_all_live_game") }}
                      </a>
                    </div>
                  </div>
                </div>
              </section>
              <section v-if="phoneMenu.find(item => item.no === 2)" class="hot-game-live-section">
                <div class="top-game-title">
                  <span>LOBBY AO VIVO ELEGANTE</span>
                </div>
                <div class="hot-game-live">
                  <div class="slider type02">
                    <swiper class="hot-game-live2-slider swiper" :modules="modules" :slides-per-view="'auto'" :loop="false" :looped-slides="5" :initial-slide="1" :slides-per-group="1" :autoplay="{ delay: 3000 }" :navigation="{
                        nextEl: '.jackpot__next',
                        prevEl: '.jackpot__prev',
                      }" :pagination="false" :scrollbar="false" :observer="true" :observeParents="true" :centered-slides-bounds="true" :centered-slides="true" :spaceBetween="0" :direction="'horizontal'">
                      <swiper-slide class="swiper-slide">
                        <div class="game-box" @click="goTab(2)">
                          <div class="game-img">
                            <img :src="siteSettingsInfo.managerCDNUrl + 'aae/img/home/live/live01.png'" class="swiper-lazy" />
                          </div>
                          <div class="game-info">
                            <div class="game-btn">TRẢI NGHIỆM NGAY</div>
                          </div>
                        </div>
                      </swiper-slide>
                      <swiper-slide class="swiper-slide">
                        <div class="game-box" @click="goTab(2)">
                          <div class="game-img">
                            <img :src="siteSettingsInfo.managerCDNUrl + 'aae/img/home/live/live02.png'" class="swiper-lazy" />
                          </div>
                          <div class="game-info">
                            <div class="game-btn">TRẢI NGHIỆM NGAY</div>
                          </div>
                        </div>
                      </swiper-slide>
                      <swiper-slide class="swiper-slide">
                        <div class="game-box" @click="goTab(2)">
                          <div class="game-img">
                            <img :src="siteSettingsInfo.managerCDNUrl + 'aae/img/home/live/live03.png'" class="swiper-lazy" />
                          </div>
                          <div class="game-info">
                            <div class="game-btn">TRẢI NGHIỆM NGAY</div>
                          </div>
                        </div>
                      </swiper-slide>
                      <swiper-slide class="swiper-slide">
                        <div class="game-box" @click="goTab(2)">
                          <div class="game-img">
                            <img :src="siteSettingsInfo.managerCDNUrl + 'aae/img/home/live/live04.png'" class="swiper-lazy" />
                          </div>
                          <div class="game-info">
                            <div class="game-btn">TRẢI NGHIỆM NGAY</div>
                          </div>
                        </div>
                      </swiper-slide>
                      <swiper-slide class="swiper-slide">
                        <div class="game-box" @click="goTab(2)">
                          <div class="game-img">
                            <img :src="siteSettingsInfo.managerCDNUrl + 'aae/img/home/live/live05.png'" class="swiper-lazy" />
                          </div>
                          <div class="game-info">
                            <div class="game-btn">TRẢI NGHIỆM NGAY</div>
                          </div>
                        </div>
                      </swiper-slide>
                      <swiper-slide class="swiper-slide">
                        <div class="game-box" @click="goTab(2)">
                          <div class="game-img">
                            <img :src="siteSettingsInfo.managerCDNUrl + 'aae/img/home/live/live01.png'" class="swiper-lazy" />
                          </div>
                          <div class="game-info">
                            <div class="game-btn">TRẢI NGHIỆM NGAY</div>
                          </div>
                        </div>
                      </swiper-slide>
                      <swiper-slide class="swiper-slide">
                        <div class="game-box" @click="goTab(2)">
                          <div class="game-img">
                            <img :src="siteSettingsInfo.managerCDNUrl + 'aae/img/home/live/live02.png'" class="swiper-lazy" />
                          </div>
                          <div class="game-info">
                            <div class="game-btn">TRẢI NGHIỆM NGAY</div>
                          </div>
                        </div>
                      </swiper-slide>
                      <swiper-slide class="swiper-slide">
                        <div class="game-box" @click="goTab(2)">
                          <div class="game-img">
                            <img :src="siteSettingsInfo.managerCDNUrl + 'aae/img/home/live/live03.png'" class="swiper-lazy" />
                          </div>
                          <div class="game-info">
                            <div class="game-btn">TRẢI NGHIỆM NGAY</div>
                          </div>
                        </div>
                      </swiper-slide>
                      <swiper-slide class="swiper-slide">
                        <div class="game-box" @click="goTab(2)">
                          <div class="game-img">
                            <img :src="siteSettingsInfo.managerCDNUrl + 'aae/img/home/live/live04.png'" class="swiper-lazy" />
                          </div>
                          <div class="game-info">
                            <div class="game-btn">TRẢI NGHIỆM NGAY</div>
                          </div>
                        </div>
                      </swiper-slide>
                      <swiper-slide class="swiper-slide">
                        <div class="game-box" @click="goTab(2)">
                          <div class="game-img">
                            <img :src="siteSettingsInfo.managerCDNUrl + 'aae/img/home/live/live05.png'" class="swiper-lazy" />
                          </div>
                          <div class="game-info">
                            <div class="game-btn">TRẢI NGHIỆM NGAY</div>
                          </div>
                        </div>
                      </swiper-slide>
                    </swiper>
                  </div>
                </div>
              </section>
              <section v-if="phoneMenu.find(item => item.no === 4)" class="hot-sport-game-section">
                <div class="hot-sport-game-title">
                  <span class="titleBox">{{ t("sport") }}</span>
                </div>
                <div class="hot-sport-game">
                  <div class="sport-container">
                    <div class="sport-nav-tabs position-relative">
                      <swiper class="swiper" :modules="modules" :slides-per-view="2" :speed="1000" :spaceBetween="30" :navigation="{ nextEl: '.sportNext', prevEl: '.sportPrev' }">
                        <swiper-slide v-for="game in phoneMenu.find(item => item.no === 4).subMenu" :key="game" class="swiper-slide">
                          <div class="nav-tab" @click="curSportGame = game.id" :class="curSportGame == game.id ? 'active' : ' '">
                            <div class="game-img d-table position-relative mx-auto">
                              <img :src="getImgUrl(game.id, 1)" />
                              <img class="hover-img" :src="getImgUrl(game.id, 2)" />
                            </div>
                            <div class="game-name">
                              <span>{{ game.name }}</span>
                            </div>
                          </div>
                        </swiper-slide>
                      </swiper>
                      <a class="hot-sport next dir-btn sportNext">
                        <img src="@/assets/img/icon/arrow_r.svg" alt="" />
                      </a>
                      <a class="hot-sport prev dir-btn sportPrev">
                        <img src="@/assets/img/icon/arrow_l.svg" alt="" />
                      </a>
                    </div>
                    <div class="tab-content sport-tab-content">
                      <template v-if="phoneMenu.find(item => item.no === 4).subMenu.length > 0">
                        <div class="tab-pane fade" :class="curSportGame == game.id ? 'active show' : ' '" :id="game.id" role="tabpanel" v-for="game in phoneMenu.find(item => item.no === 4).subMenu" :key="game">
                          <div class="game-box">
                            <div class="game-btn">
                              <a href="javascript:void(0)" @click="clickStart(game, phoneMenu.find(item => item.no === 4).no)" v-if="game.status === 0">
                                {{ $t("bet_now") }}
                              </a>
                              <a v-if="game.status === 2" style="background: none">
                                {{ $t("inMaintenance") }}
                              </a>
                            </div>
                          </div>
                        </div>
                      </template>
                    </div>
                  </div>
                </div>
              </section>
              <section v-if="phoneMenu.find(item => item.no === 7)" class="hot-chicken-game-section">
                <div class="hot-chicken-game-title">
                  <span class="titleBox">{{ t("sportEvents") }}</span>
                </div>
                <div class="hot-chicken-game">
                  <div class="chicken-container">
                    <div class="chicken-nav-tabs position-relative">
                      <swiper class="swiper" :slides-per-view="2" :slides-per-group="2" :speed="1000" :spaceBetween="15" :navigation="{ nextEl: '.next', prevEl: '.prev' }">
                        <swiper-slide v-for="game in phoneMenu.find(item => item.no === 7).subMenu" :key="game" class="swiper-slide">
                          <div class="nav-tab" @click="curChickenGame = game.id" :class="curChickenGame == game.id ? 'active' : ' '">
                            <div class="game-img d-table position-relative mx-auto">
                              <img :src="getImgUrl(game.id, 1)" />
                              <img class="hover-img" :src="getImgUrl(game.id, 2)" />
                            </div>
                            <div class="game-name">
                              <span>{{ game.name }}</span>
                            </div>
                          </div>
                        </swiper-slide>
                      </swiper>
                      <div class="hot-chicken next dir-btn">
                        <img src="@/assets/img/icon/arrow_r.svg" alt="" />
                      </div>
                      <div class="hot-chicken prev dir-btn">
                        <img src="@/assets/img/icon/arrow_l.svg" alt="" />
                      </div>
                    </div>
                    <div class="tab-content chicken-tab-content">
                      <template v-if="phoneMenu.find(item => item.no === 7).subMenu.length > 0">
                        <div class="tab-pane fade" :class="
                            curChickenGame == game.id ? 'active show' : ' '
                          " :id="game.id" role="tabpanel" v-for="game in phoneMenu.find(item => item.no === 7).subMenu" :key="game">
                          <div class="game-box">
                            <div class="game-btn">
                              <a href="javascript:void(0)" @click="clickStart(game, phoneMenu.find(item => item.no === 7).no)" v-if="game.status === 0">
                                {{ $t("bet_now") }}
                              </a>
                              <a v-if="game.status === 2" style="background: none">
                                {{ $t("inMaintenance") }}
                              </a>
                            </div>
                          </div>
                        </div>
                      </template>
                    </div>
                  </div>
                </div>
              </section>  
              <section v-if="phoneMenu.find(item => item.no === 6)" class="hot-fish-game-section">
                <div class="hot-fish-game-title">
                  <span class="titleBox">{{ t("fishing") }}</span>
                </div>
                <div class="hot-fish-game">
                  <div class="fish-container">
                    <div class="fish-nav-tabs position-relative">
                      <swiper class="swiper" :slides-per-view="5" :slides-per-group="5" :speed="1000" :spaceBetween="10" :navigation="{ nextEl: '.next', prevEl: '.prev' }">
                        <swiper-slide v-for="game in  phoneMenu.find(item => item.no === 6).subMenu" :key="game" class="swiper-slide">
                          <div class="nav-tab" @click="curFishGame = game.id" :class="curFishGame == game.id ? 'active' : ' '">
                            <div class="game-img d-table position-relative mx-auto">
                              <img :src="getImgUrl(game.id, 1)" />
                              <img class="hover-img" :src="getImgUrl(game.id, 2)" />
                            </div>
                            <div class="game-name">
                              <span>{{ game.name }}</span>
                            </div>
                          </div>
                        </swiper-slide>
                      </swiper>
                      <div class="next dir-btn">
                        <img src="@/assets/img/icon/arrow_r.svg" alt="" />
                      </div>
                      <div class="prev dir-btn">
                        <img src="@/assets/img/icon/arrow_l.svg" alt="" />
                      </div>
                    </div>
                    <div class="tab-content fish-tab-content">
                      <template v-if="phoneMenu.find(item => item.no === 6).subMenu.length > 0">
                        <div class="tab-pane fade" :class="curFishGame == game.id ? 'active show' : ' '" :id="game.id" role="tabpanel" v-for="game in phoneMenu.find(item => item.no === 6).subMenu" :key="game">
                          <div class="game-box">
                            <div class="game-btn">
                              <a href="javascript:void(0)" @click="clickStart(game, phoneMenu.find(item => item.no === 6).no)" v-if="game.status === 0">
                                {{ $t("bet_now") }}
                              </a>
                              <a v-if="game.status === 2" style="background: none">
                                {{ $t("inMaintenance") }}
                              </a>
                            </div>
                          </div>
                        </div>
                      </template>
                    </div>
                  </div>
                </div>
              </section>  
            </template>
            <template v-else-if="selectedGameClass?.key === 'electronic_games' || selectedGameClass?.key === 'chess_and_board_games'">
              <div v-for="(gameThirdParty, index) in selectedGameClass?.subMenu" :key="index" class="col-4">
                <template v-if="
                    gameThirdParty.status == 0 &&
                    gameThirdParty.clickAction == 2 &&
                    isLogin
                  ">
                  <router-link :to="{
                      name: 'OpenGame',
                      query: {
                        gameThirdPartyNo: gameThirdParty.gameThirdPartyNo,
                      },
                    }" target="_blank">
                    <button>
                      <img class="img-simage" :src="gameThirdParty.simage" alt="" />
                    </button>
                  </router-link>
                </template>
                <template v-else>
                  <button @click="clickStart(gameThirdParty)">
                    <img class="img-simage" :src="gameThirdParty.simage" alt="" />
                    <div v-if="gameThirdParty.status === 2" class="maintain-msg">
                      <font-awesome-icon icon="fa-solid fa-screwdriver-wrench" />
                      <span class="d-block">{{ $t("inMaintenance") }}</span>
                    </div>
                  </button>
                </template>
              </div>
            </template>
            <template v-else>
              <div v-for="(gameThirdParty, index) in selectedGameClass?.subMenu" :key="index" class="col-12">
                <template v-if="
                    gameThirdParty.status == 0 &&
                    gameThirdParty.clickAction == 2 &&
                    isLogin
                  ">
                  <router-link :to="{
                      name: 'OpenGame',
                      query: {
                        gameThirdPartyNo: gameThirdParty.gameThirdPartyNo,
                      },
                    }" target="_blank">
                    <button>
                      <img class="img-simage" :src="gameThirdParty.simage" alt="" />
                    </button>
                  </router-link>
                </template>
                <template v-else>
                  <button @click="clickStart(gameThirdParty)">
                    <img class="img-simage" :src="gameThirdParty.simage" alt="" />
                    <div v-if="gameThirdParty.status === 2" class="maintain-msg">
                      <font-awesome-icon icon="fa-solid fa-screwdriver-wrench" />
                      <span class="d-block">{{ $t("inMaintenance") }}</span>
                    </div>
                  </button>
                </template>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>


    <FooterView />
  </div>
  <phone-wallet-select-view v-if="walletSelectShow && wallets.length > 1" @hideWalletSelect="hideWalletSelect" />

  <promo-red-envelope-view />
  <!-- 底部選單 -->
  <phone-footer-menu-view :class="{'d-none': walletSelectShow && wallets.length > 1}" />
  <!-- 加載 -->
  <loading v-model:active="isLoading" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />
</template>

<script setup>
import {
  ref,
  reactive,
  watch,
  onBeforeMount,
  onMounted,
  computed,
  nextTick,
} from "vue";
import { Swiper, SwiperSlide } from "swiper/vue";
import {
  Navigation,
  Pagination,
  Scrollbar,
  A11y,
  EffectFade,
  Autoplay,
} from "swiper";
import MarqueeView from "@/components/aae/phone/PhoneMarqueeView.vue";
import PhoneFooterMenuView from "@/components/aae/phone/PhoneFooterMenuView.vue";
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import apiService from "@/api/apiService";
import { storeToRefs } from "pinia";
import { useGamesStore } from "@/store/game";
import common from "@/utils/common";
import { useI18n } from "vue-i18n";
import { startGame } from "@/api/api";
import Swal from "sweetalert2";
import Loading from "vue-loading-overlay";
import PromoRedEnvelopeView from "@/components/aae/PromoRedEnvelopeView.vue";
import PhoneWalletSelectView from '@/components/aae/phone/PhoneWalletSelectView.vue'
import "swiper/css";
import "swiper/css/pagination";
import "swiper/css/scrollbar";
import FooterView from '@/components/aae/phone/PhoneFooterView.vue';

const modules = [Navigation, Pagination, Scrollbar, A11y, EffectFade, Autoplay];
const store = useStore();
const games = useGamesStore();
const { t, locale } = useI18n();
const router = useRouter();
const { phoneMenu } = storeToRefs(games);
const { errorHandling, stringToMoney, refreshWallets, getLogo, getPhoneBanner, selectTab } = common();
const homeBanners = ref([]);
const selectedGameClass = ref("");
const isLoading = ref(false);
const gameClass = ref("");
const refreshIcon = ref(null);
const redPacketShow = ref(false);
const homePromoRedEnvelope = ref(null);
const downloadUrl = ref("");
const walletSelectShow = ref(false)
const logo = ref('');
const isLogin = computed(() => store.state.isLogin);
const user = computed(() => store.state.user);
const wallets = computed(() => store.state.wallets);
const lang = computed(() => store.state.lang);
const siteSettingsInfo = computed(() => store.state.siteSettingsInfo);
const { changeLang, getGames } = common();
const selectedLang = ref('');
const pageTarget = ref('homePage');
const matchedLangs = computed(() => store.state.matchedLangs);
// 按鈕值
const buttons = ref([
  {
    id: "CMD",
    imgUrl: siteSettingsInfo.value.managerCDNUrl + 'aae/img/sport/icon/btn_cmdSport_none.png',
    imgUrlHover: siteSettingsInfo.value.managerCDNUrl + 'aae/img/sport/icon/btn_cmdSport_active.png',
  },
  {
    id: "SBO",
    imgUrl: siteSettingsInfo.value.managerCDNUrl + 'aae/img/sport/icon/btn_sboSport_none.png',
    imgUrlHover: siteSettingsInfo.value.managerCDNUrl + 'aae/img/sport/icon/btn_sboSport_active.png',
  },
  {
    id: "BTI",
    imgUrl: siteSettingsInfo.value.managerCDNUrl + 'aae/img/sport/icon/btn_btiSport_none.png',
    imgUrlHover: siteSettingsInfo.value.managerCDNUrl + 'aae/img/sport/icon/btn_btiSport_active.png',
  },
  {
    id: "E1Sport",
    imgUrl: siteSettingsInfo.value.managerCDNUrl + 'aae/img/sport/icon/btn_e1Sport_none.png',
    imgUrlHover: siteSettingsInfo.value.managerCDNUrl + 'aae/img/sport/icon/btn_e1Sport_active.png',
  },
  {
    id: "pmsport",
    imgUrl: siteSettingsInfo.value.managerCDNUrl + 'aae/img/sport/icon/btn_pmSport_none.png',
    imgUrlHover: siteSettingsInfo.value.managerCDNUrl + 'aae/img/sport/icon/btn_pmSport_active.png',
  },
  {
    id: "WS168",
    imgUrl: siteSettingsInfo.value.managerCDNUrl + 'aae/img/casino/icon/btn_WS168Live_none.png',
    imgUrlHover: siteSettingsInfo.value.managerCDNUrl + 'aae/img/casino/icon/btn_WS168Live_active.png',
  },
  {
    id: "S128",
    imgUrl: siteSettingsInfo.value.managerCDNUrl + 'aae/img/casino/icon/btn_S128Live_none.png',
    imgUrlHover: siteSettingsInfo.value.managerCDNUrl + 'aae/img/casino/icon/btn_S128Live_active.png',
  },
  {
    id: "SV388",
    imgUrl: siteSettingsInfo.value.managerCDNUrl + 'aae/img/casino/icon/btn_sv388Live_none.png',
    imgUrlHover: siteSettingsInfo.value.managerCDNUrl + 'aae/img/casino/icon/btn_sv388Live_active.png',
  },
  {
    id: "Horsebook",
    imgUrl: siteSettingsInfo.value.managerCDNUrl + 'aae/img/casino/icon/btn_HRBLive_none.png',
    imgUrlHover: siteSettingsInfo.value.managerCDNUrl + 'aae/img/casino/icon/btn_HRBLive_active.png',
  },
  {
    id: "FastSpinFH",
    imgUrl: siteSettingsInfo.value.managerCDNUrl + 'aae/img/fish/by/by01.png',
    imgUrlHover: siteSettingsInfo.value.managerCDNUrl + 'aae/img/fish/by/by01.png',
  },
  {
    id: "YLFH",
    imgUrl: siteSettingsInfo.value.managerCDNUrl + 'aae/img/fish/by/by02.png',
    imgUrlHover: siteSettingsInfo.value.managerCDNUrl + 'aae/img/fish/by/by02.png',
  },
  {
    id: "FCGamingFH",
    imgUrl: siteSettingsInfo.value.managerCDNUrl + 'aae/img/fish/by/by05.png',
    imgUrlHover: siteSettingsInfo.value.managerCDNUrl + 'aae/img/fish/by/by05.png',
  },
  {
    id: "YesBingoFH",
    imgUrl: siteSettingsInfo.value.managerCDNUrl + 'aae/img/fish/by/by03.png',
    imgUrlHover: siteSettingsInfo.value.managerCDNUrl + 'aae/img/fish/by/by03.png',
  },
  {
    id: "SGFish",
    imgUrl: siteSettingsInfo.value.managerCDNUrl + 'aae/img/fish/by/by05.png',
    imgUrlHover: siteSettingsInfo.value.managerCDNUrl + 'aae/img/fish/by/by05.png',
  },
  {
    id: "JDBFish",
    imgUrl: siteSettingsInfo.value.managerCDNUrl + 'aae/img/fish/by/by06.png',
    imgUrlHover: siteSettingsInfo.value.managerCDNUrl + 'aae/img/fish/by/by06.png',
  },
  {
    id: "KSFish",
    imgUrl: siteSettingsInfo.value.managerCDNUrl + 'aae/img/fish/by/by06.png',
    imgUrlHover: siteSettingsInfo.value.managerCDNUrl + 'aae/img/fish/by/by06.png',
  },
  {
    id: "JILIFH",
    imgUrl: siteSettingsInfo.value.managerCDNUrl + 'aae/img/fish/by/by07.png',
    imgUrlHover: siteSettingsInfo.value.managerCDNUrl + 'aae/img/fish/by/by07.png',
  },
]);

const navIcons = ref({
  hot_game: siteSettingsInfo.value.managerCDNUrl + 'aae/img/phoneHome/hot_game.png',
  lottery_game: siteSettingsInfo.value.managerCDNUrl + 'aae/img/phoneHome/lottery_game.png',
  live_game: siteSettingsInfo.value.managerCDNUrl + 'aae/img/phoneHome/live_game.png',
  electronic_games: siteSettingsInfo.value.managerCDNUrl + 'aae/img/phoneHome/electronic_games.png',
  sport_game: siteSettingsInfo.value.managerCDNUrl + 'aae/img/phoneHome/sport_game.png',
  chess_and_board_games: siteSettingsInfo.value.managerCDNUrl + 'aae/img/phoneHome/chess_and_board_games.png',
  fishing: siteSettingsInfo.value.managerCDNUrl + 'aae/img/phoneHome/fishing.png',
  sport_event: siteSettingsInfo.value.managerCDNUrl + 'aae/img/phoneHome/sport_event.png',
})

const bannerImgs = ref({
  hot_game:'',
  lottery_game: siteSettingsInfo.value.managerCDNUrl + 'aae/img/phoneHome/banner-lottery.jpg',
  live_game: siteSettingsInfo.value.managerCDNUrl + 'aae/img/phoneHome/banner-livegame.jpg',
  electronic_games: siteSettingsInfo.value.managerCDNUrl + 'aae/img/phoneHome/banner-slotgame.jpg',
  sport_game: siteSettingsInfo.value.managerCDNUrl + 'aae/img/phoneHome/banner-sport.jpg',
  chess_and_board_games: siteSettingsInfo.value.managerCDNUrl + 'aae/img/phoneHome/banner-chess.jpg',
  fishing: siteSettingsInfo.value.managerCDNUrl + 'aae/img/phoneHome/banner-fishgame.jpg',
  sport_event: siteSettingsInfo.value.managerCDNUrl + 'aae/img/phoneHome/banner-sport_event.jpg', 
})

//主選單
const curSportGame = ref("");
const curChickenGame = ref("");
const curFishGame = ref("");


//選擇遊戲分類
const selectGameClass = (phoneMenuItem) => {
  selectedGameClass.value = phoneMenuItem;
  localStorage.setItem("gameClass", phoneMenuItem.no);
  gameClass.value = +localStorage.getItem("gameClass");
};

//點擊gameThirdParty
const clickStart = async (gameThirdParty, gameClassNo) => {
  if (gameClassNo) {
    localStorage.setItem("gameClass", gameClassNo);
  }

  // status 狀態(0=啟用,1=停用,2=維護,3=下架)
  if (gameThirdParty.status === 0) {
    const no = localStorage.getItem("gameClass");
    const gameThirdPartyNo = gameThirdParty.gameThirdPartyNo;
    const gameThirdPartyId = gameThirdParty.id;
    await games.setGameThirdPartyNo(no, gameThirdPartyNo, gameThirdPartyId, 'gameHall');
    // clickAction 點擊動作(1=進入遊戲列表,2=直接跳轉遊戲商大廳)
    if (gameThirdParty.clickAction == 2) {
      isLoading.value = true;
      try {
        await startGame(locale.value, gameThirdPartyNo, null, null);
      } catch (err) {
        if (err.response == null || err.response.status == null) {
          console.log(err);
          Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
        } else if (err.response.status == 460)
          // 遊戲維護
          Swal.fire("", t("game_maintain"), "warning");
        else errorHandling(err);
      }
      isLoading.value = false;
    } else {
      router.push("/aae/phone/PhoneGameHall");
    }
  }
};

//定義左邊小圖路徑
const leftImg = reactive([
  {
    id: 1,
    imgPath: siteSettingsInfo.value.managerCDNUrl + 'aae/img/home/casino/AG.png',
  },
  {
    id: 2,
    imgPath: siteSettingsInfo.value.managerCDNUrl + 'aae/img/home/casino/DG.png',
  },
  {
    id: 3,
    imgPath: siteSettingsInfo.value.managerCDNUrl + 'aae/img/home/casino/SEXY.png',
  },
  {
    id: 4,
    imgPath: siteSettingsInfo.value.managerCDNUrl + 'aae/img/home/casino/BG_live.png',
  },
  {
    id: 5,
    imgPath: siteSettingsInfo.value.managerCDNUrl + 'aae/img/home/casino/EBET.png',
  },
  {
    id: 6,
    imgPath: siteSettingsInfo.value.managerCDNUrl + 'aae/img/home/casino/Macau.png',
  },
  {
    id: 7,
    imgPath: siteSettingsInfo.value.managerCDNUrl + 'aae/img/home/casino/BBIN.png',
  },
  {
    id: 8,
    imgPath: siteSettingsInfo.value.managerCDNUrl + 'aae/img/home/casino/EV.png',
  },
  {
    id: 9,
    imgPath: siteSettingsInfo.value.managerCDNUrl + 'aae/img/home/casino/MG.png',
  },
  {
    id: 10,
    imgPath: siteSettingsInfo.value.managerCDNUrl + 'aae/img/home/casino/PP.png',
  },
  {
    id: 11,
    imgPath: siteSettingsInfo.value.managerCDNUrl + 'aae/img/home/casino/PT.png',
  },
  {
    id: 12,
    imgPath: siteSettingsInfo.value.managerCDNUrl + 'aae/img/home/casino/Venus.png',
  },
]);

// 取得圖片連結 (1=圖片, 2=點選圖片)
function getImgUrl(value, itype) {
  let item = buttons.value.find(
    (item) => item.id.toLowerCase() == value.toLowerCase()
  );
  if (item) {
    switch (itype) {
      case 1:
        return item.imgUrl;
      case 2:
        return item.imgUrlHover;
    }
    return "";
  }
}

//判斷紅包按鈕要不要顯示，並綁定按鈕
const getRedPacketInfo = () => {
  const params = {
    sessionKey: "",
    currencyNo: +localStorage.getItem('currencyNo'),
  };
  apiService
    .post("/Promotion/RedPacket/Info", params)
    .then((res) => {
      redPacketShow.value = res.data.status === 1 ? false : true;
      nextTick(() => {
        if (homePromoRedEnvelope.value) {
          homePromoRedEnvelope.value.classList.add("active");
          var phonePromoRed = document.getElementById("promoRed");
          phonePromoRed.addEventListener("show.bs.modal", function () {
            homePromoRedEnvelope.value.classList.remove("active");
          });
          phonePromoRed.addEventListener("hide.bs.modal", function () {
            homePromoRedEnvelope.value.classList.add("active");
          });
        }
      });
    })
    .catch((err) => {
      errorHandling(err);
    });
};

const hideWalletSelect = () => {
  walletSelectShow.value = false
}

const goTab = (gameClassIndex) => {
  let phoneMenuItem = phoneMenu.value.find(item => item.no === gameClassIndex);
  selectedGameClass.value = phoneMenuItem;
  localStorage.setItem("gameClass", phoneMenuItem.no);
  gameClass.value = +localStorage.getItem("gameClass");
  window.scrollTo(0, 0);
}

watch(
  //剛進網站時API抓好資料再設定好遊戲種類
  () => phoneMenu.value,
  () => {
    gameClass.value = +localStorage.getItem("gameClass");
    selectedGameClass.value = phoneMenu.value[gameClass.value];
  }
);

watch(
  () => lang.value,
  async () => {
    homeBanners.value = await getPhoneBanner(0, 1);
  }
)

watch(
  () => wallets.value,
  () => {
    games.filterPhoneHeaderMenuByCurrency();
    getRedPacketInfo();
  }
)
//修改語系
const changeLangAndGames = async () => {
  changeLang(selectedLang.value)
  getGames("getPhoneGameList");
}
onBeforeMount(async () => {
  homeBanners.value = await getPhoneBanner(0, 1);
  //從別的頁面到這時，設定好遊戲種類
  gameClass.value = +localStorage.getItem("gameClass");
  if (phoneMenu.value.length > 0) {
    selectedGameClass.value = phoneMenu.value[gameClass.value];
    if (phoneMenu.value.find(item => item.no === 4).subMenu.length > 0) {
       curSportGame.value = phoneMenu.value.find(item => item.no === 4).subMenu[0].id;
    }
    if (phoneMenu.value.find(item => item.no === 7).subMenu.length > 0) {
      curChickenGame.value = phoneMenu.value.find(item => item.no === 7).subMenu[0].id;
    }
    if (phoneMenu.value.find(item => item.no === 6).subMenu.length > 0) {
      curFishGame.value = phoneMenu.value.find(item => item.no === 6).subMenu[0].id;
    }
  }
});

onMounted(async () => {
  getRedPacketInfo();
  selectedLang.value = lang.value
  downloadUrl.value = "/#/download?lang=" + localStorage.getItem("locale");
  logo.value = await getLogo(0, 11);
});
</script>

<style lang="scss" scoped>
.phone-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1b2026;
  padding: 0.5rem;
  .header-top-logo {
    width: 30%;
  }
  .downLoad-app {
    background: linear-gradient(180deg, #b0dfd9 0%, #009688 100%);
    border-radius: 5px;
    padding: 0.2rem 0.6rem;
  }
  .loginbox {
    a {
      padding: 0.2rem 0.6rem;
      border-radius: 18px;
      &:first-child {
        background: #f1ac33;
        color: #231f20;
      }
      &:last-child {
        background: #231f20;
        color: #fff;
      }
    }
  }
  .signedBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    .vip-btn {
      background: linear-gradient(180deg, #9d2024 0%, #3f0303 100%);
      border-radius: 5px;
      display: inline-block;
      width: 40px;
      font-style: italic;
      margin-right: 10px;
      font-weight: 700;
      height: 20px;
      text-align: center;
    }
    .userName {
      font-size: 14px;
    }
    .isSigned {
      border-right: none;
      padding: 0;
      font-size: 0.6rem;
      display: flex;
      align-items: center;
    }
    .balance {
      display: flex;
      justify-content: space-between;
      background: rgba(217, 217, 217, 0.1);
      border-radius: 30px;
      padding-left: 0.3rem;
      font-size: 0.6rem;
      width: 95%;
      align-items: center;
      margin-right: 0.2rem;
      img {
        width: 18px;
        margin-bottom: 0.1rem;
        margin-right: 0.2rem;
      }
      .amount {
        margin-left: 5px;
        font-size: 14px;
      }

      .refreshIcon {
        margin-left: 5px;
        margin-top: 5px;
        width: 20px !important;

        &.motion {
          animation-name: motion01;
          animation-duration: 1s;
          animation-delay: 0s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          animation-fill-mode: none;

          @keyframes motion01 {
            0% {
              transform: rotate(0deg);
            }

            100% {
              transform: rotate(360deg);
            }
          }
        }
      }
    }
  }
}
.phone {
  background: #0a0a0a;
  font-weight: normal;
  overflow: hidden;
  overflow-y: auto;

  .phone-header {
    background: #004d3d;
    border-radius: 5px;
    display: flex;
    padding: 0.3rem 0rem;
    margin: 0.5rem;
    .sign {
      width: 50%;
      border-right: 1px solid #e4e5e8;
      white-space: nowrap;
      font-size: 0.6rem;
      text-align: center;
      padding-top: 20px;

      .login-btn {
        background: linear-gradient(180deg, #9d2024 0%, #231919 100%);
        border-radius: 41px;
        display: inline-block;
        min-width: 80px;
        margin-right: 5px;
        height: 24px;
      }
      .register-btn {
        border: 1px solid #f6da98;
        display: inline-block;
        border-radius: 41px;
        color: #f6da98;
        min-width: 80px;
      }
    }
    .quick-funciton {
      width: 50%;
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      font-size: 0.8rem;
      padding-top: 0.2rem;
      & > div {
        margin: 0 0.3rem;
      }
      a {
        white-space: nowrap;
      }
      img {
        width: 32px;
        height: 32px;
      }
    }
    .isSigned-content {
      width: 45%;
      border-right: 1px solid #e4e5e8;
      margin-right: 1rem;
      padding-left: 8px;
      .vip-btn {
        background: linear-gradient(180deg, #9d2024 0%, #3f0303 100%);
        border-radius: 5px;
        display: inline-block;
        width: 50px;
        font-style: italic;
        margin-right: 10px;
        font-weight: 700;
        height: 20px;
      }
      .userName {
        font-size: 14px;
      }
      .isSigned {
        border-right: none;
        padding: 0;
        font-size: 0.6rem;
      }
      .balance {
        display: flex;
        justify-content: space-between;
        background: rgba(217, 217, 217, 0.1);
        border-radius: 30px;
        padding-left: 0.3rem;
        font-size: 0.6rem;
        margin-top: 0.3rem;
        width: 95%;
        align-items: center;
        img {
          width: 18px;
          margin-bottom: 0.1rem;
          margin-right: 0.2rem;
        }
        .amount {
          margin-left: 5px;
          font-size: 14px;
        }

        .refreshIcon {
          margin-left: 5px;
          margin-top: 5px;
          width: 20px !important;

          &.motion {
            animation-name: motion01;
            animation-duration: 1s;
            animation-delay: 0s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-fill-mode: none;

            @keyframes motion01 {
              0% {
                transform: rotate(0deg);
              }

              100% {
                transform: rotate(360deg);
              }
            }
          }
        }
      }
    }
  }
  .phone-main {
    padding: 0.5rem;
    
    margin-top: -20px;
    .d-flex {
      flex-direction: column;
    }
    &.noBanner {
      height: calc(100vh - 205px);
    }
    .nav {
      width: 100%;
      padding-bottom: 0.5rem;
      flex-direction: row;
      background: #231f20;
      padding: 0.5rem;
      margin-bottom: 10px;
      position: relative;
      z-index: 9;
      border-radius: 10px;
      &.navNoBanner {
        height: calc(100vh - 225px);
      }
      .nav-link {
        position: relative;
        width: 12.5%;
        z-index: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding: 2px 4px;
        span {
          width: 100%;
          max-width: 40px;
          line-height: 20px;
          font-size: 0.6rem;
          color: #fff;
          pointer-events: none;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          height: 20px;
          padding-top: 0.15rem;
          text-align: center;
        }
        &.active {
          color: #000;
          font-weight: 900;
          span {
            /* background: linear-gradient(
              180deg,
              #c0a253 0%,
              #fee799 16.67%,
              #fefefb 31.77%,
              #fee799 47.92%,
              #fee799 79.17%,
              #c0a253 98.96%
            );
            border-radius: 0px 0px 10px 10px; */
            color: #ebb32d;
          }
        }
      }
      img {
        width: 24px;
        height: 24px;
        margin: 0 auto;
        display: block;
      }
    }
    .content {
      width: 100%;
      padding-top: 220px;
      flex-grow: 1;
      background-size: 480px;
      background-repeat: no-repeat;
      background-position-x: center;
      &.contentNoBanner {
        height: calc(100vh - 205px);
      }
      &.hot_game {
        padding-top: 0;
      }
      .img-block {
        height: 116.5px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      .row {
        margin-left: -4px;
        margin-right: -4px;
        .col-4,
        .col-6,
        .col-12 {
          padding-right: 4px;
          padding-left: 4px;
        }
      }
      button {
        display: inline-block;
        background-color: transparent;
        border-radius: 4px;
        padding: 2px;
        margin-bottom: 0.3rem;
        width: 100%;

        .maintain-msg {
          position: absolute;
          top: 0;
          left: 0;
          overflow: hidden;
          background: #00000079;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 4px;
          z-index: 3;
          flex-direction: column;
          color: #b8b8b8;
          svg {
            font-size: 1.5rem;
          }
        }
      }
      .img-simage {
        width: 100%;
      }
    }
  }
}

.homePromo-redEnvelope {
  position: fixed;
  right: 5px;
  bottom: 90px;
  z-index: 10;
  cursor: pointer;
  transform: translateX(100px);

  &.active {
    animation-name: ani;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  img {
    width: 70px;
  }
}
@keyframes ani {
  0% {
    transform: translateX(100px);
    animation-timing-function: ease-out;
  }
  20% {
    transform: translateX(0px);
    animation-timing-function: ease-in;
  }
  40% {
    transform: translateX(15px);
    animation-timing-function: ease-out;
  }
  60% {
    transform: translateX(0px);
    animation-timing-function: ease-in;
  }
  80% {
    transform: translateX(7px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0);
  }
}
.swiper-slide {
  img {
    border-radius: 0;
  }
}

section.top-game-section {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;

  .top-game {
    width: 100%;
    padding: 0rem 0.625rem 0.625rem 0.625rem;
    transition: 0.2s;
    background: url('@/assets/aae/img/home/homeLiveGameBg.png') no-repeat;
    background-size: 100% 100%;
    border-radius: 0;

    .top-game-title {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 2rem;
      span {
        font-size: 0.25rem;

        text-transform: none;
        color: #f1ac33;
      }
      span.title {
        position: relative;
        display: inline-block;
        padding: 0;
        font-size: 0.75rem;
        color: #fff;

        &::after {
          content: '';
          display: inline-block;
          background: url('@/assets/aae/img/home/line-title.png') no-repeat center
            left;
          background-size: 100% 100%;
          height: 1rem;
          width: 3.5rem;
          vertical-align: middle;
          margin-left: 0.3125rem;
          position: absolute;
          top: 3px;
        }
      }
      span.descript {
        transform: scale(0.85);
        line-height: 1rem;
      }
    }

    .slider {
      width: calc(100% - 3rem);
      max-width: 100%;
      margin: auto;

      .top-game1-slider {
        width: 45%;

        img {
          width: 100%;
        }
      }

      .top-game2-slider {
        width: 100%;
        :deep(.swiper-slide) {
          position: relative;
          div:hover {
            &::before {
              position: absolute;
              content: '';
              background-image: url(@/assets/aae/img/home/img-blur.png);
              background-repeat: no-repeat;
              background-size: 100% 100%;
              background-position: center;
              width: 100%;
              height: 100%;
              cursor: pointer;
            }
          }
        }
        img {
          width: 100%;
          width: 22.2115rem;
          height: auto;
          border-radius: 10px;
        }
      }
    }
  }
  .btnPrev {
    position: absolute;
    left: 0.3125rem;
    top: 3.5rem;
    img {
      width: 0.625rem;
      height: auto;
    }
  }
  .btnNext {
    position: absolute;
    right: 0.3125rem;
    top: 3.5rem;
    img {
      width: 0.625rem;
      height: auto;
    }
  }
}
.hot-live-game-section {
  width: calc(100% - 8.3076rem);
  max-width: 100%;
  margin: 0 auto;
  margin-top: 0rem;
  .hot-live-game-title {
    margin: 1rem auto 1.5rem auto;
    width: calc(100% - 8.3076rem);
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5rem;
    span {
      font-size: 1.4423rem;
      text-transform: none;
      color: #f1ac33;
    }
    span.titleBox {
      position: relative;
      display: inline-block;
      padding: 0.5rem;
      font-size: 2.4rem;
      color: #fff;

      &::before {
        content: '';
        position: absolute;
        top: -1.9rem;
        right: -12rem;
        background: url('@/assets/aae/img/home/line-title.png') no-repeat center left;
        height: 100px;
        width: 169px;
      }
    }
  }

  .slider {
    position: relative;
    display: flex;
    //justify-content: center;
    align-items: center;
    width: calc(100% - 40px);
    max-width: 100%;
    margin: auto;
    margin: 8rem 0 5rem 0;
    margin: auto;

    &.type02 {
      margin-top: -4.4853rem;
      z-index: 9;
      //background: #069f7d;
      .swiper-wrapper {
        .swiper-slide {
          width: 20%;
          /* transform: scale(0.9); */
          /* &:hover {
            transform: scale(1.1);
            transition: all 0.5s ease;
          } */
          .game-box {
            border: 1px solid transparent;
            border-radius: 15px;
            background: #2b2827;
            .game-info {
              .game-name {
                font-size: 0.6rem;
                color: #f1ac33;
                text-align: center;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
              }
              .game-type {
                font-size: 0.5rem;
                color: #fff;
                text-align: center;
              }
            }
          }
        }
        .swiper-slide-active {
          transform: scale(1.2);
          transition: all 0.5s ease;
          border-radius: 10px;
          border: 1.2px solid;
          border-image: linear-gradient(to top, #f4780b, #fff) 0.5;
          mask-image: url('@/assets/aae/img/home/slotexample.png');
          .game-box {
            border-radius: 10px;
            background: #000;

            .game-img {
              width: 100%;
              position: relative;
              &::before {
                position: absolute;
                content: '';
                background-image: url(@/assets/aae/img/home/img-blur2.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-position: center;
                width: 100%;
                height: 100%;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .hot-live-game1-slider {
      width: 40%;
    }

    .hot-live-game2-slider {
      padding: 2rem;
      width: 60%;
      width: 57.6923rem;
      margin-left: 1.5rem;
      margin-bottom: 6.5rem;
    }

    .view-all-live-game {
      position: absolute;
      display: flex;
      justify-content: center;
      left: 4.25192rem;
      bottom: 0.25rem;
      border-radius: 5px;
      border: 2px solid #ecd0a0;
      padding: 5px 0.15rem 5px 0.15rem;
      color: #ecd0a0 !important;
      text-align: center;
      width: 60px;
      cursor: pointer;
      background: url(@/assets/aae/img/home/basebtn.png) no-repeat;
      background-size: 100% 100%;
      border: 0;
      color: #fff !important;
      font-size: 0.3rem;
      line-height: 0.6rem;

      & a {
        position: relative;
        color: #ecd0a0 !important;
        color: #fff !important;
        font-size: 0.4rem;
        white-space: nowrap;
      }
    }
    .movieBlock {
      display: flex;
      justify-content: center;
      align-content: center;
      width: 40%;
      height: auto;
      width: 50%;
      padding: 10px;
      border-radius: 15px;
      background: linear-gradient(
        to right,
        #eabe55,
        #ddae44,
        #fcf2b5,
        #b79349,
        #fdd05d,
        #e0b145,
        #e7c062,
        #eabe55,
        #fef5ba,
        #b79349,
        #fed15e,
        #f2c253,
        #deaf43
      );
      .movieItemiframeBg {
        position: relative;
        width: 100%;
        height: auto;
        z-index: 1;
        & img {
          width: 100%;
          height: auto;
        }
      }
      .movieItemiframe {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
      }
    }
  }
}
.hot-slot-game-section {
  width: 100%;
  margin-top: 0rem;
  background: url(@/assets/aae/img/home/homeSlotGameBg.png) no-repeat;
  background-size: 100% 100%;
  padding: 0rem 0.625rem 1.625rem 0.625rem;
  .hot-slot-game-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    span {
      font-size: 0.25rem;
      text-transform: none;
      color: #f1ac33;
    }
    span.titleBox {
      position: relative;
      display: inline-block;
      padding: 0.05rem;
      font-size: 0.75rem;
      color: #fff;

      &::after {
        content: '';
        display: inline-block;
        background: url('@/assets/aae/img/home/line-title.png') no-repeat center left;
        background-size: 100% 100%;
        height: 1rem;
        width: 3.5rem;
        vertical-align: middle;
        margin-left: 0.3125rem;
      }
    }
  }

  .slider {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;

    &.type02 {
      z-index: 9;
      .swiper-wrapper {
        .swiper-slide {
          width: 20%;
          .game-box {

            .game-info {
              transform: scale(0.8);

              .game-name {
                font-size: 0.3rem;
                color: #f1ac33;
                text-align: center;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                line-height: 0.8rem;
              }
              .game-type {
                font-size: 0.01rem;
                color: #fff;
                text-align: center;
                line-height: 0.8rem;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }
          }
        }
        .swiper-slide-active {
          transform: scale(1.2);
          transition: all 0.5s ease;
          border-radius: none;
          border: none;
          // border-image: linear-gradient(to top, #f4780b, #fff) 0.5;
          // mask-image: url('@/assets/aae/img/home/slotexample.png');
          .game-box {
            background: none;
            .game-img {
              width: 100%;
              position: relative;
              &::before {
                position: absolute;
                content: '';
                background-image: url(@/assets/aae/img/phone/img-blur2.png);
                background-color: #00000098;
                background-repeat: no-repeat;
                background-size: 100%;
                border-radius: 4px;
                background-position: center;
                width: 97%;
                height: 95%;
                margin-top: 2px;
                margin-left: 1px;

              }
            }
            .game-info {
              transform: scale(0.71);
            }
          }
        }
      }
    }

    .hot-live-game1-slider {
      width: 20%;
    }

    .hot-slot-game2-slider {
      padding: 0.5rem 0;
      width: 100%;
      margin-left: 0.15rem;
      margin-bottom: 0.65rem;
      .game-info {
        display: none;
      }
    }

    .view-all-live-game {
      position: absolute;
      display: flex;
      justify-content: center;
      left: 13rem;
      bottom: -1rem;
      border-radius: 5px;
      border: 2px solid #ecd0a0;
      padding: 5px 0.5rem;
      color: #ecd0a0 !important;
      text-align: center;
      cursor: pointer;
      background: url(@/assets/aae/img/home/basebtn.png) no-repeat;
      background-size: 100% 100%;
      border: 0;
      color: #fff !important;
      line-height: 0.6rem;

      & a {
        position: relative;
        color: #ecd0a0 !important;
        color: #fff !important;
        font-size: 0.4rem;
        white-space: nowrap;
      }
    }
    .movieBlock {
      display: flex;
      justify-content: center;
      align-content: center;
      width: 40%;
      height: auto;
      width: 50%;
      height: 27.8076rem;
      //background-color: #069f7d;
      //border: 10px solid #fff;
      //border-image: linear-gradient(to right, #eabe55, #ddae44, #fcf2b5, #b79349, #fdd05d, #e0b145, #e7c062, #eabe55,#fef5ba,#b79349,#fed15e,#f2c253, #deaf43) 1;
      //border-image-slice: 1;
      //overflow: hidden;
      padding: 10px;
      border-radius: 15px;
      background: linear-gradient(
        to right,
        #eabe55,
        #ddae44,
        #fcf2b5,
        #b79349,
        #fdd05d,
        #e0b145,
        #e7c062,
        #eabe55,
        #fef5ba,
        #b79349,
        #fed15e,
        #f2c253,
        #deaf43
      );
      .movieItemiframeBg {
        position: relative;
        width: 100%;
        height: auto;
        z-index: 1;
        & img {
          width: 100%;
          height: auto;
        }
      }
      .movieItemiframe {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
      }
    }
  }
}
.hot-game-live-section {
  width: 100%;
  margin: .5rem auto;
  height: 9.5rem;
  .top-game-title {
    width: 100%;
    text-align: center;
    img {
      width: 50%;
      max-width: 120px;
    }
  }
  .hot-game-live-title {
    margin: 0.1rem auto 0.15rem auto;
    /* width: calc(100% - 8.3076rem); */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.25rem;
    span {
      font-size: 0.5rem;
      text-transform: none;
      color: #f1ac33;
    }
    span.titleBox {
      position: relative;
      display: inline-block;
      padding: 0.2rem;
      font-size: 0.6rem;
      color: #fff;

      &::before {
        content: '';
        position: absolute;
        top: -1.9rem;
        right: -12rem;
        background: url('@/assets/aae/img/home/line-title.png') no-repeat center left;
        height: 100px;
        width: 169px;
      }
    }
  }

  .slider {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;

    &.type02 {
      z-index: 9;
      .swiper-wrapper {
        .swiper-slide {
          width: 20%;
          margin-top: -1.5rem;
          .game-box {
            text-align: center;
            .game-img {
              width: 100%;
              position: relative;
              opacity: 0.6;
            }
            .game-info {
              text-align: center;
              .game-btn {
                // display: flex;
                display: none;
                justify-content: center;
                padding: 5px 0.15rem 5px 0.15rem;
                width: 100%;
                text-align: center;
                cursor: pointer;
                background: url(@/assets/aae/img/home/basebtn.png) no-repeat;
                background-size: 100% 100%;
                border: 0;
                color: #fff !important;
                margin: auto;
                opacity: 0;
                font-size: 0.1rem;
                line-height: 0.7rem;
                transform: scale(0.8);
              }
            }
          }
        }
        .swiper-slide-active {
          transform: scale(1.2);
          transition: all 0.5s ease;
          margin-top: 0.5rem;
          .game-box {
            .game-img {
              width: 100%;
              position: relative;
              opacity: 1;
            }
            .game-info {
              .game-btn {
                opacity: 0;
              }
            }
          }
        }
        .swiper-slide-prev,
        .swiper-slide-next {
          margin-top: -1rem;
        }
      }
    }

    .hot-game-live2-slider {
      padding: 0.2rem;
      width: 100%;
      // width: 82.1538rem;
      margin-left: 0.15rem;
      margin-bottom: 0.25rem;
      padding-top: 1.05rem;
      overflow: initial;
    }
  }
}
.section--home--live.declare {
  a {
    margin: 1.5rem 1.5rem 0 1.5rem;
  }
}
.hot-sport-game-section {
  width: 100%;
  background: url(@/assets/aae/img/phoneHome/sportBg.png) no-repeat;
  background-size: 100% 97%;
  padding: 01rem 0.625rem;
  margin-bottom: 10px;
  .hot-sport-game-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    .titleBox {
      font-size: 0.6rem;
      color: #fff;
      &::after {
        content: '';
        display: inline-block;
        background: url('@/assets/aae/img/home/line-title.png') no-repeat center left;
        background-size: 100% 100%;
        height: 1rem;
        width: 3.5rem;
        vertical-align: middle;
        margin-left: 0.3125rem;
      }
    }
  }
  .hot-sport-game {
    .sport-container {
      position: relative;
      width: 100%;
      /* padding-bottom: 2rem;*/
      margin: auto;
      .sport-nav-tabs {
        width: 41%;
        margin: 0 auto 0.5rem 22%;

        .swiper-slide {
          position: relative;
          .nav-tab {
            .hover-img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              opacity: 0;
              transition: opacity 0.3s;
            }
            .game-name {
              font-size: 8px;
              margin-top: 4px;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              display: none;
            }
          }
          .nav-tab.active {
            .hover-img {
              opacity: 1;
            }
          }
        }
        .hot-sport.dir-btn {
          position: absolute;
          top: 43%;
          transform: translateY(-50%);
          z-index: 1;
          cursor: pointer;
          width: 7px;
          opacity: 1;
        }

        .dir-btn.prev {
          left: -26px;
        }

        .dir-btn.next {
          right: -26px;
        }
      }
      .game-box {
        padding: 0 10px;
        display: flex;
        justify-content: center;
        .game-btn {
          display: flex;
          justify-content: center;
          padding: 5px 0.15rem 5px 0.15rem;
          width: 80px;
          text-align: center;
          cursor: pointer;
          background: url(@/assets/aae/img/home/basebtn.png) no-repeat;
          background-size: 100% 100%;
          border: 0;
          color: #fff !important;
          opacity: 1;
          font-size: 0.4rem;
          line-height: 0.6rem;
        }
      }
    }
  }
}
.hot-chicken-game-section {
  width: 100%;
  background: url(@/assets/aae/img/phone/cockFightingBg.png) no-repeat;
  background-size: 100% 97%;
  padding: 2rem 0.625rem 1rem 0.625rem;
  margin-bottom: 10px;
  .hot-chicken-game-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -1rem;
    .titleBox {
      font-size: 0.6rem;
      color: #fff;
      &::after {
        content: '';
        display: inline-block;
        background: url('@/assets/aae/img/home/line-title.png') no-repeat center left;
        background-size: 100% 100%;
        height: 1rem;
        width: 3.5rem;
        vertical-align: middle;
        margin-left: 0.3125rem;
      }
    }
  }
  .hot-chicken-game {
    .chicken-container {
      position: relative;
      width: 100%;
      /* padding-bottom: 2rem;
      padding-top: 1.5rem; */
      margin: auto;
      .chicken-nav-tabs {
        width: 40%;
        margin: 0 auto 0.5rem 22%;
        .swiper-slide {
          .nav-tab {
            cursor: pointer;
            .hover-img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              opacity: 0;
              transition: opacity 0.3s;
            }
            .game-name {
              font-size: 8px;
              margin-top: 4px;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              display: none;
            }
          }
          .nav-tab.active {
            .hover-img {
              opacity: 1;
            }
          }
        }
        .dir-btn {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 1;
          cursor: pointer;
          width: 7px;
        }
        .hot-chicken.dir-btn {
          position: absolute;
          top: 37% !important;
          transform: translateY(-50%);
          z-index: 1;
          cursor: pointer;
          width: 7px;
          opacity: 0;
        }
        .dir-btn.prev {
          left: 0;
        }

        .dir-btn.next {
          right: 40px;
        }
      }
      .game-box {
        padding: 0 10px;
        display: flex;
        justify-content: center;
        .game-btn {
          display: flex;
          justify-content: center;
          padding: 5px 0.15rem 5px 0.15rem;
          width: 80px;
          text-align: center;
          cursor: pointer;
          background: url(@/assets/aae/img/home/basebtn.png) no-repeat;
          background-size: 100% 100%;
          border: 0;
          color: #fff !important;
          opacity: 1;
          font-size: 0.4rem;
          line-height: 0.6rem;
        }
      }
    }
  }
}
.hot-fish-game-section {
  width: 100%;
  background: url(@/assets/aae/img/phone/fishingBg.png) no-repeat;
  background-size: 100% 97%;
  padding: 2rem 0.625rem 1rem 0.625rem;
  margin-bottom: 1.5rem;
  .hot-fish-game-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -1rem;
    margin-bottom: 1rem;
    .titleBox {
      font-size: 0.6rem;
      color: #fff;
      &::after {
        content: '';
        display: inline-block;
        background: url('@/assets/aae/img/home/line-title.png') no-repeat center left;
        background-size: 100% 100%;
        height: 1rem;
        width: 3.5rem;
        vertical-align: middle;
        margin-left: 0.3125rem;
      }
    }
  }
  .hot-fish-game {
    .fish-container {
      position: relative;
      width: 100%;
      /* padding-bottom: 2rem;
      padding-top: 1.5rem; */
      margin: auto;
      .fish-nav-tabs {
        width: 80%;
        padding: 0 10px;
        margin-bottom: 1rem;
        // margin: 0 auto .5rem auto;
        .swiper-slide {
          .nav-tab {
            cursor: pointer;
            .game-img {
              position: relative;
            }
            .hover-img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              opacity: 0;
              transition: opacity 0.3s;
            }
            .game-name {
              font-size: 8px;
              margin-top: 4px;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              position: absolute;
              bottom: -5px;
              scale: (0.85);
              width: 3rem;
            }
          }
          .nav-tab.active {
            .hover-img {
              opacity: 1;
            }
          }
        }
        .dir-btn {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 1;
          cursor: pointer;
          width: 7px;
        }

        .dir-btn.prev {
          left: 0;
          display: none;
        }

        .dir-btn.next {
          right: 0;
          display: none;
        }
      }
      .game-box {
        display: flex;
        justify-content: center;
        .game-btn {
          display: flex;
          justify-content: center;
          padding: 5px 0.15rem 5px 0.15rem;
          width: 80px;
          text-align: center;
          cursor: pointer;
          background: url(@/assets/aae/img/home/basebtn.png) no-repeat;
          background-size: 100% 100%;
          border: 0;
          color: #fff !important;
          opacity: 1;
          font-size: 0.4rem;
          line-height: 0.6rem;
        }
      }
    }
  }
}

//語言選單
.btnItem {
  border-radius: 5px;
  min-width: 0 !important;
  box-shadow: none;
  .lanImg {
    padding-bottom: .13rem;
    width: 22px;
  }
  .iconBox {
    margin: 0;
  }

  .btnName {
    display: inline-block;
    margin-left: 0.2rem;
    
  }
}

/*選擇幣別 */
.pCurrencyInfo {
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;

  /*傳統充值headerTop */
  .headerTop {
    position: fixed;
    width: 100%;
    height: 78px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 1.1rem;
    z-index: 10;
    padding: 23px 0 0 0;

    .backBtn {
      position: absolute;
      left: 18px;
      height: 40px;
      width: 40px;
      //background-color: #009688;
      padding: 0 30px 0 0;

      & img {
        max-width: 10px;
        width: 10px;
      }
    }
  }

  .pMidBoardBg {
    width: 100vw;
    padding: 10px 0px 180px 0px;
    height: calc(100vh - 55px);
    background-color: rgba(0, 0, 0, 0.5);
    background-color: #f5f5f5;
    //background-color: rgba(172, 41, 41, 1);
    margin: 78px 0 0 0;
    overflow-y: auto;
  }

  /*白色區塊CSS */
  .pMidBoardBox {
    position: relative;
    display: block;
    width: calc(100vw - 20px);
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    color: #000;
    margin: 0px 10px 10px 10px;

    &.type02 {
      padding: 0 0 10px 0;
    }

    /*充值方式選項內容清單BTN */
    .pWithdrawBarBox {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      //background-color: #803030;
      padding: 10px;
      border-bottom: 1px solid #d9d9d9;

      .infoTextBox {
        display: block;
        width: calc(100% - 41px);
        margin: 0 5px 0 10px;
        //background-color: #a33069;

        .infoText01 {
          display: flex;
          justify-content: left;
          font-size: 0.9rem;
          font-weight: 700;
          line-height: 1.1rem;
          color: #000;

          .infoText01TagBox {
            display: flex;
            align-items: center;
            font-size: 0.6rem;
            font-weight: 400;
            line-height: 0.8rem;
            color: #6f6f6f;
            padding: 2px 5px;
            margin: 0 5px 0 0;
            border: 1;
            border: 1px solid #b83830;
            border-radius: 3px;
            box-sizing: border-box;
            white-space: nowrap;
          }
        }

        .infoText02 {
          margin: 3px 0 0 0;
          font-size: 0.6rem;
          font-weight: 400;
          line-height: 0.7rem;
          color: #6f6f6f;
          //background-color: #2DCD6C;
        }
      }

      .iconBox {
        display: flex;
        align-items: center;
        //background-color: #2DCD6C;
        width: 36px;

        & img {
          width: 100%;
          height: auto;
          max-height: 36px;
        }
      }
    }

    /*充值方式選項內容清單QRCODE */
    .qrcodeBlock {
      display: block;
      width: calc(100% - 20px);
      margin: 10px 10px 0 10px;
      //background-color: #B83830;

      .box01 {
        display: flex;
        justify-content: left;
        font-size: 0.9rem;
        line-height: 1rem;
        padding: 10px 0;

        .textAccount {
          margin: 0 0 0 10px;
        }
      }

      // QRcode欄位
      .box02 {
        margin: 10px 0 10px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .imgBox {
          width: 120px;

          & img {
            width: 100%;
            height: auto;
          }
        }

        .text {
          width: 100%;
          text-align: center;
          line-height: 1.2rem;
          margin: 5px;
        }
      }

      // 備註黑色文字欄位
      .box03 {
        font-size: 0.9rem;
        line-height: 1rem;
        padding: 10px 0;
      }

      // 一般欄位
      .box04 {
        display: flex;
        justify-content: left;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        font-size: 0.9rem;
        line-height: 1rem;
        padding: 10px 0;
        //background-color: #009688;

        .textAccountTitle {
          width: 18%;
          display: flex;
          justify-content: left;
          //background-color: #B83830;
        }

        .textAccountName {
          display: flex;
          justify-content: left;
          width: calc(82% - 28px);
        }

        .textCopyIcon {
          display: flex;
          justify-content: left;
          width: 28px;
          //background-color: #B83830;
        }
      }
    }

    .bottomLine {
      border-bottom: 1px solid #d9d9d9;
    }
  }
  .pBoardTitle {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 700;
    width: 100%;
    padding: 10px 0;
  }

  .pBoardCurrencyBlock {
    width: 100%;
    margin: 10px 0 0 0;
    //background: #004D3D;

    .pBoardInputBox {
      position: relative;
      width: 100%;
      margin: 12px 0 0 0;
      //background-color: #009685;
      border-bottom: 1px solid #d9d9d9;
      padding: 5px 0 20px 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      &.noBottomLine {
        border-bottom: none;
      }

      .leftBox {
        display: flex;
        align-items: center;
        justify-content: left;

        .bar01Check {
          width: 20px;
          margin: 0 20px 0 10px;

          & img {
            width: 100%;
            height: auto;
          }
        }

        .bar02CoinIcon {
          width: 32px;
          margin: 0 10px 0 0;

          & img {
            width: 100%;
            height: auto;
          }
        }

        .bar03Text {
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          margin: 0 10px 0 0px;
          color: #000000;
        }

        .bar04Text {
          font-weight: 600;
          font-size: 12px;
          line-height: 17px;
          color: #6f6f6f;
        }
      }

      .pBoardInput {
        width: 100%;
        border: none;
        color: #000000;
        font-size: 1rem;
        line-height: 1.1rem;
        //background-color: #30b864;

        &::placeholder {
          color: #b8b8b8;
        }
      }

      .coinBox {
        display: flex;
        justify-content: right;
        font-style: normal;
        font-weight: 400;
        font-size: 0.8rem;
        line-height: 1.1rem;
        //background-color: #004D3D;
        margin: 1px 0 0 0;
      }
    }

    &.type02 {
      display: flex;
      justify-content: left;
      width: 100%;
      flex-wrap: wrap;

      .moneyItem {
        width: calc(25% - 10px);
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #b8b8b8;
        border-radius: 5px;
        font-size: 1rem;
        line-height: 1rem;
        padding: 10px 15px;
        margin: 5px 5px;

        &.selected {
          color: #fff;
          background-image: linear-gradient(180deg, #009685 0%, #004d3d 99.48%);
        }
      }
    }
  }

  .bottomRemarkTextBox {
    margin: 5px 20px 0 20px;
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 0.7rem;
    line-height: 1rem;
    font-weight: 400;
    color: #9d9b98;

    .remarkIcon {
      min-width: 15px;
      margin: 0 5px 0 0;
    }
  }

  .bottomRemarkText {
    margin: 5px 0 0 0;
    font-size: 11px;
    line-height: 0.8rem;
    font-weight: 400;
    color: #b8b8b8;

    &.type02 {
      color: #e60013;
    }

    &.type03 {
    }
  }
  .lang-option {
    background: #fff;
    display: flex;
    align-items: center;
    margin: 1rem 0;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 1rem;
    span {
      margin: 0 0.2rem;
    }
    .nation-name {
      color: #000;
    }
    .radio {
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
      user-select: none;
      margin-bottom: 0;

      &:hover {
        .checkbox-checkmark {
          border: 2px solid #009688;
        }
      }
    }

    .radio-input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked ~ .radio-checkmark-box {
        .radio-checkmark {
          &:after {
            display: block;
          }
        }
      }

      &:checked ~ .radio-checkmark-box {
        .radio-checkmark {
          background-color: #fff;
          border: 2px solid #009688;
        }
      }

      &:disabled ~ .radio-checkmark-box {
        .radio-checkmark {
          border: 2px solid #b0b0b0;
          cursor: not-allowed;
        }
      }

      &:disabled {
        &:checked ~ .radio-checkmark-box {
          .radio-checkmark {
            background-color: #b0b0b0;
          }
        }
      }
    }

    .radio-checkmark-box {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid transparent;
      border-radius: 50%;
    }

    .radio-checkmark {
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1.5px solid #58a55a;
      border-radius: 50%;
      cursor: pointer;

      &:after {
        content: '';
        display: none;
        background: url("data:image/svg+xml,%3Csvg width='6' height='4' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.8866 9.91722L0.0873348 5.36761C0.0596566 5.34137 0.037692 5.31018 0.0227039 5.27582C0.00771585 5.24146 0 5.20461 0 5.1674C0 5.13019 0.00771585 5.09335 0.0227039 5.05899C0.037692 5.02463 0.0596566 4.99343 0.0873348 4.96719L1.29893 3.81086C1.41471 3.70049 1.60183 3.70049 1.71761 3.81086L4.87718 6.80501C4.99296 6.91538 5.18143 6.91409 5.2972 6.80372L12.2787 0.0839022C12.3945 -0.0277526 12.5829 -0.0277526 12.7001 0.0826188L13.913 1.23895C14.0288 1.34932 14.0288 1.52771 13.9143 1.63809L6.30821 8.95468L6.30956 8.95597L5.30662 9.91722C5.19085 10.0276 5.00238 10.0276 4.8866 9.91722Z' fill='%23009688'/%3E%3C/svg%3E%0A")
          no-repeat center;
        width: 14px;
        height: 12px;
        background-size: contain;
      }
    }
    img {
      width: 30px;
    }
  }
}

</style>
