<template>
  <div class="phone">
    <!------活動內容條列頁----->
    <div class="pPromoBack" v-if="pageTarget === 'homePage'">
      <vue-draggable-resizable
        class="drag-btn"
        :w="50"
        :h="50"
        :resizable="false"
        v-if="handledPromotionTypesForApply.length > 0"
        @click="pageTarget = 'promotionApply'"
      ></vue-draggable-resizable>
      <div class="pTopHeader">
        <div class="pTopHeaderTitle">
          {{ $t("promotions") }}
          <div class="filterBtn" @click="filterModal = true">
            <img src="@/assets/aae/img/promotion/icon_filter.png" alt="" />
          </div>
        </div>
        <div class="pTopHeaderSelectBox">
          <div
            v-for="(handledPromotionType, index) in handledPromotionTypes"
            :key="index"
            @click="changeType(handledPromotionType.no, handledPromotionType)"
            :class="handledPromotionType.active"
            class="pTopHeaderSelectIem"
          >
            {{ handledPromotionType.name }}
          </div>
        </div>
      </div>
      <div
        class="pTopMainListBlock"
        :class="{
          'd-flex align-items-center justify-content-center':
            filteredPromotionLists.length === 0,
        }"
      >
        <div v-if="filteredPromotionLists.length > 0">
          <!------活動內容----->
          <div
            v-for="(i, index) in filteredPromotionLists"
            :key="index"
            class="pTopMainListItem"
            :class="{
              active: i.typeNo.find((a) => a == data.type) || data.type === 0,
            }"
          >
            <a href="javascript:void(0)" class="pTopMainListItemImg">
              <img :src="i.simageUrl" />
            </a>
            <div class="pTopMainListItemTitleAndTimeBox">
              <div class="pTopMainListItemTitle">
                <div class="pTopMainListItemTitleText">
                  {{ i.title }}
                </div>
              </div>
              <div class="pTopMainListItemTime">
                <img
                  src="@/assets/aae/img/promotion/iconTimeGreen.svg"
                  class="pTopMainListItemTimeIcon"
                />
                {{ unixToDate(i.expirationTime) }}
              </div>
            </div>
            <div class="pTopMainListItemTitleAndTimeBox type02">
              <div class="pTopMainListItemCoinBox">
                <img
                  v-if="i.currencyNoArray.includes(1)"
                  src="@/assets/img/currency/CNY.svg"
                  class="pTopMainListItemCoinIcon"
                />
                <img
                  v-if="i.currencyNoArray.includes(2)"
                  src="@/assets/img/currency/USD.svg"
                  class="pTopMainListItemCoinIcon"
                />
                <img
                  v-if="i.currencyNoArray.includes(3)"
                  src="@/assets/img/currency/IDR.svg"
                  class="pTopMainListItemCoinIcon"
                />
                <img
                  v-if="i.currencyNoArray.includes(4)"
                  src="@/assets/img/currency/MYR.svg"
                  class="pTopMainListItemCoinIcon"
                />
                <img
                  v-if="i.currencyNoArray.includes(5)"
                  src="@/assets/img/currency/VND.svg"
                  class="pTopMainListItemCoinIcon"
                />
                <img
                  v-if="i.currencyNoArray.includes(6)"
                  src="@/assets/img/currency/THB.svg"
                  class="pTopMainListItemCoinIcon"
                />
                <img
                  v-if="i.currencyNoArray.includes(7)"
                  src="@/assets/img/currency/USDT_ERC20.svg"
                  class="pTopMainListItemCoinIcon"
                />
                <img
                  v-if="i.currencyNoArray.includes(8)"
                  src="@/assets/img/currency/USDT_TRC20.svg"
                  class="pTopMainListItemCoinIcon"
                />
                <img
                  v-if="i.currencyNoArray.includes(9)"
                  src="@/assets/img/currency/ETH.svg"
                  class="pTopMainListItemCoinIcon"
                />
                <img
                  v-if="i.currencyNoArray.includes(10)"
                  src="@/assets/img/currency/USDC_ERC20.svg"
                  class="pTopMainListItemCoinIcon"
                />
                <img
                  v-if="i.currencyNoArray.includes(11)"
                  src="@/assets/img/currency/TRX.svg"
                  class="pTopMainListItemCoinIcon"
                />
                <img
                  v-if="i.currencyNoArray.includes(12)"
                  src="@/assets/img/currency/DOGE.svg"
                  class="pTopMainListItemCoinIcon"
                />
                <img
                  v-if="i.currencyNoArray.includes(13)"
                  src="@/assets/img/currency/VND.svg"
                  class="pTopMainListItemCoinIcon"
                />
              </div>
              <div class="pTopMainListItemBtn" @click="showDetails(i)">
                {{ $t("details") }}
              </div>
            </div>
          </div>
        </div>
        <div v-else class="no-data">
          <div class="data-img">
            <img
              class="d-table mx-auto w-100"
              src="@/assets/aae/img/common/img_nodata_green.svg"
              alt=""
            />
          </div>
          <div class="noData-text text-center" style="color: black">
            {{ $t("no_data") }}
          </div>
        </div>
      </div>
    </div>

    <!-- 活動詳情內頁 -->
    <div class="pPromoDetailBack" v-if="pageTarget === 'promotionDetail'">
      <div class="pPromoDetailTopHeader">
        <div class="pTopHeaderTitle">
          {{ data.promoDetail.title }}
        </div>
        <img
          @click="pageTarget = 'homePage'"
          src="@/assets/img/icon/promotion-back.svg"
          class="pPromoDetailTopHeaderArrow"
        />
      </div>
      <div class="pTopMainListBlock">
        <!------活動內容----->
        <div class="pTopMainListItem">
          <a href="javascript:void(0)" class="pTopMainListItemImg">
            <img :src="data.promoDetail.bimageUrl" alt="">
          </a>
          <div class="pTopMainListItemTitleAndTimeBox">
            <div class="pTopMainListItemTitle">
              <div class="pTopMainListItemTitleText" v-html="data.promoDetail.contentText"></div>
            </div>
          </div>
        </div>
        <button v-if="!isLogin" type="button" class="pPromotionDetailtItemBtn" data-bs-target="#collapseTarget" data-bs-toggle="modal" @click="selectTab(true)">
          {{ $t('login') }}
        </button>
        <a v-else-if="isLogin && data.promoDetail.applyStatus === 1" class="pPromotionDetailtItemBtn" :href="customerServiceUrl" target="_blank">
          {{$t("to_participate_event_contact_customer_service")}}
        </a>
        <button v-else-if="isLogin && data.promoDetail.applyStatus === 2" type="button" class="pPromotionDetailtItemBtn" @click="promotionApply">{{ $t('apply') }}</button>
        <button v-else-if="isLogin && data.promoDetail.applyStatus === 3" type="button" class="pPromotionDetailtItemBtn disabled" style="cursor: text;">{{ $t('application_submitted') }}</button>
        <button v-else-if="isLogin && data.promoDetail.applyStatus === 4" type="button" class="pPromotionDetailtItemBtn disabled" style="cursor: text;">{{ $t('participated') }}</button>
        <button v-else-if="isLogin && data.promoDetail.applyStatus === 5" type="button" class="pPromotionDetailtItemBtn disabled" style="cursor: text;">{{ $t('other_activities_in_application') }}</button>
      </div>
    </div>

    <!--活動申請頁面-->
    <div class="promotionApply" v-if="pageTarget === 'promotionApply'">
      <div class="headerTop">
        {{ $t("apply_to_join") }}
        <img
          @click="pageTarget = 'homePage'"
          src="@/assets/img/icon/icon_game_arrow_left.svg"
          class="backBtn"
        />
      </div>
      <div class="pMidBoardBg">
        <div class="pMidBoardBox pb-5">
          <div class="pBoardinputBlock">
            <div class="pBoardinputTitleBox">
              <div class="leftBox">
                <div class="BoardinputTitleIcon"></div>
                <div class="BoardinputTitle">{{ $t("offer_category") }}</div>
              </div>
            </div>
            <div class="pBoardInputBox">
              <div class="pBoardInputBox01">
                <vue-select
                  label="name"
                  :placeholder="$t('pls_select_offer_category')"
                  :options="handledPromotionTypesForApply"
                  v-model="selectedPromotionTypeForApply"
                ></vue-select>
              </div>
            </div>
          </div>
          <div class="pBoardinputBlock">
            <div class="pBoardinputTitleBox">
              <div class="leftBox">
                <div class="BoardinputTitleIcon"></div>
                <div class="BoardinputTitle">{{ $t("promotions") }}</div>
              </div>
            </div>
            <div class="pBoardInputBox">
              <div class="pBoardInputBox01">
                <vue-select
                  label="title"
                  :placeholder="$t('plz_select_promotion')"
                  :options="showedHandledPromotionListsForApply"
                  v-model="selectedPromotionListForApply"
                >
                  <template v-slot:no-options>
                    {{ t("no_matching_options") }}
                  </template>
                </vue-select>
              </div>
            </div>
          </div>
          <div
            v-if="selectedPromotionListForApply.contentText"
            class="pBoardinputBlock"
          >
            <div class="pBoardinputTitleBox">
              <div class="leftBox">
                <div class="BoardinputTitleIcon"></div>
                <div class="BoardinputTitle">{{ $t("activities") }}</div>
              </div>
            </div>
            <div class="pBoardInputBox">
              <div class="pBoardInputBox01">
                <div v-html="selectedPromotionListForApply.contentText"></div>
              </div>
            </div>
          </div>
          <div class="pBoardinputBlock">
            <div class="pBoardinputTitleBox">
              <div class="leftBox">
                <div class="BoardinputTitleIcon"></div>
                <div class="BoardinputTitle">{{ $t("remark") }}</div>
              </div>
            </div>
            <div class="pBoardInputBox">
              <div class="pBoardInputBox01">
                <input type="text" class="ps-input" v-model="remark" />
              </div>
            </div>
          </div>
          <button
            v-if="!isLogin"
            type="button"
            class="pPromotionDetailtItemBtn apply"
            data-bs-target="#collapseTarget"
            data-bs-toggle="modal"
            @click="selectTab(true)"
          >
            {{ $t("login") }}
          </button>
          <button
            v-else-if="isLogin"
            type="button"
            class="pPromotionDetailtItemBtn apply"
            @click="promotionApplyForApply"
          >
            {{ $t("apply") }}
          </button>
        </div>
      </div>
    </div>

    <!----filter彈窗----->
    <div class="newAcconutBg bank" :class="{ selected: filterModal }">
      <div class="newAcconutBlock">
        <!----銀行選擇面板標題----->
        <div class="newAcconutTitleBox">
          <div>{{ $t("plz_select_the_promotion_type") }}</div>
          <!----關掉視窗----->
          <div class="btnClose" @click="filterModal = false">
            <img src="@/assets/img/icon/icon_pop_X_black.svg" />
          </div>
        </div>
        <!----綁定銀行卡提款地址選項----->
        <div class="pWithdrawBar3rdBlock">
          <div class="pWithdrawBar3rdBoard text-center">
            <div class="pb-5">
              <div
                v-for="(applyStatus, index) in applyStatuses"
                :key="index"
                @click="changeFilteredApplyStatus(applyStatus.no)"
                class="applyStatusItem py-3"
                :class="{ active: filteredApplyStatus === applyStatus.no }"
              >
                {{ applyStatus.name }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!----下方按鈕----->
      <div class="pBottomFooter type02">
        <div @click="filterModal = false" class="pBigBtn type02">
          {{ $t("bet_info_status_cancel") }}
        </div>
      </div>
    </div>

    <!-- 底部選單 -->
    <phone-footer-menu-view
      :class="{ 'd-none': pageTarget === 'promotionApply' }"
    />
  </div>
  <loading
    v-model:active="isLoading"
    backgroundColor="rgba(0, 0, 0, 0.95)"
    color="#fff"
  />
</template>
<script setup>
import { computed } from "vue";
import { useStore } from 'vuex';
import { useI18n } from "vue-i18n";
import { getApiPromotionTypeData } from '@/api/api';
import { onMounted, reactive, ref, watch } from "vue";
import apiService from '@/api/apiService'
import PhoneFooterMenuView from '@/components/aae/phone/PhoneFooterMenuView.vue';
import Swal from "sweetalert2";
import common from "@/utils/common";
import vueSelect from "vue-select";
import VueDraggableResizable from 'vue-draggable-resizable/src';
import "vue-select/dist/vue-select.css";
import Loading from 'vue-loading-overlay';

const store = useStore();
//導入多語系
const { t, locale } = useI18n();
let data = reactive({
  promotionTypes: [],
  promotionLists: [],
  type: 0,
  promoDetail: {},
});

const { errorHandling, unixToDate } = common();
const handledPromotionTypes = ref([]);
const handledPromotionLists = ref([]);
const handledPromotionTypesForApply = ref([]);
const handledPromotionListsForApply = ref([]);
const showedHandledPromotionListsForApply = ref([]);
const currencyNo = +(localStorage.getItem("currencyNo"));
const isLoading = ref(false);
const pageTarget = ref("homePage");
const selectedPromotionTypeForApply = ref('');
const selectedPromotionListForApply = ref('');
const remark = ref('');
const filterModal = ref(false);
const filteredApplyStatus = ref(0);
const filteredPromotionLists = ref([]);
const applyStatuses = reactive([
  {
    no:0,
    name: t("all")
  },
  {
    no:2,
    name:t("application_can_be_submitted")
  },
  {
    no:3,
    name: t("already_applied")
  },
  {
    no:4,
    name: t("participated")
  },

])

const isLogin = computed(() => store.state.isLogin);
const customerServiceUrl = computed(() => store.state.siteSettingsInfo.customerServiceUrl);
const DomainLayoutId = computed(() => store.state.DomainLayoutId);

const promotion = async () => {
  isLoading.value = true;
  try{
    data.promotionTypes = await getApiPromotionTypeData(locale.value);
    data.promotionLists = await getApiPromotionListData();
    isLoading.value = false;
  }
  catch{
    isLoading.value = false;
  }


  //篩選出包含網頁語系的優惠活動
  handledPromotionLists.value = [];
  handledPromotionTypesForApply.value = [];
  selectedPromotionListForApply.value = '';
  data.promotionLists.datas.forEach(promotionList => {
    promotionList['isShow'] = false;
    //幣別no 放成一個陣列，給國家icon用
    promotionList['currencyNoArray'] = []
    promotionList.currencies.forEach(item => {
      promotionList['currencyNoArray'].push(item.no)
    })

    //1.篩選出包含網頁語系的優惠活動
    //2.places設定在(App) 優惠活動頁的
    //3.places設定在(App) 優惠活動申請頁的
    //顯示位置 1 (App) 優惠活動頁 2 (App) 優惠活動申請頁 3 (Pc) 優惠活動頁 4 (Pc) 優惠活動申請頁

    promotionList.currencies.forEach(currency => {
      if (currency.no === currencyNo) {
        if (promotionList.places.includes(1)) {
          handledPromotionLists.value.push(promotionList)
        }
        if (promotionList.places.includes(2)) {
          //篩選出可以申請的優惠活動applyStatus === 2
          if (promotionList.applyStatus === 2) {
            handledPromotionListsForApply.value.push(promotionList)
          }
        }
      }
    })
  })


  //在promotionTypes中比對promotionList.typeNo是否有
  data.promotionTypes.datas.forEach(promotionType => {
    promotionType['active'] = ""
    handledPromotionLists.value.forEach(promotionList => {
      if (promotionList.typeNo.includes(promotionType.no)) {
        handledPromotionTypes.value.push(promotionType);
      }
    })
    handledPromotionListsForApply.value.forEach(promotionList => {
      if (promotionList.typeNo.includes(promotionType.no)) {
        handledPromotionTypesForApply.value.push(promotionType);
      }
    })
  })
  //移除handledPromotionTypes重複元素
  handledPromotionTypes.value = [...new Set(handledPromotionTypes.value)];
  handledPromotionTypes.value.unshift({
    no: 0,
    name: t('allOffers'),
    active: "active"
  })
  //移除handledPromotionTypesForApply重複元素
  handledPromotionTypesForApply.value = [...new Set(handledPromotionTypesForApply.value)];
  //有抓到type才需要加上全部優惠
  if (handledPromotionTypesForApply.value.length > 0) {
    handledPromotionTypesForApply.value.unshift({
      no: 0,
      name: t('allOffers'),
      active: "active"
    })
  }
  filterPromotion();
}

//更改applyStatus
const changeFilteredApplyStatus = (no) => {
  filteredApplyStatus.value = no;
  filterPromotion();
  filterModal.value = false;
}

//篩選applyStatus
const filterPromotion = () => {
  if(filteredApplyStatus.value === 0){
    filteredPromotionLists.value = handledPromotionLists.value
  }
  else{
    filteredPromotionLists.value = handledPromotionLists.value.filter(item => item.applyStatus === filteredApplyStatus.value)
  }
  
  //在promotionTypes中比對promotionList.typeNo是否有
  handledPromotionTypes.value = []
  data.promotionTypes.datas.forEach(promotionType => {
    promotionType['active'] = ""
    filteredPromotionLists.value.forEach(promotionList => {
      if (promotionList.typeNo.includes(promotionType.no)) {
        handledPromotionTypes.value.push(promotionType);
      }
    })
  })
  
  //移除handledPromotionTypes重複元素
  handledPromotionTypes.value = [...new Set(handledPromotionTypes.value)];
  handledPromotionTypes.value.unshift({
    no: 0,
    name: t('allOffers'),
    active: "active"
  })

}

const showDetails = (e) => {
  pageTarget.value = 'promotionDetail'
  data.promoDetail = e;
  // 将每一项列表的isShow设置为false,让所有的列表都隐藏
  data.promotionLists.datas.forEach(item => {
    item.isShow = false
  })
  // 用于再次点击该项的取反
  e.isShow = true
}

const changeType = (handledPromotionTypeNo, handledPromotionType) => {
  data.type = handledPromotionTypeNo;
  handledPromotionTypes.value.forEach(item => {
    item.active = ""
  })
  handledPromotionType.active = "active"
  data.promotionLists.datas.forEach(item => {
    item.isShow = false
  })
}

const getApiPromotionListData = async () => {
  try {
    var reqData = {
      lang: localStorage.getItem("locale"),
      deviceType: 0,//手機
      DomainLayoutId: DomainLayoutId.value
    };

    if (localStorage.getItem("sessionKey")) {
      reqData.sessionKey = localStorage.getItem("sessionKey");
    }

    const response = await apiService.post('/Promotion/List', reqData);
    var _json = JSON.parse(JSON.stringify(response.data));
    return _json;
  } catch (err) {
    console.error(err);
  }
}

//申請按鈕
const promotionApply = () => {
  const params = {
    sessionKey: localStorage.getItem("sessionKey"),
    no: data.promoDetail.no,
    currencyNo: +(localStorage.getItem("currencyNo"))
  }
  apiService.post('/Promotion/Apply', params)
    .then(() => {
      Swal.fire("", t("successfulApplication"), "info");
      pageTarget.value = 'homePage'
      refreshAPI();
    }).catch((err) => {
      if (err.response == null || err.response.status == null) {
        console.log(err);
        Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
      } else if (err.response.status == 452) {
        Swal.fire("", t("repeatApplication"), "warning");
      } else if (err.response.status == 453) {
        Swal.fire("", t("alreadyParticipated"), "warning");
      } else if (err.response.status == 454) {
        Swal.fire("", t("other_activities_in_application"), "warning");
      }
      else errorHandling(err);
    });
}

//活動申請頁的申請按鈕
const promotionApplyForApply = () => {
  if (selectedPromotionTypeForApply.value == '') {
    Swal.fire("", t("pls_select_offer_category"), "warning");
    return;
  }
  if (selectedPromotionListForApply.value === '') {
    Swal.fire("", t("pls_select_offer"), "warning");
    return;
  }
  const params = {
    sessionKey: localStorage.getItem("sessionKey"),
    no: selectedPromotionListForApply.value.no,
    currencyNo: +(localStorage.getItem("currencyNo"))
  }
  apiService.post('/Promotion/Apply', params)
    .then(() => {
      Swal.fire("", t("successfulApplication"), "info");
      pageTarget.value = 'homePage'
      refreshAPI();
    }).catch((err) => {
      if (err.response == null || err.response.status == null) {
        console.log(err);
        Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
      } else if (err.response.status == 452) {
        Swal.fire("", t("repeatApplication"), "warning");
      } else if (err.response.status == 453) {
        Swal.fire("", t("alreadyParticipated"), "warning");
      } else if (err.response.status == 454) {
        Swal.fire("", t("other_activities_in_application"), "warning");
      } else errorHandling(err);
    });
}

const refreshAPI = () => {
  promotion();
}

watch(
  () => selectedPromotionTypeForApply.value,
  (newValue) => {
    let no = newValue.no;
    if (no === 0) {
      showedHandledPromotionListsForApply.value = [...handledPromotionListsForApply.value];
    } else {
      showedHandledPromotionListsForApply.value = []
      handledPromotionListsForApply.value.forEach(item => {
        if (item.typeNo.includes(no)) {
          showedHandledPromotionListsForApply.value.push(item)
        }
      })
    }
    selectedPromotionListForApply.value = '';

  }
)

watch(
  () => store.state.lang,
  ()=> {
    promotion();
  }
)

onMounted(() => {
  promotion();
});

</script>

<style lang="scss" scoped>
/*優惠活動CSS */
.pPromoBack {
  width: 100vw;
  height: 100vh;
  //background-color: #a5d421;
  overflow-y: auto;

  .pTopHeader {
    width: 100vw;
    height: 85px;
    background-color: #fff;
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 50;

    .pTopHeaderTitle {
      position: relative;
      width: 100vw;
      height: 50px;
      background-color: #f1ac33;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      .filterBtn {
        position: absolute;
        height: 100%;
        width: 50px;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 25px;
        }
      }
    }

    .pTopHeaderSelectBox {
      width: 100%;
      height: calc(100% - 35px);
      background-color: #ffffff;
      display: flex;
      justify-content: left;
      align-items: center;
      overflow-x: auto;
      overflow-y: hidden;
      padding: 0 20px 0 20px;
      border-bottom: 1px solid #d9d9d9;

      &::-webkit-scrollbar {
        display: none;
      }

      .pTopHeaderSelectIem {
        position: relative;
        padding: 10px 0px 10px 0px;
        margin: 0 20px 0 20px;
        font-size: 0.9rem;
        color: #555555;
        white-space: nowrap;
        font-weight: bold;

        //background-color: #567b0e;
        &.active {
          font-weight: bolder;
          color: #000;

          &::after {
            position: absolute;
            bottom: -3px;
            left: 50%;
            transform: translate(-50%, 0%);
            content: "";
            border-bottom: 4px solid #f1ac33;
            width: calc(100% - 10px);
          }
        }
      }
    }
  }
}

.pTopMainListBlock {
  height: calc(100vh - 100px);
  width: 100vw;
  background: #f5f5f5;
  //background: #59944e;
  margin: 100px 0 0 0;
  overflow-y: auto;
  padding: 0 0 140px 0;

  .pTopMainListItem {
    display: block;
    width: calc(100% - 20px);
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
    padding: 5px 10px 10px 10px;
    display: none;
    &.active {
      display: block;
    }
    .pTopMainListItemImg {
      display: flex;
      justify-content: center;
      align-items: center;
      //background-color: #410404;
      width: 100%;

      & img {
        width: 100%;
        height: auto;
      }
    }

    .pTopMainListItemTitleAndTimeBox {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .pTopMainListItemTitle {
        font-size: 0.8rem;
        display: block;
        flex-wrap: wrap;
        flex-direction: row;

        .pTopMainListItemEventOverBox {
          display: flex;
          justify-content: left;
          width: 100%;

          .pTopMainListItemEventOver {
            font-size: 0.5rem;
            color: #ffffff;
            padding: 1px 10px;
            background-color: #e60013;
            border-radius: 5px;
          }
        }

        .pTopMainListItemTitleText {
          font-size: 0.8rem;
          width: 100%;
          color: #000;
          display: block;
          justify-content: flex-start;
        }
      }

      .pTopMainListItemTime {
        font-size: 0.6rem;
        color: #b8b8b8;
        padding: 2px 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        white-space: nowrap;
        min-width: 88px;

        .pTopMainListItemTimeIcon {
          width: 12px;

          & img {
            width: 100%;
            height: auto;
          }
        }
      }

      &.type02 {
        align-items: center;

        .pTopMainListItemBtn {
          font-size: 0.8rem;
          color: #fff;
          padding: 6px 16px;
          background-image: linear-gradient(to bottom, #fc00b5, #7e36ca);
          background: linear-gradient(0deg, #d5921c 2.07%, #f1ac33 94.57%);
          border-radius: 30px;
        }

        .pTopMainListItemCoinBox {
          position: relative;
          display: flex;
          justify-content: left;
          align-items: center;

          .pTopMainListItemCoinIcon {
            position: relative;
            width: 30px;
            border-radius: 30px;
            overflow: hidden;

            & img {
              widows: 100%;
              height: auto;
            }

            &.type02 {
              left: -5px;
            }

            &.type03 {
              left: -10px;
            }
          }
        }
      }
    }
  }
}

/*優惠活動詳情內頁CSS */

.pPromoDetailBack {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  position: relative;
  display: block;
  background-color: #ffffff;
  top: 0;
  left: 0;
  z-index: 150;

  .pPromoDetailTopHeader {
    position: absolute;
    width: 100vw;
    height: 56px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid #d9d9d9;

    .pTopHeaderTitle {
      width: calc(100% - 68px);
      height: 46px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      //background-color: #004d3d;
      color: #000;
      font-size: 1rem;
      overflow: hidden;
    }

    .pPromoDetailTopHeaderArrow {
      position: absolute;
      height: 18px;
      width: 18px;
      //background-color: #ac3b3b;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 50%;
      left: 16px;
      transform: translate(-50%, -50%);

      & img {
        width: 100%;
        height: auto;
      }
    }
  }

  .pTopMainListBlock {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100vh - 56px);
    width: 100vw;
    background: #f5f5f5;
    //background: #b48c8c;
    margin: 56px 0 0 0;
    overflow-y: auto;
    padding: 0 0 140px 0;
    z-index: 150;

    .pTopMainListItem {
      display: block;
      width: calc(100% - 20px);
      background-color: #fff;
      border-radius: 10px;
      margin: 10px;
      padding: 5px 10px 10px 10px;

      .pTopMainListItemImg {
        display: flex;
        justify-content: center;
        align-items: center;
        //background-color: #410404;
        width: 100%;

        & img {
          width: 100%;
          height: auto;
        }
      }

      .pTopMainListItemTitleAndTimeBox {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .pTopMainListItemTitle {
          font-size: 0.8rem;
          display: block;
          flex-wrap: wrap;
          flex-direction: row;

          .pTopMainListItemTitleText {
            font-size: 0.8rem;
            width: 100%;
            color: #000;
            display: block;
            justify-content: flex-start;
          }
        }
      }
    }

    .pPromotionDetailtItemBtn {
      position: fixed;
      bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      width: calc(100vw - 20px);
      color: #fff;
      padding: 16px 10px;
      margin: 0 10px 0 10px;
      background: linear-gradient(180deg, #e7b823, #c97705);
      border-radius: 10px;
      &.disabled {
        background: rgb(202, 202, 202);
      }
    }
  }
}

.drag-btn {
  position: absolute;
  top: 100px;
  right: 20px;
  border-radius: 50%;
  background: url("@/assets/aae/img/promotion/drag-btn.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.promotionApply {
  position: relative;
  .headerTop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 1.1rem;
    z-index: 10;
    .backBtn {
      position: absolute;
      left: 18px;
      width: 10px;
    }
  }
  .pMidBoardBg {
    padding: 10px 0px 180px 0px;
    height: calc(100vh - 55px);
    background: #f5f5f5;
    margin: 55px 0 0 0;
    overflow-y: auto;
    .pMidBoardBox {
      position: relative;
      display: block;
      width: calc(100vw - 20px);
      background-color: #fff;
      padding: 10px;
      border-radius: 10px;
      color: #000;
      margin: 0px 10px 10px 10px;
      .pBoardinputBlock {
        width: 100%;
        margin: 10px 0 0 0;
        .pBoardinputTitleBox {
          display: flex;
          justify-content: space-between;
          font-size: 0.7rem;
          line-height: 1rem;
          .leftBox {
            display: flex;
            justify-content: left;
            width: 66%;
          }
          .BoardinputTitleIcon {
            margin: 0 10px 0 0;
            width: 4px;
            height: 16px;
            background-color: #f1ac33;
            border-radius: 15px;
          }
          .BoardinputTitle {
            font-size: 0.7rem;
            line-height: 1rem;
            color: #000;
            width: calc(66% - 14px);
          }
        }
        .pBoardInputBox {
          position: relative;
          width: 100%;
          margin: 12px 0 0 0;
          border-bottom: 1px solid #d9d9d9;
          padding: 0 0 5px 0;
          .pBoardInputBox01 {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .pBoardInput {
              width: 100%;
              border: none;
              color: #000000;
              font-size: 1rem;
              line-height: 1.1rem;
            }
          }
        }
      }
    }
  }
}

.pPromotionDetailtItemBtn.apply {
  position: fixed;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #fff;
  padding: 16px 10px;
  background: linear-gradient(180deg, #e7b823, #c97705);
  border-radius: 10px;
  left: 20px;
  right: 20px;
}

.ps-input {
  width: 100%;
  border: none;
}

.newAcconutBg {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;

  &.selected {
    left: 0;
    opacity: 1;
    pointer-events: all;
    .newAcconutBlock {
      bottom: 0px;
    }

    .pBottomFooter {
      bottom: 0px;
    }
  }
  .newAcconutBlock {
    position: fixed;
    left: 0;
    bottom: -150%;
    display: block;
    width: 100vw;
    background-color: #ffffff;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    z-index: 110;
    transition: 0.5s;
    padding: 0 0 20px 0;

    /*title */
    .newAcconutTitleBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 64px;
      padding: 0 20px;
      background: linear-gradient(100.85deg, #f1ac33  15.32%, #d5921c 94.32%);

      .titleTextBox {
        font-weight: 400;
        font-size: 1rem;
        line-height: 17px;
        color: #ffffff;
      }

      .btnClose {
        display: flex;
        width: 14px;

        & img {
          width: 100%;
          height: auto;
        }
      }
    }

    .pWithdrawBar3rdBlock {
      display: block;
      width: 100%;
      height: 300px;
      overflow-x: auto;
      overflow-y: auto;
    }

    .noDataBroad {
      margin: 50px 0 0 0;
      width: 100%;
      //background: #009685;

      .noDataImg {
        width: 100%;

        & img {
          width: 100%;
          height: auto;
        }
      }

      .noDataText {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        line-height: 1.5rem;
        width: 100%;
        color: #9d9b98;
      }
    }

    /*充值方式選項 */
    .pWithdrawBar3rdBoard {
      display: block;
      width: calc(100vw - 20px);
      background-color: #ffffff;
      margin: 10px 10px 10px 10px;
      padding: 10px;
      border-radius: 10px;
      color: #000;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.5rem;

      .applyStatusItem {
        &.active {
          color: #f1ac33;
        }
      }
      /*充值方式抬頭CSS */
      .pWithdrawBar3rdSelectTitleBar {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }

      /*充值方式選項區CSS */
      .pWithdrawBar3rdSelectBar {
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: flex-start;
        flex-wrap: wrap;
        //background-color: #1C4F3E;

        /*充值方式選項CSS */
        .pWithdrawBar3rdSelectBox {
          position: relative;
          width: calc(25% - 6px);
          margin: 3px 3px;
          height: 62px;
          border: 1px solid #d9d9d9;
          //background-color: #1C4F3E;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;

          .tagSuggest {
            display: none;

            &.tagSuggestShow {
              position: absolute;
              right: -40px;
              top: 0px;
              width: 100px;
              font-size: 0.6rem;
              text-align: center;
              line-height: 1.2rem;
              color: #fff;
              font-weight: 400;
              transform: rotate(45deg) scale(0.8);
              background: linear-gradient(90deg, #ff6e61 0%, #eb4d4a 100%);
              display: block;
            }
          }

          &.selected {
            border: 1px solid #ed504c;
          }

          .selectedIcon {
            position: absolute;
            right: 0px;
            bottom: 0;
            width: 20px;

            & img {
              width: 100%;
              height: auto;
            }
          }

          .centerBox {
            width: 90%;
            //background-color: #2DCD6C;
            display: block;

            .centerBoxImg {
              display: flex;
              justify-content: center;

              .centerBoxImgIcon {
                width: 20px;
                margin: 0 0 5px 0;

                & img {
                  width: 100%;
                  height: auto;
                }
              }
            }

            .centerBoxText {
              font-size: 0.8rem;
              text-align: center;
              line-height: 1rem;
              color: #b8b8b8;
            }
          }
        }

        /*提款方式欄位CSS */
        .pWithdrawBar3rdMsgSelectBox {
          width: 100%;
          background-color: #f2f3f7;
          border-radius: 5px;
          padding: 10px;
          display: flex;
          justify-content: space-between;
          align-items: stretch;

          &.pWithdrawBar3rdMsgSelectBox + .pWithdrawBar3rdMsgSelectBox {
            margin: 10px 0 0 0;
          }

          &.selected {
          }

          &.increased {
            .leftBox {
              width: 45px;
              img {
                border-radius: 30px;
              }
              .infoTextBox {
                white-space: nowrap;
                color: #fff;
                .infoText01 {
                  .infoText01Text {
                    color: #fff;
                  }
                }

                .infoText02 {
                  color: #fff;
                }
              }
            }

            .rightBox {
              height: auto;
              display: flex;
              flex-wrap: wrap;
              align-content: Space-between;
              //background-color: #26A699;

              .tagDefaulted {
                color: #fff;
              }
            }

            background: linear-gradient(270deg, #0493b2 0%, #00b2a3 100%);
          }

          .leftBox {
            display: flex;
            justify-content: left;
            align-items: flex-start;
            width: 100%;
            //background-color: #26A699;

            .infoTextBox {
              display: block;
              width: calc(100% - 60px);
              margin: 0 5px 0 10px;
              //background-color: #a33069;

              .infoText01 {
                display: flex;
                justify-content: left;
                font-size: 0.9rem;
                font-weight: 700;
                line-height: 1.1rem;
                color: #000;

                .infoText01TagBox {
                  display: flex;
                  align-items: center;
                  font-size: 0.6rem;
                  font-weight: 400;
                  line-height: 0.8rem;
                  color: #6f6f6f;
                  padding: 2px 5px;
                  margin: 0 5px 0 0;
                  border: 1;
                  border: 1px solid #b83830;
                  border-radius: 3px;
                  box-sizing: border-box;
                  white-space: wrap;
                }

                .infoText01Text {
                  //width: 62%;
                  //background-color: #B83830;

                  &.type02 {
                    //width: 40%;
                    //background-color: #2DCD6C;
                  }

                  //background-color: #2DCD6C;
                }

                .infoText01RemarkText {
                  display: flex;
                  justify-content: right;
                  font-size: 0.6rem;
                  font-weight: 400;
                  color: #6f6f6f;
                  width: 34%;
                }
              }

              .infoText02 {
                margin: 4px 0 0 0;
                font-size: 0.6rem;
                font-weight: 400;
                line-height: 0.7rem;
                color: #6f6f6f;
                //background-color: #2DCD6C;
              }
            }
          }

          .rightBox {
            display: flex;
            justify-content: right;
            display: none;
            //background-color: #b20495;

            &.rightBoxShow {
              display: block;
            }

            .btnUnbind {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 6px 8px;
              background: #ffffff;
              border-radius: 30px;
              font-weight: 400;
              font-size: 0.6rem;
              line-height: 15px;
              color: #0495b2;
              font-weight: 400;
            }

            .tagDefaulted {
              display: flex;
              justify-content: center;
              padding: 0px 0px;
              font-weight: 400;
              font-size: 0.6rem;
              line-height: 15px;
              color: rgba(0, 0, 0, 0.3);
              font-weight: 400;
              //background-color: #2DCD6C;
            }

            .iconBox {
              display: flex;
              align-items: center;
              //background-color: #2DCD6C;
              width: 36px;

              & img {
                width: 100%;
                height: auto;
                max-height: 36px;
              }

              &.type02 {
                padding: 8px 0px;
                width: 10px;
              }
            }
          }
        }

        .bottomTextBox {
          width: 100%;
          padding: 80px 0 0 0;
          display: flex;
          justify-content: center;
          color: #6f6f6f;
          font-size: 0.8rem;
          font-weight: 400;

          .bottomNumBox {
            color: #26a699;
            margin: 0 5px;
          }
        }
      }

      /*法幣、銀行選擇欄位CSS */
      .pWithdrawBar3rdCoinSelectBox {
        width: 100%;
        background-color: #626c94;
        padding: 10px 0 120px 0;
        display: flex;
        justify-content: left;
        align-items: stretch;
        flex-wrap: wrap;
        overflow: auto;
        overflow-y: auto;
        max-height: calc(100vh - 280px);

        .pWithdrawBar3rdCoinSelectItem {
          width: 33%;
          display: block;
          padding: 10px 0 40px 0;
          //justify-content: center;
          //background-color: #62947b;

          .topBox {
            width: 100%;
            //background-color: #be1aa3;
            display: flex;
            justify-content: center;
            //width: 18px;

            & img {
              width: 48px;
              height: auto;
            }
          }

          .bottomBox {
            width: 100%;
            text-align: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            margin: 5px 0 0 0;
          }
        }
      }

      .pWithdrawBar3rdBank {
        text-align: center;
        margin-bottom: 20px;

        & img {
          width: auto;
          height: 50px;
        }
      }
    }
  }
}

.pBottomFooter {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: #fff;
  padding: 0 0 10px 0;
  z-index: 50;
  transition: 0.5s;

  &.type02 {
    z-index: 150;
    bottom: -100%;
  }

  .pBigBtn {
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 20px);
    margin: 10px;
    padding: 15px 0 15px 0;
    font-size: 1.1rem;
    font-weight: 500;
    background: linear-gradient(180deg, #e7b823, #c97705) !important;
    border-radius: 10px;
    color: #fff;
    &.disable {
      background: linear-gradient(180deg, #e7b823, #c97705) !important;
      color: #fff;
    }

    &.type02 {
      background: none;
      background-color: #f4f5f8;
    }
  }

  .pBottomFooterText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #26a699;
    padding: 0 10px;
    min-height: 34px;
  }
}

.v-select {
  width: 100%;
}

:deep(.v-select) {
  width: 100%;
  .vs__dropdown-toggle {
    border: none;
  }
  .vs__search,
  .vs__selected {
    font-size: 0.7rem;
    padding-left: 0;
  }
  .vs__clear {
    display: none;
  }

  .vs__dropdown-menu li {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.7rem;
  }
  .vs__open-indicator {
    fill: #f1ac33;
  }
}
</style>
