<template>
  <!-- 註冊登入表單 -->
  <phone-sign-form-view v-if="status"/>

  <!-- 頁面內容 -->
  <router-view v-if="status"/>
  <div id="loader">
    <div class="loader-circle"></div>
  </div>
</template>

<script setup>
import { ref, onBeforeMount, watch, computed } from 'vue';
import common from "@/utils/common";
import { useStore } from 'vuex';
import PhoneSignFormView from '@/components/aaa/phone/PhoneSignFormView.vue'
import '@/assets/aaa/css/app.css'
import { useRoute } from 'vue-router';

const store = useStore();
const route = useRoute();
const { getSiteSettingInfo, getUserInfo, getWallets, setLang, getMatchedLangList, setCurrencyToLocalStorage, setWebNameAndIco, getGames, logout } = common();
const status = ref(false);
const isLogin = computed(() => store.state.isLogin);
const matchedLangs = computed(() => store.state.matchedLangs);

const hideLoader = () => {
  const loader = document.getElementById("loader");
  loader.style.display = "none";
}

watch(
  () => isLogin.value,
  () => {
    if(localStorage.getItem("sessionKey")){
      getWallets();
    }
  }
)

onBeforeMount( async() => {
  if(localStorage.getItem('DomainLayoutId') && localStorage.getItem('DomainLayoutId') !== 'aaa'){
    logout();
  }
  //設定版型
  store.dispatch('setDomainLayoutId', 'aaa');

  //取得站台資訊
  await getSiteSettingInfo();
  //取得語系列表
  await getMatchedLangList();
  //設定語系
  await setLang(matchedLangs.value[0])

  //取得遊戲
  let path = route.path;
  if(path.includes('PhoneGameHall') ){
    await getGames('getPhoneGameList');
  }
  else{
    getGames('getPhoneGameList');
  }

  status.value = true;
  if(status.value){
    hideLoader();

    //設定網站名稱和ico
    setWebNameAndIco();
    //設定幣別
    setCurrencyToLocalStorage();

    if(localStorage.getItem("sessionKey")){
      await getUserInfo();
    }
    if(localStorage.getItem("sessionKey")){
      await store.dispatch('setIsLogin', true);
      await getWallets();
    }
  }
})

</script>

<style lang="scss">
html {
  overflow-x: hidden;
}
body {
  background: transparent;
  font-family: 'Open Sans';
  width: unset;
  height: unset;
}

.scrollbar-x::-webkit-scrollbar-track,
.scrollbar::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #004d3e;
}

.scrollbar-x::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: linear-gradient(180deg, #004d3e 2.85%, #04bb97 97.76%);
}
body.scrollbar.phoneHomeView {
  overflow: hidden;
  background: #f5f5f5;
}

#loader{
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.95);
  .loader-circle{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
    border: 3px solid rgba(255,255,255,0.25);
    border-radius: 50%;
    border-top: 3px solid white;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
</style>