<template>
  <div class="phone">
    <div class="transactionPage">
      <div class="header-title">
        <div class="back"> <a href="javascript:history.go(-1)"><font-awesome-icon icon="fa-solid fa-chevron-left" /></a> </div>
        <div class="title">{{ $t("funding_details") }}</div>
        <div class="search"></div>
      </div>

      <div class="filter">

        <div class="date">
          <div class="today" :class="{'active':queryType === 'date'}" @click="queryType = queryType === 'date'?'':'date'">{{ selectedQueryTypeDate.name }}</div>
          <div class="all" :class="{'active':queryType === 'walletType'}" @click="queryType = queryType === 'walletType'?'':'walletType'">{{ walletTypeName(walletRecordReq.type) || $t("all") }}</div>
        </div>
        <router-link :to="{ name: 'aaaPhoneCurrencySelect' }" class="currency">
          <img src="@/assets/aaa/img/common/transaction-currency.svg" alt="">{{ $t("currency_catagory") }}
        </router-link>
        <div class="further-filter" :class="{'active':queryType === 'search'}" @click="queryType = queryType === 'search'?'':'search'"><img src="@/assets/aaa/img/common/transaction-further.svg" alt="">{{ $t("filter") }}</div>
      </div>
      <!-- 切換日期選擇 -->
      <div v-if="queryType === 'date'" class="date-select">
        <div v-for="(queryTypeDate, index) in queryTypeDates" :key="index" :class="{'active':selectedQueryTypeDate.no === index }" @click="selectDate(queryTypeDate)">{{queryTypeDate.name}}</div>
      </div>

      <!-- 切換全部種類 選擇 -->
      <div v-if="queryType === 'walletType'" class="all-select">
        <div :class="{'active':!walletRecordReq.type }" @click="selectWalletType(0)">{{ $t("all") }}</div>
        <div v-for="(item) in typeMenu" :key="item" :class="{'active':walletRecordReq.type === item }" @click="selectWalletType(item)">{{ walletTypeName(item) }}</div>
      </div>

      <!-- 篩選搜尋列 -->
      <div v-if="queryType === 'search'" class="transaction-search">
        <form action="">
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1"><font-awesome-icon icon="fa-solid fa-magnifying-glass" /></span>
            <input type="search" @keydown="searchData" v-model="searchInput" class="form-control" :placeholder="$t('Please_enter_the_ticket_number')" aria-describedby="basic-addon1">
            <span class="input-group-text del" @click="clearSearchInputText"><font-awesome-icon icon="fa-solid fa-circle-xmark" style="color: #7a7a7a;" /></span>
          </div>
        </form>
        <span @click="queryType = ''">{{ $t("cancel") }}</span>
      </div>

      <!-- 資金明細 -->
      <div v-if="walletRecordResp.length > 0" class="trasactionDetail">
        <div v-for="(walletRecord, index) in walletRecordResp" :key="index">
          <div v-if="typeMenu.includes(walletRecord.type)" class="detail-wrapper">
            <div class="detail-title">
              <span class="title">
                <font-awesome-icon v-if="walletRecord.amount >= 0" icon="fa-solid fa-circle-plus" style="color: #4fab5d;" />
                <font-awesome-icon v-else icon="fa-solid fa-circle-minus" style="color: red;" />
                {{ walletTypeName(walletRecord.type) }}
              </span>
              <span class="state ">{{ $t("success") }}</span>
            </div>
            <div class="currency">
              <span class="amount-title">{{ $t("amount") }}:
                <span class="amount" :class="{'red': walletRecord.amount < 0}"> {{stringToMoney(walletRecord.amount)}} </span>
                <span class="currency-name">{{walletRecord.currency.currencyId}}</span>
              </span>
              <span class="amount-title">{{ $t("discount") }}:
                <span class="amount"> {{stringToMoney(walletRecord.discountAmount)}} </span>
                <span class="currency-name">{{walletRecord.currency.currencyId}}</span>
              </span>
            </div>
            <div class="detail-number">
              <span class="number">{{ $t("order_number_short") }}:
                <span>
                  <span class="number-order" :data-copy-index="index">{{walletRecord.orderId}} </span>
                  <img class="copyBtn" @click="copyText(null,index)" src="@/assets/aaa/img/common/transaction-copy.svg" alt="">
                </span>
              </span>
              <span class="date">{{walletRecord.date}}</span>
            </div>
          </div>
        </div>

      </div>

      <!-- 無資料圖示 -->
      <div v-else class="no-data">
        <div class="data-img">
          <img class="d-table mx-auto" src="@/assets/aaa/img/common/img_nodata_green.svg" alt="">
        </div>
        <div class="noData-text text-center">{{ $t("no_data") }}</div>
      </div>
    </div>
  </div>
  <!-- 加載 -->
  <loading v-model:active="isLoading" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />

</template>

<script>
// 錢包異動紀錄
export class WalletRecordReq {
  sessionKey = '';
  orderId = '';
  type = 0;
  startTime = 0;
  endTime = 0;
  pageIndex = 1;
  pageSize = 10;
  currencyNo = 0;
}
</script>

<script setup>
import { computed } from "vue";
import { useStore } from 'vuex';
import { useI18n } from "vue-i18n";
import { ref, reactive, onMounted } from 'vue';
import '@vuepic/vue-datepicker/dist/main.css'
import moment from "moment";
import apiService from '@/api/apiService';
import common from "@/utils/common";
import Loading from 'vue-loading-overlay';

const { t } = useI18n();
const store = useStore();
const date = ref();
const walletRecordReq = reactive(new WalletRecordReq());
const walletRecordResp = reactive([]);
const totalCount = ref(0);
const isLoading = ref(false);
const { errorHandling, walletTypeName, stringToMoney, userLogout, copyText } = common();
const typeMenu = reactive([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 17, 23, 24, 25, 26, 27]);

const queryType = ref('');
const searchInput = ref('');

const queryTypeDates = ref([
  {
    no: 0,
    name: t("today")
  },
  {
    no: 1,
    name: t("yesterday")
  },
  {
    no: 2,
    name: t("last7Days")
  },
  {
    no: 3,
    name: t("last15Days")
  },
  {
    no: 4,
    name: t("last30Days")
  },
])

const selectedQueryTypeDate = ref({
  no: 0,
  name: t("today")
})

const currencySelect = computed(() => store.state.currencySelect);

// 切換特定日期
function selectDate(queryTypeDate) {
  selectedQueryTypeDate.value = queryTypeDate

  let startDate = moment().startOf('day');
  let endDate = moment().endOf('day');
  switch (queryTypeDate.no) {
    case 0: // 今日
      break;
    case 1:// 昨天
      startDate = startDate.add(-1, 'day');
      endDate = endDate.add(-1, 'day');
      break;
    case 2:// 近7天
      startDate = startDate.add(-6, 'day');
      break;
    case 3:// 近15天
      startDate = startDate.add(-14, 'day');
      break;
    case 4:// 近30天
      startDate = startDate.add(-29, 'day');
      break;
  }
  date.value = [startDate.toDate(), endDate.toDate()];
  walletRecordReq.pageIndex = 1;
  query();
}


function clearSearchInputText() {
  searchInput.value = "";
}
// 選擇錢包異動類型
function selectWalletType(value) {
  if (walletRecordReq.type != value) {
    walletRecordReq.type = value;
  }
  walletRecordReq.pageIndex = 1;
  query();
}

// 取得錢包異動紀錄
function getWalletRecord(nextPage = null) {
  if (walletRecordReq.type == 0) walletRecordReq.type = null;
  if (walletRecordReq.orderId == '') walletRecordReq.orderId = null;

  walletRecordReq.sessionKey = localStorage.getItem("sessionKey");
  walletRecordReq.currencyNo = currencySelect.value === '' ? +(localStorage.getItem("currencyNo")) : currencySelect.value;
  if (walletRecordReq.currencyNo === 0) walletRecordReq.currencyNo = null

  isLoading.value = true;
  if (!nextPage) {
    walletRecordResp.splice(0);
  }
        
  apiService.post('/Record/Wallet', walletRecordReq).then((res) => { 

    res.data.datas.forEach(element => {
      const unixTimestamp = element.createTime;
      const dateObject = new Date(unixTimestamp);
      const year = dateObject.getFullYear();
      const month = ('0' + (dateObject.getMonth() + 1)).slice(-2);
      const day = ('0' + dateObject.getDate()).slice(-2);
      const dateString = `${year}/${month}/${day}`;
      element['date'] = dateString;
      walletRecordResp.push(element);
    });
    totalCount.value = res.data.totalCount;
  }).catch((err) => {
    errorHandling(err);
  }).finally(() => {
    isLoading.value = false;
  });
}


// 查詢
function query(nextPage = null) {
  let startTime = date.value[0].getTime();
  let endTime = date.value[1].getTime();

  if (startTime != walletRecordReq.startTime || endTime != walletRecordReq.endTime) {
    walletRecordReq.startTime = startTime;
    walletRecordReq.endTime = endTime;
  }
  if (nextPage) {
    walletRecordReq.pageIndex++;
    getWalletRecord('nextPage');
  }
  else {
    getWalletRecord();
  }


}
//篩選搜尋列資料送出
const searchData = () => {
  if (event.keyCode === 13 || event.key === "Enter") {
    walletRecordReq.orderId = searchInput
    walletRecordReq.pageIndex = 1;
    query();
  }
}

const handleScroll = () => {
  if (window.innerHeight + window.pageYOffset >= document.documentElement.scrollHeight) {
    if (walletRecordReq.pageIndex * walletRecordReq.pageSize < totalCount.value) query('nextPage')
  }
}

onMounted(() => {
  if (!localStorage.getItem("sessionKey")) { userLogout(); return; }
  const startDate = moment().startOf('day').toDate();
  const endDate = moment().endOf('day').toDate();
  date.value = [startDate, endDate];

  window.addEventListener("scroll", handleScroll);
  query();
})


</script>

<style lang="scss" scoped>
.phone {
  background: #f5f5f5;
  color: #000;
  .transactionPage {
    padding-bottom: 30px;
    .header-title {
      background: linear-gradient(100.07deg, #009685 2.63%, #004d3d 87.55%);
      display: flex;
      justify-content: space-between;
      font-size: 1rem;
      padding: 1.5rem 1rem 1.5rem 1rem;
      color: #fff;
    }
    .filter {
      display: flex;
      justify-content: space-around;
      padding: 0.5rem 0.5rem 0 0.5rem;
      border-bottom: 1px solid #d9d9d9;
      background: #fff;

      .date {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 50%;
        padding: 0 1.5rem;
        font-weight: normal;
        &::after {
          content: '';
          position: absolute;
          height: 20px;
          width: 1px;
          right: 0;
          background: #d9d9d9;
        }

        div {
          padding-bottom: 0.3rem;
          &.all {
          }
        }
        .active {
          font-weight: bolder;
          border-bottom: 2px solid #009688;
        }
      }

      .currency,
      .further-filter {
        white-space: nowrap;
        img {
          max-height: 20px;
        }
        &.active {
          color: #50ab90;
        }
      }
      .currency {
        position: relative;
        color: #000;
        &::after {
          content: '';
          position: absolute;
          height: 20px;
          width: 1px;
          right: -1.9rem;
          background: #d9d9d9;
        }
      }
      .further-filter {
        .active {
        }
      }
    }
    .date-select,
    .all-select {
      display: flex;
      overflow-x: auto;
      justify-content: space-between;
      padding: 0.3rem 1rem;
      font-weight: normal;
      font-size: 0.6rem;
      color: #9d9b98;
      background: #fff;
      margin-bottom: 0.5rem;
      .active {
        background: linear-gradient(180deg, #b0dfd9 0%, #009688 100%);
        border-radius: 30px;
        color: #fff;
        padding: 0.1rem 0.7rem;
      }
      > div {
        white-space: nowrap;
        margin: 0 10px;
      }
    }
    .transaction-search {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #fff;
      padding: 0 1rem 0 0.3rem;
      .input-group {
        padding: 0.5rem;
        .input-group-text {
          background: #f4f5f8;
          border: none;
          border-radius: 30px 0 0 30px;
          &.del {
            border-radius: 0 30px 30px 0;
          }
        }
        input {
          background: #f4f5f8;
          border: none;
          border-radius: 0;
          height: 30px;
        }
      }
    }
    .trasactionDetail {
      .detail-wrapper {
        background: #fff;
        border-radius: 10px;
        margin: 0.5rem;
        padding: 0.5rem;
        .detail-title,
        .currency,
        .detail-number {
          display: flex;
          justify-content: space-between;
          .state {
            color: red;
          }
        }
        .currency {
          border-bottom: 1px solid #d9d9d9;
          padding-bottom: 0.2rem;
          margin-bottom: 0.4rem;

          .amount {
            color: #2fa55d;
            margin-right: 5px;
            &.red {
              color: red;
            }
          }
        }
        .detail-number {
          font-weight: normal;
          color: #9d9b98;
          .number {
            display: flex;
            .number-order {
              display: inline-block;
              width: 150px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }

          span {
            white-space: nowrap;
            display: flex;
            img {
              max-width: 15px;
              margin-bottom: 0.2rem;
            }
          }
        }
      }
    }
    .no-data {
      margin-top: 30px;
    }
}
}
</style>


<style lang="scss" scoped>
.userInfo-middleContent {
  background-color: #2a3f3a;
  width: 80%;
  padding: 0 2rem;

  .breadcrumb {
    background: none;

    .breadcrumb-item.active {
      cursor: pointer;

      &:hover {
        color: #ffce51;
      }
    }
  }

  .sport-historyBtn {
    text-align: end;
    margin-bottom: 1rem;

    .button {
      background: #1c1b27;
      border: 1px solid rgba(197, 185, 211, 0.3);
      border-radius: 20px;
      box-shadow: none;

      &:hover {
        color: #d9d9d9;
      }

      &.active {
        cursor: default;
        color: #ffce51;
        background: linear-gradient(180deg, #91063a 0%, #780f47 100%);
        margin-right: 1rem;
      }
    }
  }

  .select-option {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    .date-select {
      display: flex;
      align-items: center;

      span {
        cursor: pointer;
        white-space: nowrap;
        margin: 0 0.5rem;

        &:hover {
          color: #ffce51;
        }

        &.active {
          color: #ffce51;
        }
      }

      .dp__main {
        padding-right: 1rem;

        .dp__input_wrap {
          margin-left: 1rem;

          .dp__input {
            font-size: 0.85rem;
            border-radius: 20px;
            padding-right: 2rem;
          }
        }
      }
    }

    .currency-select {
      width: 20%;

      a.lan-button {
        position: relative;
        width: 100%;
        display: block;
        background: #fff;
        border: 0.25px solid rgba(197, 185, 211, 0.3);
        border-radius: 30px;
        box-shadow: none;
        text-align: start;
        color: #000;

        img {
          width: 20px;
        }

        .notice {
          color: #6f6f6f;
        }

        .fa-caret-down {
          position: absolute;
          top: 7px;
          right: 5px;
          color: #b8b8b8;
          font-size: 1.3rem;
        }
      }

      .subLanMenu {
        position: absolute;
        right: 0;
        top: 45px;
        opacity: 0;
        visibility: hidden;
        min-width: auto;
        background-color: #fff;
        z-index: 10;
        transition: all 0.3s ease-in-out;
        width: 100%;
        height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
        color: #000;

        .lang-option {
          cursor: pointer;
          display: block;
          text-align: start;
          padding: 1rem;
          color: #000;

          img {
            width: 20%;
          }
        }
      }

      a.lan-button.show-popup .subLanMenu {
        opacity: 1;
        visibility: visible;
        color: #000;
      }

      a.lan-button.show-popup .subLanMenu a:hover {
        color: #ffce51;
        background: #2d6151;
      }
    }
  }

  .table-overflow {
    position: relative;
    height: 650px;
    overflow: auto;
    border-collapse: collapse;

    .css_table {
      width: 100%;
      display: table;
      color: #ffffff;
      text-align: center;
      background: #1c1b27;
    }

    .css_th {
      position: sticky;
      top: 0px;
      display: table-row;
      padding: 1rem 0;
      background: #234a3c;
      border-bottom: 0.5px solid #4fac91;
    }

    .css_tr {
      display: table-row;
      cursor: pointer;
      background: #0d1c17;

      &:hover {
        background: #2a3f3a94;
      }
    }

    .css_td {
      display: table-cell;
      padding: 1rem;
      white-space: nowrap;

      img {
        max-width: 100%;
        vertical-align: middle;
      }
    }
    .no-data {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.pageSelect {
  background: #fff;
  color: #000;
  padding: 0.5rem;
  margin-left: 1rem;
  text-align: center;
}

.router-link-active {
  cursor: default;
  background: linear-gradient(180deg, #e1f3ed 0%, #87cdb7 2.6%, #2f8e7e 100%);
}

.accordion {
  --bs-accordion-color: #fff;
  --bs-accordion-bg: #474257;
  --bs-accordion-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-border-color: var(--bs-border-color);
  --bs-accordion-border-width: 1px;
  --bs-accordion-border-radius: 0.375rem;
  --bs-accordion-inner-border-radius: calc(0.375rem - 1px);
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-btn-color: #fff;
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  // --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23212529%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e);
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  // --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%230c63e4%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e);
  --bs-accordion-btn-focus-border-color: #86b7fe;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: #0c63e4;
  --bs-accordion-active-bg: #e7f1ff;

  .accordion-item {
    color: var(--bs-accordion-color);
    background-color: var(--bs-accordion-bg);
    border: var(--bs-accordion-border-width) solid
      var(--bs-accordion-border-color);
  }

  .accordion-item:first-of-type {
    border-top-left-radius: var(--bs-accordion-border-radius);
    border-top-right-radius: var(--bs-accordion-border-radius);
  }

  .accordion-item:last-of-type {
    border-bottom-right-radius: var(--bs-accordion-border-radius);
    border-bottom-left-radius: var(--bs-accordion-border-radius);
  }

  .accordion-header {
    margin-bottom: 0;
  }

  .accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 30%;
    margin: auto;
    padding: var(--bs-accordion-btn-padding-x);
    font-size: 1rem;
    color: var(--bs-accordion-btn-color);
    text-align: left;
    background-color: var(--bs-accordion-btn-bg);
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
  }

  [type='button']:not(:disabled),
  button:not(:disabled) {
    cursor: pointer;
  }

  .accordion-button::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: '';
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
  }

  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: var(--bs-accordion-btn-icon-transform);
  }

  .table-overflow {
    padding: 0;
  }
}
:deep(.dp__main.dp__theme_light) {
  .dp__input_wrap {
    width: 106%;
    .dp__pointer {
      border-radius: 30px;
    }
  }
}
:deep(ul#componentContainer) {
  margin-bottom: 1rem;
  column-gap: 10px;
}
:deep(ul#componentContainer .paginate-buttons) {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  cursor: pointer;
  background: #2d6151;
  color: #fff;
  margin: 0 0.2rem;
  white-space: nowrap;
}
:deep(ul#componentContainer .paginate-buttons:hover) {
  background: #306958 !important;
}
:deep(ul#componentContainer .paginate-buttons.active-page) {
  background-color: #50ab90 !important;
  color: white !important;
}
</style>