<template>
  <main class="main-content">
    <div class="container">
      <div class="info">
        <div class="col-sm-12-text">
          <div class="logoBoxMotion">
            <div class="logo">
              <div class="logoEffect "></div>
              <img :src="logo?.imageUrl" alt="">
            </div>
          </div>
          <div class="appTitle">
            <h1>WKING APP</h1>
            <div class="description">
              <p>
                {{ $t("appDownloadtxt01") }}
                &nbsp;&nbsp;&nbsp;&nbsp;
                {{ $t("appDownloadtxt02") }}
              </p>
            </div>
          </div>
          <div class="download-c-tab">
            <div class="xz-button">
              <ul>
                <template v-if="siteSettingsInfo.iosAppLink!==''">
                  <div class="btnBoxOut motion01">
                    <div class="qrcodeBox">
                      <div class="qrcodeArrow">
                        <img src="@/assets/img/icon/arrow-L.svg">
                      </div>
                      <qrcode :value="siteSettingsInfo.iosAppLink"></qrcode>
                    </div>
                    <li class="ip ulBox">
                      <a :href="siteSettingsInfo.iosAppLink" target="_blank" class="btnBox">
                        <img src="@/assets/img/icon/icon_app.svg" class="iconBox">
                        {{ $t("iosDown") }}
                      </a>
                    </li>
                  </div>
                </template>
                <template v-if="siteSettingsInfo.apkLink!==''">
                  <div class="btnBoxOut motion02">
                    <div class="qrcodeBox type02">
                      <div class="qrcodeArrow type02">
                        <img src="@/assets/img/icon/arrow-R.svg">
                      </div>
                      <qrcode :value="siteSettingsInfo.apkLink"></qrcode>
                    </div>
                    <li class="ip ulBox">
                      <a :href="siteSettingsInfo.apkLink" target="_blank" class="btnBox">
                        <img src="@/assets/img/icon/icon_an.svg" class="iconBox">
                        {{ $t("AndroidDown") }}
                      </a>
                    </li>
                  </div>
                </template>
                <template v-if="siteSettingsInfo.customerServiceUrl!==''">
                  <div class="btnBoxOut motion03">
                    <li class="ip"><a :href="siteSettingsInfo.customerServiceUrl" target="_blank" class="btnBox">
                        <img src="@/assets/img/icon/icon_service.svg" class="iconBox">
                        {{ $t("customerService") }}
                      </a>
                    </li>
                  </div>
                </template>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>
<script setup>
import { ref, computed, onBeforeMount } from "vue";
import Qrcode from 'vue3-qrcode';
import { useStore } from "vuex"
import common from "@/utils/common";

const store = useStore();
const { getLogo } = common();

const logo = ref('');

const siteSettingsInfo = computed(() => store.state.siteSettingsInfo);

onBeforeMount( async () => {
  logo.value = await getLogo(1, 25);
})
</script>

<style lang="scss" scoped>
h1{
  color:white;
}
.main-content {
  min-height: 850px !important;
  height: 100vh;
  background-image: url('@/assets/img/APP/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 996px;
}

.container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  display: flex;
  justify-content: center;

  //background-color: aqua;

  .info {
    display: flex;
    justify-content: center;
  }

  .col-sm-12-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    //background-color: brown;

    .logoBoxMotion {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .logo {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      //box-sizing: border-box;
      margin: 10px 0 0 0;
      animation-name: m01;
      animation-duration: 0.5s;
      animation-delay: 0s;
      animation-iteration-count: 1;
      scale: 0.001;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      border-radius: 15px;
      overflow: hidden;
      width: 200px;

      @keyframes m01 {
        0% {
          scale: 0.01;
        }

        100% {
          scale: 1;
        }
      }

      img {
        width: 200px;
        height: auto;
        border-radius: 15px;
        overflow: hidden;
      }

      .logoEffect {
        position: absolute;
        width: 100px;
        height: 150%;
        //background-color: aquamarine;
        background-image: linear-gradient(
          to right,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0.5),
          rgba(255, 255, 255, 0)
        );
        animation-name: logo01;
        animation-duration: 4s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
        scale: 1;
        animation-timing-function: linear;
        animation-fill-mode: inherit;
        opacity: 1;
        transform: translate(-200%, 0);

        @keyframes logo01 {
          0% {
            transform: rotate(45deg) translate(-200%, 0);
            opacity: 0;
          }

          40% {
            transform: rotate(45deg) translate(-200%, 0);
            opacity: 0.8;
          }

          60% {
            transform: rotate(45deg) translate(200%, 0);
            opacity: 0.8;
          }

          100% {
            transform: rotate(45deg) translate(200%, 0);
            opacity: 0;
          }
        }
      }
    }

    .appTitle {
      animation-name: m11;
      animation-duration: 0.5s;
      animation-delay: 0.2s;
      animation-iteration-count: 1;
      scale: 0.001;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation: m11 0.5s 0.4s 1 forwards ease-in-out,
        m11-02 2s 5s infinite ease-in-out;

      @keyframes m11 {
        0% {
          scale: 0.01;
        }

        100% {
          scale: 1;
        }
      }

      @keyframes m11-02 {
        0% {
          top: -7%;
          scale: 1;
        }

        50% {
          top: -10%;
          scale: 1.05;
        }

        100% {
          top: -7%;
          scale: 1;
        }
      }
    }

    h1 {
      font-weight: 300;
      font-size: 58px;
      line-height: 58px;
      margin-top: 10px;
      text-align: center;
    }

    .description {
      color: #fff;
      margin: 26px 0 30px 0;
      font-size: 22px;
      line-height: 36px;
      text-align: center;
    }

    .download-c-tab {
      //width: 475px;
      margin: 10px auto 0;
      //overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      .xz-button {
        ul {
          list-style: none;
          //margin-left: 45px;
          padding: 0px;
          margin-top: 0;
          margin-bottom: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          .btnBoxOut {
            //background-color: aquamarine;
            position: relative;
            width: 100%;
            margin-bottom: 20px;

            &.motion01 {
              animation-name: word01;
              animation-duration: 0.5s;
              animation-delay: 1s;
              animation-iteration-count: 1;
              scale: 1;
              animation-timing-function: ease-in-out;
              animation-fill-mode: forwards;
              opacity: 0;

              @keyframes word01 {
                0% {
                  transform: translate(-50%, 0);
                  opacity: 0;
                }

                100% {
                  transform: translate(0%, 0);
                  opacity: 1;
                }
              }
            }

            &.motion02 {
              animation-name: word02;
              animation-duration: 0.5s;
              animation-delay: 1.2s;
              animation-iteration-count: 1;
              scale: 1;
              animation-timing-function: ease-in-out;
              animation-fill-mode: forwards;
              opacity: 0;

              @keyframes word02 {
                0% {
                  transform: translate(50%, 0);
                  opacity: 0;
                }

                100% {
                  transform: translate(0%, 0);
                  opacity: 1;
                }
              }
            }

            &.motion03 {
              animation-name: word03;
              animation-duration: 0.5s;
              animation-delay: 1.4s;
              animation-iteration-count: 1;
              scale: 1;
              animation-timing-function: ease-in-out;
              animation-fill-mode: forwards;
              opacity: 0;

              @keyframes word03 {
                0% {
                  transform: translate(-50%, 0);
                  opacity: 0;
                }

                100% {
                  transform: translate(0%, 0);
                  opacity: 1;
                }
              }
            }

            .qrcodeBox {
              position: absolute;
              display: flex;
              justify-content: center;
              align-items: center;
              top: 50%;
              //left: -180px;
              width: 160px;
              height: 160px;
              background-color: #fff;
              transform: translate(-180px, -50%);
              border-radius: 15px;
              z-index: 10;

              &.type02 {
                //right: -800px;
                transform: translate(360px, -50%);
              }

              .qrcodeArrow {
                display: block;
                position: absolute;
                //idth: 50px;
                top: 50%;
                //background-color: blue;
                z-index: 10;
                transform: translate(95px, -50%);

                & img {
                  width: 30px;
                  height: auto;
                }

                &.type02 {
                  transform: translate(-94px, -50%);
                  //transform: rotate(180deg);
                }
              }
            }
          }

          .ip {
            background: #fff;
            color: #363646;
            border-radius: 16px;
            box-shadow: 0 2px 10px rgb(0 16 42 / 35%);
            cursor: pointer;
            text-align: left;
            opacity: 0.7;
            width: 340px;
            //height: 84px;
            line-height: 84px;
            font-size: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            transition: 0.2s;

            .btnBox {
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .iconBox {
              width: 50px;
              margin-right: 5px;

              & img {
                width: 100%;
                height: auto;
              }
            }

            &:hover {
              opacity: 1;
              scale: 1.05;
            }

            a {
              color: #363646;
              //padding-left: 80px;
            }
          }
        }
      }
    }
  }
}
</style>