<template>
    <main class="main-content">
        <section class="section section--chess sport-not-login">
            <div class="sport">
                <div class="container">
                    <game-hall />
                </div>
            </div>
            <!---->
        </section>
    </main>
</template>
<script setup>
import GameHall from '@/components/aaa/GameHallView.vue'
</script>

<style lang="scss" scoped>
.section--chess .sport {
    background: url(@/assets/aaa/img/gameHall/game_hall_chess.jpg) no-repeat top;
    -ms-background-size: content;
    background-size: content;
    height: auto;
    margin-top: 23px;


    .sport__row {
        padding-top: 19rem;

        ul.nav {
            padding: 1rem;
            background-color: #171717;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border: none;

            li {
                margin: 0 .5rem;

                button.nav-link {
                    position: relative;
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                    padding: .5rem 1;
                    border-radius: 5px;
                    background: #363636;
                    color: #fff;

                    &:hover {
                        background: #3d3d3d;
                    }

                    &.active {
                        background: #ad8551;
                    }

                    img.hot {
                        position: absolute;
                        top: -10px;
                        right: -8px;
                    }
                }
            }
        }

        .tab-content {
            background: #202020;
            min-width: 960px;
            max-width: 1000px;

            .search {
                padding: 1rem;
                background: #D9D9D9;

                .egameTitle {
                    width: 50%;
                    text-align: center;

                    .logo {
                        max-height: 38px;
                    }

                    .title {
                        margin-left: 2rem;
                        font-size: 1rem;
                        color: #000;
                    }
                }

                .input-group {
                    width: 50%;
                    padding: 0 5rem;

                    input {
                        border: 1px solid #666666;
                        border-right: none;
                    }

                    .btn-outline-secondary {
                        background-color: #fff;
                        border-left: none;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;

                        &:hover {
                            color: #000;
                            transition: none;
                        }

                        &:focus {
                            box-shadow: none;
                        }
                    }
                }
            }

            .egame-type {
                background: #008979;

                .type-title {
                    font-size: 1rem;
                }

                .type-tab {
                    cursor: pointer;
                    background: #323335;
                    padding: .5rem;
                    border-radius: 5px;

                    &:hover {
                        background: #454749;
                    }
                }

            }

        }
    }
}

.game-icon {
    width: 200px;
    height: 200px;
}
</style>
  
