<template>
  <!-- desktop -->
  <main class="main-content indexHomeMainContentBlock">
    <div class="indexHomeMainContentBannerBlockFlex">
      <section class="section section--home-banner img-block indexHomeMainContentBannerBlock">
        <!-- 左邊紅包懸浮按鈕 -->
        <div class="homePromo-redEnvelope-left" v-if="redPacketLeftImg && redPacketShow === true" :data-bs-target="isLogin ? '#promoRed' : '#collapseTarget' " data-bs-toggle="modal">
          <div class="homePromo-btn">
            <img :src="redPacketLeftImg" alt="">
          </div>
        </div>

        <!--右邊懸浮社群-->
        <div class="aside-block">
          <a :href="siteSettingsInfo.customerServiceUrl" target="_blank" class="service-block mx-auto">
            <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/service/Asset3.png'" alt="">
          </a>
          <div v-if="FrontShortcutArray.length > 0" class="society-block px-2">
            <div v-for=" (FrontShortcut, index) in FrontShortcutArray" class="society-box" :key="index">
              <a class="d-flex align-items-center" :href="FrontShortcut.hyperlink" target="_blank">
                <span class="img position-relative">
                  <img class="none" :src="FrontShortcut.image" alt="">
                  <img class="hover" :src="FrontShortcut.stopOverImage" alt="">
                </span>
                <span class="text ml-2">{{FrontShortcut.title}}</span>
              </a>
            </div>
          </div>
        </div>

        <!-- 右邊紅包懸浮按鈕 -->
        <div class="homePromo-redEnvelope" v-if="redPacketRightImg && redPacketShow === true" :data-bs-target="isLogin ? '#promoRed' : '#collapseTarget' " data-bs-toggle="modal">
          <div class="homePromo-btn">
            <img :src="redPacketRightImg" alt="">
          </div>
        </div>

        <div class="homePromo-img" :data-bs-target="isLogin ? '#promoApplyPop' : '#collapseTarget' " data-bs-toggle="modal">
          <div class="homePromo-btn">
            <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/homePromo-btn2.png'" alt="">
          </div>
        </div>

        <div class="home-banner">
          <swiper class="home-banner__slider isHotMatch swiper homeSwiper" :modules="modules" :slides-per-view="1" :space-between="25" :loop="true" :autoplay="{ delay: 2500 }" :navigation="{ nextEl: '.jackpot__next', prevEl: '.jackpot__prev' }" :pagination="false" :scrollbar="false">
            <swiper-slide v-for="(homeBanner,index) in homeBanners" :key="index" class="home-banner__item swiper-slide">
              <div class="home-banner__link">
                <a v-if="homeBanner.hyperlink" :href="homeBanner.hyperlink" target="_blank">
                  <img :src="homeBanner.imageUrl" alt="">
                </a>
                <img v-else :src="homeBanner.imageUrl" alt="">
              </div>
            </swiper-slide>
          </swiper>
        </div>

      </section>
    </div>
    <div class="section-bg">
      <div class="d-flex mt-3 promoText">
        <div class="mr-5 promoText-img ">
          Tin tức
        </div>
        <div class="promoText-content">Sự kiện ra mắt WKING - Nhà Cái Uy Tín, Chất Lượng, Công Bằng, An Toàn, Bảo Mật – Cam kết cung cấp 1 sòng bạc phong phú trò chơi siêu hấp dẫn, chương trình ưu đãi bất ngờ, nạp rút nhanh chóng cùng đội ngũ chăm sóc khách hàng chuyên nghiệp nhất!
        </div>
      </div>

      <section class="section section--home--live m-3">
        <div class="home--live type02 promoMsg">
          <div class="slider">
            <swiper class="home-live-game1-slider swiper" :modules="modules" :slides-per-view="4" :loop="true" :navigation="{ nextEl: '.promoMsg__next', prevEl: '.promoMsg__prev' }" :pagination="false" :scrollbar="false">
              <template v-for="(item, index) in promotionList" :key="index">
                <swiper-slide class="swiper-slide" v-if="item.simageUrl">
                  <router-link :to="{name:'aaaPromotion'}">
                    <img :src="item.simageUrl" alt="" style="max-width:357px;max-height:154px; ">
                  </router-link>
                </swiper-slide>
              </template>

            </swiper>
          </div>
          <div class="promoMsg__prev ">
            <font-awesome-icon icon="fa-solid fa-chevron-left" />
          </div>
          <div class="promoMsg__next ">
            <font-awesome-icon icon="fa-solid fa-chevron-right" />
          </div>
        </div>
      </section>

      <section class="top-game-section">
        <div class="top-game">
          <span class="top-game-title">TOP THỂ LOẠI</span>
          <div class="slider d-flex">
            <swiper class="top-game1-slider swiper" :modules="modules" :slides-per-view="3" :space-between="25" :loop="true" :autoplay="{ delay: 2000 }" :navigation="{ nextEl: '.jackpot__next', prevEl: '.jackpot__prev' }" :pagination="false" :scrollbar="false">
              <swiper-slide class="swiper-slide">
                <div @click="goClassPage('Sports')">
                  <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/top-game1-pic1.png'" class="swiper-lazy" />
                </div>
              </swiper-slide>
              <swiper-slide class="swiper-slide">
                <div @click="goClassPage('Fish')">
                  <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/top-game1-pic2.png'" class="swiper-lazy" />
                </div>
              </swiper-slide>
              <swiper-slide class="swiper-slide">
                <div @click="goClassPage('Casino')">
                  <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/top-game1-pic3.png'" class="swiper-lazy" />
                </div>
              </swiper-slide>
              <swiper-slide class="swiper-slide">
                <div @click="goClassPage('Sports')">
                  <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/top-game1-pic1.png'" class="swiper-lazy" />
                </div>
              </swiper-slide>
              <swiper-slide class="swiper-slide">
                <div @click="goClassPage('Fish')">
                  <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/top-game1-pic2.png'" class="swiper-lazy" />
                </div>
              </swiper-slide>
              <swiper-slide class="swiper-slide">
                <div @click="goClassPage('Casino')">
                  <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/top-game1-pic3.png'" class="swiper-lazy" />
                </div>
              </swiper-slide>
            </swiper>

            <swiper class="top-game2-slider swiper" :modules="modules" :slides-per-view="4" :space-between="8" :initialSlide="4" :loop="true" :autoplay="{ delay: 3000 }" :navigation="{ nextEl: '.jackpot__next', prevEl: '.jackpot__prev' }" :pagination="false" :scrollbar="false">
              <swiper-slide class="swiper-slide">
                <div @click="goClassPage('Lottery')">
                  <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/top-game2-pic1.png'" class="swiper-lazy" />
                </div>
              </swiper-slide>
              <swiper-slide class="swiper-slide">
                <div @click="goClassPage('Chess')">
                  <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/top-game2-pic2.png'" class="swiper-lazy" />
                </div>
              </swiper-slide>
              <swiper-slide class="swiper-slide">
                <div @click="goClassPage('Sports')">
                  <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/top-game2-pic3.png'" class="swiper-lazy" />
                </div>
              </swiper-slide>
              <swiper-slide class="swiper-slide">
                <div @click="goClassPage('Egame')">
                  <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/top-game2-pic4.png'" class="swiper-lazy" />
                </div>
              </swiper-slide>
              <swiper-slide class="swiper-slide">
                <div @click="goClassPage('Lottery')">
                  <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/top-game2-pic1.png'" class="swiper-lazy" />
                </div>
              </swiper-slide>
              <swiper-slide class="swiper-slide">
                <div @click="goClassPage('Chess')">
                  <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/top-game2-pic2.png'" class="swiper-lazy" />
                </div>
              </swiper-slide>
              <swiper-slide class="swiper-slide">
                <div @click="goClassPage('Sports')">
                  <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/top-game2-pic3.png'" class="swiper-lazy" />
                </div>
              </swiper-slide>
              <swiper-slide class="swiper-slide">
                <div @click="goClassPage('Egame')">
                  <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/top-game2-pic4.png'" class="swiper-lazy" />
                </div>
              </swiper-slide>
            </swiper>
          </div>
        </div>
      </section>
      <section class="hot-live-game-section">
        <div class="hot-live-game-title">
          <div class="titleBox">
            <div class="textZone">
              TẬN HƯỞNG CÁC TRÒ CHƠI SÒNG BÀI TRỰC TIẾP CAO CẤP
            </div>
            <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/hot-live-game-title-02.png'" class="textPic" />
          </div>
          <p>
            Thực hành kỹ năng chơi bài của bạn ở bất cứ nơi đâu. Thư viện đại lý trưc tiếp của chúng tôi cho
            phép bạn chơi nhiều biến thể trò chơi khác nhau với người chia bài thật, thiết bị thật và người chơi
            thật.
          </p>
        </div>

        <div class="hot-live-game">
          <div class="slider type02">
            <div class="movieBlock">
              <div v-if="homeVideo" class="movieItemiframeBg">
                <div class="movieItemiframe">
                  <iframe width="100%" height="100%" :src="homeVideo.hyperlink" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/youtubeBg.png'" />
              </div>
              <div v-else>
                <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/noVideo.png'" alt="">
              </div>
            </div>
            <swiper class="hot-live-game2-slider swiper" :modules="modules" :slides-per-view="4" :loop="true" :autoplay="{ delay: 1500 }" :navigation="{ nextEl: '.jackpot__next', prevEl: '.jackpot__prev' }" :pagination="false" :scrollbar="false">
              <swiper-slide class="swiper-slide" v-for="(item, index) in liveGame2Slider" :key="index" @mouseover="item.hover=true" @mouseleave="item.hover=false">
                <a href="javascript:void(0)" @click="goClassPage('Casino')">
                  <img :src="item.imgPath" class="swiper-lazy" v-if="item.hover===false" />
                  <img :src="item.imgPathHover" class="swiper-lazy" v-else />
                </a>
              </swiper-slide>
            </swiper>

            <div class="view-all-live-game">
              <a href="javascript:void(0)" @click="goClassPage('Casino')">View All Live Game</a>
            </div>

          </div>
        </div>

      </section>

      <section class="section section--home--live declare m-5">
        <div class="home--live">
          <a href="javascript:void(0)">
            <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/declare-pic1.png'" alt="">
          </a>
          <a href="javascript:void(0)">
            <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/declare-pic2.png'" alt="">
          </a>
          <a href="javascript:void(0)">
            <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/declare-pic3.png'" alt="">
          </a>
          <a href="javascript:void(0)">
            <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/declare-pic4.png'" alt="">
          </a>
        </div>
      </section>

      <section class="most-section">
        <div class="favorite">
          <div class="favorite-title"></div>
          <div class="online-peple">
            <span class="online-pic">
              <img class="img-1" :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/online-pic1.png'" alt="">
              <img class="img-2" :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/online-pic1.png'" alt="">
              <img class="img-3" :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/online-pic1.png'" alt="">
              <img class="img-4" :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/online-pic1.png'" alt="">
              <img class="img-5" :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/online-pic1.png'" alt="">
            </span>
            <span class="online-peple-count">
              <span>{{stringToMoney(onlineUser)}} người online</span>
            </span>
          </div>
          <div class="favoriteSlider">
            <swiper class="favorite-game-slider swiper" :modules="modules" :slides-per-view="7" :loop="true" :space-between="10" :autoplay="{ delay: 3000 }" :navigation="{ nextEl: '.jackpot__next', prevEl: '.jackpot__prev' }" :pagination="false" :scrollbar="false">
              <swiper-slide v-for="(favoriteThirdPartieGame,index) in favoriteThirdPartyGames" :key="index" class="swiper-slide">
                <div class="iconPlayArrow"></div>
                <div @click="goGame(favoriteThirdPartieGame)">
                  <img :src="favoriteThirdPartieGame.img" class="swiper-lazy" />
                </div>
              </swiper-slide>
            </swiper>
            <div class="link-all" @click="goClassPage('Egame')">
              Xem tất cả >>
            </div>
          </div>
        </div>
        <div class="popular">
          <div class="popular-title"></div>
          <div class="d-flex align-items-center">
            <div class="popular-left">
              <div class="row m-0 p-0 PopularLeftBlock">
                <template v-for="(imgItem, index) in leftImg" :key="index">
                  <div class="col" v-if="imgItem.id <= 8">
                    <a href="javascript:void(0)" @mouseover="showRightSide(index)" @click="goCasinoPage">
                      <img :src="imgItem.imgPath" alt="">
                    </a>
                    <span class="live">
                      <div class="lightEffect" :class="'effect-' + index">
                      </div>
                      Live
                    </span>
                  </div>
                </template>
              </div>
            </div>
            <div class="popular-right">
              <div class="popular-rightBg">
                <a href="javascript:void(0)">
                  <img v-if="imgIndexPath.length === 0" :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/favorite-left-pci1.png'" alt="">
                  <img v-else :src="imgIndexPath" alt="">
                </a>
              </div>
              <div class="popular-moreLink" @click="goClassPage('Casino')">
                Xem tất cả >>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!----------應該在home首頁段落↓↓↓↓↓↓↓↓----------->
      <section class="section section--home--footer">
        <div class="contanctBox">
          <div class="contanctBox03">
            <div class="contanctBoxL">
              <div class="footer-GetAppText01">
                <span class="textBox01">
                  TẢI ỨNG DỤNG WKING
                </span>
                <span class="textBox02">
                  <br>
                  Tương lai của trò chơi ở đây.<br>
                  Đa thiết bị - Đa nền tảng<br>
                  Nhanh chóng - Bảo mật - Tiện lợi<br>
                </span>
              </div>
              <div class="footer-GetAppText02">
                <span class="textBox01">
                  Đăng kí ngay hôm nay để nhận hàng ngàn quà tặng ,ưu đãi và phần thưởng miễn phí
                </span>
                <div class="textBox02">
                  <div class="qrCodeBox">
                    <div class="qrPic" v-if="siteSettingsInfo.iosAppLink">
                      <qrcode :value="siteSettingsInfo.iosAppLink"></qrcode>
                    </div>
                    <div class="qrPic type02">
                      <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/IOS.png'">
                    </div>
                  </div>
                  <div class="qrCodeBox">
                    <div class="qrPic" v-if="siteSettingsInfo.apkLink">
                      <qrcode :value="siteSettingsInfo.apkLink"></qrcode>
                    </div>
                    <div class="qrPic type02">
                      <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/Android.png'">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-pic03 d-flex">
              <div>
                <router-link :to="{name:'aaaOtherPage', query: { info: 'Recommend' }}" class="link">
                  <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/footer-pic03-1.png'">
                </router-link>
                <router-link :to="{name:'aaaOtherPage', query: { info: 'About' }}" class="link">
                  <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/footer-pic03-2.png'">
                </router-link>
              </div>
              <div>
                <router-link :to="{name:'aaaOtherPage', query: { info: 'About' }}" class="link">
                  <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/footer-pic03-3.png'">
                </router-link>
                <div v-if="isLogin == true">
                  <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/footer-pic03-4.png'">
                </div>
                <button v-else type="button" href="javascript:void(0)" rel="tab2" data-bs-target="#collapseTarget" data-bs-toggle="modal" @click="selectTab(true)">
                  <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/footer-pic03-4.png'">
                </button>
              </div>
            </div>

          </div>

        </div>
      </section>
      <button class="goTop" :class="{fade: !isAtTop}" @click="goTop" v-show="!isAtTop"><font-awesome-icon icon="fa-solid fa-chevron-up" beat-fade size="lg" /></button>

      <!-- 一進首頁彈出廣告視窗 -->
      <div id="my-template">
        <div id="swiper-container">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div v-for="(swiperContainerBanner, index) in swiperContainerBanners" :key="index" class="swiper-slide">
                <a :href="swiperContainerBanner.hyperlink" target="_blank">
                  <img :src="swiperContainerBanner.imageUrl" alt="">
                </a>
              </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>

      <!-- 申請優惠彈出視窗 -->
      <promo-apply />
      <promo-red-envelope-view />
    </div>
  </main>

  <!-- 加載 -->
  <loading v-model:active="isLoading" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />
</template>


<script>
import { Swiper, SwiperSlide } from 'swiper/vue';
import { Navigation, Pagination, Scrollbar, A11y, EffectFade, Autoplay } from 'swiper';
import { ref, reactive, watch, onUpdated, onMounted, computed } from 'vue';
import { useRouter } from "vue-router";
import { useI18n } from "vue-i18n";
import apiService from '@/api/apiService';
import { startGame } from '@/api/api';
import Qrcode from 'vue3-qrcode';
import { useStore } from 'vuex';
import { useGamesStore } from '@/store/game'
import { storeToRefs } from "pinia";
import common from "@/utils/common";
import Swal from "sweetalert2";
import promoApply from '@/components/aaa/PromoApply.vue'

import 'swiper/css';
import 'swiper/css/pagination';
import 'swiper/css/scrollbar'
import 'swiper/css/effect-fade';

import SwiperJq from 'swiper';
import Loading from 'vue-loading-overlay';
import PromoRedEnvelopeView from '@/components/aaa/PromoRedEnvelopeView.vue';

export default {

  components: { Swiper, SwiperSlide, Qrcode, promoApply, Loading, PromoRedEnvelopeView },
  setup() {

    const games = useGamesStore();
    const store = useStore();
    const { headerMenu } = storeToRefs(games);
    const { locale } = useI18n();
    const min = 10000;
    const max = 100000;
    const homeBanners = reactive([]);
    const swiperContainerBanners = reactive([]);
    const homeVideo = ref('');

    const { errorHandling, stringToMoney, selectTab } = common();
    const swiperContainerBannersHasShow = ref(false);
    const onlineUser = ref('');
    const isLoading = ref(false);
    const FrontShortcutArray = ref([]);

    const siteSettingsInfo = computed(() => store.state.siteSettingsInfo);
    const isLogin = computed(() => store.state.isLogin);
    const lang = computed(() => store.state.lang);
    const wallets = computed(() => store.state.wallets);

    const createRandom = () => {
      return Math.floor(Math.random() * (max - min + 1) + min);
    }
    const getNumber = () => {
      return createRandom(min, max);
    }

    const { t } = useI18n();
    const router = useRouter();
    const currentUrl = ref('')
    const toPageUrl = (address, par) => {

      currentUrl.value = par;
      router.push({
        name: address,
        query: { info: par }
      })
    };

    const DomainLayoutId = computed(() => store.state.DomainLayoutId);

    const redPacketShow = ref('false')
    const redPacketRightImg = ref('');
    const redPacketLeftImg = ref('');

    //定義hot-live-game2-slider圖片路徑
    const liveGame2Slider = reactive([
      {
        id: 0,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/hot-live-game2-pic1.png',
        imgPathHover: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/hot-live-game2-pic1Hover.png',
        hover: false,
      },
      {
        id: 1,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/hot-live-game2-pic2.png',
        imgPathHover: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/hot-live-game2-pic2Hover.png',
        hover: false,
      },
      {
        id: 2,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/hot-live-game2-pic3.png',
        imgPathHover: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/hot-live-game2-pic3Hover.png',
        hover: false,
      },
      {
        id: 3,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/hot-live-game2-pic4.png',
        imgPathHover: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/hot-live-game2-pic4Hover.png',
        hover: false,
      },
      {
        id: 4,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/hot-live-game2-pic5.png',
        imgPathHover: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/hot-live-game2-pic5Hover.png',
        hover: false,
      },
      {
        id: 5,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/hot-live-game2-pic1.png',
        imgPathHover: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/hot-live-game2-pic1Hover.png',
        hover: false,
      },
      {
        id: 6,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/hot-live-game2-pic2.png',
        imgPathHover: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/hot-live-game2-pic2Hover.png',
        hover: false,
      },
      {
        id: 7,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/hot-live-game2-pic3.png',
        imgPathHover: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/hot-live-game2-pic3Hover.png',
        hover: false,
      },
      {
        id: 8,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/hot-live-game2-pic4.png',
        imgPathHover: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/hot-live-game2-pic4Hover.png',
        hover: false,
      },
      {
        id: 9,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/hot-live-game2-pic5.png',
        imgPathHover: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/hot-live-game2-pic5Hover.png',
        hover: false,
      },


    ]);


    //定義左邊小圖路徑
    const leftImg = reactive([
      {
        id: 1,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/LiveCasino/AG.png',
      },
      {
        id: 2,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/LiveCasino/SexyLive.png',
      },
      {
        id: 3,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/LiveCasino/BG.png',
      },
      {
        id: 4,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/LiveCasino/DG.png',
      },
      {
        id: 5,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/LiveCasino/EBET.png',
      },
      {
        id: 6,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/LiveCasino/Horse-Racing.png',
      },
      {
        id: 7,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/LiveCasino/Macauking.png',
      },
      {
        id: 8,
        imgPath: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/LiveCasino/MG.png',
      },


    ]);
    //回頁面頂端
    const isAtTop = ref(true);

    const checkScrollPosition = () => {
      isAtTop.value = window.pageYOffset === 0;
    };

    const goTop = () => {
      window.scrollTo({ top: 0, behavior: 'smooth' });
    };

    const favoriteThirdPartyGames = [
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/favorite/chess/BACCARAT-KINGMAKER.png',
        name: "Chess",
        id: "KMChess",
        thirdPartyGameNo: "Baccarat"
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/favorite/fish/BANCA-FS-FISHING.png',
        name: "Fish",
        id: "FastSpinFH",
        thirdPartyGameNo: "FastSpin-FISH-001"
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/favorite/chess/BAUCUA2---KINGMAKER.png',
        name: "Chess",
        id: "KMChess",
        thirdPartyGameNo: "Viet_Fish_Prawn_Crab"
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/favorite/chess/LIENG-BOLEGAMEING.png',
        name: "Chess",
        id: "BLChess",
        thirdPartyGameNo: "superbaicao"
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/favorite/egame/XENG3D-LGD-GAMING.png',
        name: "Egame",
        id: "LGD",
        thirdPartyGameNo: "casino"
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/favorite/chess/XOCDIA-KINGMAKER.png',
        name: "Chess",
        id: "KMChess",
        thirdPartyGameNo: "Xoc_Dia"
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/favorite/lottery/XOSOMIENBAC-TCGAMING.png',
        name: "Lottery",
        id: "TCG",
        thirdPartyGameNo: "NVNC"
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/favorite/sports/CMD368.png',
        name: "Sports"
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/favorite/egame/VA.png',
        name: "Egame"
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/favorite/egame/LGD.png',
        name: "Egame"
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/favorite/lottery/TCG.png',
        name: "Lottery"
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/favorite/fish/SG.png',
        name: "Fish"
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/favorite/fish/JDB.png',
        name: "Fish"
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/favorite/chess/KM.png',
        name: "Chess"
      },
      {
        img: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/home/favorite/chess/BL.png',
        name: "Chess"
      },

    ]

    const promotionList = ref('');


    //紀錄左邊小圖路徑給右邊大圖用
    const imgIndexPath = ref('');
    //按下左邊小圖後記錄路徑
    const showRightSide = (index) => {
      imgIndexPath.value = leftImg[index].imgPath;
    };

    const liveOpacity = ref(1);


    function getBillboard() {
      const params = {
        deviceType: 1, // 1=pc
        lang: localStorage.getItem("locale") ?? 'en',
        DomainLayoutId: DomainLayoutId.value
      }

      apiService.post('/Billboard/List', params).then((res) => {
        swiperContainerBanners.splice(0);
        homeBanners.splice(0);
        homeVideo.value = '';
        res.data.datas.forEach(element => {
          /*  15    Logo
              16    彈窗廣告
              17    左邊浮動廣告
              18    右邊浮動廣告
              19    左下角廣告
              20    右下角廣告
              21    首頁輪播(頂部)
              23    首頁影片播放
              */
          if (element.placeId === 16) {
            swiperContainerBanners.push(element);
          }
          if (element.placeId === 21) {
            homeBanners.push(element);
          }
          if (element.placeId === 23 && homeVideo.value === '') {
            homeVideo.value = element
          }

          if (element.placeId === 19) {
            redPacketLeftImg.value = element.imageUrl;
          }

          if (element.placeId === 20) {
            redPacketRightImg.value = element.imageUrl;
          }
        });

      }).catch((err) => {
        console.log(err)
      });
    }


    onUpdated(() => {
      let template = document.querySelector('#my-template');
      if (template !== null && swiperContainerBannersHasShow.value === false && swiperContainerBanners.length > 0) {
        swiperContainerBannersHasShow.value = true;
        Swal.fire({
          width: 800,
          padding: 0,
          background: '#000000a8',
          showCancelButton: false,
          showConfirmButton: false,
          showCloseButton: true,
          html: template,
          didRender: () => {
            new SwiperJq('.swiper-container', {
              navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
              },
            });
          }
        })
      }
    });

    function getPromotionList() {
      const params = {
        lang: localStorage.getItem("locale"),
        deviceType: 1,//桌機
        DomainLayoutId: DomainLayoutId.value
      }
      apiService.post('/Promotion/List', params).then((res) => {
        promotionList.value = res.data.datas
      }).catch((err) => {
        errorHandling(err)
      });
    }

    //判斷紅包按鈕要不要顯示
    function getRedPacketInfo() {
      const params = {
        sessionKey: '',
        currencyNo: +localStorage.getItem('currencyNo'),
      }
      apiService.post('/Promotion/RedPacket/Info', params)
        .then((res) => {
          redPacketShow.value = res.data.status === 1 ? false : true;

        })
        .catch((err) => {
          errorHandling(err);
        });
    }

    //前台快捷配置
    function getFrontShortcut() {
      const params = {
        lang: localStorage.getItem("locale"),
        DomainLayoutId: DomainLayoutId.value
      }
      apiService.post('/SiteSetting/FrontShortcut', params)
        .then((res) => {
          res.data.datas.forEach((item) => {
            FrontShortcutArray.value.push(item)
          })
        })
        .catch((err) => {
          errorHandling(err);
        });
    }

    async function goClassPage(name) {
      let gameClass;
      switch (name) {
        case 'Lottery': gameClass = 1;
          break;
        case 'Casino': gameClass = 2;
          break;
        case 'Egame': gameClass = 3;
          break;
        case 'Sports': gameClass = 4;
          break;
        case 'Chess': gameClass = 5;
          break;
        case 'Fish': gameClass = 6;
          break;
        case "SportEvent": gameClass = 7;
          break;

      }
      await games.setGameThirdPartyNo(gameClass, -1, '', 'gameThirdParty');
      router.push({
        name: "aaa" + name,
      });
    }
    async function goGame(thirdPartieGame) {
      let gameThirdPartyNo = '';

      const selectedGameThirdParty = headerMenu.value
        .flatMap(item => item.subMenu || [])
        .find(gameThirdParty => gameThirdParty.id === thirdPartieGame.id);

      if (selectedGameThirdParty) gameThirdPartyNo = selectedGameThirdParty.gameThirdPartyNo;

      //若找不到GameThirdParty 跳轉遊戲大廳
      if (!selectedGameThirdParty) {
        goThirdPartyPage(thirdPartieGame.name);
        return
      }
      //clickAction 點擊動作(1=進入遊戲列表,2=直接跳轉遊戲商大廳)
      if (selectedGameThirdParty.clickAction === 2) {
        isLoading.value = true;
        try {
          await startGame(locale.value, gameThirdPartyNo, null, null);
        } catch (err) {
          if (err.response == null || err.response.status == null) {
            console.log(err);
            Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
          } else if (err.response.status == 460) // 遊戲維護
            Swal.fire("", t("game_maintain"), "warning");
          else errorHandling(err);
        }
        isLoading.value = false;
      }
      else {
        const findGame = selectedGameThirdParty.games.some(game => game.thirdPartyGameNo === thirdPartieGame.thirdPartyGameNo)
        //若找不到game跳轉遊戲大廳
        if (!findGame) {
          goThirdPartyPage(thirdPartieGame.name);
        }
        else {
          isLoading.value = true;
          try {
            await startGame(locale.value, gameThirdPartyNo, thirdPartieGame.thirdPartyGameNo, null);
          } catch (err) {
            if (err.response == null || err.response.status == null) {
              console.log(err);
              Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
            } else if (err.response.status == 460) // 遊戲維護
              Swal.fire("", t("game_maintain"), "warning");
            else errorHandling(err);
          }
          isLoading.value = false;
        }
      }
    }
    async function goThirdPartyPage(name) {
      //看起來跟goClassPage一樣，因為這是暫時版本，之後可能會變
      let gameClass;
      switch (name) {
        case 'Lottery': gameClass = 1;
          break;
        case 'Casino': gameClass = 2;
          break;
        case 'Egame': gameClass = 3;
          break;
        case 'Sports': gameClass = 4;
          break;
        case 'Chess': gameClass = 5;
          break;
        case 'Fish': gameClass = 6;
          break;
      }
      await games.setGameThirdPartyNo(gameClass, -1, '', 'gameThirdParty');
      router.push({
        name: "aaa" + name,
      });
    }
    async function goCasinoPage() {
      await games.setGameThirdPartyNo(2, -1, '', 'gameThirdParty');
      router.push({
        name: 'aaaCasino',
      });
    }
    function updateOnlineCount() {
      onlineUser.value = Math.floor(Math.random() * 20000) + 90000;
    }

    watch(
      () => lang.value,
      () => {
        getPromotionList();
        getBillboard();
      }
    )

    watch(
      () => wallets.value,
      () => {
        getRedPacketInfo();
      }
    )


    onMounted(() => {
      getPromotionList();
      getBillboard();
      updateOnlineCount();
      setInterval(updateOnlineCount, 30000);
      getRedPacketInfo();
      getFrontShortcut();
      window.addEventListener('scroll', checkScrollPosition);
    })

    return {
      getNumber,
      modules: [Navigation, Pagination, Scrollbar, A11y, EffectFade, Autoplay],
      t, toPageUrl, currentUrl,
      leftImg,
      imgIndexPath,
      showRightSide,
      liveOpacity,
      homeBanners,
      siteSettingsInfo,
      liveGame2Slider,
      goTop,
      isAtTop,
      selectTab,
      isLogin,
      goClassPage,
      favoriteThirdPartyGames,
      goCasinoPage,
      promotionList,
      swiperContainerBanners,
      promoApply,
      onlineUser,
      stringToMoney,
      homeVideo,
      goGame,
      isLoading,
      redPacketShow,
      FrontShortcutArray,

      redPacketRightImg,
      redPacketLeftImg,
    };
  },

}
</script>

<style  lang="scss" scoped>
.swiper-lazy {
  cursor: pointer;
}

.goTop {
  position: fixed;
  bottom: 10px;
  right: 30px;
  opacity: 1;
  z-index: 999;
  background: #26a699;
  padding: 1rem 1.25rem;
  color: #fff;
  border-radius: 50%;
  font-weight: 900;
}
.fade {
  transition: opacity 0.5s;
}

.scrollbar {
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 0;
  min-width: 1000px;
}

.img-block {
  //max-width: 1920px;
  margin: auto;
  background: #004d3d;
}

.home-banner {
  padding-top: 1.5rem;
  background: #fff;
  border-radius: 3rem 3rem 0 0;

  .swiper-horizontal {
    border-radius: 3rem 3rem 0 0;

    .home-banner__link {
      padding-top: 33%;
      img {
        height: 100%;
      }
    }
  }
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 55px;
}

.swiper-slide.matches__item {
  opacity: 0 !important;
}

.swiper-slide-active.matches__item {
  opacity: 1 !important;
}

.section-bg {
  background-size: cover !important;
  //background-attachment: fixed;
  background-position: center !important;
  background-repeat: no-repeat !important;
  display: block;
  background: url('@/assets/aaa/img/home/home-bg3.jpg');
}

.section--home--live {
  .home--live {
    margin: auto;
    //max-width: 1080px;
    min-width: 800px;

    &.type02 {
      //background-color: #069f7d;
      max-width: 1430px;
    }

    &.promoMsg {
      position: relative;

      .promoMsg__prev {
        font-size: 4rem;
        width: 25px;
        position: absolute;
        bottom: 45px;
        left: -70px;
        z-index: 99;
        color: #069f7d;
        font-weight: bolder;
      }

      .promoMsg__next {
        font-size: 4rem;
        width: 25px;
        position: absolute;
        bottom: 45px;
        right: -40px;
        z-index: 99;
        color: #fff;
        color: #069f7d;
        font-weight: bolder;
      }
    }
    a {
      cursor: initial;
    }
  }

  &.declare {
    .home--live {
      display: flex;
      max-width: 100%;
      min-width: 100%;
      justify-content: center;
    }
  }
}

section.top-game-section {
  display: flex;
  justify-content: center;
  //background-color: #1c59a8;

  //max-width: 1920px;
  //margin: auto;
  //height: 30050%;

  .top-game {
    //width: 70%;
    max-width: 1920px;
    margin: auto;
    background-image: url(@/assets/aaa/img/home/top-game-bg02.png);
    background-repeat: no-repeat;
    background-size: 100%, auto, contain;
    background-size: auto cover !important;
    background-position: center !important;
    padding: 1rem 2rem 6rem 2rem;
    width: 100%;
    border-radius: 50px;
    transition: 0.2s;

    .top-game-title {
      position: relative;
      display: inline-block;
      font-size: 1.5rem;
      text-transform: none;
      color: #fff;
      padding: 0.5rem;
      margin: 1rem 0 1rem 8rem;

      &::after {
        content: '';
        position: absolute;
        top: -1.8rem;
        left: -9rem;
        background: url('@/assets/aaa/img/home/top-game-title-bg.png');
        height: 100px;
        width: 169px;
      }

      &::before {
        content: '';
        position: absolute;
        top: -1.9rem;
        right: -9rem;
        background: url('@/assets/aaa/img/home/top-game-title-bg.png');
        transform: rotate(180deg);
        height: 100px;
        width: 169px;
      }
    }

    .slider {
      margin: auto;
      //background-color: #069f7d;

      .top-game1-slider {
        width: 45%;
        width: calc(45% - 20px);
        //margin-right: 50px;

        img {
          width: 100%;
          //margin-right: 50px;
        }
      }

      .top-game2-slider {
        width: calc(55% - 20px);
        width: 55%;
        margin-left: 20px;

        img {
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 1400px) {
    .top-game {
      padding: 0rem 2rem 2rem 2rem;
      border-radius: 30px;
    }
  }
}

.hot-live-game-section {
  margin-top: 0rem;

  .hot-live-game-title {
    width: calc(100% - 40px);
    max-width: 1780px;
    margin: 1rem auto;
    padding: 4.3rem 0 1rem 0;

    .titleBox {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0 2rem 0;
      border-bottom: 5px solid #069f7d;

      .textZone {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55%;
        font-size: 32px;
        background: linear-gradient(
          to right,
          #e8ba4b,
          #e6c264,
          #fcf1b4,
          #be9d58
        );
        background: -webkit-linear-gradient(
          to right,
          #e8ba4b,
          #e6c264,
          #fcf1b4,
          #be9d58
        );
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        //background-color: #004d3d;
        line-height: 36px;
      }

      .textPic {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 754px;
        width: 45%;
        //background-color: #069f7d;
      }
    }

    p {
      line-height: 2.5rem;
      width: 80%;
      font-size: 1.1rem;
      text-align: center;
      margin: 1rem auto 0 auto;
      color: #def2f0;
      letter-spacing: 0.1rem;
    }
  }

  .slider {
    position: relative;
    display: flex;
    //justify-content: center;
    align-items: center;
    width: calc(100% - 40px);
    max-width: 1780px;
    margin: auto;
    margin: 8rem 0 5rem 0;
    margin: auto;

    &.type02 {
      margin-top: 1rem;
      //background: #069f7d;
      .swiper-wrapper {
        .swiper-slide {
          transform: scale(0.9);
          &:hover {
            transform: scale(1.1);
            transition: all 0.5s ease;
          }
        }
      }
    }

    .hot-live-game1-slider {
      width: 40%;
    }

    .hot-live-game2-slider {
      padding: 2rem;
      width: 60%;
    }

    .view-all-live-game {
      position: absolute;
      display: flex;
      justify-content: center;
      right: 0;
      bottom: -2.5rem;
      background-color: #004d3d;
      border-radius: 15px;
      border: 2px solid #ecd0a0;
      padding: 15px 1.5rem 15px 1.5rem;
      color: #ecd0a0 !important;
      width: 16%;
      text-align: center;
      min-width: 180px;
      cursor: pointer;

      & a {
        position: relative;
        color: #ecd0a0 !important;
        //font-size: 1.5rem;
        //font-size: 14px; /* for IE */
        //font-size: min(max(1.5vw, 12px), 22px);
        font-size: clamp(15px, 1.1vw, 24px);
        white-space: nowrap;
        //background-color: #069f7d;
        //height: 50px;
        //width: 100%;
      }
    }
    .movieBlock {
      display: flex;
      justify-content: center;
      align-content: center;
      width: 40%;
      height: auto;
      //background-color: #069f7d;
      //border: 10px solid #fff;
      //border-image: linear-gradient(to right, #eabe55, #ddae44, #fcf2b5, #b79349, #fdd05d, #e0b145, #e7c062, #eabe55,#fef5ba,#b79349,#fed15e,#f2c253, #deaf43) 1;
      //border-image-slice: 1;
      //overflow: hidden;
      padding: 10px;
      border-radius: 15px;
      background: linear-gradient(
        to right,
        #eabe55,
        #ddae44,
        #fcf2b5,
        #b79349,
        #fdd05d,
        #e0b145,
        #e7c062,
        #eabe55,
        #fef5ba,
        #b79349,
        #fed15e,
        #f2c253,
        #deaf43
      );
      .movieItemiframeBg {
        position: relative;
        width: 100%;
        height: auto;
        z-index: 1;
        & img {
          width: 100%;
          height: auto;
        }
      }
      .movieItemiframe {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
      }
    }
  }
}

.section--home--live.declare {
  a {
    margin: 1.5rem 1.5rem 0 1.5rem;
  }
}

.most-section {
  max-width: 1430px;
  margin: auto;
  padding-bottom: 280px;
  background: rgba(0, 77, 61, 0.68);
  border-radius: 20px 20px 0 0;

  .favorite {
    position: relative;

    .favorite-title {
      background-image: url(@/assets/aaa/img/home/favorite-title-bg.png);
      background-repeat: no-repeat;
      height: 60px;
      background-position-y: -20px;
    }

    .online-peple {
      display: flex;
      width: 20%;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      right: 0;
      top: 0;
      height: 60px;
      padding: 0.5rem 1rem 0.5rem 1rem;
      border-radius: 10px 10px 0 0;
      background: #26a699;

      .online-pic {
        //position: absolute;
        //top: -20px;
        width: 35%;
        position: relative;
        //background-color: #1c59a8;
        height: 100%;

        img {
          position: absolute;
          width: 50%;
          border-radius: 50%;
          border: 2px solid #000;
        }

        .img-1 {
          left: 0px;
          z-index: 1;
        }

        .img-2 {
          left: 10px;
          z-index: 2;
        }

        .img-3 {
          left: 15px;
          z-index: 3;
        }

        .img-4 {
          left: 20px;
          z-index: 4;
        }

        .img-5 {
          left: 25px;
          z-index: 5;
        }
      }

      .online-peple-count {
        width: 65%;
        font-size: 16px;
        text-align: right;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .swiper-backface-hidden .swiper-slide {
      padding: 0 0.5rem;
    }

    .favoriteSlider {
      position: relative;
      background: #ffffff71;

      .favorite-game-slider {
        padding: 2.45rem 1rem;
        //background-color: #069f7d;

        .swiper-slide {
          padding: 0;
          margin-left: 0px;
          border: 5px solid rgba(251, 239, 149, 0);

          a {
            position: relative;
            img {
              width: 100%;
              height: 100%;
            }
          }

          .iconPlayArrow {
            display: none;
            position: absolute;
            background-image: url(@/assets/aaa/img/home/swiper-slide-hover.png);
            background-repeat: no-repeat;
            background-size: 50%;
            background-position: center;
            width: 100%;
            height: 100%;
            z-index: 200;
          }

          &:hover {
            border: 5px solid #fbef95;
            border-radius: 25px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.65);

            .iconPlayArrow {
              display: block;
              pointer-events: none;
            }
          }
        }
      }

      .link-all {
        position: absolute;
        bottom: 5px;
        right: 20px;
        z-index: 1;
        cursor: pointer;
        color: #ecd0a0;
        border-bottom: 1px solid transparent;
        &:hover {
          border-bottom: 1px solid #ecd0a0;
        }
      }
    }
  }

  .popular {
    .popular-title {
      background-image: url(@/assets/aaa/img/home/popular-title-bg.png);
      background-repeat: no-repeat;
      height: 60px;
      background-position-y: -20px;
    }

    .popular-left {
      width: 70%;

      .PopularLeftBlock {
        display: flex;
        justify-content: left;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        //background-color: #069f7d;
        padding: 2px !important;
      }

      .col {
        position: relative;
        //padding: .3rem 0rem 10px 0;
        //background-color: #069f7d;
        padding: 0;
        background-color: #1c59a8;
        width: calc(25% - 4px) !important;
        margin: 2px;
        flex-basis: auto;
        flex-grow: inherit;

        a {
          cursor: default;
          cursor: pointer;

          &:hover {
            &::before {
              position: absolute;
              content: '';
              background-image: url('@/assets/aaa/img/home/swiper-slide-hover.png');
              background-repeat: no-repeat;
              background-size: 50%;
              background-position: center;
              background-color: #ffffff6b;
              width: 100%;
              height: 100%;
            }
          }

          img {
            width: 100%;
            height: 100%;
            //max-width: 233px;
          }
        }

        span.live {
          position: absolute;
          top: 8px;
          left: 5px;
          z-index: 999;
          background: #000000b7;
          padding: 0.2rem 0.5rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          white-space: nowrap;

          .lightEffect {
            width: 14px;
            height: 14px;
            border-radius: 50px;
            color: #00ff65;
            background-color: #00ff65;
            margin-right: 5px;

            &.effect-0 {
              color: #00ff65 !important;
              animation-name: L01;
              animation-duration: 1s;
              animation-delay: 0;
              animation-iteration-count: infinite;
              scale: 1;
              animation-timing-function: ease-in-out;
              animation-fill-mode: inherit;
              opacity: 1;

              @keyframes L01 {
                0% {
                  box-shadow: 0px 0px 0px 0px #00ff65;
                }

                50% {
                  box-shadow: 0px 0px 10px 5px #00ff65;
                }

                100% {
                  box-shadow: 0px 0px 0px 0px #00ff65;
                }
              }
            }

            &.effect-1 {
              color: #00ff65 !important;
              animation-name: L02;
              animation-duration: 1s;
              animation-delay: 10s;
              animation-iteration-count: 600;
              scale: 1;
              animation-timing-function: ease-in-out;
              animation-fill-mode: inherit;
              opacity: 1;

              @keyframes L02 {
                0% {
                  box-shadow: 0px 0px 0px 0px #00ff65;
                }

                50% {
                  box-shadow: 0px 0px 10px 5px #00ff65;
                }

                100% {
                  box-shadow: 0px 0px 0px 0px #00ff65;
                }
              }
            }

            &.effect-2 {
              color: #00ff65 !important;
              animation-name: L03;
              animation-duration: 1s;
              animation-delay: 0s;
              animation-iteration-count: 99;
              scale: 1;
              animation-timing-function: ease-in-out;
              animation-fill-mode: inherit;
              opacity: 1;

              @keyframes L03 {
                0% {
                  box-shadow: 0px 0px 0px 0px #00ff65;
                }

                50% {
                  box-shadow: 0px 0px 10px 5px #00ff65;
                }

                100% {
                  box-shadow: 0px 0px 0px 0px #00ff65;
                }
              }
            }

            &.effect-3 {
              color: #00ff65 !important;
              animation-name: L04;
              animation-duration: 1s;
              animation-delay: 300s;
              animation-iteration-count: 600;
              scale: 1;
              animation-timing-function: ease-in-out;
              animation-fill-mode: inherit;
              opacity: 1;

              @keyframes L04 {
                0% {
                  box-shadow: 0px 0px 0px 0px #00ff65;
                }

                50% {
                  box-shadow: 0px 0px 10px 5px #00ff65;
                }

                100% {
                  box-shadow: 0px 0px 0px 0px #00ff65;
                }
              }
            }
          }
        }

        .live {
          position: absolute;
          top: 8px;
          left: 5px;
          z-index: 999;
          background: #000000b7;
          padding: 0.2rem 0.5rem;
          white-space: nowrap;
        }
      }
    }

    .popular-right {
      position: relative;
      width: 36.5%;

      .popular-rightBg {
        background-position: center;
        background-size: 100% 100%;
        padding: 0px;
        box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.65);
        border-radius: 8px;
        overflow: hidden;
        border: 5px solid #fbef95;
      }

      a {
        cursor: default;

        img {
          width: -webkit-fill-available;
          //border: 2px solid #8f7a46;
          border-radius: 5px;
          max-height: 328px;
        }
      }

      .popular-moreLink {
        position: absolute;
        bottom: -2rem;
        right: 10px;
        color: #ecd0a0;
        border-bottom: 1px solid #ecd0a000;
        cursor: pointer;
        &:hover {
          border-bottom: 1px solid #ecd0a0;
        }
      }
    }
  }
}

/*----------應該在home首頁段落↓↓↓↓↓↓↓↓-------*/

.contanctBox {
  position: relative;
  width: 100%;
  display: block;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: linear-gradient(to top, #112a24, #004d3d);
  height: 450px;

  .contanctBox02 {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15rem;
    background-image: linear-gradient(to top, #171c1c, #004d3d);
  }

  .contanctBox03 {
    position: relative;
    top: -280px;
    margin: auto;
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15rem;
  }
}

.contanctBoxL {
  width: 64%;
}

.footer-GetAppText01 {
  position: relative;
  width: 100%;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;

  .textBox01 {
    width: 100%;
    color: #ff4e00;
    font-size: 26px;
    line-height: 36px;
  }

  .textBox02 {
    width: 100%;
    color: #ecd0a0;
    font-size: 26px;
    line-height: 36px;
  }
}

.footer-GetAppText02 {
  position: relative;
  width: 100%;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;

  .textBox01 {
    width: 100%;
    color: #ecd0a0;
    font-size: 14px;
    line-height: 36px;
  }

  .textBox02 {
    width: 100%;
    display: flex;
    justify-content: left;
    margin-top: 20px;

    .qrCodeBox {
      width: 162px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-right: 80px;
      min-width: 120px;

      .qrPic {
        width: 100%;
        padding: 20px;

        & img {
          width: 100%;
          height: auto;
        }

        &.type02 {
          width: 100%;
          padding: 0;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

.footer-pic01 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    width: calc(100% - 80px);
    max-width: 1100px;
    height: auto;
    padding: 1rem;
  }
}

.footer-pic03 {
  display: block;
  width: 36%;
  padding-right: 50px;
  padding-left: 16px;
  margin-top: 60px;
  > div {
    &:nth-child(2) {
      margin-top: 100px;
      margin-left: 7px;
    }
    .link {
      display: block;
      &:nth-child(1) {
        margin-bottom: 5px;
      }
    }
    button {
      background: none;
      padding: 0;
    }
  }
}

.promoText {
  width: 70%;
  margin: auto;
  justify-content: center;
  //background-color: #26a699;
  transition: 0.2s;
  max-width: 1920px;

  .promoText-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    //max-width: 60px;
    width: 5%;
    min-width: 60px;
    margin: 0 10px 0 0 !important;
    background-color: #1c59a8;
    color: #fff;
    max-height: 20px;
    font-size: 12px;
    padding: 2px 10px 2px 10px;
    border-radius: 3px;
    transform: scale(0.75);
    white-space: nowrap;
  }

  .promoText-content {
    width: calc(100% - 60px);
    color: #fff;
    //background-color: #004d3d;
  }
}

@media (max-width: 1400px) {
  .promoText {
    width: 90%;
  }
}

.indexHomeMainContentBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //min-width: 960px;
  .indexHomeMainContentBannerBlockFlex {
    display: flex;
    justify-content: center;
    //max-width: 1920px;
    width: 100%;
    background-color: #004d3d;
    background-image: linear-gradient(to top, #112a24, #004d3d, #004d3d);
  }

  .indexHomeMainContentBannerBlock {
    margin: 0 !important;
    margin: none !important;
    //max-width: 1920px;
    //display: flex;
    //justify-content: center;
    width: 100%;

    //display: flex;
    //justify-content: center;
  }
}

/*右側社群選單*/
.aside-block {
  position: fixed;
  z-index: 10;
  right: 0;
  top: 35%;
  transform: translateY(-50%);
  &:hover {
    .service-block {
      transform: translateX(-40px);
    }
    .society-block {
      transform: none;
    }
  }
  .service-block {
    display: block;
    position: relative;
    z-index: 1;
    width: 85px;
    right: 10px;
    transition: transform 0.3s;
    &:hover {
      transform: scale(1.1), translateX(-40px);
      & + .society-block {
        transform: none;
      }
    }
  }
  .society-block {
    background: #15231f;
    border-top: 1px solid #919e9a;
    border-bottom: 1px solid #919e9a;
    border-left: 1px solid #919e9a;
    border-radius: 20px 0 0 20px;
    margin-top: -67px;
    padding-top: 67px;
    transform: translateX(190px);
    transition: transform 0.3s;
    position: absolute;
    right: 0;
    width: 190px;
    .society-box {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 0px;
      width: 100%;
      &:not(:last-child) {
        border-bottom: 1px solid #72807c;
      }
      a {
        position: relative;
        width: 100%;
        padding-left: 10px;
        &:hover {
          .img {
            img {
              &.none {
                opacity: 0;
              }
              &.hover {
                opacity: 1;
              }
            }
          }
        }
        .img {
          width: 48px;
          flex: 0 0 auto;
          img {
            transition: opacity 0.3s;
            &.none {
              opacity: 0.85;
            }
            &.hover {
              position: absolute;
              top: 0;
              left: 0;
              opacity: 0;
            }
          }
        }
      }
    }
  }
}

.homePromo-img {
  position: fixed;
  right: 23px;
  top: 20%;
  z-index: 10;
  cursor: pointer;
  .homePromo-btn {
    position: relative;
    img {
      width: 55px;
    }
    span {
      position: absolute;
      z-index: 20;
      right: 9px;
      top: 23px;
      font-size: 0.85rem;
    }
  }
}
.homePromo-redEnvelope {
  position: fixed;
  right: 5px;
  bottom: 70px;
  z-index: 10;
  cursor: pointer;
  .homePromo-btn {
    position: relative;
    img {
      width: 100px;
    }
    span {
      position: absolute;
      z-index: 20;
      right: 9px;
      top: 23px;
      font-size: 0.85rem;
    }
  }
}

.homePromo-redEnvelope-left {
  position: fixed;
  left: 8px;
  bottom: 70px;
  z-index: 10;
  cursor: pointer;
  .homePromo-btn {
    position: relative;
    img {
      width: 100px;
    }
    span {
      position: absolute;
      z-index: 20;
      right: 9px;
      top: 23px;
      font-size: 0.85rem;
    }
  }
}

#swiper-container {
  .swiper-button-next,
  .swiper-button-prev {
    color: white;
  }
}

.logo {
  max-width: 200px;
  margin: auto;
  margin-bottom: 2rem;
}
select,
input {
  display: block;
  width: 100%;
  margin: auto;
  background: transparent;
  color: #fff;
  padding: 1rem;
  border-radius: 5px;
  border-color: #72807c;
  option {
    background-color: #000;
  }
  &::placeholder {
    color: #fff;
  }
}
input {
  padding: 1.5rem;
  &:focus {
    background-color: transparent;
    color: #fff;
  }
}
</style>
<style lang="scss">
.swal2-popup {
  .swal2-close {
    margin-right: -0.5rem;
    &:focus {
      box-shadow: none;
    }
  }
}
</style>