<template>
  <div class="container">
    <div class="promotionsBanner">
      <img src="@/assets/aaa/img/promotion/promotion_banner001.png" class="swiper-lazy" />
    </div>
    <div class="promotions">
      <div class="promotions-typeBox">
        <div class="promotions-type">
          <div class="d-flex promotionsBox">
            <a v-for="(handledPromotionType, index) in handledPromotionTypes" :key="index" @click="changeType(handledPromotionType.no, handledPromotionType)" :class="handledPromotionType.active">{{ handledPromotionType.name }}</a>
          </div>
        </div>
      </div>
      <div class="promotions-listBackground">
        <div class="promotions-list">
          <div v-for="(i, index) in handledPromotionLists" :key="index" class="promotions-listJudgeBox" :class="{ active: i.typeNo.find(a => a == data.type) || data.type === 0 }">
            <div v-if="i.typeNo.find(a => a == data.type) || data.type === 0" class="promotions-list-area">
              <div class="promotions-list-area-all">
                <div class="all-small" rel="tab1" data-bs-target=".promoDetail" data-bs-toggle="modal" @click="showDetails(i)">
                  <img :src="i.simageUrl">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <PromotionDetailView :promoDetail="data.promoDetail" @refreshAPI="refreshAPI"></PromotionDetailView>
  <loading v-model:active="isLoading" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />
</template>

<script setup>
import { onMounted, reactive, ref, computed, watch } from "vue";
import { useI18n } from "vue-i18n";
import { useStore } from 'vuex';
import { getApiPromotionTypeData } from '@/api/api';
import PromotionDetailView from '@/pages/aaa/PromotionDetailView.vue'
import apiService from '@/api/apiService'
import Loading from 'vue-loading-overlay';

const store = useStore();
let data = reactive({
  promotionTypes: [],
  promotionLists: [],
  type: 0,
  promoDetail: {},
});

const handledPromotionTypes = ref([]);
const handledPromotionLists = ref([]);
const isLoading = ref(false);

//導入多語系
const { t, locale } = useI18n();

const DomainLayoutId = computed(() => store.state.DomainLayoutId);

//加载获取优惠类型数据
const promotion = async () => {
  data.promotionTypes = await getApiPromotionTypeData(locale.value);
  data.promotionLists = await getApiPromotionListData();
  //篩選出包含網頁語系的優惠活動及places設定在pc版優惠活動頁的
  handledPromotionLists.value = []
  data.promotionLists.datas.forEach(promotionList => {
    promotionList['isShow'] = false;
    promotionList.currencies.forEach(currency => {
      if (currency.no === +(localStorage.getItem("currencyNo"))) {
        if (promotionList.places.includes(3)) {
          handledPromotionLists.value.push(promotionList)
        }
      }
    })
  })

  //在promotionTypes中比對promotionList.typeNo是否有
  handledPromotionTypes.value = []
  data.promotionTypes.datas.forEach(promotionType => {
    promotionType['active'] = ""
    handledPromotionLists.value.forEach(promotionList => {
      if (promotionList.typeNo.includes(promotionType.no)) {
        handledPromotionTypes.value.push(promotionType);
      }
    })
  })
  //移除重複元素
  handledPromotionTypes.value = [...new Set(handledPromotionTypes.value)];
  handledPromotionTypes.value.unshift({
    no: 0,
    name: t('allOffers'),
    active: "active"
  })
}
const refreshAPI = () => {
  promotion();
}

const showDetails = (e) => {
  //將父組件點選圖片的值，紀錄下來
  data.promoDetail = e;

  // 将每一项列表的isShow设置为false,让所有的列表都隐藏
  data.promotionLists.datas.forEach(item => {
    item.isShow = false
  })
  // 用于再次点击该项的取反
  e.isShow = true
}

const changeType = (handledPromotionTypeNo, handledPromotionType) => {

  data.type = handledPromotionTypeNo;
  handledPromotionTypes.value.forEach(item => {
    item.active = ""
  })
  handledPromotionType.active = "active"
  data.promotionLists.datas.forEach(item => {
    item.isShow = false
  })
}

const getApiPromotionListData = async () => {
  isLoading.value = true;
  try {
    var reqData = {
      lang: localStorage.getItem("locale"),
      deviceType: 1,//桌機
      DomainLayoutId: DomainLayoutId.value
    };

    if (localStorage.getItem("sessionKey")) {
      reqData.sessionKey = localStorage.getItem("sessionKey");
    }

    const response = await apiService.post('/Promotion/List', reqData);
    var _json = JSON.parse(JSON.stringify(response.data));
    isLoading.value = false;
    return _json;
  } catch (err) {
    console.error(err);
    isLoading.value = false;
  }
  
}

watch(
  () => store.state.wallets,
  () => {
    promotion();
  }
)

watch(
  () => store.state.lang,
  ()=> {
    promotion();
  }
)

onMounted(() => {
  promotion();
});

</script>
<style lang="scss" scoped>
.fullScreen {
  position: absolute;
  z-index: 5000;
  width: 100vw;
  height: 100vh;
  min-width: 1000px;
  pointer-events: none;
  //background-color: #D00206;
  display: none;
}

.d-flex {
  //background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 0 22px 0;

  & a {
    padding: 0px 30px 0px 30px !important;
    border-radius: 5px !important;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 10px;
    background-image: linear-gradient(to top, #567b0e, #a5d421);

    &:hover {
      color: #000 !important;
    }

    &.active {
      color: #fff !important;
      background-image: linear-gradient(to top, #410404, #9b1f23);
    }
  }
}

.container {
  padding: 0px 0;
  width: 100%;
  display: block;
  max-width: none;
  background-image: linear-gradient(to bottom, #171c1c, #004d3d) !important;

  .promotionsBanner {
    height: 360px;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .promotions {
    padding: 0px 0;

    //background: #1b1b1b;
    .promotions-typeBox {
      width: 100%;
      display: flex;
      justify-content: center;
      //background-color: rgba(201, 130, 130, 0.5);
      padding: 0 20% 0 20%;
    }

    .promotions-type {
      padding: 1rem 0;
      //margin-bottom: 1.5rem;
      //background-color: rgba(192, 28, 28, 0.5);
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      min-width: 980px;
      //padding: 0 15% 0 15%;

      .promotionsBox {
        display: flex !important;
        justify-content: left !important;
        align-items: flex-start;
        flex-wrap: wrap !important;
        width: 100% !important;
        padding: 12px 0px 22px 0px !important;
      }

      a {
        cursor: pointer;
        display: block;
        padding: 0.5rem 0rem;
        line-height: 29px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        border-radius: 20px;
        transition: all 0.4s;
        margin: 10px 5px 0 5px;
        height: auto;
        //white-space: nowrap;
        min-width: 210px;
        width: calc(12.5% - 10px);
      }
    }

    .promotions-listBackground {
      background-image: url('@/assets/aaa/img/promotion/promotion_bg001.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      overflow-y: auto;
      min-height: 340px;
      max-height: 880px;
      padding: 20px 0;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .promotions-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;
      max-width: 1340px;
      min-width: 960px;
      width: calc(100vw - 596px);
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      //background-color: #567b0e;
      overflow-y: auto;
      overflow-x: hidden;

      &::-webkit-scrollbar {
        display: none;
      }

      .promotions-listJudgeBox {
        width: 50%;
        //background-color: #567b0e;
        display: none !important;
        background-color: #9b1f23;

        &.active {
          display: block !important;
          background: none;
        }
      }

      .promotions-list-area {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        min-width: 480px;
        max-width: 670px;

        .promotions-list-area-all {
          cursor: pointer;
          //width: calc(50% - 2rem);

          //background: #4519633a;
          //padding: 1rem;
          width: 100%;
          margin: 1rem;
          transition: 0.2s;

          //border-radius: 10px;
          //box-shadow: 0 0 10px #65236da2;
          & img {
            width: 100%;
            height: auto;
          }

          &:hover {
            //box-shadow: 0 0 10px #a34dddbb;
            transform: scale(1.02);
            filter: brightness(1.1);
          }
        }
      }
    }
  }
}

.active {
  background: #a34dddbb;
  color: #241e01;
}
</style>