<template>
  <div id="promotionDetail" class="modal collapse promoDetail fade" tabindex="-1" ref="myModal">
    <div class="PromotionDetailBack">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header pb-4 closeBarBlock">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><font-awesome-icon icon="fa-solid fa-xmark" /></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="promotions">
                <div class="promotions-list">
                  <div id="promotions-list-area" class="promotions-list-area">
                    <button v-if="!isLogin" type="button" class="btnBox" data-bs-target="#collapseTarget" data-bs-toggle="modal" @click="selectTab(true)">
                      {{ $t('login') }}
                    </button>
                    <a v-else-if="isLogin && promoDetail.applyStatus === 1" class="btnBox" :href="siteSettingsInfo.customerServiceUrl" target="_blank">
                      {{$t("to_participate_event_contact_customer_service")}}
                    </a>
                    <button v-else-if="isLogin && promoDetail.applyStatus === 2" type="button" class="btnBox" @click="promotionApply">{{ $t('apply') }}</button>
                    <button v-else-if="isLogin && promoDetail.applyStatus === 3" type="button" class="btnBox" style="cursor: text;">{{ $t('application_submitted') }}</button>
                    <button v-else-if="isLogin && promoDetail.applyStatus === 4" type="button" class="btnBox" style="cursor: text;">{{ $t('participated') }}</button>
                    <button v-else-if="isLogin && promoDetail.applyStatus === 5" type="button" class="btnBox" style="cursor: text;">{{ $t('other_activities_in_application') }}</button>
                    <img :src="promoDetail.bimageUrl">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import { computed } from "vue";
import { useStore } from 'vuex';
import apiService from '@/api/apiService'
import common from "@/utils/common";
import Swal from "sweetalert2";
import { useI18n } from "vue-i18n";
import { Modal } from 'bootstrap';

const { t } = useI18n();
const { errorHandling, selectTab} = common();
const store = useStore();

const siteSettingsInfo = computed(() => store.state.siteSettingsInfo);
const isLogin = computed(() => store.state.isLogin);

const props = defineProps({
  promoDetail: {
    type: Object
  }
})
const emit = defineEmits(['refreshAPI'])

//申請按鈕
const promotionApply = () => {
  const params = {
    sessionKey: localStorage.getItem("sessionKey"),
    no: props.promoDetail.no,
    currencyNo: +(localStorage.getItem("currencyNo"))
  }
  apiService.post('/Promotion/Apply', params)
    .then(() => {
      Swal.fire("", t("successfulApplication"), "info");
      Modal.getInstance("#promotionDetail")?.hide();
      emit("refreshAPI")
    }).catch((err) => {
      if (err.response == null || err.response.status == null) {
        console.log(err);
        Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
      } else if (err.response.status == 452) {
        Swal.fire("", t("repeatApplication"), "warning");
      } else if (err.response.status == 453) {
        Swal.fire("", t("alreadyParticipated"), "warning");
      } else if (err.response.status == 454) {
        Swal.fire("", t("other_activities_in_application"), "warning");
      } else errorHandling(err);
    });
}

</script>

<style lang="scss" scoped>
$blue: #26a699;

.btn-close{
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.PromotionDetailBack {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  padding-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  //background-color: #04bb97;
}

.modal-dialog {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  //flex-direction: column;
  width: calc(60% - 40px) !important;
  min-width: 768px;
  max-width: 1100px;
  //height: 90%;
  //background-color: #04bb97;
  min-height: 800px !important;
  min-height: none !important;
  height: 100% !important;
  margin: 0;

  .modal-content {
    position: relative;
    width: 100%;
    min-height: 770px;
    height: calc(100% - 20px);
    overflow: hidden;
    background: #0000000c;
    border: 1px solid $blue;
    padding: 0.5rem 1.5rem 1rem 1.5rem;

    .modal-header {
      border: none;

      img {
        height: 110px;
      }
    }
  }

  .modal-content {
    background: #000;
    padding: 0;

    .container {
    }

    .modal-body {
      overflow-y: auto;
      overflow-x: hidden;

      &::-webkit-scrollbar {
        display: none;
      }

      &::-webkit-scrollbar-track,
      ::-webkit-scrollbar-track {
        border-radius: 5px;
        background: #004d3e;
      }

      &::-webkit-scrollbar-thumb,
      ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: linear-gradient(180deg, #004d3e 2.85%, #04bb97 97.76%);
      }

      //background-color: aquamarine !important;

      .container {
        .promotions {
          display: flex;
          justify-content: center;
          flex-direction: column;
          padding: 0 0 20px 0;

          .promotions-list {
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 100% !important;

            //background-color: aquamarine !important;
            .btnBox {
              position: absolute;
              right: 50px;
              bottom: 50px;
              background-color: #004d3d;
              border-radius: 15px;
              border: 2px solid #ecd0a0;
              color: #ecd0a0;
              padding: 15px 25px 15px 25px;
              cursor: pointer;
            }

            .promotions-list-area {
              display: flex;
              justify-content: center;
              flex-direction: column;
            }
          }
        }
      }
    }
  }
}

.modal-backdrop.show {
  opacity: 0.8;
}

.closeBarBlock {
  display: flex !important;
  justify-content: right !important;
}
</style>