<template>
  <main class="main-content">
    <section class="section section--sport sport-not-login">
      <div class="sport" :class="gameThirdPartyId.toLowerCase()">
        <div class="sport-container">
          <div class="sport-nav-tabs position-relative">
            <swiper class="swiper" :slides-per-view="4" :slides-per-group="4" :speed="1000" :navigation="{ nextEl: '.next', prevEl: '.prev' }">
              <swiper-slide v-for="game in gameMenu" :key=game class="swiper-slide">
                <div class="nav-tab" @click="setActive(game.gameThirdPartyNo, game.id)" :class="(game.id.toLowerCase() == gameThirdPartyId.toLowerCase()) ? 'active' : ' '">
                  <div class="game-img d-table position-relative mx-auto">
                    <img :src="getImgUrl(game.id,1)">
                    <img class="hover-img" :src="getImgUrl(game.id,2)">
                  </div>
                  <div class="game-name"><span>{{ game.name }}</span></div>
                </div>
              </swiper-slide>
            </swiper>
            <div class="next dir-btn">
              <img src="@/assets/img/icon/arrow_r.svg" alt="">
            </div>
            <div class="prev dir-btn">
              <img src="@/assets/img/icon/arrow_l.svg" alt="">
            </div>
          </div>
          <div class="tab-content sport-tab-content">
            <template v-if="gameMenu.length>0">
              <div class="tab-pane fade" :class="(gameThirdParty.id.toLowerCase() == gameThirdPartyId.toLowerCase()) ? 'active show' : ' '" :id="gameThirdParty.id" role="tabpanel" v-for="gameThirdParty in gameMenu" :key=gameThirdParty>
                <div class="game-box">
                  <div class="game-btn">
                    <a href="javascript:void(0)" @click="clickGameThirdParty(gameThirdParty, '/aaa/SportEventHall', isLoadingObj)" v-if="gameThirdParty.status===0">{{ $t("bet_now") }}</a>
                    <a v-else-if="gameThirdParty.status===2" style="background: none;">{{ $t("inMaintenance") }}</a>
                  </div>
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- 加載 -->
  <loading v-model:active="isLoadingObj.value" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />
</template>

<script setup>
import { ref, reactive, onMounted, onUpdated, watch, computed  } from 'vue';
import { useStore } from 'vuex';
import { useRouter } from "vue-router";
import { useGamesStore } from '@/store/game'
import { storeToRefs } from "pinia";
import common from "@/utils/common";
import { Swiper, SwiperSlide } from 'swiper/vue';
import SwiperCore, { Navigation } from 'swiper';
import Loading from 'vue-loading-overlay';

SwiperCore.use([Navigation]);

const store = useStore();
const router = useRouter();
const games = useGamesStore();
const { gameMenu, gameThirdPartyId } = storeToRefs(games);
const { clickGameThirdParty } = common();
const wallets = computed(() => store.state.wallets);
const isLoadingObj = reactive({
  value:false
})
const currencyNo = ref('');
const currencyId = ref('');

const DomainLayoutId = computed(() => store.state.DomainLayoutId);

// 按鈕值
const buttons = ref([
  {
    id: "ws168",
    imgUrl: require('@/assets/aaa/img/SportEvent/icon/btn_WS168Live_none.png'),
    imgUrlHover: require('@/assets/aaa/img/SportEvent/icon/btn_WS168Live_active.png'),
  },
  {
    id: "s128",
    imgUrl: require('@/assets/aaa/img/SportEvent/icon/btn_S128Live_none.png'),
    imgUrlHover: require('@/assets/aaa/img/SportEvent/icon/btn_S128Live_active.png'),
  },
  {
    id: "horsebook",
    imgUrl: require('@/assets/aaa/img/SportEvent/icon/btn_HRBLive_none.png'),
    imgUrlHover: require('@/assets/aaa/img/SportEvent/icon/btn_HRBLive_active.png'),
  },
  {
    id: "sv388",
    imgUrl: require('@/assets/aaa/img/SportEvent/icon/btn_sv388Live_none.png'),
    imgUrlHover: require('@/assets/aaa/img/SportEvent/icon/btn_sv388Live_active.png'),
  },
]);

// 取得圖片連結 (1=圖片, 2=點選圖片)
function getImgUrl(value, itype) {
  let item = buttons.value.find(item => item.id.toLowerCase() == value.toLowerCase());
  if (item) {
    switch (itype) {
      case 1:
        return item.imgUrl;
      case 2:
        return item.imgUrlHover;
    }
    return '';
  }
}

//按鈕按下顯示
function setActive(gameThirdPartyNo, btnName) {
  gameThirdPartyId.value = btnName;
  localStorage.setItem('gameThirdPartyNo', gameThirdPartyNo);
  localStorage.setItem('gameThirdPartyId', btnName)
}

watch(
  () => wallets.value,
  () => {
    currencyNo.value = +localStorage.getItem("currencyNo");
    currencyId.value = localStorage.getItem("currencyId");

    games.filterHeaderMenuByCurrency();

    let no = localStorage.getItem("gameClass");
    let gameThirdPartyNo = localStorage.getItem("gameThirdPartyNo");
    let gameThirdPartyId = localStorage.getItem("gameThirdPartyId");
    
    let hasMatched = games.setGameThirdPartyNo(no, gameThirdPartyNo, gameThirdPartyId,'gameThirdParty')
    if(hasMatched === false){
      router.push("/" + DomainLayoutId.value);
    }
  }
)

onMounted(() => {
  initGameThird();
  currencyNo.value = +localStorage.getItem("currencyNo");
  currencyId.value = localStorage.getItem("currencyId");
});

onUpdated(() => {
  initGameThird();
});

// 初始化:選擇第一個正常的遊戲館
function initGameThird() {
  if (!localStorage.getItem("gameClass")) {
    localStorage.setItem("gameClass", 7);
    games.setGameThirdPartyNo(7, -1, '', 'gameThirdParty');
  }
}

</script>

<style lang="scss" scoped>
.sport {
  background: linear-gradient(to bottom, #171c1c, #004d3d);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 610px;
  background-position-y: 50%;
  padding-left: 3.5rem;
  &.ws168 {
    background-image: url(@/assets/aaa/img/SportEvent/bg/WS168-bg.jpg) !important;
  }
  &.s128 {
    background-image: url(@/assets/aaa/img/SportEvent/bg/S128-bg.jpg) !important;
  }
  &.horsebook {
    background-image: url(@/assets/aaa/img/SportEvent/bg/Horsebook-bg.jpg) !important;
  }
  &.sv388 {
    background-image: url(@/assets/aaa/img/SportEvent/bg/SV388-bg.jpg) !important;
  }
}

.sport-container {
  position: relative;
  width: 1230px;
  padding-bottom: 130px;
  padding-top: 80px;
  margin: auto;
  .sport-nav-tabs {
    width: 560px;
    padding: 0 20px;
    text-align: center;
    left: -45px;
    .swiper-slide {
      .nav-tab {
        cursor: pointer;
        &:hover,
        &.active {
          .hover-img {
            opacity: 1;
          }
        }
        .hover-img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          transition: opacity 0.3s;
        }
        .game-name {
          font-size: 19px;
          margin-top: 10px;
        }
      }
    }
    .dir-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      cursor: pointer;
      width: 17px;
      &.prev {
        left: 0;
      }
      &.next {
        right: 0;
      }
      &.swiper-button-disabled {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
  .sport-tab-content {
    .tab-pane {
      .game-box {
        padding-top: 30px;
        a {
          display: inline-block;
          margin: 20px 0 0 0;
          font-size: 19px;
          padding: 0 20px 0 20px;
          color: #fff;
          background-image: url(@/assets/aaa/img/common/btn-back.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100% 100%;
          line-height: 46px;
          text-align: center;
          &:hover {
            background: url(@/assets/aaa/img/common/btn-back02.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
          }
        }
      }
    }
  }
}
</style>
