<template>
    <div class="max1470 w-100">
        <div class="max1300 mb-5">
            <banner />
        </div>
        <div class="pb-5 mb-5">
            <div class="section-1 mb-5">
                <div class="title d-flex justify-content-center align-items-center mb-4">
                    <img src="@/assets/aaf/img/chess/dec-left.png" alt="">
                    <span class="fs-42 fw-bold text-orange flex-shrink-0 mx-3">TOP GAMES</span>
                    <img src="@/assets/aaf/img/chess/dec-right.png" alt="">
                </div>
                <div class="content d-flex align-items-center">
                    <div class="swiper-button-1-next swiper-button flex-center">
                        <img class="w-100" src="@/assets/aaf/img/chess/arrow-left.png" alt="">
                    </div>
                    <div class="max1340">
                        <swiper :modules="modules" :slides-per-view="7" :loop="true" :space-between="10" :navigation="{ nextEl: '.swiper-button-1-next', prevEl: '.swiper-button-1-prev' }" :scrollbar="false" :autoplay="{ delay: 1000 }" :speed="600">
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-1.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-2.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-3.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-4.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-5.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-6.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-7.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-1.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-2.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-3.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-4.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-5.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-6.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-7.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                        </swiper>
                    </div>
                    <div class="swiper-button-1-prev swiper-button flex-center">
                        <img class="w-100" src="@/assets/aaf/img/chess/arrow-right.png" alt="">
                    </div>
                </div>    
            </div>
            <div class="section-2 mb-5">
                <div class="title d-flex justify-content-center align-items-center mb-4">
                    <img src="@/assets/aaf/img/chess/dec-left.png" alt="">
                    <span class="fs-42 fw-bold text-orange flex-shrink-0 mx-3">NEW</span>
                    <img src="@/assets/aaf/img/chess/dec-right.png" alt="">
                </div>
                <div class="content d-flex align-items-center">
                    <div class="swiper-button-2-next swiper-button flex-center">
                        <img class="w-100" src="@/assets/aaf/img/chess/arrow-left.png" alt="">
                    </div>
                    <div class="max1340">
                        <swiper :modules="modules" :slides-per-view="7" :loop="true" :space-between="10" :navigation="{ nextEl: '.swiper-button-2-next', prevEl: '.swiper-button-2-prev' }"  :scrollbar="false" :autoplay="{ delay: 1200 }" :speed="600">
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-1.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-2.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-3.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-4.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-5.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-6.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-7.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-1.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-2.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-3.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-4.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-5.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-6.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-7.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                        </swiper>
                    </div>
                    <div class="swiper-button-2-prev swiper-button flex-center">
                        <img class="w-100" src="@/assets/aaf/img/chess/arrow-right.png" alt="">
                    </div>
                </div>    
            </div>
            <div class="section-3 mb-5">
                <div class="row mx-n1">
                    <a href="javascript:void(0)">
                        <img class="col-2 px-1" src="@/assets/aaf/img/chess/2.png" alt="">
                    </a>
                    <a href="javascript:void(0)">
                        <img class="col-2 px-1" src="@/assets/aaf/img/chess/2.png" alt="">
                    </a>
                    <a href="javascript:void(0)">
                        <img class="col-2 px-1" src="@/assets/aaf/img/chess/2.png" alt="">
                    </a>
                    <a href="javascript:void(0)">
                        <img class="col-2 px-1" src="@/assets/aaf/img/chess/2.png" alt="">
                    </a>
                    <a href="javascript:void(0)">
                        <img class="col-2 px-1" src="@/assets/aaf/img/chess/2.png" alt="">
                    </a>
                    <a href="javascript:void(0)">
                        <img class="col-2 px-1" src="@/assets/aaf/img/chess/2.png" alt="">
                    </a>                   
                </div>
            </div>
            <div class="section-4 mb-5">
                <div class="title d-flex justify-content-center align-items-center mb-4">
                    <img src="@/assets/aaf/img/chess/dec-left.png" alt="">
                    <span class="fs-42 fw-bold text-orange flex-shrink-0 mx-3">Popular</span>
                    <img src="@/assets/aaf/img/chess/dec-right.png" alt="">
                </div>
                <div class="content d-flex align-items-center">
                    <div class="swiper-button-4-next swiper-button flex-center">
                        <img class="w-100" src="@/assets/aaf/img/chess/arrow-left.png" alt="">
                    </div>
                    <div class="max1340">
                        <swiper :modules="modules" :slides-per-view="7" :loop="true" :space-between="10" :navigation="{ nextEl: '.swiper-button-4-next', prevEl: '.swiper-button-4-prev' }" :scrollbar="false" :autoplay="{ delay: 1000 }" :speed="600">
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-1.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-2.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-3.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-4.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-5.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-6.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-7.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-1.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-2.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-3.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-4.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-5.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-6.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                            <swiper-slide>
                                <a class="item d-block" href="javascript:void(0)">
                                    <img src="@/assets/aaf/img/chess/1-7.png" alt="">
                                    <span class="mask d-block">
                                        <span class="play-btn d-table fs-14" href="">Play</span>
                                    </span>
                                </a>
                            </swiper-slide>
                        </swiper>
                    </div>
                    <div class="swiper-button-4-prev swiper-button flex-center">
                        <img class="w-100" src="@/assets/aaf/img/chess/arrow-right.png" alt="">
                    </div>
                </div>    
            </div>
            
        </div>
    </div>
</template>

<script setup>
import banner from "@/components/aaf/BannerView.vue";
import { Swiper, SwiperSlide } from "swiper/vue";
import {
  Navigation,
  Pagination,
  Scrollbar,
  A11y,
  EffectFade,
  Autoplay,
} from "swiper";
const modules = [Navigation, Pagination, Scrollbar, A11y, EffectFade, Autoplay];

import "swiper/css";
import "swiper/css/pagination";
import 'swiper/css/navigation';
</script>

<style lang="scss" scoped>
img{
    max-width: 100%;
}
.max1470{
    max-width:1470px;
    margin:auto;
}
.max1340{
    max-width:1340px;
    margin:auto;
}
.max1300{
    max-width:1300px;
    margin:auto;
}
.fs-42{
    font-size: 42px;
}
.fs-14{
    font-size: 14px;
}
.text-orange{
    color:#f1ac33;
}

.item{
    border-radius: 10px;
    overflow: hidden;
    &:hover{
        .mask{
            opacity: 1;
        }
        .play-btn{
            margin-top: 0;
        }
    }
    .mask{
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.65);
        top: 0;
        left: 0;
        border-radius: 10px;
        opacity: 0;
        transition:opacity .3s ;
    }
    .play-btn{
        background:#fd3231;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color:white;
        padding: 5px 50px;
        border-radius: 50px;
        margin-top: 30px;
        transition:margin-top .3s ;
    }
}
.swiper-button{
    flex:0 0 40px;
}
</style>