<template>

    <div class="pescaria-wrapper mx-auto">
        <banner />
        <div class="top-games">
            <h2 class="h5">Top Games</h2>
            <div class="row row-cols-4 mt-4 mb-5">
                <div class="col">
                    <img src="@/assets/aaf/img/cock/cock1.png" alt="">
                    <div class="name">
                        <div>WS168</div>
                        <div>Cock Fight PHI</div>
                    </div>
                    
                </div>
                <div class="col">
                    <img src="@/assets/aaf/img/cock/cock2.png" alt="">
                    <div class="name">
                        <div>S128</div>
                        <div>Cock Fight PHI</div>
                    </div>
                </div>
                <div class="col">
                    <img src="@/assets/aaf/img/cock/cock3.png" alt="">
                    <div class="name">
                        <div>SV388</div>
                        <div>Dragon Fishing</div>
                    </div>
                </div>
                <div class="col">
                    <img src="@/assets/aaf/img/cock/cock4.png" alt="">
                    <div class="name">
                        <div>Horsebook</div>
                        <div>Horsebook</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hot-games">
            <div class="hot-games-area bg-light p-3">
                <button type="button" class="btn bg-white position-relative rounded-pill mx-3 py-0 px-4">
                    <img src="@/assets/aaf/img/sv-388-1.png" alt="">
                    SV388
                    <span class="hot-badge badge position-absolute translate-middle  rounded-pill text-white px-2">
                        Hot
                    </span>
                </button>
                <button type="button" class="btn bg-white position-relative rounded-pill mx-3 py-0 px-4">
                    <img src="@/assets/aaf/img/HRBLogo.png" alt="">
                    Horsebook
                    <span class="hot-badge badge position-absolute translate-middle  rounded-pill text-white px-2">
                        Hot
                    </span>
                </button>
                <button type="button" class="btn bg-white position-relative rounded-pill mx-3 py-0 px-4">
                    <img src="@/assets/aaf/img/s128-logo.png" alt="">
                    S128
                    <span class="hot-badge badge position-absolute translate-middle rounded-pill text-white px-2">
                        Hot
                    </span>
                </button><button type="button" class="btn bg-white position-relative rounded-pill mx-3 py-0 px-4">
                    <img src="@/assets/aaf/img/ws168-logo.png" alt="">
                    WS168
                    <span class="new-badge badge position-absolute translate-middle rounded-pill bg-danger text-white px-2">
                        New
                    </span>
                </button>
            </div>
        </div>

        <div class="search">
            <nav class="navbar navbar-expand m-4">
                <div class="container-fluid ">
                    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item ">
                                <a class="nav-link rounded-pill px-3 py-1 active" aria-current="page"
                                    href="#/aaf/Pescaria">All games</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link rounded-pill px-3 py-1" href="#/aaf/Pescaria">Hot games</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link rounded-pill px-3 py-1" href="#/aaf/Pescaria">New games</a>
                            </li>
                        </ul>
                        <form class="search-input ms-auto">
                            <input class="form-control me-2 rounded-pill " type="search" placeholder="Search"
                                aria-label="Search">
                            <font-awesome-icon icon="fa-solid fa-magnifying-glass " style="color: #1d9aff;" />

                        </form>
                    </div>
                </div>
            </nav>
        </div>

        <div class="game-card">
            <div class="container mb-5">
                <div class="row row-cols-6 ">
                    <div class="col mb-3">
                        <div class="pic position-relative overflow-hidden ">
                            <span class="overlay  text-center px-4">
                                <span class="d-flex flex-column justify-content-center  h-100">
                                    <a href="#/aaf/Pescaria"
                                        class="pic-btn text-decoration-none  rounded-pill text-white mb-2">Play</a>
                                    <a href="#/aaf/Pescaria"
                                        class="pic-btn text-decoration-none  rounded-pill text-white">Demo</a>
                                </span>
                            </span>
                            <img src="@/assets/aaf/img/cock/cock-search-1.png" alt="" class="img-fluid">
                        </div>
                        <p class="fw-bold ">Cock Fight PHI</p>
                    </div>
                    <div class="col mb-3">
                        <div class="pic position-relative overflow-hidden ">
                            <span class="overlay  text-center px-4">
                                <span class="d-flex flex-column justify-content-center  h-100">
                                    <a href="#/aaf/Pescaria"
                                        class="pic-btn text-decoration-none  rounded-pill text-white mb-2">Play</a>
                                    <a href="#/aaf/Pescaria"
                                        class="pic-btn text-decoration-none  rounded-pill text-white">Demo</a>
                                </span>
                            </span>
                            <img src="@/assets/aaf/img/cock/cock-search-1.png" alt="" class="img-fluid">
                        </div>
                        <p class="fw-bold ">Cock Fight PHI</p>
                    </div>
                    <div class="col mb-3">
                        <div class="pic position-relative overflow-hidden ">
                            <span class="overlay  text-center px-4">
                                <span class="d-flex flex-column justify-content-center  h-100">
                                    <a href="#/aaf/Pescaria"
                                        class="pic-btn text-decoration-none  rounded-pill text-white mb-2">Play</a>
                                    <a href="#/aaf/Pescaria"
                                        class="pic-btn text-decoration-none  rounded-pill text-white">Demo</a>
                                </span>
                            </span>
                            <img src="@/assets/aaf/img/cock/cock-search-1.png" alt="" class="img-fluid">
                        </div>
                        <p class="fw-bold ">Cock Fight PHI</p>
                    </div>
                    <div class="col mb-3">
                        <div class="pic position-relative overflow-hidden ">
                            <span class="overlay  text-center px-4">
                                <span class="d-flex flex-column justify-content-center  h-100">
                                    <a href="#/aaf/Pescaria"
                                        class="pic-btn text-decoration-none  rounded-pill text-white mb-2">Play</a>
                                    <a href="#/aaf/Pescaria"
                                        class="pic-btn text-decoration-none  rounded-pill text-white">Demo</a>
                                </span>
                            </span>
                            <img src="@/assets/aaf/img/cock/cock-search-1.png" alt="" class="img-fluid">
                        </div>
                        <p class="fw-bold ">Cock Fight PHI</p>
                    </div>
                    <div class="col mb-3">
                        <div class="pic position-relative overflow-hidden ">
                            <span class="overlay  text-center px-4">
                                <span class="d-flex flex-column justify-content-center  h-100">
                                    <a href="#/aaf/Pescaria"
                                        class="pic-btn text-decoration-none  rounded-pill text-white mb-2">Play</a>
                                    <a href="#/aaf/Pescaria"
                                        class="pic-btn text-decoration-none  rounded-pill text-white">Demo</a>
                                </span>
                            </span>
                            <img src="@/assets/aaf/img/cock/cock-search-1.png" alt="" class="img-fluid">
                        </div>
                        <p class="fw-bold ">Cock Fight PHI</p>
                    </div>
                    <div class="col mb-3">
                        <div class="pic position-relative overflow-hidden ">
                            <span class="overlay  text-center px-4">
                                <span class="d-flex flex-column justify-content-center  h-100">
                                    <a href="#/aaf/Pescaria"
                                        class="pic-btn text-decoration-none  rounded-pill text-white mb-2">Play</a>
                                    <a href="#/aaf/Pescaria"
                                        class="pic-btn text-decoration-none  rounded-pill text-white">Demo</a>
                                </span>
                            </span>
                            <img src="@/assets/aaf/img/cock/cock-search-1.png" alt="" class="img-fluid">
                        </div>
                        <p class="fw-bold ">Cock Fight PHI</p>
                    </div>

                </div>
            </div>
        </div>




    </div>
</template>
<script  setup>
import banner from "@/components/aaf/BannerView.vue";



</script>
<style lang="scss" scoped>
.pescaria-wrapper {
    max-width: 1300px;
    margin: 0 auto;
}
.top-games {
    .col {
        cursor: pointer;
    }
    .name {
        width: 55%;
        margin: auto;
        font-weight: 600;
        div:last-child {
            color: #8697a2;
            font-size: .85rem;
        }
    }
}
.hot-games {
    .hot-games-area {
        border-radius: 5px;
    }

    .badge {
        top: -13px;
        right: -8px;
    }

    .hot-badge {
        background: #ff6507;
    }
}

.search {

    .nav-link {
        color: #8697a2;

        &:hover,
        &:focus {
            background: #ff6507;
            color: #fff;
        }
        &.active {
            background: #ff8a00;
            color: #fff;
        }
    }

    .search-input {
        position: relative;

        .fa-magnifying-glass {
            position: absolute;
            top: 9px;
            right: 10px;
        }
    }

}

.game-card {
    .pic {
        .overlay {
            display: block;
            width: 100%;
            /*區塊大小*/
            height: 100%;
            position: absolute;
            left: 0;
            /*區塊位置*/
            top: 0;
            background: rgba(0, 0, 0, 0.6);
            z-index: 1;
            /*覆蓋在img上 */
            display: none;

            .pic-btn {
                border: 1px solid #fff;
                
            }

            .pic-btn:hover {
                background: #fd3231;
                border: 1px solid transparent;
            }

        }

        & img {
            /* transform: scale(1, 1); */
            transition: all 0.5s ease-out;
        }

        &:hover .overlay {
            display: block;
        }

        .overlay:hover~img {
            transform: scale(1.2, 1.2);
        }

    }
    .fw-bold {
        font-weight: 600;
    }
}
</style>