<template>
    <div class="livecasino-wrapper mx-auto">
        <div class="max1300 mb-5">
            <banner />
        </div>
        <div class="hot-games">
            <div class="hot-games-area bg-light p-3 mt-3">
                <button type="button" class="btn bg-white position-relative rounded-pill mx-3 py-0 px-4">
                    <img src="@/assets/aaf/img/LeftMenu/697.png" alt="">
                    Pragmatic Play
                    <span class="hot-badge badge position-absolute translate-middle  rounded-pill text-white px-2">
                        Hot
                    </span>
                </button>
                <button type="button" class="btn bg-white position-relative rounded-pill mx-3 py-0 px-4">
                    <img src="@/assets/aaf/img/LeftMenu/pp-logo.png" alt="">
                    Evolution
                    <span class="hot-badge badge position-absolute translate-middle  rounded-pill text-white px-2">
                        Hot
                    </span>
                </button>
                <button type="button" class="btn bg-white position-relative rounded-pill mx-3 py-0 px-4">
                    <img src="@/assets/aaf/img/LeftMenu/51.png" alt="">
                    Mcauking
                    <span class="hot-badge badge position-absolute translate-middle rounded-pill text-white px-2">
                        Hot
                    </span>
                </button><button type="button" class="btn bg-white position-relative rounded-pill mx-3 py-0 px-4">
                    <img src="@/assets/aaf/img/LeftMenu/561.png" alt="">
                    AG
                    <span class="new-badge badge position-absolute translate-middle rounded-pill bg-danger text-white px-2">
                        New
                    </span>
                </button>
                <button type="button" class="btn bg-white position-relative rounded-pill mx-3 py-0 px-4">
                    <img src="@/assets/aaf/img/LeftMenu/556.png" alt="">
                    BG
                    <span class="new-badge badge position-absolute translate-middle rounded-pill bg-danger text-white px-2">
                        New
                    </span>
                </button>
                <button type="button" class="btn bg-white position-relative rounded-pill mx-3 py-0 px-4">
                    <img src="@/assets/aaf/img/LeftMenu/85.png" alt="">
                    DreamGaming
                    <span class="new-badge badge position-absolute translate-middle rounded-pill bg-danger text-white px-2">
                        New
                    </span>
                </button>
                <button type="button" class="btn bg-white position-relative rounded-pill mx-3 py-0 px-4">
                    <img src="@/assets/aaf/img/LeftMenu/566.png" alt="">
                    Sexy
                    <span class="new-badge badge position-absolute translate-middle rounded-pill bg-danger text-white px-2">
                        New
                    </span>
                </button>
            </div>
        </div>

        <div class="search">
            <nav class="navbar navbar-expand m-4">
                <div class="container-fluid ">
                    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item ">
                                <a class="nav-link rounded-pill px-3 py-1 active" aria-current="page"
                                    href="#/aaf/Pescaria">All</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link rounded-pill px-3 py-1" href="#/aaf/Pescaria">Baccarat</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link rounded-pill px-3 py-1" href="#/aaf/Pescaria">Sic Bo</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link rounded-pill px-3 py-1" href="#/aaf/Pescaria">Roulette</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link rounded-pill px-3 py-1" href="#/aaf/Pescaria">Dragon Tiger</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link rounded-pill px-3 py-1" href="#/aaf/Pescaria">Black Jack</a>
                            </li>
                        </ul>
                        <form class="search-input ms-auto">
                            <input class="form-control me-2 rounded-pill " type="search" placeholder="Search"
                                aria-label="Search">
                            <font-awesome-icon icon="fa-solid fa-magnifying-glass " style="color: #1d9aff;" />

                        </form>
                    </div>
                </div>
            </nav>
        </div>

        <div class="game-card ">
            <div class="container">
                <div class="row row-cols-1 row-cols-md-5">
                    <div class="col"><img src="@/assets/aaf/img/LeftMenu/ebet-795-ffbc.png" alt=""
                            class="img-fluid "><button type="button" class="border-0 bg-warning rounded px-3 py-2 ">PLAY
                            NOW</button></div>
                    <div class="col"><img src="@/assets/aaf/img/LeftMenu/ezugi-eaada-20.png" alt=""
                            class="img-fluid"><button type="button" class="border-0 bg-warning rounded px-3 py-2 ">PLAY
                            NOW</button></div>
                    <div class="col"><img src="@/assets/aaf/img/LeftMenu/vivo.8d2e611.png" alt="" class="img-fluid"><button
                            type="button" class="border-0 bg-warning rounded px-3 py-2 ">PLAY NOW</button></div>
                    <div class="col"><img src="@/assets/aaf/img/LeftMenu/ebet-795-ffbc.png" alt="" class="img-fluid"><button
                            type="button" class="border-0 bg-warning rounded px-3 py-2 ">PLAY NOW</button></div>
                    <div class="col"><img src="@/assets/aaf/img/LeftMenu/ezugi-eaada-20.png" alt=""
                            class="img-fluid"><button type="button" class="border-0 bg-warning rounded px-3 py-2 ">PLAY
                            NOW</button></div>
                </div>
            </div>
        </div>

        <div class="best-live">
            <div class="container my-5">
                <swiper  :modules="modules" :slides-per-view="6" :space-between="0" :loop="true"
                    :autoplay="{ delay: 2500 }" :navigation="{ nextEl: '.btnPrev', prevEl: '.btnNext' }" :pagination="false"
                    :scrollbar="false">
                    <swiper-slide class=" mx-1">
                        <img src="@/assets/aaf/img/LeftMenu/PP-blackjack.jpg" alt="" class="rounded w-100">
                        <p class="m-0 d-inline-block">BK8 Baccarat 1</p><br><small class="text-secondary">PPLiveCasino</small>
                        <span class="hot-badge badge position-absolute translate-middle  rounded-pill text-white px-2 border border-danger m-0"> Hot</span>
                    </swiper-slide>
                    <swiper-slide class=" mx-1">
                        <img src="@/assets/aaf/img/LeftMenu/lighting-roulette.png" alt="" class="rounded w-100">
                        <p class="m-0">BK8 Baccarat 1</p><small class="text-secondary">PPLiveCasino</small>
                        <span class="hot-badge badge position-absolute translate-middle  rounded-pill text-white px-2"> Hot</span>                                      
                    </swiper-slide>
                    <swiper-slide class=" mx-1">
                        <img src="@/assets/aaf/img/LeftMenu/pp-baccarat-1.png" alt="" class="rounded w-100">
                        <p class="m-0">BK8 Baccarat 1</p><small class="text-secondary">PPLiveCasino</small>
                        <span class="hot-badge badge position-absolute translate-middle  rounded-pill text-white px-2"> Hot</span>                  
                    </swiper-slide>
                    <swiper-slide class=" mx-1">
                        <img src="@/assets/aaf/img/LeftMenu/lightning-baccarat.png" alt="" class="rounded w-100">
                        <p class="m-0">BK8 Baccarat 1</p><small class="text-secondary">PPLiveCasino</small>
                        <span class="hot-badge badge position-absolute translate-middle  rounded-pill text-white px-2"> Hot</span>                 
                    </swiper-slide>
                    <swiper-slide class=" mx-1">
                        <img src="@/assets/aaf/img/LeftMenu/pp-roulette.png" alt="" class="rounded w-100">
                        <p class="m-0">BK8 Baccarat 1</p><small class="text-secondary">PPLiveCasino</small>
                        <span class="hot-badge badge position-absolute translate-middle  rounded-pill text-white px-2"> Hot</span>                   
                    </swiper-slide>
                    <swiper-slide class=" mx-1">
                        <img src="@/assets/aaf/img/LeftMenu/salon-prive-baccarat.jpg" alt="" class="rounded w-100">
                        <p class="m-0">BK8 Baccarat 1</p><small class="text-secondary">PPLiveCasino</small>
                        <span class="hot-badge badge position-absolute translate-middle  rounded-pill text-white px-2"> Hot</span>                   
                    </swiper-slide>
                    <swiper-slide class=" mx-1">
                        <img src="@/assets/aaf/img/LeftMenu/pp-baccarat-1.png" alt="" class="rounded w-100">
                        <p class="m-0">BK8 Baccarat 1</p><small class="text-secondary">PPLiveCasino</small>
                        <span class="hot-badge badge position-absolute translate-middle  rounded-pill text-white px-2"> Hot</span>                  
                    </swiper-slide>
                    <swiper-slide class=" mx-1">
                        <img src="@/assets/aaf/img/LeftMenu/lightning-baccarat.png" alt="" class="rounded w-100">
                        <p class="m-0">BK8 Baccarat 1</p><small class="text-secondary">PPLiveCasino</small>
                        <span class="hot-badge badge position-absolute translate-middle  rounded-pill text-white px-2"> Hot</span>                  
                    </swiper-slide>

                </swiper>
                <a class="btnPrev border rounded-circle"><font-awesome-icon icon="fa-solid fa-chevron-left " style="color: #3395dd;" /></a>
                <a class="btnNext border rounded-circle"><font-awesome-icon icon="fa-solid fa-chevron-right" style="color: #3395dd;" /></a>
                <div>

                </div>


            </div>
        </div>

        <div class="all">
            <div class="container mb-5">
                <div class="row row-cols-1 row-cols-md-4">
                    <div class="col p-2"><div class="all-image"><img src="@/assets/aaf/img/LeftMenu/dragon-tiger.jpg" alt="" class="img-fluid "   ><p class="text-white py-1 px-2">Dragon Tiger</p></div></div>
                    <div class="col p-2"><div class="all-image"><img src="@/assets/aaf/img/LeftMenu/french-gold-roulette.jpg" alt="" class="img-fluid"   ><p class="text-white py-1 px-2">Dragon Tiger</p></div></div>
                    <div class="col p-2"><div class="all-image"><img src="@/assets/aaf/img/LeftMenu/lightning-roulette.jpg" alt="" class="img-fluid"  ><p class="text-white py-1 px-2">Dragon Tiger</p></div></div>
                    <div class="col p-2"><div class="all-image"><img src="@/assets/aaf/img/LeftMenu/live-blackjack.jpg" alt="" class="img-fluid"  ><p class="text-white py-1 px-2">Dragon Tiger</p></div></div>
                    <div class="col p-2"><div class="all-image"><img src="@/assets/aaf/img/LeftMenu/dragon-tiger.jpg" alt="" class="img-fluid "   ><p class="text-white py-1 px-2">Dragon Tiger</p></div></div>
                    <div class="col p-2"><div class="all-image"><img src="@/assets/aaf/img/LeftMenu/french-gold-roulette.jpg" alt="" class="img-fluid"   ><p class="text-white py-1 px-2">Dragon Tiger</p></div></div>
                    <div class="col p-2"><div class="all-image"><img src="@/assets/aaf/img/LeftMenu/lightning-roulette.jpg" alt="" class="img-fluid"  ><p class="text-white py-1 px-2">Dragon Tiger</p></div></div>
                    <div class="col p-2"><div class="all-image"><img src="@/assets/aaf/img/LeftMenu/live-blackjack.jpg" alt="" class="img-fluid"  ><p class="text-white py-1 px-2">Dragon Tiger</p></div></div>
                    <div class="col p-2"><div class="all-image"><img src="@/assets/aaf/img/LeftMenu/dragon-tiger.jpg" alt="" class="img-fluid "   ><p class="text-white py-1 px-2">Dragon Tiger</p></div></div>
                    <div class="col p-2"><div class="all-image"><img src="@/assets/aaf/img/LeftMenu/french-gold-roulette.jpg" alt="" class="img-fluid"   ><p class="text-white py-1 px-2">Dragon Tiger</p></div></div>
                    <div class="col p-2"><div class="all-image"><img src="@/assets/aaf/img/LeftMenu/lightning-roulette.jpg" alt="" class="img-fluid"  ><p class="text-white py-1 px-2">Dragon Tiger</p></div></div>
                    <div class="col p-2"><div class="all-image"><img src="@/assets/aaf/img/LeftMenu/live-blackjack.jpg" alt="" class="img-fluid"  ><p class="text-white py-1 px-2">Dragon Tiger</p></div></div>
                </div>
            </div>
        </div>

    </div>
</template>
<script  setup>
import banner from "@/components/aaf/BannerView.vue";
import { Swiper, SwiperSlide } from "swiper/vue";
import {
    Navigation,
    Pagination,
    Scrollbar,
    A11y,
    EffectFade,
    Autoplay,
} from "swiper";
import "swiper/css";
import "swiper/css/pagination";
import "swiper/css/scrollbar";

const modules = [Navigation, Pagination, Scrollbar, A11y, EffectFade, Autoplay];
</script>
<style lang="scss" scoped>
.max1470{
    max-width:1470px;
    margin:auto;
}
.max1300{
    max-width:1300px;
    margin:auto;
}

.hot-games {
    .hot-games-area {
        border-radius: 5px;
    }

    .badge {
        top: -13px;
        right: -8px;
    }

    .hot-badge {
        background: #ff6507;
    }
}

.search {
    .nav-link {
        color: #8697a2;

        &:hover,
        &:focus {
            background: #ff6507;
            color: #fff;
        }
    }

    .search-input {
        position: relative;

        .fa-magnifying-glass {
            position: absolute;
            top: 9px;
            right: 10px;
        }
    }

}

.game-card {
    img {
        position: relative;
    }

    button {
        position: absolute;
        bottom: 10px;
        right: 25%;
    }
}

.best-live{
    position: relative;
    .btnPrev{
        background: #dbe9f0;
        padding: 0 7px;
        position: absolute;
        top: 80px;
        left: 4%;
        z-index: 1;
    }
    .btnNext{
        background: #dbe9f0;
        padding: 0 7px;
        position: absolute;
        top: 80px;
        right: 4%;
        z-index: 1;
    }
    .badge {
        bottom: 25px;
        right: 17%;
    }

    .hot-badge {
        background: #ff6507;
    }
}

.all{
.all-image{
    position: relative;
}
    p{
        background: rgba(0,0,0,0.7);
        position: absolute;
        bottom: -15px;
        left: 0;
        right: 0;
    }
}
</style>