<template>
    <div class="slotWrapper">
        <banner />
        <div class="topGame-wrapper">
            <div class="topGame-title">Top Games</div>
            <div class="topGame-list">
                <div class="position-relative">
                    <div class="topGame-img">
                        <img src="@/assets/aaf/img/slot/1.png" alt="">
                    </div>
                    <div class="topGame-text">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="name">roma</span>
                            <span  class="notice nav-link dropdown-toggle" >
                                <font-awesome-icon :icon="['fas', 'info-circle']" />
                                <div class="tips dropdown-menu">
                                    <div class="tip-1 d-flex justify-content-between">
                                        <div class="d-flex justify-content-between">
                                            <span>RPT</span><span class="ml-2">96.75</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Line</span><span class="ml-2">15</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Cascade win</span>
                                            <span>Y</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Volatility</span>
                                            <span>medium</span>
                                        </div>
                                    </div>
                            </div>

                            </span>
                        </div>
                        <div class="type">NextSpin</div>
                        <div class="badge bg-primary">RTP <span class="ml-2">97.05</span></div>
                    </div>
                </div>
                <div class="position-relative">
                    <div class="topGame-img">
                        <img src="@/assets/aaf/img/slot/2.png" alt="">
                    </div>
                    <div class="topGame-text">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="name">roma</span>
                            <span  class="notice nav-link dropdown-toggle" >
                                <font-awesome-icon :icon="['fas', 'info-circle']" />
                                <div class="tips dropdown-menu">
                                    <div class="tip-1 d-flex justify-content-between">
                                        <div class="d-flex justify-content-between">
                                            <span>RPT</span><span class="ml-2">96.75</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Line</span><span class="ml-2">15</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Cascade win</span>
                                            <span>Y</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Volatility</span>
                                            <span>medium</span>
                                        </div>
                                    </div>
                            </div>

                            </span>
                        </div>
                        <div class="type">NextSpin</div>
                        <div class="badge bg-primary">RTP <span class="ml-2">97.05</span></div>
                    </div>
                </div>
                <div class="position-relative">
                    <div class="topGame-img">
                        <img src="@/assets/aaf/img/slot/3.png" alt="">
                    </div>
                    <div class="topGame-text">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="name">roma</span>
                            <span  class="notice nav-link dropdown-toggle" >
                                <font-awesome-icon :icon="['fas', 'info-circle']" />
                                <div class="tips dropdown-menu">
                                    <div class="tip-1 d-flex justify-content-between">
                                        <div class="d-flex justify-content-between">
                                            <span>RPT</span><span class="ml-2">96.75</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Line</span><span class="ml-2">15</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Cascade win</span>
                                            <span>Y</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Volatility</span>
                                            <span>medium</span>
                                        </div>
                                    </div>
                            </div>

                            </span>
                        </div>
                        <div class="type">NextSpin</div>
                        <div class="badge bg-primary">RTP <span class="ml-2">97.05</span></div>
                    </div>
                </div>
                <div class="position-relative">
                    <div class="topGame-img">
                        <img src="@/assets/aaf/img/slot/4.png" alt="">
                    </div>
                    <div class="topGame-text">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="name">roma</span>
                            <span  class="notice nav-link dropdown-toggle" >
                                <font-awesome-icon :icon="['fas', 'info-circle']" />
                                <div class="tips dropdown-menu">
                                    <div class="tip-1 d-flex justify-content-between">
                                        <div class="d-flex justify-content-between">
                                            <span>RPT</span><span class="ml-2">96.75</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Line</span><span class="ml-2">15</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Cascade win</span>
                                            <span>Y</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Volatility</span>
                                            <span>medium</span>
                                        </div>
                                    </div>
                            </div>

                            </span>
                        </div>
                        <div class="type">NextSpin</div>
                        <div class="badge bg-primary">RTP <span class="ml-2">97.05</span></div>
                    </div>
                </div>
                <div class="position-relative">
                    <div class="topGame-img">
                        <img src="@/assets/aaf/img/slot/5.png" alt="">
                    </div>
                    <div class="topGame-text">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="name">roma</span>
                            <span  class="notice nav-link dropdown-toggle" >
                                <font-awesome-icon :icon="['fas', 'info-circle']" />
                                <div class="tips dropdown-menu">
                                    <div class="tip-1 d-flex justify-content-between">
                                        <div class="d-flex justify-content-between">
                                            <span>RPT</span><span class="ml-2">96.75</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Line</span><span class="ml-2">15</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Cascade win</span>
                                            <span>Y</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Volatility</span>
                                            <span>medium</span>
                                        </div>
                                    </div>
                            </div>

                            </span>
                        </div>
                        <div class="type">NextSpin</div>
                        <div class="badge bg-primary">RTP <span class="ml-2">97.05</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="game-selTab">
            <div class="selTab">
                <span>
                    <img src="@/assets/aaf/img/slot/icon-1.png" alt="">
                </span>
                <span>Spadegaming</span>
            </div>
            <div>
                <span>
                    <img src="@/assets/aaf/img/slot/icon-2.png" alt="">
                </span>
                <span>Spadegaming</span>
            </div>
            <div>
                <span>
                    <img src="@/assets/aaf/img/slot/icon-3.png" alt="">
                </span>
                <span>Spadegaming</span>
            </div>
            <div>
                <span>
                    <img src="@/assets/aaf/img/slot/icon-4.png" alt="">
                </span>
                <span>Spadegaming</span>
            </div>
            <div>
                <span>
                    <img src="@/assets/aaf/img/slot/icon-5.png" alt="">
                </span>
                <span>Spadegaming</span>
            </div>
            <div>
                <span>
                    <img src="@/assets/aaf/img/slot/icon-6.png" alt="">
                </span>
                <span>Spadegaming</span>
            </div>
            <div>
                <span>
                    <img src="@/assets/aaf/img/slot/icon-7.png" alt="">
                </span>
                <span>Spadegaming</span>
            </div>
            <div>
                <span>
                    <img src="@/assets/aaf/img/slot/icon-8.png" alt="">
                </span>
                <span>Spadegaming</span>
            </div>
            <div>
                <span>
                    <img src="@/assets/aaf/img/slot/icon-9.png" alt="">
                </span>
                <span>Spadegaming</span>
            </div>
            <div>
                <span>
                    <img src="@/assets/aaf/img/slot/icon-10.png" alt="">
                </span>
                <span>Spadegaming</span>
            </div>
            <div>
                <span>
                    <img src="@/assets/aaf/img/slot/icon-11.png" alt="">
                </span>
                <span>Spadegaming</span>
            </div>
            <div>
                <span>
                    <img src="@/assets/aaf/img/slot/icon-12.png" alt="">
                </span>
                <span>Spadegaming</span>
            </div>
        </div>
        <div class="search-wrapper">
            <div class="search-list">
                <span class="active">All games</span>
                <span>Hot games</span>
                <span>New games</span>
                <span>Slot</span>
                <span>Arcade</span>
            </div>
            <div class="search-form">
                
            <div class="nav-item dropdown">
                    <div class="nav-link  dropdown-toggle" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="">Slot</span>
                    </div>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="lang-option">
                            <div class="btnName" >Slot</div>
                        </li>
                        <li class="lang-option">
                            <div class="btnName" >Slot</div>
                        </li>
                        <li class="lang-option">
                            <div class="btnName" >Slot</div>
                        </li>
                        <li class="lang-option">
                            <div class="btnName" >Slot</div>
                        </li>
                        <li class="lang-option">
                            <div class="btnName" >Slot</div>
                        </li>
                        <li class="lang-option">
                            <div class="btnName" >Slot</div>
                        </li>
                        <li class="lang-option">
                            <div class="btnName" >Slot</div>
                        </li>
                    </ul>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="search" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <span class="input-group-text" id="basic-addon2"><font-awesome-icon :icon="['fas', 'search']" /></span>
                </div>
            </div>
        </div>

        <div class="search-result">
            <div class="topGame-list">
                <div class="position-relative">
                    <div class="topGame-img">
                        <img src="@/assets/aaf/img/slot/search-1.png" alt="">
                        <div class="gamePicBoxHoverBox">
                            <div class="intoGameBtn">PLAY</div>
                            <div class="demoBtn">DEMO</div>
                        </div>
                    </div>
                    <div class="topGame-text">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="name">roma</span>
                            <span  class="notice nav-link dropdown-toggle" >
                                <font-awesome-icon :icon="['fas', 'info-circle']" />
                                <div class="tips dropdown-menu">
                                    <div class="tip-1 d-flex justify-content-between">
                                        <div class="d-flex justify-content-between">
                                            <span>RPT</span><span class="ml-2">96.75</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Line</span><span class="ml-2">15</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Cascade win</span>
                                            <span>Y</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Volatility</span>
                                            <span>medium</span>
                                        </div>
                                    </div>
                            </div>

                            </span>
                        </div>
                        <div class="type">NextSpin</div>
                        <div class="badge bg-primary">RTP <span class="ml-2">97.05</span></div>

                    </div>
                </div>
                <div class="position-relative">
                    <div class="topGame-img">
                        <img src="@/assets/aaf/img/slot/search-2.png" alt="">
                        <div class="gamePicBoxHoverBox">
                            <div class="intoGameBtn">PLAY</div>
                            <div class="demoBtn">DEMO</div>
                        </div>
                    </div>
                    <div class="topGame-text">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="name">roma</span>
                            <span  class="notice nav-link dropdown-toggle" >
                                <font-awesome-icon :icon="['fas', 'info-circle']" />
                                <div class="tips dropdown-menu">
                                    <div class="tip-1 d-flex justify-content-between">
                                        <div class="d-flex justify-content-between">
                                            <span>RPT</span><span class="ml-2">96.75</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Line</span><span class="ml-2">15</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Cascade win</span>
                                            <span>Y</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Volatility</span>
                                            <span>medium</span>
                                        </div>
                                    </div>
                            </div>

                            </span>
                        </div>
                        <div class="type">NextSpin</div>
                        <div class="badge bg-primary">RTP <span class="ml-2">97.05</span></div>

                    </div>
                </div>
                <div class="position-relative">
                    <div class="topGame-img">
                        <img src="@/assets/aaf/img/slot/search-3.png" alt="">
                        <div class="gamePicBoxHoverBox">
                            <div class="intoGameBtn">PLAY</div>
                            <div class="demoBtn">DEMO</div>
                        </div>
                    </div>
                    <div class="topGame-text">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="name">roma</span>
                            <span  class="notice nav-link dropdown-toggle" >
                                <font-awesome-icon :icon="['fas', 'info-circle']" />
                                <div class="tips dropdown-menu">
                                    <div class="tip-1 d-flex justify-content-between">
                                        <div class="d-flex justify-content-between">
                                            <span>RPT</span><span class="ml-2">96.75</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Line</span><span class="ml-2">15</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Cascade win</span>
                                            <span>Y</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Volatility</span>
                                            <span>medium</span>
                                        </div>
                                    </div>
                            </div>

                            </span>
                        </div>
                        <div class="type">NextSpin</div>
                        <div class="badge bg-primary">RTP <span class="ml-2">97.05</span></div>

                    </div>
                </div>
                <div class="position-relative">
                    <div class="topGame-img">
                        <img src="@/assets/aaf/img/slot/search-4.png" alt="">
                        <div class="gamePicBoxHoverBox">
                            <div class="intoGameBtn">PLAY</div>
                            <div class="demoBtn">DEMO</div>
                        </div>
                    </div>
                    <div class="topGame-text">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="name">roma</span>
                            <span  class="notice nav-link dropdown-toggle" >
                                <font-awesome-icon :icon="['fas', 'info-circle']" />
                                <div class="tips dropdown-menu">
                                    <div class="tip-1 d-flex justify-content-between">
                                        <div class="d-flex justify-content-between">
                                            <span>RPT</span><span class="ml-2">96.75</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Line</span><span class="ml-2">15</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Cascade win</span>
                                            <span>Y</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Volatility</span>
                                            <span>medium</span>
                                        </div>
                                    </div>
                            </div>

                            </span>
                        </div>
                        <div class="type">NextSpin</div>
                        <div class="badge bg-primary">RTP <span class="ml-2">97.05</span></div>

                    </div>
                </div>
                <div class="position-relative">
                    <div class="topGame-img">
                        <img src="@/assets/aaf/img/slot/search-5.png" alt="">
                        <div class="gamePicBoxHoverBox">
                            <div class="intoGameBtn">PLAY</div>
                            <div class="demoBtn">DEMO</div>
                        </div>
                    </div>
                    <div class="topGame-text">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="name">roma</span>
                            <span  class="notice nav-link dropdown-toggle" >
                                <font-awesome-icon :icon="['fas', 'info-circle']" />
                                <div class="tips dropdown-menu">
                                    <div class="tip-1 d-flex justify-content-between">
                                        <div class="d-flex justify-content-between">
                                            <span>RPT</span><span class="ml-2">96.75</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Line</span><span class="ml-2">15</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Cascade win</span>
                                            <span>Y</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Volatility</span>
                                            <span>medium</span>
                                        </div>
                                    </div>
                            </div>

                            </span>
                        </div>
                        <div class="type">NextSpin</div>
                        <div class="badge bg-primary">RTP <span class="ml-2">97.05</span></div>

                    </div>
                </div>
                <div class="position-relative">
                    <div class="topGame-img">
                        <img src="@/assets/aaf/img/slot/search-6.png" alt="">
                        <div class="gamePicBoxHoverBox">
                            <div class="intoGameBtn">PLAY</div>
                            <div class="demoBtn">DEMO</div>
                        </div>
                    </div>
                    <div class="topGame-text">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="name">roma</span>
                            <span  class="notice nav-link dropdown-toggle" >
                                <font-awesome-icon :icon="['fas', 'info-circle']" />
                                <div class="tips dropdown-menu">
                                    <div class="tip-1 d-flex justify-content-between">
                                        <div class="d-flex justify-content-between">
                                            <span>RPT</span><span class="ml-2">96.75</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Line</span><span class="ml-2">15</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Cascade win</span>
                                            <span>Y</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Volatility</span>
                                            <span>medium</span>
                                        </div>
                                    </div>
                            </div>

                            </span>
                        </div>
                        <div class="type">NextSpin</div>
                        <div class="badge bg-primary">RTP <span class="ml-2">97.05</span></div>

                    </div>
                </div>
            </div>
            <div class="topGame-list">
                <div class="position-relative">
                    <div class="topGame-img">
                        <img src="@/assets/aaf/img/slot/search-7.png" alt="">
                        <div class="gamePicBoxHoverBox">
                            <div class="intoGameBtn">PLAY</div>
                            <div class="demoBtn">DEMO</div>
                        </div>
                    </div>
                    <div class="topGame-text">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="name">roma</span>
                            <span  class="notice nav-link dropdown-toggle" >
                                <font-awesome-icon :icon="['fas', 'info-circle']" />
                                <div class="tips dropdown-menu">
                                    <div class="tip-1 d-flex justify-content-between">
                                        <div class="d-flex justify-content-between">
                                            <span>RPT</span><span class="ml-2">96.75</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Line</span><span class="ml-2">15</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Cascade win</span>
                                            <span>Y</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Volatility</span>
                                            <span>medium</span>
                                        </div>
                                    </div>
                            </div>

                            </span>
                        </div>
                        <div class="type">NextSpin</div>
                        <div class="badge bg-primary">RTP <span class="ml-2">97.05</span></div>

                    </div>
                </div>
                <div class="position-relative">
                    <div class="topGame-img">
                        <img src="@/assets/aaf/img/slot/search-8.png" alt="">
                        <div class="gamePicBoxHoverBox">
                            <div class="intoGameBtn">PLAY</div>
                            <div class="demoBtn">DEMO</div>
                        </div>
                    </div>
                    <div class="topGame-text">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="name">roma</span>
                            <span  class="notice nav-link dropdown-toggle" >
                                <font-awesome-icon :icon="['fas', 'info-circle']" />
                                <div class="tips dropdown-menu">
                                    <div class="tip-1 d-flex justify-content-between">
                                        <div class="d-flex justify-content-between">
                                            <span>RPT</span><span class="ml-2">96.75</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Line</span><span class="ml-2">15</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Cascade win</span>
                                            <span>Y</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Volatility</span>
                                            <span>medium</span>
                                        </div>
                                    </div>
                            </div>

                            </span>
                        </div>
                        <div class="type">NextSpin</div>
                        <div class="badge bg-primary">RTP <span class="ml-2">97.05</span></div>

                    </div>
                </div>
                <div class="position-relative">
                    <div class="topGame-img">
                        <img src="@/assets/aaf/img/slot/search-9.png" alt="">
                        <div class="gamePicBoxHoverBox">
                            <div class="intoGameBtn">PLAY</div>
                            <div class="demoBtn">DEMO</div>
                        </div>
                    </div>
                    <div class="topGame-text">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="name">roma</span>
                            <span  class="notice nav-link dropdown-toggle" >
                                <font-awesome-icon :icon="['fas', 'info-circle']" />
                                <div class="tips dropdown-menu">
                                    <div class="tip-1 d-flex justify-content-between">
                                        <div class="d-flex justify-content-between">
                                            <span>RPT</span><span class="ml-2">96.75</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Line</span><span class="ml-2">15</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Cascade win</span>
                                            <span>Y</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Volatility</span>
                                            <span>medium</span>
                                        </div>
                                    </div>
                            </div>

                            </span>
                        </div>
                        <div class="type">NextSpin</div>
                        <div class="badge bg-primary">RTP <span class="ml-2">97.05</span></div>

                    </div>
                </div>
                <div class="position-relative">
                    <div class="topGame-img">
                        <img src="@/assets/aaf/img/slot/search-10.png" alt="">
                        <div class="gamePicBoxHoverBox">
                            <div class="intoGameBtn">PLAY</div>
                            <div class="demoBtn">DEMO</div>
                        </div>
                    </div>
                    <div class="topGame-text">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="name">roma</span>
                            <span  class="notice nav-link dropdown-toggle" >
                                <font-awesome-icon :icon="['fas', 'info-circle']" />
                                <div class="tips dropdown-menu">
                                    <div class="tip-1 d-flex justify-content-between">
                                        <div class="d-flex justify-content-between">
                                            <span>RPT</span><span class="ml-2">96.75</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Line</span><span class="ml-2">15</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Cascade win</span>
                                            <span>Y</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Volatility</span>
                                            <span>medium</span>
                                        </div>
                                    </div>
                            </div>

                            </span>
                        </div>
                        <div class="type">NextSpin</div>
                        <div class="badge bg-primary">RTP <span class="ml-2">97.05</span></div>

                    </div>
                </div>
                <div class="position-relative">
                    <div class="topGame-img">
                        <img src="@/assets/aaf/img/slot/search-11.png" alt="">
                        <div class="gamePicBoxHoverBox">
                            <div class="intoGameBtn">PLAY</div>
                            <div class="demoBtn">DEMO</div>
                        </div>
                    </div>
                    <div class="topGame-text">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="name">roma</span>
                            <span  class="notice nav-link dropdown-toggle" >
                                <font-awesome-icon :icon="['fas', 'info-circle']" />
                                <div class="tips dropdown-menu">
                                    <div class="tip-1 d-flex justify-content-between">
                                        <div class="d-flex justify-content-between">
                                            <span>RPT</span><span class="ml-2">96.75</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Line</span><span class="ml-2">15</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Cascade win</span>
                                            <span>Y</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Volatility</span>
                                            <span>medium</span>
                                        </div>
                                    </div>
                            </div>

                            </span>
                        </div>
                        <div class="type">NextSpin</div>
                        <div class="badge bg-primary">RTP <span class="ml-2">97.05</span></div>

                    </div>
                </div>
                <div class="position-relative">
                    <div class="topGame-img">
                        <img src="@/assets/aaf/img/slot/search-12.png" alt="">
                        <div class="gamePicBoxHoverBox">
                            <div class="intoGameBtn">PLAY</div>
                            <div class="demoBtn">DEMO</div>
                        </div>
                    </div>
                    <div class="topGame-text">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="name">roma</span>
                            <span  class="notice nav-link dropdown-toggle" >
                                <font-awesome-icon :icon="['fas', 'info-circle']" />
                                <div class="tips dropdown-menu">
                                    <div class="tip-1 d-flex justify-content-between">
                                        <div class="d-flex justify-content-between">
                                            <span>RPT</span><span class="ml-2">96.75</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Line</span><span class="ml-2">15</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Cascade win</span>
                                            <span>Y</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Volatility</span>
                                            <span>medium</span>
                                        </div>
                                    </div>
                            </div>

                            </span>
                        </div>
                        <div class="type">NextSpin</div>
                        <div class="badge bg-primary">RTP <span class="ml-2">97.05</span></div>

                    </div>
                </div>

            </div>
            <div class="topGame-list">
                <div class="position-relative">
                    <div class="topGame-img">
                        <img src="@/assets/aaf/img/slot/search-1.png" alt="">
                        <div class="gamePicBoxHoverBox">
                            <div class="intoGameBtn">PLAY</div>
                            <div class="demoBtn">DEMO</div>
                        </div>
                    </div>
                    <div class="topGame-text">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="name">roma</span>
                            <span  class="notice nav-link dropdown-toggle" >
                                <font-awesome-icon :icon="['fas', 'info-circle']" />
                                <div class="tips dropdown-menu">
                                    <div class="tip-1 d-flex justify-content-between">
                                        <div class="d-flex justify-content-between">
                                            <span>RPT</span><span class="ml-2">96.75</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Line</span><span class="ml-2">15</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Cascade win</span>
                                            <span>Y</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Volatility</span>
                                            <span>medium</span>
                                        </div>
                                    </div>
                            </div>

                            </span>
                        </div>
                        <div class="type">NextSpin</div>
                        <div class="badge bg-primary">RTP <span class="ml-2">97.05</span></div>

                    </div>
                </div>
                <div class="position-relative">
                    <div class="topGame-img">
                        <img src="@/assets/aaf/img/slot/search-2.png" alt="">
                        <div class="gamePicBoxHoverBox">
                            <div class="intoGameBtn">PLAY</div>
                            <div class="demoBtn">DEMO</div>
                        </div>
                    </div>
                    <div class="topGame-text">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="name">roma</span>
                            <span  class="notice nav-link dropdown-toggle" >
                                <font-awesome-icon :icon="['fas', 'info-circle']" />
                                <div class="tips dropdown-menu">
                                    <div class="tip-1 d-flex justify-content-between">
                                        <div class="d-flex justify-content-between">
                                            <span>RPT</span><span class="ml-2">96.75</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Line</span><span class="ml-2">15</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Cascade win</span>
                                            <span>Y</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Volatility</span>
                                            <span>medium</span>
                                        </div>
                                    </div>
                            </div>

                            </span>
                        </div>
                        <div class="type">NextSpin</div>
                        <div class="badge bg-primary">RTP <span class="ml-2">97.05</span></div>

                    </div>
                </div>
                <div class="position-relative">
                    <div class="topGame-img">
                        <img src="@/assets/aaf/img/slot/search-3.png" alt="">
                        <div class="gamePicBoxHoverBox">
                            <div class="intoGameBtn">PLAY</div>
                            <div class="demoBtn">DEMO</div>
                        </div>
                    </div>
                    <div class="topGame-text">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="name">roma</span>
                            <span  class="notice nav-link dropdown-toggle" >
                                <font-awesome-icon :icon="['fas', 'info-circle']" />
                                <div class="tips dropdown-menu">
                                    <div class="tip-1 d-flex justify-content-between">
                                        <div class="d-flex justify-content-between">
                                            <span>RPT</span><span class="ml-2">96.75</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Line</span><span class="ml-2">15</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Cascade win</span>
                                            <span>Y</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Volatility</span>
                                            <span>medium</span>
                                        </div>
                                    </div>
                            </div>

                            </span>
                        </div>
                        <div class="type">NextSpin</div>
                        <div class="badge bg-primary">RTP <span class="ml-2">97.05</span></div>

                    </div>
                </div>
                <div class="position-relative">
                    <div class="topGame-img">
                        <img src="@/assets/aaf/img/slot/search-4.png" alt="">
                        <div class="gamePicBoxHoverBox">
                            <div class="intoGameBtn">PLAY</div>
                            <div class="demoBtn">DEMO</div>
                        </div>
                    </div>
                    <div class="topGame-text">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="name">roma</span>
                            <span  class="notice nav-link dropdown-toggle" >
                                <font-awesome-icon :icon="['fas', 'info-circle']" />
                                <div class="tips dropdown-menu">
                                    <div class="tip-1 d-flex justify-content-between">
                                        <div class="d-flex justify-content-between">
                                            <span>RPT</span><span class="ml-2">96.75</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Line</span><span class="ml-2">15</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Cascade win</span>
                                            <span>Y</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Volatility</span>
                                            <span>medium</span>
                                        </div>
                                    </div>
                            </div>

                            </span>
                        </div>
                        <div class="type">NextSpin</div>
                        <div class="badge bg-primary">RTP <span class="ml-2">97.05</span></div>

                    </div>
                </div>
                <div class="position-relative">
                    <div class="topGame-img">
                        <img src="@/assets/aaf/img/slot/search-5.png" alt="">
                        <div class="gamePicBoxHoverBox">
                            <div class="intoGameBtn">PLAY</div>
                            <div class="demoBtn">DEMO</div>
                        </div>
                    </div>
                    <div class="topGame-text">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="name">roma</span>
                            <span  class="notice nav-link dropdown-toggle" >
                                <font-awesome-icon :icon="['fas', 'info-circle']" />
                                <div class="tips dropdown-menu">
                                    <div class="tip-1 d-flex justify-content-between">
                                        <div class="d-flex justify-content-between">
                                            <span>RPT</span><span class="ml-2">96.75</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Line</span><span class="ml-2">15</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Cascade win</span>
                                            <span>Y</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Volatility</span>
                                            <span>medium</span>
                                        </div>
                                    </div>
                            </div>

                            </span>
                        </div>
                        <div class="type">NextSpin</div>
                        <div class="badge bg-primary">RTP <span class="ml-2">97.05</span></div>

                    </div>
                </div>
                <div class="position-relative">
                    <div class="topGame-img">
                        <img src="@/assets/aaf/img/slot/search-6.png" alt="">
                        <div class="gamePicBoxHoverBox">
                            <div class="intoGameBtn">PLAY</div>
                            <div class="demoBtn">DEMO</div>
                        </div>
                    </div>
                    <div class="topGame-text">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="name">roma</span>
                            <span  class="notice nav-link dropdown-toggle" >
                                <font-awesome-icon :icon="['fas', 'info-circle']" />
                                <div class="tips dropdown-menu">
                                    <div class="tip-1 d-flex justify-content-between">
                                        <div class="d-flex justify-content-between">
                                            <span>RPT</span><span class="ml-2">96.75</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Line</span><span class="ml-2">15</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Cascade win</span>
                                            <span>Y</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Volatility</span>
                                            <span>medium</span>
                                        </div>
                                    </div>
                            </div>

                            </span>
                        </div>
                        <div class="type">NextSpin</div>
                        <div class="badge bg-primary">RTP <span class="ml-2">97.05</span></div>

                    </div>
                </div>
            </div>
            <div class="topGame-list">
                <div class="position-relative">
                    <div class="topGame-img">
                        <img src="@/assets/aaf/img/slot/search-7.png" alt="">
                        <div class="gamePicBoxHoverBox">
                            <div class="intoGameBtn">PLAY</div>
                            <div class="demoBtn">DEMO</div>
                        </div>
                    </div>
                    <div class="topGame-text">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="name">roma</span>
                            <span  class="notice nav-link dropdown-toggle" >
                                <font-awesome-icon :icon="['fas', 'info-circle']" />
                                <div class="tips dropdown-menu">
                                    <div class="tip-1 d-flex justify-content-between">
                                        <div class="d-flex justify-content-between">
                                            <span>RPT</span><span class="ml-2">96.75</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Line</span><span class="ml-2">15</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Cascade win</span>
                                            <span>Y</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Volatility</span>
                                            <span>medium</span>
                                        </div>
                                    </div>
                            </div>

                            </span>
                        </div>
                        <div class="type">NextSpin</div>
                        <div class="badge bg-primary">RTP <span class="ml-2">97.05</span></div>

                    </div>
                </div>
                <div class="position-relative">
                    <div class="topGame-img">
                        <img src="@/assets/aaf/img/slot/search-8.png" alt="">
                        <div class="gamePicBoxHoverBox">
                            <div class="intoGameBtn">PLAY</div>
                            <div class="demoBtn">DEMO</div>
                        </div>
                    </div>
                    <div class="topGame-text">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="name">roma</span>
                            <span  class="notice nav-link dropdown-toggle" >
                                <font-awesome-icon :icon="['fas', 'info-circle']" />
                                <div class="tips dropdown-menu">
                                    <div class="tip-1 d-flex justify-content-between">
                                        <div class="d-flex justify-content-between">
                                            <span>RPT</span><span class="ml-2">96.75</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Line</span><span class="ml-2">15</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Cascade win</span>
                                            <span>Y</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Volatility</span>
                                            <span>medium</span>
                                        </div>
                                    </div>
                            </div>

                            </span>
                        </div>
                        <div class="type">NextSpin</div>
                        <div class="badge bg-primary">RTP <span class="ml-2">97.05</span></div>

                    </div>
                </div>
                <div class="position-relative">
                    <div class="topGame-img">
                        <img src="@/assets/aaf/img/slot/search-9.png" alt="">
                        <div class="gamePicBoxHoverBox">
                            <div class="intoGameBtn">PLAY</div>
                            <div class="demoBtn">DEMO</div>
                        </div>
                    </div>
                    <div class="topGame-text">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="name">roma</span>
                            <span  class="notice nav-link dropdown-toggle" >
                                <font-awesome-icon :icon="['fas', 'info-circle']" />
                                <div class="tips dropdown-menu">
                                    <div class="tip-1 d-flex justify-content-between">
                                        <div class="d-flex justify-content-between">
                                            <span>RPT</span><span class="ml-2">96.75</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Line</span><span class="ml-2">15</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Cascade win</span>
                                            <span>Y</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Volatility</span>
                                            <span>medium</span>
                                        </div>
                                    </div>
                            </div>

                            </span>
                        </div>
                        <div class="type">NextSpin</div>
                        <div class="badge bg-primary">RTP <span class="ml-2">97.05</span></div>

                    </div>
                </div>
                <div class="position-relative">
                    <div class="topGame-img">
                        <img src="@/assets/aaf/img/slot/search-10.png" alt="">
                        <div class="gamePicBoxHoverBox">
                            <div class="intoGameBtn">PLAY</div>
                            <div class="demoBtn">DEMO</div>
                        </div>
                    </div>
                    <div class="topGame-text">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="name">roma</span>
                            <span  class="notice nav-link dropdown-toggle" >
                                <font-awesome-icon :icon="['fas', 'info-circle']" />
                                <div class="tips dropdown-menu">
                                    <div class="tip-1 d-flex justify-content-between">
                                        <div class="d-flex justify-content-between">
                                            <span>RPT</span><span class="ml-2">96.75</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Line</span><span class="ml-2">15</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Cascade win</span>
                                            <span>Y</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Volatility</span>
                                            <span>medium</span>
                                        </div>
                                    </div>
                            </div>

                            </span>
                        </div>
                        <div class="type">NextSpin</div>
                        <div class="badge bg-primary">RTP <span class="ml-2">97.05</span></div>

                    </div>
                </div>
                <div class="position-relative">
                    <div class="topGame-img">
                        <img src="@/assets/aaf/img/slot/search-11.png" alt="">
                        <div class="gamePicBoxHoverBox">
                            <div class="intoGameBtn">PLAY</div>
                            <div class="demoBtn">DEMO</div>
                        </div>
                    </div>
                    <div class="topGame-text">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="name">roma</span>
                            <span  class="notice nav-link dropdown-toggle" >
                                <font-awesome-icon :icon="['fas', 'info-circle']" />
                                <div class="tips dropdown-menu">
                                    <div class="tip-1 d-flex justify-content-between">
                                        <div class="d-flex justify-content-between">
                                            <span>RPT</span><span class="ml-2">96.75</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Line</span><span class="ml-2">15</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Cascade win</span>
                                            <span>Y</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Volatility</span>
                                            <span>medium</span>
                                        </div>
                                    </div>
                            </div>

                            </span>
                        </div>
                        <div class="type">NextSpin</div>
                        <div class="badge bg-primary">RTP <span class="ml-2">97.05</span></div>

                    </div>
                </div>
                <div class="position-relative">
                    <div class="topGame-img">
                        <img src="@/assets/aaf/img/slot/search-12.png" alt="">
                        <div class="gamePicBoxHoverBox">
                            <div class="intoGameBtn">PLAY</div>
                            <div class="demoBtn">DEMO</div>
                        </div>
                    </div>
                    <div class="topGame-text">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="name">roma</span>
                            <span  class="notice nav-link dropdown-toggle" >
                                <font-awesome-icon :icon="['fas', 'info-circle']" />
                                <div class="tips dropdown-menu">
                                    <div class="tip-1 d-flex justify-content-between">
                                        <div class="d-flex justify-content-between">
                                            <span>RPT</span><span class="ml-2">96.75</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Line</span><span class="ml-2">15</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Cascade win</span>
                                            <span>Y</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-between ">
                                            <span>Volatility</span>
                                            <span>medium</span>
                                        </div>
                                    </div>
                            </div>

                            </span>
                        </div>
                        <div class="type">NextSpin</div>
                        <div class="badge bg-primary">RTP <span class="ml-2">97.05</span></div>

                    </div>
                </div>

            </div>

        </div>

    </div>
</template>
<script  setup>
    import banner from "@/components/aaf/BannerView.vue";
    
</script>
<style lang="scss" scoped>
.slotWrapper {
    max-width: 1300px;
    margin: 0 auto;
}
.topGame-wrapper {
    max-width: 1340px;
    img {
        max-width: 100%;
        border-radius: 10px;
    }
    .topGame-title {
        margin: 1rem 0;
        font-weight: 600;
    }
    .topGame-list {
        display: flex;
        justify-content: space-between;
        .topGame-img {
            max-width: 192px;
        }
        .topGame-text {
            position: relative;
            padding: 0 .5rem;
            font-size: .85rem;
            .name {
                font-weight: 700;
                font-size: 1.2rem;
            }
            .notice {
                color: #8697a2;
                cursor: pointer;
                &:hover {
                    .tips {
                        display: block;
                        }
                }
                &::after{
                    display: none;
                }
                .tips {
                    position: absolute;
                    top: 25px;
                    left: 148px;
                    background: #f3f5f6;
                    border-radius: 10px;
                    padding: 1rem 1.5rem .8rem 1.5rem;
                    width: 130%;
                    z-index: 1;
                    box-shadow: 8px 7px 5px -5px rgba(0,0,0,0.34);
                    -webkit-box-shadow: 8px 7px 5px -5px rgba(0,0,0,0.34);
                    -moz-box-shadow: 8px 7px 5px -5px rgba(0,0,0,0.34);
                    .tip-1 {
                        border-radius: 10px;
                        margin: 0 -.4rem .2rem -.4rem;
                        div {
                            background: #fff;
                            border-radius: 10px;
                            padding: .5rem;
                            width: 49%;
                            span:first-child {
                                font-weight: 600;
                                color: #8697a2;
                            }
                            span:last-child {
                                font-weight: 600;
                            }
                        }
                    }
                    .col {
                        background: #fff;
                        border-radius: 10px;
                        padding: .5rem;
                        margin: .2rem .5rem;
                        span:first-child {
                            font-weight: 600;
                            color: #8697a2;
                        }
                        span:last-child {
                            font-weight: 600;
                        }
                    }
                    
                }

            }
            .type {
                font-weight: 600;
                color: #8697a2;
            }
            .bg-primary {
                background: #0088f3!important;
                color: #fff;
            }
        }
    }
}
.game-selTab {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    background: #f3f5f6;
    border-radius: 10px;
    flex-wrap: wrap;
    div {
        width: 15%;
        display: flex;
        justify-content: space-around;
        background: #fff;
        padding: .5rem 1rem;
        border-radius: 50px;
        margin: .3rem;
        cursor: pointer;
    }

}
.search-wrapper {
    display: flex;
    justify-content: space-between;
    .search-list {
        span {
            cursor: pointer;
            color: #8697a2;
            font-weight: 600;
            &:not(:first-child) {
                margin-left: 3rem;
            }
            &.active {
                color: #fff;
                background: #ff8a00;
                border-radius: 50px;
                padding: .2rem 1.5rem .4rem 1.5rem;
            }
        }
    }
    .search-form {
        display: flex;
        justify-content: space-between;
        .dropdown {
            margin-right: 1rem;
            color: #8697a2;
            .dropdown-toggle {
                position: relative;
                border: 1px solid #c0c0c0;
                border-radius: 10px;
                text-align: center;
                height: 39px;
                

            }
            .dropdown-menu {
                overflow: auto;
                height: 150px;
                span {
                    color: #8697a2;
                }
                
                li {
                    cursor: pointer;
                    &:hover {
                        background: #e2e2e2;
                    }
                    .btnName {
                        padding: .5rem;
                    }
                }
            }
        } 
        .input-group {
            input {
                border-top-left-radius: 50px;
                border-bottom-left-radius: 50px;
                border: 1px solid #c0c0c0;
                border-right: none;
            }
            span {
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                border: 1px solid #c0c0c0;
                border-left: none;
                background: #fff;
                margin-left: -.2rem;
                color: #1b95ff;
                cursor: pointer;
                
            }
            
        }
        
    }
}
.search-result {
    max-width: 1340px;
    img {
        max-width: 100%;
        border-radius: 10px;
    }
    .topGame-list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        .topGame-img {
            position: relative;
            max-width: 192px;
            .gamePicBoxHoverBox {
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                z-index: 2;
                top: 0;
                border-radius: 10px;

                &:hover {
                z-index: 5000;
                opacity: 1;
                border: 2px solid #fff;
                background-color: rgba(0, 0, 0, 0.5);
                backdrop-filter: blur(3px);

                .intoGameBtn, .demoBtn {
                    display: block;
                    transform: translate(0%, 0);
                    animation-name: word03;
                    animation-duration: 0.3s;
                    animation-delay: 0s;
                    animation-iteration-count: 1;
                    animation-timing-function: ease-in-out;
                    animation-fill-mode: forwards;
                    color: #fff;
                    cursor: pointer;

                        @keyframes word03 {
                        0% {
                            transform: translate(0, 100%);
                            opacity: 0;
                        }

                        100% {
                            transform: translate(0, 0%);
                            opacity: 1;
                        }
                        }
                    }
                }

                .intoGameBtn {
                    display: none;
                    padding: 0px 2rem;
                    background-color: #fd3231;
                    border-radius: 10px;
                    transition: 1s;
                    transform: translate(-50%, 0);
                }
                .demoBtn {
                    display: none;
                    padding: 0px 1.7rem;
                    border-radius: 10px;
                    transition: 1s;
                    transform: translate(-50%, 0);
                    margin-top: 1rem;
                    border: 1px solid #a6b7d4;
                }
            }
        }
        .topGame-text {
            padding: 0 .5rem;
            font-size: .85rem;
            .name {
                font-weight: 700;
                font-size: 1.2rem;
            }
            .notice {
                color: #8697a2;
                cursor: pointer;
                &:hover {
                    .tips {
                        display: block;
                        }
                }
                &::after{
                    display: none;
                }
                .tips {
                    position: absolute;
                    top: 150px;
                    left: 148px;
                    background: #f3f5f6;
                    border-radius: 10px;
                    padding: 1rem 1.5rem .8rem 1.5rem;
                    width: 130%;
                    z-index: 1;
                    box-shadow: 8px 7px 5px -5px rgba(0,0,0,0.34);
                    -webkit-box-shadow: 8px 7px 5px -5px rgba(0,0,0,0.34);
                    -moz-box-shadow: 8px 7px 5px -5px rgba(0,0,0,0.34);
                    .tip-1 {
                        border-radius: 10px;
                        margin: 0 -.4rem .2rem -.4rem;
                        div {
                            background: #fff;
                            border-radius: 10px;
                            padding: .5rem;
                            width: 49%;
                            span:first-child {
                                font-weight: 600;
                                color: #8697a2;
                            }
                            span:last-child {
                                font-weight: 600;
                            }
                        }
                    }
                    .col {
                        background: #fff;
                        border-radius: 10px;
                        padding: .5rem;
                        margin: .2rem .5rem;
                        span:first-child {
                            font-weight: 600;
                            color: #8697a2;
                        }
                        span:last-child {
                            font-weight: 600;
                        }
                    }
                    
                }

            }
            .type {
                font-weight: 600;
                color: #8697a2;
            }
            .bg-primary {
                background: #0088f3!important;
                color: #fff;
            }
            
        }
    }

}

</style>