<template>
    <div class="max1470 w-100">
        <div class="max1300 mb-5">
            <banner />
        </div>
        <div class="max1420 pb-5 mb-5">
            <div class="section mb-5">
                <div class="title fs-18 mb-4">Top Games</div>
                <div class="content max1340">
                    <div class="row">
                        <div class="col-4">
                            <div class="position-relative border-radius-10 overflow-hidden">
                                <img src="@/assets/aaf/img/sport/1-1.jpg" class="w-100" alt="">
                                <a class="play-btn fs-14" href="javascript:void(0)">PLAY NOW</a>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="position-relative border-radius-10 overflow-hidden">
                                <img src="@/assets/aaf/img/sport/1-2.jpg" class="w-100" alt="">
                                <a class="play-btn fs-14" href="javascript:void(0)">PLAY NOW</a>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="position-relative border-radius-10 overflow-hidden">
                                <img src="@/assets/aaf/img/sport/1-3.jpg" class="w-100" alt="">
                                <a class="play-btn fs-14" href="javascript:void(0)">PLAY NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section py-5 mb-5">
                <div class="title fs-18 mb-4">All Games</div>
                <div class="content max1340">
                    <div class="row mx-n2">
                        <div class="col-3 px-2">
                            <a href="javascript:void(0)" class="d-block position-relative rounded overflow-hidden mb-3">
                                <img src="@/assets/aaf/img/sport/2-1.jpg" alt="">
                                <span class="tip-box position-absolute d-flex align-items-center">
                                    <img class="ml-3" src="@/assets/aaf/img/sport/2-1-logo.png" alt="">
                                    <span class="fs-18 ml-4">PONYMUAH</span>
                                </span>
                            </a>
                        </div>
                        <div class="col-3 px-2">
                            <a href="javascript:void(0)" class="d-block position-relative rounded overflow-hidden mb-3">
                                <img src="@/assets/aaf/img/sport/2-2.jpg" alt="">
                                <span class="tip-box position-absolute d-flex align-items-center">
                                    <img class="ml-3" src="@/assets/aaf/img/sport/2-2-logo.png" alt="">
                                    <span class="fs-18 ml-4">SABA</span>
                                </span>
                            </a>
                        </div>
                        <div class="col-3 px-2">
                            <a href="javascript:void(0)" class="d-block position-relative rounded overflow-hidden mb-3">
                                <img src="@/assets/aaf/img/sport/2-3.jpg" alt="">
                                <span class="tip-box position-absolute d-flex align-items-center">
                                    <img class="ml-3" src="@/assets/aaf/img/sport/2-3-logo.png" alt="">
                                    <span class="fs-18 ml-4">SBOBET</span>
                                </span>
                            </a>
                        </div>
                        <div class="col-3 px-2">
                            <a href="javascript:void(0)" class="d-block position-relative rounded overflow-hidden mb-3">
                                <img src="@/assets/aaf/img/sport/2-4.jpg" alt="">
                                <span class="tip-box position-absolute d-flex align-items-center">
                                    <img class="ml-3" src="@/assets/aaf/img/sport/2-4-logo.png" alt="">
                                    <span class="fs-18 ml-4">BTI</span>
                                </span>
                            </a>
                        </div>
                        <div class="col-3 px-2">
                            <a href="javascript:void(0)" class="d-block position-relative rounded overflow-hidden mb-3">
                                <img src="@/assets/aaf/img/sport/2-5.jpg" alt="">
                                <span class="tip-box position-absolute d-flex align-items-center">
                                    <img class="ml-3" src="@/assets/aaf/img/sport/2-5-logo.png" alt="">
                                    <span class="fs-18 ml-4">CMD 368</span>
                                </span>
                            </a>
                        </div>
                        <div class="col-3 px-2">
                            <a href="javascript:void(0)" class="d-block position-relative rounded overflow-hidden mb-3">
                                <img src="@/assets/aaf/img/sport/2-6.jpg" alt="">
                                <span class="tip-box position-absolute d-flex align-items-center">
                                    <img class="ml-3" src="@/assets/aaf/img/sport/2-6-logo.png" alt="">
                                    <span class="fs-18 ml-4">E1Sport</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script setup>
import banner from "@/components/aaf/BannerView.vue";
</script>
<style lang="scss" scoped>
img{
    max-width: 100%;
}
.max1470{
    max-width:1470px;
    margin:auto;
}
.max1420{
    max-width:1420px;
    margin: auto;
}
.max1340{
    max-width: 1340px;
    margin: auto;
}
.max1300{
    max-width: 1300px;
    margin: auto;
}
.fs-18{
    font-size: 18px;
}
.fs-14{
    font-size: 14px;
}
.border-radius-10{
    border-radius: 10px;
}
.play-btn{
    position: absolute;
    bottom: 37px;
    left: 50%;
    transform: translateX(-50%);
    display: table;
    background: linear-gradient(#ffd75e,#ffc105);
    border-radius: 10px;
    color:black;
    padding: 8px 14px;
    transition: all .3s;
    &:hover{
        color:white;
        background: linear-gradient(#ffc105,#ffd75e);
    }
}
.tip-box{
    background: rgba(0,0,0,0.65);
    height: 42px;
    left: 0;
    bottom: 0;
    width: 100%;
    color:white;
}
</style>