<template>
  <!----語言選擇----->
  <div class="pCurrencyInfo" v-if="pageTarget === 'langPage'">
    <div class="headerTop">
      {{ $t("language_setting") }}
      <img
        @click="
          pageTarget = 'homePage';
          changeLangAndGames();
        "
        src="@/assets/img/icon/icon_game_arrow_left.svg"
        class="backBtn"
      />
    </div>
    <div class="pMidBoardBg">
      <!----語文資訊----->
      <div class="pMidBoardBox">
        <a class="lang-option" v-for="(lang, index) in matchedLangs" :key="index">
          <span class="currency-check">
            <label class="radio">
              <input class="radio-input" type="radio" name="radio" :value="lang" v-model="selectedLang">
              <span class="radio-checkmark-box">
                <span class="radio-checkmark"></span>
              </span>
              <span class="nation">
                <img :src=lang.image alt="" class="lanImg">
              </span>
              <span class="nation-name">{{ lang.name }}</span>
            </label>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="phone-header__top" v-if="pageTarget === 'homePage'">
    <div class="header-top-logo">
      <img :src="logo?.imageUrl" alt="">
    </div>
      <!-- 語言選單 -->
      <a
        href="javascript:void(0)"
        class="button lan-button btnItem"
        @click="pageTarget = 'langPage'"
      >
        <img
          :src="lang.image"
          alt=""
          class="lanImg"
        />
        <div class="btnName">
          {{ lang.name }}
        </div>
        <span
          class="fa-solid fa-caret-down"
        >
          <font-awesome-icon icon="fa-solid fa-caret-right" />
        </span>
      </a>
  </div>
  <div class="phone">
    <!-- 右邊紅包懸浮按鈕 -->
    <div v-if="redPacketShow === true" ref="homePromoRedEnvelope" class="homePromo-redEnvelope" :data-bs-target="isLogin ? '#promoRed' : '#collapseTarget' " data-bs-toggle="modal">
      <div class="homePromo-btn">
        <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/home/lixi-wking.png'" alt="">
      </div>
    </div>
    <swiper class="game-slide-menu" :modules="modules" :slides-per-view="1" :loop="true" :scrollbar="false" :autoplay="{ delay: 1500 }" :speed="1000">
      <swiper-slide v-for="(homeBanner,index) in homeBanners" :key="index">
        <img :src="homeBanner.imageUrl" alt="">
      </swiper-slide>
    </swiper>
    <marquee-view />
    <div class="phone-header">
      <div v-if="!isLogin" class="sign">
        <div href="javascript:void(0)" class="login-btn" rel="tab1" data-bs-target="#collapseTarget" data-bs-toggle="modal" @click="selectTab(true)">{{ $t("login") }}</div>
        <div href="javascript:void(0)" class="register-btn" rel="tab2" data-bs-target="#collapseTarget" data-bs-toggle="modal" @click="selectTab(false)">{{ $t("registration") }}</div>
      </div>
      <div v-else class="isSigned-content">
        <div class="sign isSigned">
          <span href="javascript:void(0)" class="vip-btn"> VIP {{user.level}}</span>
          <span class="userName">{{ user.account }}</span>
        </div>
        <div class="balance">
          <span @click="walletSelectShow = true" style="flex-grow: 1;">
            <img :src="wallets[0]?.currency.img" alt="">
            <span class="amount">{{stringToMoney(wallets[0]?.balance)}}</span>
          </span>

          <span><img src="@/assets/img/icon/icon_mine_money_refresh02.svg" ref="refreshIcon" class="refreshIcon" @click="refreshWallets(refreshIcon)" alt=""></span>
        </div>
      </div>

      <div v-if="!isLogin" class="quick-funciton">
        <div class="despoit">
          <div data-bs-target="#collapseTarget" data-bs-toggle="modal" @click="selectTab(true)">
            <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/phoneHome/despoit-icon.svg'" alt=""><br>
            {{ $t("recharge") }}
          </div>
        </div>
        <div class="withdraw">
          <div data-bs-target="#collapseTarget" data-bs-toggle="modal" @click="selectTab(true)">
            <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/phoneHome/withdraw-icon.svg'" alt=""><br>
            {{ $t("withdrawal") }}
          </div>
        </div>
        <div class="checkIn">
          <div data-bs-target="#collapseTarget" data-bs-toggle="modal" @click="selectTab(true)">
            <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/phoneHome/check-icon.svg'" alt=""><br>
            {{ $t("signin") }}
          </div>
        </div>
      </div>
      <div v-else class="quick-funciton">
        <div class="despoit">
          <router-link :to="{ name: 'aaaPhoneDepositNav' }">
            <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/phoneHome/despoit-icon.svg'" alt=""><br>
            {{ $t("recharge") }}
          </router-link>
        </div>
        <div class="withdraw">
          <router-link :to="{ name: 'aaaPhoneCommonWithdraw' }">
            <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/phoneHome/withdraw-icon.svg'" alt=""><br>
            {{ $t("withdrawal") }}
          </router-link>
        </div>
        <div class="checkIn">
          <router-link :to="{ name: 'aaaPhoneVIPView' }">
            <img :src="siteSettingsInfo.managerCDNUrl + 'aaa/img/phoneHome/check-icon.svg'" alt=""><br>
            {{ $t("signin") }}
          </router-link>
        </div>
      </div>
    </div>
    <div class="phone-main" :class="homeBanners.length===0?'noBanner':''">
      <div class="d-flex align-items-start">
        <div class="nav flex me-3" :class="homeBanners.length===0?'navNoBanner':''">
          <button v-for="(phoneMenuItem, index) in phoneMenu" :key="index" class="nav-link" :class="[ gameClass === phoneMenuItem.no ? 'active' : '', phoneMenuItem.key ]" type="button" @click="selectGameClass(phoneMenuItem)">
            <img :src="navIcons[phoneMenuItem.key]" alt="">
            <span>{{ phoneMenuItem.name }}</span>
          </button>
        </div>

        <div v-if="!!selectedGameClass" class="content" :class="[homeBanners.length === 0 ? 'contentNoBanner' : '', selectedGameClass.key]">
          <div class="row">
            <div class="game-banner col-12 mb-2">
                <img :src="bannerImgs[selectedGameClass.key]" alt="">
            </div>
            <div v-for="(gameThirdParty, index) in selectedGameClass.subMenu" :key="index" class="col-6">
              <template v-if="gameThirdParty.status==0 && gameThirdParty.clickAction == 2 && isLogin">
                <router-link :to="{name:'OpenGame', query: { gameThirdPartyNo: gameThirdParty.gameThirdPartyNo }}" target="_blank">
                  <button>
                    <img class="img-simage" :src="gameThirdParty.simage" alt="">
                  </button>
                </router-link>
              </template>
              <template v-else>
                <button @click="clickGameThirdParty(gameThirdParty, '/aaa/phone/PhoneGameHall', isLoadingObj)">
                  <img class="img-simage" :src="gameThirdParty.simage" alt="">
                  <div v-if="gameThirdParty.status === 2" class="maintain-msg"><font-awesome-icon icon="fa-solid fa-screwdriver-wrench" /> <span class="d-block"> {{ $t("inMaintenance") }}</span> </div>
                </button>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <phone-wallet-select-view v-if="walletSelectShow && wallets.length > 1" @hideWalletSelect="hideWalletSelect" />

  <promo-red-envelope-view />
  <!-- 底部選單 -->
  <phone-footer-menu-view :class="{'d-none': walletSelectShow && wallets.length > 1}" />
  <!-- 加載 -->
  <loading v-model:active="isLoadingObj.value" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />
</template>


<script setup>
import { ref, reactive, watch, onBeforeMount, onMounted, computed, nextTick } from 'vue';
import { Swiper, SwiperSlide } from 'swiper/vue';
import { Navigation, Pagination, Scrollbar, A11y, EffectFade, Autoplay } from 'swiper';
import MarqueeView from '@/components/aaa/phone/PhoneMarqueeView.vue';
import PhoneFooterMenuView from '@/components/aaa/phone/PhoneFooterMenuView.vue';
import { useStore } from 'vuex';
import apiService from '@/api/apiService';
import { storeToRefs } from "pinia";
import { useGamesStore } from '@/store/game'
import common from "@/utils/common";
import Loading from 'vue-loading-overlay';
import PromoRedEnvelopeView from '@/components/aaa/PromoRedEnvelopeView.vue';
import PhoneWalletSelectView from '@/components/aaa/phone/PhoneWalletSelectView.vue'
import 'swiper/css';
import 'swiper/css/pagination';
import 'swiper/css/scrollbar'

const modules = [Navigation, Pagination, Scrollbar, A11y, EffectFade, Autoplay];
const store = useStore();
const games = useGamesStore();
const { phoneMenu } = storeToRefs(games);
const { errorHandling, stringToMoney, refreshWallets, getLogo, getPhoneBanner, selectTab, clickGameThirdParty } = common();
const homeBanners = ref([]);
const selectedGameClass = ref('');
const isLoadingObj = reactive({
  value:false
})
const gameClass = ref('');
const refreshIcon = ref(null);
const redPacketShow = ref(false);
const homePromoRedEnvelope = ref(null);
const downloadUrl = ref('');
const walletSelectShow = ref(false)
const logo = ref('');
const isLogin = computed(() => store.state.isLogin);
const user = computed(() => store.state.user);
const wallets = computed(() => store.state.wallets);
const lang = computed(() => store.state.lang);
const siteSettingsInfo = computed(() => store.state.siteSettingsInfo);

const { changeLang, getGames } = common();
const selectedLang = ref('');
const pageTarget = ref('homePage');
const matchedLangs = computed(() => store.state.matchedLangs);
const navIcons = ref({
  hot_game: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/phoneHome/navIcon/home-hotgame.png',
  lottery_game: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/phoneHome/navIcon/home-lottery.png',
  live_game: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/phoneHome/navIcon/home-livegame.png',
  electronic_games: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/phoneHome/navIcon/home-slotgame.png',
  sport_game: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/phoneHome/navIcon/home-sportgame.png',
  chess_and_board_games: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/phoneHome/navIcon/home-chess.png',
  fishing: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/phoneHome/navIcon/home-fishgame.png',
  sport_event: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/phoneHome/navIcon/home-othersport.png',
})

const bannerImgs = ref({
  hot_game: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/phoneHome/banner/banner-hotgame.jpg',
  lottery_game: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/phoneHome/banner/banner-lottery.jpg',
  live_game: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/phoneHome/banner/banner-livegame.jpg',
  electronic_games: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/phoneHome/banner/banner-slotgame.jpg',
  sport_game: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/phoneHome/banner/banner-sport.jpg',
  chess_and_board_games: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/phoneHome/banner/banner-chess.jpg',
  fishing: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/phoneHome/banner/banner-fishgame.jpg',
  sport_event: siteSettingsInfo.value.managerCDNUrl + 'aaa/img/phoneHome/banner/banner-sport_event.jpg', 
})

//選擇遊戲分類
const selectGameClass = (phoneMenuItem) => {
  selectedGameClass.value = phoneMenuItem;
  localStorage.setItem('gameClass', phoneMenuItem.no);
  gameClass.value = +(localStorage.getItem('gameClass'));
}

//判斷紅包按鈕要不要顯示，並綁定按鈕
const getRedPacketInfo = () => {
  const params = {
    sessionKey: '',
    currencyNo: +localStorage.getItem('currencyNo'),
  }
  apiService.post('/Promotion/RedPacket/Info', params)
    .then((res) => {
      redPacketShow.value = res.data.status === 1 ? false : true;
      nextTick(() => {
        if (homePromoRedEnvelope.value) {
          homePromoRedEnvelope.value.classList.add("active");
          var phonePromoRed = document.getElementById('promoRed');
          phonePromoRed.addEventListener('show.bs.modal', function () {
            homePromoRedEnvelope.value.classList.remove("active");
          })
          phonePromoRed.addEventListener('hide.bs.modal', function () {
            homePromoRedEnvelope.value.classList.add("active");
          })
        }
      })
    })
    .catch((err) => {
      errorHandling(err);
    });
}

const hideWalletSelect = () => {
  walletSelectShow.value = false
}

watch(
  //剛進網站時API抓好資料再設定好遊戲種類
  () => phoneMenu.value,
  () => {
    //防止從其他版型切到wking時，帶錯誤的gameClass
    if (localStorage.getItem('gameClass') === 'null') {
      gameClass.value = 0;
    }
    else {
      gameClass.value = +(localStorage.getItem('gameClass'));
    }

    selectedGameClass.value = phoneMenu.value[gameClass.value];
  }
);

watch(
  () => lang.value,
  async () => {
    homeBanners.value = await getPhoneBanner(0, 1);
  }
)


watch(
  () => wallets.value,
  () => {
    games.filterPhoneHeaderMenuByCurrency();
    getRedPacketInfo();
  }
)
//修改語系
const changeLangAndGames = async () => {
  changeLang(selectedLang.value)
  getGames("getPhoneGameList");
}
onBeforeMount(async () => {
  homeBanners.value = await getPhoneBanner(0, 1);
  //從別的頁面到這時，設定好遊戲種類
  gameClass.value = +(localStorage.getItem('gameClass'));
  if (phoneMenu.value.length > 0) {
    selectedGameClass.value = phoneMenu.value[gameClass.value];
  }

});

onMounted(async () => {
  getRedPacketInfo();
  selectedLang.value = lang.value
  downloadUrl.value = '/#/download?lang=' + localStorage.getItem("locale");
  logo.value = await getLogo(0, 11);
  if(localStorage.getItem('gameClass') === null){
    localStorage.setItem('gameClass',0) ;
  }
});



</script>

<style lang="scss" scoped>
.phone-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #004d3d;
  padding: 0.5rem;
  .header-top-logo {
    width: 30%;
  }
  .downLoad-app {
    background: linear-gradient(180deg, #b0dfd9 0%, #009688 100%);
    border-radius: 5px;
    padding: 0.2rem 0.6rem;
  }
}
.phone {
  background: linear-gradient(180deg, #90beb4 0%, #004d3d 100%);
  font-weight: normal;
  overflow: hidden;

  .phone-header {
    background: #004d3d;
    border-radius: 5px;
    display: flex;
    padding: 0.3rem 0rem;
    margin: 0.5rem;
    .sign {
      width: 50%;
      border-right: 1px solid #e4e5e8;
      white-space: nowrap;
      font-size: 0.6rem;
      text-align: center;
      padding-top: 20px;

      .login-btn {
        background: linear-gradient(180deg, #9d2024 0%, #231919 100%);
        border-radius: 41px;
        display: inline-block;
        min-width: 80px;
        margin-right: 5px;
        height: 24px;
      }
      .register-btn {
        border: 1px solid #f6da98;
        display: inline-block;
        border-radius: 41px;
        color: #f6da98;
        min-width: 80px;
      }
    }
    .quick-funciton {
      width: 50%;
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      font-size: 0.8rem;
      padding-top: 0.2rem;
      & > div {
        margin: 0 0.3rem;
      }
      a {
        white-space: nowrap;
      }
      img {
        width: 32px;
        height: 32px;
      }
    }
    .isSigned-content {
      width: 45%;
      border-right: 1px solid #e4e5e8;
      margin-right: 1rem;
      padding-left: 8px;
      .vip-btn {
        background: linear-gradient(180deg, #9d2024 0%, #3f0303 100%);
        border-radius: 5px;
        display: inline-block;
        width: 50px;
        font-style: italic;
        margin-right: 10px;
        font-weight: 700;
        height: 20px;
      }
      .userName {
        font-size: 14px;
      }
      .isSigned {
        border-right: none;
        padding: 0;
        font-size: 0.6rem;
      }
      .balance {
        display: flex;
        justify-content: space-between;
        background: rgba(217, 217, 217, 0.1);
        border-radius: 30px;
        padding-left: 0.3rem;
        font-size: 0.6rem;
        margin-top: 0.3rem;
        width: 95%;
        align-items: center;
        img {
          width: 18px;
          margin-bottom: 0.1rem;
          margin-right: 0.2rem;
        }
        .amount {
          margin-left: 5px;
          font-size: 14px;
        }

        .refreshIcon {
          margin-left: 5px;
          margin-top: 5px;
          width: 20px !important;

          &.motion {
            animation-name: motion01;
            animation-duration: 1s;
            animation-delay: 0s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-fill-mode: none;

            @keyframes motion01 {
              0% {
                transform: rotate(0deg);
              }

              100% {
                transform: rotate(360deg);
              }
            }
          }
        }
      }
    }
  }
  .phone-main {
    padding: 0.5rem;
    &.noBanner {
      height: calc(100vh - 205px);
    }
    .nav {
      width: 20%;
      overflow-y: auto;
      overflow-x: hidden;
      height: calc(100vh - 350px);
      padding-bottom: 4rem;
      &.navNoBanner {
        height: calc(100vh - 225px);
      }
      .nav-link {
        position: relative;
        width: 70px;
        height: 70px;
        z-index: 1;
        border-radius: 4px;
        margin-bottom: 8px;
        overflow: hidden;
        padding: 0;
        span {
          position: absolute;
          bottom: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.75);
          border-radius: 0px 0px 10px 10px;
          width: 100%;
          font-size: 0.6rem;
          color: #fff;
          pointer-events: none;
          white-space: nowrap;
          height: 20px;
          padding-top: 0.15rem;
        }
        &.active {
          color: #000;
          font-weight: 900;
          span {
            background: linear-gradient(
              180deg,
              #c0a253 0%,
              #fee799 16.67%,
              #fefefb 31.77%,
              #fee799 47.92%,
              #fee799 79.17%,
              #c0a253 98.96%
            );
            border-radius: 0px 0px 10px 10px;
            color: #000;
          }
        }
      }
    }
    .content {
      width: 80%;
      overflow-y: auto;
      overflow-x: hidden;
      height: calc(100vh - 350px);
      margin-left: 0.5rem;
      flex-grow: 1;
      padding-bottom: 70px;
      &.contentNoBanner {
        height: calc(100vh - 205px);
      }
      img{
        width: 100%;
      }
      .row {
        margin-left: -4px;
        margin-right: -4px;
        .col-6,
        .col-12 {
          padding-right: 4px;
          padding-left: 4px;
        }
      }
      button {
        display: inline-block;
        background-color: transparent;
        border-radius: 4px;
        padding: 2px;
        margin-bottom: 0.3rem;
        width: 100%;

        .maintain-msg {
          position: absolute;
          top: 0;
          left: 0;
          overflow: hidden;
          background: #00000079;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 4px;
          z-index: 3;
          flex-direction: column;
          color: #b8b8b8;
          svg {
            font-size: 1.5rem;
          }
        }
      }
      .img-simage {
        height: 115px;
        width: 100%;
      }
    }
  }
}

.homePromo-redEnvelope {
  position: fixed;
  right: 5px;
  bottom: 70px;
  z-index: 10;
  cursor: pointer;
  transform: translateX(100px);

  &.active {
    animation-name: ani;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  img {
    width: 100px;
  }
}
@keyframes ani {
  0% {
    transform: translateX(100px);
    animation-timing-function: ease-out;
  }
  20% {
    transform: translateX(0px);
    animation-timing-function: ease-in;
  }
  40% {
    transform: translateX(15px);
    animation-timing-function: ease-out;
  }
  60% {
    transform: translateX(0px);
    animation-timing-function: ease-in;
  }
  80% {
    transform: translateX(7px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0);
  }
}
.swiper-slide {
  img {
    border-radius: 10px;
  }
}

//語言選單
.btnItem {
  border-radius: 5px;
  min-width: 0 !important;
  box-shadow: none;
  background: transparent;
  .lanImg {
    padding-bottom: .13rem;
    width: 22px;
  }
  .iconBox {
    margin: 0;
  }

  .btnName {
    display: inline-block;
    margin-left: 0.2rem;
    
  }
}

/*選擇幣別 */
.pCurrencyInfo {
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;

  /*傳統充值headerTop */
  .headerTop {
    position: fixed;
    width: 100%;
    height: 78px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 1.1rem;
    z-index: 10;
    padding: 23px 0 0 0;

    .backBtn {
      position: absolute;
      left: 18px;
      height: 40px;
      width: 40px;
      //background-color: #009688;
      padding: 0 30px 0 0;

      & img {
        max-width: 10px;
        width: 10px;
      }
    }
  }

  .pMidBoardBg {
    width: 100vw;
    padding: 10px 0px 180px 0px;
    height: calc(100vh - 55px);
    background-color: rgba(0, 0, 0, 0.5);
    background-color: #f5f5f5;
    //background-color: rgba(172, 41, 41, 1);
    margin: 78px 0 0 0;
    overflow-y: auto;
  }

  /*白色區塊CSS */
  .pMidBoardBox {
    position: relative;
    display: block;
    width: calc(100vw - 20px);
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    color: #000;
    margin: 0px 10px 10px 10px;

    &.type02 {
      padding: 0 0 10px 0;
    }

    /*充值方式選項內容清單BTN */
    .pWithdrawBarBox {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      //background-color: #803030;
      padding: 10px;
      border-bottom: 1px solid #d9d9d9;

      .infoTextBox {
        display: block;
        width: calc(100% - 41px);
        margin: 0 5px 0 10px;
        //background-color: #a33069;

        .infoText01 {
          display: flex;
          justify-content: left;
          font-size: 0.9rem;
          font-weight: 700;
          line-height: 1.1rem;
          color: #000;

          .infoText01TagBox {
            display: flex;
            align-items: center;
            font-size: 0.6rem;
            font-weight: 400;
            line-height: 0.8rem;
            color: #6f6f6f;
            padding: 2px 5px;
            margin: 0 5px 0 0;
            border: 1;
            border: 1px solid #b83830;
            border-radius: 3px;
            box-sizing: border-box;
            white-space: nowrap;
          }
        }

        .infoText02 {
          margin: 3px 0 0 0;
          font-size: 0.6rem;
          font-weight: 400;
          line-height: 0.7rem;
          color: #6f6f6f;
          //background-color: #2DCD6C;
        }
      }

      .iconBox {
        display: flex;
        align-items: center;
        //background-color: #2DCD6C;
        width: 36px;

        & img {
          width: 100%;
          height: auto;
          max-height: 36px;
        }
      }
    }

    /*充值方式選項內容清單QRCODE */
    .qrcodeBlock {
      display: block;
      width: calc(100% - 20px);
      margin: 10px 10px 0 10px;
      //background-color: #B83830;

      .box01 {
        display: flex;
        justify-content: left;
        font-size: 0.9rem;
        line-height: 1rem;
        padding: 10px 0;

        .textAccount {
          margin: 0 0 0 10px;
        }
      }

      // QRcode欄位
      .box02 {
        margin: 10px 0 10px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .imgBox {
          width: 120px;

          & img {
            width: 100%;
            height: auto;
          }
        }

        .text {
          width: 100%;
          text-align: center;
          line-height: 1.2rem;
          margin: 5px;
        }
      }

      // 備註黑色文字欄位
      .box03 {
        font-size: 0.9rem;
        line-height: 1rem;
        padding: 10px 0;
      }

      // 一般欄位
      .box04 {
        display: flex;
        justify-content: left;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        font-size: 0.9rem;
        line-height: 1rem;
        padding: 10px 0;
        //background-color: #009688;

        .textAccountTitle {
          width: 18%;
          display: flex;
          justify-content: left;
          //background-color: #B83830;
        }

        .textAccountName {
          display: flex;
          justify-content: left;
          width: calc(82% - 28px);
        }

        .textCopyIcon {
          display: flex;
          justify-content: left;
          width: 28px;
          //background-color: #B83830;
        }
      }
    }

    .bottomLine {
      border-bottom: 1px solid #d9d9d9;
    }
  }
  .pBoardTitle {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 700;
    width: 100%;
    padding: 10px 0;
  }

  .pBoardCurrencyBlock {
    width: 100%;
    margin: 10px 0 0 0;
    //background: #004D3D;

    .pBoardInputBox {
      position: relative;
      width: 100%;
      margin: 12px 0 0 0;
      //background-color: #009685;
      border-bottom: 1px solid #d9d9d9;
      padding: 5px 0 20px 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      &.noBottomLine {
        border-bottom: none;
      }

      .leftBox {
        display: flex;
        align-items: center;
        justify-content: left;

        .bar01Check {
          width: 20px;
          margin: 0 20px 0 10px;

          & img {
            width: 100%;
            height: auto;
          }
        }

        .bar02CoinIcon {
          width: 32px;
          margin: 0 10px 0 0;

          & img {
            width: 100%;
            height: auto;
          }
        }

        .bar03Text {
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          margin: 0 10px 0 0px;
          color: #000000;
        }

        .bar04Text {
          font-weight: 600;
          font-size: 12px;
          line-height: 17px;
          color: #6f6f6f;
        }
      }

      .pBoardInput {
        width: 100%;
        border: none;
        color: #000000;
        font-size: 1rem;
        line-height: 1.1rem;
        //background-color: #30b864;

        &::placeholder {
          color: #b8b8b8;
        }
      }

      .coinBox {
        display: flex;
        justify-content: right;
        font-style: normal;
        font-weight: 400;
        font-size: 0.8rem;
        line-height: 1.1rem;
        //background-color: #004D3D;
        margin: 1px 0 0 0;
      }
    }

    &.type02 {
      display: flex;
      justify-content: left;
      width: 100%;
      flex-wrap: wrap;

      .moneyItem {
        width: calc(25% - 10px);
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #b8b8b8;
        border-radius: 5px;
        font-size: 1rem;
        line-height: 1rem;
        padding: 10px 15px;
        margin: 5px 5px;

        &.selected {
          color: #fff;
          background-image: linear-gradient(180deg, #009685 0%, #004d3d 99.48%);
        }
      }
    }
  }

  .bottomRemarkTextBox {
    margin: 5px 20px 0 20px;
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 0.7rem;
    line-height: 1rem;
    font-weight: 400;
    color: #9d9b98;

    .remarkIcon {
      min-width: 15px;
      margin: 0 5px 0 0;
    }
  }

  .bottomRemarkText {
    margin: 5px 0 0 0;
    font-size: 11px;
    line-height: 0.8rem;
    font-weight: 400;
    color: #b8b8b8;

    &.type02 {
      color: #e60013;
    }

    &.type03 {
    }
  }
  .lang-option {
    background: #fff;
    display: flex;
    align-items: center;
    margin: 1rem 0;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 1rem;
    span {
      margin: 0 0.2rem;
    }
    .nation-name {
      color: #000;
    }
    .radio {
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
      user-select: none;
      margin-bottom: 0;

      &:hover {
        .checkbox-checkmark {
          border: 2px solid #009688;
        }
      }
    }

    .radio-input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked ~ .radio-checkmark-box {
        .radio-checkmark {
          &:after {
            display: block;
          }
        }
      }

      &:checked ~ .radio-checkmark-box {
        .radio-checkmark {
          background-color: #fff;
          border: 2px solid #009688;
        }
      }

      &:disabled ~ .radio-checkmark-box {
        .radio-checkmark {
          border: 2px solid #b0b0b0;
          cursor: not-allowed;
        }
      }

      &:disabled {
        &:checked ~ .radio-checkmark-box {
          .radio-checkmark {
            background-color: #b0b0b0;
          }
        }
      }
    }

    .radio-checkmark-box {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid transparent;
      border-radius: 50%;
    }

    .radio-checkmark {
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1.5px solid #58a55a;
      border-radius: 50%;
      cursor: pointer;

      &:after {
        content: '';
        display: none;
        background: url("data:image/svg+xml,%3Csvg width='6' height='4' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.8866 9.91722L0.0873348 5.36761C0.0596566 5.34137 0.037692 5.31018 0.0227039 5.27582C0.00771585 5.24146 0 5.20461 0 5.1674C0 5.13019 0.00771585 5.09335 0.0227039 5.05899C0.037692 5.02463 0.0596566 4.99343 0.0873348 4.96719L1.29893 3.81086C1.41471 3.70049 1.60183 3.70049 1.71761 3.81086L4.87718 6.80501C4.99296 6.91538 5.18143 6.91409 5.2972 6.80372L12.2787 0.0839022C12.3945 -0.0277526 12.5829 -0.0277526 12.7001 0.0826188L13.913 1.23895C14.0288 1.34932 14.0288 1.52771 13.9143 1.63809L6.30821 8.95468L6.30956 8.95597L5.30662 9.91722C5.19085 10.0276 5.00238 10.0276 4.8866 9.91722Z' fill='%23009688'/%3E%3C/svg%3E%0A")
          no-repeat center;
        width: 14px;
        height: 12px;
        background-size: contain;
      }
    }
    img {
      width: 30px;
    }
  }
}
</style>
