#promoRed.modal.scrollbar {
    overflow: hidden;
}
#promoRed .modal-dialog {
    min-height: auto;
    margin: 0;
    pointer-events: none;
}
#promoRed .modal-content{
    pointer-events: none;
}
#promoRed .modal-body {
    position: relative;
    height: 100vh; 
    pointer-events: none;
}

    *{margin: 0px}
    img{vertical-align: middle}



    #promoRed .moneybox{
        position: relative;
        width: 100%;
        height: 100%;
        background: #000000c5;
    }
    #promoRed .redBag {
        position: absolute;
        z-index: 99;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 250px;
        width: 100%;
        pointer-events: all;
    }
    #promoRed .btn-close {
        position: absolute;
        right: -43px;
        top: -40px;
        z-index: 999;
        background: none;
        color: #fff;
        font-size: 3rem;
        pointer-events: all;
    }
    .btn-close img{
		width: 40px;
		height: 40px;
	}

    #promoRed #leafContainer {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }
    

    #promoRed #leafContainer > div.bgRed {
        position: absolute;
        -webkit-animation-iteration-count: infinite, infinite;
        -webkit-animation-direction: normal, normal;
        -webkit-animation-timing-function: linear, ease-in;
    }
    #promoRed #leafContainer > div.bgRed > img {
        position: absolute;
        max-width: 50px;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-transform-origin: 50% -100%;
    }
    .notClaim{
        pointer-events: none;
    }

    @keyframes fade {
        0% {
        opacity: 1;
        }
        95% {
        opacity: 1;
        }
        100% {
        opacity: 0;
        }
    }    
    @-webkit-keyframes fade {
        0% {
        opacity: 1;
        }
        95% {
        opacity: 1;
        }
        100% {
        opacity: 0;
        }
    }
    @keyframes drop {
        0% {
        -webkit-transform: translate(0px, -50px);
        }
        100% {
            
        -webkit-transform: translate(0px, 1000px); /* 紅包掉落高度設定*/
        }
    }
    @-webkit-keyframes drop {
        0% {
        -webkit-transform: translate(0px, -50px);
        }
        100% {
            
        -webkit-transform: translate(0px, 1000px); /* 紅包掉落高度設定*/
        }
    }
    @keyframes clockwiseSpin {
        0% {
        -webkit-transform: rotate(-50deg);
        }
        100% {
        -webkit-transform: rotate(50deg);
        }
    }
    @-webkit-keyframes clockwiseSpin {
        0% {
        -webkit-transform: rotate(-50deg);
        }
        100% {
        -webkit-transform: rotate(50deg);
        }
    }
    @keyframes counterclockwiseSpinAndFlip {
        0% {
        -webkit-transform: scale(-1, 1) rotate(50deg);
        }
        100% {
        -webkit-transform: scale(-1, 1) rotate(-50deg);
        }
    }
    @-webkit-keyframes counterclockwiseSpinAndFlip {
        0% {
        -webkit-transform: scale(-1, 1) rotate(50deg);
        }
        100% {
        -webkit-transform: scale(-1, 1) rotate(-50deg);
        }
    }