<template>
  <!-- 登入註冊表單 -->
  <div id="collapseTarget" class="modal collapse fade scrollbar " tabindex="-1" ref="myModal">
    <div class="modal-dialog">
      <div id="bg-video" class="modal-content type02">
        <div class="modal-header justify-content-center pb-2">
          <img :src="logo?.imageUrl" alt="">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><font-awesome-icon icon="fa-solid fa-xmark" /></button>
        </div>
        <div class="modal-body">
          <div v-if="loginAndRegister" class="w-100">
            <!-- 登入 -->
            <div id="tab2" class="container sign-container" v-show="showLoginTab">
              <div class="tab-slider--container login-slider">
                <!-- 登入 -->
                <div class="tab-slider--nav d-flex justify-content-center mb-2">
                  <template v-if="!siteSettingsInfo.isTelLogin">
                    <ul class="tab-slider--tabs tab-slider" :class="[selectSignTab ? 'slide' : '']">
                      <li class="tab-slider--trigger">{{ $t("account_login") }}</li>
                    </ul>
                  </template>
                  <template v-else>
                    <ul class="tab-slider--tabs" :class="[selectSignTab ? 'slide' : '']">
                      <li class="tab-slider--trigger" :class="[!selectSignTab ? 'selected' : '']" @click="clickSignTab(false)">{{ $t("account_login") }}</li>
                      <li class="tab-slider--trigger" :class="[selectSignTab ? 'selected' : '']" @click="clickSignTab(true)">{{ $t("phone_number_login") }}</li>
                    </ul>
                  </template>
                </div>
                <!-- 用戶名登入 -->
                <div class="tab-slider--body" v-show="!selectSignTab">
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="userAccount" role="tabpanel" aria-labelledby="userAccount-tab">
                      <form action="">
                        <div class="mb-3">
                          <input type="text" class="form-control" :placeholder="$t('please_enter_member_account')" v-model="userLoginReq.account" maxlength="12">
                        </div>
                        <div class="mb-1">
                          <input type="password" class="form-control verification" :placeholder="$t('pls_enter_password')" maxlength="20" :aria-label="$t('pls_enter_password')" aria-describedby="button-addon2" v-model="tempPassword" v-on:keyup.enter="userLogin('userAccount')" autocomplete="off">
                        </div>
                        <div class="loginPasswordBox">
                          <div class="declaration round">
                            <label class="checkbox">
                              <input type="checkbox" class="checkbox__input"  v-model="rememberPassword"/>
                              <span class="checkbox__inner"></span>
                              <span class="remPaw">{{ $t("remember_password") }}</span>
                            </label>
                          </div>
                          <div class="mb-0">
                            <a :href="siteSettingsInfo.customerServiceUrl" target="_blank">
                              <img src="@/assets/aag/img/phoneHome/phnone-forgetPwIcon.svg" alt="" class="forgetPw-icon">
                              <span class="forgetPwd" for="exampleCheck1">
                                {{ $t("forgetThePassword") }}?
                              </span>
                            </a>
                          </div>
                        </div>
                        <button type="button" class="btn btn-primary w-100 mt-3 mb-3" @click="userLogin('userAccount')" :disabled="userLoginReq.account.length <= 0 || tempPassword.length <= 0">{{ $t("login") }}</button>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- 電話登入 -->
                <div class="tab-slider--body" v-if="siteSettingsInfo.isTelLogin" v-show="selectSignTab">
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="userAccount" role="tabpanel" aria-labelledby="userAccount-tab">
                      <div>
                        <div class="mb-3">
                          <MazPhoneNumberInput v-if="countryCodeList.length > 0" :only-countries="countryCodeList" :default-country-code="siteSettingsInfo.countryCode" show-code-on-list @update="updatePhoneDataForTelLogin($event)" :success="userTelLoginReq.phoneIsValid"/>
                        </div>	
                        <div class="input-group mb-5">
                          <input type="text" class="form-control verification" :placeholder="$t('please_enter_verification_code')" v-model="userTelLoginReq.verifyCode">
                          <button class="btn btn-outline-secondary" type="button" @click="postVerifyCodeForTelLogin" :disabled="isVerifyCodeSendForTelLogin">{{ $t('send_verify_code') }}</button>
                        </div>
                      </div>


                      <button type="button" class="btn btn-primary w-100 mt-3 mb-3" @click="userLogin('userPhone')" :disabled="!userTelLoginReq.phoneIsValid || userTelLoginReq.verifyCode === ''">{{ $t("login") }}</button>
                    </div>
                  </div>
                </div>
                <div class="tab-switchRight" @click="selectTab(false)">
                  <img src="@/assets/aag/img/phoneHome/phnone-registerIcon.svg" alt="">
                  {{ $t('registration') }}
                </div>
                <!-- TODO -->
                <!-- <GoogleLogin class="w-100" :callback="googleLogin" popup-type="TOKEN">
                  <button class="d-flex align-items-center justify-content-center w-100" style="background: #EEEEEE; padding:10px 16px">
                    <svg width="18" height="18" viewBox="0 0 256 262" xmlns="http://www.w3.org/2000/svg" class="d4 d5" preserveAspectRatio="xMidYMid"><path d="M255.9 133.5c0-10.8-.9-18.6-2.8-26.7H130.6v48.4h71.9a63.8 63.8 0 01-26.7 42.4l-.2 1.6 38.7 30 2.7.3c24.7-22.8 38.9-56.3 38.9-96" fill="#4285F4"></path><path d="M130.6 261.1c35.2 0 64.8-11.6 86.4-31.6l-41.2-32c-11 7.8-25.8 13.1-45.2 13.1a78.6 78.6 0 01-74.3-54.2l-1.5.1-40.3 31.2-.6 1.5C35.4 231.8 79.5 261 130.6 261" fill="#34A853"></path><path d="M56.3 156.4a80.4 80.4 0 01-.2-51.7V103L15.3 71.3l-1.4.6a130.7 130.7 0 000 117.3l42.4-32.8" fill="#FBBC05"></path><path d="M130.6 50.5c24.5 0 41 10.6 50.4 19.4L218 34C195.2 13 165.8 0 130.6 0 79.5 0 35.4 29.3 13.9 72l42.2 32.7a79 79 0 0174.4-54.2" fill="#EB4335"></path></svg>
                    <span class="ml-2">Google</span>
                  </button>
                </GoogleLogin> -->
              </div>
            </div>
            <!-- 註冊 -->
            <div class="container register-container" v-show="!showLoginTab">
              <div class="tab-slider--container register-slider">
                <!-- 註冊 -->
                <div id="tab1" class="tab-slider--body">
                  <form action="">
                    <div class="tab-slider--nav d-flex justify-content-center mb-2">
                      <ul class="tab-slider--tabs register-slider-tabs">
                        <li class="tab-slider--trigger">{{ $t("registration") }}</li>
                      </ul>
                    </div>
                    <div class="mb-3">
                      <input type="text" class="form-control" :placeholder="$t('please_enter_member_account')" v-model="userRegisterReq.account" maxlength="12">
                      <span v-show="userRegisterError.account" style="color: red">{{ userRegisterError.account }}</span>
                    </div>
                    <!-- Chrome 自動帶入假的帳密輸入框 -->
                    <input type="text" style="padding: 0;margin: 0;border:0; display: flex; width: 0px; height: 0px;" autocomplete="off">
                    <input type="password" style="padding: 0;margin: 0;border:0; display: flex; width: 0px; height: 0px;" autocomplete="off">

                    <div class="mb-3">
                      <input type="password" class="form-control" :placeholder="$t('pls_enter_password')" v-model="registerPassword" autocomplete="off" maxlength="20">
                      <span v-show="userRegisterError.password" style="color: red">{{ userRegisterError.password }}</span>
                    </div>
                    <div class="mb-3">
                      <input type="password" class="form-control" :placeholder="$t('pls_enter_password_again')" v-model="confirmPassword" autocomplete="off" maxlength="20">
                      <span v-show="userRegisterError.confirmPassword" style="color: red">{{userRegisterError.confirmPassword }}</span>
                    </div>
                    <div class="mb-3">
                      <input type="text" class="form-control" :placeholder="$t('recommendCode')" v-model="userRegisterReq.recommendCode" :disabled="RecommendCodeInject">
                    </div>
                    <div class="d-flex">
                      <div class="mb-3 w-100" v-if="siteSettingsInfo.isTelRegister || siteSettingsInfo.isRegisterTelRequired">
                        <MazPhoneNumberInput v-if="countryCodeList.length > 0" :only-countries="countryCodeList" :default-country-code="siteSettingsInfo.countryCode" show-code-on-list @update="updatePhoneData($event)" :success="userRegisterReq.phoneIsValid" />
                        <span v-if="userRegisterError.phoneIsValid" style="color: red">{{ userRegisterError.phoneIsValid }}</span>
                      </div>
                    </div>
                    <div class="mb-3" v-if="siteSettingsInfo.isTelRegister">
                      <div class="input-group">
                        <input type="text" class="form-control verification" :placeholder="$t('please_enter_verification_code')" v-model="userRegisterReq.verifyCode">
                        <button class="btn btn-outline-secondary" type="button" @click="postVerifyCode" :disabled="isVerifyCodeSend">{{ $t('send_verify_code') }}</button>
                      </div>
                      <span v-show="userRegisterError.verifyCode" style="color: red">{{ userRegisterError.verifyCode }}</span>
                    </div>
                    <div class="mb-3" v-if="siteSettingsInfo.isRegisterEmailRequired">
                      <input type="text" class="form-control" :placeholder="$t('email')" v-model="userRegisterReq.email">
                      <span v-show="userRegisterError.email" style="color: red">{{userRegisterError.email }}</span>
                    </div>
                    <div class="mb-3" v-if="siteSettingsInfo.isRegisterRealNameRequired">
                      <input type="text" class="form-control" :placeholder="$t('realName')" v-model="userRegisterReq.realName">
                      <span v-show="userRegisterError.realName" style="color: red">{{userRegisterError.realName }}</span>
                    </div>
                    <button type="button" class="btn btn-primary w-100 mb-3 mt-3" @click="userRegister()" :disabled="userRegisterReq.account.length <= 0 || registerPassword.length <= 0 || confirmPassword.length <= 0">{{$t('registration') }}</button>
                  </form>
                </div>
                <div class="tab-switchLeft" @click="selectTab(true)">
                  <img src="@/assets/aaa/img/phoneHome/phnone-registerIcon.svg" alt="">
                  {{ $t('login') }}
                </div>
                <!-- TODO -->
                <!-- <GoogleLogin class="w-100" :callback="googleLogin" popup-type="TOKEN">
                  <button class="d-flex align-items-center justify-content-center w-100" style="background: #EEEEEE; padding:10px 16px">
                    <svg width="18" height="18" viewBox="0 0 256 262" xmlns="http://www.w3.org/2000/svg" class="d4 d5" preserveAspectRatio="xMidYMid"><path d="M255.9 133.5c0-10.8-.9-18.6-2.8-26.7H130.6v48.4h71.9a63.8 63.8 0 01-26.7 42.4l-.2 1.6 38.7 30 2.7.3c24.7-22.8 38.9-56.3 38.9-96" fill="#4285F4"></path><path d="M130.6 261.1c35.2 0 64.8-11.6 86.4-31.6l-41.2-32c-11 7.8-25.8 13.1-45.2 13.1a78.6 78.6 0 01-74.3-54.2l-1.5.1-40.3 31.2-.6 1.5C35.4 231.8 79.5 261 130.6 261" fill="#34A853"></path><path d="M56.3 156.4a80.4 80.4 0 01-.2-51.7V103L15.3 71.3l-1.4.6a130.7 130.7 0 000 117.3l42.4-32.8" fill="#FBBC05"></path><path d="M130.6 50.5c24.5 0 41 10.6 50.4 19.4L218 34C195.2 13 165.8 0 130.6 0 79.5 0 35.4 29.3 13.9 72l42.2 32.7a79 79 0 0174.4-54.2" fill="#EB4335"></path></svg>
                    <span class="ml-2">Google</span>
                  </button>
                </GoogleLogin>  -->
              </div>
            </div>
          </div>
          <div v-else class="recommendCode-box container w-100">
            <div class="tab-slider--container">
              <div class="tab-slider--body">
                <span class="title d-table mx-auto mb-2">{{ $t("registration") }}</span>
                <form action="" class="pb-4">
                  <div class="form-div mb-4">
                    <input type="text" class="form-control" :placeholder="$t('recommendCode')" v-model="userRegisterReq.recommendCode">
                    <span v-show="userRegisterError.recommendCode" style="color: red">{{userRegisterError.recommendCode }}</span>
                  </div>
                  <button type="button" class="btn btn-primary w-100" @click="googleRegister()" >{{$t('registration') }}</button>
                </form>
                <div class="btn btn-secondary w-100" @click="loginAndRegister = true">{{ $t('cancel') }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="footerFun d-flex justify-content-between">
            <span class="closeModal" data-bs-dismiss="modal">{{ $t("goToHomePage") }}</span>
            <a :href="siteSettingsInfo.customerServiceUrl" class="onlineService" target="_blank">
              <img src="@/assets/aag/img/common/online-serIcon.svg" alt="">
              <span>{{ $t("customer_service") }}</span>
            </a>
          </div>
          <!-- 語言選單 背景遮罩-->
          <div class="lang-mask" :class="showPopup ? 'show-popup' : ''" @click="showPopup = false"></div>
          <!-- 語言選單 -->
          <a href="javascript:void(0)" class="button lan-button btnItem" :class="showPopup ? 'show-popup' : ''" @click="showPopup = !showPopup">
            <img :src="lang.image" alt="" class="lanImg">
            <div class="btnName">{{ lang.name }}</div>
            <span class="fa-solid fa-caret-down"><font-awesome-icon icon="fa-solid fa-caret-down" /></span>
            <div class="subLanMenu">
              <a class="lang-option" v-for="lang in matchedLangs" :key="lang" @click="changeLangAndGames(lang)">
                <img :src=lang.image alt="" class="lanImg">
                <div class="btnName">{{ lang.name }}</div>
              </a>
              <span class="subLanMenu-close">
                <font-awesome-icon icon="fa-solid fa-xmark" />
              </span>
            </div>
          </a>
          <p class="title text-center mt-4">{{ $t("sponsorship_partner") }}</p>
          <div class="partner-logo d-flex justify-content-between align-items-center mb-3">
            <span>
              <img src="@/assets/img/register/ag-egame1.png" alt="">
              <span class="text">AG</span>
            </span>
            <span>
              <img src="@/assets/img/register/jdb-egame.png" alt="">
              <span class="text">JDB</span>
            </span>
            <span>
              <img src="@/assets/img/register/bbin-egame.png" alt="">
              <span class="text">BBIN</span>
            </span>
            <span>
              <img src="@/assets/img/register/cq9-egame.png" alt="">
              <span class="text">CQ9</span>
            </span>
            <span>
              <img src="@/assets/img/register/mg-egame.png" alt="">
              <span class="text">MG</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 加載 -->
  <loading v-model:active="isLoading" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />
</template>

<script >

export class UserRegisterReq {
  account = '';
  password = '';
  recommendCode = '';
  deviceType = 3;// 裝置(0=App-IOS, 1=PC, 2=App-Android, 3=H5)
  phoneCountryCode = '';
  phoneNumber = '';
  verifyCode = '';
  email = '';
  realName = '';
  domain = '';
  DomainLayoutId = '';
}

export class RegisterError {
  account = '';
  password = '';
  confirmPassword = '';
  phoneIsValid = '';
  verifyCode = '';
  email = '';
  realName = ''
}

export class UserLoginReq {
  account = '';   // 帳號
  password = '';  // 密碼
  deviceType = 0; // 裝置 0=app,1=web
  DomainLayoutId = '';
}

export class UserTelLoginReq {
	phoneCountryCode = '';   //國碼
	phoneNumber = '';  // 電話
	phoneIsValid = '';
	deviceType = 0; // 裝置 0=app,1=web
	verifyCode = '';
  DomainLayoutId = '';
}
</script>

<script setup>
import { ref, reactive, onMounted, computed } from 'vue';
import Loading from 'vue-loading-overlay';
import md5 from 'js-md5';
import { Modal } from 'bootstrap';
import apiService from '@/api/apiService'
import { useI18n } from "vue-i18n";
import Swal from "sweetalert2";
import { useStore } from "vuex"
import common from "@/utils/common";
import MazPhoneNumberInput from 'maz-ui/components/MazPhoneNumberInput';
import 'maz-ui/css/main.css'
import CryptoJS from 'crypto-js';

const { t } = useI18n();
const isLoading = ref(false);
const tempPassword = ref('');
const registerPassword = ref('');
const confirmPassword = ref('');
const RecommendCodeInject = ref(false);
const userRegisterReq = reactive(new UserRegisterReq());
const userRegisterError = reactive(new RegisterError());
const userLoginReq = reactive(new UserLoginReq());
const userTelLoginReq = reactive(new UserTelLoginReq());
const store = useStore();
const isVerifyCodeSend = ref(false);
const isVerifyCodeSendForTelLogin = ref(false);
const showPopup = ref(false);
const { getUserInfo, errorHandling, getLogo, changeLang, getGames, getCountryCodeList, selectTab } = common();
const phoneResults = ref('');
const phoneResultsForTelLogin = ref('');
const selectSignTab = ref(false);
const rememberPassword = ref(false)
const logo = ref('');
const countryCodeList = ref([]);
var encryptionKey = "myEncryptionKey";
const googleToken = ref(null);
const loginAndRegister = ref(true);
const siteSettingsInfo = computed(() => store.state.siteSettingsInfo);
const DomainLayoutId = computed(() => store.state.DomainLayoutId);
const lang = computed(() => store.state.lang);
const matchedLangs = computed(() => store.state.matchedLangs);
// 加密字串
const encryptString = text => {
	var encryptedText = CryptoJS.AES.encrypt(text, encryptionKey).toString();
	return encryptedText;
}

// 解密字串
const decryptString = encryptedText => {
	var decryptedText = CryptoJS.AES.decrypt(encryptedText, encryptionKey).toString(CryptoJS.enc.Utf8);
	return decryptedText;
}

// 使用者登入
const userLogin = (loginMethod) => {
	let params;
	if(loginMethod === 'userAccount'){
		if (userLoginReq.account.length <= 0 || tempPassword.value.length <= 0)
		return;

		userLoginReq.password = md5(tempPassword.value);
    userLoginReq.DomainLayoutId = DomainLayoutId.value
		params = userLoginReq
	}
	else if(loginMethod === 'userPhone'){
		if(!userTelLoginReq.phoneIsValid || userTelLoginReq.verifyCode === '')
		return;
    rememberPassword.value = false;
		//userTelLoginReq.phoneNumber 送出前格式0911 111 111 要把空格拿掉
		userTelLoginReq.phoneNumber = userTelLoginReq.phoneNumber.replace(/\s/g, "");
		userTelLoginReq.DomainLayoutId = DomainLayoutId.value
    params = userTelLoginReq
	}
  
  isLoading.value = true;
  apiService.post('/User/Login', params).then(async (res) => {
    localStorage.setItem('sessionKey', res.data.sessionKey),
    await getUserInfo();

		if(rememberPassword.value){
			localStorage.setItem("account", userLoginReq.account);
			localStorage.setItem("password", encryptString(tempPassword.value));
      //密碼需要寫入store，當登出時localStorage會清空，再把store內的password寫回localStorage
			store.dispatch('setUserPassword', encryptString(tempPassword.value));
		}
		else{
			localStorage.removeItem('account');
			localStorage.removeItem('password');
			store.dispatch('setPasswordEmpty')
		}
    resetData();

    Modal.getInstance("#collapseTarget")?.hide();

  }).catch((err) => {
    if (err.response == null || err.response.status == null) {
      Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
    } else {
      switch (err.response.status) {
        case 401: // 帳號或密碼錯誤
          Swal.fire("", t("accountOrPasswordIncorrect"), "error");
          break;
        case 404: // 維護中
          Swal.fire("", t("sportApiThirdPartyCode_systemMaintenanceAPIIntegrationFile"), "warning");
          break;
        case 452: // 登入已遭封鎖，輸入錯誤密碼次數過多
          Swal.fire("", t("login_blocked"), "warning");
          break;
        case 454: // 驗證碼輸入錯誤
          Swal.fire("", t("incorrect_verification_code"), "error");
          break;
        case 455: // 無效的驗證碼
          Swal.fire("", t("invalid_captcha"), "warning");
          break;
        default:
          errorHandling(err);
          break;
      }
    }
  }).finally(() => {
    isLoading.value = false;
  });
}

//更改登入電話資料
const updatePhoneDataForTelLogin = $event => {
	phoneResultsForTelLogin.value = $event;
	userTelLoginReq.phoneCountryCode = $event.countryCallingCode;
	userTelLoginReq.phoneNumber = $event.formatNational;
	userTelLoginReq.phoneIsValid = phoneResultsForTelLogin.value.isValid
}

//更改註冊電話資料
const updatePhoneData = $event => {
  phoneResults.value = $event;
  userRegisterReq.phoneCountryCode = $event.countryCallingCode;
  userRegisterReq.phoneNumber = $event.formatNational;
  userRegisterReq.phoneIsValid = phoneResults.value.isValid
}

//發送手機驗證碼(註冊用)
const postVerifyCode = () => {
  userRegisterError.phoneIsValid = '';
  if (!userRegisterReq.phoneIsValid) {
    userRegisterError.phoneIsValid = t('plz_enter_phone_number');
    return
  }

  isVerifyCodeSend.value = true;
  isLoading.value = true;
  const params = {
    phoneCountryCode: userRegisterReq.phoneCountryCode,
    phoneNumber: userRegisterReq.phoneNumber.replace(/\s/g, ""),
    lang: localStorage.getItem('locale'),
    DomainLayoutId: DomainLayoutId.value
  }
  apiService.post('/User/PhoneVerifyCode/Register', params)
    .then(() => {
      Swal.fire("", t("verification_code_sent_to_mobile"), "success");
    })
    .catch((err) => {
      if (err.response == null || err.response.status == null) {
        Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
      } else {
        switch (err.response.status) {
          case 403: // 沒有開放手機註冊功能
            Swal.fire("", t("no_phone_registration"), "warning");
            break;
          case 452: // 該電話號碼已註冊
            Swal.fire("", t("phone_already_registered"), "warning");
            break;
          case 453: // 頻繁發送，請稍後在試
            Swal.fire("", t("frequent_sending_please_try_again_later"), "warning");
            break;
          case 454: // 發送失敗，請稍後在試
            Swal.fire("", t("failed_to_send_plz_try_again_later"), "warning");
            break;
          default:
            errorHandling(err);
            isVerifyCodeSend.value = false;
            break;
        }
      }
    }).finally(() => {
      isLoading.value = false;
    });
}

//發送手機驗證碼(登入用)
const postVerifyCodeForTelLogin = () => {
	if (!userTelLoginReq.phoneIsValid) {
		Swal.fire("", t("plz_enter_phone_number"), "warning");
		return
	}

	isVerifyCodeSendForTelLogin.value = true;
	isLoading.value = true;
	const params = {
		phoneCountryCode: userTelLoginReq.phoneCountryCode,
		phoneNumber: userTelLoginReq.phoneNumber.replace(/\s/g, ""),
		lang: localStorage.getItem('locale'),
    DomainLayoutId: DomainLayoutId.value
	}
	apiService.post('/User/PhoneVerifyCode/Login', params)
		.then(() => {
			Swal.fire("", t("verification_code_sent_to_mobile"), "success");
		})
		.catch((err) => {
			if (err.response == null || err.response.status == null) {
				Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
			} else {
				switch (err.response.status) {
					case 403: // 沒有開放手機登入功能
						Swal.fire("", t("mobile_phone_login_function_is_not_available"), "warning");
						break;
					case 452: // 該電話號碼尚未註冊
						Swal.fire("", t("this_phone_number_is_not_registered"), "warning");
						break;
					case 453: // 頻繁發送，請稍後在試
						Swal.fire("", t("frequent_sending_please_try_again_later"), "warning");
						break;
					case 454: // 發送失敗，請稍後在試
						Swal.fire("", t("failed_to_send_plz_try_again_later"), "warning");
						break;
					default:
						errorHandling(err);
						isVerifyCodeSend.value = false;
						break;
				}
			}
		}).finally(() => {
			isLoading.value = false;
		});
}


// 取得站台推薦碼
const getSiteSettingRecommendCode = () => {
  const hostname = window.location.hostname;
  const hostnameArr = hostname.split(".");
  const length = hostnameArr.length;
  let domain;
  if (length > 2) {
    domain = hostnameArr[length - 2].concat(".", hostnameArr[length - 1]);
  }
  else {
    domain = hostname
  }

  isLoading.value = true;
  const params = {
    domain
  }
  apiService.post('/SiteSetting/RecommendCode', params)
    .then((res) => {
      if (res.data.recommendCode) {
        userRegisterReq.recommendCode = res.data.recommendCode
        RecommendCodeInject.value = true;
      }

    }).catch((err) => {
      errorHandling(err);
    })
    .finally(() => {
      isLoading.value = false;
    });

}

// 使用者註冊
const userRegister = () => {
  if (verifyUserRegister()) return;

  if (userRegisterReq.recommendCode == '') userRegisterReq.recommendCode = null;
  userRegisterReq.password = md5(registerPassword.value);
  //userRegisterReq.phoneNumber 送出前格式0911 111 111 要把空格拿掉
  userRegisterReq.phoneNumber = userRegisterReq.phoneNumber.replace(/\s/g, "");
  userRegisterReq.domain = window.location.hostname;
  userRegisterReq.DomainLayoutId = DomainLayoutId.value

  isLoading.value = true;
  apiService.post('/User/Register', userRegisterReq).then((res) => {
    localStorage.setItem('sessionKey', res.data.sessionKey),
    getUserInfo();
    resetData();
    Modal.getInstance("#collapseTarget")?.hide();
  }).catch((err) => {
    if (err.response == null || err.response.status == null) {
      Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
    } else {
      switch (err.response.status) {
        case 404: // 維護中
          Swal.fire("", t("inMaintenance"), "warning");
          break;
        case 452: // 查無此推薦碼
          Swal.fire("", t("invitation_code_doest_exist"), "warning");
          break;
        case 453: // 已存在帳號
          Swal.fire("", t("member_account_already_exist"), "warning");
          break;
        case 454: // 驗證碼輸入錯誤
          Swal.fire("", t("incorrect_verification_code"), "warning");
          break;
        case 455: // 無效的驗證碼
          Swal.fire("", t("invalid_captcha"), "warning");
          break;
        case 459: // 該電話號碼已註冊
          Swal.fire("", t("phone_already_registered"), "warning");
          break;
        case 460: // 不可使用的真實姓名
          Swal.fire("", t("realname_not_available"), "warning");
          break;
        default:
          errorHandling(err);
          break;
      }
    }
  }).finally(() => {
    isLoading.value = false;
  });
}

// 重置輸入
const resetData = () => {
	if(rememberPassword.value){//登入(有勾選記住密碼)時，留住tempPassword跟userLoginReq
		registerPassword.value = '';
		confirmPassword.value = '';
		Object.assign(userRegisterReq, new UserRegisterReq());
		Object.assign(userRegisterError, new RegisterError());
	}
	else{
		tempPassword.value = '';
		registerPassword.value = '';
		confirmPassword.value = '';
		Object.assign(userRegisterReq, new UserRegisterReq());
		Object.assign(userRegisterError, new RegisterError());
		Object.assign(userLoginReq, new UserLoginReq());
	}
	//重置手機登入
	Object.assign(userTelLoginReq, new UserTelLoginReq());
}

// 驗證註冊資料
const verifyUserRegister = () => {
  let hasError = false;
  Object.assign(userRegisterError, new RegisterError());

  // 帳號
  const accountRegex = /^[a-zA-Z][a-zA-Z0-9]{5,11}$/;
  if (!accountRegex.test(userRegisterReq.account)) {
    userRegisterError.account = t('cansino_account_rule');
  }
  // 密碼
  const passwordRegex = /^.{6,20}$/;
  if (!passwordRegex.test(registerPassword.value)) {
    userRegisterError.password = t('cansino_password_rule');
  }
  //確認密碼
  if (registerPassword.value !== confirmPassword.value) {
    userRegisterError.confirmPassword = t('confirm_password_different');
  }
  //手機驗證碼
  if (siteSettingsInfo.value.isTelRegister && userRegisterReq.verifyCode.length === 0) {
    userRegisterError.verifyCode = t('please_enter_verification_code');
  }
  //電話
  if ((siteSettingsInfo.value.isRegisterTelRequired || siteSettingsInfo.value.isTelRegister.value) && !userRegisterReq.phoneIsValid) {
    userRegisterError.phoneIsValid = t('plz_enter_phone_number');
  }
  //信箱
  const emailRegex = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
  if (siteSettingsInfo.value.isRegisterEmailRequired) {
    if (userRegisterReq.email.length === 0) {
      userRegisterError.email = t('plz_enter_your_mailbox');
    } else if (!emailRegex.test(userRegisterReq.email)) {
      userRegisterError.email = t('mailbox_format_error');
    }
  }
  //真實姓名
  if (siteSettingsInfo.value.isRegisterRealNameRequired && userRegisterReq.realName.length === 0) {
    userRegisterError.realName = t('plz_enter_your_real_name');
  }

  Object.values(userRegisterError).forEach((value) => {
    if (value !== '') hasError = true;
  });

  return hasError;
}

//顯示用戶名稱或是電話號碼登入
const clickSignTab = () => {
  selectSignTab.value = !selectSignTab.value;
};


const changeLangAndGames = lang => {
  changeLang(lang);
  getGames("getPhoneGameList");
}

// TODO
// const googleLogin = (response) => {
// 	googleToken.value = response.access_token;

// 	let params = {
// 		token: googleToken.value,
// 		deviceType: 0,
// 		domainLayoutId: DomainLayoutId.value
// 	}

// 	isLoading.value = true;
// 	apiService.post('/User/Google/Login', params).then((res) => {
// 		localStorage.setItem("sessionKey", res.data.sessionKey)
// 		getUserInfo();
// 		Modal.getInstance("#collapseTarget")?.hide();
// 		loginAndRegister.value = true;

// 	}).catch((err) => {
// 		if (err.response == null || err.response.status == null) {
// 			Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
// 		} else {
// 			switch (err.response.status) {
// 				case 401: // 帳號錯誤
// 					if(RecommendCodeInject.value === false){
// 						loginAndRegister.value = false;
// 					}
// 					else{
// 						googleRegister();
// 					}
// 					break;
// 				case 404: // 維護中
// 					Swal.fire("", t("inMaintenance"), "warning");
// 					break;
// 				case 452: // Google Token 失效
// 					Swal.fire("", t("sportApiThirdPartyCode_invalidToken"), "warning");
// 					break;
// 				default:
// 					errorHandling(err);
// 					break;
// 			}
// 		}
// 	}).finally(() => {
// 		isLoading.value = false;
// 	});
// }


const googleRegister = () => {
	//檢查推薦碼
	Object.assign(userRegisterError, new RegisterError());
	if (userRegisterReq.recommendCode.length !== 0 && userRegisterReq.recommendCode.length !== 6 ) {
		userRegisterError.recommendCode = t('recommendCode_format_error');
		return
	}	

	let params = {
		domainLayoutId: DomainLayoutId.value,
		token: googleToken.value,
		recommendCode: userRegisterReq.recommendCode,
		deviceType: 0,
		lang: localStorage.getItem('locale'),
		domain: window.location.hostname
	}
	apiService.post('/User/Google/Register', params).then((res) => {
		localStorage.setItem("sessionKey", res.data.sessionKey)
		getUserInfo();
		Modal.getInstance("#collapseTarget")?.hide();
		loginAndRegister.value = true;

	}).catch((err) => {
		if (err.response == null || err.response.status == null) {
			Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
		} else {
			switch (err.response.status) {
				case 404: // 維護中
					Swal.fire("", t("inMaintenance"), "warning");
					break;
				case 452: // 查無此推薦碼
					Swal.fire("", t("invitation_code_doest_exist"), "warning");
					break;
				case 453: // 已存在帳號
					Swal.fire("", t("member_account_already_exist"), "warning");
					break;
					case 454: // Google Token 失效
						Swal.fire("", t("sportApiThirdPartyCode_invalidToken"), "warning");
						break;
				default:
					errorHandling(err);
					break;
			}
		}
	});
}

const showLoginTab = computed(() => store.state.showLoginTab);

onMounted( async () => {
  getSiteSettingRecommendCode();
  countryCodeList.value = await getCountryCodeList();
  logo.value = await getLogo(0, 12);
	if(localStorage.getItem("account")){
		userLoginReq.account = localStorage.getItem("account")
		rememberPassword.value = true;
	}
	if(localStorage.getItem("password")){
		tempPassword.value = decryptString(localStorage.getItem("password"));
	}
});


</script>

<style lang="scss" scoped>
$base-margin: 20px;
$blue: #26a699;
$tab-height: 35px;
$tab-border-radius: 35px;

.modal-content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;

  &.type02 {
    background: url(@/assets/img/register/home-bg2.jpg) !important;
    background-size: cover;
  }
}

#bg-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  object-fit: fill;
}

.modal-dialog {
  overflow: hidden;
  width: 100%;

  .modal-content {
    background: #0000000c;
    
    .modal-header {
      border: none;

      img {
        height: 40px;
        margin: 0.5rem 0 0.5rem 0;
      }
    }

    .modal-footer {
      border: none;
      padding-top: 0;
      padding-bottom: 0;

      flex-direction: column;
      .footerFun {
        font-size: 15px;
        margin-bottom: 10px;
        width: 95%;

        span {
          padding-right: 10px;
          word-spacing: 0rem;
          font-size: 0.8rem;
        }

        .onlineService {
          img {
            margin-left: 10px;
            width: 15px;
            margin-bottom: 3px;
          }

          span {
            text-align: center;
          }
        }
      }
      .lang-set {
        background-color: #f4d691;
        border-radius: 27px;
        color: #000;
        text-align: center;
        padding: 0.3rem 0.8rem;
        font-size: 0.6rem;
        font-weight: bolder;
      }
      p.title {
        position: relative;
        width: 100%;
        margin: auto;
        font-weight: normal;
        font-weight: 0.6rem;
      }
      p.title::before {
        content: '';
        position: absolute;
        left: 10px;
        top: 8px;
        height: 5px;
        width: 100px;
        background: url(@/assets/img/register/singForm-title-before.png) no-repeat
          center;
      }

      p.title::after {
        content: '';
        position: absolute;
        right: 10px;
        top: 8px;
        height: 5px;
        width: 100px;
        background: url(@/assets/img/register/singForm-title-after.png) no-repeat
          center;
      }
      span {
        margin: 0 0.5rem;
        .text {
          font-weight: normal;
        }
      }
      .btn-primary {
        background: linear-gradient(180deg, #e7b823, #c97705);
        border: none;
      }
    }

    button.btn-close {
      position: absolute;
      right: 10px;
      top: 10px;
      background: transparent;
      color: #fff;
      font-size: 1.5rem;
    }

    .partner-logo {
      span.mg {
        img {
          height: 40px;
        }
      }

      img {
        height: 53px;
      }
    }
  }
}

.tab-slider--nav {
  width: 100%;
}

.tab-slider--tabs {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  overflow: hidden;
  height: $tab-height;
  user-select: none;
  font-size: 0.85rem;

  &:after {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 250ms ease-in-out;
  }
  &.tab-slider {
    .tab-slider--trigger {
      padding: 5px 15px;
    }
    &:after {
      width: 100%;
    }
  }
  &.register-slider-tabs {
    .tab-slider--trigger {
      padding: 5px 15px 0 15px;
    }
    &:after {
      width: 100%;
    }
  }

  .register-trigger {
    &:after {
      content: '';
      width: 100%;
    }
  }

  &.slide:after {
    left: 50%;
  }
}

.tab-slider--trigger {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5rem;
  padding: 5px 5px 0 10px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: inline-block;
  transition: color 250ms ease-in-out;
  user-select: none;
  text-align: center;

  &.active {
    color: #fff;
  }

  &.selected {
    color: $blue;
  }
}

.tab-slider--container {
  position: relative;
  background: rgba(255, 255, 255, 0.151);
  border-radius: 5px;
  &.register-slider {
    padding: 0.3rem 1rem 2rem 3.5rem;
  }
  &.login-slider {
    padding: 0.3rem 3rem 2rem 1rem;
  }

  .tab-slider--body {
    .form-control {
      color: #fff;
      background: #000000;
      border: 0.5px solid #b1b1b193;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #d9d9d9;
        font-size: 0.85rem;
      }
      &.phoneNumber {
        border-left: none;
      }
    }

    .isTelRegister {
      display: flex;

      .phoneNumber {
        width: 70%;
        border-left: none;
      }

      input.verification {
        width: 70%;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    button.btn-outline-secondary {
      width: 50%;
      font-size: 0.85rem;
      color: #fbc53c;
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .declaration {
      span {
        line-height: 25px;
        vertical-align: middle;
        font-size: 0.65rem;
        font-weight: normal;
        &.remPaw {
          margin-left: 10px;
        }
      }
    }

    button.btn-primary {
      background: linear-gradient(180deg, #e7b823, #c97705);
      box-shadow: none;
      border-radius: 3px;
      border: none;

      &:hover {
        color: #fbc53c;
      }
    }

    .forgetPwd {
      cursor: pointer;
      font-size: 0.6rem;
      color: rgba(255, 255, 255, 0.5);
      font-weight: normal;

      &:hover {
        color: #fff;
      }
    }
  }

  .tab-switchLeft {
    position: absolute;
    left: 0;
    border-radius: 5px 0px 0px 5px;
    background: #7a7a7a;
    height: 100%;
    top: 0;
    font-weight: normal;
    padding: 0 0.5rem;
    writing-mode: vertical-rl; /* 也可以寫成 vertical-lr */
    text-orientation: mixed; /* 調整文字方向 */
    text-align: center;
    img {
      width: 20px;
      margin-bottom: 0.3rem;
    }
  }
  .tab-switchRight {
    position: absolute;
    right: 0;
    border-radius: 0px 5px 5px 0px;
    background: #7a7a7a;
    height: 100%;
    top: 0;
    font-weight: normal;
    padding: 0 0.5rem;
    writing-mode: vertical-rl; /* 也可以寫成 vertical-lr */
    text-orientation: mixed; /* 調整文字方向 */
    text-align: center;
    img {
      width: 20px;
      margin-bottom: 0.3rem;
    }
  }
}

.loginPasswordBox {
  width: 100%;
  //background-color: #1B91FF;
  margin: 1.5rem 0 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.vue-tel-input {
  border: 0.5px solid rgba(177, 177, 177, 0.5764705882);
  border-right: none;
  color: #fff;

  .vti__input {
    background: #000000;
    color: #fff;
  }

  .vti__dropdown {
    color: #ffffff;

    .vti__dropdown-arrow {
      color: #ffffff;
    }

    .vti__dropdown-item {
      color: #000;
    }
  }

  &:hover {
    .vti__dropdown-arrow {
      color: #6f4d96;
    }
  }
}

#tab2 {
  .nav-tabs {
    border: none;

    .nav-link {
      font-size: 1rem;
      color: #fff;
      font-weight: 900;
      background: none;
      border: none;
      width: 100%;
    }

    .active {
      color: #fbc53c;
      background: none;
    }
  }
}
.lan-button.btnItem {
  background: transparent;
  box-shadow: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 0.2rem 0.1rem 0.46rem 0.46rem;
  font-size: 1rem;
  font-weight: normal;
  .lanImg {
    width: 22px;
    vertical-align: middle;
    margin-right: 0.2rem;
  }
  .btnName {
    display: inline-block;
    margin-left: 0.2rem;
    font-weight: bold;
    padding-top: 0.2rem;
  }
  .fa-solid.fa-caret-down {
    display: inline-block;
    padding: 0 0rem 0 0.3rem;
    border-radius: 0.2rem;
    margin-left: 0.3rem;
  }
  .subLanMenu {
    position: absolute;
    right: 0;
    bottom: 38px;
    opacity: 0;
    visibility: hidden;
    min-width: auto;
    padding: 0px 10px 5px;
    background-color: #111022;
    border: 1px solid #009688;
    z-index: 10;
    transition: all 0.3s ease-in-out;
    width: 100%;
    font-size: 0.8rem;
    font-weight: normal;
    .lang-option {
      display: block;
      margin: 1rem 0.3rem;
      text-align: start;
    }
    .subLanMenu-close {
      position: absolute;
      top: -15px;
      right: -20px;
      background: #ffffff;
      color: #000;
      border-radius: 20px;
      padding: 0.1rem 0.3rem 0.1rem 0.45rem;
    }
  }
}
.lan-button.show-popup .subLanMenu {
  opacity: 1;
  visibility: visible;
}

.declaration {
  color: rgba(255, 255, 255, 0.5);
}
.checkbox {
  position: relative;
  overflow: hidden;
  margin-bottom: -0.6rem;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 0.5rem;
}

.checkbox__input {
  position: absolute;
  top: -100px;
  left: -100px;
}

.checkbox__inner {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  background: transparent no-repeat center;
}

.checkbox__input:checked + .checkbox__inner {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='14px' height='10px' viewBox='0 0 14 10' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 59.1 (86144) - https://sketch.com --%3E%3Ctitle%3Echeck%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='ios_modification' transform='translate(-27.000000, -191.000000)' fill='%23000000' fill-rule='nonzero'%3E%3Cg id='Group-Copy' transform='translate(0.000000, 164.000000)'%3E%3Cg id='ic-check-18px' transform='translate(25.000000, 23.000000)'%3E%3Cpolygon id='check' points='6.61 11.89 3.5 8.78 2.44 9.84 6.61 14 15.56 5.05 14.5 4'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 14px 10px;
}
.forgetPw-icon {
  width: 20px;
  margin-right: 0.5rem;
}

.register-container,
.sign-container {
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}
.sign-container {
  opacity: 0;
  transform: translateX(100%);
  animation: slide-in 0.3s ease-out forwards;
}
.tab-switchLeft:focus + .sign-container {
  opacity: 1;
  transform: translateX(0);
}
.tab-switchRight:focus + .register-container {
  opacity: 1;
  transform: translateX(0);
}
.tab-switchLeft-btn:focus + .sign-container {
  opacity: 0;
  transform: translateX(100%);
}

.register-container {
  transform: translateX(-100%);
  animation: slide-in 0.3s ease-out forwards;
}
#collapseTarget {
  background: #000000ad;
}
#collapseTarget .modal-body {
  margin-top: 1rem;
  z-index: 1;
}

.lang-mask {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
  &.show-popup {
    pointer-events: all;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(30%);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

:deep(.m-phone-number-input) {
  .m-phone-number-input__select {
    width: 7rem;
  }
  .m-input-wrapper {
    background: black;
    color: white;
    border: 0.5px solid rgba(177, 177, 177, 0.5764705882);
    border-radius: 0.25rem;
  }
  .m-input-input {
    color: white;
  }
  .m-select .m-select-chevron {
    color: white;
  }
  .m-input.--md .m-input-input,
  .m-input.--md .m-input-label {
    font-size: 10px;
  }
}

.recommendCode-box{
  .tab-slider--container{
    padding: 0.3rem 1rem 2rem 1rem;
  }
  .title{
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 1.5rem;
    padding: 5px 15px;
  }
  
}
</style>
