<template>
  <!-- 手機版下選單 -->
  <div class="phone phone-footer">
    <div class="footer-mneu-wrapper">
      <div class="footer-mneu">
        <ul class="row align-items-center">
          <li class="col p-0 m-0 game-hall">
            <router-link
              :to="{ name: 'aagPhonehome' }"
              :class="{
                active:
                  $route.name === 'aagPhonehome' ||
                  $route.name === 'aagPhoneGameHall',
              }"
            >
              <div class="btn gameHall-btn"></div>
              <div class="text">{{ $t("games_lobby") }}</div>
            </router-link>
          </li>
          <li class="col p-0 m-0 service">
            <a :href="siteSettingsInfo.customerServiceUrl" target="_blank">
              <div class="btn service-btn"></div>
              <div class="text service-text">{{ $t("customer_service") }}</div>
            </a>
          </li>
          <li class="function">
            <div
              v-if="!isLogin"
              data-bs-target="#collapseTarget"
              data-bs-toggle="modal"
              @click="selectTab(true)"
            >
              <div
                class="function-btn"
                :class="{ active: moreFun === true }"
              ></div>
            </div>
            <div
              v-else
              class="function-btn"
              :class="{ active: moreFun === true }"
              @click="moreFun = !moreFun"
            ></div>
          </li>
          <li class="col p-0 m-0 promo">
            <router-link
              :to="{ name: 'aagPhonePromotion' }"
              :class="{ active: $route.name === 'aagPhonePromotion' }"
            >
              <div class="btn promo-btn"></div>
              <div class="text">{{ $t("discount") }}</div>
            </router-link>
          </li>
          <li class="col p-0 m-0 member">
            <div
              v-if="!isLogin"
              data-bs-target="#collapseTarget"
              data-bs-toggle="modal"
              @click="selectTab(true)"
            >
              <div class="btn member-btn"></div>
              <div class="text">{{ $t("my") }}</div>
            </div>
            <router-link
              v-else
              :to="{ name: 'aagPhoneMemberView' }"
              :class="{ active: $route.name === 'aagPhoneMemberView' }"
            >
              <div class="btn member-btn"></div>
              <div class="text">{{ $t("my") }}</div>
            </router-link>
          </li>
        </ul>
      </div>
    </div>

    <div class="moreFunctionMenu" v-show="moreFun === true">
      <div class="menu-conetent">
        <div class="userInfo login">
          <div class="user-name">
            {{ $t("account") }}:
            <span>{{ user.account }}</span>
          </div>
          <div class="user-level">vip {{ user.level }}</div>
          <div class="online-service">
            <a :href="siteSettingsInfo.customerServiceUrl" target="_blank">
              <img src="@/assets/aag/img/common/online-serIcon.svg" alt="" />
              <span>{{ $t("customer_service") }}</span>
            </a>
          </div>
        </div>

        <div class="more-function">
          <router-link :to="{ name: 'aagPhoneDepositNav' }">
            <div class="btn moreFUnc-despoit"></div>
            <div class="text">{{ $t("recharge") }}</div>
          </router-link>

          <router-link :to="{ name: 'aagPhoneCommonWithdraw' }">
            <div class="btn moreFUnc-withdraw"></div>
            <div class="text">{{ $t("withdrawal") }}</div>
          </router-link>
          <a :href="downloadUrl" target="_blank">
            <div class="btn moreFUnc-backupUrl"></div>
            <div class="text">{{ $t("alternateURL") }}</div>
          </a>

          <router-link :to="{ name: 'aagPhoneTransactionDetails' }">
            <div class="btn moreFUnc-stake"></div>
            <div class="text">{{ $t("funding_details") }}</div>
          </router-link>
        </div>
        <div class="more-function">
          <router-link :to="{ name: 'aagPhoneAgency' }">
            <div class="btn moreFUnc-agency"></div>
            <div class="text">{{ $t("agencyTeam") }}</div>
          </router-link>
          <router-link :to="{ name: 'aagPhoneVIPView' }">
            <div class="btn moreFUnc-vip"></div>
            <div class="text">{{ $t("vip_privileges") }}</div>
          </router-link>
          <router-link :to="{ name: 'aagPhoneMessage' }">
            <div class="btn moreFUnc-news"></div>
            <div class="text">{{ $t("message_center") }}</div>
          </router-link>

          <router-link :to="{ name: 'aagPhoneHistoryStakeRecord' }">
            <div class="btn moreFUnc-gameRecord"></div>
            <div class="text">{{ $t("gameRecord") }}</div>
          </router-link>
        </div>
      </div>
    </div>
  </div>
  
</template>

<script setup>
import { ref, onMounted, computed } from "vue";
import { useStore } from "vuex";
import common from "@/utils/common";

const { selectTab } = common();
const store = useStore();
const moreFun = ref(false);
const downloadUrl = ref("");

const user = computed(() => store.state.user);
const isLogin = computed(() => store.state.isLogin);
const siteSettingsInfo = computed(() => store.state.siteSettingsInfo);

onMounted(() => {
  downloadUrl.value = '/#/download?lang=' + localStorage.getItem("locale");
});
</script>
<style lang="scss" scoped>
.phone {
  .footer-mneu-wrapper {
    position: fixed;
    bottom: 0;
    padding: 0.2rem 1.2rem 0.4rem 1.2rem;
    background: #1b2026;
    z-index: 10;
    color: #6f6f6f;
    width: 100%;
    ul {
      li {
        text-align: center;
        width: 18%;

        a {
          color: #6f6f6f;
          font-weight: normal;
        }
        .btn {
          width: 25px;
          height: 25px;
          margin-bottom: 5px;
          &.gameHall-btn {
            background: url("@/assets/aag/img/phoneHome/footer/btn/gameHall-btn.svg") no-repeat;
            background-size: cover;
            background-position-x: 50%;
          }
          &.service-btn {
            background: url("@/assets/aag/img/phoneHome/footer/btn/service-btn.svg") no-repeat;
            background-size: cover;
            background-position-x: 50%;
          }
          &.promo-btn {
            background: url("@/assets/aag/img/phoneHome/footer/btn/promo-btn.svg") no-repeat;
            background-size: cover;
            background-position-x: 50%;
          }
          &.member-btn {
            background: url("@/assets/aag/img/phoneHome/footer/btn/member-btn.svg") no-repeat;
            background-size: cover;
            background-position-x: 50%;
          }
        }
        .function-btn {
          background: url("@/assets/aag/img/phoneHome/footer/btn/function-btn.svg") no-repeat;
          background-size: cover;
          background-position-x: 50%;
          width: 60px;
          height: 60px;
          margin-top: -2.6rem;
          border-radius: 3rem;
          &.active {
            background: url("@/assets/aag/img/phoneHome/footer/btn/functionAct-btn.svg")
              no-repeat;
          }
        }
        .text {
          line-height: 0.85rem;
          transform: scale(0.8);
          font-size: 0.6rem;
          white-space: nowrap;
          word-spacing: 0rem;
        }
        .service-text {
          margin-left: -0.5rem;
        }

        .active {
          color: #f1ac33;
          .gameHall-btn {
            background: url("@/assets/aag/img/phoneHome/footer/btn/gameHallAct-btn.svg")
              no-repeat;
          }
          .service-btn {
            background: url("@/assets/aag/img/phoneHome/footer/btn/serviceAct-btn.svg")
              no-repeat;
          }
          .function-btn {
            background: url("@/assets/aag/img/phoneHome/footer/btn/functionAct-btn.svg")
              no-repeat;
          }
          .promo-btn {
            background: url("@/assets/aag/img/phoneHome/footer/btn/promoAct-btn.svg") no-repeat;
          }
          .member-btn {
            background: url("@/assets/aag/img/phoneHome/footer/btn/memberAct-btn.svg")
              no-repeat;
          }
        }
      }
    }
  }
  .moreFunctionMenu {
    position: fixed;
    bottom: 0rem;
    z-index: 9999;
    background: #fff;
    color: #555555;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 96vw;
    padding: 1rem 1rem;
    .userInfo {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      align-items: center;
      .user-level {
        background: linear-gradient(0deg, #7e36ca 2.07%, #fc00b5 94.57%);
        border-radius: 10px;
        color: #fff;
        padding: 0 0.5rem;
        font-size: 0.6rem;
        font-weight: normal;
        height: 22px;
      }
      .online-service {
        background: linear-gradient(180deg, #b0dfd9 0%, #009688 100%);
        background-color: #f1ac33;
        border-radius: 20px;
        color: #231f20;
        font-size: 0.65rem;
        white-space: nowrap;
        padding: 0.3rem 1.5rem 0.3rem 0.5rem;
        img {
          max-width: 15px;
          margin-bottom: 0.3rem;
          margin-right: 0.5rem;
        }
      }
    }

    .more-function {
      display: flex;
      justify-content: space-between;
      margin: 1rem 0;
      font-size: 0.85rem;
      a {
        text-align: center;
        width: 100%;
        color: #555555;
        .btn {
          font-size: 0.8rem;
          width: 35px;
          height: 35px;
          white-space: nowrap;
          &.moreFUnc-despoit {
            background: url("@/assets/aag/img/phoneHome/footer/moreFunc/moreFUnc-despoit.svg") no-repeat;
          }
          &.moreFUnc-withdraw {
            background: url("@/assets/aag/img/phoneHome/footer/moreFunc/moreFUnc-withdraw.svg")
              no-repeat;
          }
          &.moreFUnc-stake {
            background: url("@/assets/aag/img/phoneHome/footer/moreFunc/moreFUnc-stake.svg") no-repeat;
          }
          &.moreFUnc-gameRecord {
            background: url("@/assets/aag/img/phoneHome/footer/moreFunc/moreFUnc-gameRecord.svg")
              no-repeat;
          }
          &.moreFUnc-agency {
            background: url("@/assets/aag/img/phoneHome/footer/moreFunc/moreFUnc-agency.svg") no-repeat;
          }
          &.moreFUnc-vip {
            background: url("@/assets/aag/img/phoneHome/footer/moreFunc/moreFUnc-vip.svg") no-repeat;
          }
          &.moreFUnc-news {
            background: url("@/assets/aag/img/phoneHome/footer/moreFunc/moreFUnc-news.svg") no-repeat;
          }
          &.moreFUnc-backupUrl {
            background: url("@/assets/aag/img/phoneHome/footer/moreFunc/moreFUnc-backupUrl.svg")
              no-repeat;
          }
        }
        .text {
          line-height: 1rem;
        }
      }
    }
  }
}
</style>
