<template>
  <div class="userInfo-middleContent">
    <form class="w-100 pt-4">
      <template v-if="hasBindPhoneNumber === true">
        <div class="text-center mt-5">
          {{$t("you_have_bound_a_mobile_phone_the_number_is") + phoneNumberBound + $t("if_you_need_to_modify_plz_contact_customer_service")}}
          <div class="mt-5">
            <a class="customerServiceUrl" :href="siteSettingsInfo.customerServiceUrl" target="_blank">
              {{$t("contactCustomerService")}}
              <span>
                <img src="@/assets/img/icon/withdrawSer.svg" alt="">
              </span>
            </a>
          </div>
        </div>
      </template>
      <template v-else-if="hasBindPhoneNumber === false">
        <div class="userChangeWithdrawForm m-3">
          <div class="d-flex">
            <div class="w-25">
              <label class="form-label">{{ $t("plz_select_country") }}</label>
            </div>
            <div class="w-75">
              <div class="form-group country">
                <MazPhoneNumberInput v-if="countryCodeList.length > 0" :only-countries="countryCodeList.countryCode" :default-country-code="siteSettingsInfo.countryCode" show-code-on-list @update="updatePhoneData($event)" :success="phoneNumberReq.phoneIsValid" />
                <span v-if="phoneNumberReqError.phoneIsValid" style="color: red">{{ phoneNumberReqError.phoneIsValid }}</span>
              </div>
            </div>
          </div>
          <div class="d-flex" v-if="siteSettingsInfo.isUpPhoneVerifyCode">
            <div class="w-25">
              <label class="form-label">{{ $t("please_enter_verification_code") }}</label>
            </div>
            <div class="w-75">
              <div class="form-group verification">
                <input type="text" class="form-control" :placeholder="$t('please_enter_verification_code')" v-model="phoneNumberReq.verifyCode">
                <button class="btn" type="button" @click="postVerifyCode" :disabled="isVerifyCodeSend">{{ $t('send_verify_code') }}</button>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-primary d-block" @click="sendPhoneData()" :disabled=" !phoneNumberReq.phoneIsValid || (siteSettingsInfo.isUpPhoneVerifyCode && phoneNumberReq.verifyCode.length <=0 )">{{ $t("confirm") }}</button>
      </template>
    </form>
  </div>
  <loading-overlay :active="isLoading" :can-cancel="false" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff">
  </loading-overlay>
</template>

<script>
export class PhoneNumberReq {
  phoneCountryCode = '';
  phoneNumber = '';
  verifyCode = '';
}
export class PhoneNumberReqError {
  phoneIsValid = ''
  verifyCode = '';
}
</script>
  
<script setup>
import { ref, reactive, onMounted, computed, watch } from 'vue';
import apiService from '@/api/apiService';
import LoadingOverlay from 'vue-loading-overlay';
import { useI18n } from "vue-i18n";
import { useStore } from "vuex"
import Swal from "sweetalert2";
import common from "@/utils/common";
import MazPhoneNumberInput from 'maz-ui/components/MazPhoneNumberInput';
import 'maz-ui/css/main.css'

const { t } = useI18n();
const isLoading = ref(false);
const store = useStore();
const user = computed(() => store.state.user);
const phoneNumberReq = reactive(new PhoneNumberReq());
const phoneNumberReqError = reactive(new PhoneNumberReqError());
const { errorHandling, userLogout, getCountryCodeList } = common();
const hasBindPhoneNumber = ref('');
const isVerifyCodeSend = ref(false);
const phoneNumberBound = ref(''); 
const phoneResults = ref('');
const countryCodeList = ref([]);

const siteSettingsInfo = computed(() => store.state.siteSettingsInfo);
const DomainLayoutId = computed(() => store.state.DomainLayoutId);

//更改電話資料
const updatePhoneData = ($event) => {
  phoneResults.value = $event;
  phoneNumberReq.phoneCountryCode = $event.countryCallingCode;
  phoneNumberReq.phoneNumber = $event.formatNational;
  phoneNumberReq.phoneIsValid = phoneResults.value.isValid
}

//發送驗證碼
const postVerifyCode = () => {
  phoneNumberReqError.phoneIsValid = '';

  if (!phoneNumberReq.phoneIsValid) {
    phoneNumberReqError.phoneIsValid = t('plz_enter_phone_number');
    return
  }

  isVerifyCodeSend.value = true;
  const params = {
    phoneCountryCode: phoneNumberReq.phoneCountryCode,
    phoneNumber: phoneNumberReq.phoneNumber.replace(/\s/g, "").replace("-", ""),
    lang: localStorage.getItem('locale'),
    sessionKey: localStorage.getItem('sessionKey'),
    DomainLayoutId: DomainLayoutId.value
  }

  let targetRegex = new RegExp(countryCodeList.value.find(item => item.code === params.phoneCountryCode).regex);


  if (!targetRegex.test(params.phoneNumber)) {
    Swal.fire("", t("input_wrong_format"), "warning");
    return false;
  }

  isLoading.value = true;
  apiService.post('/User/PhoneVerifyCode/UpPhoneNumber', params)
    .then(() => {
      Swal.fire("", t("verification_code_sent_to_mobile"), "success");
    })
    .catch((err) => {
      if (err.response == null || err.response.status == null) {
        console.log(err);
        Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
      } else {
        switch (err.response.status) {
          case 403: // 沒有開放手機註冊功能
            Swal.fire("", t("no_phone_registration"), "warning");
            break;
          case 452: // 該電話號碼已註冊
            Swal.fire("", t("phone_already_registered"), "warning");
            break;
          case 453: // 頻繁發送，請稍後在試
            Swal.fire("", t("phone_already_registered"), "warning");
            break;
          case 454: // 發送失敗，請稍後在試
            Swal.fire("", t("failed_to_send_plz_try_again_later"), "warning");
            break;
          default:
            errorHandling(err);
            break;
        }
      }
    })
    .finally(() => {
      isLoading.value = false;
    });
}


//發送手機資料
const sendPhoneData = () => {
  const params = {
    sessionKey: localStorage.getItem("sessionKey"),
    phoneCountryCode: phoneNumberReq.phoneCountryCode,
    //phoneNumberReq.phoneNumber 送出前格式0911 111 111 要把空格拿掉 - 也要拿掉
    phoneNumber: phoneNumberReq.phoneNumber.replace(/\s/g, "").replace("-", ""),
    verifyCode: phoneNumberReq.verifyCode,
    DomainLayoutId: DomainLayoutId.value
  }


  let targetRegex = new RegExp(countryCodeList.value.find(item => item.code === params.phoneCountryCode).regex);


  if (!targetRegex.test(params.phoneNumber)) {
    Swal.fire("", t("input_wrong_format"), "warning");
    return false;
  }

  isLoading.value = true;
  apiService.put('/User/PhoneNumber', params).then(() => {
    Swal.fire("", t("binding_succeeded"), "info");
    hasBindPhoneNumber.value = true;
    phoneNumberBound.value = "*****" + phoneNumberReq.phoneNumber.replace(/\s/g, "").replace("-", "").substring(phoneNumberReq.phoneNumber.length - 5);

  }).catch((err) => {
    if (err.response == null || err.response.status == null) {
      console.log(err);
      Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
    } else {
      switch (err.response.status) {
        case 452:
          Swal.fire("", t("mobile_number_cannot_be_changed"), "error");
          break;
        case 453:
          Swal.fire("", t("invalid_captcha"), "warning");
          break;
        case 454:
          Swal.fire("", t("incorrect_verification_code"), "warning");
          break;
        case 455:
          Swal.fire("", t("mobile_phone_number_is_not_available"), "warning");
          break;
        default:
          errorHandling(err);
          break;
      }
    }
  }).finally(() => {
    isLoading.value = false;
  });
}

watch(
  //更新user資料後
	() => store.state.user,
	() => {
    hasBindPhoneNumber.value = !user.value.phoneNumber  ? false : true;
    phoneNumberBound.value = user.value.phoneNumber
	}
)

onMounted(async () => {
  if (!localStorage.getItem("sessionKey")) { userLogout(); return; }
    countryCodeList.value = await getCountryCodeList();
    hasBindPhoneNumber.value = !user.value.phoneNumber  ? false : true;
    phoneNumberBound.value = user.value.phoneNumber
});

</script>
  
<style lang="scss" scoped>
.userInfo-middleContent {
  background-color: #2a3f3a;
  width: 80%;

  .form-group {
    position: relative;
    margin-bottom: 27px;
    &.country {
      margin-bottom: 32px;
    }
    &.verification {
      display: flex;
      .form-control {
        margin-bottom: 0;
        border-radius: 0.25rem 0 0 0.25rem;
      }
      .btn {
        flex-shrink: 0;
        background-color: #007c7c;
        color: white;
      }
    }
    .form-control {
      display: inline-block;
      width: 100%;
      background: #fff;
      border: 0.5px solid rgba(177, 177, 177, 0.5764705882);
      color: #000;
      margin-bottom: 5px;
      & + div {
        position: absolute;
        bottom: -1rem;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .btn-primary {
    margin: auto;
    width: 20%;
    background: linear-gradient(to bottom, #006d57, #004d3d);
    border-color: #00805b;

    &:not(:disable):hover {
      color: #ffce51;
    }
    span {
      position: absolute;
      width: 20px;
      left: 25px;
      top: 11.5px;
    }
  }
}
.customerServiceUrl {
  position: relative;
  margin: auto;
  background: linear-gradient(to bottom, #006d57, #004d3d);
  border: 1px solid #0a9c73;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  font-size: 1.5rem;
  padding-left: 3.5rem;
  &:hover {
    color: #ffce51;
  }
  > span {
    position: absolute;
    width: 20px;
    left: 25px;
    top: 11.5px;
  }
}

:deep(.m-phone-number-input) {
  .m-input-wrapper {
    border-radius: 0.05rem;
  }
  .m-input.--md .m-input-input,
  .m-input.--md .m-input-label {
    font-size: 12px;
  }
}
.main-content.aab {
  .userInfo-middleContent {
    background-color: #282828;
    .pt-4 {
      padding-top: .1rem!important;
      .mt-5 {
        margin-top: 1rem!important;
      }
    }
    .customerServiceUrl {
      padding: .065rem .45rem .065rem .7rem;
      font-size: .3rem;
    }
    span {
      top: 8px;
    }
  }
}
.main-content.aab {
    .userInfo-middleContent {
      :deep(.m-phone-number-input__select) {
          width: 1.2rem;
      }
      :deep(.m-input.--md) {
          height: .6rem;

          .m-input-label {
            line-height: .2rem;
            top: 10px;
          }
      }
      :deep(.m-phone-number-input) {
        .m-input-wrapper {
          border: 1px solid #ced4da;
          .m-select-input {
          padding-left: 45px!important;
          padding-top: 18px!important;
        }

        }
        
        .m-input-input {
          color: #000;
          
        }
        .m-input-input:focus {
          color: #000;
          
        }
        .m-select .m-select-chevron {
          color: #000;
          height: 20px;
          width: 20px;		
        }

        .m-input.--md .m-input-input,
        .m-input.--md .m-input-label {
          font-size: 14px;
        }
        .m-input-label{
          left: 20px;
          top: -34px;
        }
        .m-input.--has-label .m-input-input {
          padding: 10px;
          width: 250px;
        }

        .m-input-wrapper-right {
          padding-right: 0;
        }
        .m-input.--md {
          height: 55px;
        }
        svg {
          font-size: 16px;
        }
        .m-phone-number-input__country-flag {
          bottom: 16px;
          left: 20px;
        }


      }
      :deep(.m-select-list__scroll-wrapper) {
        button {
          padding-left: 12px;
          padding-right: 12px;
          
        }
        .maz-w-10 {
          width: 40px;
        }
        .m-phone-number-input__select__item {
          font-size: 14px;
          line-height: 18px;
        }
        button.maz-custom {
          padding-left: 16px;
          padding-right: 16px;
        }
      }
      :deep(.m-input.--sm) {
        width: 100%;
        height: 50px;
        font-size: 14px;
        .m-input-label {
          font-size: 14px;
        }
        .m-input-input {
          font-size: 14px;
          padding-left: 10px;
          padding-right: 10px;
        }
        svg {
          width: 14px;
          height: 14px;
        }
        .m-input-wrapper-left {
          padding-left: 10px;
        }
        

        
      }
      :deep(.m-phone-number-input:not(.--no-flags) .m-phone-number-input__select .m-input-wrapper .m-select-input) {
          
        padding-left: 45px!important;
        padding-top: 15px;
          
        }
        :deep(.m-select-list) {
          border-radius: 10px!important;
          .m-select-list__no-results {
            padding: 10px;
            svg {
              font-size: 30px!important;
            }
          }

        }
        .btn {
          font-size: .2rem;
          padding: .0375rem;
          border-radius: .05rem;
          &:focus {
            box-shadow: 0 0 0 0.05rem #74747460;    
          }
        }
        input.form-control {
          height: .1rem;
          font-size: .2rem;
          padding: .25rem .2rem;
          border-top-left-radius: .1rem;
          border-bottom-left-radius: .1rem;
          &:focus {
            box-shadow: 0 0 0 0.05rem #74747460;    
          }
        }

    }
}
.aad,
.aae, .aag{
  a.customerServiceUrl{
    background: linear-gradient(180deg, #e7b823, #c97705) !important;
    border-color: #ffce51 !important;
  }

}

.aaf{
  .userInfo-middleContent {
  background-color: #fff;
  width: 80%;

  .form-group {
    position: relative;
    margin-bottom: 27px;
    &.country {
      margin-bottom: 32px;
    }
    &.verification {
      display: flex;
      .form-control {
        margin-bottom: 0;
        border-radius: 0.25rem 0 0 0.25rem;
      }
      .btn {
        flex-shrink: 0;
        background-color: #007c7c;
        color: white;
      }
    }
    .form-control {
      display: inline-block;
      width: 100%;
      background: #fff;
      border: 0.5px solid rgba(177, 177, 177, 0.5764705882);
      color: #000;
      margin-bottom: 5px;
      & + div {
        position: absolute;
        bottom: -1rem;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .btn-primary {
    margin: auto;
    width: 20%;
    background: linear-gradient(to bottom, #006d57, #004d3d);
    border-color: #00805b;

    &:not(:disable):hover {
      color: #ffce51;
    }
    span {
      position: absolute;
      width: 20px;
      left: 25px;
      top: 11.5px;
    }
  }
}
.customerServiceUrl {
  position: relative;
  margin: auto;
  background: linear-gradient(to bottom,#00a1f8, #007bf5);
  color: #fff;
  // border: 1px solid #0a9c73;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  font-size: 1.5rem;
  padding-left: 3.5rem;
  &:hover {
    color: #ffce51;
  }
  > span {
    position: absolute;
    width: 20px;
    left: 25px;
    top: 3px;
  }
}

:deep(.m-phone-number-input) {
  .m-input-wrapper {
    border-radius: 0.05rem;
  }
  .m-input.--md .m-input-input,
  .m-input.--md .m-input-label {
    font-size: 12px;
  }
}
}

</style>