<template>
  <div class="userInfo-middleContent">
    <form class="w-100 pt-4">
      <div class="userChangeLoginForm m-3">
        <div class="d-flex">
          <div class="w-25">
            <label class="form-label">{{ $t("pls_enter_old_password") }}</label>
          </div>
          <div class="w-75">
            <div class="mb-3">
              <input type="password" class="form-control" v-model="userPassword.password" maxlength="16" autocomplete="off">
              <div v-if="userPassword.passwordError" style="color: red">{{ userPassword.passwordError }}</div>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="w-25">
            <label class="form-label">{{ $t("pls_enter_new_password") }}</label>
          </div>
          <div class="w-75">
            <div class="mb-3">
              <input type="password" class="form-control" v-model="userPassword.newPassword" maxlength="16" autocomplete="off">
              <div v-if="userPassword.newPasswordError" style="color: red">{{ userPassword.newPasswordError }}</div>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="w-25">
            <label class="form-label">{{ $t("pls_enter_password_again") }}</label>
          </div>
          <div class="w-75">
            <div class="mb-3">
              <input type="password" class="form-control" v-model="userPassword.confirmPassword" maxlength="16" v-on:keyup.enter="updateUserPassword()" autocomplete="off">
              <div v-if="userPassword.confirmPasswordError" style="color: red">{{ userPassword.confirmPasswordError }}</div>
            </div>
          </div>
        </div>

      </div>

      <button type="button" class="btn btn-primary d-block" @click="updateUserPassword()" :disabled="userPassword.password.length <= 0 || userPassword.newPassword.length <= 0 || userPassword.confirmPassword.length <= 0">{{ $t("confirm") }}</button>
    </form>
  </div>

  <loading-overlay :active="isLoading" :can-cancel="false" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff">
  </loading-overlay>
</template>

<script>
export class UserPassword {
  password = '';
  newPassword = '';
  confirmPassword = '';
  passwordError = '';
  newPasswordError = '';
  confirmPasswordError = '';
}
</script>

<script setup>
import { ref, reactive, onMounted } from 'vue';
import apiService from '@/api/apiService';
import LoadingOverlay from 'vue-loading-overlay';
import { useI18n } from "vue-i18n";
import Swal from "sweetalert2";
import md5 from 'js-md5';
import common from "@/utils/common";

const { t } = useI18n();
const isLoading = ref(false);
let userPassword = reactive(new UserPassword());
const { errorHandling, userLogout } = common();

// 變更密碼
function updateUserPassword() {
  let hasError = false;
  userPassword.passwordError = '';
  userPassword.newPasswordError = '';
  userPassword.confirmPasswordError = '';

  // 驗證密碼
  let regex = /^.{6,20}$/;
  if (!regex.test(userPassword.password)) {
    userPassword.passwordError = t('cansino_password_rule');
    hasError = true;
  }

  if (!regex.test(userPassword.newPassword)) {
    userPassword.newPasswordError = t('cansino_password_rule');
    hasError = true;
  } else if (userPassword.password == userPassword.newPassword) {
    userPassword.newPasswordError = t('changed_password_cannot_same_old_password');
    hasError = true;
  }

  if (userPassword.confirmPassword != userPassword.newPassword) {
    userPassword.confirmPasswordError = t('confirm_password_different');
    hasError = true;
  }


  if (hasError) return;

  isLoading.value = true;
  apiService.put('/User/Password', {
    sessionKey: localStorage.getItem("sessionKey"),
    password: md5(userPassword.password).toUpperCase(),
    newPassword: md5(userPassword.newPassword).toUpperCase(),
  }).then(() => {
    Swal.fire("", t("success"), "success");
    Object.assign(userPassword, new UserPassword());
  }).catch((err) => {
    if (err.response == null || err.response.status == null) {
      console.log(err);
      Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
    } else if (err.response.status == 452) {// 舊密碼錯誤
      Swal.fire("", t("wrong_password"), "error");
    } else if (err.response.status == 453) { // 新舊密碼不可相同
      Swal.fire("", t("confirm_password_different"), "error");
    } else errorHandling(err);
  }).finally(() => {
    isLoading.value = false;
  });
}

onMounted(() => {
  if (!localStorage.getItem("sessionKey")) { userLogout(); return; }
});

</script>

<style lang="scss" scoped>
.userInfo-middleContent {
  background-color: #2a3f3a;
  width: 80%;

  .mb-3 {
    position: relative;

    .form-control {
      display: inline-block;
      width: 100%;
      background: #fff;
      border: 0.5px solid rgba(177, 177, 177, 0.5764705882);
      color: #000;
      margin-bottom: 1rem;

      & + div {
        position: absolute;
        bottom: -1rem;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  button.btn-primary {
    margin: auto;
    width: 20%;
    background: linear-gradient(to bottom, #006d57, #004d3d);
    border-color: #00805b;

    &:hover {
      color: #ffce51;
    }
  }
}

.main-content.aab {
  .userInfo-middleContent {
    background-color: #282828;
    form {
      padding-top: .2rem!important;
      .userChangeLoginForm {
        margin: .2rem!important;
        .mb-3 {
          margin-bottom: .1rem!important;
          textarea.form-control {
            margin-bottom: .1rem;
            font-size: .1rem;
            border-radius: .1rem;
            padding: .25rem .2rem;
            &:focus {
              box-shadow: 0 0 0 0.05rem #74747460;    
            }
          }
        }
        input.form-control {
          height: .1rem;
          font-size: .2rem;
          margin-bottom: .1rem;
          padding: .25rem .2rem;
          border-radius: .1rem;
          &:focus {
            box-shadow: 0 0 0 0.05rem #74747460;    
          }
        }
        :deep(.dp__input) {
          line-height: .5rem;
          font-size: .2rem;
          
        }
        :deep(.dp__input_icons) {
            width: .3rem;
            height: .3rem;
        }
        :deep(.dp__menu_index) {
            font-size: .15rem!important;
        }
      }
    }
    button.btn-primary {
      font-size: .2rem;
      padding: .07rem .5rem;
      border-radius: .1rem;
      &:focus {
        box-shadow: 0 0 0 0.05rem #74747460;    
      }
    }    
  }
  
}

.aaf{
  .userInfo-middleContent {
  background-color: #fff;
  width: 80%;

  .mb-3 {
    position: relative;

    .form-control {
      display: inline-block;
      width: 100%;
      background: #fff;
      border: 0.5px solid rgba(177, 177, 177, 0.5764705882);
      color: #000;
      margin-bottom: 1rem;

      & + div {
        position: absolute;
        bottom: -1rem;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  button.btn-primary {
    margin: auto;
    width: 20%;
    background: #0077ff;
    // border-color: #00805b;

    &:hover {
      color: #ffce51;
    }
  }
}
}
</style>