<template>
  <div class="mt-4">
    <div class="userInfo d-flex">
      <div class="userInfo-leftNav pt-4">
        <ol class="list-group list-group-numbered">
          <router-link :to="{ name: DomainLayoutId + 'UserChangeInfo' }" class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">{{ $t("basicInfo") }}</div>
            </div>
            <span v-if="$route.fullPath === '/MemberCentre/UserInfo/UserChangeInfo'"><font-awesome-icon icon="fa-solid fa-chevron-right" /></span>
          </router-link>
          <router-link :to="{ name: DomainLayoutId + 'UserChangeLoginPw' }" class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">{{ $t("change_password") }}</div>
            </div>
            <span v-if="$route.fullPath === '/MemberCentre/UserInfo/UserChageLoginPw'"><font-awesome-icon icon="fa-solid fa-chevron-right" /></span>
          </router-link>
          <router-link :to="{ name: DomainLayoutId + 'BindPhoneNumber' }" class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">{{ $t("bind_phone_number") }}</div>
            </div>
            <span v-if="$route.fullPath === '/MemberCentre/UserInfo/BindPhoneNumber'"><font-awesome-icon icon="fa-solid fa-chevron-right" /></span>
          </router-link>
        </ol>
      </div>
      <router-view />
    </div>
  </div>
</template>

<script setup>
import { computed } from 'vue';
import { useStore } from 'vuex';

const store = useStore();
const DomainLayoutId = computed(() => store.state.DomainLayoutId);
</script>

<style lang="scss" scoped>
.outSideControl {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 0 50px 0;
  margin-top: 0px !important;
  //background-color: #FFCE51;
}

.userInfo-leftNav {
  width: 20%;
  background: #1c4f3e;
  border: 1px solid #61c3a7;


  .list-group-item {
    cursor: pointer;
    border: none;
    background-color: transparent;
    border-bottom: .01rem solid rgba(77,79,85,.4);

    &.active {
      margin-top: 0;
      color: #fff;
      border: none;
      background: linear-gradient(to top, #444444, #282828);
      cursor: default;

      &:hover {
        color: #FFCE51;
      }

    }

    &:hover {
      color: #ffce51;
    }

    span {
      color: #fff;
    }
  }

  .router-link-active {
    margin-top: 0;
    color: #FFCE51;
    background: linear-gradient(0deg,#171c1c,#004d3d);
    cursor: default;

    &:hover {
      color: #FFCE51;
    }
  }
}



.userInfo-rigthDm {
  width: 20%;
}

.main-content.aab {
  .userInfo-leftNav {
    padding-top: .3rem!important;
    background: #282828;
    border: 1px solid #666666;
    a.list-group-item {
      padding: .2rem .3rem;
    }
  }
  .router-link-active {
    margin-top: 0;
    color: #ff4d00;
    background: linear-gradient(to bottom, #444444, #282828);
    cursor: default;

    &:hover {
      color: #ff4d00;
    }
  }
  
}

.aaf{
  .outSideControl {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 0 50px 0;
  margin-top: 0px !important;
  //background-color: #FFCE51;
 
}

.userInfo-leftNav {
  width: 20%;
  background: #fff;
  // border: 1px solid #61c3a7;
  border: none;
  border-right: 1px solid #dee2e6;
  
  

  .list-group-item {
    cursor: pointer;
    border: none;
    background-color: transparent;
    border-bottom: .01rem solid #dee2e6;
color: #000;

    &.active {
      margin-top: 0;
      color: #fff;
      border: none;
      background: linear-gradient(to top, #444444, #282828);
      cursor: default;

      &:hover {
        color: #FFCE51;
      }

    }

    &:hover {
      color: #ffce51;
    }

    span {
      color: #fff;
    }
  }

  .router-link-active {
    margin-top: 0;
    color: #fff;
    background: linear-gradient(0deg,#0781f6,#51bdfd);
    cursor: default;
   
    &:hover {
      color: #FFCE51;
    }
  }
}

.userInfo-rigthDm {
  width: 20%;
}
}
</style>