<template>
  <div class="userInfo-middleContent">
    <form class="w-100 pt-4">
      <div class="userChangeInfoForm m-3">
        <div class="d-flex">
          <div class="w-25">
            <label class="form-label">{{ $t("account") }}</label>
          </div>
          <div class="w-75">
            <div class="mb-3">
              <input type="text" class="form-control" v-model="user.account" readonly>
            </div>
          </div>
        </div>
        
        <div class="d-flex">
          <div class="w-25">
            <label class="form-label">{{ $t("recommendCode") }}</label>
          </div>
          <div class="w-75">
            <div class="mb-3">
              <input type="text" class="form-control" v-model="user.recommendCode" readonly>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="w-25">
            <label class="form-label">{{ $t("recRegisterUrl") }}</label>
          </div>
          <div class="w-75">
            <div class="mb-3">
              <div class="d-none" ref="recRegisterUrlText">{{recRegisterUrl}}</div>
              <button type="button" class="copyBtn" @click="copyText(recRegisterUrlText)">{{ $t("copy") }}</button>
              <input type="text" :value="recRegisterUrl" id="recRegisterUrl">
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="w-25">
            <label class="form-label">{{ $t("real_name") }}</label>
          </div>
          <div class="w-75">
            <div class="mb-3">
              <input type="text" class="form-control" v-model="realName" :readonly="user.realName != null" maxlength="50">
              <div v-if="errorMessage.realName" style="color: red">{{ $t('limit_in_50_charater') }}</div>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="w-25">
            <label class="form-label">{{ $t("birthday") }}</label>
          </div>
          <div class="w-75">
            <div class="mb-3">
              <template v-if="user.birthday == null">
                <VueDatePicker v-model="birthday" :max-date="new Date()" :dark="false" format="yyyy-MM-dd" style="margin-bottom: 20px;"></VueDatePicker>
              </template>
              <template v-else>
                <input type="text" class="form-control" v-model="user.birthday" readonly>
              </template>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="w-25">
            <label class="form-label">{{ $t("signature") }}</label>
          </div>
          <div class="w-75">
            <div class="mb-3">
              <textarea class="form-control" rows="5" v-model="user.aboutMe" maxlength="100"></textarea>
              <div v-if="errorMessage.aboutMe" style="color: red">{{ $t('limit_in_100_charater') }}</div>
            </div>
          </div>
        </div>

      </div>

      <button type="button" class="btn btn-primary d-block" @click="updateUserInfo()">{{ $t("confirm") }}</button>
    </form>

    <!-- 加載 -->
    <loading v-model:active="isLoading" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />
  </div>
</template>

<script>
export class UserUpdateReq {
  sessionKey = '';
  realName = '';
  aboutMe = '';
  birthday = '';
}
</script>
<script setup>
import { ref, onMounted, reactive, computed } from 'vue';
import apiService from '@/api/apiService';
import common from "@/utils/common";
import Loading from 'vue-loading-overlay';
import Swal from "sweetalert2";
import { useI18n } from "vue-i18n";
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'
import moment from "moment";
import { useStore } from "vuex"

const { getUserInfo, errorHandling, userLogout, copyText, getRecRegisterUrl } = common();
const isLoading = ref(false);
const { t } = useI18n();
const store = useStore();

//使用者資料
const user = computed(() => store.state.user);

const birthday = ref();
const realName = ref();
const userUpdateReq = reactive(new UserUpdateReq());
const errorMessage = reactive({
  realName: false,
  aboutMe: false
});

//代理連結
const recRegisterUrl = getRecRegisterUrl(user.value.recommendCode);
const recRegisterUrlText = ref(null)

// 更新會員資料
function updateUserInfo() {

  // 驗證資料長度
  errorMessage.aboutMe = false;
  errorMessage.realName = false;
  if (user.value.aboutMe != null && user.value.aboutMe.length > 100)
    errorMessage.aboutMe = true;
  if (realName.value != null && realName.value.length > 50)
    errorMessage.realName = true;

  if (errorMessage.aboutMe || errorMessage.realName) return;

  // 請求參數
  userUpdateReq.sessionKey = localStorage.getItem("sessionKey");

  if (user.value.birthday == null && birthday.value != null)
    userUpdateReq.birthday = moment(birthday.value, 'YYYY-MM-DD')
  else
    userUpdateReq.birthday = null;

  if (user.value.realName == null && realName.value != null)
    userUpdateReq.realName = realName.value;
  else
    userUpdateReq.realName = null;

  if (user.value.aboutMe.length > 0)
    userUpdateReq.aboutMe = user.value.aboutMe;
  else
    userUpdateReq.aboutMe = ' ';

  isLoading.value = true;
  apiService.put('/User/Update', userUpdateReq).then(() => {
    Swal.fire("", t("success"), "success");
    getUserInfo();
  }).catch((err) => {
    if (err.response == null || err.response.status == null) {
      console.log(err);
      Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
    } else {
      switch (err.response.status) {
        case 452: // 不可更改真實姓名
          Swal.fire("", t("realname_not_changed"), "warning");
          break;
        case 453: // 不可更改生日
          Swal.fire("", t("birthday_not_changed"), "warning");
          break;
        case 454: // 不可更改性別
          Swal.fire("", t("gender_not_changed"), "warning");
          break;
        case 455: // 不可使用的真實姓名
          Swal.fire("", t("realname_not_available"), "warning");
          break;
        default:
          errorHandling(err);
          break;
      }
    }
  }).finally(() => {
    isLoading.value = false;
  });
}

onMounted(() => {
  if (!localStorage.getItem("sessionKey")) { userLogout(); return; }
  realName.value = user.value.realName;
});

</script>

<style lang="scss" scoped>
.userInfo-middleContent {
  background-color: #2a3f3a;
  width: 80%;

  .mb-3 {
    position: relative;

    .form-control {
      display: inline-block;
      width: 100%;
      background: #fff;
      border: 0.5px solid rgba(177, 177, 177, 0.5764705882);
      color: #000;
      margin-bottom: 1rem;

      & + div {
        position: absolute;
        bottom: -1rem;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:read-only {
        background-color: #ccc;
      }
    }
  }

  button.btn-primary {
    margin: auto;
    width: 20%;
    background: linear-gradient(to bottom, #006d57, #004d3d);
    border-color: #00805b;

    &:hover {
      color: #ffce51;
    }
  }
}

.copyBtn {
  padding: 8px 20px;
  background: linear-gradient(180deg, #e7b823 0%, #c97705 100%);
  border-radius: 3px;
  margin-bottom: 16px;
  color: #fff;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: #fff5c0;
    background: linear-gradient(90deg, #e7b823 0%, #c97705 100%);
  }
}

#recRegisterUrl {
  width: 100px;
  opacity: 0;
  pointer-events: none;
}

.main-content.aab {
  .userInfo-middleContent {
    background-color: #282828;
    .mb-3 {
      margin-bottom: .1rem!important;
    }
    form {
      padding-top: .2rem!important;
      .userChangeInfoForm {
        margin: .2rem!important;
        .mb-3 {
          textarea.form-control {
            margin-bottom: .1rem;
            font-size: .1rem;
            border-radius: .1rem;
            padding: .25rem .2rem;
            &:focus {
              box-shadow: 0 0 0 0.05rem #74747460;    
            }
          }
        }
        input.form-control {
          height: .1rem;
          font-size: .2rem;
          margin-bottom: .1rem;
          padding: .25rem .2rem;
          border-radius: .1rem;
          &:focus {
            box-shadow: 0 0 0 0.05rem #74747460;    
          }
        }
        :deep(.dp__input) {
          line-height: .5rem;
          font-size: .2rem;
          
        }
        :deep(.dp__input_icons) {
            width: .3rem;
            height: .3rem;
        }
        :deep(.dp__menu_index) {
            font-size: .15rem!important;
        }
      }
    }
    button.btn-primary {
      font-size: .2rem;
      padding: .07rem .5rem;
      border-radius: .1rem;
      &:focus {
        box-shadow: 0 0 0 0.05rem #74747460;    
      }
    }    
  }
}

//aaf

.aaf {
  .userInfo-middleContent {
  background-color: #ffffff;
  width: 80%;

  .mb-3 {
    position: relative;

    .form-control {
      display: inline-block;
      width: 100%;
      background: #fff;
      border: 0.5px solid rgba(177, 177, 177, 0.5764705882);
      color: #000;
      margin-bottom: 1rem;

      & + div {
        position: absolute;
        bottom: -1rem;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:read-only {
        background-color: #ccc;
      }
    }
  }

  button.btn-primary {
    margin: auto;
    width: 20%;
    background: linear-gradient(to bottom, #00a1f8, #007bf5);
   

    &:hover {
      color: #ffce51;
    }
  }
}

.copyBtn {
  padding: 8px 20px;
  background: linear-gradient(180deg, #e7b823 0%, #c97705 100%);
  border-radius: 3px;
  margin-bottom: 16px;
  color: #fff;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: #fff5c0;
    background: linear-gradient(90deg, #e7b823 0%, #c97705 100%);
  }
}

#recRegisterUrl {
  width: 100px;
  opacity: 0;
  pointer-events: none;
}
}
</style>