<template>
  <div class="mt-4">
    <div class="userInfo d-flex">
      <div class="userInfo-leftNav pt-4">
        <ol class="list-group list-group-numbered">
          <router-link :to="{ name: DomainLayoutId+ 'HistoryStakeRecord' }" class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">{{ $t("bet_history") }}</div>
            </div>
            <span v-if="$route.fullPath === '/MemberCentre/History/HistoryStakeRecod'"><font-awesome-icon icon="fa-solid fa-chevron-right" /></span>
          </router-link>
          <router-link :to="{ name: DomainLayoutId + 'TransactionDetails' }" class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">{{ $t("funding_details") }}</div>
            </div>
            <span v-if="$route.fullPath === '/MemberCentre/History/TransactionDetails'"><font-awesome-icon icon="fa-solid fa-chevron-right" /></span>
          </router-link>
        </ol>
      </div>
      <router-view />
    </div>
  </div>
</template>

<script setup>
import { computed } from 'vue';
import { useStore } from 'vuex';

const store = useStore();
const DomainLayoutId = computed(() => store.state.DomainLayoutId);
</script>

<style lang="scss" scoped>
.outSideControl {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 0 50px 0;
  margin-top: 0px !important;
  //background-color: #FFCE51;
}

.userInfo-leftNav {
  width: 20%;
  background: #1C4F3E;
  border: 1px solid #61C3A7;



  .list-group-item {
    cursor: pointer;
    border: none;
    background-color: transparent;

    &.active {
      margin-top: 0;
      color: #FFCE51;
      border: none;
      background: linear-gradient(to top, #171c1c, #004d3d);
      cursor: default;

      &:hover {
        color: #FFCE51;
      }

    }

    &:hover {
      color: #FFCE51;
    }

    span {
      color: #fff;
    }
  }

  .router-link-active {
    margin-top: 0;
    color: #ffce51;
    border: none;
    background: linear-gradient(to top, #171c1c, #004d3d);
    cursor: default;

    &:hover {
      color: #ffce51;
    }
  }
}
</style>