<template>
  <div class="userInfo-middleContent">
    <div class="bet-record">

      <div class="select-option mt-3">
        <div class="currency-select d-flex">
          <a href="javascript:void(0)" class="button lan-button" :class="[showPopup ? 'show-popup' : '']" @mouseleave="showPopup = false">
            <div class="d-flex" @click="showPopup = true">
              <div class="ml-2">
                <span>{{ walletTypeName(wlletRecordReq.type) || $t("all") }}</span>
              </div>
            </div>
            <span @click="showPopup = true" class="fa-solid fa-caret-down"><font-awesome-icon icon="fa-solid fa-caret-down" /></span>

            <div class="subLanMenu">
              <a class="lang-option" @click="selectWalletType(0)">{{ $t("all") }}</a>
              <!-- 錢包異動類型 -->
              <template v-for="(item) in typeMenu" :key="item">
                <a class="lang-option" @click="selectWalletType(item)">{{ walletTypeName(item) }}</a>
              </template>
            </div>
          </a>

        </div>

        <div class="date-select">
          <span @click="selectDate(1)">{{ $t("today") }}</span> |
          <span @click="selectDate(2)">{{ $t("yesterday") }}</span> |
          <span @click="selectDate(3)">{{ $t("last7Days") }}</span> |
          <span @click="selectDate(4)">{{ $t("last30Days") }}</span>
          <VueDatePicker v-model="date" :dark="false" :enable-time-picker="false" :clearable="false" range multi-calendars format="yyyy-MM-dd" @update:model-value="selectDatePicker"></VueDatePicker>
        </div>
      </div>

      <div>
        <div class="table-overflow scrollbar">
          <div class="css_table">
            <div class="css_th">
              <div class="css_td">{{ $t("transaction_number") }}</div>
              <div class="css_td">{{ $t("time") }}</div>
              <div class="css_td">{{ $t("type") }}</div>
              <div class="css_td">{{ $t("currency_catagory") }}</div>
              <div class="css_td">{{ $t("amount") }}</div>
              <div class="css_td">{{ $t("discounted_price") }}</div>
              <div class="css_td">{{ $t("promotional_information") }}</div>
            </div>

            <template v-if="wlletRecordResp.length > 0">
              <div class="css_tr" v-for="(item) in wlletRecordResp" :key="item">
                <div class="css_td">{{ item.orderId }}</div>
                <div class="css_td">{{ unixToLocal(item.createTime) }}</div>
                <div class="css_td">{{ walletTypeName(item.type) }}</div>
                <div class="css_td">{{ item.currency.currencyId
                }}{{ item.currency.protocol ? '(' + item.currency.protocol + ')' : '' }}</div>
                <div class="css_td">{{ stringToMoney(item.amount) }}</div>
                <div class="css_td">{{ stringToMoney(item.discountAmount) }}</div>
                <div v-if="item.type !== 3" class="css_td">-</div>
                <div v-else class="css_td">
                  <button class="promotion-detail-btn" @click="selectWalletRecordData(item)" :data-bs-target="'#PromotionDetailPop'" data-bs-toggle="modal">{{ $t("detailsInfo") }}</button>
                </div>
              </div>
            </template>

            <template v-else>
              <div class="no-data">
                <img src="@/assets/img/common/history-nodata.png" alt="">
                <div>{{ $t("no_data")}}</div>
              </div>
            </template>

          </div>

        </div>
        <!-- 分頁 -->
        <div v-if="totalCount>0" class="paginateWrapper d-flex align-items-center justify-content-center mt-3 pt-4">
          <vue-awesome-paginate :total-items="totalCount" :items-per-page="wlletRecordReq.pageSize" v-model="wlletRecordReq.pageIndex" :on-click="changePage" />
          <div class="total-count">{{$t('totalStart') + ' ' + totalCount + ' ' + $t('totalEnd')}}</div>
        </div>

      </div>

    </div>
    <PromotionDetail :promoDetail = "selectedWalletRecordData.promotionInfo"></PromotionDetail>

    <!-- 加載 -->
    <loading v-model:active="isLoading" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />

  </div>
</template>

<script>
// 錢包異動紀錄
export class WalletRecordReq {
  sessionKey = '';
  orderId = '';
  type = 0;
  startTime = 0;
  endTime = 0;
  pageIndex = 1;
  pageSize = 10;
  currencyNo = 0;
}
</script>

<script setup>
import { ref, reactive, onMounted } from 'vue';
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'
import moment from "moment";
import apiService from '@/api/apiService';
import common from "@/utils/common";
import Loading from 'vue-loading-overlay';
import PromotionDetail from '@/components/memberCentre/PromotionDetail.vue'

const showPopup = ref(false);
const date = ref();
const wlletRecordReq = reactive(new WalletRecordReq());
const wlletRecordResp = reactive([]);
const isLoading = ref(false);
const totalCount = ref(0);
const { errorHandling, unixToLocal, stringToMoney, walletTypeName, userLogout } = common();
const typeMenu = reactive([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 17, 23, 24, 25, 26 ,27]);
const selectedWalletRecordData = ref({})

function selectWalletRecordData(item) {
  selectedWalletRecordData.value = item
}


// 取得錢包異動紀錄
function getWalletRecord() {
  if (wlletRecordReq.type == 0) wlletRecordReq.type = null;
  if (wlletRecordReq.orderId == '') wlletRecordReq.orderId = null;

  wlletRecordReq.sessionKey = localStorage.getItem("sessionKey");
  wlletRecordReq.currencyNo = Number(localStorage.getItem("currencyNo"));
  isLoading.value = true;
  wlletRecordResp.splice(0);
  apiService.post('/Record/Wallet', wlletRecordReq).then((res) => {
    res.data.datas.forEach(element => {
      wlletRecordResp.push(element);
    });
    totalCount.value = res.data.totalCount;
  }).catch((err) => {
    errorHandling(err);
  }).finally(() => {
    isLoading.value = false;
  });
}

// 選擇錢包異動類型
function selectWalletType(value) {
  showPopup.value = false;
  if (wlletRecordReq.type != value) {
    wlletRecordReq.type = value;
  }
  query();
}

// 切換特定日期
function selectDate(value) {
  let startDate = moment().startOf('day');
  let endDate = moment().endOf('day');
  switch (value) {
    case 1: // 今日
      break;
    case 2:// 昨天
      startDate = startDate.add(-1, 'day');
      endDate = endDate.add(-1, 'day');
      break;
    case 3:// 近7天
      startDate = startDate.add(-6, 'day');
      break;
    case 4:// 近30天
      startDate = startDate.add(-29, 'day');
      break;
    default:
      break;
  }
  date.value = [startDate.toDate(), endDate.toDate()];
  query();
}

// 切換元件日期
function selectDatePicker(datepicker) {
  if (datepicker[1] == null)
    datepicker[1] = datepicker[0];
  datepicker[1] = moment(datepicker[1].getTime()).endOf('day').toDate();
  query();
}

// 換頁
function changePage(value) {
  wlletRecordReq.pageIndex = value;
  getWalletRecord();
}

// 查詢
function query() {
  let startTime = date.value[0].getTime();
  let endTime = date.value[1].getTime();

  if (startTime != wlletRecordReq.startTime || endTime != wlletRecordReq.endTime) {
    wlletRecordReq.startTime = startTime;
    wlletRecordReq.endTime = endTime;
  }

  wlletRecordReq.pageIndex = 1;
  getWalletRecord();
}


onMounted(() => {
  if (!localStorage.getItem("sessionKey")) { userLogout(); return; }
  const startDate = moment().startOf('day').toDate();
  const endDate = moment().endOf('day').toDate();
  date.value = [startDate, endDate];
  query();
})


</script>
<style lang="scss" scoped>
.userInfo-middleContent {
  position: relative;
  background-color: #2a3f3a;
  width: 80%;
  padding: 0 2rem;

  .breadcrumb {
    background: none;

    .breadcrumb-item.active {
      cursor: pointer;

      &:hover {
        color: #ffce51;
      }
    }
  }

  .sport-historyBtn {
    text-align: end;
    margin-bottom: 1rem;

    .button {
      background: #1c1b27;
      border: 1px solid rgba(197, 185, 211, 0.3);
      border-radius: 20px;
      box-shadow: none;

      &:hover {
        color: #d9d9d9;
      }

      &.active {
        cursor: default;
        color: #ffce51;
        background: linear-gradient(180deg, #91063a 0%, #780f47 100%);
        margin-right: 1rem;
      }
    }
  }

  .select-option {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    .date-select {
      display: flex;
      align-items: center;

      span {
        cursor: pointer;
        white-space: nowrap;
        margin: 0 0.5rem;

        &:hover {
          color: #ffce51;
        }

        &.active {
          color: #ffce51;
        }
      }

      .dp__main {
        padding-right: 1rem;

        .dp__input_wrap {
          margin-left: 1rem;

          .dp__input {
            font-size: 0.85rem;
            border-radius: 20px;
            padding-right: 2rem;
          }
        }
      }
    }

    .currency-select {
      width: 20%;

      a.lan-button {
        position: relative;
        width: 100%;
        display: block;
        background: #fff;
        border: 0.25px solid rgba(197, 185, 211, 0.3);
        border-radius: 30px;
        box-shadow: none;
        text-align: start;
        color: #000;

        img {
          width: 20px;
        }

        .notice {
          color: #6f6f6f;
        }

        .fa-caret-down {
          position: absolute;
          top: 7px;
          right: 5px;
          color: #b8b8b8;
          font-size: 1.3rem;
        }
      }

      .subLanMenu {
        position: absolute;
        right: 0;
        top: 45px;
        opacity: 0;
        visibility: hidden;
        min-width: auto;
        background-color: #fff;
        z-index: 10;
        transition: all 0.3s ease-in-out;
        width: 100%;
        height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
        color: #000;

        .lang-option {
          cursor: pointer;
          display: block;
          text-align: start;
          padding: 1rem;
          color: #000;

          img {
            width: 20%;
          }
        }
      }

      a.lan-button.show-popup .subLanMenu {
        opacity: 1;
        visibility: visible;
        color: #000;
      }

      a.lan-button.show-popup .subLanMenu a:hover {
        color: #ffce51;
        background: #2d6151;
      }
    }
  }

  .table-overflow {
    height: auto;
    border-collapse: collapse;
    overflow-x: auto;

    .css_table {
      width: 100%;
      display: table;
      color: #ffffff;
      text-align: center;
      background: #1c1b27;
    }

    .css_th {
      position: sticky;
      top: 0px;
      display: table-row;
      padding: 1rem 0;
      background: #234a3c;
      border-bottom: 0.5px solid #4fac91;
    }

    .css_tr {
      display: table-row;
      background: #0d1c17;

      &:hover {
        background: #2a3f3a94;
      }
    }

    .css_td {
      display: table-cell;
      padding: 0.4rem;
      white-space: nowrap;
      font-size: 0.8rem;
      vertical-align: middle;
      &.betTime {
        white-space: break-spaces;
        width: 100px;
      }

      img {
        max-width: 100%;
        vertical-align: middle;
      }
    }
    .no-data {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      img {
        width: 100%;
      }
    }
  }
  .paginateWrapper {
    position: relative;
    .total-count {
      position: absolute;
      right: 0;
      top: -10px;
    }
  }
}

.pageSelect {
  background: #fff;
  color: #000;
  padding: 0.5rem;
  margin-left: 1rem;
  text-align: center;
}

.router-link-active {
  cursor: default;
  background: linear-gradient(180deg, #e1f3ed 0%, #87cdb7 2.6%, #2f8e7e 100%);
}

.accordion {
  --bs-accordion-color: #fff;
  --bs-accordion-bg: #474257;
  --bs-accordion-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-border-color: var(--bs-border-color);
  --bs-accordion-border-width: 1px;
  --bs-accordion-border-radius: 0.375rem;
  --bs-accordion-inner-border-radius: calc(0.375rem - 1px);
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-btn-color: #fff;
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  // --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23212529%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e);
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  // --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%230c63e4%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e);
  --bs-accordion-btn-focus-border-color: #86b7fe;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: #0c63e4;
  --bs-accordion-active-bg: #e7f1ff;

  .accordion-item {
    color: var(--bs-accordion-color);
    background-color: var(--bs-accordion-bg);
    border: var(--bs-accordion-border-width) solid
      var(--bs-accordion-border-color);
  }

  .accordion-item:first-of-type {
    border-top-left-radius: var(--bs-accordion-border-radius);
    border-top-right-radius: var(--bs-accordion-border-radius);
  }

  .accordion-item:last-of-type {
    border-bottom-right-radius: var(--bs-accordion-border-radius);
    border-bottom-left-radius: var(--bs-accordion-border-radius);
  }

  .accordion-header {
    margin-bottom: 0;
  }

  .accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 30%;
    margin: auto;
    padding: var(--bs-accordion-btn-padding-x);
    font-size: 1rem;
    color: var(--bs-accordion-btn-color);
    text-align: left;
    background-color: var(--bs-accordion-btn-bg);
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
  }

  [type='button']:not(:disabled),
  button:not(:disabled) {
    cursor: pointer;
  }

  .accordion-button::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: '';
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
  }

  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: var(--bs-accordion-btn-icon-transform);
  }

  .table-overflow {
    padding: 0;
  }
}


.promotion-detail-btn{
  background: linear-gradient(180deg, #e7b823 0%, #c97705 100%);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}



:deep(.dp__main.dp__theme_light) {
  .dp__input_wrap {
    width: 106%;
    .dp__pointer {
      border-radius: 30px;
    }
  }
}
:deep(ul#componentContainer) {
  column-gap: 10px;
}
:deep(ul#componentContainer .paginate-buttons) {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  cursor: pointer;
  background: #2d6151;
  color: #fff;
  margin: 0 0.2rem;
  white-space: nowrap;
}
:deep(ul#componentContainer .paginate-buttons:hover) {
  background: #306958 !important;
}
:deep(ul#componentContainer .paginate-buttons.active-page) {
  background-color: #50ab90 !important;
  color: white !important;
}
.scrollbar-x::-webkit-scrollbar-track,
.scrollbar::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #004d3e;
}

.scrollbar-x::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: linear-gradient(90deg, #004d3e 2.85%, #04bb97 97.76%);
}
.scrollbar-x::-webkit-scrollbar,
.scrollbar::-webkit-scrollbar {
  height: 8px;
  border-radius: 5px;
  background-color: #293d7a;
}

//aad的css
.aad,
.aae, .aag{
    .userInfo-middleContent {

    
    .sport-historyBtn .button {
      background: #6e6e6e;
      &.active {
          background: #f1ac33;
          color: #fff;
        }
    }
      .css_table {
      background: #333333;
      .css_td {
        background: #6e6e6e;
      }
      .css_th .css_td{
        background: #15171a;
        border-right: none;
        border-bottom: 0.5px solid #616161;

      }
      
    }
    :deep(ul#componentContainer .paginate-buttons) {
      height: 40px;
      width: 40px;
      border-radius: 5px;
      cursor: pointer;
      background: #5c5c5c;
      color: #fff;
      margin: 0 0.2rem;
      white-space: nowrap;
    }
    :deep(ul#componentContainer .paginate-buttons:hover) {
      background: #f2ad40  !important;
    }
    :deep(ul#componentContainer .paginate-buttons.active-page) {
      background-color: #adadad !important;
      color: rgb(53, 53, 53) !important;
    }
  }
}
.aad,
.aae, .aag{
  .userInfo-middleContent .select-option .currency-select a.lan-button.show-popup .subLanMenu a:hover{
    background: #f1ac33;
    color:white;
  }

}

</style>