
<template>
    <div class="conatiner">
      判斷網頁是否使用 App Webview 開啟，桌機=沒資料、手機開網頁=false、app開啟=true
      <p>window.navigator.standalone：{{ window_navigator_standalone }}</p>
      
      <p>navigator.userAgent：{{window_navigator_userAgent}}</p>
      -----------
      <p>isAppWebview：{{isAppWebview}}</p>
      <p>isIOS：{{isIOS}}</p>
      <p>isAndroid：{{isAndroid}}</p>
      <p>isDesktop：{{isDesktop}}</p>
    </div>
  </template>
  <script setup>
    import { ref } from 'vue';
    let window_navigator_standalone = ref(window.navigator.standalone);
    let window_navigator_userAgent = ref(window.navigator.userAgent)
    var isAppWebview = ref(window.navigator.standalone);
    const isIOS = ref(/(iphone|ipad|ipod)/i.test(navigator.userAgent));
    const isAndroid = ref(/(android)/i.test(navigator.userAgent));
    const isDesktop = ref(!isIOS.value && !isAndroid.value);
  
  </script>
  <style lang="scss" scoped>
  
  </style>
    
  
    