<template>
  <main v-if="status" class="main-content">
    <div class="container">
      <div class="info">
        <div class="col-sm-12-text">
          <div class="logoBoxMotion">
            <div class="logo">
              <div class="logoEffect"></div>
              <img :src="logo?.imageUrl" alt="">
            </div>
          </div>
          <div class="appTitle mb-4">
            <h1>{{siteSettingsInfo.webTitle}} APP</h1>
            <div class="description">
              <p>{{ $t("appDownloadtxt01") }}&nbsp;&nbsp;&nbsp;&nbsp;{{ $t("appDownloadtxt02") }}</p>
            </div>
          </div>
          <div class="download-c-tab">
            <div class="xz-button">
              <ul>
                <li class="btnBoxOut motion01" v-if="siteSettingsInfo.iosAppLink!==''">
                  <a :href="siteSettingsInfo.iosAppLink" target="_blank" class="btnBox">
                    <img src="@/assets/img/icon/icon_app.svg" class="iconBox">
                    {{$t("iosDownLoadUrl")}}
                  </a>
                  <div class="qrcodeBox">
                    <div class="qrcodeArrow">
                      <img src="@/assets/img/icon/arrow-L.svg">
                    </div>
                    <qrcode :value="siteSettingsInfo.iosAppLink"></qrcode>
                  </div>
                </li>
                <li class="btnBoxOut motion02" v-if="siteSettingsInfo.apkLink!==''">
                  <a :href="siteSettingsInfo.apkLink" target="_blank" class="btnBox">
                    <img src="@/assets/img/icon/icon_an.svg" class="iconBox">
                    {{$t("azDownLoadUrl")}}
                  </a>
                  <div class="qrcodeBox type02">
                    <div class="qrcodeArrow">
                      <img src="@/assets/img/icon/arrow-R.svg">
                    </div>
                    <qrcode :value="siteSettingsInfo.apkLink"></qrcode>
                  </div>

                </li>
                <li class="btnBoxOut motion03" v-if="siteSettingsInfo.customerServiceUrl!==''">
                  <a :href="siteSettingsInfo.customerServiceUrl" target="_blank" class="btnBox">
                    <img src="@/assets/img/icon/icon_service.svg" class="iconBox">
                    {{$t("serviceUrl")}}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- 加載 -->
  <loading v-model:active="isLoading" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />
</template>
<script setup>
import { ref, onBeforeMount } from "vue";
import apiService from '@/api/apiService'
import Qrcode from 'vue3-qrcode';
import Loading from 'vue-loading-overlay';
import common from "@/utils/common";

const { errorHandling } = common();
const isLoading = ref(false);

let DomainLayoutId = '';
const status = ref(false);
const logo = ref('');
const siteSettingsInfo = ref('');



const getVersion = async () => {
  isLoading.value = true;
  const hostname = window.location.hostname;
  const hostnameArr = hostname.split(".");
  const length = hostnameArr.length;
  let domain;
  if (length > 2) {
    domain = hostnameArr[length - 2].concat(".", hostnameArr[length - 1]);
  }
  else {
    domain = hostname
  }
  const params = {
    domain
  }

  try{
    let resp = await apiService.post('/SiteSetting/Domain/Info', params);
    DomainLayoutId = resp.data.domainLayoutId;
  } catch(err){
    errorHandling(err);
  }

  isLoading.value = false;

}


// 取得站台資訊及連結資料
const getSiteSettingInfo = async () => {
  try{
    let resp = await apiService.post('/SiteSetting/Info', {
      DomainLayoutId: DomainLayoutId
    })

    siteSettingsInfo.value = resp.data;
  }
  catch(err){
    errorHandling(err);
  }

}

const getDownloadPageLogo = async () => {
  const params = {
      deviceType: 1, //0=app 1=pc
      lang: localStorage.getItem("locale") ?? 'en',
      DomainLayoutId: DomainLayoutId
    }
    try{
      let resp = await apiService.post('/Billboard/List', params);
      return resp.data.datas.find(item => item.placeId === 25);
    }
    catch(err){
      console.log(err)
    }  
}

const setWebNameAndIco = () => {
  document.title = siteSettingsInfo.value.webTitle;

  let link = document.createElement('link');
  link.rel = 'icon';
  document.head.appendChild(link);
  link.href = siteSettingsInfo.value.webTitleIco;
}

onBeforeMount( async () => {
  await getVersion();
  await getSiteSettingInfo();
  setWebNameAndIco();
  logo.value = await getDownloadPageLogo();
  status.value = true;
})





</script>

<style lang="scss" scoped>
.main-content {
  min-height: 100vh;
  background-image: url('@/assets/img/APP/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 60px;
}

.container {
  width: 1170px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  display: flex;
  justify-content: center;
  .info {
    display: flex;
    justify-content: center;
  }

  .col-sm-12-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    //background-color: brown;

    .logoBoxMotion {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .logo {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      //box-sizing: border-box;
      margin: 10px 0 0 0;
      animation-name: m01;
      animation-duration: 0.5s;
      animation-delay: 0s;
      animation-iteration-count: 1;
      scale: 0.001;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      border-radius: 15px;
      overflow: hidden;
      width: 200px;

      @keyframes m01 {
        0% {
          scale: 0.01;
        }

        100% {
          scale: 1;
        }
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 15px;
        overflow: hidden;
      }

      .logoEffect {
        position: absolute;
        width: 100px;
        height: 150%;
        //background-color: aquamarine;
        background-image: linear-gradient(
          to right,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0.5),
          rgba(255, 255, 255, 0)
        );
        animation-name: logo01;
        animation-duration: 4s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
        scale: 1;
        animation-timing-function: linear;
        animation-fill-mode: inherit;
        opacity: 1;
        transform: translate(-200%, 0);

        @keyframes logo01 {
          0% {
            transform: rotate(45deg) translate(-200%, 0);
            opacity: 0;
          }

          40% {
            transform: rotate(45deg) translate(-200%, 0);
            opacity: 0.8;
          }

          60% {
            transform: rotate(45deg) translate(200%, 0);
            opacity: 0.8;
          }

          100% {
            transform: rotate(45deg) translate(200%, 0);
            opacity: 0;
          }
        }
      }
    }

    .appTitle {
      animation-name: m11;
      animation-duration: 0.5s;
      animation-delay: 0.2s;
      animation-iteration-count: 1;
      scale: 0.001;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation: m11 0.5s 0.4s 1 forwards ease-in-out,
        m11-02 2s 5s infinite ease-in-out;
      text-align: center;
      h1{
        color:white;
      }
      
      @keyframes m11 {
        0% {
          scale: 0.01;
        }

        100% {
          scale: 1;
        }
      }

      @keyframes m11-02 {
        0% {
          top: -7%;
          scale: 1;
        }

        50% {
          top: -10%;
          scale: 1.05;
        }

        100% {
          top: -7%;
          scale: 1;
        }
      }
    }

    h1 {
      font-weight: 300;
      font-size: 58px;
      line-height: 58px;
      margin-top: 10px;
    }

    .description {
      color: #fff;
      margin: 26px 0 30px 0;
      font-size: 22px;
      line-height: 36px;
    }

    .download-c-tab {
      //width: 475px;
      margin: 10px auto 0;
      //overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      ul{
        padding: 0;
      }
    }
  }
  @media screen and (max-width: 767px) {
    .col-sm-12-text {
      .logo {
        width: 160px;
      }
      h1 {
        font-size: 40px;
      }
      .description {
        margin: 18px 0 22px 0;
      }
    }
  }
}
.btnBoxOut {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-name: word01;
  opacity: 0;
  @keyframes word01 {
    0% {
      transform: translate(-50%, 0);
      opacity: 0;
    }

    100% {
      transform: translate(0%, 0);
      opacity: 1;
    }
  }
  &.motion01 {
    animation-delay: 1s;
  }
  &.motion02 {
    animation-name: word02;
    animation-delay: 1.2s;
    @keyframes word02 {
      0% {
        transform: translate(50%, 0);
        opacity: 0;
      }
      100% {
        transform: translate(0%, 0);
        opacity: 1;
      }
    }
  }

  &.motion03 {
    animation-delay: 1.4s;
  }
  .qrcodeBox {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    width: 160px;
    height: 160px;
    background-color: #fff;
    transform: translate(-180px, -50%);
    border-radius: 15px;
    z-index: 10;
    &.type02 {
      transform: translate(335px, -50%);
      .qrcodeArrow {
        transform: translate(-94px, -50%);
      }
    }
    .qrcodeArrow {
      display: block;
      position: absolute;
      top: 50%;
      z-index: 10;
      transform: translate(95px, -50%);
      img {
        width: 30px;
        height: auto;
      }
    }
  }
  .btnBox {
    background: #fff;
    color: #363646;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 16, 42, 0.35);
    opacity: 0.7;
    width: 320px;
    line-height: 1.2;
    padding: 17px 20px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    transition: 0.2s;
    &:hover {
      opacity: 1;
      scale: 1.05;
    }
    .iconBox {
      width: 50px;
      margin-right: 5px;
    }
  }
  @media screen and (max-width: 767px) {
    .qrcodeBox {
      position: static;
      transform: none !important;
      margin: auto;
      margin-top: 20px;
      .qrcodeArrow {
        display: none;
      }
    }
    .btnBox {
      &:hover {
        opacity: 0.7;
        scale: 1;
      }
      .iconBox {
        width: 36px;
      }
    }
  }
  @media screen and (max-width: 575px) {
    .btnBox {
      width: 300px;
    }
  }
}
</style>