<template>
  <div class="bg">
    <button class="btn btn-primary" v-if="!hasLogin" @click="login">FB登入</button>
    <button class="btn btn-secondary" v-if="hasLogin" @click="loginOut">登出</button>
    <pre>{{data}}</pre>
  </div>
</template>

<style> 
  .bg{
    width: 100%;
    height: 100vh;
    background-color: white;
  }
</style> 

<script setup>
import { ref } from "vue";
const hasLogin = ref(false)
const data = ref('');
const login = () => {
  
  window.FB.login(function(response){
    if (response.status === 'connected') {
      hasLogin.value = true;
      data.value = response
      // window.FB.api("/me?fields=name,id,email", function(res) {
      //   console.log('res', res);
      //   name.value = res.name
      // });
    }
    
  },{ scope: "public_profile" });
}
const loginOut = () => {
  window.FB.logout(function(response){
    console.log(response);
    hasLogin.value = false;
    window.FB.api("/me/permissions", "DELETE", function() {
      // 用戶登出
      window.FB.logout();
    });
  });
}




  window.fbAsyncInit = function() {
    window.FB.init({
      appId: window.webconfig.facebookAppId,
      cookie: true,
      xfbml: true,
      version: "v17.0",
    });

    window.FB.AppEvents.logPageView();
  };

  (function(d, s, id) {
    var js,
      fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
      return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  })(document, "script", "facebook-jssdk");
</script>