<template>

  <body style="margin:0;">
    <div id="loader">
      <div class="loader-circle"></div>
    </div>
    <form name="postForm" id="postForm" method="post" :action="apiUrl">
      <input type="hidden" name="lang" :value="lang" />
      <input type="hidden" name="login_id" :value="loginId" />
      <input type="hidden" name="session_id" :value="sessionId" />
    </form>
  </body>
</template>
   
<script setup>
import { ref, onMounted, onUpdated } from "vue";
import { useRoute } from "vue-router";
import apiService from "@/api/apiService";
import common from "@/utils/common";

const { errorHandling } = common();
const route = useRoute();
const queryToken = ref(route.query.token);
const queryGameThirdPartyId = ref(route.query.gameThirdPartyId);
const apiUrl = ref("");
const lang = ref("");
const loginId = ref("");
const sessionId = ref("");
const isOK = ref(false);

const hideLoader = () => {
  const loader = document.getElementById("loader");
  loader.style.display = "none";
}

const getData = () => {
  let params = {
    token: queryToken.value,
    gameThirdPartyId: queryGameThirdPartyId.value,
  };

  apiService
    .post("Game/Launch", params)
    .then((res) => {
      apiUrl.value = res.data.apiUrl;
      lang.value = res.data.lang;
      loginId.value = res.data.loginId;
      sessionId.value = res.data.sessionId;
      isOK.value = true;
    })
    .catch((err) => {
      errorHandling(err);
    }).finally(() => {
      hideLoader();
    });
};

onUpdated(() => {
  if (isOK.value) {
    document.getElementById("postForm").submit();
  }
});

onMounted(() => {
  getData();
});
</script>

<style lang="scss" scoped>
#loader{
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.95);
  .loader-circle{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
    border: 3px solid rgba(255,255,255,0.25);
    border-radius: 50%;
    border-top: 3px solid white;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
</style>