
<template>
    <div class="bg">
      <GoogleLogin :callback="callback1" />
      <pre>
        {{ data1 }}
      </pre>


      <GoogleLogin :callback="callback2">
        <button class="btn btn-primary w-100">使用 Google 進行登入</button>
      </GoogleLogin>
      <pre>
        {{ data2 }}
      </pre>


      <GoogleLogin :callback="callback3" popup-type="TOKEN">
        <button class="btn btn-primary w-100">使用 Google 進行登入</button>
      </GoogleLogin>
      <pre>
        {{ data3 }}
      </pre>

    </div>
</template>

<style> 
  .bg{
    width: 100%;
    height: 100vh;
    background-color: white;
  }
</style>

<script setup>
import { ref } from 'vue'
const data1 = ref('')
const data2 = ref('')
const data3 = ref('')

const callback1 = (response) => {
  data1.value = response
}

const callback2 = (response) => {
  data2.value = response
}
const callback3 = (response) => {
  data3.value = response
}
</script>
    
  
    