<template>
  <div id="loader">
    <div class="loader-circle"></div>
  </div>
</template>
<script setup>
import { onMounted } from 'vue';
import apiService from '@/api/apiService';
import common from "@/utils/common";
import { useRouter } from "vue-router";
import Swal from "sweetalert2";
import { useI18n } from "vue-i18n";

const { errorHandling } = common();
const router = useRouter();
const { t } = useI18n();

const getVersion = () => {
  const hostname = window.location.hostname;
  const hostnameArr = hostname.split(".");
  const length = hostnameArr.length;
  let domain;
  if (length > 2) {
    domain = hostnameArr[length - 2].concat(".", hostnameArr[length - 1]);
  }
  else {
    domain = hostname
  }

  const params = {
    domain
  }

  apiService.post('/SiteSetting/Domain/Info', params).then((res) => {
    hideLoader();
    if (res.data !=null && res.data.domainLayoutId !=null)
      router.push({ path: '/' + res.data.domainLayoutId });
    else
      Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error"); 


  }).catch((err) => {
    errorHandling(err);
  });
}
const hideLoader = () => {
  const loader = document.getElementById("loader");
  loader.style.display = "none";
}

onMounted(() => {
  getVersion();
});
</script>
<style lang="scss" scoped>
#loader{
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.95);
  .loader-circle{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
    border: 3px solid rgba(255,255,255,0.25);
    border-radius: 50%;
    border-top: 3px solid white;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
</style>