<template>
  <div id="loader">
    <div class="loader-circle"></div>
  </div>
</template>
   
<script setup>
import { useRoute } from 'vue-router'

const route = useRoute();
const queryString = route.query.u;
window.location.replace(queryString);
</script>

<style lang="scss" scoped>
#loader{
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.95);
  .loader-circle{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
    border: 3px solid rgba(255,255,255,0.25);
    border-radius: 50%;
    border-top: 3px solid white;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


</style>