<template>
  <div class="mybody">
    <div class="mainteanae-wrapper">
      <div class="mainteanae-contain">
        <div class="mainteanceImg">
          <img src="@/assets/img/maintain/mainteance.png" alt="">
        </div>
        <div class="mainteanceNotice">
          <p>网站维护中，请稍候再进入游戏。</p>
          <p>Website maintenance，</p>
          <p>Please wait a while before entering the game.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { onMounted } from "vue";
import apiService from '@/api/apiService';
import { useRouter } from "vue-router";

const router = useRouter();

const getVersion = () => {
  const hostname = window.location.hostname;
  const hostnameArr = hostname.split(".");
  const length = hostnameArr.length;
  let domain;
  if (length > 2) {
    domain = hostnameArr[length - 2].concat(".", hostnameArr[length - 1]);
  }
  else {
    domain = hostname
  }

  const params = {
    domain
  }
  apiService.post('/SiteSetting/Domain/Info', params).then((res) => {
    if (res.data !=null && res.data.domainLayoutId !=null)
      router.push({ path: '/' + res.data.domainLayoutId });

  }).catch((err) => {
    console.log(err);
  });
}
onMounted(() => {
  getVersion();
});
</script>

<style lang="scss" scoped>
.mybody {
  background: url('@/assets/img/maintain/mainteanceBg.png') no-repeat;
  background-size: cover;
  overflow: hidden;
  color: #fff;
}

.mainteanae-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mainteanae-contain {
  display: flex;
  align-items: center;
}

.mainteanae-contain div {
  margin: 0 1rem;
}
img {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .mainteanae-contain {
    flex-direction: column;
    text-align: center;
  }
}

p {
  font-weight: bolder;
  font-size: 1.2rem;
  margin: 0.35rem;
}
</style>