<template>
  <div v-if="channelAction === 2" class="d-table mx-auto">
    <qrcode :value="qrcodeUrl"></qrcode>
    <p>{{ $t('order_number') + '：' + orderId }}</p>
  </div>

  <button v-if="showClose" class="close" @click="close()">
    {{ $t('close') }}
  </button>

  <div id="loader">
    <div class="loader-circle"></div>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import { useRoute } from 'vue-router';
import { useI18n } from "vue-i18n";
import Swal from "sweetalert2";
import apiService from '@/api/apiService';
import Qrcode from 'vue3-qrcode';

const route = useRoute();
const { t } = useI18n();
const showClose = ref(false);
const channelAction = ref(null);
const orderId = ref('');
const qrcodeUrl = ref('');

function close() {
  window.open('', '_self', '');
  window.close();
}

const hideLoader = () => {
  const loader = document.getElementById("loader");
  loader.style.display = "none";
}

onMounted(() => {
  const sessionKey = localStorage.getItem("sessionKey");

  if (sessionKey == null || sessionKey == "") {
    hideLoader();
    Swal.fire("", t("sportApiThirdPartyCode_invalidToken"), "info");
    return;
  }


  var params = {
    sessionKey: sessionKey,
    payChannelNo: route.query.payChannelNo,     // 支付通道編號
    amount: route.query.amount,                 // 存入金額   
  };

  // 取得遊戲連結
  apiService.post('/OnlineDepositPay/SendOrder', params).then((res) => {
    if(route.query.action == 2){
      channelAction.value = 2;
      orderId.value = res.data.orderId;
      qrcodeUrl.value = res.data.qrcode
    } else {
      if (res.data != null && res.data.payUrl != null)
        window.location.replace(res.data.payUrl);
      else
        Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
    }
  }).catch((err) => {
    if (err.response == null || err.response.status == null) {
      Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
    } else {
      switch (err.response.status) {
        case 400: // 參數錯誤
          Swal.fire("", t("sportApiThirdPartyCode_parameterError"), "error");
          break;
        case 401: // Token 失效
          Swal.fire("", t("sportApiThirdPartyCode_invalidToken"), "info");
          break;
        case 403: // 沒有權限
          Swal.fire("", t("sportApiThirdPartyCode_notAuthorized"), "warning");
          break;
        case 452: // 當前支付類型不可使用
          Swal.fire("", t("terminated"), "warning");
          break;
        case 459: // 通道維護
          Swal.fire("", t("channel_maintenance"), "warning");
          break;
        case 462: // 分站已停用
          Swal.fire("", t("terminated"), "warning");
          break;
        case 499: // IP 系統維護
          Swal.fire("", t("sportApiThirdPartyCode_systemMaintenanceAPIIntegrationFile"), "warning");
          break;
        default: // 系統錯誤 (456:簽名錯誤、457:請求時間錯誤、458:Response錯誤)
          Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
          break;
      }
      showClose.value = true;
    }
  }).finally(() => {
    hideLoader();
  });


});
</script>

<style lang="scss" scoped>
body {
  background: transparent;
  font-family: 'Open Sans';
}

.close {
  background-color: #000;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 400;
  width: 100%;
  height: 100vh;
}

#loader {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.95);

  .loader-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
    border: 3px solid rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    border-top: 3px solid white;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
</style>