<template>
  <button v-if="showClose" class="close" @click="close()">
    {{ $t('close') }}
  </button>

  <div id="loader">
    <div class="loader-circle"></div>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import { useRoute } from 'vue-router';
import { useI18n } from "vue-i18n";
import Swal from "sweetalert2";
import apiService from '@/api/apiService';

const route = useRoute();
const { t, locale } = useI18n();
const showClose = ref(false);

function close() {
  window.open('', '_self', '');
  window.close();
}

const hideLoader = () => {
  const loader = document.getElementById("loader");
  loader.style.display = "none";
}

onMounted(() => {
  const sessionKey = localStorage.getItem("sessionKey");

  if (sessionKey == null || sessionKey == "") {
    hideLoader();
    Swal.fire("", t("sportApiThirdPartyCode_invalidToken"), "info");
    return;
  }

  var params = {
    sessionKey: sessionKey,
    langId: locale.value,                               // 語言
    currencyNo: localStorage.getItem("currencyNo"),     // 貨幣
    gameThirdPartyNo: route.query.gameThirdPartyNo,     // 遊戲館編號
    thirdPartyGameNo: route.query.thirdPartyGameNo,     // 遊戲商遊戲編號
    thirdPartyTableNo: route.query.thirdPartyTableNo,   // 遊戲商遊戲桌編號
  };

  // 取得遊戲連結
  apiService.post('/Game/Url', params).then((res) => {
    if (res.data != null && res.data.gameUrl != null)
      window.location.replace(res.data.gameUrl);
    else
      Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
  }).catch((err) => {
    if (err.response == null || err.response.status == null) {
      Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
    } else {
      switch (err.response.status) {
        case 400: // 參數錯誤
          Swal.fire("", t("sportApiThirdPartyCode_parameterError"), "error");
          break;
        case 401: // Token 失效
          Swal.fire("", t("sportApiThirdPartyCode_invalidToken"), "info");
          break;
        case 459: // 第三方API錯誤
          Swal.fire("", t("third_party_api_error"), "warning");
          break;
        case 460: // 遊戲維護
          Swal.fire("", t("game_maintain"), "warning");
          break;
        case 461: // 遊戲不支援此貨幣
          Swal.fire("", t("gameNoSupportCurrency"), "warning");
          break;
        case 499: // IP 系統維護
          Swal.fire("", t("sportApiThirdPartyCode_systemMaintenanceAPIIntegrationFile"), "warning");
          break;
        default: // 系統錯誤 (456:簽名錯誤、457:請求時間錯誤、458:Response錯誤)
          Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
          break;
      }
      showClose.value = true;
    }
  }).finally(() => {
    hideLoader();
  });


});
</script>

<style scoped>
body {
  background: transparent;
  font-family: 'Open Sans';
}

.close {
  background-color: #000;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 400;
  width: 100%;
  height: 100vh;
}

#loader{
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.95);
  .loader-circle{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
    border: 3px solid rgba(255,255,255,0.25);
    border-radius: 50%;
    border-top: 3px solid white;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

</style>