<template>
  <!-- 登入註冊表單 -->
  <div id="collapseTarget" class="modal collapse fade scrollbar show" v-if="!isSuccess">
    <div class="modal-dialog">
      <div id="bg-video" style="min-width:400px" class="modal-content type02 scrollbar">
        <div class="modal-header justify-content-center pb-4">
          <img :src="logo?.imageUrl" alt="">
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="tab-slider--nav d-flex justify-content-center mb-4">
              <ul class="tab-slider--tabs">
                <li class="tab-slider--trigger active" rel="tab1">{{ $t("registration") }}</li>
              </ul>
            </div>
            <!-- 註冊 -->
            <div class="tab-slider--container">
              <div id="tab1" class="tab-slider--body">
                <form>
                  <div class="mb-3">
                    <input type="text" class="form-control" :placeholder="$t('please_enter_member_account')" v-model="userRegisterReq.account">
                    <span v-show="userRegisterError.account" style="color: red">{{ userRegisterError.account }}</span>
                  </div>
                  <!-- Chrome 自動帶入假的帳密輸入框 -->
                  <input type="text" style="padding: 0;margin: 0;border:0; display: flex; width: 0px; height: 0px;" autocomplete="off">
                  <input type="password" style="padding: 0;margin: 0;border:0; display: flex; width: 0px; height: 0px;" autocomplete="off">
                  <div class="mb-3">
                    <input type="password" class="form-control" :placeholder="$t('pls_enter_password')" autocomplete="off" v-model="registerPassword">
                    <span v-show="userRegisterError.password" style="color: red">{{ userRegisterError.password }}</span>
                  </div>
                  <div class="mb-3">
                    <input type="password" class="form-control" :placeholder="$t('pls_enter_password_again')" autocomplete="off" v-model="confirmPassword">
                    <span v-show="userRegisterError.confirmPassword" style="color: red">{{
									userRegisterError.confirmPassword }}</span>
                  </div>
                  <div class="mb-3">
                    <span>{{ $t('recommendCode') + ' : ' + userRegisterReq.recommendCode }}</span>
                  </div>
                  <div class="mb-3" v-if="siteSettingsInfo.isTelRegister || siteSettingsInfo.isRegisterTelRequired">
                    <MazPhoneNumberInput v-if="countryCodeList.length > 0" :only-countries="countryCodeList.countryCode" :default-country-code="siteSettingsInfo.countryCode" show-code-on-list @update="updatePhoneData($event)" :success="userRegisterReq.phoneIsValid" />
                    <span v-if="userRegisterError.phoneIsValid" style="color: red">{{ userRegisterError.phoneIsValid }}</span>
                  </div>
                  <div class="mb-3" v-if="siteSettingsInfo.isTelRegister">
                    <div class="input-group">
                      <input type="text" class="form-control verification" :placeholder="$t('please_enter_verification_code')" v-model="userRegisterReq.verifyCode">
                      <button class="btn btn-outline-secondary" type="button" @click="postVerifyCode" :disabled="isVerifyCodeSend">{{ $t('send_verify_code') }}</button>
                    </div>
                    <span v-show="userRegisterError.verifyCode" style="color: red">{{ userRegisterError.verifyCode }}</span>
                  </div>
                  <div class="mb-3" v-if="siteSettingsInfo.isRegisterEmailRequired">
                    <input type="text" class="form-control" :placeholder="$t('email')" v-model="userRegisterReq.email">
                    <span v-show="userRegisterError.email" style="color: red">{{ userRegisterError.email }}</span>
                  </div>
                  <div class="mb-3" v-if="siteSettingsInfo.isRegisterRealNameRequired">
                    <input type="text" class="form-control" :placeholder="$t('realName')" v-model="userRegisterReq.realName">
                    <span v-show="userRegisterError.realName" style="color: red">{{ userRegisterError.realName }}</span>
                  </div>
                  <button type="button" class="btn btn-primary w-100 mt-3" @click="userRegister()" :disabled="userRegisterReq.account.length <= 0 || registerPassword.length <= 0 || confirmPassword.length <= 0">
                    {{$t('registration') }}
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <p class="title text-center my-0 overflow-hidden">{{ $t('sponsorship_partner') }}</p>
          <div class="partner-logo d-flex justify-content-center align-items-center mb-3">
            <span class="mx-3">
              <img src="@/assets/img/register/ag-egame.png" alt="">
            </span>
            <span class="mx-3">
              <img src="@/assets/img/register/jdb-egame.png" alt="">
            </span>
            <span class="mx-3">
              <img src="@/assets/img/register/bbin-egame.png" alt="">
            </span>
            <span class="mx-3">
              <img src="@/assets/img/register/cq9-egame.png" alt="">
            </span>
            <span class="mg">
              <img src="@/assets/img/register/microgan-logo.png" alt="">
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 註冊成功 -->
  <div class="success-animation flex-column" v-if="isSuccess">
    <div class="checkmark-box">
      <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
        <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
        <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
      </svg>
      <div class="mt-3">{{ $t('registration_success') }}</div>
    </div>
    <div class="download-c-tab">
      <div class="xz-button">
        <ul>
          <li class="btnBoxOut motion01" v-if="siteSettingsInfo.iosAppLink!==''">
            <a :href="siteSettingsInfo.iosAppLink" target="_blank" class="btnBox">
              <img src="@/assets/img/icon/icon_app.svg" class="iconBox">
              {{$t("iosDownLoadUrl")}}
            </a>
            <div class="qrcodeBox">
              <div class="qrcodeArrow">
                <img src="@/assets/img/icon/arrow-L.svg">
              </div>
              <qrcode :value="siteSettingsInfo.iosAppLink"></qrcode>
            </div>
          </li>
          <li class="btnBoxOut motion02" v-if="siteSettingsInfo.apkLink!==''">
            <a :href="siteSettingsInfo.apkLink" target="_blank" class="btnBox">
              <img src="@/assets/img/icon/icon_an.svg" class="iconBox">
              {{$t("azDownLoadUrl")}}
            </a>
            <div class="qrcodeBox type02">
              <div class="qrcodeArrow">
                <img src="@/assets/img/icon/arrow-R.svg">
              </div>
              <qrcode :value="siteSettingsInfo.apkLink"></qrcode>
            </div>

          </li>
          <li class="btnBoxOut motion03" v-if="siteSettingsInfo.customerServiceUrl!==''">
            <a :href="siteSettingsInfo.customerServiceUrl" target="_blank" class="btnBox">
              <img src="@/assets/img/icon/icon_service.svg" class="iconBox">
              {{$t("serviceUrl")}}
            </a>
          </li>
        </ul>
      </div>
      <a class="backHome" :href="'//' + agentDomain">{{$t("backHome")}}</a>
    </div>
  </div>
  <!-- 加載 -->
  <loading v-model:active="isLoading" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />
</template>

<script >

export class RegisterError {
  account = '';
  password = '';
  confirmPassword = '';
  deviceType = 1;
  phoneIsValid = '';
  verifyCode = '';
  email = '';
  realName = ''
}

</script>

<script setup>
import { ref, reactive, onMounted } from 'vue';
import { useRoute } from 'vue-router'
import { useI18n } from "vue-i18n";
import loading from 'vue-loading-overlay';
import apiService from '@/api/apiService'
import md5 from 'js-md5';
import Swal from "sweetalert2";
import common from "@/utils/common";
import Qrcode from 'vue3-qrcode';
import MazPhoneNumberInput from 'maz-ui/components/MazPhoneNumberInput';
import 'maz-ui/css/main.css';
import '@/assets/aaa/css/app.css'

let DomainLayoutId = '';
const { errorHandling, getCountryCodeList } = common();
const isLoading = ref(false);
const isSuccess = ref(false);
const registerPassword = ref('');
const confirmPassword = ref('');
const route = useRoute();
const { t } = useI18n();
const logo = ref('');
const agentDomain = ref('');
const userRegisterError = reactive(new RegisterError());
const userRegisterReq = reactive({
  account: '',
  password: '',
  recommendCode: '',//??"",
  deviceType: 1, // 裝置(0=App-IOS, 1=PC, 2=App-Android, 3=H5)
  phoneCountryCode: '',
  phoneNumber: '',
  verifyCode: '',
  email: '',
  realName: '',
  phoneIsValid: '',
  domain : ''
});
const siteSettingsInfo = ref('');
const isVerifyCodeSend = ref(false)
const phoneResults = ref('');
const countryCodeList = ref([]);

//更改電話資料
const updatePhoneData = ($event) => {
  phoneResults.value = $event;
  userRegisterReq.phoneCountryCode = $event.countryCallingCode;
  userRegisterReq.phoneNumber = $event.formatNational;
  userRegisterReq.phoneIsValid = phoneResults.value.isValid
}

//發送驗證碼
const postVerifyCode = () => {
  userRegisterError.phoneIsValid = '';
  if (!userRegisterReq.phoneIsValid) {
    userRegisterError.phoneIsValid = t('plz_enter_phone_number');
    return
  }

  isVerifyCodeSend.value = true;
  const params = {
    phoneCountryCode: userRegisterReq.phoneCountryCode,
    phoneNumber: userRegisterReq.phoneNumber.replace(/\s/g, "").replace("-", ""),
    lang: localStorage.getItem('locale'),
    DomainLayoutId: DomainLayoutId
  }

	let targetRegex = new RegExp(countryCodeList.value.find(item => item.code === params.phoneCountryCode).regex); 
 
	if (!targetRegex.test(params.phoneNumber)) { 
		Swal.fire("", t("input_wrong_format"), "warning"); 
		return false; 
	} 

  apiService.post('/User/PhoneVerifyCode/Register', params)
    .then(() => {
      Swal.fire("", t("verification_code_sent_to_mobile"), "success");
    })
    .catch((err) => {
      if (err.response == null || err.response.status == null) {
        console.log(err);
        Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
      } else {
        switch (err.response.status) {
          case 403: // 沒有開放手機註冊功能
            Swal.fire("", t("no_phone_registration"), "warning");
            break;
          case 452: // 該電話號碼已註冊
            Swal.fire("", t("phone_already_registered"), "warning");
            break;
          case 453: // 頻繁發送，請稍後在試
            Swal.fire("", t("frequent_sending_please_try_again_later"), "warning");
            break;
          case 454: // 發送失敗，請稍後在試
            Swal.fire("", t("failed_to_send_plz_try_again_later"), "warning");
            break;
          default:
            errorHandling(err);
            break;
        }
      }
    })
}

// 使用者註冊
const userRegister = () => {
  if (verifyUserRegister()) return;

  userRegisterReq.password = md5(registerPassword.value);

  //userRegisterReq.phoneNumber 送出前格式0911 111 111 要把空格拿掉
  userRegisterReq.phoneNumber = userRegisterReq.phoneNumber.replace(/\s/g, "").replace("-", "");
  userRegisterReq.domain = window.location.hostname;
  userRegisterReq.DomainLayoutId = DomainLayoutId

	let targetRegex = new RegExp(countryCodeList.value.find(item => item.code === userRegisterReq.phoneCountryCode).regex); 
 
	if (!targetRegex.test(userRegisterReq.phoneNumber)) { 
		Swal.fire("", t("input_wrong_format"), "warning"); 
		return false; 
	} 

  apiService.post('/User/Register', userRegisterReq)
    .then((res) => {
      isSuccess.value = true;
      if (res.data.agentDomain === null) {
        const hostname = window.location.host;
        const hostnameArr = hostname.split(".");
        const length = hostnameArr.length;
        if (length > 2) {
          agentDomain.value = hostnameArr[length - 2].concat(".", hostnameArr[length - 1]);
        }
        else {
          agentDomain.value = hostname
        }
      }
      else {
        agentDomain.value = res.data.agentDomain;
      }
      localStorage.setItem('sessionKey', res.data.sessionKey);
    })
    .catch((err) => {
      if (err.response == null || err.response.status == null) {
        console.log(err);
        Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
      } else {
        switch (err.response.status) {
          case 404: // 維護中
            Swal.fire("", t("inMaintenance"), "warning");
            break;
          case 452: // 查無此推薦碼
            Swal.fire("", t("invitation_code_doest_exist"), "warning");
            break;
          case 453: // 已存在帳號
            Swal.fire("", t("member_account_already_exist"), "warning");
            break;
          case 454: // 驗證碼輸入錯誤
            Swal.fire("", t("incorrect_verification_code"), "warning");
            break;
          case 455: // 無效的驗證碼
            Swal.fire("", t("invalid_captcha"), "warning");
            break;
          case 459: // 該電話號碼已註冊
            Swal.fire("", t("phone_already_registered"), "warning");
            break;
          case 460: // 不可使用的真實姓名
            Swal.fire("", t("realname_not_available"), "warning");
            break;
          default:
            errorHandling(err);
            break;
        }
      }
    }).finally(() => {
      isLoading.value = false;
    });
}

// 驗證註冊資料
const verifyUserRegister = () => {
  let hasError = false;
  // 帳號
  let regex = /^[a-zA-Z][a-zA-Z0-9]{5,11}$/;
  if (!regex.test(userRegisterReq.account)) {
    userRegisterError.account = t('cansino_account_rule');
    hasError = true;
  } else {
    userRegisterError.account = '';
  }
  // 密碼
  regex = /^.{6,20}$/;
  if (!regex.test(registerPassword.value)) {
    userRegisterError.password = t('cansino_password_rule');
    hasError = true;
  } else {
    userRegisterError.password = '';
  }
  //確認密碼
  if (registerPassword.value !== confirmPassword.value) {
    userRegisterError.confirmPassword = t('confirm_password_different');
    hasError = true;
  } else {
    userRegisterError.confirmPassword = '';
  }

  //手機驗證碼
  if (siteSettingsInfo.value.isTelRegister) {
    if (userRegisterReq.verifyCode.length === 0) {
      userRegisterError.verifyCode = t('please_enter_verification_code');
      hasError = true;
    } else {
      userRegisterError.verifyCode = '';
    }
  }
  //電話
  if (siteSettingsInfo.value.isRegisterTelRequired || siteSettingsInfo.value.isTelRegister) {
    if (!userRegisterReq.phoneIsValid) {
      userRegisterError.phoneIsValid = t('plz_enter_phone_number');
      hasError = true;
    } else {
      userRegisterError.phoneIsValid = '';
    }
  }
  //信箱
  regex = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
  if (siteSettingsInfo.value.isRegisterEmailRequired) {
    if (userRegisterReq.email.length === 0) {
      userRegisterError.email = t('plz_enter_your_mailbox');
      hasError = true;
    } else if (!regex.test(userRegisterReq.email)) {
      userRegisterError.email = t('mailbox_format_error');
      hasError = true;
    } else {
      userRegisterError.email = '';
    }
  }
  //真實姓名
  if (siteSettingsInfo.value.isRegisterRealNameRequired) {
    if (userRegisterReq.realName.length === 0) {
      userRegisterError.realName = t('plz_enter_your_real_name');
      hasError = true;
    } else {
      userRegisterError.realName = '';
    }
  }
  return hasError;
}

const getVersion = async () => {
  isLoading.value = true;
  const hostname = window.location.hostname;
  const hostnameArr = hostname.split(".");
  const length = hostnameArr.length;
  let domain;
  if (length > 2) {
    domain = hostnameArr[length - 2].concat(".", hostnameArr[length - 1]);
  }
  else {
    domain = hostname
  }
  const params = {
    domain
  }

  try{
    let resp = await apiService.post('/SiteSetting/Domain/Info', params);
    DomainLayoutId = resp.data.domainLayoutId;
  } catch(err){
    errorHandling(err);
  }

  isLoading.value = false;

}

// 取得站台資訊及連結資料
const getSiteSettingInfo = async () => {
  try{
    let resp = await apiService.post('/SiteSetting/Info', {
      DomainLayoutId: DomainLayoutId
    })

    siteSettingsInfo.value = resp.data;
  }
  catch(err){
    errorHandling(err);
  }
}

const getRegisterPageLogo = async () => {
  const params = {
      deviceType: 1, //0=app 1=pc
      lang: localStorage.getItem("locale") ?? 'en',
      DomainLayoutId: DomainLayoutId
    }
    try{
      let resp = await apiService.post('/Billboard/List', params);
      return resp.data.datas.find(item => item.placeId === 15);
    }
    catch(err){
      console.log(err)
    }  
}

const setWebNameAndIco = () => {
  document.title = siteSettingsInfo.value.webTitle;

  let link = document.createElement('link');
  link.rel = 'icon';
  document.head.appendChild(link);
  link.href = siteSettingsInfo.value.webTitleIco;
}

onMounted( async () => {
  await getVersion();
  countryCodeList.value = await getCountryCodeList();
  if (route.query != null && route.query.code != null)
    userRegisterReq.recommendCode = route.query.code;

  await getSiteSettingInfo();
  setWebNameAndIco();
  logo.value = await getRegisterPageLogo();
});

</script>

<style lang="scss" scoped>
$base-margin: 20px;
$blue: #561d7b;
$tab-height: 35px;
$tab-border-radius: 35px;

.scrollbar {
  overflow-y: hidden;
}

.collapse {
  display: block;
  background: url(@/assets/img/register/register-bg.png) no-repeat;
  background-size: cover;
  background-position-x: 100%;
}

.modal-content {
  position: relative;
  width: 100%;
  max-height: 770px;
  overflow: auto;
  height: calc(100vh - 100px);

  &.type02 {
    background-image: url(@/assets/img/register/home-bg2.jpg) !important;
    // background-size: 100% auto !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    //background-color: #122cb3 !important;
  }
  @media screen and (max-width: 767px) {
    height: 100vh;
    padding: 0 !important;
    .container {
      padding: 0;
    }
  }
}

#bg-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  object-fit: fill;
}

.modal-dialog {
  overflow: hidden;
  width: 40%;
  max-width: 700px;
  @media screen and (max-width: 1199px) {
    width: 70%;
  }

  @media screen and (max-width: 991px) {
    width: 100%;
  }

  .modal-content {
    background: #0000000c;
    border: 1px solid $blue;
    padding: 0.5rem 1.5rem 1rem 1.5rem;

    .modal-header {
      border: none;

      img {
        height: 57px;
      }
    }

    p.title::before {
      content: '';
      padding: 1px 77px;
      margin-right: 1rem;
      background: url(@/assets/img/register/singForm-title-before.png) no-repeat center;
    }

    p.title::after {
      content: '';
      padding: 1px 77px;
      margin-left: 1rem;
      background: url(@/assets/img/register/singForm-title-after.png) no-repeat center;
    }

    button.btn-close {
      position: absolute;
      right: 10px;
      top: 10px;
      background: transparent;
      color: #fff;
      font-size: 1.5rem;
    }

    .partner-logo {
      span.mg {
        img {
          height: 40px;
        }
      }

      img {
        height: 53px;
      }
    }
  }
}

.tab-slider--nav {
  width: 100%;
  margin-bottom: $base-margin;
}

.tab-slider--tabs {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  border: 1px solid $blue;
  border-radius: $tab-border-radius;
  overflow: hidden;
  height: $tab-height;
  user-select: none;

  &:after {
    content: '';
    width: 100%;
    background: $blue;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 250ms ease-in-out;
    border-radius: $tab-border-radius;
  }

  &.slide:after {
    left: 50%;
  }
}

.tab-slider--trigger {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5rem;
  padding: 5px 45px 0 45px;
  position: relative;
  z-index: 2;
  cursor: default;
  display: inline-block;
  transition: color 250ms ease-in-out;
  user-select: none;

  &.active {
    color: #fff;
  }
}

.tab-slider--container {
  background: rgba(0, 0, 0, 0.432);
  border-radius: 5px;
  padding: 1.5rem 1rem 1rem 1rem;

  .tab-slider--body {
    margin-bottom: $base-margin;

    .form-control {
      color: #fff;
      background: #000000;
      border: 0.5px solid #b1b1b193;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #d9d9d9;
        font-size: 0.85rem;
      }
    }

    .isTelRegister {
      display: flex;

      .phoneNumber {
        width: 70%;
        border-left: none;
      }

      input.verification {
        width: 70%;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    button.btn-outline-secondary {
      min-width: 200px;
      width: 50%;
      font-size: 0.85rem;
      color: #fbc53c;
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .declaration {
      margin-top: 2rem;

      span {
        color: #1b91ff;
      }
    }

    button.btn-primary {
      background: linear-gradient(
        360deg,
        #122cb3 0%,
        #0055d6 86.98%,
        #6b95ff 100%
      );
      box-shadow: none;
      border-radius: 3px;
      border: none;

      &:hover:not(:disabled) {
        color: #fbc53c;
      }
    }

    .forgetPwd {
      cursor: pointer;
      color: #fbc53c;

      &:hover {
        color: #fff;
      }
    }
  }
}

.vue-tel-input {
  border: 0.5px solid rgba(177, 177, 177, 0.5764705882);
  border-right: none;
  color: #fff;

  .vti__input {
    background: #000000;
    color: #fff;
  }

  .vti__dropdown {
    color: #ffffff;

    .vti__dropdown-arrow {
      color: #ffffff;
    }

    .vti__dropdown-item {
      color: #000;
    }
  }

  &:hover {
    .vti__dropdown-arrow {
      color: #6f4d96;
    }
  }
}

.vl-overlay {
  text-align: center !important;
}

// 如果註冊成功css
.success-animation {
  position: relative;
  z-index: 99999;
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 60px;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-image: url('@/assets/img/APP/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.checkmark {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #4bb71b;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #4bb71b;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
  position: relative;
  top: 5px;
  right: 5px;
  margin: 0 auto;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #4bb71b;
  fill: #fff;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.checkmark-box {
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-name: fade-up;
}

.download-c-tab {
  margin-top: 30px;
}

.btnBoxOut {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-name: word01;
  opacity: 0;
  @keyframes word01 {
    0% {
      transform: translate(-50%, 0);
      opacity: 0;
    }

    100% {
      transform: translate(0%, 0);
      opacity: 1;
    }
  }
  &.motion01 {
    animation-delay: 1s;
  }
  &.motion02 {
    animation-name: word02;
    animation-delay: 1.2s;
    @keyframes word02 {
      0% {
        transform: translate(50%, 0);
        opacity: 0;
      }

      100% {
        transform: translate(0%, 0);
        opacity: 1;
      }
    }
  }

  &.motion03 {
    animation-delay: 1.4s;
  }
  .qrcodeBox {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    width: 160px;
    height: 160px;
    background-color: #fff;
    transform: translate(-180px, -50%);
    border-radius: 15px;
    z-index: 10;
    &.type02 {
      transform: translate(335px, -50%);
      .qrcodeArrow {
        transform: translate(-94px, -50%);
      }
    }
    .qrcodeArrow {
      display: block;
      position: absolute;
      top: 50%;
      z-index: 10;
      transform: translate(95px, -50%);
      img {
        width: 30px;
        height: auto;
      }
    }
  }
  .btnBox {
    background: #fff;
    color: #363646;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 16, 42, 0.35);
    opacity: 0.7;
    width: 320px;
    line-height: 84px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    transition: 0.2s;
    &:hover {
      opacity: 1;
      scale: 1.05;
    }
    .iconBox {
      width: 50px;
      margin-right: 5px;
    }
  }
  @media screen and (max-width: 767px) {
    .qrcodeBox {
      position: static;
      transform: none !important;
      margin: auto;
      margin-top: 20px;
      width: 120px;
      height: 120px;
      overflow: hidden;
      .qrcodeArrow {
        display: none;
      }
    }
    .btnBox {
      &:hover {
        opacity: 0.7;
        scale: 1;
      }
      .iconBox {
        width: 36px;
      }
    }
  }
  @media screen and (max-width: 575px) {
    .btnBox {
      width: 300px;
    }
  }
}
.backHome {
  display: table;
  margin: auto;
  border: 1px solid white;
  padding: 15px 50px;
  font-size: 20px;
  margin-top: 80px;
  transition: all 0.3s;
  opacity: 0;

  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-name: fade-up;
  animation-delay: 1.6s;

  &:hover {
    background: white;
    color: black;
  }
}

.modal-footer{
  display: block;
}

:deep(.m-phone-number-input) {
  .m-input-wrapper {
    background: black;
    color: white;
    border: 0.5px solid rgba(177, 177, 177, 0.5764705882);
    border-radius: 0.25rem;
  }
  .m-input-input {
    color: white;
  }
  .m-select .m-select-chevron {
    color: white;
  }
  .m-input.--md .m-input-input,
  .m-input.--md .m-input-label {
    font-size: 12px;
  }
}

@keyframes fade-up {
  0% {
    transform: translate(0, 20px);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0%);
    opacity: 1;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #4bb71b;
  }
}
</style>
