<template>
  <div class="position-relative vipContent">
    <template v-if="levelActive > 0">
      <swiper class="vip-level__slider swiper" :modules="modules" :slides-per-view="7" :loop="false" :pagination="false" :scrollbar="false" :initialSlide="levelActive - 1">
        <swiper-slide class="swiper-slide" v-for="(itme, index) in vipLevelIcon" :key="index">
          <img :src="itme.icon" alt="" v-show="itme.levelnum == levelActive">
          <img :src="itme.activeIcon" alt="" v-show="itme.levelnum != levelActive">
        </swiper-slide>
      </swiper>
      <swiper class="home-jackpot__slider swiper" :modules="modules" :loop="false" :navigation="{ nextEl: '.vip__next', prevEl: '.vip__prev' }" :pagination="false" :scrollbar="false" :initialSlide="levelActive - 1">
        <swiper-slide class="swiper-slide" v-for="(item, index) in vipLevel" :key="index">
          <div class="vip-info">
            <div class="vip-level">
              <img :src="getVipImg(item.level)" alt="">
            </div>
            <div class="vip-border-top">
            </div>
            <div class="vip-border-content">
              <div class="vip-content-left">
                <div class="vip-leve-icon"></div>
                <div class="row bonus">
                  <div class="col-6">
                    <img :src="require('@/assets/' + DomainLayoutId + '/img/VIP/winnings-1.png')" alt="">
                    <span class="money">{{ stringToMoney(item.upgradeBonus) }} {{ currency }}</span>
                    <span class="name">{{ $t("promotion_bonus") }}</span>
                    <span :class="item.upgradeBonusReceiveStatus == 1 && item.level == levelActive ? 'receive' : 'received'" @click="receiveBonus(0, item)">{{ receiveStatus(item.level, item.upgradeBonusReceiveStatus) }}</span>
                  </div>
                  <div class="col-6">
                    <img :src="require('@/assets/' + DomainLayoutId + '/img/VIP/winnings-2.png')" alt="">
                    <span class="money">{{ stringToMoney(item.weekBonus) }} {{ currency }}</span>
                    <span class="name">{{ $t("zhou_Lijin") }}</span>
                    <span :class="item.weekBonusReceiveStatus == 1 && item.level == levelActive ? 'receive' : 'received'" @click="receiveBonus(1, item)">{{ receiveStatus(item.level, item.weekBonusReceiveStatus) }}</span>
                  </div>
                  <div class="col-6">
                    <img :src="require('@/assets/' + DomainLayoutId + '/img/VIP/winnings-3.png')" alt="">
                    <span class="money">{{ stringToMoney(item.monthBonus) }} {{ currency }}</span>
                    <span class="name">{{ $t("monthly_gift") }}</span>
                    <span :class="item.monthBonusReceiveStatus == 1 && item.level == levelActive ? 'receive' : 'received'" @click="receiveBonus(2, item)">{{ receiveStatus(item.level, item.monthBonusReceiveStatus) }}</span>
                  </div>
                  <div class="col-6">
                    <img :src="require('@/assets/' + DomainLayoutId + '/img/VIP/winnings-4.png')" alt="">
                    <span class="money">{{ stringToMoney(item.signBonus) }} {{ currency }}</span>
                    <span class="name">{{ $t("signin_bonus") }}</span>
                    <span :class="item.signBonusReceiveStatus == 1 && item.level == levelActive ? 'receive' : 'received'" @click="receiveBonus(3, item)">{{ receiveStatus(item.level, item.signBonusReceiveStatus) }}</span>
                  </div>
                </div>

              </div>
              <div class="vip-content-right">
                <div class="title d-flex justify-content-between w-100">
                  <div class="my-bonus">
                    <span class="bonus-text mr-1">{{ $t('totalScore') }}</span>
                    <span class="bonus-amount">{{ stringToMoney(totalScore) }}</span>
                  </div>
                  
                </div>
                <div class="steps-container">
                  <div class="progress vip-progress">
                    <template v-if="levelActive > item.level">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </template>
                    <template v-else-if="levelActive == item.level">
                      <div class="progress-bar bg-warning" role="progressbar" :style="{ width: progressbar + '%' }" :aria-valuenow="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </template>
                    <template v-else>
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </template>

                  </div>
                  <div class="steps">
                    <div class="steps__item z6">
                      <span>0%</span>
                    </div>
                    <div class="steps__item z5">
                      <span>20%</span>
                    </div>
                    <div class="steps__item z4">
                      <span>40%</span>
                    </div>
                    <div class="steps__item z3 ">
                      <span>60%</span>
                    </div>
                    <div class="steps__item z2">
                      <span>80%</span>
                    </div>
                    <div class="steps__item z1">
                      <span>100%</span>
                    </div>
                  </div>
                  <div class="bonus-text mt-5">{{ $t("unlock_condition") }}</div>
                </div>
                <div class="bonus-rule w-100">
                  <div class="total-info d-flex justify-content-between">
                    <div class="despoit-total">
                      <span class="bonus-amount">{{ stringToMoney(item.sillStart) }}</span>
                      <span class="bonus-text d-block">{{ $t("start") }}</span>
                    </div>
                    <div class="play-total">
                      <span class="bonus-amount">{{ item.sillEnd == null ? '-' : stringToMoney(item.sillEnd) }}</span>
                      <span class="bonus-text d-block">{{ $t("end") }}</span>
                    </div>
                  </div>
                  <div class="bonus-text goal-rule mt-5 mb-5">{{ $t("title_general_rules") }}</div>
                </div>
              </div>
            </div>
            <div class="vip-border-bottom">
              
            </div>
          </div>
        </swiper-slide>
      </swiper>
    </template>

    <!-- 預設畫面 -->
    <template v-else>
      <swiper class="home-jackpot__slider swiper" :modules="modules" :loop="false" :navigation="{ nextEl: '.vip__next', prevEl: '.vip__prev' }" :pagination="false" :scrollbar="false">
        <swiper-slide class="swiper-slide" v-show="vipLevel.length == 0">
          <div class="vip-info">
            <div class="vip-level">
              <img :src="require('@/assets/' + DomainLayoutId + '/img/VIP/VIP01.png')" alt="">
            </div>
            <div class="vip-border-top">
            </div>
            <div class="vip-border-content">
              <div class="vip-content-left">
                <div class="vip-leve-icon"></div>
                <div class="row bonus">
                  <div class="col-6">
                    <img :src="require('@/assets/' + DomainLayoutId + '/img/VIP/winnings-1.png')" alt="">
                    <span class="money">0</span>
                    <span class="name">{{ $t("promotion_bonus") }}</span>
                    <span class="received">{{ $t("received") }}</span>
                  </div>
                  <div class="col-6">
                    <img :src="require('@/assets/' + DomainLayoutId + '/img/VIP/winnings-2.png')" alt="">
                    <span class="money">0</span>
                    <span class="name">{{ $t("zhou_Lijin") }}</span>
                    <span class="received">{{ $t("received") }}</span>
                  </div>
                  <div class="col-6">
                    <img :src="require('@/assets/' + DomainLayoutId + '/img/VIP/winnings-3.png')" alt="">
                    <span class="money">0</span>
                    <span class="name">{{ $t("monthly_gift") }}</span>
                    <span class="received">{{ $t("received") }}</span>
                  </div>
                  <div class="col-6">
                    <img :src="require('@/assets/' + DomainLayoutId + '/img/VIP/winnings-4.png')" alt="">
                    <span class="money">0</span>
                    <span class="name">{{ $t("signin_bonus") }}</span>
                    <span class="received">{{ $t("received") }}</span>
                  </div>
                </div>
              </div>
              <div class="vip-content-right">
                <div class="title d-flex justify-content-between w-100">
                  <div class="my-bonus">
                    <span class="bonus-text mr-1">{{ $t('totalScore') }}</span>
                    <span class="bonus-amount">0</span>
                  </div>
                  
                </div>
                <div class="steps-container">
                  <div class="progress vip-progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="steps">
                    <div class="steps__item z6 ">
                      <span>0%</span>
                    </div>
                    <div class="steps__item z5 ">
                      <span>20%</span>
                    </div>
                    <div class="steps__item z4">
                      <span>40%</span>
                    </div>
                    <div class="steps__item z3">
                      <span>60%</span>
                    </div>
                    <div class="steps__item z2">
                      <span>80%</span>
                    </div>
                    <div class="steps__item z1">
                      <span>100%</span>
                    </div>
                  </div>
                  <div class="bonus-text mt-5">{{ $t("unlock_condition") }}</div>
                </div>
                <div class="bonus-rule w-100">
                  <div class="total-info d-flex justify-content-between">
                    <div class="despoit-total">
                      <span class="bonus-amount">0</span>
                      <span class="bonus-text d-block">{{ $t("start") }}</span>
                    </div>
                    <div class="play-total">
                      <span class="bonus-amount">0</span>
                      <span class="bonus-text d-block">{{ $t("end") }}</span>
                    </div>
                  </div>
                  <div class="bonus-text goal-rule mt-5 mb-5">{{ $t("title_general_rules") }}</div>
                </div>
              </div>
            </div>

          </div>
        </swiper-slide>
      </swiper>
    </template>

    <div class="vip__prev">
    </div>
    <div class="vip__next">
    </div>

    <loading-overlay :active="isLoading" :can-cancel="false" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff">
    </loading-overlay>
  </div>

</template>

<script setup>
import { Swiper, SwiperSlide } from 'swiper/vue';
import { Pagination, Scrollbar, A11y, EffectFade, Autoplay } from 'swiper';
import LoadingOverlay from 'vue-loading-overlay';
import common from "@/utils/common";
import { reactive, ref, onMounted, computed, watch } from 'vue';
import apiService from '@/api/apiService';
import { useI18n } from "vue-i18n";
import Swal from "sweetalert2";
import { useStore } from "vuex"

import 'swiper/css';
import 'swiper/css/pagination';
import 'swiper/css/scrollbar'
import 'swiper/css/effect-fade';
import "swiper/swiper-bundle.css";

const levelActive = ref(0);
const isLoading = ref(false);
const currency = ref('');
const { errorHandling, stringToMoney, userLogout } = common();
const modules = [Pagination, Scrollbar, A11y, EffectFade, Autoplay];
const vipLevel = reactive([]);
const vipLevelIcon = reactive([]);
const { t } = useI18n();
const totalScore = ref(0);
const progressbar = ref(50);

const store = useStore();
const DomainLayoutId = store.state.DomainLayoutId;
const wallets = computed(() => store.state.wallets);

//進度條
const progressWidth = ref('60%');
const progressValue = ref('60%');

// 取得等級資訊
function getAgentLevelInfo() {
  isLoading.value = true;
  apiService.post('/AgentLevel/Info', {
    sessionKey: localStorage.getItem("sessionKey"),
    lang: localStorage.getItem('locale'),
    currencyNo: +localStorage.getItem("currencyNo")
  }).then((res) => {
    levelActive.value = res.data.currentLevel;
    totalScore.value = res.data.totalScore;
    currency.value = res.data.currency.currencyId;
    if (res.data.currency.protocol != null)
      currency.value += '(' + res.data.currency.protocol + ')';

    vipLevel.splice(0);

    res.data.datas.forEach(element => {
      vipLevel.push(element);

      // 算積分%數
      if (element.level == res.data.currentLevel) {
        let sillEnd = element.sillEnd ?? element.sillStart;
        progressbar.value = parseInt((res.data.totalScore / sillEnd) * 100);
        if (progressbar.value > 100) progressbar.value = 100;
      }

    });
  }).catch((err) => {
    errorHandling(err);
  }).finally(() => {
    isLoading.value = false;
  });
}

// 回傳圖檔路徑
function getVipImg(value) {
  return require('@/assets/' + DomainLayoutId + '/img/VIP/VIP' + value.toString().padStart(2, '0') + '.png');
}

// 領取狀態名稱
function receiveStatus(level, value) {
  if (levelActive.value != level)
    return t('canNotReceive');

  switch (value) {
    case 0: // 不可領取
      return t('canNotReceive');
    case 1: // 可領取
      return t('receive');
    case 2: // 已領取
      return t('received');
    default:
      return '';
  }
}

// 領取獎勵
function receiveBonus(value, item) {
  let canReceive = false;

  if (levelActive.value != item.level) return;

  switch (value) {
    case 0:
      if (item.upgradeBonusReceiveStatus == 1) canReceive = true;
      break;
    case 1:
      if (item.weekBonusReceiveStatus == 1) canReceive = true;
      break;
    case 2:
      if (item.monthBonusReceiveStatus == 1) canReceive = true;
      break;
    case 3:
      if (item.signBonusReceiveStatus == 1) canReceive = true;
      break;
  }

  if (!canReceive) return;

  isLoading.value = true;
  apiService.post('/AgentLevel/ReceiveBonus', {
    sessionKey: localStorage.getItem("sessionKey"),
    type: value,
    currencyNo: +localStorage.getItem("currencyNo")
  }).then(() => {
    switch (value) {
      case 0:
        item.upgradeBonusReceiveStatus = 2;
        break;
      case 1:
        item.weekBonusReceiveStatus = 2;
        break;
      case 2:
        item.monthBonusReceiveStatus = 2;
        break;
      case 3:
        item.signBonusReceiveStatus = 2;
        break;
    }
    Swal.fire("", t("success"), "success");
  }).catch((err) => {
    if (err.response == null || err.response.status == null) {
      console.log(err);
      Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
    } else if (err.response.status == 403)
      Swal.fire("", t("unqualified"), "warning");
    else errorHandling(err);
  }).finally(() => {
    isLoading.value = false;
  });
}

watch(
  () => wallets.value,
  () => {
    getAgentLevelInfo();
  }
)

onMounted(() => {
  if (!localStorage.getItem("sessionKey")) { userLogout(); return; }

  for (let i = 1; i <= 10; i++) {
    let icon = require('@/assets/'+ DomainLayoutId +'/img/VIP/vip_num' + i.toString() + '.png');
    let activeIcon = require('@/assets/'+ DomainLayoutId +'/img/VIP/vip_num' + i.toString() + '-active.png');
    vipLevelIcon.push({ levelnum: i, icon: icon, activeIcon: activeIcon });
  }
  
  getAgentLevelInfo();

  //進度條
  const progress = document.querySelector('.progress-done');
  if (progress) {
    progressWidth.value = progress.getAttribute('data-done') + '%';
    progressValue.value = progress.querySelector('.progress-value').textContent;
  }
  console.log(modules);
});

</script>

<style lang="scss" scoped>
.vip-level__slider {
  position: absolute;
  right: 4rem;
  top: 3.5rem;
  width: 55%;
}

.home-jackpot__slider.swiper {
  .vip-info {
    position: relative;
    padding-top: 7rem;

    .vip-level {
      position: absolute;
      top: 2rem;
      left: 13rem;
    }

    .vip-border-top {
      background: url(@/assets/aaa/img/VIP/vip-border-top.png) no-repeat;
      width: 1018px;
      height: 35px;
      background-size: contain;
      margin: auto;
    }

    .vip-border-content {
      display: flex;
      background: url(@/assets/aaa/img/VIP/vip-border-content.png) repeat-y;
      background-size: contain;
      width: 1065px;
      margin: auto;

      .vip-content-left {
        position: relative;
        padding: 0rem 0 0 43px;
        width: 364px;
        margin: auto;

        .bonus {
          text-align: center;
          margin: 0;

          .col-6 {
            margin: 0 0 2rem 0;

            span {
              display: block;
              margin: 0.5rem 0;
              font-size: 1.1rem;

              &.name {
                font-size: 0.85rem;
                font-weight: normal;
                color: #999;
              }

              &.receive {
                cursor: pointer;
                background: linear-gradient(180deg, #20dfd0 0%, #2a9b92 100%)
                  repeat-x;
                border-radius: 20px;
                font-size: 0.9rem;
                padding: 0.2rem 1.5rem;
                transition: background 0.3s ease-out;

                &:hover {
                  background: #2a9b92;
                  background-position: 100px;
                }
              }

              &.received {
                background: #ececec;
                border-radius: 20px;
                font-size: 0.9rem;
                color: #9d9b98;
                padding: 0.2rem 1rem;
              }
            }
          }
        }
      }

      .vip-content-right {
        width: 53%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
        margin-right: 3rem;

        .bonus-text {
          color: #999999;
          font-size: 1rem;
        }

        .bonus-amount {
          color: #ffce51;
          font-size: 2rem;
        }

        .button {
          background: #2d6151;
          border: 1px solid #2a9b92;
          border-radius: 33px;
          box-shadow: none;

          &:hover {
            color: #d9d9d9;
          }

          &.active {
            cursor: default;
            color: #ffce51;
            background: linear-gradient(180deg, #9d2024 0%, #3f0303 100%);
            border: none;
          }
        }

        $color1: #d9d9d9;
        $color2: #ffce51;

        .steps {
          display: flex;
          flex-direction: row;
          justify-content: center;
          position: relative;

          &::before {
            content: '';
            width: 100%;
            display: block;
            height: 1px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background-color: none;
            z-index: 0;
          }

          &-container {
            display: inline-block;
            margin-left: -0.3rem;
            overflow: hidden;
            padding: 5rem 0.85rem 2rem 0.85rem;
            width: 102%;
          }

          &__item {
            width: 10px;
            height: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            background-color: $color2;
            border-radius: 50px;
            margin-right: 100px;
            position: relative;
            margin-top: -5px;

            &--active {
              background-color: $color2;

              & ~ .steps__item {
                background-color: $color1;

                span {
                  color: #999999;
                }
              }

              &:before {
                right: 100%;
                position: absolute;
                background-color: $color2;
                content: '';
                width: 100px;
                height: 1px;
                z-index: 1;
              }
            }

            &:last-child {
              margin-right: 0px;
            }

            span {
              position: absolute;
              top: -39px;
              color: $color2;
            }
          }
        }

        .z4 {
          z-index: 4;
        }

        .z6 {
          z-index: 6;
        }

        .z5 {
          z-index: 5;
        }

        .z4 {
          z-index: 3;
        }

        .z3 {
          z-index: 3;
        }

        .z2 {
          z-index: 2;
        }

        .z1 {
          z-index: 1;
        }
      }
    }

    .vip-border-bottom {
      position: relative;
      background: url(@/assets/aaa/img/VIP/vip-border-bottom.png) no-repeat;
      width: 1065px;
      height: 114px;
      background-size: contain;
      margin: auto;

      .rule-info {
        cursor: pointer;
        position: absolute;
        right: 4rem;
        bottom: 3.8rem;
        background: linear-gradient(
          180deg,
          #e1f3ed 0%,
          #87cdb7 2.6%,
          #2f8e7e 100%
        );
        box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px 20px 0px 0px;
        padding: 0.8rem 1.2rem 0.5rem 1.2rem;
        font-size: 1rem;
        font-weight: normal;
        transition: all 0.3s ease-out;

        &:hover {
          color: #ffce51;
        }
      }
    }
  }
}

.vip__prev {
  cursor: pointer;
  width: 28px;
  height: 64px;
  position: absolute;
  bottom: 47%;
  left: 50px;
  z-index: 9;
  color: #fff;
  background: url(@/assets/aaa/img/VIP/vip__prev.svg) no-repeat;
}

.vip__next {
  cursor: pointer;
  width: 28px;
  height: 64px;
  position: absolute;
  bottom: 47%;
  right: 50px;
  z-index: 9;
  color: #fff;
  background: url(@/assets/aaa/img/VIP/vip__next.svg) no-repeat;

}

.progress.vip-progress {
  height: 0.1rem;
}

//aad的css
.aaf{
  .vipContent{
  :deep(.swiper-slide) {
    img {
      max-width: 120%;
    }
  }
    .home-jackpot__slider.swiper {
      color: #fff;
      .vip-border-top {
          background: url(@/assets/aad/img/VIP/vip-border-top.png) no-repeat;
          width: 1018px;
          height: 35px;
          background-size: contain;
          margin: auto;
      }
      .vip-border-content {
        display: flex;
        background: url(@/assets/aad/img/VIP/vip-border-content.png) repeat-y;
        background-size: contain;
        width: 1065px;
        margin: auto;

        .vip-content-left .bonus .col-6 span.receive {
          cursor: pointer;
          background: linear-gradient(180deg, #54dffc 0%, #1693fc 100%)
            repeat-x;
          border-radius: 20px;
          font-size: 0.9rem;
          padding: 0.2rem 1.5rem;
          transition: background 0.3s ease-out;

          &:hover {
            background: #1693fc;
            background-position: 100px;
          }
        }
        .vip-content-right {
          .bonus-amount {
            color: #1693fc;
          }
          .steps__item {
            
            background-color: #54dffc;
            span {
              color: #1693fc;
            }
          }

          
        }

  }
      .vip-border-bottom {
        position: relative;
        background: url(@/assets/aad/img/VIP/vip-border-bottom.png) no-repeat;
        width: 1065px;
        height: 114px;
        background-size: contain;
        margin: auto;
      }
    }
    .vip__prev {
      cursor: pointer;
      width: 28px;
      height: 64px;
      position: absolute;
      bottom: 47%;
      left: 20px;
      z-index: 9;
      color: #fff;
      background: url(@/assets/aad/img/VIP/vip__prev.svg) no-repeat;
    }

    .vip__next {
      cursor: pointer;
      width: 28px;
      height: 64px;
      position: absolute;
      bottom: 47%;
      right: 20px;
      z-index: 9;
      color: #fff;
      background: url(@/assets/aad/img/VIP/vip__next.svg) no-repeat;

    }
  }

}

//aae的css
.aad, .aae, .aag{
  .vipContent{
  
    .home-jackpot__slider.swiper {
      .vip-border-top {
          background: url(@/assets/aad/img/VIP/vip-border-top.png) no-repeat;
          width: 1018px;
          height: 35px;
          background-size: contain;
          margin: auto;
      }
      .vip-border-content {
        display: flex;
        background: url(@/assets/aad/img/VIP/vip-border-content.png) repeat-y;
        background-size: contain;
        width: 1065px;
        margin: auto;

        .vip-content-left .bonus .col-6 span.receive {
          cursor: pointer;
          background: linear-gradient(180deg, #f2ad40 0%, #d6932c 100%)
            repeat-x;
          border-radius: 20px;
          font-size: 0.9rem;
          padding: 0.2rem 1.5rem;
          transition: background 0.3s ease-out;

          &:hover {
            background: #ee9a1b;
            background-position: 100px;
          }
        }

  }
      .vip-border-bottom {
        position: relative;
        background: url(@/assets/aad/img/VIP/vip-border-bottom.png) no-repeat;
        width: 1065px;
        height: 114px;
        background-size: contain;
        margin: auto;
      }
    }
    .vip__prev {
      width: 28px;
      height: 64px;
      position: absolute;
      bottom: 47%;
      left: 50px;
      z-index: 9;
      color: #fff;
      background: url(@/assets/aad/img/VIP/vip__prev.svg) no-repeat;
    }

    .vip__next {
      width: 28px;
      height: 64px;
      position: absolute;
      bottom: 47%;
      right: 50px;
      z-index: 9;
      color: #fff;
      background: url(@/assets/aad/img/VIP/vip__next.svg) no-repeat;

    }
  }

}
</style>
