<template>
  <div class="game__hall">
    <!--選單-->
    <div class="sport__row row justify-content-center" v-if="gameMenu">
      <div class="sport__col col-md-10 col-12 gameBroad">
        <!--館別按鈕-->
        <ul class="nav nav-tabs gameBlock" id="myTab">
          <template v-for="(menu) in gameMenu" :key="menu">
            <li class="nav-item gameBox" v-if="menu.status === 0 && menu.clickAction === 1">
              <button class="nav-link gameItem01" :class="{'active':(gameThirdPartyNo && gameThirdPartyNo === menu.gameThirdPartyNo)}" type="button" @click="changeGameThirdParty(menu.gameThirdPartyNo,menu.id)">
                <div class="d-inline-block gameItem01BtnBox">
                  <img :src="menu.pcLogoImg" alt="" class="logo">
                  <span class="d-block">
                    <div>{{ menu.name }}</div>
                  </span>
                </div>
                <img v-if="menu.sortStatus == 1" src="@/assets/aae/img/common/nhot.gif" alt="" class="hot">
              </button>
            </li>
          </template>
        </ul>
        <div class="tab-content">
          <div class="row mx-0">
            <div class="col-12 search">
              <div class="d-flex justify-content-between align-items-center">
                <div class="egameTitle d-flex justify-content-center align-items-center">
                  <img :src="getGameThirdParty(gameThirdPartyNo)?.pcLogoImg" alt="" class="logo">
                  <span class="title">{{ getGameThirdParty(gameThirdPartyNo)?.name }}</span>
                </div>
                <div class="type-nav-box">
                    <vue-select label="name" :options="filteredClassType" v-model="selectedFilteredClassType"></vue-select>
                </div>
                <div class="input-group">
                  <input type="text" class="form-control" :placeholder="$t('gameName')" :aria-label="$t('gameName')" aria-describedby="button-addon2" v-model="filteredGameName">
                  <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                    <font-awesome-icon icon="fa-solid fa-magnifying-glass" />
                  </button>
                </div>
              </div>
            </div>

            <div class="gameItemBlock">
              <div v-if="totalGames > gamesPerPage" class="d-table ml-auto">
                  <vue-awesome-paginate :total-items="totalGames" :items-per-page="gamesPerPage" v-model="gamePageIndex" :on-click="changeGamesPage"/>
                </div>
                <div class="row p-3">
                <!--遊戲-->
                <div v-for="(game, index) in gamePeriod" :key="index" class="gameItemBoxInsideBox">
                  <div :class="(game.status === 0) ? 'col gameItemBoxInsideBoxEffectNone' : 'col gameItemBoxInsideBoxEffectNone active'">
                    <a href="javascript:void(0)" class="gameItemBoxHoverZone" @click="clickStart(game)">
                      <!---------電子遊戲內容維護中div↓↓↓↓↓-------------->
                      <div class="maintainBlock">
                        <div class="maintainText">{{ $t("inMaintenance") }}</div>
                      </div>
                      <!---------電子遊戲內容維護中div↑↑↑↑↑-------------->
                      <div class="gamePicBoxHoverBox">
                        <div class="intoGameBtn">PLAY</div>
                      </div>
                      <img v-if="game.simage" class="game-icon gamePicBox" :src="game.simage" :alt="game.name" @error.once="imgError">
                      <img v-else class="game-icon gamePicBox" src="@/assets/aae/img/common/default.jpg" :alt="game.name">
                    </a>
                  </div>
                  <div class="game-name gameNameBox"> {{ game.name }} </div>
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 加載 -->
  <loading v-model:active="isLoadingObj.value" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />
</template>

<script setup>
import { ref, reactive, onBeforeMount, watch, computed } from 'vue';
import { useRouter } from "vue-router";
import { useStore } from 'vuex';
import { useGamesStore } from '@/store/game'
import { storeToRefs } from "pinia";
import { useI18n } from "vue-i18n";
import { startGame } from '@/api/api';
import Swal from "sweetalert2";
import Loading from 'vue-loading-overlay';
import common from "@/utils/common";
import vueSelect from "vue-select";
import "vue-select/dist/vue-select.css";

const store = useStore();
const router = useRouter();
const games = useGamesStore();
const { t, locale } = useI18n();
const { errorHandling, getGameThirdPartyGames } = common();
const isLoadingObj = reactive({
  value:false
})
const { gameMenu, gameClass, gameThirdPartyNo } = storeToRefs(games);
const selectedFilteredClassType = ref();
const filteredClassType = ref([]);
const filteredGameName = ref('');
let gamesFilteredClassType = reactive([]);
let gamesFilteredClassTypeAndFilteredGameName = reactive([]);
const gameClassName = ref('');
const currencyNo = ref('');
const currencyId = ref('');
const gameClassMap=ref([
    {
        no:1,
        name: 'lottery'
    },
    {
        no:2,
        name: 'casino'
    },
    {
        no:3,
        name: 'slots'
    },
    {
        no:4,
        name: 'sport'
    },
    {
        no:5,
        name: 'chess'
    },
    {
        no:6,
        name: 'fish'
    },
    {
        no:7,
        name: 'esport'
    },
])
const classType = ref([
    {
        no: 1,
        name: t("classType1")
    },
    {
        no: 2,
        name: t("classType2")
    },
    {
        no: 3,
        name: t("classType3")
    },
    {
        no: 4,
        name: t("classType4")
    },
    {
        no: 5,
        name: t("classType5")
    },
    {
        no: 6,
        name: t("classType6")
    },
    {
        no: 7,
        name: t("classType7")
    },
    {
        no: 8,
        name: t("classType8")
    },
    {
        no: 9,
        name: t("classType9")
    },
    {
        no: 10,
        name: t("classType10")
    },
    {
        no: 11,
        name: t("classType11")
    },
    {
        no: 12,
        name: t("classType12")
    },
])
const totalGames = ref(0);
let gamePageIndex = 1;
const gamesPerPage = ref(20);
const gamePeriod = ref('');
const wallets = computed(() => store.state.wallets);
const DomainLayoutId = computed(() => store.state.DomainLayoutId);

const changeGamesPage = () => {
  const startIndex = (gamePageIndex - 1) * gamesPerPage.value + 1;
  const endIndex = startIndex + gamesPerPage.value - 1;
  gamePeriod.value = gamesFilteredClassTypeAndFilteredGameName.slice(startIndex - 1, endIndex);
}

const changeGameThirdParty = async (gameThirdPartyNo, gameThirdPartyId) => {
  await games.setGameThirdPartyNo(gameClass.value, gameThirdPartyNo, gameThirdPartyId, 'gameHall');
  await getGameThirdPartyGames(gameThirdPartyNo,  isLoadingObj)
  setGameType();
  selectedFilteredClassType.value = filteredClassType.value[0]

  filteredGameName.value = '';
  gamePageIndex = 1;
  changeGamesPage();
}

const getGameThirdParty = (value) => {
  return gameMenu.value.find(item => item.gameThirdPartyNo == value);
}

//每個遊戲有自己的gameClassNo(遊戲小分類)，classType是完整的全部小分類，需要過濾出現有遊戲有哪些小分類，最後再補個all
const setGameType = () => {
  let gameClassNoArray = [];
  if(getGameThirdParty(gameThirdPartyNo.value) && getGameThirdParty(gameThirdPartyNo.value).games){
    getGameThirdParty(gameThirdPartyNo.value).games.forEach(game => {
        gameClassNoArray.push(game.gameClassNo)
    });
    gameClassNoArray = [...new Set(gameClassNoArray)].sort();
    filteredClassType.value = [];
    gameClassNoArray.forEach(no => {
        classType.value.forEach((item) => {
            if (item.no === no) {
                filteredClassType.value.push(item)
            }
        })
    })
    filteredClassType.value.unshift({
      no: 0,
      name: t('all'),
    })
    setGameClassName();
    gamesFilteredClassTypeAndFilteredGameName = [...getGameThirdParty(gameThirdPartyNo.value).games];
    totalGames.value = gamesFilteredClassTypeAndFilteredGameName.length;
    gamePageIndex = 1;
    changeGamesPage();
  }
}

//變更遊戲小分類
const changeSelectedFilteredClassType = () => {
  if (selectedFilteredClassType.value.no == "0") {
    gamesFilteredClassType = [...getGameThirdParty(gameThirdPartyNo.value).games ]
  }
  else {
    gamesFilteredClassType = [];
    getGameThirdParty(gameThirdPartyNo.value).games.forEach(game => {
      if (game.gameClassNo === selectedFilteredClassType.value.no) {
        gamesFilteredClassType.push(game);
      }
    })
  }

  gamesFilteredClassTypeAndFilteredGameName = [];
  gamesFilteredClassType.forEach((game) => {
    if(game.name.toLowerCase().indexOf(filteredGameName.value.toLowerCase()) >= 0){
      gamesFilteredClassTypeAndFilteredGameName.push(game); 
    }
  })

  totalGames.value = gamesFilteredClassTypeAndFilteredGameName.length;
  gamePageIndex = 1;
  changeGamesPage();

}

const clickStart = async (game) => {
  isLoadingObj.value= true;
  try {
    await startGame(locale.value, gameThirdPartyNo.value, game.thirdPartyGameNo, game.thirdPartyTableNo);
  } catch (err) {
    if (err.response == null || err.response.status == null) {
      console.log(err);
      Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
    } else if (err.response.status == 460) // 遊戲維護
      Swal.fire("", t("game_maintain"), "warning");
    else errorHandling(err);
  }
  isLoadingObj.value = false;
}

// 圖片找不到給預設圖
const imgError = event => {
  event.target.src = require("@/assets/aae/img/common/default.jpg");
}

const setGameClassName = () => {
    if(gameClass.value !== -1){
        gameClassName.value = gameClassMap.value.find(item => item.no === gameClass.value).name;
    }
}

watch(
    () => filteredGameName.value,
    () => {
      gamesFilteredClassTypeAndFilteredGameName = [];
      gamesFilteredClassType.forEach((game) => {
        if(game.name.toLowerCase().indexOf(filteredGameName.value.toLowerCase()) >= 0){
          gamesFilteredClassTypeAndFilteredGameName.push(game); 
        }
      })
      gamePageIndex = 1;
      changeGamesPage();
      totalGames.value = gamesFilteredClassTypeAndFilteredGameName.length;
    }
)

watch(
    //監看selectedFilteredClassType變化，來變更遊戲小分類內容
    () => selectedFilteredClassType.value,
    () => {
        changeSelectedFilteredClassType();
        gamePageIndex = 1;
        changeGamesPage();
    }
)

watch(
    //1.切換語系時gameMenu會變化
    //2.初始化會變化
    () => gameMenu.value,
    async () => {
        classType.value = [
            {
                no: 1,
                name: t("classType1")
            },
            {
                no: 2,
                name: t("classType2")
            },
            {
                no: 3,
                name: t("classType3")
            },
            {
                no: 4,
                name: t("classType4")
            },
            {
                no: 5,
                name: t("classType5")
            },
            {
                no: 6,
                name: t("classType6")
            },
            {
                no: 7,
                name: t("classType7")
            },
            {
                no: 8,
                name: t("classType8")
            },
            {
                no: 9,
                name: t("classType9")
            },
            {
                no: 10,
                name: t("classType10")
            },
            {
                no: 11,
                name: t("classType11")
            },
            {
                no: 12,
                name: t("classType12")
            },
        ]
        await getGameThirdPartyGames(gameThirdPartyNo.value,  isLoadingObj)
        setGameType();
        selectedFilteredClassType.value = filteredClassType.value[0];
    }
)

watch(
    () => gameClass.value,
    () => {
        setGameClassName();
    }
)

watch(
  () => wallets.value,
  () => {
    currencyNo.value = +localStorage.getItem("currencyNo");
    currencyId.value = localStorage.getItem("currencyId");

    games.filterHeaderMenuByCurrency();

    let no = localStorage.getItem("gameClass");
    let gameThirdPartyNo = localStorage.getItem("gameThirdPartyNo");
    let gameThirdPartyId = localStorage.getItem("gameThirdPartyId");
    
    let hasMatched = games.setGameThirdPartyNo(no, gameThirdPartyNo, gameThirdPartyId, 'gameHall')
    if(hasMatched === false){
      router.push("/" + DomainLayoutId.value);
    }

    if(!getGameThirdParty(gameThirdPartyNo)){
      games.setGameThirdPartyNo(gameClass.value, -1, '', 'gameHall');
    }
    if(!localStorage.getItem("gameThirdPartyNo")){
      router.push("/" + DomainLayoutId.value);
    }
  }
)

onBeforeMount(async () => {
  //直接進入該頁面會沒有gameClass
  if(!localStorage.getItem("gameClass")){
    var url = window.location.href;
    var parts = url.split('/');
    var hall = parts[parts.length - 1];
    let gameClass;
    switch(hall){
      case "SportHall":
        gameClass = 4;
        break;
      case "CasinoHall":
        gameClass = 2;
        break;
      case "Egame":
        gameClass = 3;
        break;
      case "LotteryHall":
        gameClass = 1;
        break;
      case "FishHall":
        gameClass = 6;
        break;
      case "Chess":
        gameClass = 5;
        break;
      case "SportEventHall":
        gameClass = 7;
        break;
    }
    localStorage.setItem("gameClass", gameClass);
    games.setGameThirdPartyNo(gameClass, -1, '', 'gameHall');
  }
  
  if(!localStorage.getItem("gameThirdPartyNo")){
    router.push("/" + DomainLayoutId.value);
  }

  if(gameMenu.value.find(gameThirdParty => gameThirdParty.gameThirdPartyNo === gameThirdPartyNo.value).status !== 0){
    await games.setGameThirdPartyNo(gameClass.value, -1, '', 'gameHall');
  }
  await getGameThirdPartyGames(gameThirdPartyNo.value,  isLoadingObj)
  setGameType();
  selectedFilteredClassType.value = filteredClassType.value[0];
  setGameClassName();
  currencyNo.value = +localStorage.getItem("currencyNo");
  currencyId.value = localStorage.getItem("currencyId");
})


</script>
  
<style lang="scss" scoped>
$broadBackgroundColor: #004d40;
$broadTitleColor: #dcdddd;
$broadTitleBgColor: #007966;
$activeColor01: #b0dfd9;
$activeTextColor01: #010101;
$activeColor02: #63b39f;
$gameBoxTitleBgColor02: #00695a;
$gameBoxBgColor: #008979;
.section--egame .sport {
  -ms-background-size: content;
  background-size: content;
  height: auto;

  .sport__row {
    padding-top: 19rem;

    ul.nav {
      padding: 1rem;
      background-color: $broadBackgroundColor;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border: none;

      li {
        margin: 0 0.5rem;

        button.nav-link {
          position: relative;
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          padding: 0.5rem 1;
          border-radius: 5px;
          background: $broadTitleBgColor;
          color: #fff;

          &:hover {
            background: $activeColor01;
          }

          &.active {
            background: $activeColor01;
            color: $activeTextColor01;
          }

          img.hot {
            position: absolute;
            top: -10px;
            right: -8px;
            z-index: 500;
          }
        }
      }
    }

    .tab-content {
      background: #202020;
      min-width: 960px;
      max-width: 1000px;

      .search {
        padding: 1rem;
        background: #b0dfd9;

        .egameTitle {
          width: 50%;
          text-align: center;

          .logo {
            max-height: 38px;
          }

          .title {
            margin-left: 2rem;
            font-size: 1rem;
            color: #000;
          }
        }

        .input-group {
          width: 50%;
          padding: 0 5rem;

          input {
            border: 1px solid #666666;
            border-right: none;
          }

          .btn-outline-secondary {
            background-color: #fff;
            border-left: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            &:hover {
              color: #000;
              transition: none;
            }

            &:focus {
              box-shadow: none;
            }
          }
        }
      }

      .egame-type {
        background: $gameBoxBgColor;

        .type-title {
          font-size: 1rem;
        }

        .type-tab {
          cursor: pointer;
          background: $broadBackgroundColor;
          padding: 0.5rem;
          border-radius: 5px;

          &:hover {
            background: $activeColor02;
            color: $activeTextColor01;
          }
        }
      }

      .tab-pane {
        .row {
          &.overflowScroll {
            overflow-y: auto;
            overflow-x: hidden;
            height: 800px;
          }
        }
      }
    }
  }
}

.gameBroad {
  min-height: 580px;
  width: calc(100% - 00px);
  max-width: 1000px;
  flex: none;
}

.nav-item {
  padding: 5px;
}

.game-icon {
  width: 150px;
  height: 150px;
  margin: 5px;
}

.game-name {
  text-align: center;
}

.gameBlock {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  //background-color: aqua !important;
  min-width: 960px;

  .gameBox {
    width: calc(20% - 2px);
    margin: 0 1px 2px 1px !important;
    border: none !important;
    padding: 0;

    /*電子遊戲內容維護中SCSS↓↓↓↓↓ */
    .gameBoxMaintainBlock {
      display: none;
      z-index: 500;
    }

    &.active {
      display: block;
      position: relative;
      filter: grayscale(100%);
      pointer-events: none;
      z-index: 500;

      .gameItem01 {
        background-color: $broadTitleBgColor !important;
      }

      .gameBoxMaintainBlock {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);

        .maintainText {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px 20px 5px 20px;
          background-color: rgba(0, 0, 0, 0.8);
        }
      }
    }

    /*電子遊戲內容維護中SCSS↑↑↑↑↑↑↑ */

    .gameItem01 {
      border-radius: none !important;
      margin-bottom: 0 !important;
      

      .hot {
        right: 6px !important;
      }

      .d-inline-block {
        display: flex !important;
        justify-content: space-between !important;
        justify-content: center !important;
        align-items: center !important;
        padding: 10px;
        width: 100%;
        //background-color: #004d3e;

        .logo {
          display: flex !important;
          justify-content: center !important;
          align-items: center !important;
          max-width: 70px;
          max-height: 30px;
          margin: 0 0px 0 0;
        }

        .logo + .d-block {
          margin: 0 0 0 5px;
          //background-color: #04bb97;
        }
      }
    }

    .nav-link {
      border-radius: 0px !important;
      margin-bottom: 0 !important;
      border: none !important;
      height: 62px;
      padding: 5px;
      color: #dcdddd !important;

      //background-color: aquamarine !important;
      &.active {
        border: none !important;
        color: $activeTextColor01 !important;
      }

      &:hover {
        background: $activeColor01 !important;
        border: none !important;
        margin-bottom: 0 !important;
        color: $activeTextColor01 !important;
      }
    }
  }
}

.gameItemBlock {
  width: 100%;
  margin: 0;
  padding-top: 0px !important;
  padding: 20px !important;
  background-color: $broadBackgroundColor;
  max-height: 800px;
  min-height: 480px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    //display: none;
    overflow: scroll;
  }

  &::-webkit-scrollbar {
    border-radius: 5px !important;
    background: #004d3e;
    width: 2px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px !important;
    background: linear-gradient(180deg, #004d3e 2.85%, #04bb97 97.76%);
  }

  .gameItemBoxInsideBox {
    background-color: $gameBoxTitleBgColor02;
    //background-color: #29299b;
    padding: 0px !important;
    //margin: 0 !important;
    // max-height: 207px;
    width: calc(20% - 10px);
    margin: 0 5px 20px 5px;
    display: block;

    .gameItemBoxInsideBoxEffectNone {
      width: 100%;
      background-color: $gameBoxBgColor;
      padding: 0px !important;
      margin: 0 !important;
      display: flex;
      justify-content: center;
      margin: none !important;
      align-items: center;
      // min-height: 176px;

      /*電子遊戲內容維護中SCSS↓↓↓↓↓ */
      .maintainBlock {
        display: none;
      }

      &.active {
        filter: grayscale(100%);
        pointer-events: none;

        .maintainBlock {
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba(0, 0, 0, 0.5);

          .maintainText {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 30px 10px 30px;
            background-color: rgba(0, 0, 0, 0.5);
          }
        }
      }

      /*電子遊戲內容維護中SCSS↑↑↑↑↑↑*/

      .gamePicBox {
        display: flex;
        justify-content: center;
        padding: 10px !important;
        margin: 0 !important;
        width: 100% !important;
        //height: 100% !important;
        margin: none !important;
        height: auto !important;
        max-height: 166px !important;

        & img {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100% !important;
          height: auto !important;
        }
      }

      .gameItemBoxHoverZone {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .gamePicBoxHoverBox {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          z-index: 5000;
          opacity: 1;
          border: 2px solid $activeColor01;
          background-color: rgba(0, 0, 0, 0.5);

          .intoGameBtn {
            display: block;
            transform: translate(0%, 0);
            background-color: $activeColor01;
            animation-name: word03;
            animation-duration: 0.3s;
            animation-delay: 0s;
            animation-iteration-count: 1;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
            color: $activeTextColor01;

            @keyframes word03 {
              0% {
                transform: translate(0, 100%);
                opacity: 0;
              }

              100% {
                transform: translate(0, 0%);
                opacity: 1;
              }
            }
          }
        }

        .intoGameBtn {
          display: none;
          padding: 5px 20px 5px 20px;
          background-color: $activeColor01;
          border-radius: 3px;
          transition: 1s;
          transform: translate(-50%, 0);
        }
      }
    }

    .gameNameBox {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 37px;
    }
  }
}

.filterBarBlock {
  padding: 0 80px 0 80px;
  display: flex;
  align-items: flex-start;
  justify-content: left !important;
  padding-bottom: 5px !important;

  .type-title {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 100%;
    //background-color: #04bb97;
    padding: 0.5rem;
    margin: 0 10px 0 0;
    min-width: 60px;
  }

  .filterBlockZone {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-wrap: wrap;
    //background-color: #04bb97;

    .type-tab {
      padding: 7px 10px 7px 10px !important;
      margin: 0 7px 10px 7px;
      min-width: 60px;
      text-align: center;
      border-radius: 3px !important;
      background-color: #323335;

      &.active {
        border: none !important;
        color: $activeTextColor01 !important;
        background-color: $activeColor02 !important;
      }
    }
  }
}

.section--chess .sport {
  -ms-background-size: content;
  background-size: content;
  height: auto;
  margin-top: 23px;

  .sport__row {
    padding-top: 19rem;

    ul.nav {
      padding: 1rem;
      background-color: $activeColor02;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border: none;

      li {
        margin: 0 0.5rem;

        button.nav-link {
          position: relative;
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          padding: 0.5rem 1;
          border-radius: 5px;
          background: $broadTitleBgColor;
          color: #fff;

          &:hover {
            background: $activeColor02;
          }

          &.active {
            background: $activeColor01;
          }

          img.hot {
            position: absolute;
            top: -10px;
            right: -8px;
          }
        }
      }
    }

    .tab-content {
      background: #202020;
      min-width: 960px;
      max-width: 1000px;

      .search {
        padding: 1rem;
        background: #b0dfd9;

        .egameTitle {
          width: 50%;
          text-align: center;

          .logo {
            max-height: 38px;
          }

          .title {
            margin-left: 2rem;
            font-size: 1rem;
            color: #000;
          }
        }

        .input-group {
          width: 50%;
          padding: 0 5rem;

          input {
            border: 1px solid #666666;
            border-right: none;
          }

          .btn-outline-secondary {
            background-color: #fff;
            border-left: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            &:hover {
              color: #000;
              transition: none;
            }

            &:focus {
              box-shadow: none;
            }
          }
        }
      }

      .egame-type {
        background: $gameBoxBgColor;

        .type-title {
          font-size: 1rem;
        }

        .type-tab {
          cursor: pointer;
          background: $broadBackgroundColor;
          padding: 0.5rem;
          border-radius: 5px;

          &:hover {
            background: $activeColor02;
          }
        }
      }
    }
  }
}

.game-icon {
  width: 200px;
  height: 200px;
}

.not_support-block{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 24px;
}

:deep(.v-select) {
        min-width: 200px;
        border: 0.01rem solid #666666;
        background: white;
        border-radius: 0.25rem;
        .vs__dropdown-toggle {
            border: none;
            height: 38px;
        }
        .vs__search,
        .vs__selected {
            padding-left: 0;
            font-size: 16px;
        }
        .vs__clear {
            display: none;
        }

        .vs__dropdown-menu li {
            padding-top: 5px;
            padding-bottom: 5px;
            color:black;
        }
        .vs__open-indicator {
            fill: #40444d;
        }
        .vs__dropdown-menu{
            background: white;

        }
}
:deep(ul#componentContainer .paginate-buttons) {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  cursor: pointer;
  background: #2d6151;
  color: #fff;
  margin: 0 0.2rem;
  white-space: nowrap;
}
:deep(ul#componentContainer .paginate-buttons:hover) {
  background: #306958 !important;
}
:deep(ul#componentContainer .paginate-buttons.active-page) {
  background-color: #50ab90 !important;
  color: white !important;
}

//aae的css
.aae .game__hall {
  ul.nav {
    background-color: #505050 !important;
    li button.nav-link {
          background: rgb(122, 122, 122)!important;
          color: #fff!important;
          &.active {
              background: #f2ad40!important;

          }
    }
  }
  .tab-content .search {
    background: #dbdbdb!important;
  }
  .gameItemBlock {
    background-color: #2c2c2c!important;
    .gameItemBoxInsideBox {
      background-color: #d6932c;
      .gameItemBoxInsideBoxEffectNone {
        background-color: #f2ad40;
      }
    }
  }
  .btn-outline-secondary {
      margin-top: 0;
  }
  :deep(ul#componentContainer .paginate-buttons) {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
    background: #5c5c5c;
    color: #fff;
    margin: 0 0.2rem;
    white-space: nowrap;
  }
  :deep(ul#componentContainer .paginate-buttons:hover) {
    background: #f2ad40  !important;
  }
  :deep(ul#componentContainer .paginate-buttons.active-page) {
    background-color: #adadad !important;
    color: rgb(53, 53, 53) !important;
  }


}
</style>
  