<template>
  <!-- 選單下列 -->
  <div class="header__bottom alwaysShow">
    <div class="container header__bottomBox">
      <div class="header-menu">
        <ul class="header-menu_nav flex-box just-center">
          <li></li>
          <li class="header-menu-item" v-for="(headerMenuItem, index) in headerMenu" :key="index" @mouseover="headerMenu[index].hover = 'hover'" @mouseout="headerMenu[index].hover = ''" :class="[headerMenuItem.hover, headerMenuItem.showSubMenu]">

            <a class="header-menu-link" style="cursor: pointer;" @click="clickGameClass(headerMenuItem);">
              <!-- Casino前置圖片 -->
              <span v-show="headerMenuItem.path === 'Casino'" class="menu-live">
              </span>
              <!-- Casino前置圖片 -->
              <div></div>
              {{ headerMenuItem.name }}

              <!-- new圖片 -->
              <span v-show="headerMenuItem.news" class="menu-note new">
                <img src="@/assets/aae/img/headerBottom/icon-live.svg" alt="new">
              </span>
              <!-- new圖片 -->

              <!-- hot圖片 -->
              <span v-show="headerMenuItem.hot" class="menu-note hot">
                <img src="@/assets/aae/img/headerBottom/icon-hot.svg" alt="new">
              </span>
              <!-- hot圖片 -->
            </a>
            <div class="header-menu-sub  flex-wrap" v-if="headerMenuItem.subMenu">
              <swiper :centerInsufficientSlides="true" :slides-per-view="7" :roundLengths="false" :navigation="{ nextEl: '.menu-next', prevEl: '.menu-prev' }" :class="headerMenuItem.subMenu != null && headerMenuItem.subMenu.length > 6 ? 'RRR' : ''">
                <!---------維護中功能在 menu-item-sub或不支持幣別 後加 active↓↓↓↓↓-------------->
                <swiper-slide :class="subMenuItem.status === 0 ? 'menu-item-sub swiper-slide' : 'menu-item-sub active swiper-slide'" v-for="(subMenuItem, subIndex) in headerMenuItem.subMenu" :key="subIndex">
                  <a href="javascript:void(0)" :title="subMenuItem.name" class="header-menu-link" @click="clickGameHall(headerMenuItem, subMenuItem)">
                    <div class="picBoxSpace">
                      <!---------電子遊戲內容維護中div↓↓↓↓↓-------------->
                      <div v-if="subMenuItem.status===2" class="maintainBlock">
                        <div class="maintainText">{{ $t("inMaintenance") }}</div>
                      </div>
                      <!---------電子遊戲內容維護中div↑↑↑↑↑-------------->
                      <img :src="subMenuItem.pcMenuImg" alt="icon" class="icon">
                    </div>
                    

                    <!-- new圖片 -->
                    <span v-show="headerMenuItem.subMenu[subIndex].news" class="menu-note new">
                      <img src="@/assets/aae/img/headerBottom/icon-live.svg" alt="new">
                    </span>
                    <!-- new圖片 -->

                    <!-- hot圖片 -->
                    <span v-show="headerMenuItem.subMenu[subIndex].hot" class="menu-note hot">
                      <img src="@/assets/aae/img/headerBottom/icon-hot.svg" alt="new">
                    </span>
                    <!-- hot圖片 -->
                  </a>
                </swiper-slide>
                <div class="menu-next dir-btn">
                  <img src="@/assets/img/icon/arrow_r.svg" alt="">
                </div>
                <div class="menu-prev dir-btn">
                  <img src="@/assets/img/icon/arrow_l.svg" alt="">
                </div>
              </swiper>

            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <marquee-view />
  <!-- 加載 -->
  <loading v-model:active="isLoading" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />
</template>
<script setup>
import { ref,watch, computed, onMounted } from "vue";
import { useStore } from 'vuex';
import { useRouter } from "vue-router";
import { useI18n } from "vue-i18n";
import { startGame } from "@/api/api";
import { useGamesStore } from "@/store/game";
import MarqueeView from "@/components/aae/MarqueeView.vue";
import { storeToRefs } from "pinia";
import { Swiper, SwiperSlide } from "swiper/vue";
import common from "@/utils/common";
import SwiperCore, { Navigation } from "swiper";
import Swal from "sweetalert2";
import Loading from "vue-loading-overlay";

SwiperCore.use([Navigation]);
const store = useStore();
const { t, locale } = useI18n();
const router = useRouter();
const games = useGamesStore();
const { headerMenu } = storeToRefs(games);
const { errorHandling } = common();
const isLoading = ref(false);
const currencyNo = ref('');
const currencyId = ref('');
const wallets = computed(() => store.state.wallets);
const clickGameClass = async (headerMenuItem) => {
  //設定遊戲類別
  if (headerMenuItem.no !== -1) {
    if(headerMenuItem.dirIn){
      await games.setGameThirdPartyNo(headerMenuItem.no, -1, '', 'gameHall');
    }
    else{
      await games.setGameThirdPartyNo(headerMenuItem.no, -1, '', 'gameThirdParty');
    }
  }
  router.push("/aae/" + headerMenuItem.path);
};
const clickGameHall = async (headerMenuItem, subMenuItem) => {
  // status	狀態(0=啟用,1=停用,2=維護,3=下架)
  // sortStatus	排序狀態(0=無,1=熱門)
  // clickAction 點擊動作(1=進入遊戲列表,2=直接跳轉遊戲商大廳)
  //設定遊戲館別
  if (subMenuItem.status == 0) {
    if (subMenuItem.clickAction == 2) {
      isLoading.value = true;
      try {
        await startGame(locale.value, subMenuItem.gameThirdPartyNo, null, null);
      } catch (err) {
        if (err.response == null || err.response.status == null) {
          console.log(err);
          Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
        } else if (err.response.status == 460)
          // 遊戲維護
          Swal.fire("", t("game_maintain"), "warning");
        else errorHandling(err);
      }
      isLoading.value = false;
    } else {
      const no = headerMenuItem.no;
      const gameThirdPartyNo = subMenuItem.gameThirdPartyNo;
      await games.setGameThirdPartyNo(no, gameThirdPartyNo, subMenuItem.id, 'gameThirdParty');
      router.push("/aae/" + headerMenuItem.path);
    }
  }
};

watch(
  () => wallets.value,
  () => {
    currencyNo.value = +localStorage.getItem("currencyNo");
    currencyId.value = localStorage.getItem("currencyId");
    games.filterHeaderMenuByCurrency();
  }
)

onMounted(() => {
  currencyNo.value = +localStorage.getItem("currencyNo");
  currencyId.value = localStorage.getItem("currencyId");
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.alwaysHide {
  display: none !important;
}

.header__bottom {
  position: fixed;
  top: 0px;
  left: 180px;
  width: calc(100% - 920px);
  z-index: 1;
  //background-color: #ecd0a0;

  .header__bottomBox {
    //background-color: #561D7B;
    padding: none;
    margin: none;
  }
}

@media (max-width: 1660px) {
  .header__bottom {
    position: fixed;
    left: 180px;
    width: calc(100% - 820px);

    .header__bottomBox {
      //background-color: #561D7B;
      padding: none;
      margin: none;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .header__bottom {
    display: block;
    top: 60px;
    left: 0px;
    background: rgb(43, 43, 43);
    width: 100%;
  }
}

.header-menu-item {
  height: 60px;
  display: flex;
  align-items: center;
}

.header-menu-item > a {
  padding-left: 0rem;
  padding-right: 0rem;
  color: #fff;

  .menu-note {
    top: -3px;
    right: 10px;
  }
}

@media (max-width: 1660px) {
  .header-menu-item > a {
    padding-left: 0rem;
    padding-right: 0rem;
    color: #fff;

    .menu-note {
      top: -3px;
      right: 10px;
    }
  }
}

.header-menu-item.show-sub .header-menu-sub {
  position: fixed;
  top: auto;
  width: 100%;
  top: 60px;
  left: 0;
  background-color: hsla(164, 79%, 4%, 0.85);
  justify-content: center;
  align-items: flex-end;
  z-index: 999;
}

.header-menu-item.show-sub .header-menu-sub .swiper {
  margin: 0 30px;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .header-menu-item.show-sub .header-menu-sub {
    top: 110px;
  }
}
.header-menu-item.show-sub .header-menu-sub:before {
  display: none;
  right: 25px;
}

.header-menu-item .header-menu-sub .menu-item-sub {
  width: 235px;
  padding: 0 1.5rem;
  border-right: 1px solid #561d7b;
  border-right: 1px solid #333;
}

.header-menu-item .header-menu-sub .menu-item-sub:last-child {
  border-right: none;
}

.header-menu-item.show-sub .header-menu-sub .menu-item-sub a .icon {
  max-width: 180px;
  height: auto;
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .header-menu-item.show-sub .header-menu-sub .menu-item-sub a .icon {
    max-width: 92px;
  }
}

.header-menu-item.show-sub .header-menu-sub a .text {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 0.2rem;
}

/*RWD */
$background-color_1: #ecd0a0;

.header-menu-item.show-sub {
  &:before {
    content: "";
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #fff;
    position: absolute;
    top: 28px;
    right: 5px;
    transition: all 0.3s ease-in-out;
  }
}

.header-menu-item {
  > a {
    margin: 0 15px;
    font-size: 13.5px;

    &:before {
      content: none;
    }
  }
}

.header-menu-item {
  > a {
    &:before {
      /*content: "";
      position: absolute;
      right: -24px;
      top: 16px;
      
      width: 1px;
      height: 20px;
      background-color: $background-color_1;*/
      content: none;
    }
  }
}

@media (max-width: 1800px) {
  .header-menu-item {
    > a {
      margin: 0 10px;
      font-size: 13px;

      &:before {
        content: none;
      }
    }
  }

  .header-menu-item.show-sub {
    &:before {
      right: -1px;
    }

    .header-menu-sub {
      left: auto;
      right: 0;

      &:before {
        left: 85%;
        transform: translateX(-85%);
      }
    }

    &:first-child {
      .header-menu-sub {
        left: auto;
        right: auto;

        &:before {
          left: 12%;
          transform: translateX(-12%);
        }
      }
    }
  }

  .header-menu-item.show-sub {
    &:before {
      right: -3px;
      transition: all 0.3s ease-in-out;
    }
  }
}

.header-menu-sub {
  align-items: flex-start !important;

  .menu-item-sub {
    display: flex;
    justify-content: center;
    align-items: flex-start !important;
    padding: none;
    margin: none;

    /*選項維護中SCSS↓↓↓↓↓ */
    .maintainBlock {
      display: none;
    }

    &.active {
      filter: grayscale(100%);
      pointer-events: none;

      .maintainBlock {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 500;
        //background-color: rgba(0, 0, 0, 0.5);

        .maintainText {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px 30px 10px 30px;
          background-color: rgba(0, 0, 0, 1);
          border-radius: 10px;
          color: #fff;
        }
      }
    }

    /*電子遊戲內容維護中SCSS↑↑↑↑↑↑*/

    //background-color: #561D7B;
    .picBoxSpace {
      display: flex;
      justify-content: center !important;
      align-items: center;
    }

    .header-menu-link {
      position: relative;
      display: flex;
      justify-content: center !important;
      flex-direction: column;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.02em;
      padding: 6px 10px 10px 10px;
      //background-color: #a080b4;
      @media screen and (min-width: 768px) and (max-width: 1300px) {
        .header-menu-link {
          padding: 6px 20px 10px 20px;
        }
      }

      .icon {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        //vertical-align: middle;
        //margin-right: 1px;
        width: 200px !important;
        height: 184px;
        //padding-right: 5px;
        //background-color: #561D7B;
        padding-right: 0px !important;
        margin-right: 0px !important;
        //background-color: blue;
        border-radius: 10px;
        padding: none;
        margin: 0 0 5px 0;
      }

      .text {
        width: 100% !important;
        display: block;
        text-align: center;
        font-size: 1.2rem;
        margin-top: 0.2rem;
        margin: 5px 0;
        //background-color: blue;
      }
    }
  }
}

.dir-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  width: 17px;

  &.menu-prev {
    left: 20px;
  }

  &.menu-next {
    right: 20px;
  }

  &.swiper-button-disabled {
    opacity: 0;
    pointer-events: none;
  }
}
</style>
