<template>
  <div class="header__top header__topType02 type03">
    <div class="container container_header">
      <!--PC版選單-->
      <div class="wrapper-top flex-box containerBox">
        <div>
          <div
            class="header-infomation flex-box header-infomation__wc2022 alwaysShowLogo"
          >
            <div class="logo logoBox">
              <router-link
                to="/aae/"
                class="nuxt-link-exact-active nuxt-link-active"
              >
                <div
                  data-v-29119cde=""
                  id="canvasPlayer"
                  class="logo-animation canvas"
                >
                  <img :src="logo?.imageUrl" alt="" />
                </div>
              </router-link>
            </div>
          </div>
        </div>
        <div>
          <div class="header-right header-form flex-box">
            <div class="show-desktop btnBox alwaysShow">
              <!-- 使用者登入顯示 -->
              <span class="isLogin btnBox" v-if="isLogin == true">
                <span class="mr-3 btnItem">
                  <div class="iconBox">
                    <font-awesome-icon icon="fa-solid fa-user" />
                  </div>
                  <div>
                    {{ user.account }}
                  </div>
                </span>
                <span class="mx-3 user-cash btnItem">
                  <div class="walletBtn mr-1">
                    <div v-if="wallets[0]" class="d-flex align-items-center">
                      <img :src="wallets[0].currency.img" alt="" style="width:20px">
                      <span class="ml-2">{{stringToMoney(wallets[0].balance)}}</span>
                    </div>
                    <div v-show="wallets.length>1" class="subWalletMenu">
                      <div v-for="(wallet, index) in wallets" :key="index" class="wallet-option" @click="selectWallet(wallet)">
                        <img :src="wallet.currency.img" alt="">
                        <div class="btnName">
                          {{wallet.currency.currencyId}} - {{stringToMoney(wallet.balance)}}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div ref="refreshIcon" class="refreshIcon" @click="refreshWallets(refreshIcon)">
                    <img src="@/assets/aae/img/headerTop/icon_refresh.svg" alt="">
                  </div>
                </span>
                <router-link
                  :to="{ name: 'aaeUserChangeInfo' }"
                  class="button member-btn mr-1 btnItem"
                >
                  <div class="iconBox">
                    <font-awesome-icon icon="fa-solid fa-user" />
                  </div>
                  <div class="btnName">
                    {{ $t("member") }}
                  </div>
                </router-link>
                <router-link
                  :to="{ name: 'aaeCommonDeposit' }"
                  class="button member-btn btnItem"
                >
                  <font-awesome-icon icon="fa-solid fa-circle-dollar-to-slot" />
                  <div class="btnName">
                    {{ $t("recharge") }}
                  </div>
                </router-link>
                <router-link
                  :to="{ name: 'aaeCommonWithdraw' }"
                  class="button button--blue ml-1 login-btn member-btn-orange btnItem"
                >
                  <font-awesome-icon icon="fa-solid fa-hand-holding-dollar" />
                  <div class="btnName">
                    {{ $t("withdrawal") }}
                  </div>
                </router-link>
                <div
                  class="button logOut-btn ml-3 btnItem"
                  @click="logout"
                >
                  <font-awesome-icon icon="fa-solid fa-right-from-bracket" />
                  <!---->
                  <div class="btnName">
                    {{ $t("log_out") }}
                  </div>
                </div>
              </span>
              <!-- 如果未登入顯示 -->
              <span v-else>
                <a
                  href="javascript:void(0)"
                  class="button register-btn headerRightBtn"
                  rel="tab1"
                  data-bs-target="#collapseTarget"
                  data-bs-toggle="modal"
                  @click="selectTab(false)"
                >
                  
                  <!-- 註冊 -->
                  {{ $t("registration") }}
                </a>
                <a
                  href="javascript:void(0)"
                  class="button button--blue ml-1 login-btn headerRightBtn"
                  rel="tab2"
                  data-bs-target="#collapseTarget"
                  data-bs-toggle="modal"
                  @click="selectTab(true)"
                >
                  
                  <!-- 登入 -->
                  {{ $t("login") }}
                </a>
              </span>
              <!-- 語言選單 -->
              <a
                href="javascript:void(0)"
                class="button lan-button btnItem"
                :class="[showPopup ? 'show-popup' : '']"
                @mouseleave="showPopup = false"
              >
                <img
                  :src="lang.image"
                  alt=""
                  class="lanImg"
                  @mouseover="showPopup = true"
                />
                <div class="" @mouseover="showPopup = true">
                  {{ lang.name }}
                </div>
                <span
                  class="fa-solid fa-caret-down"
                  @mouseover="showPopup = true"
                >
                  <font-awesome-icon icon="fa-solid fa-caret-down" />
                </span>
                <div class="subLanMenu">
                  <a class="lang-option" v-for="lang in matchedLangs" :key="lang" @click="changeLangAndGames(lang)">
                    <img :src=lang.image alt="" class="lanImg">
                    <div class="btnName">
                      {{ lang.name }}
                    </div>
                  </a>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!---->
        <!---->
        <!---->
        <!---->
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, onBeforeMount, computed } from 'vue';
import { useStore } from 'vuex';
import common from "@/utils/common";

const { stringToMoney, selectTab, logout, selectWallet, refreshWallets, changeLang, getLogo, getGames } = common();
const store = useStore();
const showPopup = ref(false);
const refreshIcon = ref(null);
const logo = ref('');
const isLogin = computed(() => store.state.isLogin);
const user = computed(() => store.state.user);
const lang = computed(() => store.state.lang);
const wallets = computed(() => store.state.wallets);
const matchedLangs = computed(() => store.state.matchedLangs);

const changeLangAndGames = lang => {
  changeLang(lang);
  getGames("getGameList");
}

onBeforeMount( async () => {
  logo.value = await getLogo(1, 15);
})
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.wrapper-top {
  justify-content: space-between;
}
/*RWD*/
.header-infomation {
  align-items: flex-start;
}

.header-infomation > div {
  margin-right: 54px;
}

@media (max-width: 1199px) {
  .header-infomation > div {
    margin-right: 26px;
  }
}

.header__topType02 {
  border: none;
  padding-bottom: 0;
  z-index: 1;

  &.type03 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  @media screen and (min-width: 768px) and (max-width: 1300px) {
    z-index: 2;
  }
}

.container_header {
  display: flex;
  justify-content: Space-between;
  align-items: center;
  max-width: 100%;
  background-color: #1b2026;
  height: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .wrapper-top {
    justify-content: center;
  }
}

.containerBox {
  width: 100%;
}

.header {
  background-color: #561d7b;
  border-bottom: none !important;

  .logo {
    height: auto;
    width: auto;
    img {
      max-width: none;
      max-height: 50px;
    }
    .logo-animation{
      height: auto;
    }
  }
}

@media (max-width: 992px) {
  .header {
    background-color: #561d7b;
    border-bottom: none !important;

    .logo img {
      position: absolute;
      top: 0px;
      left: -120px;
      max-width: none;
      max-height: 50px;
    }
  }
}

.logoBox {
  position: absolute !important;
  top: 5px;
  left: 5px;
  display: flex;
  justify-content: left;
  margin-top: 0px;
  //background-color: #561d7b;
  height: 50px;
  width: 150px;
  padding: 0;

  & img {
    height: 100%;
    width: auto;
  }
}

@media (max-width: 992px) {
  .logoBox {
    //position: absolute !important;
    //top: 5px;
    //left: -55px;
    display: flex;
    justify-content: left;
    margin-top: 0px;
    //background-color: #b49ac5;
    height: 50px;
    width: 120px;
    padding: 0;

    & img {
      height: 100%;
      width: auto;
    }
  }
}

.header-right .button {
  cursor: pointer;
  padding: 0.5rem 0.6rem;
  font-size: 0.1rem;
  svg {
    font-size: .7rem;
  }
}

.header-right .button.lan-button {
  background: none;
  box-shadow: none;
  border-radius: 5px;
  color: #fff;
  padding: 0.46rem;
}

.headerRightBtn {
  background-image: none;
  background: none;
  background-color: #def2f0;
  color: #5a3d0b;
  border-radius: 5px;
  box-shadow: none;
}
.register-btn {
  background-color: #f1ac33;
  color: #231f20;
  border-radius: 17px;
}
.login-btn {
  background-color: #231f20;
  color: #fff;
  border-radius: 17px;
}

.header-right .lan-button {
  margin-left: 10px;
}

.fa-solid.fa-caret-down {
  display: inline-block;
  //background-color: #c08d10;
  padding: 0 0rem 0 0.3rem;
  border-radius: 0.2rem;
  margin-left: 0.3rem;
}

.iconHide {
  display: none;
  background-color: #6e1a7c;
}

@media (max-width: 1660px) {
  .iconHide {
    display: none;
    background-color: #6e1a7c;
  }
}

.lanImg {
  width: 22px;
  vertical-align: text-bottom;
  margin-right: 0.5rem;
  display: inline-block;
}

@media (max-width: 1660px) {
  .lanImg {
    vertical-align: text-bottom;
    margin-right: none;
  }
}

.subLanMenu {
  position: absolute;
  right: 0;
  top: 38px;
  opacity: 0;
  visibility: hidden;
  min-width: auto;
  padding: 0px 10px 5px;
  background-color: #111022;
  border: 1px solid #ecd0a0;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  width: 100%;
  width: 80px;

  .lang-option {
    cursor: pointer;
    display: block;
    margin: 1rem 0;
    text-align: start;
  }
}

a.lan-button.show-popup .subLanMenu {
  opacity: 1;
  visibility: visible;
}

a.lan-button.show-popup .subLanMenu a:hover {
  color: #de99ff;
}

.header-right a.show-popup .login-form {
  opacity: 1;
  visibility: visible;
  right: 0;
}

span.isLogin {
  color: #caa653;
  .walletBtn{
    display: flex;
    cursor: pointer;
    position: relative;
    padding: 5px 0;
    &:hover{
      .subWalletMenu{
        opacity: 1;
        visibility: visible;
      }
    }
    .subWalletMenu {
      position: absolute;
      left: 0;
      top: 38px;
      opacity: 0;
      visibility: hidden;
      min-width: auto;
      padding: 0px 10px 5px;
      background-color: #111022;
      border: 1px solid #ecd0a0;
      z-index: 10;
      transition: all 0.3s ease-in-out;
      width: max-content;
      color:white;
      .wallet-option{
        display: flex;
        align-items: center;
        margin: 1rem 0;
        transition: color .3s;
        img{
          width: 32px;
        } 
        &:hover{
          color:rgb(202, 166, 83);
        }
        .btnName{
          margin-left: 10px;
        }
      }

    }
  }
  .user-cash {
    position: relative;
  }

  img.vn-icon {
    position: absolute;
    left: -24px;
    max-width: 20px;
  }

  .refreshIcon {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #ffffff;
    //background-color: #6E1A7C;
    width: 16px;
    height: 16px;
    margin: 0 0 0 6px;
    z-index: 500;
    cursor: pointer;

    & img {
      width: 100%;
      height: auto;
    }

    &.motion {
      animation-name: motion01;
      animation-duration: 1s;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-fill-mode: none;

      @keyframes motion01 {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}

a.member-btn {
  //background: linear-gradient(360deg, #F6D083 0%, #C09C48 48.44%, #F6D083 100%);
  transition: all 0.3s ease-in-out;
  //background: none;
  //background-color: #ff8a00;
  background: none;
  box-shadow: none;
  background-color: #def2f0;
  color: #5a3d0b;

  // &:hover {
  //     background: linear-gradient(360deg, #ffe5b1 0%, #d1aa4f 48.44%, #F6D083 100%);
  // }
}

a.logOut-btn {
  position: relative;
  background: #6e1a7c;
  box-shadow: none;

  &:hover {
    background: #8a219c;
  }

  &:before {
    content: "";
    position: absolute;
    left: -8px;
    top: 0px;
    height: 2rem;
    width: 1px;
    background: #525151;
  }
}

a.member-btn-orange {
  //background: linear-gradient(360deg, #F6D083 0%, #C09C48 48.44%, #F6D083 100%);
  transition: all 0.3s ease-in-out;
  //background: none;
  //background-color: #ff8a00;
  background: none;
  box-shadow: none;
  background-color: #ff8a00;
  color: #ffffff;

  // &:hover {
  //     background: linear-gradient(360deg, #ffe5b1 0%, #d1aa4f 48.44%, #F6D083 100%);
  // }
}

//浮動廣告BAR//
.fullScreen {
  position: absolute;
  z-index: 5000;
  width: 100vw;
  height: 100vh;
  min-width: 1000px;
  pointer-events: none;
  //background-color: #D00206;
  display: none;
}

//左上最上層廣告BAR//
.frontTopLeftBlock {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 150px;

  &img {
    widows: 100%;
    height: auto;
  }
}

//左對聯廣告BAR//
.frontLeftBlock {
  position: absolute;
  z-index: 10;
  top: 150px;
  left: 5px;

  &img {
    widows: 100%;
    height: auto;
  }
}

.frontRightBlock {
  position: absolute;
  z-index: 10;
  top: 150px;
  right: 10px;

  &img {
    widows: 100%;
    height: auto;
  }
}

//左下對聯廣告BAR//
.frontBottomLeftBlock {
  position: fixed;
  left: 2px;
  bottom: 5px;
  z-index: 99;
  background-color: #8a219c;
  cursor: pointer;

  &img {
    widows: 100%;
    height: auto;
  }
}

.header-menu-item {
  position: relative;
}

/*使用者登入RWD */
.alwaysShow {
  display: flex !important;

  .type02 {
    display: none !important;

    @media (min-width: 1251px) {
      display: none !important;
    }
  }
}

.alwaysShowLogo {
  @media (min-width: 1251px) {
    display: flex !important;
  }
}

.alwaysHide {
  display: none !important;
}

.btnBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.btnItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 5px;
  min-width: 0 !important;

  .iconBox {
    margin: 0;
  }

  .btnName {
    display: inline-block;
    margin-left: 0.2rem;
  }
}

@media (max-width: 1660px) {
  .btnItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    min-width: none !important;
    //padding: 0px 10px 0px 10px;
    border-radius: 50px;

    .iconBox {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: none;
      margin-right: 0px;
    }
    > .lanImg {
      display: none;
    }
    > .btnName {
      display: none;
    }
  }

  .button svg {
    margin-top: 0px;
    margin-right: 0px;
    padding: 0 0.2rem;
  }
}

.img-background {
  .show-desktop {
    display: block;
  }
}

@media (max-width: 992px) {
  .img-background {
    .show-desktop {
      width: 100%;
      display: block !important;
      background-color: #561d7b !important;
    }
  }
}

.img-background {
  .show-mobile {
    display: none;
  }
}

@media (min-width: 992px) {
  .img-background {
    .show-mobile {
      display: none !important;
    }
  }
}

/*手機版header css */
@media (max-width: 1250px) {
  .mobileHeader {
    position: absolute;
    left: 0;
    //background-color: #de99ff;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    .hamburgerMenuBox {
      position: absolute;
      top: 10px;
      left: 15px;
      height: 40px;
      width: 40px;
      //background-color: #6e1a7c;
    }

    .logoImgBox {
      height: 50px;
      max-width: 140px;
      //background-color: #6e1a7c;

      .logoImg {
        touch-action: auto;
        padding: 2px 0 0 0;
        cursor: inherit;

        & img {
          width: 100%;
          height: auto;
        }
      }

      @media (max-width: 869px) {
        &.logoImgBox {
          position: absolute;
          left: 30%;
          transform: translate(-30%, 0);
        }
      }
    }
  }

  .hamburgerMenuBlock {
    position: absolute;
    top: 65px;
    left: -500px;
    //background-color: #de99ff;
    width: 320px;
    //height: 60px;
    display: block;
    padding: 5px;
    background: #15231f;
    border: 1px solid #919e9a;
    border-radius: 20px;
    transition: 0.2s;
    overflow-y: auto;
    max-height: calc(100vh - 120px);

    &::-webkit-scrollbar {
      display: none;
    }

    &.active {
      left: 10px;
    }

    .hamburgerMenuItemBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      border-bottom: 1px solid #72807c;

      &:hover {
        .leftBox {
          color: #f1ad34;
        }
      }

      &.noBottomLine {
        border-bottom: none;
      }

      .leftBox {
        font-size: 1.2rem;
        line-height: 22px;
        font-weight: 700;
        color: #fff;
        transition: 0.2s;
      }

      .rightBox {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media (min-width: 1251px) {
  .mobileHeader {
    display: none;
  }

  .hamburgerMenuBlock {
    display: none;
  }
}
</style>
