<template>
    <sign-form v-if="status" />
    <div>
        <HeaderTop />
        <div class="d-flex">
            <LeftMenu />
            <router-view />
        </div>
        <Footer />
        <div id="loader">
            <div class="loader-circle"></div>
        </div>
    </div>
</template>
<script setup>
import { ref, onBeforeMount, onUnmounted, onMounted, watch, computed } from 'vue';
import { useStore } from "vuex"
import common from "@/utils/common";
import SignForm from '@/components/SignFormView.vue'
import HeaderTop from '@/components/aaf/TopHeaderView.vue'
import LeftMenu from '@/components/aaf/LeftMenuView.vue'
import Footer from '@/components/aaf/FooterView.vue'
import { useRoute } from 'vue-router';

const store = useStore();
const route = useRoute();
const status = ref(false);
const isLogin = computed(() => store.state.isLogin);
const matchedLangs = computed(() => store.state.matchedLangs);
const { getSiteSettingInfo, getUserInfo, getWallets, getMatchedLangList, setCurrencyToLocalStorage, setWebNameAndIco, setLang, getGames, logout } = common();


const hideLoader = () => {
  const loader = document.getElementById("loader");
  loader.style.display = "none";
}

watch(
  () => isLogin.value,
  () => {
    if(localStorage.getItem("sessionKey")){
      getWallets();
    }
  }
)

onBeforeMount( async() => {
  if(localStorage.getItem('DomainLayoutId') && localStorage.getItem('DomainLayoutId') !== 'aaf'){
    logout();
  }
  //設定版型
  store.dispatch('setDomainLayoutId', 'aaf');

    //取得站台資訊
  await getSiteSettingInfo();
  //取得語系列表
  await getMatchedLangList();
  //設定語系
  await setLang(matchedLangs.value[0]);
  //設定幣別
  await setCurrencyToLocalStorage();

  //取得遊戲
  let path = route.path;
  if(path.includes('SportHall') || path.includes('CasinoHall') || path.includes('Egame') || path.includes('LotteryHall') || path.includes('FishHall') || path.includes('Chess') || path.includes('SportEventHall')){
    await getGames('getGameList');
  }
  else{
    getGames('getGameList');
  }

  status.value = true;
  if(status.value){
    hideLoader();

    //設定網站名稱和ico
    setWebNameAndIco();

    if(localStorage.getItem("sessionKey")){
      await getUserInfo();
    }
    //getUserInfo 錯誤時，可能會登出，所以if判斷要分開寫
    if(localStorage.getItem("sessionKey")){
      await store.dispatch('setIsLogin', true);
      await getWallets();
    }
  }
})


onMounted(async () => {
  const htmlElement = document.getElementsByTagName("html")[0];
  htmlElement.classList.add("aaf");
});
onUnmounted(() => {
  const htmlElement = document.getElementsByTagName("html")[0];
  htmlElement.classList.remove("aaf");
});
</script>
<style lang="scss">

html.aaf body{
  background: white;
  color: #212529;
}
a:hover{
  text-decoration: none;
}
#loader{
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.95);
  .loader-circle{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
    border: 3px solid rgba(255,255,255,0.25);
    border-radius: 50%;
    border-top: 3px solid white;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
</style>
