<template>
  <!-- 註冊登入表單 -->
  <phone-sign-form-view v-if="status" />

  <!-- 頁面內容 -->
  <router-view v-if="status" />
  <div id="loader">
    <div class="loader-circle"></div>
  </div>
</template>


<script setup>
import { ref, onBeforeMount, watch, computed } from 'vue';
import common from "@/utils/common";
import { useStore } from 'vuex';
import PhoneSignFormView from '@/components/aaf/phone/PhoneSignFormView.vue'
import '@/assets/aad/css/app.css'
import { useRoute } from 'vue-router';

const store = useStore();
const route = useRoute();
const { getSiteSettingInfo, getUserInfo, getWallets, setLang, getMatchedLangList, setCurrencyToLocalStorage, setWebNameAndIco, getGames, logout } = common();
const status = ref(false);
const isLogin = computed(() => store.state.isLogin);
const matchedLangs = computed(() => store.state.matchedLangs);

const hideLoader = () => {
  const loader = document.getElementById("loader");
  loader.style.display = "none";
}

watch(
  () => isLogin.value,
  () => {
    if(localStorage.getItem("sessionKey")){
      console.log('isLogin changed');
      getWallets();
    }
  }
)

onBeforeMount( async() => {
  if(localStorage.getItem('DomainLayoutId') && localStorage.getItem('DomainLayoutId') !== 'aad'){
    logout();
  }
  //設定版型
  store.dispatch('setDomainLayoutId', 'aaf');

  //取得站台資訊
  await getSiteSettingInfo();
  //取得語系列表
  await getMatchedLangList();
  //設定語系
  await setLang(matchedLangs.value[0])
  
  //取得遊戲
  let path = route.path;
  if(path.includes('PhoneGameHall') ){
    await getGames('getPhoneGameList');
  }
  else{
    getGames('getPhoneGameList');
  }

  status.value = true;
  if(status.value){
    hideLoader();

    //設定網站名稱和ico
    setWebNameAndIco();
    //設定幣別
    setCurrencyToLocalStorage();

    if(localStorage.getItem("sessionKey")){
      await getUserInfo();
    }
    if(localStorage.getItem("sessionKey")){
      await store.dispatch('setIsLogin', true);
      await getWallets();
    }
  }
})

</script>


<style lang="scss">
html {
  overflow-x: hidden;
  height: auto;
}
body {
  background: transparent;
  font-family: "Open Sans";
  color:black;
}

a:hover{
  color:inherit;
  text-decoration: none;
}
.bg-white{
  background: white;
}

.bg-blue{
  background:#1c9dff;
}
.bg-yellow{
  background: #ffcf3f;
}
img{
  max-width: 100%;
}

.fs-12{
  font-size: 12px;
}
.fs-18{
  font-size: 18px;
}
.fs-20{
  font-size: 20px;
}
.fw-bold{
  font-weight: bold;
}
.text-black{
  color:black;
}
.text-blue{
  color:#1c9dff;
}
.text-yellow{
  color:#f1ac33;
}
.text-lightGreen{
  color:#34e746;
}
.border-radius-10{
  border-radius: 10px;
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
