<template>

  <div class="phone">
    <div class="phone-vip">
      <div class="vipHeader">
        <div class="nav">
          <div class="back"> <a href="javascript:history.go(-1)"><font-awesome-icon icon="fa-solid fa-chevron-left" /></a> </div>
          <div class="title">{{ $t("vip_member_growth_system") }}</div>
          <div class="search"></div>
        </div>
        <div class="vip-info">
          <div class="vip-thumbs">
            <img v-if="user.avatarImage === null" :src="require('@/assets/aad/img/avatar/empty.svg')" />
            <img v-else :src="user.avatarImage" />
          </div>
          <div class="vip-id">ID: <span>{{user.account}}</span>
            <div class="level">vip {{user.level}}</div>
          </div>
        </div>
        <swiper class="swipervip-slide-wrapper" :modules="modules" @slideChange="slideChange" @swiper="initSwiper">
          <swiper-slide class="vip-slide" v-for="(vipLevel, index) in vipLevels" :key="index">
            <div class="vip-step">
              <div class="step-start" :class="{active: vipLevel.level === levelActive}">vip <span>{{vipLevel.level}}</span></div>
              <div class="phone-progress-bar-wrap">
                <div class="phone-progress">
                  <div class="phone-progress-done" :style="{ width: progressBars[index] + '%'}">
                    <div class="phone-progress-value">{{ progressBars[index] + '%' }}</div>
                  </div>
                </div>
              </div>
              <div class="step-end">
                <span v-if="vipLevel.level < 10">{{'vip ' + (vipLevel.level + 1)}}</span>
              </div>
            </div>
            <div class="vip-card">
              <p>{{vipLevel.name}}</p>
              <p v-if="index <= 8">
                <span>{{vipDescription[index]}}</span>
                <span class="ml-2">{{stringToMoney(totalScore)}} / {{stringToMoney(vipLevel.sillEnd)}}</span>
              </p>
              <p v-else-if="index === 9">
                <span>{{ $t('highest_grade') }}</span>
              </p>
            </div>
            <div class="vip-mark">
              <div class="vip-mark-1">
                <div><img src="@/assets/aad/img/VIP/icon_vip_star.png" alt=""></div>
                <div class="step-start">vip {{vipLevel.level}}</div>
              </div>
              <div class="vip-mark-2">
                <img :src="getVipImg(vipLevel.level)" alt="">
              </div>
            </div>
          </swiper-slide>
        </swiper>
      </div>
      <div class="vip-update-tilte">{{ $t("vipCardRemark") }}</div>
      <div class="vip-update">
        <swiper class="swiper vip-update-content" :modules="modules" :slides-per-view="3" :slides-per-group="3">
          <swiper-slide class="content-wrapeer">
            <div><img src="@/assets/aad/img/VIP/icon_vip_gift.png" alt=""></div>
            <div class="content-title">{{ $t("vipDirections1") }}</div>
            <div class="content-text">{{ $t("vipDirectionsDetail1") }}</div>
          </swiper-slide>
          <swiper-slide class="content-wrapeer">
            <div><img src="@/assets/aad/img/VIP/icon_vip_money.png" alt=""></div>
            <div class="content-title">{{ $t("vipDirections2") }}</div>
            <div class="content-text">{{ $t("vipDirectionsDetail2") }}</div>
          </swiper-slide>
          <swiper-slide class="content-wrapeer">
            <div><img src="@/assets/aad/img/VIP/icon_vip_noble.png" alt=""></div>
            <div class="content-title">{{ $t("vipDirections3") }}</div>
            <div class="content-text">{{ $t("vipDirectionsDetail3") }}</div>
          </swiper-slide>
          <swiper-slide class="content-wrapeer">
            <div><img src="@/assets/aad/img/VIP/icon_vip_noblegift.png" alt=""></div>
            <div class="content-title">{{ $t("vipDirections4") }}</div>
            <div class="content-text">{{ $t("vipDirectionsDetail4") }}</div>
          </swiper-slide>
          <swiper-slide class="content-wrapeer">
            <div><img src="@/assets/aad/img/VIP/icon_vip_gift02.png" alt=""></div>
            <div class="content-title">{{ $t("vipDirections5") }}</div>
            <div class="content-text">{{ $t("vipDirectionsDetail5") }}</div>
          </swiper-slide>
          <swiper-slide class="content-wrapeer">
            <div><img src="@/assets/aad/img/VIP/icon_vip_gift03.png" alt=""></div>
            <div class="content-title">{{ $t("vipDirections6") }}</div>
            <div class="content-text">{{ $t("vipDirectionsDetail6") }}</div>
          </swiper-slide>
        </swiper>
      </div>
      <div class="bonus-title">{{ $t("vip_benefits_receive") }}</div>
      <div v-if="isLoaded === true" class="vip-bonus">
        <div class="bonus-content">
          <span class="icon"><img src="@/assets/aad/img/VIP/bonus-icon1.png" alt="">{{ $t("promotion_bonus") }}</span>
          <span class="point">{{ stringToMoney(vipLevelActive.upgradeBonus) }} {{ currency }}</span>
          <span :class="vipLevelActive.upgradeBonusReceiveStatus === 1 ? 'receive' : 'received'" @click="receiveBonus(0, vipLevelActive)">{{ receiveStatus(vipLevelActive.level, vipLevelActive.upgradeBonusReceiveStatus) }}</span>
        </div>
        <div class="bonus-content">
          <span class="icon"><img src="@/assets/aad/img/VIP/bonus-icon2.png" alt="">{{ $t("zhou_Lijin") }}</span>
          <span>{{ stringToMoney(vipLevelActive.weekBonus) }} {{ currency }}</span>
          <span :class="vipLevelActive.weekBonusReceiveStatus === 1 ? 'receive' : 'received'" @click="receiveBonus(1, vipLevelActive)">{{ receiveStatus(vipLevelActive.level, vipLevelActive.weekBonusReceiveStatus) }}</span>
        </div>
        <div class="bonus-content">
          <span class="icon"><img src="@/assets/aad/img/VIP/bonus-icon3.png" alt="">{{ $t("monthly_gift") }}</span>
          <span class="point">{{ stringToMoney(vipLevelActive.monthBonus) }} {{ currency }}</span>
          <span :class="vipLevelActive.monthBonusReceiveStatus === 1 ? 'receive' : 'received'" @click="receiveBonus(2, vipLevelActive)">{{ receiveStatus(vipLevelActive.level, vipLevelActive.monthBonusReceiveStatus) }}</span>
        </div>
        <div class="bonus-content">
          <span class="icon"><img src="@/assets/aad/img/VIP/bonus-icon4.png" alt="">{{ $t("signin_bonus") }}</span>
          <span>{{ stringToMoney(vipLevelActive.signBonus) }} {{ currency }}</span>
          <span :class="vipLevelActive.signBonusReceiveStatus === 1 ? 'receive' : 'received'" @click="receiveBonus(3, vipLevelActive)">{{ receiveStatus(vipLevelActive.level, vipLevelActive.signBonusReceiveStatus) }}</span>
        </div>
      </div>
    </div>
    <loading-overlay :active="isLoading" :can-cancel="false" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff"></loading-overlay>
  </div>
</template>

<script setup>
import { computed } from "vue";
import { useStore } from 'vuex';
import { Swiper, SwiperSlide } from 'swiper/vue';
import { Controller } from 'swiper';
import LoadingOverlay from 'vue-loading-overlay';
import { ref, reactive, onMounted } from 'vue';
import common from "@/utils/common";
import apiService from '@/api/apiService';
import { useI18n } from "vue-i18n";
import Swal from "sweetalert2";

import 'swiper/css';
import 'swiper/css/pagination';
import 'swiper/css/scrollbar'
import 'swiper/css/effect-fade';

const store = useStore();
const isLoading = ref(false);
const modules = [Controller];
const { errorHandling, stringToMoney, userLogout } = common();
const { t } = useI18n();

const levelActive = ref(0); //當前等級
const totalScore = ref(0); //當前累計總積分
const currency = ref('');
const vipLevels = reactive([]);
const vipLevelActive = ref('');
const progressBars = ref([]);
const levelSwiper = ref(null);
const isLoaded = ref(false);
const vipDescription = ref([
  t('progress_upgrad_vip', { level: 1 }),
  t('progress_upgrad_vip', { level: 2 }),
  t('progress_upgrad_vip', { level: 3 }),
  t('progress_upgrad_vip', { level: 4 }),
  t('progress_upgrad_vip', { level: 5 }),
  t('progress_upgrad_vip', { level: 6 }),
  t('progress_upgrad_vip', { level: 7 }),
  t('progress_upgrad_vip', { level: 8 }),
  t('progress_upgrad_vip', { level: 9 }),
]);

const user = computed(() => store.state.user);

//等級輪播時觸發
const slideChange = (swiper) => {
  vipLevelActive.value = vipLevels[swiper.activeIndex];
}

// 取得等級資訊
const getAgentLevelInfo = () => {
  isLoading.value = true;
  apiService.post('/AgentLevel/Info', {
    sessionKey: localStorage.getItem("sessionKey"),
    lang: localStorage.getItem('locale'),
    currencyNo: +localStorage.getItem("currencyNo")
  }).then((res) => {
    levelActive.value = res.data.currentLevel;
    totalScore.value = res.data.totalScore;
    currency.value = res.data.currency.currencyId;
    if (res.data.currency.protocol != null)
      currency.value += '(' + res.data.currency.protocol + ')';

    res.data.datas.forEach(element => {
      vipLevels.push(element);
      // 算積分%數
      let sillEnd = element.sillEnd ?? element.sillStart;
      let progressbar = 0;
      if(res.data.totalScore > element.sillStart){
        progressbar = parseInt((res.data.totalScore / sillEnd) * 100);
      }
      if (progressbar > 100) progressbar = 100;
      progressBars.value.push(progressbar);
    });
    vipLevelActive.value = vipLevels[0];
    levelSwiper.value.slideTo(levelActive.value - 1); //輪播滑至該等級
    isLoaded.value = true;
  }).catch((err) => {
    errorHandling(err);
  }).finally(() => {
    isLoading.value = false;
  });
}

// 回傳圖檔路徑
const getVipImg = value => {
  return require('@/assets/aad/img/VIP/VIP' + value.toString().padStart(2, '0') + '.png');
}

// 領取狀態名稱
const receiveStatus = (vipLevel, value) => {
  if (levelActive.value != vipLevel)
    return t('canNotReceive');

  switch (value) {
    case 0: // 不可領取
      return t('canNotReceive');
    case 1: // 可領取
      return t('receive');
    case 2: // 已領取
      return t('received');
    default:
      return '';
  }
}

// 領取獎勵
const receiveBonus = (value, vipLevel) => {
  let canReceive = false;

  if (levelActive.value != vipLevel.level) return;

  switch (value) {
    case 0:
      if (vipLevel.upgradeBonusReceiveStatus == 1) canReceive = true;
      break;
    case 1:
      if (vipLevel.weekBonusReceiveStatus == 1) canReceive = true;
      break;
    case 2:
      if (vipLevel.monthBonusReceiveStatus == 1) canReceive = true;
      break;
    case 3:
      if (vipLevel.signBonusReceiveStatus == 1) canReceive = true;
      break;
  }

  if (!canReceive) return;

  isLoading.value = true;
  var params = {
    sessionKey: localStorage.getItem("sessionKey"),
    type: value,
    currencyNo: +localStorage.getItem("currencyNo")
  };
  apiService.post('/AgentLevel/ReceiveBonus', params)
    .then(() => {
      switch (value) {
        case 0:
          vipLevel.upgradeBonusReceiveStatus = 2;
          break;
        case 1:
          vipLevel.weekBonusReceiveStatus = 2;
          break;
        case 2:
          vipLevel.monthBonusReceiveStatus = 2;
          break;
        case 3:
          vipLevel.signBonusReceiveStatus = 2;
          break;
      }
      Swal.fire("", t("success"), "success");
    })
    .catch((err) => {
      errorHandling(err);
    })
    .finally(() => {
      isLoading.value = false;
    });
}

const initSwiper = (swiper) => {
  levelSwiper.value = swiper
}

onMounted(() => {
  if (!localStorage.getItem("sessionKey")) { userLogout(); return; }
  getAgentLevelInfo();
});

</script>

<style lang="scss" scoped>
.vipHeader {
  padding: 2rem 0.5rem;
  background: url(@/assets/aad/img/phone/vipHeader-bg.png) no-repeat;
  background-size: 100% 304px;

  .nav {
    display: flex;
    justify-content: space-between;
    color: #000;
    font-weight: 900;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    a {
      color: #000;
    }
  }

  .vip-info {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    .vip-thumbs {
      margin-right: 0.5rem;
      img {
        width: 60px;
        border-radius: 30px;
      }
    }
    .vip-id {
      color: #000;
      .level {
        background: linear-gradient(180deg, #9d2024 0%, #3f0303 100%);
        border-radius: 3px;
        width: 40px;
        text-align: center;
        color: #fff;
        font-size: 0.6rem;
      }
    }
  }

  .swipervip-slide-wrapper {
    padding-top: 1rem;
    .vip-slide {
      .vip-step {
        position: relative;
        .step-start {
          position: absolute;
          background: linear-gradient(180deg, #6d6d6d 0%, #404040 100%);
          border-radius: 30px;
          width: 40px;
          text-align: center;
          color: #fff;
          font-size: 0.6rem;
          top: -5px;
          &.active {
                background: linear-gradient(180deg, #e7b823 0%, #c97705 100%);
          }
        }
        .step-end {
          position: absolute;
          background: linear-gradient(180deg, #6d6d6d 0%, #404040 100%);
          border-radius: 30px;
          width: 40px;
          text-align: center;
          color: #fff;
          font-size: 0.6rem;
          right: 0;
          top: -5px;
        }

        .progress-bar-wrap {
          padding: 40px 0;
        }
        .phone-progress {
          background-color: rgba(165, 207, 55, 0.2);
          border-radius: 8px;
          position: relative;
          margin: 15px auto;
          height: 10px;
          width: 75%;
        }

        .phone-progress-done {
              background: linear-gradient(180deg, #e7b823 0%, #c97705 100%);
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 0;
          transition: 1s ease 0.3s;
          position: relative;
        }

        .phone-progress-value {
          position: absolute;
          right: -15px;
          top: -25px;
          color: #fff;
          padding-top: 20px;
              background: linear-gradient(180deg, #e7b823 0%, #c97705 100%);
          border-radius: 30px;
          text-align: center;
          font-size: 0.5rem;
          padding: 0rem 0.5rem;
          margin: 0;
        }
      }

      .vip-card {
        background: url(@/assets/aad/img/phone/vip-card-bg.png) no-repeat;
        background-size: cover;
        font-size: 0.6rem;
        font-weight: normal;
        max-width: 354px;
        height: 60px;
        padding: 0.5rem;
        margin: auto;
        border-radius: 8px;
        p {
          padding: 0;
          margin: 0;
        }
      }

      .vip-mark {
        display: flex;
        flex-direction: column;
        align-items: center;
        .vip-mark-1 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          img {
            margin: 0.3rem;
          }
          .step-start {
            background: linear-gradient(180deg, #e7b823 0%, #c97705 100%);
            border-radius: 30px;
            width: 40px;
            text-align: center;
            color: #fff;
            font-size: 0.6rem;
          }
        }

        .vip-mark-2 {
        }
      }
    }
  }
}

.vip-update-tilte {
  color: #000;
  text-align: center;
  margin: 0.5rem 0;
}
.vip-update {
  padding: 0.5rem;
  background: #3f3f3f;

  .vip-update-content {
    text-align: center;
    display: flex;
    justify-content: space-between;
    .content-title {
      color: #bbbbbb;
    }
    .content-text {
      color: #ffffff;
      font-size: 0.6rem;
    }
  }
}

.bonus-title {
  color: #f1ac33;
  text-align: center;
  position: relative;
  margin: 0.5rem;
  &::before {
    content: '';
    position: absolute;
    background: url('@/assets/aad/img/phone/tag_lift.png');
    width: 82px;
    height: 10px;
    left: 30px;
    top: 5px;
  }
  &::after {
    content: '';
    position: absolute;
    background: url('@/assets/aad/img/phone/tag_right.png');
    width: 82px;
    height: 10px;
    right: 32px;
    top: 5px;
  }
}
.vip-bonus {
  background: #3f3f3f;
  padding: 0.5rem;
  color: #fff;

  .bonus-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 0.5rem;
    span {
      width: 33.33333%;
      &.icon {
        margin: 0.5rem;
        font-size: 0.6rem;
        img {
          width: 25px;
          margin-right: 1rem;
        }
      }
      &.received {
        background: #ececec;
        border-radius: 27px;
        color: #9d9b98;
        text-align: center;
        padding: 0.3rem 0.8rem;
        font-size: 0.6rem;
        line-height: 1rem;
      }
      &.receive {
        background: linear-gradient(180deg, #e7b823 0%, #c97705 100%);
        border-radius: 27px;
        color: #ffffff;
        text-align: center;
        padding: 0.3rem 0.8rem;
        font-size: 0.6rem;
        font-weight: bolder;
      }
    }
  }
}
</style>