<template>
  <div class="agencyPage">
    <div class="header-title">
      <div class="back"> <a href="javascript:history.go(-1)"><font-awesome-icon icon="fa-solid fa-chevron-left" /></a> </div>
      <div class="title">{{ $t("bet_history") }}</div>
      <div class="search"></div>
    </div>
    <!-- 搜尋列 -->
    <div class="historyStakeRecord-wrapper">
      <div class="stakeRecord-search">
        <div class="officeNumber-select">
          <span class="inputGroup">{{ $t("officeNumber") }}: <input type="text" v-model="gameThirdPartyStakeId">
            <span class="clear" @click="gameThirdPartyStakeId=''"><font-awesome-icon icon="fa-solid fa-xmark" /></span>
          </span>

          <select class="form-select form-select-sm" aria-label=".form-select-sm example" @change="selectThirdParty($event.target.value, thirdPartyResp[$event.target.selectedIndex - 1].id)">
            <option selected>{{ $t("all") }}</option>
            <option v-for="(thirdPartyItem, index) in thirdPartyResp" :key="index">{{ thirdPartyItem.name }}</option>
          </select>
        </div>
        <div class="date-select">
          <span>{{ $t("dateOfBetting") }}: </span>
          <input type="text" name="daterange"  />
        </div>
        <div class="search-btn" @click="query">{{ $t("search") }}</div>
      </div>

    </div>

    <!-- 總計 -->
    <div class="count">
      <div class="validStake">{{ $t("validStake") }}:
        <span v-if="allStats.validScore">
          {{ stringToMoney(allStats.validScore) }}
        </span>
        <span v-else>0</span>
      </div>
      <div class="profitAndLoss">
        {{ $t("profitAndLoss") }}：
        <span v-if="allStats.incomeScore" :class="(stringToMoney(allStats.incomeScore))>0 ? 'textRed' : 'winAmount'">
          {{ stringToMoney(allStats.incomeScore) }}
        </span>
        <span v-else>0</span>
      </div>
    </div>

    <!-- 列表 -->
    <div class="bet-list" @scroll="onScroll">
      <div class="accordion accordion-flush" id="accordionFlushExample">

        <template v-if="reportSettledResp.length !== 0">
          <div v-for="(reportSettledItem, index) in reportSettledResp" :key="index" class="accordion-item">
            <div class="accordion-header" id="flush-headingOne">
              <div class="accordion-button collapsed mr-4" type="button" data-bs-toggle="collapse" :data-bs-target="'#flush-collapseOne'+index" aria-expanded="false" aria-controls="flush-collapseOne">
                <div class="d-flex justify-content-between">
                  <span class="title">{{ reportSettledItem.gameThirdPartyId }}</span>
                  <span class="date"> {{  unixToLocal(reportSettledItem.betTime) }}</span>
                </div>
                <div class="d-flex justify-content-between">
                  <span>{{ $t("bettingAmount") }}: <span class="text-red">{{ stringToMoney(reportSettledItem.stakeScore) }}</span></span>
                  <span>{{ $t("profitAndLoss") }}: <span :class="(stringToMoney(Number(reportSettledItem.payoutScore) - Number(reportSettledItem.stakeScore)))>0 ? 'textRed' : 'winAmount'">
                      {{ stringToMoney(Number(reportSettledItem.payoutScore) - Number(reportSettledItem.stakeScore)) }}
                    </span></span>
                </div>
              </div>
            </div>
            <div :id="'flush-collapseOne'+index" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="detail-title">{{ $t("recordDetails") }}</div>
                <div class="detail">
                  <div><span class="list-title">{{ $t("orderNumber") }}：</span> <span :data-copy-index="index">{{ reportSettledItem.gameThirdPartyStakeId }}</span> <span class="copy" @click="copyText(null,index)">{{ $t("copy") }}</span></div>
                  <div><span class="list-title">{{ $t("time") }}：</span> <span>{{ unixToLocal(reportSettledItem.betTime) }}</span> </div>
                  <div><span class="list-title">{{ $t("gameName") }}：</span> <span>{{ reportSettledItem.gameName }}</span> </div>
                  <div><span class="list-title">{{ $t("currency_catagory") }}：</span> <span>{{ reportSettledItem.currency.currencyId }}</span> </div>
                  <div><span class="list-title">{{ $t("bet_amount") }}：</span> <span>{{ stringToMoney(reportSettledItem.stakeScore) }}</span> </div>
                  <div><span class="list-title">{{ $t("profit") }}：</span> <span>{{ stringToMoney(Number(reportSettledItem.payoutScore) - Number(reportSettledItem.stakeScore)) }}</span> </div>
                  <div><span class="list-title">{{ $t("winnings") }}：</span> <span>{{ stringToMoney(reportSettledItem.jackpotScore) }}</span> </div>
                  <div><span class="list-title">{{ $t("retreat") }}：</span> <span>0</span> </div>
                </div>

              </div>
            </div>
          </div>
        </template>
        <template v-else>
          <div class="no-data">
            <img src="@/assets/aag/img/phone/phone-nodata.png" alt="" />
            <div class="text-center">{{ $t("no_data")}}</div>
          </div>
        </template>
      </div>
    </div>
  </div>

  <!-- 加載 -->
  <loading v-model:active="isLoading" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />

</template>

<script>
// 注單查詢
export class ReportStakeReq {
  sessionKey = "";
  gameThirdPartyId = "";
  gameThirdPartyStakeId = "";
  startTime = 0;
  endTime = 0;
  currencyNo = 0;
  lang = "";
}
</script>

<script setup>

import Loading from 'vue-loading-overlay';
import { ref, reactive, onMounted } from 'vue';
import common from "@/utils/common";
import apiService from '@/api/apiService';
import moment from "moment";
import $ from 'jquery';
import 'daterangepicker';
import 'daterangepicker/daterangepicker.css';

const isLoading = ref(false);
const startDate = ref(null);
const endDate = ref(null);
const thirdPartyResp = reactive([]);
const { errorHandling, unixToLocal, stringToMoney, userLogout, copyText } = common();
const reportStakeReq = reactive(new ReportStakeReq());
const reportSettledResp = reactive([]);
const gameThirdPartyStakeId = ref(null);
const allStats = reactive({});
const pageIndex = ref(1);
const pageSize = ref(10);
const totalCount = ref(0);


// 取得遊戲館
function getGameThirdPartyList() {
  apiService.post('/Game/ThirdParty/List', {
    lang: localStorage.getItem("locale"),
  }).then((res) => {
    res.data.datas.forEach(element => {
      thirdPartyResp.push(element);
    });
  }).catch((err) => {
    console.log(err);
  });
}

// 選擇遊戲館
function selectThirdParty(name, value) {
  if (reportStakeReq.gameThirdPartyId !== value) {
    reportStakeReq.gameThirdPartyId = value;
  } else {
    reportStakeReq.gameThirdPartyId = null;
  }
}

//查詢
function query() {
  let startTime = startDate.value.getTime();
  let endTime = endDate.value.getTime();

  if (startTime != reportStakeReq.startTime || endTime != reportStakeReq.endTime) {
    reportStakeReq.startTime = startTime;
    reportStakeReq.endTime = endTime;
  }
  pageIndex.value = 1;

  if (gameThirdPartyStakeId.value) reportStakeReq.gameThirdPartyStakeId = gameThirdPartyStakeId;

  getReportSettled('splice'); //如果是搜尋傳入要清除歷史列表的值

}

// 取得已結算注單資訊
function getReportSettled(e) {
  if (reportStakeReq.gameThirdPartyId === '') reportStakeReq.gameThirdPartyId = null;
  if (reportStakeReq.gameThirdPartyStakeId === '') reportStakeReq.gameThirdPartyStakeId = null;


  reportStakeReq.sessionKey = localStorage.getItem("sessionKey");
  reportStakeReq.currencyNo = Number(localStorage.getItem("currencyNo"));
  reportStakeReq.lang = localStorage.getItem("locale");
  reportStakeReq.pageIndex = pageIndex.value;
  reportStakeReq.pageSize = pageSize.value;


  isLoading.value = true;
  if (e === 'splice') reportSettledResp.splice(0);//清空歷史列表
  apiService.post('/ReportStake/Settled', reportStakeReq).then((res) => {
    totalCount.value = res.data.totalCount;
    res.data.datas.forEach(element => {
      reportSettledResp.push(element);
    });
    //將總計注單寫入
    Object.assign(allStats, res.data.allStats);
  }).catch((err) => {
    errorHandling(err);
  }).finally(() => {
    isLoading.value = false;
  });
}

//滑動已結算注單列表
function onScroll(event) {
  const container = event.target;
  const scrollHeight = container.scrollHeight;
  const scrollTop = container.scrollTop;
  const clientHeight = container.clientHeight;

  // 如果滾動到底部，載入更多資料
  if (scrollHeight - scrollTop <= clientHeight) {
    loadMoreData();
  }
}
// 載入更多資料
function loadMoreData() {
  if (totalCount.value > pageIndex.value * pageSize.value) {
    pageIndex.value++;
    getReportSettled();
  }

}

onMounted(() => {
  if (!localStorage.getItem("sessionKey")) { userLogout(); return; }
  startDate.value = moment().startOf('day').add(-6, 'day').toDate();
  endDate.value = moment().endOf('day').toDate();
  getGameThirdPartyList();
  query();

  $('input[name="daterange"]').daterangepicker({
    locale: {
      format: 'YYYY-MM-DD'
    }
  }, function(start, end) {
    startDate.value = new Date(start.format('YYYY-MM-DD'))
    endDate.value = new Date(end.format('YYYY-MM-DD'))
  });
})

</script>

<style lang="scss" scoped>
.agencyPage {
  color: #f4f5f8;
  height: 100vh;

  .header-title {
    background: #fff;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding: 1.5rem 1rem 1.5rem 1rem;
    color: #000;
    .fa-chevron-left {
      color: #000;
    }
  }
  .historyStakeRecord-wrapper {
    background: #f5f5f5;
    .stakeRecord-search {
      border-top: 8px solid #f5f5f5;
      border-bottom: 8px solid #f5f5f5;
      background: #fff;
      padding: 1rem 0 0 0;
      color: #000;
      .officeNumber-select {
        display: flex;
        justify-content: space-around;
        font-size: 0.6rem;
        word-spacing: 0px;
        padding: 0 0.3rem;
        .inputGroup {
          position: relative;
          width: auto;
          input {
            border: 1px solid #ddd;
            border-radius: 3px;
            padding: 8px 12px;
            margin-right: 0.3rem;
          }
          .clear {
            position: absolute;
            top: 3px;
            right: 20px;
            width: 0;
            color: #959595;
            font-weight: lighter;
          }
        }
        span {
          width: 45%;
          white-space: nowrap;
        }
        select {
          width: 40%;
          border: 1px solid #ddd;
          border-radius: 5px;
          padding: 4px 12px;
          option {
            color: #000;
            height: 200px;
          }
        }
      }
      .date-select {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        padding: 0 0.8rem;
        font-size: 0.6rem;
        word-spacing: 0px;
        span {
          white-space: nowrap;
          margin-right: 10px;
        }
        input{
          border: 1px solid #ced4da;
          padding: 8px 10px;
          flex-grow: 1;
        }
      }
      .search-btn {
        background: #f1ac33;
        color: #231f20;
        border-radius: 10px;
        padding: 1rem 0.5rem;
        text-align: center;
        margin: 1rem 0.5rem;
      }
    }
  }
  .count {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 8px solid #f5f5f5;
    background: #fff;
    color: #000;
    .winAmount {
      color: #f1ac33;
    }
    .textRed {
      color: #d00027;
    }
  }
  .bet-list {
    padding: 0.5rem;
    height: 400px;
    overflow-y: auto;
    padding-bottom: 5rem;
    background-color: #fff;
    .accordion-item {
      background-color: #fff;
      border-radius: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #f5f5f5;
      padding: 0.5rem;
      .accordion-button {
        position: relative;
        color: #6f6f6f;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
          border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
          border-radius 0.15s ease;
      }
      .accordion-button::after {
        position: absolute;
        right: -25px;
        top: 45%;
        width: 1.25rem;
        height: 1.25rem;
        margin-left: auto;
        content: "";
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-size: 1.25rem;
        transition: transform 0.2s ease-in-out;
      }
      .accordion-button:not(.collapsed)::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        transform: rotate(-180deg);
      }
      .title {
        font-size: 1.2rem;
      }
      .date {
        font-weight: normal;
      }
      .winAmount {
        color: #f1ac33;
      }
      .textRed {
        color: #d00027;
      }
    }
    .accordion-collapse {
      font-weight: normal;
      font-size: 0.6rem;
      margin-top: 1rem;
      color: #000;
      .detail-title {
        position: relative;
        padding-left: 0.5rem;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 3px;
          width: 4px;
          height: 16px;
          background: #f1ac33;
          border-radius: 5px;
        }
      }
      .detail {
        padding: 0.5rem;
        .list-title {
          display: inline-block;
          width: 65px;
          margin: 0.1rem 0;
        }
        .copy {
          color: #1c96ff;
          font-weight: 900;
          margin-left: 1rem;
        }
      }
    }
    .text-center {
      color: #bbbbbb;
    }
  }
}
:deep(.dp__input_icon) {
  right: 0;
}
.input-slot-image {
  width: auto;
  margin-left: 5px;
  float: right;
}

</style>
<style>
body.scrollbar {
  overflow: hidden;
}
input.dp__pointer {
  font-size: 0.8rem;
  padding-left: 5px;
}
.no-data {
  text-align: center;
}
.daterangepicker{ 
  color:black;
}
</style>
