<template>
	<!-- 登入註冊表單 -->
	<div id="collapseTarget" class="modal collapse fade scrollbar " tabindex="-1" ref="myModal" :class="componentStyle">
		<div class="modal-dialog">
			<div id="bg-video" class="modal-content type02 ">
				<div class="modal-header justify-content-center">
					<img :src="logo?.imageUrl" alt="" style="width:auto;height:100px">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><font-awesome-icon
							icon="fa-solid fa-xmark" /></button>
				</div>
				<div class="modal-body">
					<div v-if="loginAndRegister" class="container">
						<div class="tab-slider--nav d-flex justify-content-center">
							<ul class="tab-slider--tabs" :class="showLoginTab ? 'slide' : ''">
								<li class="tab-slider--trigger" @click="selectTab(false)">{{$t("registration") }}</li>
								<li class="tab-slider--trigger" @click="selectTab(true)">{{ $t("login") }}</li>
							</ul>
						</div>
						<div class="tab-slider--container">
							<!-- 登入 -->
							<div id="tab2" class="tab-slider--body" v-show="showLoginTab">
								<ul class="nav nav-tabs nav-fill" role="tablist">
									<li class="nav-item" role="presentation">
										<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#userAccount"
											type="button" role="tab" aria-controls="userAccount" aria-selected="true">{{
												$t('account_login') }}</button>
									</li>
									<li class="nav-item" role="presentation" v-if="siteSettingsInfo.isTelLogin">
										<button class="nav-link" data-bs-toggle="tab" data-bs-target="#userPhone"
											type="button" role="tab" aria-controls="userPhone" aria-selected="false">{{
												$t('mobile_phone_login') }}</button>
									</li>
								</ul>
								<div class="tab-content" id="myTabContent">
									<div class="tab-pane fade show active" id="userAccount" role="tabpanel"
										aria-labelledby="userAccount-tab">
										<form action="">
											<div>
												<input type="text" class="form-control"
													:placeholder="$t('please_enter_member_account')"
													v-model="userLoginReq.account">
											</div>
											<div>
												<input type="password" class="form-control verification"
													:placeholder="$t('pls_enter_password')"
													:aria-label="$t('pls_enter_password')" aria-describedby="button-addon2"
													autocomplete="off" v-model="tempPassword"
													v-on:keyup.enter="userLogin('userAccount')">
											</div>
											<div class="loginPasswordBox">
												<div>
													<a :href="siteSettingsInfo.customerServiceUrl" target="_blank">
														<span class="forgetPwd" for="exampleCheck1">
															{{ $t("forgetThePassword") }}?
														</span>
													</a>
												</div>

												<div class="declaration form-check">
													<input type="checkbox" class="form-check-input" id="exampleCheck1"
														v-model="rememberPassword">
													<label class="form-check-label" for="exampleCheck1">{{
														$t("remember_password") }}</label>
												</div>
											</div>
											<button type="button" class="btn btn-primary w-100"
												@click="userLogin('userAccount')"
												:disabled="userLoginReq.account.length <= 0 || tempPassword.length <= 0">{{
													$t("login") }}</button>
										</form>
									</div>
									<div class="tab-pane fade userPhone" id="userPhone" role="tabpanel"
										aria-labelledby="userPhone-tab">
										<div class="userPhone-div">
											<div class="form-div" >
												<MazPhoneNumberInput v-if="countryCodeList.length > 0" :only-countries="countryCodeList.countryCode" :default-country-code="siteSettingsInfo.countryCode" show-code-on-list @update="updatePhoneDataForTelLogin($event)" :success="userTelLoginReq.phoneIsValid"/>
											</div>	
											<div class="input-group form-div">
												<input type="text" class="form-control verification"
													:placeholder="$t('please_enter_verification_code')"
													v-model="userTelLoginReq.verifyCode">
												<button class="btn btn-outline-secondary" type="button"
													@click="postVerifyCodeForTelLogin"
													:disabled="isVerifyCodeSendForTelLogin">{{ $t('send_verify_code')
													}}</button>
											</div>
										</div>
										<button type="button" class="btn btn-primary w-100" @click="userLogin('userPhone')"
											:disabled="!userTelLoginReq.phoneIsValid || userTelLoginReq.verifyCode === ''">{{
												$t("login") }}</button>
									</div>

								</div>
							</div>
							<!-- 註冊 -->
							<div id="tab1" class="tab-slider--body" v-show="!showLoginTab">
								<form action="">
									<div class="form-div">
										<input type="text" class="form-control"
											:placeholder="$t('please_enter_member_account')"
											v-model="userRegisterReq.account">
										<span v-show="userRegisterError.account" style="color: red">{{
											userRegisterError.account }}</span>
									</div>
									<!-- Chrome 自動帶入假的帳密輸入框 -->
									<input tabindex="-1" type="text"
										style="padding: 0;margin: 0;border:0; display: flex; width: 0px; height: 0px;"
										autocomplete="off">
									<input tabindex="-1" type="password"
										style="padding: 0;margin: 0;border:0; display: flex; width: 0px; height: 0px;"
										autocomplete="off">
									<div class="form-div">
										<input type="password" class="form-control" :placeholder="$t('pls_enter_password')"
											v-model="registerPassword" autocomplete="off">
										<span v-show="userRegisterError.password" style="color: red">{{
											userRegisterError.password }}</span>
									</div>
									<div class="form-div">
										<input type="password" class="form-control"
											:placeholder="$t('pls_enter_password_again')" v-model="confirmPassword"
											autocomplete="off">
										<span v-show="userRegisterError.confirmPassword"
											style="color: red">{{ userRegisterError.confirmPassword }}</span>
									</div>
									<div class="form-div">
										<input type="text" class="form-control" :placeholder="$t('recommendCode')"
											v-model="userRegisterReq.recommendCode" :disabled="RecommendCodeInject">
										<span v-show="userRegisterError.recommendCode"
											style="color: red">{{ userRegisterError.recommendCode }}</span>
									</div>
									<div class="form-div" v-if="siteSettingsInfo.isTelRegister || siteSettingsInfo.isRegisterTelRequired">
										<MazPhoneNumberInput v-if="countryCodeList.length > 0" :only-countries="countryCodeList.countryCode" :default-country-code="siteSettingsInfo.countryCode" show-code-on-list @update="updatePhoneData($event)" :success="userRegisterReq.phoneIsValid" />
										<span v-if="userRegisterError.phoneIsValid" style="color: red">{{ userRegisterError.phoneIsValid }}</span>
									</div>
									<div class="form-div" v-if="siteSettingsInfo.isTelRegister">
										<div class="input-group">
											<input type="text" class="form-control verification"
												:placeholder="$t('please_enter_verification_code')"
												v-model="userRegisterReq.verifyCode">
											<button class="btn btn-outline-secondary" type="button" @click="postVerifyCode"
												:disabled="isVerifyCodeSend">{{ $t('send_verify_code') }}</button>
										</div>
										<span v-show="userRegisterError.verifyCode" style="color: red">{{
											userRegisterError.verifyCode }}</span>
									</div>
									<div class="form-div" v-if="siteSettingsInfo.isRegisterEmailRequired">
										<input type="text" class="form-control" :placeholder="$t('email')"
											v-model="userRegisterReq.email">
										<span v-show="userRegisterError.email" style="color: red">{{ userRegisterError.email
										}}</span>
									</div>
									<div class="form-div" v-if="siteSettingsInfo.isRegisterRealNameRequired">
										<input type="text" class="form-control" :placeholder="$t('realName')"
											v-model="userRegisterReq.realName">
										<span v-show="userRegisterError.realName" style="color: red">{{
											userRegisterError.realName }}</span>
									</div>
									<button type="button" class="btn btn-primary w-100" @click="userRegister()"
										:disabled="userRegisterReq.account.length <= 0 || registerPassword.length <= 0 || confirmPassword.length <= 0">{{ $t('registration')
										}}</button>
								</form>
							</div>
							<!-- TODO -->
							<!-- <div>
								<GoogleLogin class="w-100" :callback="googleLogin" popup-type="TOKEN">
									<button class="d-flex align-items-center justify-content-center w-100" style="background: #EEEEEE; padding:10px 16px">
										<svg width="18" height="18" viewBox="0 0 256 262" xmlns="http://www.w3.org/2000/svg" class="d4 d5" preserveAspectRatio="xMidYMid"><path d="M255.9 133.5c0-10.8-.9-18.6-2.8-26.7H130.6v48.4h71.9a63.8 63.8 0 01-26.7 42.4l-.2 1.6 38.7 30 2.7.3c24.7-22.8 38.9-56.3 38.9-96" fill="#4285F4"></path><path d="M130.6 261.1c35.2 0 64.8-11.6 86.4-31.6l-41.2-32c-11 7.8-25.8 13.1-45.2 13.1a78.6 78.6 0 01-74.3-54.2l-1.5.1-40.3 31.2-.6 1.5C35.4 231.8 79.5 261 130.6 261" fill="#34A853"></path><path d="M56.3 156.4a80.4 80.4 0 01-.2-51.7V103L15.3 71.3l-1.4.6a130.7 130.7 0 000 117.3l42.4-32.8" fill="#FBBC05"></path><path d="M130.6 50.5c24.5 0 41 10.6 50.4 19.4L218 34C195.2 13 165.8 0 130.6 0 79.5 0 35.4 29.3 13.9 72l42.2 32.7a79 79 0 0174.4-54.2" fill="#EB4335"></path></svg>
										<span class="ml-2">Google</span>
									</button>
								</GoogleLogin>
							</div> -->
						</div>
					</div>
					<div v-else class="container">
						<div class="tab-slider--container">
							<div class="tab-slider--body">
								<span class="fs-18 d-table mx-auto mb-2" style="color:#fbc53c;">{{ $t("registration")
								}}</span>
								<form action="" class="pb-4">
									<div class="form-div mb-4">
										<input type="text" class="form-control" :placeholder="$t('recommendCode')"
											v-model="userRegisterReq.recommendCode">
										<span v-show="userRegisterError.recommendCode"
											style="color: red">{{ userRegisterError.recommendCode }}</span>
									</div>
									<button type="button" class="btn btn-primary w-100"
										@click="googleRegister()">{{ $t('registration') }}</button>
								</form>
								<div class="btn btn-secondary w-100" @click="loginAndRegister = true">{{ $t('cancel') }}
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<p class="title text-center">{{ $t("sponsorship_partner") }}</p>
					<div class="partner-logo d-flex align-items-center">
						<span>
							<img src="@/assets/img/register/ag-egame.png" alt="">
						</span>
						<span>
							<img src="@/assets/img/register/jdb-egame.png" alt="">
						</span>
						<span>
							<img src="@/assets/img/register/bbin-egame.png" alt="">
						</span>
						<span>
							<img src="@/assets/img/register/cq9-egame.png" alt="">
						</span>
						<span class="mg">
							<img src="@/assets/img/register/microgan-logo.png" alt="">
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 加載 -->
	<loading v-model:active="isLoading" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />
</template>

<script>
export class UserRegisterReq {
	account = '';
	password = '';
	recommendCode = '';
	deviceType = 1; // 裝置(0=App-IOS, 1=PC, 2=App-Android, 3=H5)
	phoneCountryCode = '';
	phoneNumber = '';
	verifyCode = '';
	email = '';
	realName = '';
	phoneIsValid = '';
	domain = '';
	DomainLayoutId = '';
}

export class RegisterError {
	account = '';
	password = '';
	confirmPassword = '';
	phoneIsValid = '';
	verifyCode = '';
	email = '';
	realName = '';
	recommendCode = ''
}

export class UserLoginReq {
	account = '';   // 帳號
	password = '';  // 密碼
	deviceType = 1; // 裝置 0=app,1=web
	DomainLayoutId = '';
}

export class UserTelLoginReq {
	phoneCountryCode = '';   //國碼
	phoneNumber = '';  // 電話
	phoneIsValid = '';
	deviceType = 1; // 裝置 0=app,1=web
	verifyCode = '';
	DomainLayoutId = '';
}

</script>

<script setup>
import { ref, reactive, onMounted, computed } from 'vue';
import Loading from 'vue-loading-overlay';
import md5 from 'js-md5';
import { Modal } from 'bootstrap';
import apiService from '@/api/apiService'
import { useI18n } from "vue-i18n";
import Swal from "sweetalert2";
import { useStore } from "vuex"
import common from "@/utils/common";
import { useRoute } from 'vue-router';
import MazPhoneNumberInput from 'maz-ui/components/MazPhoneNumberInput';
import 'maz-ui/css/main.css'
import CryptoJS from 'crypto-js';

const { t } = useI18n();
const { getUserInfo, errorHandling, getLogo, getCountryCodeList, selectTab } = common();
const isLoading = ref(false);
const tempPassword = ref('');
const registerPassword = ref('');
const confirmPassword = ref('');
const RecommendCodeInject = ref(false);
const store = useStore();
const userRegisterReq = reactive(new UserRegisterReq());
const userRegisterError = reactive(new RegisterError());
const userLoginReq = reactive(new UserLoginReq());
const userTelLoginReq = reactive(new UserTelLoginReq());
const isVerifyCodeSend = ref(false);
const isVerifyCodeSendForTelLogin = ref(false);
const phoneResults = ref('');
const phoneResultsForTelLogin = ref('');
const rememberPassword = ref(false)
const componentStyle = ref('aaa');
const logo = ref('');
var encryptionKey = "myEncryptionKey";
const countryCodeList = ref([]);

const showLoginTab = computed(() => store.state.showLoginTab);
const siteSettingsInfo = computed(() => store.state.siteSettingsInfo);
const DomainLayoutId = computed(() => store.state.DomainLayoutId);

const route = useRoute();
const loginAndRegister = ref(true);

const googleToken = ref(null);

// 加密字串
const encryptString = text => {
	var encryptedText = CryptoJS.AES.encrypt(text, encryptionKey).toString();
	return encryptedText;
}

// 解密字串
const decryptString = encryptedText => {
	var decryptedText = CryptoJS.AES.decrypt(encryptedText, encryptionKey).toString(CryptoJS.enc.Utf8);
	return decryptedText;
}
// 使用者登入
const userLogin = (loginMethod) => {
	let params;
	if (loginMethod === 'userAccount') {
		if (userLoginReq.account.length <= 0 || tempPassword.value.length <= 0)
			return;

		userLoginReq.password = md5(tempPassword.value);
		userLoginReq.DomainLayoutId = DomainLayoutId.value
		params = userLoginReq
	}
	else if (loginMethod === 'userPhone') {
		if (!userTelLoginReq.phoneIsValid || userTelLoginReq.verifyCode === '')
			return;
		rememberPassword.value = false;
		//userTelLoginReq.phoneNumber 送出前格式0911 111 111 要把空格拿掉
		userTelLoginReq.phoneNumber = userTelLoginReq.phoneNumber.replace(/\s/g, "").replace("-", "");
		userTelLoginReq.DomainLayoutId = DomainLayoutId.value
		params = userTelLoginReq


		let targetRegex = new RegExp(countryCodeList.value.find(item => item.code === params.phoneCountryCode).regex); 
 
 
		if (!targetRegex.test(params.phoneNumber)) { 
			Swal.fire("", t("input_wrong_format"), "warning"); 
			return false; 
		} 


	}


	isLoading.value = true;
	apiService.post('/User/Login', params)
		.then(async (res) => {
			localStorage.setItem('sessionKey', res.data.sessionKey);
			await getUserInfo();

			if (rememberPassword.value) {
				localStorage.setItem("account", userLoginReq.account);
				localStorage.setItem("password", encryptString(tempPassword.value));
				//密碼需要寫入store，當登出時localStorage會清空，再把store內的password寫回localStorage
				store.dispatch('setUserPassword', encryptString(tempPassword.value));
			}
			else {
				localStorage.removeItem('account');
				localStorage.removeItem('password');
				store.dispatch('setPasswordEmpty')
			}
			resetData();


			Modal.getInstance("#collapseTarget")?.hide();
		}).catch((err) => {
			if (err.response == null || err.response.status == null) {
				Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
			} else {
				switch (err.response.status) {
					case 401: // 帳號或密碼錯誤
						Swal.fire("", t("accountOrPasswordIncorrect"), "error");
						break;
					case 404: // 維護中
						Swal.fire("", t("sportApiThirdPartyCode_systemMaintenanceAPIIntegrationFile"), "warning");
						break;
					case 452: // 登入已遭封鎖，輸入錯誤密碼次數過多
						Swal.fire("", t("login_blocked"), "warning");
						break;
					case 454: // 驗證碼輸入錯誤
						Swal.fire("", t("incorrect_verification_code"), "error");
						break;
					case 455: // 無效的驗證碼
						Swal.fire("", t("invalid_captcha"), "warning");
						break;
					default:
						errorHandling(err);
						break;
				}
			}
		}).finally(() => {
			isLoading.value = false;
		});
}
//更改登入電話資料
const updatePhoneDataForTelLogin = $event => {
	phoneResultsForTelLogin.value = $event;
	userTelLoginReq.phoneCountryCode = $event.countryCallingCode;
	userTelLoginReq.phoneNumber = $event.formatNational;
	userTelLoginReq.phoneIsValid = phoneResultsForTelLogin.value.isValid
}


//更改註冊電話資料
const updatePhoneData = $event => {
	phoneResults.value = $event;
	userRegisterReq.phoneCountryCode = $event.countryCallingCode;
	userRegisterReq.phoneNumber = $event.formatNational;
	userRegisterReq.phoneIsValid = phoneResults.value.isValid
}

//發送手機驗證碼(註冊用)
const postVerifyCode = () => {
	userRegisterError.phoneIsValid = '';
	if (!userRegisterReq.phoneIsValid) {
		userRegisterError.phoneIsValid = t('plz_enter_phone_number');
		return
	}

	isVerifyCodeSend.value = true;
	
	const params = {
		phoneCountryCode: userRegisterReq.phoneCountryCode,
		phoneNumber: userRegisterReq.phoneNumber.replace(/\s/g, "").replace("-", ""),
		lang: localStorage.getItem('locale'),
		DomainLayoutId: DomainLayoutId.value
	}
 
	let targetRegex = new RegExp(countryCodeList.value.find(item => item.code === params.phoneCountryCode).regex); 
 
	if (!targetRegex.test(params.phoneNumber)) { 
		Swal.fire("", t("input_wrong_format"), "warning"); 
		return false; 
	} 

	isLoading.value = true;
	apiService.post('/User/PhoneVerifyCode/Register', params)
		.then(() => {
			Swal.fire("", t("verification_code_sent_to_mobile"), "success");
		})
		.catch((err) => {
			if (err.response == null || err.response.status == null) {
				Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
			} else {
				switch (err.response.status) {
					case 403: // 沒有開放手機註冊功能
						Swal.fire("", t("no_phone_registration"), "warning");
						break;
					case 452: // 該電話號碼已註冊
						Swal.fire("", t("phone_already_registered"), "warning");
						break;
					case 453: // 頻繁發送，請稍後在試
						Swal.fire("", t("frequent_sending_please_try_again_later"), "warning");
						break;
					case 454: // 發送失敗，請稍後在試
						Swal.fire("", t("failed_to_send_plz_try_again_later"), "warning");
						break;
					default:
						errorHandling(err);
						isVerifyCodeSend.value = false;
						break;
				}
			}
		}).finally(() => {
			isLoading.value = false;
		});
}

//發送手機驗證碼(登入用)
const postVerifyCodeForTelLogin = () => {
	if (!userTelLoginReq.phoneIsValid) {
		Swal.fire("", t("plz_enter_phone_number"), "warning");
		return
	}

	isVerifyCodeSendForTelLogin.value = true;
	
	const params = {
		phoneCountryCode: userTelLoginReq.phoneCountryCode,
		phoneNumber: userTelLoginReq.phoneNumber.replace(/\s/g, "").replace("-", ""),
		lang: localStorage.getItem('locale'),
		DomainLayoutId: DomainLayoutId.value
	}
 
	let targetRegex = new RegExp(countryCodeList.value.find(item => item.code === params.phoneCountryCode).regex); 
 
 
	if (!targetRegex.test(params.phoneNumber)) { 
		Swal.fire("", t("input_wrong_format"), "warning"); 
		return false; 
	} 

	isLoading.value = true;	
	apiService.post('/User/PhoneVerifyCode/Login', params)
		.then(() => {
			Swal.fire("", t("verification_code_sent_to_mobile"), "success");
		})
		.catch((err) => {
			if (err.response == null || err.response.status == null) {
				Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
			} else {
				switch (err.response.status) {
					case 403: // 沒有開放手機登入功能
						Swal.fire("", t("mobile_phone_login_function_is_not_available"), "warning");
						break;
					case 452: // 該電話號碼尚未註冊
						Swal.fire("", t("this_phone_number_is_not_registered"), "warning");
						break;
					case 453: // 頻繁發送，請稍後在試
						Swal.fire("", t("frequent_sending_please_try_again_later"), "warning");
						break;
					case 454: // 發送失敗，請稍後在試
						Swal.fire("", t("failed_to_send_plz_try_again_later"), "warning");
						break;
					default:
						errorHandling(err);
						isVerifyCodeSend.value = false;
						break;
				}
			}
		}).finally(() => {
			isLoading.value = false;
		});
}

// 取得站台推薦碼
const getSiteSettingRecommendCode = () => {
	const hostname = window.location.hostname;
	const hostnameArr = hostname.split(".");
	const length = hostnameArr.length;
	let domain;
	if (length > 2) {
		domain = hostnameArr[length - 2].concat(".", hostnameArr[length - 1]);
	}
	else {
		domain = hostname
	}

	isLoading.value = true;
	const params = {
		domain
	}
	apiService.post('/SiteSetting/RecommendCode', params).then((res) => {
		if (res.data.recommendCode) {
			userRegisterReq.recommendCode = res.data.recommendCode
			RecommendCodeInject.value = true;
		}
	}).catch((err) => {
		errorHandling(err);
	}).finally(() => {
		isLoading.value = false;
	});
}

// 使用者註冊
const userRegister = () => {
	if (verifyUserRegister()) return;

	if (userRegisterReq.recommendCode == '') userRegisterReq.recommendCode = null;
	userRegisterReq.password = md5(registerPassword.value);
	//userRegisterReq.phoneNumber 送出前格式0911 111 111 要把空格拿掉
	userRegisterReq.phoneNumber = userRegisterReq.phoneNumber.replace(/\s/g, "").replace("-", "");
	userRegisterReq.domain = window.location.hostname;
	userRegisterReq.DomainLayoutId = DomainLayoutId.value
	rememberPassword.value = false;

	let targetRegex = new RegExp(countryCodeList.value.find(item => item.code === userRegisterReq.phoneCountryCode).regex); 
 
	if (!targetRegex.test(userRegisterReq.phoneNumber)) { 
		Swal.fire("", t("input_wrong_format"), "warning"); 
		return false; 
	} 


	isLoading.value = true;
	apiService.post('/User/Register', userRegisterReq).then((res) => {
		localStorage.setItem('sessionKey', res.data.sessionKey),
			getUserInfo();
		resetData();
		Modal.getInstance("#collapseTarget")?.hide();
	}).catch((err) => {
		if (err.response == null || err.response.status == null) {
			Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
		} else {
			switch (err.response.status) {
				case 404: // 維護中
					Swal.fire("", t("inMaintenance"), "warning");
					break;
				case 452: // 查無此推薦碼
					Swal.fire("", t("invitation_code_doest_exist"), "warning");
					break;
				case 453: // 已存在帳號
					Swal.fire("", t("member_account_already_exist"), "warning");
					break;
				case 454: // 驗證碼輸入錯誤
					Swal.fire("", t("incorrect_verification_code"), "warning");
					break;
				case 455: // 無效的驗證碼
					Swal.fire("", t("invalid_captcha"), "warning");
					break;
				case 459: // 該電話號碼已註冊
					Swal.fire("", t("phone_already_registered"), "warning");
					break;
				case 460: // 不可使用的真實姓名
					Swal.fire("", t("realname_not_available"), "warning");
					break;
				default:
					errorHandling(err);
					break;
			}
		}
	}).finally(() => {
		isLoading.value = false;
	});
}

// 重置輸入
const resetData = () => {
	if (rememberPassword.value) {//登入(有勾選記住密碼)時，留住tempPassword跟userLoginReq
		registerPassword.value = '';
		confirmPassword.value = '';
		Object.assign(userRegisterReq, new UserRegisterReq());
		Object.assign(userRegisterError, new RegisterError());
	}
	else {
		tempPassword.value = '';
		registerPassword.value = '';
		confirmPassword.value = '';
		Object.assign(userRegisterReq, new UserRegisterReq());
		Object.assign(userRegisterError, new RegisterError());
		Object.assign(userLoginReq, new UserLoginReq());
	}
	//重置手機登入
	Object.assign(userTelLoginReq, new UserTelLoginReq());
}

// 驗證註冊資料
const verifyUserRegister = () => {
	let hasError = false;
	Object.assign(userRegisterError, new RegisterError());

	// 帳號
	const accountRegex = /^[a-zA-Z][a-zA-Z0-9]{5,11}$/;
	if (!accountRegex.test(userRegisterReq.account)) {
		userRegisterError.account = t('cansino_account_rule');
	}
	// 密碼
	const passwordRegex = /^.{6,20}$/;
	if (!passwordRegex.test(registerPassword.value)) {
		userRegisterError.password = t('cansino_password_rule');
	}
	//確認密碼
	if (registerPassword.value !== confirmPassword.value) {
		userRegisterError.confirmPassword = t('confirm_password_different');
	}
	//推薦碼
	if (userRegisterReq.recommendCode && userRegisterReq.recommendCode.length !== 0 && userRegisterReq.recommendCode.length !== 6) {
		userRegisterError.recommendCode = t('recommendCode_format_error');
	}
	//手機驗證碼
	if (siteSettingsInfo.value.isTelRegister && userRegisterReq.verifyCode.length === 0) {
		userRegisterError.verifyCode = t('please_enter_verification_code');
	}
	//電話
	if ((siteSettingsInfo.value.isRegisterTelRequired || siteSettingsInfo.value.isTelRegister) && !userRegisterReq.phoneIsValid) {
		userRegisterError.phoneIsValid = t('plz_enter_phone_number');
	}
	//信箱
	const emailRegex = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
	if (siteSettingsInfo.value.isRegisterEmailRequired) {
		if (userRegisterReq.email.length === 0) {
			userRegisterError.email = t('plz_enter_your_mailbox');
		} else if (!emailRegex.test(userRegisterReq.email)) {
			userRegisterError.email = t('mailbox_format_error');
		}
	}
	//真實姓名
	if (siteSettingsInfo.value.isRegisterRealNameRequired && userRegisterReq.realName.length === 0) {
		userRegisterError.realName = t('plz_enter_your_real_name');
	}

	Object.values(userRegisterError).forEach((value) => {
		if (value !== '') hasError = true;
	});

	return hasError;
}

// TODO
// const googleLogin = (response) => {
// 	googleToken.value = response.access_token;

// 	let params = {
// 		token: googleToken.value,
// 		deviceType: 0,
// 		domainLayoutId: DomainLayoutId.value
// 	}

// 	isLoading.value = true;
// 	apiService.post('/User/Google/Login', params).then((res) => {
// 		localStorage.setItem("sessionKey", res.data.sessionKey)
// 		getUserInfo();
// 		Modal.getInstance("#collapseTarget")?.hide();
// 		loginAndRegister.value = true;

// 	}).catch((err) => {
// 		if (err.response == null || err.response.status == null) {
// 			Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
// 		} else {
// 			switch (err.response.status) {
// 				case 401: // 帳號錯誤
// 					if(RecommendCodeInject.value === false){
// 						loginAndRegister.value = false;
// 					}
// 					else{
// 						googleRegister();
// 					}
// 					break;
// 				case 404: // 維護中
// 					Swal.fire("", t("inMaintenance"), "warning");
// 					break;
// 				case 452: // Google Token 失效
// 					Swal.fire("", t("sportApiThirdPartyCode_invalidToken"), "warning");
// 					break;
// 				default:
// 					errorHandling(err);
// 					break;
// 			}
// 		}
// 	}).finally(() => {
// 		isLoading.value = false;
// 	});
// }

const googleRegister = () => {
	//檢查推薦碼
	Object.assign(userRegisterError, new RegisterError());
	if (userRegisterReq.recommendCode.length !== 0 && userRegisterReq.recommendCode.length !== 6) {
		userRegisterError.recommendCode = t('recommendCode_format_error');
		return
	}

	let params = {
		domainLayoutId: DomainLayoutId.value,
		token: googleToken.value,
		recommendCode: userRegisterReq.recommendCode,
		deviceType: 0,
		lang: localStorage.getItem('locale'),
		domain: window.location.hostname
	}
	apiService.post('/User/Google/Register', params).then((res) => {
		localStorage.setItem("sessionKey", res.data.sessionKey)
		getUserInfo();
		Modal.getInstance("#collapseTarget")?.hide();
		loginAndRegister.value = true;

	}).catch((err) => {
		if (err.response == null || err.response.status == null) {
			Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
		} else {
			switch (err.response.status) {
				case 404: // 維護中
					Swal.fire("", t("inMaintenance"), "warning");
					break;
				case 452: // 查無此推薦碼
					Swal.fire("", t("invitation_code_doest_exist"), "warning");
					break;
				case 453: // 已存在帳號
					Swal.fire("", t("member_account_already_exist"), "warning");
					break;
				case 454: // Google Token 失效
					Swal.fire("", t("sportApiThirdPartyCode_invalidToken"), "warning");
					break;
				default:
					errorHandling(err);
					break;
			}
		}
	});
}


onMounted(async () => {
	getSiteSettingRecommendCode();
	countryCodeList.value = await getCountryCodeList();
	logo.value = await getLogo(1, 15);
	if (localStorage.getItem("account")) {
		userLoginReq.account = localStorage.getItem("account")
		rememberPassword.value = true;
	}
	if (localStorage.getItem("password")) {
		tempPassword.value = decryptString(localStorage.getItem("password"));
	}

	//判定網址來源取用哪個css
	let p = route.path.toLowerCase();
	if (p.includes('/aaa')) {
		componentStyle.value = 'aaa';
	} else if (p.includes('/aab')) {
		componentStyle.value = 'aab';
		if (p.includes('/phone')) {
			componentStyle.value += ' phone';
		}
	} else if (p.includes('/aad') || p.includes('/aae') || p.includes('/aag')) {
		componentStyle.value = 'aad';
		if (p.includes('/phone')) {
			componentStyle.value += ' phone';
		}
	} else if (p.includes('/aaf')) {
		componentStyle.value = 'aaf';
		if (p.includes('/phone')) {
			componentStyle.value += ' phone';
		}
	}


});


</script>


<style lang="scss" scoped>
.aaa {
	$base-margin: 20px;
	$blue: #26a699;
	$tab-height: 35px;
	$tab-border-radius: 35px;

	.modal-content {
		position: relative;
		width: 100%;
		overflow: hidden;

		&.type02 {
			background-size: cover;
			background-position: center !important;
			background-repeat: no-repeat !important;
			//background-color: #122cb3 !important;
		}
	}

	#bg-video video {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		object-fit: fill;
	}

	.modal-dialog {
		overflow: hidden;
		width: 550px;

		.modal-content {
			background: #0000000c;
			border: 1px solid $blue;
			padding: 0.5rem 1.5rem 1rem 1.5rem;
			background: url(@/assets/img/register/home-bg2.jpg);

			.modal-header {
				border: none;
				padding-bottom: 1.5rem;

				img {
					height: 110px;
				}
			}

			p.title::before {
				content: '';
				padding: 1px 77px;
				margin-right: 1rem;
				background: url(@/assets/img/register/singForm-title-before.png) no-repeat center;
			}

			p.title::after {
				content: '';
				padding: 1px 77px;
				margin-left: 1rem;
				background: url(@/assets/img/register/singForm-title-after.png) no-repeat center;
			}

			button.btn-close {
				position: absolute;
				right: 10px;
				top: 10px;
				background: transparent;
				color: #fff;
				font-size: 1.5rem;
			}

			.partner-logo {
				span.mg {
					img {
						height: 40px;
					}
				}

				img {
					height: 53px;
				}
			}
		}
	}

	.tab-slider--nav {
		width: 100%;
		margin-bottom: 1.5rem;
	}

	.tab-slider--tabs {
		display: block;
		margin: 0;
		padding: 0;
		list-style: none;
		position: relative;
		border: 1px solid $blue;
		border-radius: $tab-border-radius;
		overflow: hidden;
		height: $tab-height;
		user-select: none;

		&:after {
			content: '';
			width: 50%;
			background: $blue;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			transition: all 250ms ease-in-out;
			border-radius: $tab-border-radius;
		}

		&.slide:after {
			left: 50%;
		}
	}

	.tab-slider--trigger {
		font-size: 1rem;
		font-weight: bold;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		line-height: 1.5rem;
		padding: 5px 45px 0 45px;
		position: relative;
		z-index: 2;
		cursor: pointer;
		display: inline-block;
		transition: color 250ms ease-in-out;
		user-select: none;

		&.active {
			color: #fff;
		}
	}

	.tab-slider--container {
		background: rgba(0, 0, 0, 0.432);
		border-radius: 5px;
		padding: 1.5rem 1rem 1rem 1rem;

		.tab-slider--body {
			margin-bottom: $base-margin;

			.tab-pane {
				min-height: 230px;

				div:nth-child(1) {
					margin-bottom: 1rem;
				}

				div:nth-child(2) {
					margin-bottom: .25rem;
				}

				&.userPhone {
					&.active {
						display: flex;
						flex-direction: column;
						justify-content: space-between;
					}

					.userPhone-div {
						div:nth-child(1) {
							margin-bottom: 1rem;
						}

						div:nth-child(2) {
							margin-bottom: 3rem;
						}

					}
				}

			}

			.form-control {
				color: #fff;
				background: #000000;
				border: 0.5px solid #b1b1b193;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;

				&::placeholder {
					/* Chrome, Firefox, Opera, Safari 10.1+ */
					color: #d9d9d9;
					font-size: 0.85rem;
				}
			}

			.isTelRegister {
				display: flex;

				.phoneNumber {
					width: 40%;
					border-left: none;
				}

				input.verification {
					width: 70%;
					border-right: none;
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}
			}

			button.btn-outline-secondary {
				min-width: 200px;
				width: 50%;
				font-size: 0.85rem;
				color: #fbc53c;
				border-left: none;
				border-top-left-radius: 0;
				line-height: normal;
				border-bottom-left-radius: 0;
			}

			.declaration {
				//margin-top: 2rem;

				span {
					color: #1b91ff;
				}
			}

			button.btn-primary {
				background: linear-gradient(360deg,
						#122cb3 0%,
						#0055d6 86.98%,
						#6b95ff 100%);
				box-shadow: none;
				border-radius: 3px;
				border: none;

				&:hover:not(:disabled) {
					color: #fbc53c;
				}
			}

			.forgetPwd {
				cursor: pointer;
				color: #fbc53c;

				&:hover {
					color: #fff;
				}
			}

		}
	}

	.loginPasswordBox {
		width: 100%;
		//background-color: #1B91FF;
		margin: 1.5rem 0 2.5rem 0;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		div {
			margin-bottom: 0;
		}
	}

	.vue-tel-input {
		border: 0.5px solid rgba(177, 177, 177, 0.5764705882);
		border-right: none;
		color: #fff;

		.vti__input {
			background: #000000;
			color: #fff;
		}

		.vti__dropdown {
			color: #ffffff;

			.vti__dropdown-arrow {
				color: #ffffff;
			}

			.vti__dropdown-item {
				color: #000;
			}
		}

		&:hover {
			.vti__dropdown-arrow {
				color: #6f4d96;
			}
		}
	}

	#tab1 {
		.form-div {
			margin-bottom: 1rem;
		}


	}

	#tab2 {
		.nav-tabs {
			border: none;
			margin-bottom: .25rem;

			.nav-link {
				font-size: 1rem;
				color: #fff;
				font-weight: 900;
				background: none;
				border: none;
				width: 100%;
			}

			.active {
				color: #fbc53c;
				background: none;
			}
		}
	}

	.modal-footer {
		display: unset;
		justify-content: center;

		p {
			margin: 0 auto;
		}

		.partner-logo {
			width: 100%;
			margin-bottom: 1rem;
			justify-content: space-between;

		}
	}

	:deep(.m-phone-number-input) {
		margin-bottom: 15px;

		.m-input-wrapper {
			background: black;
			color: white;
			border: 0.5px solid rgba(177, 177, 177, 0.5764705882);
			border-radius: 0.25rem;
		}

		.m-input-input {
			color: white;
		}

		.m-select .m-select-chevron {
			color: white;
		}

		.m-input.--md .m-input-input,
		.m-input.--md .m-input-label {
			font-size: 12px;
		}
	}
}

.aab {
	.modal-dialog {
		overflow: hidden;
		width: 550px;
		min-height: calc(80%);

		.modal-content {
			background: #e5e5e5;
		}

		.modal-header {
			position: relative;
			padding: 0;

			img {
				max-width: 170px;
				margin: 35px 0;

			}

			.btn-close {
				background: #ff4e00;
				color: #e5e5e5;
				border-radius: 30px;
				width: 30px;
				height: 30px;
				font-size: 22px;
				font-weight: 900;
				position: absolute;
				top: 15px;
				right: 15px;

			}
		}
	}

	.modal-body {
		.tab-slider--tabs {
			display: block;
			margin: 0 0 25px 0;
			padding: 0;
			list-style: none;
			position: relative;
			border: 1px solid #000;
			border-radius: 10px;
			overflow: hidden;
			height: 100%;
			user-select: none;

			&:after {
				content: '';
				width: 50%;
				background: #000;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				transition: all 250ms ease-in-out;
				border-radius: 10px;
			}

			&.slide:after {
				left: 50%;
			}

			&.slide {
				.tab-slider--trigger:nth-child(1) {
					color: #000;
				}

				.tab-slider--trigger:nth-child(2) {
					color: #fff;
				}
			}

			.tab-slider--trigger {
				font-size: 16px;
				font-weight: bold;
				color: #fff;
				text-transform: uppercase;
				text-align: center;
				line-height: 18px;
				padding: 15px 45px 10px 45px;
				position: relative;
				z-index: 2;
				cursor: pointer;
				display: inline-block;
				transition: color 250ms ease-in-out;
				user-select: none;

				&.active {
					color: #fff;
				}
			}

			.tab-slider--trigger:nth-child(2) {
				color: #000;
			}
		}

		.tab-slider--container {
			.form-control {
				font-size: .15rem;
				padding: 5px 15px;
				height: 45px;

				&:focus {
					box-shadow: 0 0 0 0.02rem rgba(0, 123, 255, .25);
				}
			}

			button {
				color: #fff;
				background: #000;
				padding: 10px;
				font-size: 12px;
				border: none;

				&.btn-primary:disabled {
					background: #7e7e7e;
					color: #2c2c2c;
				}
			}

			#tab1 {
				form {
					color: #001b42;

					.form-div {
						margin-bottom: 10px;

						button {
							border-top-left-radius: 0;
							border-bottom-left-radius: 0;
						}
					}

				}

			}

			#tab2 {
				.nav-tabs {
					.nav-item {
						button {
							padding: 15px;
							margin: auto;
							background: none;
							border: none;
							color: #000;

							&.active {
								border-bottom: 2px solid #696969;
								padding-bottom: 0;
							}
						}
					}

				}

				.tab-content {
					.form-div {
						margin-bottom: 10px;

						button {
							border-top-left-radius: 0;
							border-bottom-left-radius: 0;
						}
					}

					.tab-pane {
						form {
							color: #001b42;

							div {
								margin-bottom: 10px;
							}

							.loginPasswordBox {
								display: flex;
								justify-content: space-between;
								padding: 10px;
								color: #3b3b3b;

								.declaration {
									padding-left: 0;

									.form-check-input {
										top: 5px;
										left: -17px;
										margin: 0;
									}
								}

								a {
									color: #3b3b3b;
								}
							}
						}

					}
				}
			}
		}

	}

	.modal-footer {
		display: flex;
		justify-content: center;
		color: #2c2c2c;
		padding: 10px;
		flex-wrap: wrap;
		flex-direction: column;

		.title {
			margin: 25px 0 5px 0;
		}

		.partner-logo {
			justify-content: space-between;
			margin-top: 0;
			width: 85%;

			img {
				height: 53px;
			}
		}


	}

	:deep(.m-phone-number-input) {
		.m-input-wrapper {
			border: 1px solid #ced4da;

			.m-select-input {
				padding-left: 20px !important;
			}

		}

		.m-input-input {
			color: #000;

		}

		.m-input-input:focus {
			color: #000;

		}

		.m-select .m-select-chevron {
			color: #000;
			height: 14px;
			width: 14px;
		}

		.m-input.--md .m-input-input,
		.m-input.--md .m-input-label {
			font-size: 14px;
		}

		.m-input-label {
			left: 20px;
			top: -34px;
		}

		.m-input.--has-label .m-input-input {
			padding: 10px;
			width: 250px;
		}

		.m-phone-number-input__input .m-input-label {
			left: 20px;
			top: -40px;
		}

		.m-input-wrapper-right {
			padding-right: 0;
		}

		.m-input.--md {
			height: 55px;
		}

		svg {
			font-size: 12px;
		}

		.m-phone-number-input__country-flag {
			bottom: 18px;
			left: 20px;
		}


	}

	:deep(.m-phone-number-input:not(.--no-flags) .m-phone-number-input__select .m-input-wrapper .m-select-input) {

		padding-left: 45px !important;
		padding-top: 15px;

	}

	:deep(.m-select-list) {
		border-radius: 10px !important;

		.m-select-list__no-results {
			padding: 10px;

			svg {
				font-size: 30px !important;
			}
		}

	}

	:deep(.m-input.--sm) {
		width: 100%;
		height: 50px;
		font-size: 14px;

		.m-input-label {
			font-size: 14px;
		}

		.m-input-input {
			font-size: 14px;
			padding-left: 10px;
			padding-right: 10px;
		}

		svg {
			width: 14px;
			height: 14px;
		}

		.m-input-wrapper-left {
			padding-left: 10px;
		}



	}

	:deep(.m-select-list__scroll-wrapper) {
		button {
			padding-left: 12px;
			padding-right: 12px;

		}

		.maz-w-10 {
			width: 40px;
		}

		.m-phone-number-input__select__item {
			font-size: 14px;
			line-height: 18px;
		}

		button.maz-custom {
			padding-left: 16px;
			padding-right: 16px;
		}
	}

	&.phone {
		input {
			&.form-control {
				height: 40px !important;
			}
		}

		.tab-slider--tabs {
			display: flex;
			margin-bottom: 15px;

			.tab-slider--trigger {
				font-size: 12px;
				line-height: 12px;
			}

		}

		.tab-slider--container {}

		.modal-footer {
			.title {
				margin-top: 20px;
			}

			.partner-logo {
				width: 95%;

				img {
					height: 40px;
				}
			}
		}

		:deep(.m-phone-number-input) {
			.m-input.--has-label .m-input-input {
				width: 230px;
			}

			.m-phone-number-input__select .m-input-wrapper .m-select-input {
				width: 3rem;
			}
		}

		:deep(.m-phone-number-input) {
			.m-input-label {
				top: 0;
			}

		}



	}

}

.aad {
	$base-margin: 20px;
	$blue: #f1ac33;
	$tab-height: 35px;
	$tab-border-radius: 35px;

	.modal-content {
		position: relative;
		width: 100%;
		overflow: hidden;

		&.type02 {
			background-size: cover;
			background-position: center !important;
			background-repeat: no-repeat !important;
			//background-color: #122cb3 !important;
		}
	}

	#bg-video video {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		object-fit: fill;
	}

	.modal-dialog {
		overflow: hidden;
		width: 550px;

		.modal-content {
			background: #0000000c;
			border: 1px solid $blue;
			padding: 0.5rem 1.5rem 1rem 1.5rem;
			background: url(@/assets/img/register/home-bg2.jpg);

			.modal-header {
				border: none;
				padding-bottom: 1.5rem;

				img {
					height: 110px;
				}
			}

			p.title::before {
				content: '';
				padding: 1px 77px;
				margin-right: 1rem;
				background: url(@/assets/img/register/singForm-title-before.png) no-repeat center;
			}

			p.title::after {
				content: '';
				padding: 1px 77px;
				margin-left: 1rem;
				background: url(@/assets/img/register/singForm-title-after.png) no-repeat center;
			}

			button.btn-close {
				position: absolute;
				right: 10px;
				top: 10px;
				background: transparent;
				color: #fff;
				font-size: 1.5rem;
			}

			.partner-logo {
				span.mg {
					img {
						height: 40px;
					}
				}

				img {
					height: 53px;
				}
			}
		}
	}

	.tab-slider--nav {
		width: 100%;
		margin-bottom: 1.5rem;
	}

	.tab-slider--tabs {
		display: block;
		margin: 0;
		padding: 0;
		list-style: none;
		position: relative;
		border: 1px solid $blue;
		border-radius: $tab-border-radius;
		overflow: hidden;
		height: $tab-height;
		user-select: none;

		&:after {
			content: '';
			width: 50%;
			background: $blue;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			transition: all 250ms ease-in-out;
			border-radius: $tab-border-radius;
		}

		&.slide:after {
			left: 50%;
		}
	}

	.tab-slider--trigger {
		font-size: 1rem;
		font-weight: bold;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		line-height: 1.5rem;
		padding: 5px 45px 0 45px;
		position: relative;
		z-index: 2;
		cursor: pointer;
		display: inline-block;
		transition: color 250ms ease-in-out;
		user-select: none;

		&.active {
			color: #fff;
		}
	}

	.tab-slider--container {
		background: rgba(0, 0, 0, 0.432);
		border-radius: 5px;
		padding: 1.5rem 1rem 1rem 1rem;

		.tab-slider--body {
			margin-bottom: $base-margin;

			.tab-pane {
				min-height: 230px;

				div:nth-child(1) {
					margin-bottom: 1rem;
				}

				div:nth-child(2) {
					margin-bottom: .25rem;
				}

				&.userPhone {
					&.active {
						display: flex;
						flex-direction: column;
						justify-content: space-between;
					}

					.userPhone-div {
						div:nth-child(1) {
							margin-bottom: 1rem;
						}

						div:nth-child(2) {
							margin-bottom: 3rem;
						}

					}
				}

			}

			.form-control {
				color: #fff;
				background: #000000;
				border: 0.5px solid #b1b1b193;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;

				&::placeholder {
					/* Chrome, Firefox, Opera, Safari 10.1+ */
					color: #d9d9d9;
					font-size: 0.85rem;
				}
			}

			.isTelRegister {
				display: flex;

				.phoneNumber {
					width: 40%;
					border-left: none;
				}

				input.verification {
					width: 70%;
					border-right: none;
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}
			}

			button.btn-outline-secondary {
				min-width: 200px;
				width: 50%;
				font-size: 0.85rem;
				color: #fbc53c;
				border-left: none;
				border-top-left-radius: 0;
				line-height: normal;
				border-bottom-left-radius: 0;
			}

			.declaration {
				//margin-top: 2rem;

				span {
					color: #1b91ff;
				}
			}

			button.btn-primary {
				background: linear-gradient(360deg,
						#122cb3 0%,
						#0055d6 86.98%,
						#6b95ff 100%);
				box-shadow: none;
				border-radius: 3px;
				border: none;

				&:hover:not(:disabled) {
					color: #fbc53c;
				}
			}

			.forgetPwd {
				cursor: pointer;
				color: #fbc53c;

				&:hover {
					color: #fff;
				}
			}

		}
	}

	.loginPasswordBox {
		width: 100%;
		//background-color: #1B91FF;
		margin: 1.5rem 0 2.5rem 0;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		div {
			margin-bottom: 0;
		}
	}

	.vue-tel-input {
		border: 0.5px solid rgba(177, 177, 177, 0.5764705882);
		border-right: none;
		color: #fff;

		.vti__input {
			background: #000000;
			color: #fff;
		}

		.vti__dropdown {
			color: #ffffff;

			.vti__dropdown-arrow {
				color: #ffffff;
			}

			.vti__dropdown-item {
				color: #000;
			}
		}

		&:hover {
			.vti__dropdown-arrow {
				color: #6f4d96;
			}
		}
	}

	#tab1 {
		.form-div {
			margin-bottom: 1rem;
		}


	}

	#tab2 {
		.nav-tabs {
			border: none;
			margin-bottom: .25rem;

			.nav-link {
				font-size: 1rem;
				color: #fff;
				font-weight: 900;
				background: none;
				border: none;
				width: 100%;
			}

			.active {
				color: #fbc53c;
				background: none;
			}
		}
	}

	.modal-footer {
		display: unset;
		justify-content: center;

		p {
			margin: 0 auto;
		}

		.partner-logo {
			width: 100%;
			margin-bottom: 1rem;
			justify-content: space-between;

		}
	}

	:deep(.m-phone-number-input) {
		margin-bottom: 15px;

		.m-input-wrapper {
			background: black;
			color: white;
			border: 0.5px solid rgba(177, 177, 177, 0.5764705882);
			border-radius: 0.25rem;
		}

		.m-input-input {
			color: white;
		}

		.m-select .m-select-chevron {
			color: white;
		}

		.m-input.--md .m-input-input,
		.m-input.--md .m-input-label {
			font-size: 12px;
		}
	}
}

.aaf {
	$base-margin: 20px;
	$blue: #1c9dff;
	$tab-height: 35px;
	$tab-border-radius: 35px;

	.modal-content {
		position: relative;
		width: 100%;
		overflow: hidden;

		&.type02 {
			background-size: cover;
			background-position: center !important;
			background-repeat: no-repeat !important;
			//background-color: #122cb3 !important;
		}
	}

	#bg-video video {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		object-fit: fill;
	}

	.modal-dialog {
		overflow: hidden;
		width: 550px;

		.modal-content {
			background: #fff;
			border: 1px solid $blue;
			padding: 0.5rem 1.5rem 1rem 1.5rem;
			// background: url(@/assets/img/register/home-bg2.jpg);

			.modal-header {
				border: none;
				padding-bottom: 1rem;

				img {
					height: auto !important;
					width: 140px !important;
				}
			}

			p.title::before {
				content: '';
				padding: 1px 77px;
				margin-right: 1rem;
				background: url(@/assets/img/register/singForm-title-before.png) no-repeat center;
			}

			p.title::after {
				content: '';
				padding: 1px 77px;
				margin-left: 1rem;
				background: url(@/assets/img/register/singForm-title-after.png) no-repeat center;
			}

			button.btn-close {
				position: absolute;
				right: 10px;
				top: 10px;
				background: transparent;
				color: #1c9dff;
				font-size: 1.5rem;
			}

			.partner-logo {
				span.mg {
					img {
						height: 40px;
					}
				}

				img {
					height: 53px;
				}
			}
		}
	}

	.tab-slider--nav {
		width: 100%;
		margin-bottom: 1.5rem;
	}

	.tab-slider--tabs {
		display: block;
		margin: 0;
		padding: 0;
		list-style: none;
		position: relative;
		border: 1px solid rgba(28,157,255,0.432);
		border-radius: $tab-border-radius;
		overflow: hidden;
		height: $tab-height;
		user-select: none;

		&:after {
			content: '';
			width: 50%;
			background: rgba(28,157,255,0.432);
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			transition: all 250ms ease-in-out;
			border-radius: $tab-border-radius;
		}


		&.slide:after {
			left: 50%;
		}
		
	}

	.tab-slider--trigger {
		font-size: 1rem;
		font-weight: bold;
		color: #1c9dff;
		text-transform: uppercase;
		text-align: center;
		line-height: 1.5rem;
		padding: 5px 45px 0 45px;
		position: relative;
		z-index: 2;
		cursor: pointer;
		display: inline-block;
		transition: color 250ms ease-in-out;
		user-select: none;

		

		&.active {
			color: #fff;
		}
	}


	.tab-slider--container {
		// background: rgba(0, 0, 0, 0.432);
		background: rgba(28,157,255,0.432);
		border-radius: 5px;
		padding: 1.5rem 1rem 1rem 1rem;

		.tab-slider--body {
			margin-bottom: $base-margin;

			.tab-pane {
				min-height: 230px;

				div:nth-child(1) {
					margin-bottom: 1rem;
				}

				div:nth-child(2) {
					margin-bottom: .25rem;
				}

				&.userPhone {
					&.active {
						display: flex;
						flex-direction: column;
						justify-content: space-between;
					}

					.userPhone-div {
						div:nth-child(1) {
							margin-bottom: 1rem;
						}

						div:nth-child(2) {
							margin-bottom: 3rem;
						}

					}
				}

			}

			.form-control {
				color: #000;
				background: #fff;
				border: 0.5px solid #b1b1b193;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;

				&::placeholder {
					/* Chrome, Firefox, Opera, Safari 10.1+ */
					color: #d9d9d9;
					font-size: 0.85rem;
				}
			}

			.isTelRegister {
				display: flex;

				.phoneNumber {
					width: 40%;
					border-left: none;
				}

				input.verification {
					width: 70%;
					border-right: none;
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}
			}

			button.btn-outline-secondary {
				min-width: 200px;
				width: 50%;
				font-size: 0.85rem;
				color: #1c9dff;
				border-left: none;
				border-top-left-radius: 0;
				line-height: normal;
				border-bottom-left-radius: 0;
			}

			.declaration {
				//margin-top: 2rem;

				span {
					color: #1b91ff;
				}
			}

			button.btn-primary {
				background: linear-gradient(360deg,
						#122cb3 0%,
						#0055d6 86.98%,
						#6b95ff 100%);
				box-shadow: none;
				border-radius: 3px;
				border: none;

				&:hover:not(:disabled) {
					color: #1c9dff;
				}
			}

			.forgetPwd {
				cursor: pointer;
				color: #1c9dff;

				&:hover {
					color: #fff;
				}
			}

		}
	}

	.loginPasswordBox {
		width: 100%;
		//background-color: #1B91FF;
		margin: 1.5rem 0 2.5rem 0;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		div {
			margin-bottom: 0;
		}
	}

	.vue-tel-input {
		border: 0.5px solid rgba(177, 177, 177, 0.5764705882);
		border-right: none;
		color: #fff;

		.vti__input {
			background: #000000;
			color: #fff;
		}

		.vti__dropdown {
			color: #ffffff;

			.vti__dropdown-arrow {
				color: #ffffff;
			}

			.vti__dropdown-item {
				color: #000;
			}
		}

		&:hover {
			.vti__dropdown-arrow {
				color: #6f4d96;
			}
		}
	}

	#tab1 {
		.form-div {
			margin-bottom: 1rem;
		}


	}

	#tab2 {
		.nav-tabs {
			border: none;
			margin-bottom: .25rem;

			.nav-link {
				font-size: 1rem;
				color: #fff;
				font-weight: 900;
				background: none;
				border: none;
				width: 100%;
			}

			.active {
				color: #1c9dff;
				background: none;
			}
		}
	}

	.modal-footer {
		display: unset;
		justify-content: center;

		p {
			margin: 0 auto;
		}

		.partner-logo {
			width: 100%;
			margin-bottom: 1rem;
			justify-content: space-between;

		}
	}

	:deep(.m-phone-number-input) {
		margin-bottom: 15px;

		.m-input-wrapper {
			border: 0.5px solid rgba(177, 177, 177, 0.5764705882);
			border-radius: 0.25rem;
		}



		.m-input.--md .m-input-input,
		.m-input.--md .m-input-label {
			font-size: 12px;
		}
	}
}

.fs-18 {
	font-size: 18px;
}</style>


