
<template>
  <div class="agencyPage">
    <div class="header-title">
      <div class="back"> <a href="javascript:history.go(-1)"><font-awesome-icon icon="fa-solid fa-chevron-left" /></a> </div>
      <div class="title">{{ $t("share_with_friends") }}</div>
      <div class="search"></div>
    </div>
    <div class="agencyPromo-wrapper">
      <div class="promo-img">
        <img src="@/assets/aaf/img/promotion/promo-imgBg.png" alt="">
      </div>
      <div class="qr-code">
        <span>
          <qrcode :value="recRegisterUrl"></qrcode>
        </span>
      </div>
      <div class="d-none" ref="recRegisterUrlText">{{recRegisterUrl}}</div>
      <div class="copy-link" @click="copyText(recRegisterUrlText)">{{ $t("copy_link") }}</div>
      <div class="notice-text">{{ $t("users_pass_above_link_scan_qrcode_downline_onlyh5_users") }}</div>
      <div class="promo-code">{{ $t("your_invitation_code") }}： <span>{{ user.recommendCode }}</span> </div>
    </div>
  </div>
</template>



<script setup>
import { ref, onMounted, computed } from 'vue';
import common from "@/utils/common";
import { useStore } from 'vuex';
import Qrcode from 'vue3-qrcode';

const store = useStore();
const user = computed(() => store.state.user);
const { copyText, getRecRegisterUrl } = common();

// 代理連結
const recRegisterUrl = getRecRegisterUrl(user.value.recommendCode);
const recRegisterUrlText = ref(null)

onMounted(() => {
  // if (!localStorage.getItem("sessionKey")) { userLogout(); return; }
});

</script>

<style lang="scss" scoped>
.agencyPage {
  color: #000;
  .header-title {
    background: #fff;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding: 1rem;
    color: #000;
    align-items: center;
    .fa-chevron-left {
      color: #000000;
      margin-top: .82rem;
    }
  }
  .agencyPromo-wrapper {
    background: #000000;
    .share-slogan {
      display: flex;
      justify-content: space-around;
      font-size: 0.6rem;
      div {
        background: #292929;
        border-radius: 5px;
        color: #fff;
        line-height: 1rem;
        text-align: center;
        padding: 0.3rem;
        margin: 0 0.2rem;
      }
    }
    .qr-code,
    .copy-link {
      text-align: center;
    }
    .qr-code img {
      width: 35%;
      border-radius: 10px;
    }
    .copy-link {
      background: url('@/assets/aaf/img/phone/promo-btnBg.png') no-repeat;
      border-radius: 10px;
      color: #fff;
      padding-top: 1.5rem;
      width: 297px;
      height: 73px;
      background-position: 50%;
      margin: auto;
      font-size: 1.2rem;
    }
    .notice-text {
      font-size: 0.6rem;
      padding: 0.5rem 1rem;
      color: #fff;
    }
    .promo-code {
      padding: 0 1rem 2rem 1rem;
      color: #fff;
      span {
        color: #d00027;
      }
    }
  }
}
</style>
