<template>
    <div class="sliderBrandBlock">
        <div class="sliderBrandBar">
            <div class="sliderBrandTitle">ĐỐI TÁC</div>
            <div class="slider-brand d-flex">
                <div v-for="(footerImg, index) in footerImgs" :key="index">
                    <img :src="footerImg.img" class="swiper-lazy" />
                </div>
            </div>
        </div>
    </div>
    <!----------應該在home首頁段落↑↑↑↑↑↑↑----------->
    <footer id="footer" class="footer footerBgColor">
        <div class="container">
            <div class="bottom flex-box justify-content-center">
                <img src="@/assets/aaa/img/footer/footer02.jpg" alt="" class="footer-menuPic">
            </div>
            <div class="bottom flex-box warningTextBox">
                Copyright © WKING 2023. All rights reserved 
                <img src="@/assets/aaa/img/footer/icon-18over.png" alt="" class="icon_18">
            </div>
            <div class="mb-4 pl-2">v {{VERSION}}</div>
            <div class="footer__top flex-box">
                <div class="footer-menu footer-menuBar">
                    <ul class="flex-box">
                        <li @click="toPageUrl('aaaOtherPage', 'About')">
                            <a :class="{ active: currentUrl === 'About' }" href="javascript:void(0)">{{ $t("aboutUs") }}</a>
                        </li>
                        <li @click="toPageUrl('aaaOtherPage', 'Story')">
                            <a :class="{ active: currentUrl === 'Story' }" href="javascript:void(0)">{{ t('BrandStory') }}</a>
                        </li>
                        <li @click="toPageUrl('aaaOtherPage', 'Deposit')">
                            <a :class="{ active: currentUrl === 'Deposit' }" href="javascript:void(0)">{{ $t("depositHelp") }}</a>
                        </li>
                        <li @click="toPageUrl('aaaOtherPage', 'Withdraw')">
                            <a :class="{ active: currentUrl === 'Withdraw' }" href="javascript:void(0)">{{ $t("withdrawalHelp") }}</a>
                        </li>
                        <li @click="toPageUrl('aaaOtherPage', 'Contact')">
                            <a :class="{ active: currentUrl === 'Contact' }" href="javascript:void(0)">{{ $t("contactUs") }}</a>
                        </li>
                        <li @click="toPageUrl('aaaOtherPage', 'Recommend')">
                            <a :class="{ active: currentUrl === 'Recommend' }" href="javascript:void(0)">{{ $t("recommend_friend") }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bottom flex-box PrecautionsBlock">
                <div class="PrecautionsText01">Nhà cái WKING</div>
                <div class="PrecautionsText01 type02">Tại hệ thống WKING, mỗi dịch vụ bạn trải nghiệm đều là những sản phẩm
                    cá
                    cược hàng đầu với khả năng vận hành chuyên nghiệp, cùng với độ bảo mật cao cấp.
                    Bên cạnh đó, khi trở thành thành viên của nhà cái WKING, bạn sẽ được trải nghiệm những chương trình
                    khuyến mãi độc quyền với cơi hội nhận được nhiều phần quà ấn tượng. Có thể nói, mỗi giây phút cá cược
                    tại đây đều có thể mang lại cho bạn những trải nghiệm thăng hoa và khó quên nhất.

                    <br>
                    <div @click="toPageUrl('aaaOtherPage', 'Story')">
                        <a class="PrecautionsText01 type02" href="javascript:void(0)">{{ $t("see_more") }}</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>
<script setup>
import { ref } from 'vue';
import { useRouter } from "vue-router";
import { useI18n } from "vue-i18n";
import 'swiper/css';
import 'swiper/css/pagination';
import 'swiper/css/scrollbar'
import 'swiper/css/effect-fade';

const { t } = useI18n();
const router = useRouter();
const currentUrl = ref('')
const toPageUrl = (address, par) => {
    currentUrl.value = par;
    window.scrollTo(0, 0);
    router.push({
        name: address,
        query: { info: par }
    });
};
const VERSION = ref(process.env.VERSION)
const footerImgs = ref([
    {
        img:require('@/assets/aaa/img/footer/partners/macau-king.png')
    },
    {
        img:require('@/assets/aaa/img/footer/partners/ag.png')
    },
    {
        img:require('@/assets/aaa/img/footer/partners/bbin.png')
    },
    {
        img:require('@/assets/aaa/img/footer/partners/DG.png')
    },
    {
        img:require('@/assets/aaa/img/footer/partners/microgaming.png')
    },
    {
        img:require('@/assets/aaa/img/footer/partners/cmd368.png')
    },
    {
        img:require('@/assets/aaa/img/footer/partners/jdb.png')
    },
    {
        img:require('@/assets/aaa/img/footer/partners/TC-gaming.png')
    },
    {
        img:require('@/assets/aaa/img/footer/partners/cq9.png')
    },
    {
        img:require('@/assets/aaa/img/footer/partners/all-bet.png')
    }
])
</script>

<style lang="scss" scoped>
/*----------應該在home首頁段落↑↑↑↑↑↑↑-------*/

.footerBgColor {
    background-color: #191919;
}

.footer-menuPic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    & img {
        width: 100%;
        max-width: 1260px;
        height: auto;
    }
}

.warningTextBox {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 12px !important;
    font-weight: lighter;
    color: #505a5c;
    margin-bottom: 80px;

    .icon_18 {
        width: 30px;
        height: auto;
        margin-left: 5px;

        & img {
            width: 100%;
            height: auto;
        }
    }

}

.footer-menuBar {
    position: relative;
    left: -0px;
}

.footer-menu li:after {
    background-color: #fff;
    right: 2px;
}

.footer-menu a {
    padding: .5rem .5rem .5rem .5rem;
    font-size: 0.8rem;
    border-radius: 20px;
    color: #DCDDDD;

    &:hover {
        color: #E8CC9D;
        border-radius: 20px;
        //padding: 5px 10px 5px 10px;
        //background-color: #E8CC9D;
    }

    &.active {
        cursor: default;
        color: #E8CC9D;
        border-radius: 20px;
    }
}

.footer-partner>div:first-child {
    margin-bottom: 0;
}

.footer-partner img {
    margin: 0 .3rem;
    max-height: 30px
}

.footer-partner img:last-child {
    margin-left: 30px;
}

.footer-wrapper .width-fourhaft:first-child {
    width: 100%;
}

.footer__bottom {
    margin-bottom: 0;
}

.footer .copyright li {
    color: #575757;
}

.sliderBrandBlock {
    display: flex;
    justify-content: center;
    width: calc(100% - 40px);
    width: 100%;
    //max-width: 1775px;
    padding: 0.5rem 0 45px 0;
    background-color: #E8CC9D;
    background-image: linear-gradient(to top, #171d1c, #112a24);

    .sliderBrandBar {
        width: calc(90% - 20px);
        //background-color: #E8CC9D;
    }

    .sliderBrandTitle {
        width: 100%;
        font-size: 20px;
        line-height: 40px;
        color: #ecd0a0 !important;
        margin: 0 0 10px 0;
        font-weight: lighter;
    }
}

.slider-brand {
    width: 100%;
    max-width: 1775px;
    >div{
        margin: 0 10px;
    }
}

.PrecautionsBlock {
    display: block;
    justify-content: left;
    flex-direction: column;
    width: 100%;
    padding: 8px 8px 50px 8px;


    .PrecautionsText01 {
        width: 100%;
        font-size: 12px;


        &.type02 {
            color: #505a5c;
        }
    }
}
</style>
