<template>
  <div class="marquee-wrap home otherPage type02" :class="$route.fullPath === '/' ? 'home-class' : 'all-class'">
    <!-------<div grow :class="{ marqueeBackfixed: active }">----->
    <div grow :class="{ marqueeBackfixed: active }">
      <!-- 其他內容 -->
      <div class="marquee-contain">
        <span class="marquee-title"><font-awesome-icon icon="fa-solid fa-volume-high" /> {{ $t('sports_announcement')}}</span>
        <template v-if="isLoaded">
          <Vue3Marquee class="marquee" :duration="duration">
            <div v-if="notices">
              <span v-for="n in notices.datas" :key="n" v-html="'[' + n.title + ']：' + n.content.replace(/<\/p>/g,' ').replace(/<\/?.+?>/g,'')"></span>
            </div>
          </Vue3Marquee>
        </template>
      </div>
    </div>
  </div>
</template>

<script setup>
import { Vue3Marquee } from 'vue3-marquee'
import { ref, watch, computed } from 'vue';
import { useStore } from 'vuex';
import { useI18n } from "vue-i18n";
import { noticeList } from '@/api/api';
import 'vue3-marquee/dist/style.css'

const store = useStore();
const { locale } = useI18n();
const duration = ref(0);
const active = ref('');
const notices = ref([]);
const isLoaded = ref(false);

const DomainLayoutId = computed(() => store.state.DomainLayoutId);

//取得公告
const getNotice = async () => {
  let w = 0;
  notices.value = await noticeList(locale.value, DomainLayoutId.value);
  notices.value.datas.forEach(item => {
    w += item.title.length + item.content.replace(/<\/p>/g, ' ').replace(/<\/?.+?>/g, '').length;
  });

  if (w > 0) {
    if(w >100){
      duration.value = w
    }
    else{
      duration.value = 30
    }
    isLoaded.value = true;
  }
}
//處理捲軸
const handleScroll = () => {
  active.value = window.scrollY >= 1 ? true : false;
}

watch(
  //更新語系
  () => locale.value,
  () => {
    getNotice();
  }
)

getNotice();
window.addEventListener("scroll", handleScroll);
</script>
<style lang="scss" scoped>
.marquee-wrap {
  &.type02 {
    position: fixed;
    top: 60px;
    width: 100%;
    height: 26px !important;
    padding: 2px 0 0 0;
  }

  &.home-class {
    background: none;

    //ackground-color: rgba(128, 143, 133, 0.5);
    //background-color: #ffffff;
    .marqueeBackfixed {
      position: relative;
      padding: 2px 0 0 0;
      top: -2px;
      height: 24px;
      background-color: #ffffff;
    }
  }

  &.all-class {
    background: #ffffff73;
  }

  .marquee-contain {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 0;

    .marquee-title {
      color: #000;
      font-size: 1rem;
      height: 1rem;
      width: auto;
      white-space: nowrap;
      margin-right: 1rem;
    }

    .marquee {
      display: inline;

      height: 1.2rem;
      overflow: hidden;

      div {
        span {
          color: #000;
          margin-left: 30px;
        }
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .marquee-wrap.type02 {
    top: 119px;
  }
}
</style>
