<template>
  <!-----手機版頁面------>
  <div class="phone" :class="pageTarget">
    <div class="pMemberBack" v-if="pageTarget === 'homePage'">
      <!-----VIP版頭------>
      <div class="pMemberTopType01Vip">
        <img src="@/assets/aaa/img/common/crown.svg" class="backCrownImg" />
        <div class="vipIdAndPicBox">
          <div class="iconBlock">
            <a :href="siteSettingsInfo.customerServiceUrl" target="_blank">
              <img src="@/assets/img/icon/icon_service02.svg" class="iconItem" />
            </a>
            <router-link :to="{ name: 'aaaPhoneUserChangeInfoView' }">
              <img src="@/assets/img/icon/icon_mine_setting.svg" class="iconItem" />
            </router-link>
          </div>
          <div class="vipIdAndPicBoxleft">
            <div class="vipPicBox">
              <img v-if="!user.avatarImage" :src="require('@/assets/aaa/img/avatar/empty.svg')" />
              <img v-else :src="user.avatarImage" />
            </div>
            <div class="vipNameBox">
              {{user.account}}
            </div>
          </div>
        </div>
        <div class="vipBottmoBar">
          <div class="vipTitle"> VIP {{user.level}}</div>
          <div class="vipBtn">
            <router-link :to="{ name: 'aaaPhoneVIPView' }">
              <div class="vipText">{{ $t("vip_privileges") }}</div>
              <img src="@/assets/img/icon/vipRightArrow.svg" class="vipBtnArrow" />
            </router-link>
          </div>
        </div>
      </div>
      <!-----錢包中心------>
      <div class="pMemberMidBoard">
        <div class="pMemberMidBoardBox space-between">
          <div class="centerMoneyBox">
            {{ $t("center_wallet") }}
            <div class="refreshIcon" ref="refreshIcon" @click="refreshWallets(refreshIcon)">
              <img src="@/assets/img/icon/icon_mine_money_refresh.svg" alt="">
            </div>

          </div>
          <router-link :to="{ name: 'aaaPhoneTransactionDetails' }" class="moneyDetail">{{ $t("funding_details") }}
            <img src="@/assets/img/icon/vipRightArrow02.svg" alt="">
          </router-link>
        </div>
        <div class="pMemberMidBoardBox left BottomLine">
          <div class="moneyNumbox" @click="walletSelectShow = true">
            <img :src="wallets[0].currency.img" alt="">
            <span class="ml-2">{{stringToMoney(wallets[0].balance)}}</span>
          </div>
        </div>
        <div class="pMemberMidBoardBox flex-start">
          <div class="mainBtnBox">
            <router-link :to="{ name: 'aaaPhoneDepositNav' }">
              <div class="btnIconBox ">
                <img src="@/assets/img/icon/icon_wallet_in.svg" alt="">
              </div>
            </router-link>
            <div class="mainBtnName">{{ $t("recharge") }}</div>
          </div>
          <div class="mainBtnBox">
            <router-link :to="{ name: 'aaaPhoneCommonWithdraw' }">
              <div class="btnIconBox ">
                <img src="@/assets/img/icon/icon_wallet_out.svg" alt="">
              </div>
            </router-link>
            <div class="mainBtnName">{{ $t("withdrawal") }}</div>
          </div>
          <div class="mainBtnBox">
            <router-link :to="{ name: 'aaaPhoneHistoryStakeRecord' }">
              <div class="btnIconBox ">
                <img src="@/assets/img/icon/icon_transferMoney.svg" alt="">
              </div>
            </router-link>
            <div class="mainBtnName">{{ $t("betRecords") }}</div>
          </div>
          <div class="mainBtnBox">
            <router-link :to="{ name: 'aaaPhoneAgency' }">
              <div class="btnIconBox ">
                <img src="@/assets/img/icon/icon_mine_join.svg" alt="">
              </div>
              <div class="mainBtnName">{{ $t("agent") }}</div>
            </router-link>
          </div>
        </div>
      </div>
      <div class="pMemberMidBoard type02">
        <div class="pMemberMidBoardBox left BottomLine">
          <div class="selectBox" @click="pageTarget ='shareFriends'">
            <div class="selectItemName">
              <img src="@/assets/img/icon/icon_mine_invite2.svg" alt="">
              {{ $t("share_with_friends") }}
            </div>
            <img src="@/assets/img/icon/icon_game_arrow_right.svg" alt="">
          </div>
        </div>
        <div class="pMemberMidBoardBox left BottomLine">
          <div class="selectBox" @click="pageTarget = 'aboutShow'">
            <div class="selectItemName">
              <img src="@/assets/img/icon/icon_mine_rule.svg" alt="">
              {{ $t("help_center") }}
            </div>
            <img src="@/assets/img/icon/icon_game_arrow_right.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- 分享好友內頁 -->
    <div class="pShareBack" v-if="pageTarget === 'shareFriends'">
      <div class="pShareBottomBox">
        <div class="d-none" ref="recRegisterUrlText">{{recRegisterUrl}}</div>
        <a class="pShareItemBtn" @click="copyText(recRegisterUrlText)"> {{ $t("copy_link") }}</a>
        <img @click="pageTarget = 'homePage'" src="@/assets/aaa/img/common/vipLeftArrow02.svg" alt="" class="pShareItemBackBtn">

        <div v-if="recRegisterUrl" class="pShareQrcodeImg">
          <qrcode :value="recRegisterUrl"></qrcode>
        </div>
        <div class="pShareRecommendCode">
          <span style="color:#000">{{ $t("your_invitation_code") }}： {{ recommendCode }}</span>
        </div>

        <img src="@/assets/aaa/img/promotion/promo-imgBg.jpg" alt="" class="pShareBottomImg">
      </div>
    </div>
    <!-- 關於我們內頁 -->
    <div class="pAboutBack" v-if="pageTarget === 'aboutShow'">
      <div class="pAboutHeader">
        <img
          @click="pageTarget = 'homePage'"
          src="@/assets/img/icon/icon_game_arrow_left.svg"
          alt=""
          class="pBackBtn"
        />
        {{ $t("aboutUs") }}
      </div>
      <div class="pAboutMidBack">
        <div class="pAboutMidBoard">
          <div
            v-for="(helpInfo, index) in helpInfos"
            :key="index"
            class="pAboutMidBoardBox"
            @click="showHelpReply(index)"
          >
            <div class="pHelpQBox">{{ helpInfo.title }}</div>
            <img
              src="@/assets/img/icon/icon_game_arrow_right.svg"
              alt=""
              class="pAboutImg"
            />
          </div>
        </div>
      </div>
      <!-- 關於我們內頁回答樣式 -->
      <div class="pAboutBack" v-if="helpReply01">
        <!--關於我們-->
        <div v-if="helpTarget === 0">
          <div class="pAboutHeader">
            <img
              @click="helpReply01 = false"
              src="@/assets/img/icon/icon_game_arrow_left.svg"
              alt=""
              class="pBackBtn"
            />
            {{ t("aboutUs") }}
          </div>
          <div class="pAboutMidBack">
            <div class="pAboutMidBoard type02">
              <template v-for="(item, index) in staticResourceResp" :key="index">
                  <div v-if="item.resourceId==='AboutUs_App'" >
                    <div v-html="item.content"></div>
                  </div>
              </template>
            </div>
          </div>
        </div>
        <!--品牌故事-->
        <div v-if="helpTarget === 1">
          <div class="pAboutHeader">
            <img
              @click="helpReply01 = false"
              src="@/assets/img/icon/icon_game_arrow_left.svg"
              alt=""
              class="pBackBtn"
            />
            {{ $t("BrandStory") }}
          </div>
          <div class="pAboutMidBack">
            <div class="pAboutMidBoard type02">
              <template v-for="(item, index) in staticResourceResp" :key="index">
                  <div v-if="item.resourceId==='BrandStory_App'" >
                    <div v-html="item.content"></div>
                  </div>
              </template>  
            </div>
          </div>
        </div>
        <!--存款幫助-->
        <div v-if="helpTarget === 2">
          <div class="pAboutHeader">
            <img
              @click="helpReply01 = false"
              src="@/assets/img/icon/icon_game_arrow_left.svg"
              alt=""
              class="pBackBtn"
            />
            {{ $t("depositHelp") }}
          </div>
          <div class="pAboutMidBack">
            <div class="pAboutMidBoard type02">
              <template v-for="(item, index) in staticResourceResp" :key="index">
                  <div v-if="item.resourceId==='DepositHelp_App'" >
                    <div v-html="item.content"></div>
                  </div>
              </template> 
            </div>
          </div>
        </div>
        <!--取款幫助-->
        <div v-if="helpTarget === 3">
          <div class="pAboutHeader">
            <img
              @click="helpReply01 = false"
              src="@/assets/img/icon/icon_game_arrow_left.svg"
              alt=""
              class="pBackBtn"
            />
            {{ $t("withdrawalHelp") }}
          </div>
          <div class="pAboutMidBack">
            <div class="pAboutMidBoard type02">
              <template v-for="(item, index) in staticResourceResp" :key="index">
                  <div v-if="item.resourceId==='WithdrawalHelp_App'" >
                    <div v-html="item.content"></div>
                  </div>
              </template> 
            </div>
          </div>
        </div>
        <!--聯繫我們-->
        <div v-if="helpTarget === 4">
          <div class="pAboutHeader">
            <img
              @click="helpReply01 = false"
              src="@/assets/img/icon/icon_game_arrow_left.svg"
              alt=""
              class="pBackBtn"
            />
            {{ $t("contactUs") }}
          </div>
          <div class="pAboutMidBack">
            <div class="pAboutMidBoard type02">
              <template v-for="(item, index) in staticResourceResp" :key="index">
                  <div v-if="item.resourceId==='Contact_App'" >
                    <div v-html="item.content"></div>
                  </div>
              </template>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <phone-wallet-select-view v-if="walletSelectShow && wallets.length > 1" @hideWalletSelect="hideWalletSelect"/>
  <!-- 底部選單 -->
  <phone-footer-menu-view :class="{'d-none': walletSelectShow && wallets.length > 1}"/>
  <!-- 加載 -->
  <loading v-model:active="isLoading" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />
</template>

<script setup>
import PhoneFooterMenuView from '@/components/aaa/phone/PhoneFooterMenuView.vue'
import PhoneWalletSelectView from '@/components/aaa/phone/PhoneWalletSelectView.vue'
import { ref, reactive, onMounted, computed, watch } from 'vue';
import { useStore } from 'vuex';
import { useGamesStore } from '@/store/game'
import common from "@/utils/common";
import { useI18n } from "vue-i18n";
import Qrcode from 'vue3-qrcode';
import Loading from 'vue-loading-overlay';
import apiService from '@/api/apiService';

const games = useGamesStore();
const store = useStore();
const { stringToMoney, copyText, userLogout, getRecRegisterUrl, refreshWallets, errorHandling } = common();


const siteSettingsInfo = computed(() => store.state.siteSettingsInfo);
const user = computed(() => store.state.user);
const wallets = computed(() => store.state.wallets);

const { t } = useI18n();
const refreshIcon = ref(null);
const helpReply01 = ref(false);
const pageTarget = ref("homePage")
const recommendCode = user.value.recommendCode;
const recRegisterUrl = getRecRegisterUrl(recommendCode);
const recRegisterUrlText = ref(null);
const memberCentreMenus = reactive([]);
const isLoading = ref(false);
const walletSelectShow = ref(false)
const DomainLayoutId = computed(() => store.state.DomainLayoutId);
const staticResourceResp = reactive([]);
const memberCentreMenusAll = reactive(
  [
    {
      title: 'account_information',
      path: 'UserInfo',
      imgUrl: require('@/assets/aaa/img/member/memberCentre-userInfo.svg'),
    },
    {
      title: 'recharge',
      path: 'Despoit',
      imgUrl: require('@/assets/aaa/img/member/memberCentre-despoit.svg'),
    },
    {
      title: 'withdrawal',
      path: 'Withdraw',
      imgUrl: require('@/assets/aaa/img/member/memberCentre-withdraw.svg'),
    },
    {
      title: 'vip_privileges',
      path: 'VIP',
      imgUrl: require('@/assets/aaa/img/member/memberCentre-VIP.svg'),
    },
    {
      title: 'agent',
      path: 'AgencyTeam',
      imgUrl: require('@/assets/aaa/img/member/memberCentre-agent.svg'),
    },
    {
      title: 'gameRecord',
      path: 'History',
      imgUrl: require('@/assets/aaa/img/member/memberCentre-history.svg'),
    },
    {
      title: 'station_letter',
      path: 'Message',
      imgUrl: require('@/assets/aaa/img/member/memberCentre-message.svg'),
    },
  ]
);
const helpInfos = ref([
  {
    title: t('aboutUs'),
  },
  {
    title: t('BrandStory'),
  },
  {
    title: t('depositHelp'),
  },
  {
    title: t('withdrawalHelp'),
  },
  {
    title: t('contactUs'),
  },
])

const helpTarget = ref(0);
const gameRuleTarget = ref(0);

const showHelpReply = (index) => {
  helpReply01.value = true;
  helpTarget.value = index
}


const compareMemberCentreMenu = () => {
  window.webconfig.memberCentreMenuTitles.forEach(memberCentreMenuTitle => {
    memberCentreMenus.push(memberCentreMenusAll.find(item => item.title === memberCentreMenuTitle))
  });
}

const hideWalletSelect = () => {
  walletSelectShow.value = false
}

watch(
  [helpTarget, gameRuleTarget, pageTarget],
  () => {
    if (helpTarget.value) {
      window.scrollTo(0, 0);
    }

    if (gameRuleTarget.value) {
      window.scrollTo(0, 0);
    }

    if (pageTarget.value) {
      window.scrollTo(0, 0);
    }
  }
);

watch(
  () => wallets.value,
  () => {
    games.filterPhoneHeaderMenuByCurrency();
  }
)


//取得關於我們靜態API資料
const getStaticResource = () => {
  isLoading.value = true;
 
  apiService.post('/StaticResource/List', {
    lang: localStorage.getItem("locale"),
    DomainLayoutId: DomainLayoutId.value,

  }).then((res) => {
    staticResourceResp.splice(0);//清空陣列資料
    res.data.datas.forEach(element => {
      staticResourceResp.push(element);
    });
  }).catch((err) => {
    errorHandling(err);
  }).finally(() => {
    isLoading.value = false;
  });

}


onMounted(() => {
  getStaticResource();
  if (!localStorage.getItem("sessionKey")) { userLogout(); return; }
  compareMemberCentreMenu();
});
</script>

<style lang="scss" scoped>
@media (max-width: 767px) {
  /*優惠活動CSS */
  .pMemberBack {
    width: 100vw;
    height: 100vh;
    background-color: #f4f5f8;
    overflow-y: auto;
    display: block;

    .pMemberTopType01Vip {
      position: relative;
      height: 160px;
      width: 100vw;
      background: linear-gradient(180deg, #009685 0%, #004d3d 99.48%);
      mask: url(@/assets/img/icon/shopMask.svg);
      mask-repeat: no-repeat;
      mask-position: center 100%;
      mask-size: 800% auto;
      overflow: hidden;

      .backCrownImg {
        width: 100%;
        z-index: 5;
      }

      .vipIdAndPicBox {
        position: absolute;
        top: 40%;
        left: 10px;
        //background-color: #2F8E7E;
        height: 65px;
        width: calc(100vw - 20px);
        transform: translate(0%, -50%);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .iconBlock {
          position: absolute;
          display: flex;
          justify-content: right;
          top: 0;
          right: 0;
          width: 100px;
          height: 25px;
          //background-color: #87CDB7;

          .iconItem {
            width: 22px;
            margin: 0 0 0 28px;

            & img {
              width: 100%;
              height: auto;
            }
          }
        }

        .vipIdAndPicBoxleft {
          display: flex;
          align-items: center;
          width: 70%;
          //background-color: #8F017B;
          //flex-wrap: wrap;

          .vipPicBox {
            width: 65px;
            height: 65px;
            background-repeat: no-repeat;
            background-position: center;
            background-color: #f4f5f8;
            border-radius: 40px;
            overflow: hidden;

            & img {
              width: 100%;
              height: auto;
            }
          }

          .vipNameBox {
            width: calc(100% - 65px);
            color: #fff;
            margin-left: 10px;
            font-size: 1.2rem;
            font-weight: lighter;
            flex-wrap: wrap;
            //background-color: #D9004E;
          }
        }
      }

      .vipBottmoBar {
        position: absolute;
        bottom: 0px;
        width: calc(100vw - 20px);
        margin: 0 10px;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.65);
        z-index: 20;
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 5px 0;

        .vipTitle {
          margin-left: 20px;
          font-size: 1.5rem;
          color: #f4d691;
          font-style: italic;
        }

        .vipBtn {
          display: flex;
          justify-content: center;
          align-items: first baseline;
          background-color: #f4d691;
          margin-right: 15px;
          padding: 2px 20px;
          border-radius: 30px;
          color: #000;

          a {
            color: #000;
            text-decoration: none;
            display: flex;
            align-items: center;

            .vipText {
              //background-color: #2F8E7E;
              font-size: 0.6rem;
            }

            .vipBtnArrow {
              height: 10px;
              margin-left: 5px;
            }
          }
        }
      }
    }

    .pMemberMidBoard {
      display: block;
      width: calc(100vw - 20px);
      background-color: #fff;
      margin: 10px 10px 0 10px;
      padding: 10px;
      border-radius: 10px;

      &.type02 {
        padding: 0 10px 0 10px;
      }

      .pMemberMidBoardBox {
        display: flex;
        align-items: center;

        &.space-between {
          justify-content: space-between;
        }

        &.center {
          justify-content: center;
        }

        &.BottomLine {
          border-bottom: 1px solid #d9d9d9;
        }

        &.left {
          justify-content: left;
          padding: 10px 0 10px 0;
        }

        &.flex-start {
          align-items: flex-start;
        }
      }

      .centerMoneyBox {
        display: flex;
        margin: 5px 0 5px 0;
        color: #000;
        font-weight: 700;
        font-size: 1rem;
        //background-color: #87CDB7;
        line-height: 1rem;

        & img {
          width: 16px;
        }
      }

      .moneyDetail {
        margin: 5px 0 5px 0;
        color: #555555;
        font-weight: 700;
        font-size: 0.8rem;
        //background-color: #87CDB7;
        line-height: 0.8rem;

        & img {
          margin-left: 6px;
          width: 8px;
          height: auto;
        }
      }

      .moneyNumbox {
        padding: 5px 15px 5px 8px;
        background: #eeeeee;
        border-radius: 32px;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1.5rem;
        color: #000;

        & img {
          width: 25px;
          height: auto;
        }
      }

      .mainBtnBox {
        margin: 12px 2px 12px 2px;
        display: flex;
        justify-content: center;
        //background-color: #007c63;
        width: 25%;
        flex-wrap: wrap;

        .btnIconBox {
          width: 44px;
          height: 44px;
          background: linear-gradient(180deg, #e4c366 0%, #896229 98.96%);
          border-radius: 30px;
          display: flex;
          justify-content: center;
          align-items: center;

          & img {
            width: 100%;
          }
        }

        .mainBtnName {
          margin: 8px 0 0px 0;
          width: 100%;
          text-align: center;
          color: #555555;
          font-size: 1rem;
          line-height: 1rem;
        }
      }

      .selectBox {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 10px 0 10px 0;

        .selectItemName {
          color: #555555;
          font-size: 1rem;

          & img {
            width: 22px;
            margin: 0 20px 0 0;
          }
        }
      }
    }
  }

  .insidePage {
    position: absolute;
    top: 0;
    left: 0;
  }

  /*手機版存款css*/

  .pWalletBack {
    overflow-y: auto;
    position: relative;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: #000000 !important;
  }

  /*手機版分享好友css*/
  .pShareBack {
    position: relative;

    .pShareBottomBox {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      z-index: 1;

      .pShareBottomImg {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        z-index: 1;

        & img {
          width: 100%;
          height: auto;
        }
      }
    }

    .pShareQrcodeImg {
      position: absolute;
      bottom: 100px;
      width: calc(100% - 270px);
      display: flex;
      justify-content: center;
      z-index: 5;
    }

    .pShareRecommendCode {
      position: absolute;
      bottom: 10px;
      display: flex;
      justify-content: center;
      z-index: 5;
    }

    .pShareItemBackBtn {
      position: absolute;
      top: 50px;
      left: 20px;
      width: 15px;
      z-index: 10;

      //background-color: #87CDB7;
      & img {
        width: 100%;
        height: auto;
      }
    }

    .pShareItemBtn {
      position: absolute;
      bottom: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      width: calc(100vw - 20px);
      color: #fff;
      padding: 16px 10px;
      margin: 0 10px 0 10px;
      background: linear-gradient(180deg, #b0dfd9 0%, #009688 100%);
      border-radius: 10px;
      z-index: 10;
    }
  }

  /*手機版幫助中心css*/
  .pAboutBack {
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: #f5f5f5;
    z-index: 20;
    min-height: 100vh;
    .pAboutHeader {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100vw;
      height: 52px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #000;
      font-size: 1.2rem;

      .pBackBtn {
        position: absolute;
        left: 20px;
        width: 10px;
        z-index: 10;

        //background-color: #87CDB7;
        & img {
          width: 100%;
          height: auto;
        }
      }
    }

    .pAboutMidBack {
      width: 100vw;
      margin: 52px 0 0 0;
      padding: 10px 0 140px 0;
    }

    .pAboutMidBoard {
      display: block;
      width: calc(100vw - 20px);
      color:black;
      background-color: #fff;
      margin: 10px 10px 0 10px;
      padding: 10px;
      border-radius: 10px;

      &.type02 {
        background-color: transparent !important;
      }

      .pAboutMidBoardBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #d9d9d9;
        color: #555555;
        font-size: 1rem;
        line-height: 1.2rem;
        width: 100%;
        flex-wrap: wrap;
        padding: 20px 0 20px 0;
        font-weight: 400;

        //background-color: #8F017B;
        &.noBottomLine {
          border-bottom: none;
        }

        &.flex-start {
          align-items: flex-start;
        }

        .pAboutImg {
          width: 10px;
          height: auto;
          display: flex;
          justify-content: center;
          z-index: 1;

          & img {
            width: 100%;
            height: auto;
          }
        }

        .pHelpQBox {
          width: calc(100% - 15px);
        }

        .pHelpABox01 {
          margin: 0 10px 0 0;
          width: 4px;
          height: 16px;
          background-color: #009688;
          border-radius: 15px;
        }

        .pHelpQ {
          position: relative;
          font-weight: 900;
          margin: 0 0 10px 0;
          padding-left: 15px;
          &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            margin: 0 10px 0 0;
            width: 4px;
            height: 16px;
            background-color: #009688;
            border-radius: 15px;
          }
        }

        .pHelpA {
          font-weight: 400;
          padding: 0 15px;
        }
      }
    }
  }
}

.main-content {
  background: linear-gradient(to bottom, #171c1c, #004d3d);
}

.memberCentre {
  width: 960px;
  margin: auto;

  ul.memberCentre-nav {
    margin: auto;
    width: 1170px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to top, #171c1c, #004d3d);
    border-top: 2px solid #007c63;

    li {
      text-align: center;
      width: 100%;

      a {
        width: 100%;
        padding: 1.2rem 0;

        display: block;

        &:hover {
          cursor: pointer;
          color: #ffce51;
        }

        img {
          display: block;
          width: 40px;
          height: 40px;
          margin: 10px auto;
        }

        &.router-link-active {
          cursor: default;
          background: linear-gradient(
            180deg,
            #e1f3ed 0%,
            #87cdb7 2.6%,
            #2f8e7e 100%
          );
        }
      }
    }
  }
}
.refreshIcon {
  margin-left: 5px;
  &.motion {
    animation-name: motion01;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: none;

    @keyframes motion01 {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}
.phone {
  &.shareFriends{
    padding-bottom: 0;
  }
  &.shareFriends + .phone-footer,
  &.helpshow + .phone-footer {
    display: none;
  }
}

.cross_linked_table {
  border: 1px solid;
  width: 100%;
  table-layout: fixed;
  text-align: center;
  thead {
    font-size: 14px;
    tr {
      &.blue-bg {
        background: rgb(68, 138, 255);
        color: white;
      }
      &.orange-bg {
        background: rgb(255, 152, 0);
      }
      th {
        border: 1px solid black;
      }
    }
  }
  tbody {
    font-size: 12px;
    tr {
      &.gray-bg {
        background: rgb(158, 158, 158);
      }
      td {
        border: 1px solid;
      }
    }
  }
}
.title{
  font-weight: bold;
}
</style>

