<template>
  <!-- 申請優惠彈出視窗 -->
  <div id="promoApplyPop" class="modal collapse fade scrollbar " tabindex="-1" ref="myModal">
    <div class="modal-dialog">
      <div class="modal-content type02">
        <div class="modal-header">
          <h5>{{ $t("apply_for_discount") }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><font-awesome-icon icon="fa-solid fa-xmark" /></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="popup-promo">
              <div class="promo-form">
                
                <select class="form-select form-select-lg mb-3" v-model="selectedPromotionType" aria-label=".form-select-lg example">
                  <option selected disabled>{{ $t("offer_category") }}</option>
                  <option v-for="(promotionType,index) in handledPromotionTypes" :key="index" :value="promotionType">{{promotionType.name}}</option>
                </select>
                
                <select class="form-select promotionListSelect form-select-lg mb-3" v-model="selectedPromotionList" aria-label=".form-select-lg example">
                  <option selected disabled class="active">{{ $t("discount") }}</option>
                  <option v-for="(promotionList,index) in handledPromotionLists" :key="index" :class="{ active: promotionList.typeNo.find(a => a == selectedPromotionType.no) }" :value="promotionList">{{promotionList.title}}</option>
                </select>
                <p class="title mb-0">{{$t('activities')}}</p>
                <div class="content-wrapper mb-3" style="color:black" v-html="selectedPromotionList.contentText"></div>
                <p class="title mb-0">{{$t('remark')}}</p>
                <div class="input-group">
                  <input type="text" class="form-control" v-model="remark">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a v-if="selectedPromotionList.applyStatus === 1" class="btn btn-primary" :href="customerServiceUrl" target="_blank">
            {{$t("to_participate_event_contact_customer_service")}}
          </a>
          <button v-else-if="selectedPromotionList.applyStatus === 2" type="button" class="btn btn-primary" @click="promotionApply(selectedPromotionList.no, remark)">{{ $t('apply') }}</button>
          <button v-else-if="selectedPromotionList.applyStatus === 3" type="button" class="btn btn-primary" disabled>{{ $t('application_submitted') }}</button>
          <button v-else-if="selectedPromotionList.applyStatus === 4" type="button" class="btn btn-primary" disabled>{{ $t('participated') }}</button>
          <button v-else-if="selectedPromotionList.applyStatus === 5" type="button" class="btn btn-primary" disabled>{{ $t('other_activities_in_application') }}</button>
        </div>
      </div>
    </div>
  </div>
</template>


<script setup>
import { onMounted, ref, watch, computed } from "vue";
import { useStore } from 'vuex';
import { useI18n } from "vue-i18n";
import pagePromotion from '@/api/promotion';

const { t, locale } = useI18n();
const store = useStore();
const { getApiPromotionListData, getApiPromotionTypeData, promotionApply } = pagePromotion();
const promotionTypes = ref([]);
const promotionLists = ref([]);
const handledPromotionLists = ref([]);
const handledPromotionTypes = ref([]);
const selectedPromotionType = ref(t("offer_category"));
const selectedPromotionList = ref(t("discount"))
const remark = ref('');

const DomainLayoutId = computed(() => store.state.DomainLayoutId);
const customerServiceUrl = computed(() => store.state.siteSettingsInfo.customerServiceUrl);

//加载获取优惠类型数据
const initPromotionData = async () => {
  selectedPromotionType.value = t("offer_category");
  selectedPromotionList.value = t("discount")
  remark.value = '';
  promotionTypes.value = await getApiPromotionTypeData(locale.value);
  promotionLists.value = await getApiPromotionListData(DomainLayoutId.value);

  //1.篩選出包含網頁語系的優惠活動
  //2. places設定在pc版優惠活動申請頁
  handledPromotionLists.value = [];
  promotionLists.value.forEach(promotionList => {
    promotionList.currencies.forEach(currency => {
      if (currency.no === +(localStorage.getItem("currencyNo"))) {
        if (promotionList.places.includes(4)) {
          handledPromotionLists.value.push(promotionList)
        }
      }
    })
  })

  //在promotionTypes中比對promotionList.typeNo是否有
  handledPromotionTypes.value = []
  promotionTypes.value.datas.forEach(promotionType => {
    handledPromotionLists.value.forEach(promotionList => {
      if (promotionList.typeNo.includes(promotionType.no)) {
        handledPromotionTypes.value.push(promotionType);
      }
    })
  })
  //移除重複元素
  handledPromotionTypes.value = [...new Set(handledPromotionTypes.value)];
}

watch(
  () => selectedPromotionType.value,
  () => {
    selectedPromotionList.value = t("discount");
  }
)

onMounted(() => {
  document.getElementById('promoApplyPop').addEventListener('show.bs.modal', function () {
    initPromotionData();
  })
});

</script>
<style lang="scss" scoped>
#promoApplyPop {
  overflow: hidden;
  .modal-dialog {
    width: 30%;
    .modal-content {
      background: url('@/assets/aad/img/common/promotionFrom-bg.png') no-repeat;
      background-size: cover;
      border: 1px solid #d5921c;
      height: 600px;
      .modal-header {
        border-bottom-color: #ffffff31;
        padding: 1rem 1rem 0.5rem 1rem;
        h5 {
          width: 100%;
          text-align: center;
          color: #ffbe5c;
          font-weight: bolder;
          font-size: 1.5rem;
          text-shadow: 0px 1px 7px rgba(78, 57, 27, 0.9);
        }
        .btn-close {
          background: none;
          .fa-xmark {
            color: #fff;
            font-size: 1.2rem;
          }
        }
      }
      .modal-body {
        padding: 2rem 1.5rem;
        .popup-promo {
          .title {
            font-size: 16px;
            color: #ffb219;
          }
          select {
            display: block;
            width: 100%;
            background: #ffffff;
            color: #333333;
            padding: 1rem;
            border-radius: 5px;
            border-color: #ffb219;
            option {
              background-color: #ffb219;
            }
            &::placeholder {
              color: #ffb219;
            }
          }
          .promotionListSelect option {
            display: none;
            &.active {
              display: block;
            }
          }
          .content-wrapper {
            padding: 1rem;
            border-radius: 5px;
            border: 1px solid #72807c;
            height: 150px;
            overflow-y: auto;
            background: #fff;
          }
        }
      }
      .modal-footer {
        border-top-color: #ffffff31;
        justify-content: center;
        button {
          margin-top: 0;
          width: auto;
          background: linear-gradient(180deg, #e7b823, #c97705) !important;
          border-color: #ffce51 !important;
          transition: color 0.15s ease-in-out,
            background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
            box-shadow 0.15s ease-in-out;
          border: none;
          &:not(:disabled):hover {
            background: linear-gradient(180deg, #e7b823, #c97705) !important;
            border-color: #ffce51 !important;
          }
          &:focus {
            box-shadow: none;
          }
        }
      }
    }
  }
}
</style>