<template>
  <!-- 申請優惠彈出視窗 -->
  <div id="promoRed" class="modal collapse fade scrollbar " tabindex="-1" ref="myModal">
    <div class="modal-dialog">
      <div class="modal-content type02">
        <div class="modal-body">
          <div id="leafContainer" ref="leafContainer">
            <div class="redBag">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><img src="@/assets/aad/img/redEnvelope/close.svg" alt=""></button>

              <div v-if="!opened" class="position-relative" @click="openRedPacket" :class="{canOpen:redPacketStatusNo === 3}">
                <img :src="require('@/assets/aad/img/redEnvelope/redBag.png')" alt="">
                <div class="illustrate text-center">
                  <div v-if="redPacketStatusNo !==1" class="mb-5">
                    <span class="d-block">{{ $t('event_date') }}</span>
                    <span class="date">{{unixToDate(startTime)}} - {{unixToDate(endTime)}}</span>
                  </div>
                  <p class="status" v-if="redPacketStatusNo">
                    {{ $t("activity_status_" + redPacketStatusNo) }}
                  </p>
                </div>
                <div class="notClaim" v-if="redPacketStatusNo === 3">{{ $t('openRedPacket') }}</div>
              </div>
              <div v-else class="position-relative">
                <img :src="require('@/assets/aad/img/redEnvelope/redBagOpen.png')" alt="">
                <span class="amount">{{stringToMoney(amount) + ' '+ currency}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 加載 -->
  <loading v-model:active="isLoading" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />
</template>

<script setup>
import { onMounted, ref } from 'vue';
import apiService from '@/api/apiService';
import common from "@/utils/common";
import Swal from "sweetalert2";
import { useI18n } from "vue-i18n";
import '@/assets/css/index.css'
import '@/assets/css/animate.min.css'
import Loading from 'vue-loading-overlay';

const { errorHandling, stringToMoney, unixToDate } = common();
const { t } = useI18n();
let NUMBER_OF_LEAVES = 0; // 紅包數量設定
const width = window.screen.width;
const redPacketStatusNo = ref('');
const opened = ref(false);
const amount = ref('');
const currency = ref('');
const startTime = ref(0);
const endTime = ref(0);
const isLoading = ref(false);

function randomInteger(low, high) {
  return low + Math.floor(Math.random() * (high - low));
}

function randomFloat(low, high) {
  return low + Math.random() * (high - low);
}

function pixelValue(value) {
  return value + 'px';
}

function durationValue(value) {
  return value + 's';
}

function createALeaf() {
  const leafDiv = document.createElement('div');
  leafDiv.classList.add('bgRed');
  const image = document.createElement('img');
  image.src = require(`@/assets/aad/img/redEnvelope/cash${randomInteger(3, 7)}.png`);
  leafDiv.style.top = "-50px";
  leafDiv.style.left = pixelValue(randomInteger(0, width));
  const spinAnimationName = Math.random() < 0.5 ? 'clockwiseSpin' : 'counterclockwiseSpinAndFlip';
  leafDiv.style.webkitAnimationName = 'fade, drop';
  image.style.webkitAnimationName = spinAnimationName;
  const fadeAndDropDuration = durationValue(randomFloat(3, 7));
  const spinDuration = durationValue(randomFloat(3, 7));
  leafDiv.style.webkitAnimationDuration = `${fadeAndDropDuration}, ${fadeAndDropDuration}`;
  const leafDelay = durationValue(randomFloat(0, 0));
  leafDiv.style.webkitAnimationDelay = `${leafDelay}, ${leafDelay}`;
  image.style.webkitAnimationDuration = spinDuration;
  leafDiv.appendChild(image);
  return leafDiv;
}

function getRedPacketInfo() {
  opened.value = false;
  const params = {
    sessionKey: localStorage.getItem('sessionKey'),
    currencyNo: +localStorage.getItem('currencyNo'),
  }
  isLoading.value = true;
  apiService.post('/Promotion/RedPacket/Info', params)
    .then((res) => {
      redPacketStatusNo.value = res.data.status
      currency.value = res.data.currency.currencyId;

      startTime.value = res.data.startTime;
      endTime.value = res.data.endTime;
    })
    .catch((err) => {
      errorHandling(err);
    }).finally(() => {
      isLoading.value = false;
    });
}

function openRedPacket() {
  if (redPacketStatusNo.value === 3) {
    opened.value = true;
    const params = {
      sessionKey: localStorage.getItem('sessionKey'),
      currencyNo: +localStorage.getItem('currencyNo'),
    }
    isLoading.value = true;
    apiService.post('/Promotion/RedPacket/Receive', params)
      .then((res) => {
        amount.value = res.data.amount;
      })
      .catch((err) => {
        if (err.response == null || err.response.status == null) {
          console.log(err);
          Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
        } else {
          switch (err.response.status) {
            case 452:
              Swal.fire("", t("no_promotions"), "warning");
              break;
            case 453:
              Swal.fire("", t("the_event_is_over"), "warning");
              break;
            case 454:
              Swal.fire("", t("event_has_not_started_yet"), "warning");
              break;
            case 455:
              Swal.fire("", t("received"), "warning");
              break;
            default:
              errorHandling(err);
              break;
          }
        }
      }).finally(() => {
        isLoading.value = false;
      });
  }
}

const leafContainer = ref(null);

onMounted(async () => {
  
  if(window.innerWidth >= 720){
    NUMBER_OF_LEAVES = 35
  }
  else{
    NUMBER_OF_LEAVES = 10
  }
  for (let i = 0; i < NUMBER_OF_LEAVES; i++) {
    leafContainer.value.appendChild(createALeaf());
  }

  let promoRed = document.getElementById("promoRed");
  promoRed.addEventListener('show.bs.modal', function () {
    getRedPacketInfo();
  })
});
</script>
<style lang="scss" scoped>
.illustrate {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fada91;
  width: 100%;
  .date {
    white-space: nowrap;
  }
  .status {
    font-size: 1.4rem;
  }
}

.canOpen {
  cursor: pointer;
}
.amount {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fada91;
  font-size: 1.2rem;
}
.notClaim {
  position: absolute;
  z-index: 9999;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #915e1d;
}
</style>

