<template>
    <!-- 申請優惠彈出視窗 -->
    <div id="PromotionDetailPop" class="modal collapse fade scrollbar " tabindex="-1" ref="myModal">
      <div class="modal-dialog">
        <div class="modal-content type02">
          <div class="modal-header">
            <h5>{{ $t("detailsInfo") }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><font-awesome-icon icon="fa-solid fa-xmark" /></button>
          </div>
          <div class="modal-body">
            <div>
                <div v-if="props.promoDetail?.title">
                    <p>{{ $t('subject')}}</p>
                    <p>{{ props.promoDetail?.title }}</p>
                </div>
                <div v-if="props.promoDetail?.contentText">
                    <p>{{ $t('content')}}</p>
                    <div v-html="props.promoDetail?.contentText"></div>
                </div>             
                <img class="d-table mx-auto mb-4" :src=" props.promoDetail?.bimageUrl" alt="">
                <img class="d-table mx-auto" :src=" props.promoDetail?.simageUrl" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
</template>
  
  
<script setup>
const props = defineProps({
  promoDetail: {
    type: Object
  }
})

</script>
<style lang="scss" scoped>
  #PromotionDetailPop {
    .modal-dialog {
      width: 30%;
      .modal-content {
        background: url('@/assets/aad/img/common/promotionFrom-bg.png') no-repeat;
        background-size: cover;
        border: 1px solid #53ae94;
        .modal-header {
          border-bottom-color: #ffffff31;
          padding: 1rem 1rem 0.5rem 1rem;
          h5 {
            width: 100%;
            text-align: center;
            color: #ffbe5c;
            font-weight: bolder;
            font-size: 1.5rem;
            text-shadow: 0px 1px 7px rgba(156, 112, 49, 0.74);
          }
          .btn-close {
            background: none;
            .fa-xmark {
              color: #fff;
              font-size: 1.2rem;
            }
          }
        }
        .modal-body {
          padding: 2rem 1.5rem;
        }
      }
    }
  }
</style>