
<template>
<div>
    <div class="topBanner">
        <swiper class="topBanner-slider" :modules="modules" :centered-slides="true"  :slides-per-view="'auto'" :initial-slide="1" :lazyLoadingInPrevNext= "false" :loop="true" :effect="'coverflow'"
            :grabCursor="true" 
            :autoplay="{ delay: 2500000 }" 
            :coverflow-effect= "{
                rotate: 0,
                stretch: 1460,
                depth: 100,
                modifier: 1,
                slideShadows: false
            }"
            :navigation="{ nextEl: '.topBanner', prevEl: '.topBanner' }"
            :pagination="true" :scrollbar="false">
            <swiper-slide class="">
                <div class="">
                    <a href="#/aaf" target="_blank">
                        <img src="@/assets/aaf/img/banner/1.png" alt="" />
                    </a>
                </div>
            </swiper-slide>
            <swiper-slide class="">
                <div class="">
                    <a href="#/aaf" target="_blank">
                        <img src="@/assets/aaf/img/banner/1.png" alt="" />
                    </a>
                </div>
            </swiper-slide>
            <swiper-slide class="">
                <div class="">
                    <a href="#/aaf" target="_blank">
                        <img src="@/assets/aaf/img/banner/1.png" alt="" />
                    </a>
                </div>
            </swiper-slide>
        </swiper>
    </div>
</div>
</template>
<script setup>
import { Swiper, SwiperSlide } from "swiper/vue";
import {
    Navigation,
    Pagination,
    Scrollbar,
    A11y,
    EffectFade,
    Autoplay,
    EffectCoverflow
} from "swiper";
import "swiper/css";
import "swiper/css/pagination";
import "swiper/css/scrollbar";
import "swiper/css/effect-coverflow";


const modules = [Navigation, Pagination, Scrollbar, A11y, EffectFade, Autoplay, EffectCoverflow];
</script>
<style lang="scss" scoped>
    :deep(.topBanner-slider) {
        text-align: center;

        .swiper-slide {

        }
        .swiper-slide-shadow-left {
        }
        .swiper-slide.swiper-slide-active {

        }
        .swiper-slide.swiper-slide-prev {

            
        }
        .swiper-slide.swiper-slide-next {

        }

        .swiper-pagination {
            bottom: 1px;

            .swiper-pagination-bullet {
                background: url('@/assets/aaf/img/topBanner-bulletImg.png') !important;
                opacity: 1;

                &.swiper-pagination-bullet-active {
                    background: url('@/assets/aaf/img/topBanner-bulletImg-active.png') !important;
                }
            }
        }
    }

</style>
    
  
    