<template>
    <div class="border-top border-light">
        <div class="container">
            <div class="row row-cols-1 ">
                <div class="col d-flex justify-content-between border-bottom ">
                    <ul class="nav flex-column ">
                        <li class="nav-item">
                            <a class="nav-link text-secondary" aria-current="page" href="#/aaf">Cassino</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#/aaf">Evento</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#/aaf">Missao</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#/aaf">Rebate</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#/aaf">Bonus</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#/aaf">VIP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#/aaf">Comissao de Membros</a>
                        </li>
                    </ul>
                    <ul class="nav flex-column  ">
                        <li class="nav-item">
                            <a class="nav-link text-secondary" aria-current="page" href="#/aaf">Jogos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#/aaf">Cartas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#/aaf">Pescaria</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#/aaf">Slot</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#/aaf">Jogo Ao Vivo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#/aaf">Esporte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#/aaf">Loteria</a>
                        </li>
                    </ul>
                    <ul class="nav flex-column  ">
                        <li class="nav-item">
                            <a class="nav-link text-secondary" aria-current="page" href="#/aaf">Suporte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#/aaf">Sevico On-line</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#/aaf">Central de Ajuda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#/aaf">Bonus De Sugestoes</a>
                        </li>
                    </ul>
                    <ul class="nav flex-column  ">
                        <li class="nav-item">
                            <a class="nav-link text-secondary" aria-current="page" href="#/aaf">lnicio de Sassao
                                Rapido</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#/aaf">Vincular Facebook</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#/aaf">Vincular Google</a>
                        </li>
                    </ul>
                    <ul class="nav flex-column  ">
                        <li class="nav-item">
                            <a class="nav-link text-secondary" aria-current="page" href="#/aaf">Introducao</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#/aaf">Sobre Nos</a>
                        </li>
                    </ul>
                    <ul class="nav flex-column  ">
                        <li class="nav-item">
                            <a class="nav-link text-secondary" aria-current="page" href="#/aaf">Outros</a>
                        </li>
                        <li class="nav-item dropdown mx-2">
                            <a class="nav-link  dropdown-toggle text-info" href="#/aaf" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img :src="require('@/assets/aaf/img/下載.png')" alt=""> <span class="text-dark">Portug...</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#/aaf">VN</a></li>
                                <li><a class="dropdown-item" href="#/aaf">ZH</a></li>
                                <li><a class="dropdown-item" href="#/aaf">CN</a></li>
                                <li><a class="dropdown-item" href="#/aaf">BR</a></li>
                                <li><a class="dropdown-item" href="#/aaf">EN</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col border-bottom ">
                    <div class="w-75 d-flex justify-content-around mx-auto py-5">
                        <img :src="require('@/assets/aaf/img/694.png')" alt="">
                        <img :src="require('@/assets/aaf/img/2.png')" alt="">
                        <img :src="require('@/assets/aaf/img/693.png')" alt="">
                        <img :src="require('@/assets/aaf/img/microgaming@2x-2.png')" alt="" class="deco-line">
                        <img :src="require('@/assets/aaf/img/1.png')" alt="" class="deco-line">
                    </div>
                    <p class="text-center pb-5 describe">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
                        dolorem sapiente consequuntur
                        blanditiis dolore animi fuga consectetur debitis sequi earum ut quasi quos soluta minus incidunt
                        nisi autem tenetur obcaecati.
                        Corrupti quos iure libero explicabo illum! Modi nulla quasi sed reiciendis pipsa vel corporis.
                        Obcaecati ipsum, doloremque quasi, cupiditate laudantium animi iusto ipsam optio, officia esse et
                        sunt maxime quam.</p>
                </div>
                <div class="col describe text-center py-5">
                    &copy;De Autor 2002-2023
                </div>
            </div>
        </div>
    </div>
</template>
<script setup>

</script>
<style lang="scss" scoped>
.nav-link,
.describe {
    color: #acb9c7;
}

.deco-line {
    border: 2px solid #eaeaea;
    border-radius: 8px;
}
</style>
