<template>
   <ul class="menu bg-white border px-4">
      <li class="my-4"><a href="#/aaf"><img :src="require('@/assets/aaf/img/5-1.png')" alt="" class=""></a> </li>

      <li class="level-1  row align-items-center my-3 rounded-pill py-1 ">
      <router-link :to="{name:'aafHome'}" class="col hot">{{$t("hot")}}</router-link></li>

      <li class="level-1 menu-btn row align-items-center my-3 py-1">
            <router-link :to="{name:'aafSlot'}" class="col slot">{{$t("elec")}}</router-link>
      </li>

      <li class="level-1 menu-btn row align-items-center my-3 py-1">
            <router-link :to="{name:'aafPescaria'}" class="col fish">{{$t("fishing")}}</router-link>
      </li>

      <li class="level-1 menu-btn row align-items-center my-3 py-1">
            <router-link :to="{name:'aafCartas'}" class="col poker">{{$t("chess")}}</router-link>
      </li>

      <li class="level-1 menu-btn row align-items-center my-3 py-1">
            <router-link :to="{name:'aafLiveCasino'}" class="col live">{{$t("live_game")}}</router-link>
      </li> 
      <li class="level-1 menu-btn row align-items-center my-3 py-1">
            <router-link :to="{name:'aafSport'}" class="col sport">{{$t("sport_game")}}</router-link>
      </li>
      <li class="level-1 menu-btn row align-items-center my-3 py-1">
            <router-link :to="{name:'aafCockfighiting'}" class="col cock">{{$t("sportEvents")}}</router-link>
      </li>
            
      <li class="level-1 menu-btn row align-items-center my-3 py-1">
            <router-link :to="{name:'aafLoteria'}" class="col lottery">{{$t("lottery_game")}}</router-link>
      </li>


      <li class="my-4">
         <hr class="dropdown-divider">
      </li>
      <li class="menu-btn row align-items-center my-3 py-1"><img :src="require('@/assets/aaf/img/ev-logo.png')" alt="" class="col-5  "><a
            href="#/aaf" class="  col-7  "> Evolution</a></li>
      <li class="menu-btn row align-items-center  my-3 py-1 "><img :src="require('@/assets/aaf/img/PMLogo.png')" alt="" class="col-5  "
            style="">
         <a href="#/aaf" class=" col-7">PonyMuah</a>
      </li>
      <li class="menu-btn row align-items-center  my-3 py-1 "><img :src="require('@/assets/aaf/img/pgLogo_2.png')" alt="" class="col-5 "><a
            href="#/aaf" class="  col-7 "> PG Slot</a></li>
      <li class="menu-btn row align-items-center  my-3 py-1 "><img :src="require('@/assets/aaf/img/PPLogo.png')" alt="" class=" col-5 "><a
            href="#/aaf" class=" col-7 "> PP Slot</a></li>
      <li class="menu-btn row align-items-center  my-3 py-1 "><img :src="require('@/assets/aaf/img/MgLogo_02.png')" alt="" class="  col-5 "> <a
            href="#/aaf" class=" col-7 ">MG Slot</a></li>
      <li class="menu-btn row align-items-center  my-3 py-1 "><img :src="require('@/assets/aaf/img/1.png')" alt=""
            class=" col-5 ">
         <a href="#/aaf" class="  col-7 ">CQ9 Slot</a>
      </li>
      <li class="menu-btn row align-items-center  my-3 py-1 "><img :src="require('@/assets/aaf/img/saba-logo.png')" alt=""
            class=" col-5 ">
         <a href="#/aaf" class="  col-7 ">SABA Sports</a>
      </li>
   </ul>
</template>
<script setup>

</script>
<style lang="scss" scoped>
.menu {
   list-style: none;
   width: 183px;
   height: 1000px;
   font-size: 17px;
   font-family: Arial;

   .menu-btn:hover {
      a{
      //    color: white;
      }
      
   }

   .rounded-pill {
      // background-image: linear-gradient(to right, #00a4f9, #0079f5);
   }

   a {
      color: #666;
      text-decoration: none;
      background-repeat: no-repeat;
   }
   li.level-1 a{
      background-position-x: -10PX;
      border-radius: 50px;
      padding: .3rem 0 .3rem 3.5rem;
      background-repeat: no-repeat;
      background-position: 10px 3px;
      &:hover {
            background-color: rgba(0,0,0,0.3);
            border-radius: 50px;
            color: #fff;
      }
   }
      .hot {
            background-image: url('@/assets/aaf/img/503.png');
      }
      .slot {
            background-image: url('@/assets/aaf/img/507-2.png');
      }
      .fish {
            background-image: url('@/assets/aaf/img/507.png');
      }
      .poker {
            background-image: url('@/assets/aaf/img/507-4.png');
      }
      .live {
            background-image: url('@/assets/aaf/img/507-5.png');
      }
      .sport {
            background-image: url('@/assets/aaf/img/507-6.png');
      }
      .cock {
            background-image: url('@/assets/aaf/img/507-8.png');
      }
      .lottery {
            background-image: url('@/assets/aaf/img/507-10.png');
      }
      .router-link-exact-active {
            background-color: rgb(0,164,249);
            color: #fff;
            &:hover {
                  cursor: default;
                  background-color: #000;
            }
            &.hot {
                  background-image: url('@/assets/aaf/img/503-active.png');
            }
            &.slot {
                  background-image: url('@/assets/aaf/img/507-2-active.png');
            }
            &.fish {
                  background-image: url('@/assets/aaf/img/507-active.png');
            }
            &.poker {
                  background-image: url('@/assets/aaf/img/507-4-active.png');
            }
            &.live {
                  background-image: url('@/assets/aaf/img/507-5-active.png');
            }
            &.sport {
                  background-image: url('@/assets/aaf/img/507-6-active.png');
            }
            &.cock {
                  background-image: url('@/assets/aaf/img/507-8-active.png');
            }
            &.lottery {
                  background-image: url('@/assets/aaf/img/507-10-active.png');
            }
            
            
      }
}
</style>
 