<template>
  <div class="mx-auto">
      <!-----pc版頁面------>
      <main class="main-content aaf pb-3">
        <section class="section">
          <div class="memberCentre">
            <div class="container">
              <div class="memberCentre__row row  pc">
                <ul class="memberCentre-nav">
                  <template v-for="(memberCentreMenuItem, index) in memberCentreMenus" :key="index">
                    <li>
                      <router-link :to="{ name: memberCentreMenuItem.name }" :title="memberCentreMenuItem.title">
                        <img :src="memberCentreMenuItem.imgUrl" :alt="memberCentreMenuItem.title">
                        {{ $t(memberCentreMenuItem.title) }}
    
                      </router-link>
                    </li>
                  </template>
                </ul>
              </div>
              <router-view />
            </div>
          </div>
        </section>
      </main>
    </div>
  </template>
  
  <script setup>
  import { reactive, onMounted } from 'vue';
  import common from "@/utils/common";
  
  const { userLogout } = common();
  const memberCentreMenus = reactive([]);
  const memberCentreMenusAll = reactive(
    [
      {
        title: 'account_information',
        name: 'aafUserInfo',
        imgUrl: require('@/assets/aaf/img/member/memberCentre-userInfo.svg'),
      },
      {
        title: 'recharge',
        name: 'aafDeposit',
        imgUrl: require('@/assets/aaf/img/member/memberCentre-despoit.svg'),
      },
      {
        title: 'withdrawal',
        name: 'aafWithdraw',
        imgUrl: require('@/assets/aaf/img/member/memberCentre-withdraw.svg'),
      },
      {
        title: 'vip_privileges',
        name: 'aafVIP',
        imgUrl: require('@/assets/aaf/img/member/memberCentre-VIP.svg'),
      },
      {
        title: 'agent',
        name: 'aafAgency',
        imgUrl: require('@/assets/aaf/img/member/memberCentre-agent.svg'),
      },
      {
        title: 'gameRecord',
        name: 'aafHistory',
        imgUrl: require('@/assets/aaf/img/member/memberCentre-history.svg'),
      },
      {
        title: 'station_letter',
        name: 'aafMessage',
        imgUrl: require('@/assets/aaf/img/member/memberCentre-message.svg'),
      },
    ]
  );
  const compareMemberCentreMenu = () => {
    window.webconfig.memberCentreMenuTitles.forEach(memberCentreMenuTitle => {
      memberCentreMenus.push(memberCentreMenusAll.find(item => item.title === memberCentreMenuTitle))
    });
  }
  
  onMounted(() => {
    if (!localStorage.getItem("sessionKey")) { userLogout(); return; }
    compareMemberCentreMenu();
  });
  
  </script>
  
  <style lang="scss" scoped>
  @media (max-width: 767px) {
    /*優惠活動CSS */
    .pMemberBack {
      width: 100vw;
      height: 100vh;
      background-color: #f4f5f8;
      overflow-y: auto;
      display: block;
  
      .pMemberTopType01Vip {
        position: relative;
        height: 160px;
        width: 100vw;
        background-image: linear-gradient(85deg, #d9004e, #8f017b);
        mask: url(@/assets/img/icon/shopMask.svg);
        mask-repeat: no-repeat;
        mask-position: center 100%;
        mask-size: 800% auto;
        overflow: hidden;
  
        .backCrownImg {
          width: 100%;
          z-index: 5;
        }
  
        .vipIdAndPicBox {
          position: absolute;
          top: 40%;
          left: 10px;
          //background-color: #2F8E7E;
          height: 65px;
          width: calc(100vw - 20px);
          transform: translate(0%, -50%);
          display: flex;
          align-items: center;
          justify-content: space-between;
  
          .iconBlock {
            position: absolute;
            display: flex;
            justify-content: right;
            top: 0;
            right: 0;
            width: 100px;
            height: 25px;
            //background-color: #87CDB7;
  
            .iconItem {
              width: 22px;
              margin: 0 0 0 28px;
  
              & img {
                width: 100%;
                height: auto;
              }
            }
          }
  
          .vipIdAndPicBoxleft {
            display: flex;
            align-items: center;
            width: 70%;
            //background-color: #8F017B;
            //flex-wrap: wrap;
  
            .vipPicBox {
              width: 65px;
              height: 65px;
              background-image: url(@/assets/aaf/img/member/crownBig.svg);
              background-repeat: no-repeat;
              background-position: center;
              background-color: #ffea7f;
              border-radius: 40px;
              overflow: hidden;
  
              & img {
                width: 100%;
                height: auto;
              }
            }
  
            .vipNameBox {
              width: calc(100% - 65px);
              color: #fff;
              margin-left: 10px;
              font-size: 1.2rem;
              font-weight: lighter;
              flex-wrap: wrap;
              //background-color: #D9004E;
            }
          }
        }
  
        .vipBottmoBar {
          position: absolute;
          bottom: 0px;
          width: calc(100vw - 20px);
          margin: 0 10px;
          height: 50px;
          background-color: rgba(0, 0, 0, 0.65);
          z-index: 20;
          border-radius: 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 0 5px 0;
  
          .vipTitle {
            margin-left: 20px;
            font-size: 1.5rem;
            color: #f4d691;
            font-style: italic;
          }
  
          .vipBtn {
            display: flex;
            justify-content: center;
            align-items: first baseline;
            background-color: #f4d691;
            margin-right: 15px;
            padding: 2px 20px;
            border-radius: 30px;
            color: #000;
  
            .vipText {
              //background-color: #2F8E7E;
              font-size: 0.6rem;
            }
  
            .vipBtnArrow {
              height: 10px;
              margin-left: 5px;
            }
          }
        }
      }
  
      .pMemberMidBoard {
        display: block;
        width: calc(100vw - 20px);
        background-color: #fff;
        margin: 10px 10px 0 10px;
        padding: 10px;
        border-radius: 10px;
  
        &.type02 {
          padding: 0 10px 0 10px;
        }
  
        .pMemberMidBoardBox {
          display: flex;
          align-items: center;
  
          &.space-between {
            justify-content: space-between;
          }
  
          &.center {
            justify-content: center;
          }
  
          &.BottomLine {
            border-bottom: 1px solid #d9d9d9;
          }
  
          &.left {
            justify-content: left;
            padding: 10px 0 10px 0;
          }
  
          &.flex-start {
            align-items: flex-start;
          }
        }
  
        .centerMoneyBox {
          margin: 5px 0 5px 0;
          color: #000;
          font-weight: 700;
          font-size: 1rem;
          //background-color: #87CDB7;
          line-height: 1rem;
  
          & img {
            width: 16px;
          }
        }
  
        .moneyDetail {
          margin: 5px 0 5px 0;
          color: #555555;
          font-weight: 700;
          font-size: 0.8rem;
          //background-color: #87CDB7;
          line-height: 0.8rem;
  
          & img {
            margin-left: 6px;
            width: 8px;
            height: auto;
          }
        }
  
        .moneyNumbox {
          padding: 5px 15px 5px 8px;
          background: #eeeeee;
          border-radius: 32px;
          font-weight: 700;
          font-size: 1.5rem;
          line-height: 1.5rem;
          color: #000;
  
          & img {
            width: 25px;
            height: auto;
          }
        }
  
        .mainBtnBox {
          margin: 12px 2px 12px 2px;
          display: flex;
          justify-content: center;
          //background-color: #007c63;
          width: 25%;
          flex-wrap: wrap;
  
          .btnIconBox {
            width: 44px;
            height: 44px;
            background: linear-gradient(
              100.85deg,
              #d9004e 15.32%,
              #8f017b 93.91%
            );
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
  
            & img {
              width: 100%;
            }
          }
  
          .mainBtnName {
            margin: 8px 0 0px 0;
            width: 100%;
            text-align: center;
            color: #555555;
            font-size: 1rem;
            line-height: 1rem;
          }
        }
  
        .selectBox {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin: 10px 0 10px 0;
  
          .selectItemName {
            color: #555555;
            font-size: 1rem;
  
            & img {
              width: 22px;
              margin: 0 20px 0 0;
            }
          }
        }
      }
    }
  }
  
  .main-content {
    background: #fff;   
  }
  
  .memberCentre {
    ul.memberCentre-nav {
      margin: auto;
      width: 1170px;
      display: flex;
      justify-content: space-between;
      background: linear-gradient(to top, #007bf5, #5cc6ff);
      
      // border-top: 2px solid #007c63;
      list-style: none;
      li {
        text-align: center;
        width: 100%;
  
        a {
          width: 100%;
          padding: 1.2rem 0;
  color: #fff;
          display: block;
  
          &:hover {
            cursor: pointer;
            color: #ffce51;
          }
  
          img {
            display: block;
            width: 40px;
            height: 40px;
            margin: 10px auto;
          }
  
          &.router-link-active {
            cursor: default;
            // background: linear-gradient(
            //   180deg,
            //   #e1f3ed 0%,
            //   #87cdb7 2.6%,
            //   #2f8e7e 100%
            // );
            background: rgba(161,214,243,0.5);
          }
        }
      }
    }
  }
  </style>
  <style>
  .userInfo {
    height: 850px;
  }
  
  </style>