<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-white ">
        <div class="container-fluid ">

            <a class="navbar-brand " href="#/aaf"><img :src="require('@/assets/aaf/img/owin-logo-264-x-104.png')" alt=""></a>
            
            <div  class="notify rounded-pill d-flex align-items-center py-2 px-3 w-25">
               <img :src="require('@/assets/aaf/img/68.png')" alt="" class="img-fluid" style="width: 18px; height: 18px;">
            <span class="notify badge rounded-pill w-100 py-2 px-3 text-muted fs-6">Attractive cashback up to 1.5%</span> 
            </div>
            

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>


            <div class="collapse navbar-collapse   " id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#/aaf"><img :src="require('@/assets/aaf/img/wrapped-gift-color.png')"
                                alt=""></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#/aaf"><img :src="require('@/assets/aaf/img/538.png')" alt=""></a>
                    </li>
                    <li>
                        <!-- 使用者登入顯示 -->
                        <div v-if="isLogin === true" class="isLogin d-flex">
                            <span class="mr-1 btnItem">
                                <div class="iconBox">
                                    <font-awesome-icon icon="fa-solid fa-user" />
                                </div>
                                <div>
                                    {{ user.account }}
                                </div>
                            </span>
                            <div class="mx-3 user-cash btnItem">
                                <div class="walletBtn mr-1">
                                    <div v-if="wallets[0]" class="d-flex align-items-center">
                                    <img :src="wallets[0].currency.img" alt="" style="width:20px">
                                    <span class="ml-2">{{stringToMoney(wallets[0].balance)}}</span>
                                    </div>
                                    <div v-show="wallets.length>1" class="subWalletMenu">
                                    <div v-for="(wallet, index) in wallets" :key="index" class="wallet-option" @click="selectWallet(wallet)">
                                        <img :src="wallet.currency.img" alt="">
                                        <div class="btnName">
                                        {{wallet.currency.currencyId}} - {{stringToMoney(wallet.balance)}}
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div ref="refreshIcon" class="refreshIcon" @click="refreshWallets(refreshIcon)">
                                    <img src="@/assets/aaf/img/headerTop/icon_refresh.svg" alt="">
                                </div>
                            </div>
                            <router-link :to="{ name: 'aafUserChangeInfo' }" class="button member-btn mr-1 btnItem">
                                <div class="iconBox">
                                    <font-awesome-icon icon="fa-solid fa-user" />
                                </div>
                                <div class="btnName">
                                    {{ $t("member") }}
                                </div>
                            </router-link>
                            <router-link :to="{ name: 'aafCommonDeposit' }" class="button member-btn btnItem">
                                <font-awesome-icon icon="fa-solid fa-circle-dollar-to-slot" />
                                <div class="btnName">
                                    {{ $t("recharge") }}
                                </div>
                            </router-link>
                            <router-link :to="{ name: 'aafCommonWithdraw' }" class="button ml-1 member-btn-orange btnItem">
                                <font-awesome-icon icon="fa-solid fa-hand-holding-dollar" />
                                <div class="btnName">
                                    {{ $t("withdrawal") }}
                                </div>
                            </router-link>
                            <div class="button logOut-btn ml-3 btnItem" @click="logout">
                                <font-awesome-icon icon="fa-solid fa-right-from-bracket" />
                                <div class="btnName">
                                    {{ $t("log_out") }}
                                </div>
                            </div>
                        </div>
                        <!-- 如果未登入顯示 -->
                        <div v-else class="d-flex">
                            <div class=" nav-item mx-2">
                                <a class="signup-btn nav-link text-white py-1 px-3 fw-bold" rel="tab1" data-bs-target="#collapseTarget" data-bs-toggle="modal" href="javascript:void(0)"  @click="selectTab(false)">{{ $t("registration") }}</a>
                            </div>
                            <div class=" nav-item" rel="tab2" data-bs-target="#collapseTarget" data-bs-toggle="modal" @click="selectTab(true)">
                                <a class="login-btn nav-link py-1 px-4 " href="javascript:void(0)">{{ $t("login") }}</a>
                            </div>
                        </div>

                    </li>

                    <li class="nav-item dropdown mx-2">
                        <div class="nav-link  dropdown-toggle text-info" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img style="width:22px" :src="lang.image" alt=""> 
                            <span class="text-dark ml-2">{{ lang.name }}</span>
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="lang-option" v-for="lang in matchedLangs" :key="lang" @click="changeLangAndGames(lang)">
                                <img :src=lang.image alt="" class="lanImg">
                                <div class="btnName" >{{ lang.name }}</div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>
<script setup>
import { ref, computed } from 'vue';
import { useStore } from 'vuex';
import common from "@/utils/common";

const store = useStore();
const refreshIcon = ref(null);
const lang = computed(() => store.state.lang);
const matchedLangs = computed(() => store.state.matchedLangs);
const isLogin = computed(() => store.state.isLogin);
const user = computed(() => store.state.user);
const wallets = computed(() => store.state.wallets);
const { changeLang, getGames, selectTab, logout, stringToMoney, selectWallet, refreshWallets} = common();


const changeLangAndGames = lang => {
  changeLang(lang);
  getGames("getGameList");
}
</script>
<style lang="scss" scoped>
.notify {
    background-color: #eee;
    text-align: start;

}

.navbar-collapse {
    flex-grow: 0;

    .signup-btn {
        background-color: #1c9dff;
        border-radius: 5px;    
    }

    .login-btn {
        background-image: linear-gradient(to top, #ffc30d, #ffd557);
        border-radius: 5px;     
    }

}
.dropdown-menu{
    padding: 0px 10px 5px;
    min-width: 80px;
}
.lang-option{
    cursor: pointer;
    display: block;
    margin: 1rem 0;
    text-align: start;
    .lanImg{
        width: 22px;
        vertical-align: text-bottom;
        margin-right: 0.5rem;
    }
    .btnName{
        display: inline-block;
        margin-left: 0.2rem; 
    }
}
.logOut-btn{
    background: #6e1a7c;
    cursor: pointer;
    color:white;
    transition: background .3s;
    &:hover{
        background: #8a219c;
    }
}
.btnItem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 5px;
    min-width: 0 !important;
}
a.member-btn{
    transition: all 0.3s ease-in-out;
    background: none;
    box-shadow: none;
    background-color: #def2f0;
    color: #5a3d0b; 
    font-size: 0.8rem; 
}
.button{
    cursor: pointer;
    padding: 0.5rem 0.3rem;
    font-size: 0.8rem;
}
.member-btn-orange{
    background-color: #f08600;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: #ffb655;
    } 
}

div.isLogin {
  color: #caa653;

  .walletBtn{
    display: flex;
    cursor: pointer;
    position: relative;
    padding: 5px 0;
    &:hover{
      .subWalletMenu{
        opacity: 1;
        visibility: visible;
      }
    }
    .subWalletMenu {
      position: absolute;
      left: 0;
      top: 38px;
      opacity: 0;
      visibility: hidden;
      min-width: auto;
      padding: 0px 10px 5px;
      background-color: #111022;
      border: 1px solid #ecd0a0;
      z-index: 10;
      transition: all 0.3s ease-in-out;
      width: max-content;
      color:white;
      .wallet-option{
        display: flex;
        align-items: center;
        margin: 1rem 0;
        transition: color .3s;
        img{
          width: 32px;
        } 
        &:hover{
          color:rgb(202, 166, 83);
        }
        .btnName{
          margin-left: 10px;
        }
      }

    }
  }
  img.wallet-icon {
    width: 20px;
    margin-right: 5px;
  }

  .refreshIcon {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #ffffff;
    //background-color: #6E1A7C;
    width: 16px;
    height: 16px;
    margin: 0 0 0 6px;
    z-index: 500;
    cursor: pointer;

    & img {
      width: 100%;
      height: auto;
    }

    &.motion {
      animation-name: motion01;
      animation-duration: 1s;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-fill-mode: none;

      @keyframes motion01 {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}

</style>