
<template>
  <div class="agencyPage">
    <div class="header-title">
      <div class="back"> <a href="javascript:history.go(-1)"><font-awesome-icon icon="fa-solid fa-chevron-left" /></a> </div>
      <div class="title">{{ $t("member_management") }}</div>
      <div class="search"></div>
    </div>
    <div class="agencyTeam-wrapper">
      <!-- 篩選搜尋列 -->
      <div class="transaction-search">
        <form action="/s">
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1"><font-awesome-icon icon="fa-solid fa-magnifying-glass" /></span>
            <input type="search" class="form-control" :placeholder="$t('username')" v-model="searchAccountText" aria-label="Username" aria-describedby="basic-addon1">
            <span class="input-group-text del" @click="clearSearchAccountText"><font-awesome-icon icon="fa-solid fa-circle-xmark" style="color: #7a7a7a;" /></span>
          </div>
        </form>
        <div class="search-btn" @click="searchAccount">{{ $t("search") }}</div>
      </div>
      <!-- 成員列表 -->
      <div class="member-listWrapper">
        <div class="member-table">
          <div class="member-tr th">
            <div class="member-td">{{ $t("user") }}</div>
            <div class="member-td">{{ $t("team_size") }}</div>
            <div class="member-td">{{ $t("contribute") }}</div>
            <div class="member-td">{{ $t("invitation_code") }}</div>
          </div>
          <template v-if="getLowerUserResp.length>0">
            <div class="member-tr" v-for="(item, index) in getLowerUserResp" :key="index">
              <div class="member-td">{{ item.account }}</div>
              <div class="member-td">{{ stringToMoney(item.teamCount) }}</div>
              <div class="member-td">{{ stringToMoney(item.directSales) }}</div>
              <div class="member-td">{{ item.recommendCode }}</div>
            </div>
          </template>
          <template v-else>
            <div class="no-data">
              <img src="@/assets/aae/img/common/history-nodata.png" alt="">
              <div>{{ $t("no_data")}}</div>
            </div>
          </template>
        </div>
      </div>
      <!-- 分頁 -->
      <div v-if="totalCount>0" class="d-flex align-items-center justify-content-between py-2 pr-1">
        <vue-awesome-paginate :total-items="totalCount" :items-per-page="lowerUserListReq.pageSize" v-model="lowerUserListReq.pageIndex" :on-click="changePage" />
        <div>{{$t('totalStart') + ' ' + totalCount + ' ' + $t('totalEnd')}}</div>
      </div>

    </div>
  </div>
  <!-- 加載 -->
  <loading v-model:active="isLoading" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />

</template>

<script>
// 下線成員查詢
export class LowerUserListReq {
  sessionKey = '';
  account = '';
  pageIndex = 1;
  pageSize = 10;
  lang = '';
}
</script>

<script setup>

import { onMounted, reactive, ref, } from 'vue';
import Loading from 'vue-loading-overlay';
import apiService from '@/api/apiService';
import common from "@/utils/common";


const { errorHandling, stringToMoney, userLogout } = common();
const lowerUserListReq = reactive(new (LowerUserListReq))
const getLowerUserResp = reactive([]);

const isLoading = ref(false);
const totalCount = ref(0);
const searchAccountText = ref('');

function clearSearchAccountText() {
  searchAccountText.value = '';
}
function searchAccount() {
  lowerUserListReq.account = searchAccountText;
  lowerUserListReq.pageIndex = 1;
  getLowerUserList();
}
// 取得下級使用者列表
function getLowerUserList() {
  lowerUserListReq.sessionKey = localStorage.getItem("sessionKey");
  lowerUserListReq.lang = localStorage.getItem("locale");
  isLoading.value = true;

  //先將上一頁資料清除
  getLowerUserResp.splice(0)
  apiService.post('/LowerUser/List', lowerUserListReq
  ).then((res) => {
    res.data.datas.forEach(element => {
      getLowerUserResp.push(element);
    });
    totalCount.value = res.data.totalCount;
  }).catch((err) => {
    errorHandling(err);
  }).finally(() => {
    isLoading.value = false;
  });
}
// 換頁
function changePage(value) {
  lowerUserListReq.pageIndex = value;
  getLowerUserList();
}

onMounted(() => {
  if (!localStorage.getItem("sessionKey")) { userLogout(); return; }
  getLowerUserList();
  lowerUserListReq.pageIndex = 1;
})


</script>

<style lang="scss" scoped>
.agencyPage {
  color: #000;
  .header-title {
    background: #fff;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding: 1.5rem 1rem 1.5rem 1rem;
    color: #000;
    .fa-chevron-left {
      color: #000;
    }
  }
  .agencyTeam-wrapper {
    background: #f5f5f5;
    .transaction-search {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #fff;
      padding: 0 0.5rem 0 0.3rem;
      margin-bottom: 0.5rem;
      .input-group {
        padding: 0.5rem;
        .input-group-text {
          background: #f4f5f8;
          border: none;
          border-radius: 30px 0 0 30px;
          &.del {
            border-radius: 0 30px 30px 0;
          }
        }
        input {
          background: #f4f5f8;
          border: none;
          border-radius: 0;
          height: 30px;
        }
      }
      .search-btn {
        white-space: nowrap;
        text-align: right;
      }
    }
    .member-listWrapper {
      text-align: center;
      .member-table {
        display: table;
        width: 100%;
        background: #fff;
        .member-tr {
          display: table-row;
          &.th {
            background: #e1e1df;
          }
          .member-td {
            display: table-cell;
            padding: 0.5rem 0;
            border: 1px solid #f5f5f5;
          }
        }
      }
      .no-data {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        img {
          width: 100%;
        }
      }
    }
  }
}
:deep(.pagination-container button) {
  border-radius: 30px;
  padding: 0.2rem 0.68rem;
  font-size: 0.6rem;
}
:deep(.pagination-container button.active-page) {
  background: linear-gradient(180deg, #b0dfd9 0%, #009688 100%);
  color: #fff;
}
</style>
