<template>
  <div class="userInfo-middleContent pr-4">
    <form class="w-100 pt-4">

      <div class="d-flex justify-content-center flex-column align-items-center" v-if="depositPayResp.length === 0">
        <img src="@/assets/img/common/history-nodata.png" />
        <span>{{ $t('no_information') }}</span>
        <!--  無資料 -->
      </div>

      <template v-else>
        <div class="despoitForm">

          <div class="d-flex">
            <div class="w-25">
              <label class="form-label">{{ $t("recharge_method") }}</label>
            </div>
            <div class="w-75">
              <div class="mb-4 despoit-way scrollbar">
                <!-- 支付方式 -->
                <template v-for="(item, index) in depositPayResp" :key="item">
                  <div class="way-1" :class="{ active: activeIndex === index }" @click="selectedDepositType(item); activeIndex = index">
                    <img :src="item.icon" alt="">
                    <span>{{ item.name }}</span>
                  </div>
                </template>
              </div>
            </div>
          </div>
          <div class="d-flex">
            <div class="w-25">
              <label class="form-label">{{ $t("select_channel") }}</label>
            </div>

            <!-- 支付通道 -->
            <div class="w-75">
              <div class="mb-2 position-relative choice-chanel">
                <a href="javascript:void(0)" class="button lan-button " :class="[showPopup ? 'show-popup' : '']" @mouseleave="showPopup = false">
                  <div class="d-flex" @mouseover="showPopup = true">
                    <img :src="selected.icon" alt="">
                    <div class="ml-2">
                      <span>{{ selected.channel.name }}</span>
                      <span class="d-block notice">{{ $t('oneTimeLimit') }}： {{ selected.channel.minMoney }} ~ {{ selected.channel.maxMoney }} {{ selected.currencyId }}{{ selected.protocol ? '(' + selected.protocol + ')' : '' }}</span>
                    </div>
                  </div>

                  <span @click="showPopup = true" class="fa-solid fa-caret-down"><font-awesome-icon icon="fa-solid fa-caret-down" /></span>
                  <div class="subLanMenu">
                    <!-- 支付通道列表 -->
                    <template v-for="(item, index) in depositPayResp" :key="item">
                      <template v-if="activeIndex === index">
                        <template v-for="(channel) in item.channels" :key="channel">
                          <a class="lang-option" @click="selectedDepositChannel(item, channel)">
                            <img :src="item.icon" alt="">
                            <div>
                              <span>{{ channel.name }}</span>
                              <span class="d-block notice">{{ $t('oneTimeLimit') }}： {{ channel.minMoney }} ~ {{ channel.maxMoney }} {{ item.currency.currencyId }}{{ item.currency.protocol ? '(' + item.currency.protocol + ')' : '' }}</span>
                            </div>
                          </a>
                        </template>
                      </template>
                    </template>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="d-flex chanelDetail">
            <div class="w-25">

            </div>
            <div class="w-75">
              <div class="chanel">
                <div class="chanel-title">
                  <template v-if="selected.class == 0">
                    {{ $t('payment_address') }}：<span>{{ selected.channel.address }}</span>
                  </template>
                  <template v-if="selected.class == 1">
                    <template v-if="selected.type === 1">
                      <div>
                        <span>{{ $t("payee") }}： </span>
                        <span>{{selected.channel.payee}}</span>
                      </div>
                      <div>
                        <span>{{ $t("bankName") }}： </span>
                        <span>{{selected.channel.bankName}}</span>
                      </div>
                      <div>
                        <span>{{ $t("branch_name") }}： </span>
                        <span>{{selected.channel.bankBranchName}}</span>
                      </div>
                      <div>
                        <span>{{ $t("bankAccount") }}： </span>
                        <span>{{selected.channel.bankAccount}}</span>
                      </div>
                    </template>
                    <template v-if="selected.type === 2">
                      <div>
                        <span>{{ $t("payee") }}： </span>
                        <span>{{selected.channel.payee}}</span>
                      </div>
                      <div>
                        <span>{{ $t("wechat_account") }}： </span>
                        <span>{{selected.channel.weChat}}</span>
                      </div>
                    </template>
                    <template v-if="selected.type === 3">
                      <div>
                        <span>{{ $t("payee") }}</span>
                        <span>{{selected.channel.payee}}： </span>
                      </div>
                      <div>
                        <span>{{ $t("alipay_account") }}： </span>
                        <span>{{selected.channel.alipay}}</span>
                      </div>
                    </template>
                    <template v-if="selected.type === 4">
                      <div>
                        <span>{{ $t("currencyAddress") }}： </span>
                        <span>{{selected.channel.address}}</span>
                      </div>
                      <div>
                        <span>{{ $t("exchange_rate") }}： </span>
                        <span>{{selected.channel.exchangeRate}}</span>
                      </div>
                      <div>
                        <span>{{ $t("virtualCurrencyName") }}： </span>
                        <span>{{selected.channel.frontDeskCurrency}}</span>
                      </div>
                    </template>
                  </template>
                </div>
                <div class="notice">{{ $t("discountRatio") }}： {{selected.channel.discountRatio}}%</div>
                <div class="notice">{{ $t("single_recharge_amount_range") }}: {{ stringToMoney(selected.channel.minMoney) }} ~ {{ stringToMoney(selected.channel.maxMoney) }} {{ selected.currencyId }}{{ selected.protocol ? '(' + selected.protocol + ')' : '' }}</div>
                <div v-if="selected.channel.qrcodeUrl">
                  <img :src="selected.channel.qrcodeUrl" alt="" style="max-height: 130px; width:auto">
                  <span class="d-block mt-2">{{ $t("scan_QR_code_quickly_complete_the_epayment") }}</span>
                </div>
                <div class="notice">{{ $t("remark") }}： {{ selected.channel.remark }}</div>
              </div>
            </div>
          </div>
          <div class="m-4">
            <div class="despoit-info">{{ $t("recharge_information") }}</div>
          </div>

          <div class="d-flex">
            <div class="w-25">
              <template v-if="selected.class == 0">
                <label class="form-label">{{ $t("transaction_id") }}</label>
              </template>
            </div>
            <div class="w-75">
              <!-- 充值資料 -->
              <template v-if="selected.class == 0">
                <div class="mb-3 text-left">
                  <input type="text" class="form-control" v-model="sendOrderReq.txId" :placeholder="$t('please_enter_transaction_id')">
                </div>
              </template>
            </div>
          </div>

          <!--匯款人-->
          <div class="d-flex" v-if="selected.class == 1 && (selected.type == 1 || selected.type == 2 || selected.type == 3)">
            <div class="w-25">
              <label class="form-label">{{ $t("remitter") }}</label>
            </div>
            <div class="w-75">
              <div class="mb-3 text-left">
                <input type="text" class="form-control" v-model="sendOrderReq.payee" :placeholder="$t('please_enter_the_sender')">
              </div>
            </div>
          </div>
          <!--銀行名稱-->
          <div class="d-flex" v-if="selected.class == 1 && selected.type == 1">
            <div class="w-25">
              <label class="form-label">{{ $t("bankName") }}</label>
            </div>
            <div class="w-75">
              <div class="mb-3 text-left">
                <input type="text" class="form-control" v-model="sendOrderReq.bankName" :placeholder="$t('pls_enter_bank_name')">
              </div>
            </div>
          </div>
          <!--交易序號(虛擬貨幣)-->
          <div class="d-flex" v-if="selected.class == 1 && selected.type == 4">
            <div class="w-25">
              <label class="form-label">{{ $t("transaction_number(virtual_currency)") }}</label>
            </div>
            <div class="w-75">
              <div class="mb-3 text-left">
                <input type="text" class="form-control" v-model="sendOrderReq.txId" :placeholder="$t('pls_enter_txId')">
              </div>
            </div>
          </div>
          <!--維信-->
          <div class="d-flex" v-if="selected.class == 1 && selected.type == 2">
            <div class="w-25">
              <label class="form-label">{{ $t("pay_type_wechat") }}</label>
            </div>
            <div class="w-75">
              <div class="mb-3 text-left">
                <input type="text" class="form-control" v-model="sendOrderReq.weChat" :placeholder="$t('please_enter_wechat_account')">
              </div>
            </div>
          </div>
          <!--支付寶-->
          <div class="d-flex" v-if="selected.class == 1 && selected.type == 3">
            <div class="w-25">
              <label class="form-label">{{ $t("alipay") }}</label>
            </div>
            <div class="w-75">
              <div class="mb-3 text-left">
                <input type="text" class="form-control" v-model="sendOrderReq.alipay" :placeholder="$t('please_enter_alipay_account')">
              </div>
            </div>
          </div>
          <!--匯款金額-->
          <div class="d-flex" v-if="selected.class == 1">
            <div class="w-25">
              <label class="form-label" v-if="selected.type == 4">{{ $t("remittance_amount") + "(" + selected.channel.frontDeskCurrency + ")" }}</label>
              <label class="form-label" v-else>{{ $t("remittance_amount") + "(" + selected.currencyId + ")" }}</label>
            </div>
            <div class="w-75">
              <div class="mb-3 text-left">
                <input type="number" class="form-control" @keydown="avoidDecimal" v-model="sendOrderReq.amount" :placeholder="$t('please_enter_recharge_amount')">
              </div>
            </div>
          </div>
          <!--充值金額-->
          <div class="d-flex" v-if="selected.class == 1 && selected.type == 4">
            <div class="w-25">
              <label class="form-label">{{ $t("recharge_amount") + "(" + selected.currencyId + ")" }}</label>
            </div>
            <div class="w-75">
              <div class="mb-3 text-left">
                <span style="font-size:16px;padding-left:13px">
                  {{ stringToMoney(sendOrderReq.amount * selected.channel.exchangeRate)}}
                </span>
              </div>
            </div>
          </div>

          <!--備註-->
          <div class="d-flex">
            <div class="w-25">
              <label class="form-label">{{ $t("remark") }}</label>
            </div>
            <div class="w-75">
              <div class="mb-3 text-left">
                <input type="text" class="form-control" v-model="sendOrderReq.depositRemark" :placeholder="$t('please_enter_remittance_remarks')">
              </div>
            </div>
          </div>

        </div>

        <button type="button" class="btn btn-primary d-block my-3" @click="sendOrder()">{{ $t("submit_application") }}</button>
      </template>

    </form>

    <!-- 加載 -->
    <loading v-model:active="isLoading" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />
  </div>
</template>

<script>
// 充值支付
export class DepositPay {
  class = 0;      // 入款類別(0=虛擬貨幣,1=傳統入款(實名))
  type = 0;       // 1=傳統銀行入款,2=微信入款,3=支付寶入款
  icon = '';      // 圖標
  currencyId = '';// 貨幣
  protocol = '';  // 貨幣協議
  channel = new DepositChannel();
}

// 支付通道
export class DepositChannel {
  no = 0;               // 編號
  name = '';            // 通道名稱
  payee = '';           // 收款人
  bankName = '';        // 銀行名稱
  bankBranchName = '';  // 銀行分行名稱
  bankAccount = '';     // 銀行帳號
  address = '';         // 收款地址(虛擬貨幣)
  qrcodeUrl = '';       // 二微碼位址
  weChat = '';          // 微信
  alipay = '';          // 支付寶帳號
  minMoney = 0;         // 單筆最小金額
  minMoneyStr = '';     // 單筆最小金額顯示
  maxMoney = 0;         // 單筆最大金額
  maxMoneyStr = '';     // 單筆最大金額顯示
  remark = '';          // 備註
  payStatus = 0;        // 支付狀態(0=無,1=熱門(推薦),2=快速)
}

// 發送入款訂單
export class SendOrderReq {
  sessionKey = '';    // Session Key*
  payChannelNo = 0;   // 支付通道編號*
  payee = '';         // 匯款人
  bankName = '';      // 銀行名稱
  txId = '';          // 交易序號(虛擬貨幣)
  weChat = '';        // 微信
  alipay = '';        // 支付寶帳號
  amount = 0;         // 存入金額
  depositRemark = ''; // 匯款備註
}
</script>

<script setup>
import { ref, reactive, onMounted, watch } from 'vue';
import apiService from '@/api/apiService';
import common from "@/utils/common";
import { useI18n } from "vue-i18n";
import { useStore } from "vuex"
import Loading from 'vue-loading-overlay';
import Swal from "sweetalert2";

const activeIndex = ref(0);
const showPopup = ref(false);
const isLoading = ref(false);
const depositPayResp = reactive([]);
const selected = reactive(new DepositPay());
const sendOrderReq = reactive(new SendOrderReq());
const { errorHandling, stringToMoney, userLogout } = common();
const { t } = useI18n();
const store = useStore();


// 取得入款支付資料
function getDepositPayList() {
  isLoading.value = true;
  apiService.post('/DepositPay/List', {
    sessionKey: localStorage.getItem("sessionKey"),
    lang: localStorage.getItem("locale"),
    currencyNo: Number(localStorage.getItem("currencyNo")),
  }).then((res) => {
    depositPayResp.splice(0);
    res.data.types.forEach(element => {
      depositPayResp.push(element);
    });
    if (depositPayResp.length > 0) {
      selectedDepositChannel(depositPayResp[0], depositPayResp[0].channels[0]);
    }
  }).catch((err) => {
    errorHandling(err);
  }).finally(() => {
    isLoading.value = false;
  });
}

// 選擇支付方式
function selectedDepositType(payType) {
  selectedDepositChannel(payType, payType.channels[0]);
}

// 選擇支付通道
function selectedDepositChannel(payType, payChannel) {
  selected.class = payType.class;
  selected.type = payType.type;
  selected.icon = payType.icon;
  selected.currencyId = payType.currency.currencyId;
  selected.protocol = payType.currency.protocol;
  selected.channel = payChannel;
  showPopup.value = false;
}

// 發送入款訂單
function sendOrder() {
  if (verifySendOrder()) return;
  isLoading.value = true;
  sendOrderReq.sessionKey = localStorage.getItem("sessionKey");
  sendOrderReq.payChannelNo = selected.channel.no;
  apiService.post('/DepositPay/SendOrder', sendOrderReq).then((res) => {
    Swal.fire("", t("submitted_successfully"), "success");
    Object.assign(sendOrderReq, new SendOrderReq());
  }).catch((err) => {
    if (err.response == null || err.response.status == null) {
      console.log(err);
      Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
    } else if (err.response.status == 452) // 重複申請
      Swal.fire("", t("repeatApplication"), "warning");
    else errorHandling(err);
  }).finally(() => {
    isLoading.value = false;
  });
}

// 驗證訂單
function verifySendOrder() {
  let msg = '';

  // 0=虛擬貨幣,1=傳統入款(實名)
  if (selected.class == 0) {
    if (sendOrderReq.txId.length <= 0)
      msg += t('please_enter_transaction_id') + '\n';
  } else {

    // 1=傳統銀行入款,2=微信入款,3=支付寶入款,4=虛擬貨幣入款


    // 匯款人
    if (selected.type == 1 || selected.type == 2 || selected.type == 3) {
      if (sendOrderReq.payee.length <= 0) {
        msg += t('please_enter_the_sender') + '\n';
      }
    }



    if (selected.type == 1) {
      if (sendOrderReq.bankName.length <= 0)
        msg += t('please_fill_in_remitting_bank') + '\n';
    } else if (selected.type == 2) {
      if (sendOrderReq.weChat.length <= 0)
        msg += t('please_enter_wechat_account') + '\n';
    } else if (selected.type == 3) {
      if (sendOrderReq.alipay.length <= 0)
        msg += t('please_enter_alipay_account') + '\n';
    } else if (selected.type == 4) {
      if (sendOrderReq.txId.length <= 0)
        msg += t('pls_enter_txId') + '\n';
    }


  }

  // 金額
  let amount = sendOrderReq.amount;
  if (amount <= 0)
    msg += t('please_enter_remittance_amount') + '\n';
  else if (!Number.isInteger(+(amount)))
    msg += t('must_be_integer') + '\n';
  else {
    if (selected.type == 4) amount = amount * selected.channel.exchangeRate;

    if (amount < selected.channel.minMoney || amount > selected.channel.maxMoney)
      msg += t('single_recharge_amount_range') + selected.channel.minMoney.toString() + '~' + selected.channel.maxMoney.toString() + '\n';
  }

  if (msg.length == 0) return false;
  msg = '<pre>' + msg + '</pre>';
  Swal.fire("", msg, "warning");
  return true;
}


function avoidDecimal() {
  if (event.key === '.') event.preventDefault();
}

watch(
  () => store.state.wallets,
  () => {
    getDepositPayList();
  }
)

watch(
  () => store.state.lang,
  () => {
    getDepositPayList();
  }
)

onMounted(() => {
  if (!localStorage.getItem("sessionKey")) { userLogout(); return; }
  getDepositPayList();
})

</script>


<style lang="scss" scoped>
.testBackground {
  background-color: #a222b3;
}

.userInfo-middleContent {
  background-color: #2a3f3a;
  width: 80%;

  label {
    display: block;
    margin-right: 1em;
    white-space: nowrap;
  }

  .form-control {
    display: inline-block;
    width: 100%;
    background: #fff;
    border: 0.5px solid rgba(177, 177, 177, 0.5764705882);
    // color: #fff;
  }

  button.btn-primary {
    margin: auto;
    width: 20%;
    background: linear-gradient(to bottom, #006d57, #004d3d);
    border-color: #00805b;

    &:hover {
      color: #ffce51;
    }
  }
}

.label-choice-chanel {
  height: 312px;
  background: rgba(55, 128, 104, 0.46);
  border-radius: 5px 0 0 5px;
  border-right: none;
  margin-top: 17px;
  margin-bottom: 5rem;
}

.despoit-way {
  text-align: start;
  margin-left: -0.5rem;
  display: flex;
  overflow-x: auto;

  div {
    flex: 0 0 auto;
    cursor: pointer;
    margin: 0 0.5rem;
    padding: 0.8rem 1.2rem;
    border: 1px solid rgba(197, 185, 211, 0.4);
    margin-bottom: 10px;
    &:hover {
      border: 1px solid #808080;
    }

    &.active {
      cursor: default;
      border: 1px solid #ffffff;
    }

    img {
      display: inline-block;
      width: 26px;
      margin-right: 0.5rem;
      vertical-align: middle;
    }
  }
}
.scrollbar::-webkit-scrollbar {
  height: 8px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #004d3e 2.85%, #04bb97 97.76%);
}
a.lan-button {
  position: relative;
  width: 100%;
  display: block;
  background: #fff;
  border: 1px solid rgba(197, 185, 211, 0.4);
  box-shadow: none;
  text-align: start;
  margin-bottom: 1rem;
  color: #000;
  padding: 0.5rem;
  border-radius: 5px;

  img {
    width: 25px;
    height: 25px;
  }

  .notice {
    color: #6f6f6f;
  }

  .fa-caret-down {
    position: absolute;
    top: 7px;
    right: 10px;
    color: #000;
    font-size: 1.3rem;
  }
}

.subLanMenu {
  position: absolute;
  right: 0;
  top: 60px;
  opacity: 0;
  visibility: hidden;
  min-width: auto;
  padding: 0px;
  background-color: #fff;
  border: 2px solid #61c3a7;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  width: 100%;

  .lang-option {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 1rem;
    text-align: start;
    color: #000;

    &:hover {
      background: #bbbbbb;
    }

    img {
      width: 24px;
      height: 20px;
      margin-right: 1rem;
    }
  }
}

a.lan-button.show-popup .subLanMenu {
  opacity: 1;
  visibility: visible;
  color: #000;
}

a.lan-button.show-popup .subLanMenu a:hover {
  color: #387063 !important;
}

.enter-account {
  margin-top: 4.5rem;
}

.despoitForm {
  .d-flex {
    .w-25 {
      margin-left: 4rem;
    }

    .chanel {
      // text-align: center;
      padding: 1rem;
      margin-right: 15rem;

      .chanel-title {
        margin: 0;
        font-size: 0.85rem;
      }

      img {
        width: 140px;
      }

      .notice {
        margin: 0;
        color: #b8b8b8;
        
      }
    }
  }
}

.despoit-info {
  position: relative;
  text-align: center;
  color: #d9d9d9;

  &::before {
    content: 'sdf';
    position: absolute;
    top: 50%;
    right: 58%;
    background: #fff;
    height: 1px;
    width: 37%;
    color: transparent;
  }

  &::after {
    content: 'sdf';
    position: absolute;
    top: 50%;
    left: 58%;
    background: #fff;
    height: 1px;
    width: 45%;
    color: transparent; 
  }
}

.form-control {
  width: 100%;
}

html{
  &.aaa{
    .chanelDetail{
      background: rgba(55, 128, 104, 0.46);
    }
  }
  &.aad{
    .chanelDetail{
      background: #353535;
    }
  }
}

.chanelDetail {
  border-radius: 5px;
  margin-left: 4rem;
}



.main-content.aab {
  .userInfo-middleContent {
    background-color: #282828;
    &.pr-4 {
      padding-right: .15rem!important;
    }
    .mb-3 {
      margin-bottom: .1rem!important;
    }
    form {
      padding-top: .2rem!important;
      .despoitForm {
        margin: .2rem!important;
        .w-25 {
          margin-left: .4rem;
        }
        .mb-3 {
          textarea.form-control {
            margin-bottom: .1rem;
            font-size: .1rem;
            border-radius: .1rem;
            padding: .25rem .2rem;
            &:focus {
              box-shadow: 0 0 0 0.05rem #74747460;    
            }
          }
        }
        input.form-control {
          height: .1rem;
          font-size: .2rem;
          margin-bottom: .1rem;
          padding: .25rem .2rem;
          border-radius: .1rem;
          &:focus {
            box-shadow: 0 0 0 0.05rem #74747460;    
          }
        }
        .despoit-way {
          &.mb-4 {
            margin-bottom: .4rem!important;
          }
          div {
            padding: 0.2rem .2rem;
            margin: 0 0.05rem;
            img {
              margin-right: .065rem;
            }
          }
        }
        a.lan-button {
          padding: .03rem;
          margin-bottom: .02rem;
          .fa-caret-down {
            font-size: .25rem;
          }
        }
        .ml-2 {
          margin-left: .1rem!important;
        }
        .subLanMenu {
          top: 50px;
          .lang-option {
            padding: .15rem;
          }
        }
        .chanelDetail {
          margin-left: .4rem;
          .chanel {
            margin-right: .15rem;
            padding: .1rem;
            .chanel-title {
              font-size: .1rem;
            }
          }
        }
        .m-4 {
          margin: .2rem!important;
        }
      }
    }
    button.btn-primary {
      font-size: .2rem;
      padding: .07rem .5rem;
      border-radius: .1rem;
      margin: .05rem auto!important;
      width: auto;

      &:focus {
        box-shadow: 0 0 0 0.05rem #74747460;    
      }
    }    
  }
}










.aaf{
  .testBackground {
  background-color: #a222b3;
}

.userInfo-middleContent {
  background-color: #fff;
  width: 80%;

  label {
    display: block;
    margin-right: 1em;
    white-space: nowrap;
  }

  .form-control {
    display: inline-block;
    width: 100%;
    background: #fff;
    border: 0.5px solid rgba(177, 177, 177, 0.5764705882);
    // color: #fff;
  }

  button.btn-primary {
    margin: auto;
    width: 20%;
    background: linear-gradient(to bottom, #009ef7, #007ef5);
    // border-color: #00805b;

    &:hover {
      color: #ffce51;
    }
  }
}

.label-choice-chanel {
  height: 312px;
  background: rgba(55, 128, 104, 0.46);
  border-radius: 5px 0 0 5px;
  border-right: none;
  margin-top: 17px;
  margin-bottom: 5rem;
}

.despoit-way {
  text-align: start;
  margin-left: -0.5rem;
  display: flex;
  overflow-x: auto;

  div {
    flex: 0 0 auto;
    cursor: pointer;
    margin: 0 0.5rem;
    padding: 0.8rem 1.2rem;
    border: 1px solid rgba(197, 185, 211, 0.4);
    margin-bottom: 10px;
    &:hover {
      border: 1px solid #808080;
    }

    &.active {
      cursor: default;
      border: 1px solid #ffffff;
    }

    img {
      display: inline-block;
      width: 26px;
      margin-right: 0.5rem;
      vertical-align: middle;
    }
  }
}
.scrollbar::-webkit-scrollbar {
  height: 8px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #004d3e 2.85%, #04bb97 97.76%);
}
a.lan-button {
  position: relative;
  width: 100%;
  display: block;
  background: #fff;
  border: 1px solid rgba(197, 185, 211, 0.4);
  box-shadow: none;
  text-align: start;
  margin-bottom: 1rem;
  color: #000;
  padding: 0.5rem;
  border-radius: 5px;

  img {
    width: 25px;
    height: 25px;
  }

  .notice {
    color: #6f6f6f;
  }

  .fa-caret-down {
    position: absolute;
    top: 7px;
    right: 10px;
    color: #000;
    font-size: 1.3rem;
  }
}

.subLanMenu {
  position: absolute;
  right: 0;
  top: 60px;
  opacity: 0;
  visibility: hidden;
  min-width: auto;
  padding: 0px;
  background-color: #fff;
  border: 2px solid #59c3ff;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  width: 100%;

  .lang-option {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 1rem;
    text-align: start;
    color: #000;

    &:hover {
      background: #bbbbbb;
    }

    img {
      width: 24px;
      height: 20px;
      margin-right: 1rem;
    }
  }
}

a.lan-button.show-popup .subLanMenu {
  opacity: 1;
  visibility: visible;
  color: #000;
}

a.lan-button.show-popup .subLanMenu a:hover {
  color: #387063 !important;
}

.enter-account {
  margin-top: 4.5rem;
}

.despoitForm {
  .d-flex {
    .w-25 {
      margin-left: 4rem;
    }

    .chanel {
      // text-align: center;
      padding: 1rem;
      margin-right: 15rem;

      .chanel-title {
        margin: 0;
        font-size: 0.85rem;
      }

      img {
        width: 140px;
      }

      .notice {
        margin: 0;
        color: #b8b8b8;
        
      }
    }
  }
}

.despoit-info {
  position: relative;
  text-align: center;
  color: #d9d9d9;

  &::before {
    content: 'sdf';
    position: absolute;
    top: 50%;
    right: 58%;
    background: #fff;
    height: 1px;
    width: 37%;
    color: transparent;
  }

  &::after {
    content: 'sdf';
    position: absolute;
    top: 50%;
    left: 58%;
    background: #fff;
    height: 1px;
    width: 45%;
    color: transparent; 
  }
}

.form-control {
  width: 100%;
}

// html{
//   &.aaa{
//     .chanelDetail{
//       background: rgba(55, 128, 104, 0.46);
//     }
//   }
//   &.aad{
//     .chanelDetail{
//       background: #353535;
//     }
//   }
// }

.chanelDetail {
  border-radius: 5px;
  margin-left: 4rem;
}
}
</style>