<template>
  <div class="mt-4">
    <div class="userInfo d-flex">
      <div class="userInfo-leftNav pt-4">
        <ol class="list-group list-group-numbered">
          <router-link :to="{ name: DomainLayoutId+ 'CommonDeposit' }" class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">{{ $t("traditional_recharge") }}</div>
            </div>
            <span v-if="$route.fullPath === '/MemberCentre/Despoit/CommonDespoit'"><font-awesome-icon icon="fa-solid fa-chevron-right" /></span>
          </router-link>
          <router-link :to="{ name: DomainLayoutId + 'DepositRecord' }" class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">{{ $t("recharge_history") }}</div>
            </div>
            <span v-if="$route.fullPath === '/MemberCentre/Despoit/DepositRecord'"><font-awesome-icon icon="fa-solid fa-chevron-right" /></span>
          </router-link>
          <router-link :to="{ name: DomainLayoutId + 'OnlineDeposit' }" class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">{{ $t("onlineRecharge") }}</div>
            </div>
            <span v-if="$route.fullPath === '/MemberCentre/Despoit/OnlineDespoit'"><font-awesome-icon icon="fa-solid fa-chevron-right" /></span>
          </router-link>
          <router-link :to="{ name: DomainLayoutId + 'OnlineDepositRecord' }" class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">{{ $t("online_recharge_history") }}</div>
            </div>
            <span v-if="$route.fullPath === '/MemberCentre/Despoit/OnlineDepositRecord'"><font-awesome-icon icon="fa-solid fa-chevron-right" /></span>
          </router-link>
        </ol>
      </div>
      <router-view />

    </div>
  </div>
</template>

<script setup>
import { computed } from 'vue';
import { useStore } from 'vuex';

const store = useStore();
const DomainLayoutId = computed(() => store.state.DomainLayoutId);
</script>

<style lang="scss" scoped>
/*充值CSS */
.pDespoitBack {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  overflow-y: auto;
  display: block;

  .pDespoit1stBlock {
    width: 100vw;
    height: calc(100% - 40px);
    margin: 40px 0 0 0;
    background-color: #F5F5F5;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;

    .pDespoit1stTopBar {
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 115px;
      background: linear-gradient(100.85deg, #009685 15.32%, #004D3D 94.32%);

      /*充值 金額顯示 */
      .pDespoit1stTopBarNameBox {
        position: absolute;
        display: block;
        width: calc(100% - 40px);
        top: 15px;

        .pDespoit1stTopBarName {
          width: 100%;
          font-size: 1.2rem;
          line-height: 1.2rem;
          text-align: center;
        }

        .pDespoit1stTopBarCoinInfoBox {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 10px 0 0 0;

          .pDespoit1stTopBarCoinIcon {
            width: 20px;

            & img {
              width: 100%;
              height: auto;
            }
          }

          .pDespoit1stTopBarCoinText {
            font-size: 1.2rem;
            line-height: 1.2rem;
            margin: 0 10px;

          }
        }
      }

      .pDespoit1stTopBarMidBlock {
        position: absolute;
        width: 100%;
        //height: 65px;
        top: 76px;
        background: #1C4F3E;
      }

      /*選項 */
      .pDespoit1stTopBarSelectBlock {
        display: flex;
        justify-content: left;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 4px;

        .pDespoit1stTopBarSelectItemBox {
          position: relative;
          min-height: 65px;
          width: calc(33.3% - 6px);
          background-color: #ffffff;
          margin: 3px 3px;
          border-radius: 10px;
          box-sizing: border-box;
          display: block;
          overflow: hidden;
          border: 0px solid #ffffff;

          &.selected01 {
            border: 2px solid #2DCD6C;

            .textBar02 {
              color: #000;
              margin: 20px 0 0 0;
            }

            .textBar03 {
              display: block;
            }
          }

          &.selected02 {
            border: 2px solid #FFC700;

            .textBar02 {
              color: #000;
              margin: 20px 0 0 0;
            }

            .textBar03 {
              display: block;
            }
          }

          &.selected03 {
            border: 2px solid #E60013;

            .textBar02 {
              color: #000;
              margin: 20px 0 0 0;
            }

            .textBar03 {
              display: block;
            }
          }

          &.selected04 {
            border: 2px solid #FB600B;

            .textBar02 {
              color: #000;
              margin: 20px 0 0 0;
            }

            .textBar03 {
              display: block;
            }
          }


          .textBar01Box {
            display: flex;
            justify-content: left;
            width: 100%;
          }

          .textBar01 {
            position: absolute;
            top: -2px;
            left: -2px;
            padding: 6px 5px 5px 5px;
            //background-color: #5CD248;
            font-size: 0.6rem;
            line-height: 0.6rem;
            border-bottom-right-radius: 10px;
            z-index: 10;

            &.type02 {
              background-color: #FFC700;
            }

            &.type03 {
              background-color: #E60013;
            }

            &.type04 {
              background-color: #FB600B;
            }
          }

          .textBar02 {
            text-align: center;
            padding: 2px 0;
            width: 100%;
            font-size: 1rem;
            line-height: 1rem;
            color: #B8B8B8;
            font-weight: 700;
            margin: 28px 0 0 0;
          }

          .textBar03 {
            display: none;
            text-align: center;
            padding: 4px 0;
            width: 100%;
            font-size: 0.6rem;
            line-height: 0.6rem;
            color: #9D9B98;
            font-weight: 400;
          }
        }

      }

      /*充值方式 */
      .pDespoitBar3rdBlock {
        display: block;
        width: 100%;
        //background-color: #5CD248;
      }

      /*充值方式選項 */
      .pDespoitBar3rdBoard {
        display: block;
        width: calc(100vw - 20px);
        background-color: #fff;
        margin: 10px 10px 10px 10px;
        padding: 10px;
        border-radius: 10px;
        color: #000;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.5rem;

        .pDespoitBar3rdSelectBar {
          width: 100%;
          display: flex;
          justify-content: left;
          align-items: flex-start;
          flex-wrap: wrap;
          //background-color: #1C4F3E;

          .pDespoitBar3rdSelectBox {
            position: relative;
            width: calc(25% - 6px);
            margin: 3px 3px;
            height: 62px;
            border: 1px solid #D9D9D9;
            //background-color: #1C4F3E;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            &.selected {
              border: 1px solid #ED504C;

              .tagSuggest {
                display: block;
              }
            }

            .selectedIcon {
              position: absolute;
              right: 0px;
              bottom: 0;
              width: 20px;
            }

            .tagSuggest {
              position: absolute;
              right: -40px;
              top: 0px;
              width: 100px;
              font-size: 0.6rem;
              text-align: center;
              line-height: 1.2rem;
              color: #fff;
              font-weight: 400;
              transform: rotate(45deg) scale(0.8);
              background: linear-gradient(90deg, #FF6E61 0%, #EB4D4A 100%);
              display: none;
            }

            .centerBox {
              width: 90%;
              //background-color: #2DCD6C;
              display: block;

              .centerBoxImg {
                display: flex;
                justify-content: center;
              }

              .centerBoxText {
                font-size: 0.8rem;
                text-align: center;
                line-height: 1rem;
                color: #B8B8B8;
              }
            }
          }
        }
      }

      /*充值方式選項內容清單 */
      .pDespoitBar4thBlock {
        display: block;
        width: 100%;
        height: calc(100vh - 320px);
        padding: 0 0 170px 0;
        background-color: #a33069;
        overflow-y: auto;

        &::-webkit-scrollbar {
          display: none;
        }

        .pDespoitBar4thBox {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          width: calc(100vw - 20px);
          background-color: #fff;
          margin: 5px 10px 10px 10px;
          padding: 10px;
          border-radius: 10px;

          .arrowBox {
            padding: 10px 10px;
            display: flex;
            align-items: center;
            background-color: #2DCD6C;
          }
        }
      }

    }
  }
}

.outSideControl {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 0 50px 0;
  margin-top: 0px !important;
  //background-color: #FFCE51;
}



.userInfo-leftNav {
  width: 20%;
  background: #1C4F3E;
  border: 1px solid #61C3A7;


  .list-group-item {
    cursor: pointer;
    border: none;
    background-color: transparent;

    &.active {
      margin-top: 0;
      color: #fff;
      border: none;
      background: linear-gradient(to top, #171c1c, #004d3d);
      cursor: default;

      &:hover {
        color: #FFCE51;
      }

    }

    &:hover {
      color: #FFCE51;
    }

    span {
      color: #fff;
    }
  }

  .router-link-active {
    margin-top: 0;
    color: #ffce51;
    border: none;
    background: linear-gradient(to top, #171c1c, #004d3d);
    cursor: default;

    &:hover {
      color: #ffce51;
    }
  }
}

.userInfo-rigthDm {
  width: 20%;
}

.main-content.aab {

  .userInfo-leftNav {
    padding-top: .3rem!important;
    background: #282828;
    border: 1px solid #666666;
    a.list-group-item {
      padding: .2rem .3rem;
    }
  }
  .router-link-active {
    margin-top: 0;
    color: #ff4d00;
    background: linear-gradient(to bottom, #444444, #282828);
    cursor: default;

    &:hover {
      color: #ff4d00;
    }
  }
  
}




.aaf{
  /*充值CSS */
.pDespoitBack {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  overflow-y: auto;
  display: block;

  .pDespoit1stBlock {
    width: 100vw;
    height: calc(100% - 40px);
    margin: 40px 0 0 0;
    background-color: #F5F5F5;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;

    .pDespoit1stTopBar {
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 115px;
      background: linear-gradient(100.85deg, #009685 15.32%, #004D3D 94.32%);

      /*充值 金額顯示 */
      .pDespoit1stTopBarNameBox {
        position: absolute;
        display: block;
        width: calc(100% - 40px);
        top: 15px;

        .pDespoit1stTopBarName {
          width: 100%;
          font-size: 1.2rem;
          line-height: 1.2rem;
          text-align: center;
        }

        .pDespoit1stTopBarCoinInfoBox {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 10px 0 0 0;

          .pDespoit1stTopBarCoinIcon {
            width: 20px;

            & img {
              width: 100%;
              height: auto;
            }
          }

          .pDespoit1stTopBarCoinText {
            font-size: 1.2rem;
            line-height: 1.2rem;
            margin: 0 10px;

          }
        }
      }

      .pDespoit1stTopBarMidBlock {
        position: absolute;
        width: 100%;
        //height: 65px;
        top: 76px;
        background: #1C4F3E;
      }

      /*選項 */
      .pDespoit1stTopBarSelectBlock {
        display: flex;
        justify-content: left;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 4px;

        .pDespoit1stTopBarSelectItemBox {
          position: relative;
          min-height: 65px;
          width: calc(33.3% - 6px);
          background-color: #ffffff;
          margin: 3px 3px;
          border-radius: 10px;
          box-sizing: border-box;
          display: block;
          overflow: hidden;
          border: 0px solid #ffffff;

          &.selected01 {
            border: 2px solid #2DCD6C;

            .textBar02 {
              color: #000;
              margin: 20px 0 0 0;
            }

            .textBar03 {
              display: block;
            }
          }

          &.selected02 {
            border: 2px solid #FFC700;

            .textBar02 {
              color: #000;
              margin: 20px 0 0 0;
            }

            .textBar03 {
              display: block;
            }
          }

          &.selected03 {
            border: 2px solid #E60013;

            .textBar02 {
              color: #000;
              margin: 20px 0 0 0;
            }

            .textBar03 {
              display: block;
            }
          }

          &.selected04 {
            border: 2px solid #FB600B;

            .textBar02 {
              color: #000;
              margin: 20px 0 0 0;
            }

            .textBar03 {
              display: block;
            }
          }


          .textBar01Box {
            display: flex;
            justify-content: left;
            width: 100%;
          }

          .textBar01 {
            position: absolute;
            top: -2px;
            left: -2px;
            padding: 6px 5px 5px 5px;
            //background-color: #5CD248;
            font-size: 0.6rem;
            line-height: 0.6rem;
            border-bottom-right-radius: 10px;
            z-index: 10;

            &.type02 {
              background-color: #FFC700;
            }

            &.type03 {
              background-color: #E60013;
            }

            &.type04 {
              background-color: #FB600B;
            }
          }

          .textBar02 {
            text-align: center;
            padding: 2px 0;
            width: 100%;
            font-size: 1rem;
            line-height: 1rem;
            color: #B8B8B8;
            font-weight: 700;
            margin: 28px 0 0 0;
          }

          .textBar03 {
            display: none;
            text-align: center;
            padding: 4px 0;
            width: 100%;
            font-size: 0.6rem;
            line-height: 0.6rem;
            color: #9D9B98;
            font-weight: 400;
          }
        }

      }

      /*充值方式 */
      .pDespoitBar3rdBlock {
        display: block;
        width: 100%;
        //background-color: #5CD248;
      }

      /*充值方式選項 */
      .pDespoitBar3rdBoard {
        display: block;
        width: calc(100vw - 20px);
        background-color: #fff;
        margin: 10px 10px 10px 10px;
        padding: 10px;
        border-radius: 10px;
        color: #000;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.5rem;

        .pDespoitBar3rdSelectBar {
          width: 100%;
          display: flex;
          justify-content: left;
          align-items: flex-start;
          flex-wrap: wrap;
          //background-color: #1C4F3E;

          .pDespoitBar3rdSelectBox {
            position: relative;
            width: calc(25% - 6px);
            margin: 3px 3px;
            height: 62px;
            border: 1px solid #D9D9D9;
            //background-color: #1C4F3E;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            &.selected {
              border: 1px solid #ED504C;

              .tagSuggest {
                display: block;
              }
            }

            .selectedIcon {
              position: absolute;
              right: 0px;
              bottom: 0;
              width: 20px;
            }

            .tagSuggest {
              position: absolute;
              right: -40px;
              top: 0px;
              width: 100px;
              font-size: 0.6rem;
              text-align: center;
              line-height: 1.2rem;
              color: #fff;
              font-weight: 400;
              transform: rotate(45deg) scale(0.8);
              background: linear-gradient(90deg, #FF6E61 0%, #EB4D4A 100%);
              display: none;
            }

            .centerBox {
              width: 90%;
              //background-color: #2DCD6C;
              display: block;

              .centerBoxImg {
                display: flex;
                justify-content: center;
              }

              .centerBoxText {
                font-size: 0.8rem;
                text-align: center;
                line-height: 1rem;
                color: #B8B8B8;
              }
            }
          }
        }
      }

      /*充值方式選項內容清單 */
      .pDespoitBar4thBlock {
        display: block;
        width: 100%;
        height: calc(100vh - 320px);
        padding: 0 0 170px 0;
        background-color: #a33069;
        overflow-y: auto;

        &::-webkit-scrollbar {
          display: none;
        }

        .pDespoitBar4thBox {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          width: calc(100vw - 20px);
          background-color: #fff;
          margin: 5px 10px 10px 10px;
          padding: 10px;
          border-radius: 10px;

          .arrowBox {
            padding: 10px 10px;
            display: flex;
            align-items: center;
            background-color: #2DCD6C;
          }
        }
      }

    }
  }
}

.outSideControl {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 0 50px 0;
  margin-top: 0px !important;
  //background-color: #FFCE51;
}



.userInfo-leftNav {
  width: 20%;
  background: #fff;
  // border: 1px solid #61C3A7;
border: none;
border-right: 1px solid #dee2e6;

  .list-group-item {
    cursor: pointer;
    border-bottom: 1px solid #dee2e6;
    background-color: transparent;
color: #000;
    &.active {
      margin-top: 0;
      color: #fff;
      border: none;
      background: linear-gradient(to top, #171c1c, #004d3d);
      cursor: default;

      &:hover {
        color: #FFCE51;
      }

    }

    &:hover {
      color: #FFCE51;
    }

    span {
      color: #fff;
    }
  }

  .router-link-active {
    margin-top: 0;
   
    border: none;
    background: linear-gradient(to top, #0882f6, #4fbbfd);
    cursor: default;
color: #fff;
    &:hover {
      color: #ffce51;
    }
  }
}

.userInfo-rigthDm {
  width: 20%;
}

.main-content.aab {

  .userInfo-leftNav {
    padding-top: .3rem!important;
    background: #282828;
    border: 1px solid #666666;
    a.list-group-item {
      padding: .2rem .3rem;
    }
  }
  .router-link-active {
    margin-top: 0;
    color: #ff4d00;
    background: linear-gradient(to bottom, #444444, #282828);
    cursor: default;

    &:hover {
      color: #ff4d00;
    }
  }
  
}
}
</style>