<template>

  <div class="userInfo-middleContent pr-4">
    <form class="w-100 pt-4">

      <div class="d-flex justify-content-center flex-column align-items-center" v-if="depositPayResp.length === 0">
        <img src="@/assets/img/common/history-nodata.png" />
        <span>{{ $t('no_information') }}</span>
        <!--  無資料 -->
      </div>

      <template v-else>
        <div class="d-flex">
          <div class="w-25">
            <label class="form-label">{{ $t("recharge_method") }}</label>
          </div>
          <div class="w-75">
            <div class="mb-4 despoit-way scrollbar">
              <!-- 支付方式 -->
              <template v-for="(item, index) in depositPayResp" :key="item">
                <div class="way-1" :class="{ active: activeIndex === index }" @click="selectedDepositType(item); activeIndex = index">
                  <img :src="item.iconUrl" alt="">
                  <span>{{ item.name }}</span>
                </div>
              </template>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="w-25">
            <label class="form-label">{{ $t("select_channel") }}</label>
          </div>
          <div class="w-75">
            <div class="mb-4 position-relative choice-chanel">
              <!-- 支付通道 -->
              <a href="javascript:void(0)" class="button lan-button" :class="[showPopup ? 'show-popup' : '']" @mouseleave="showPopup = false">
                <div class="d-flex" @click="showPopup = true">
                  <img :src="selected.iconUrl" alt="">
                  <div class="ml-2">
                    <span>{{ selected.channel.name }}</span>
                    <span class="d-block notice">{{ $t('oneTimeLimit') }}： {{ selected.channel.minMoney }} ~ {{ selected.channel.maxMoney }} {{ selected.channel.currency.currencyId }}{{ selected.protocol ? '(' + selected.protocol + ')' : '' }}</span>
                  </div>
                </div>

                <span @click="showPopup = true" class="fa-solid fa-caret-down"><font-awesome-icon icon="fa-solid fa-caret-down" /></span>

                <div class="subLanMenu">
                  <!-- 支付通道列表 -->
                  <template v-for="(item, index) in depositPayResp" :key="item">
                    <template v-if="activeIndex === index">
                      <template v-for="(channel) in item.channels" :key="channel">
                        <a class="lang-option" @click="selectedDepositChannel(item, channel)">
                          <img :src="item.iconUrl" alt="">
                          <span>{{ channel.name }}</span>
                          <span class="d-block notice">{{ $t('oneTimeLimit') }}： {{ channel.minMoney }} ~ {{ channel.maxMoney }} {{ channel.currency.currencyId }}{{ item.currency.protocol ? '(' + item.currency.protocol + ')' : '' }}</span>
                        </a>
                      </template>
                    </template>
                  </template>

                </div>
              </a>
            </div>
          </div>
        </div>

        <!--匯款金額-->
        <div class="d-flex">
          <div class="w-25">
            <label class="form-label">{{ $t("remittance_amount") + '(' + selected.channel.currency.currencyId + ")" }}</label>
          </div>
          <div class="w-75">
            <div class="mb-4 text-left">
              <input type="number" class="form-control" @keydown="avoidDecimal" v-model="sendOrderReq.amount" :placeholder="$t('please_enter_recharge_amount')">
            </div>
          </div>
        </div>
        <div v-if="selected.channel.exchangeRate !== 1 ||  selected.currencyNo !== selected.channel.currency.no" class="d-flex">
          <div class="w-25">
            <label class="form-label">{{ $t("exchange_rate") }}</label>
          </div>
          <div class="w-75">
            <div class="mb-4">
              {{selected.channel.exchangeRate}}
            </div>
          </div>
        </div>
        <!--充值金額-->
        <div v-if="selected.channel.exchangeRate !== 1 ||  selected.currencyNo !== selected.channel.currency.no" class="d-flex">
          <div class="w-25">
            <label class="form-label">{{ $t("recharge_amount") + "(" + selected.currencyId + ")" }}</label>
          </div>
          <div class="w-75">
            <div class="mb-3 text-left">
              <span style="font-size:16px;">
                {{ stringToMoney(sendOrderReq.amount * selected.channel.exchangeRate)}}
              </span>
            </div>
          </div>
        </div>

        <div class="d-flex">
          <div class="w-25">
            <label class="form-label no-wrap" v-if="quickAmount.length > 0">{{ $t("pleaseChooseRechargeAmount") }}</label>
          </div>
          <div class="w-75">
            <div class="mb-4 text-left deposit-quota">
              <div class="row">
                <template v-for="(item) in quickAmount" :key="item">
                  <div class="col" @click="sendOrderReq.amount = item">{{ item }}</div>
                </template>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-primary d-block my-3" @click="sendOrder()">{{ $t("submit_application") }}</button>
      </template>
    </form>
    <div v-if="channelAction === 2" class="d-table mx-auto">
      <qrcode :value="qrcodeUrl"></qrcode>
      <p>{{ $t('order_number') +'：' + orderId}}</p>
    </div>

    <!-- 加載 -->
    <loading v-model:active="isLoading" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />
  </div>
</template>

<script>

// 充值支付
export class DepositPay {
  iconUrl = '';     // 圖標
  currencyId = '';  // 貨幣
  currencyNo = '';  // 貨幣
  protocol = '';    // 貨幣協議
  channel = new DepositChannel();
}

// 支付通道
export class DepositChannel {
  no = 0;                 // 支付通道編號
  name = '';              // 名稱
  payStatus = 0;          // 支付狀態(0=無,1=熱門(推薦),2=快速)
  minMoney = 0;           // 最小限額
  minMoneyStr = '';       // 最小限額顯示
  maxMoney = 0;           // 最大限額
  maxMoneyStr = '';       // 最大限額顯示
  discountRatio = 0;      // 優惠比例
  discountRatioStr = '';  // 優惠比例顯示
  quickAmount = '';       // 快捷金額
  isDecimalPoint = true;  // 是否開啟小數點
  action = 0;             // 動作(1=Url 跳轉,2=Qr Code)
  tip = '';               // 提示訊息
}


// 發送入款訂單
export class SendOrderReq {
  sessionKey = '';    // Session Key*
  payChannelNo = 0;   // 支付通道編號*
  amount = 0;         // 存入金額*
}
</script>

<script setup>
import { ref, reactive, onMounted, watch } from 'vue';
import apiService from '@/api/apiService';
import common from "@/utils/common";
import { useI18n } from "vue-i18n";
import Loading from 'vue-loading-overlay';
import Swal from "sweetalert2";
import { useStore } from "vuex"
import Qrcode from 'vue3-qrcode';

const store = useStore();
const activeIndex = ref(0);
const showPopup = ref(false);
const isLoading = ref(false);
const depositPayResp = reactive([]);
const selected = reactive(new DepositPay());
const sendOrderReq = reactive(new SendOrderReq());
const quickAmount = reactive([]);
const { errorHandling, stringToMoney, userLogout } = common();
const { t } = useI18n();
const channelAction = ref(null);
const orderId = ref('');
const qrcodeUrl = ref('');

// 取得線上入款支付資料
function getOnlineDepositPayList() {
  isLoading.value = true;
  apiService.post('/OnlineDepositPay/List', {
    sessionKey: localStorage.getItem("sessionKey"),
    lang: localStorage.getItem("locale"),
    currencyNo: Number(localStorage.getItem("currencyNo")),
  }).then((res) => {
    depositPayResp.splice(0)
    res.data.types.forEach(element => {
      depositPayResp.push(element);
    });
    if (depositPayResp.length > 0) {
      selectedDepositChannel(depositPayResp[0], depositPayResp[0].channels[0]);
    }
  }).catch((err) => {
    errorHandling(err);
  }).finally(() => {
    isLoading.value = false;
  });
}

// 選擇支付方式
function selectedDepositType(payType) {
  selectedDepositChannel(payType, payType.channels[0]);
}

// 選擇支付通道
function selectedDepositChannel(payType, payChannel) {
  selected.iconUrl = payType.iconUrl;
  selected.currencyId = payType.currency.currencyId;
  selected.currencyNo = payType.currency.no;
  selected.protocol = payType.currency.protocol;
  selected.channel = payChannel;
  showPopup.value = false;

  quickAmount.splice(0);

  // 快捷金額
  if (payChannel.quickAmount.length > 0) {
    payChannel.quickAmount.split('#').forEach(element => {
      if (Number(element)) quickAmount.push(element);
    });
  }
}

// 發送入款訂單
function sendOrder() {
  if (verifySendOrder()) return;
  isLoading.value = true;
  sendOrderReq.sessionKey = localStorage.getItem("sessionKey");
  sendOrderReq.payChannelNo = selected.channel.no;
  apiService.post('/OnlineDepositPay/SendOrder', sendOrderReq).then((res) => {
    Object.assign(sendOrderReq, new SendOrderReq());
    if(selected.channel.action === 2){
      channelAction.value = 2;
      orderId.value = res.data.orderId;
      qrcodeUrl.value = res.data.qrcode
    } else{
      const url = encodeURIComponent(res.data.payUrl);
      window.open("/#/Load?u=" + url, "payUrl");
    }
    
  }).catch((err) => {
    if (err.response == null || err.response.status == null) {
      Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
    } else {
      switch (err.response.status) {
        case 400: // 參數錯誤
          Swal.fire("", t("sportApiThirdPartyCode_parameterError"), "error");
          break;
        case 401: // Token 失效
          Swal.fire("", t("sportApiThirdPartyCode_invalidToken"), "info");
          break;
        case 403: // 沒有權限
          Swal.fire("", t("sportApiThirdPartyCode_notAuthorized"), "warning");
          break;
        case 452: // 當前支付類型不可使用
          Swal.fire("", t("terminated"), "warning");
          break;
        case 459: // 通道維護
          Swal.fire("", t("channel_maintenance"), "warning");
          break;
        case 462: // 分站已停用
          Swal.fire("", t("terminated"), "warning");
          break;
        case 499: // IP 系統維護
          Swal.fire("", t("sportApiThirdPartyCode_systemMaintenanceAPIIntegrationFile"), "warning");
          break;
        default:
          errorHandling(err);
          break;
      }
    }
    
  }).finally(() => {
    isLoading.value = false;
  });
}

// 驗證訂單
function verifySendOrder() {
  let msg = '';

  // 金額
  if (sendOrderReq.amount <= 0)
    msg += t('please_enter_remittance_amount') + '\n';
  else if (!Number.isInteger(+(sendOrderReq.amount)))
    msg += t('must_be_integer') + '\n';
  else if (sendOrderReq.amount < selected.channel.minMoney || sendOrderReq.amount > selected.channel.maxMoney)
    msg += t('single_recharge_amount_range') + selected.channel.minMoney.toString() + '~' + selected.channel.maxMoney.toString() + '\n';


  if (msg.length == 0) return false;
  msg = '<pre>' + msg + '</pre>';
  Swal.fire("", msg, "warning");
  return true;
}

function avoidDecimal() {
  if (event.key === '.') event.preventDefault();
}

watch(
  () => store.state.wallets,
  () => {
    getOnlineDepositPayList();
  }
)

watch(
  () => store.state.lang,
  () => {
    getOnlineDepositPayList();
  }
)

onMounted(() => {
  if (!localStorage.getItem("sessionKey")) { userLogout(); return; }
  getOnlineDepositPayList();
})

</script>

<style lang="scss" scoped>
.no-wrap {
  white-space: nowrap;
}

.userInfo-middleContent {
  background-color: #2a3f3a;
  width: 80%;

  label {
    display: block;
    margin-left: 5rem;
    white-space: nowrap;
    margin-bottom: 0;
  }

  .form-control {
    display: inline-block;
    width: 100%;
    background: #fff;
    border: 0.5px solid rgba(177, 177, 177, 0.5764705882);
    // color: #fff;
  }

  button.btn-primary {
    margin: auto;
    width: 20%;
    background: linear-gradient(to bottom, #006d57, #004d3d);
    border-color: #00805b;

    &:hover {
      color: #ffce51;
    }
  }
}

.despoit-way {
  text-align: start;
  margin-left: -0.5rem;
  display: flex;
  overflow-x: auto;
  div {
    flex: 0 0 auto;
    cursor: pointer;
    margin: 0 0.5rem;
    padding: 0.8rem 1.2rem;
    border: 1px solid rgba(197, 185, 211, 0.4);
    margin-bottom: 10px;
    &:hover {
      border: 1px solid #808080;
    }

    &.active {
      cursor: default;
      border: 1px solid #ffffff;
    }

    img {
      display: inline-block;
      width: 26px;
      margin-right: 0.5rem;
      vertical-align: middle;
    }
  }
}
.scrollbar::-webkit-scrollbar {
  height: 8px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #004d3e 2.85%, #04bb97 97.76%);
}
a.lan-button {
  position: relative;
  width: 100%;
  display: block;
  background: #fff;
  border: 1px solid rgba(197, 185, 211, 0.4);
  box-shadow: none;
  text-align: start;
  margin-bottom: 1rem;
  color: #000;
  border-radius: 5px;

  img {
    width: 44px;
  }

  .notice {
    color: #6f6f6f;

    &.position-absolute {
      right: 49px;
      bottom: 11px;
    }
  }

  .fa-caret-down {
    position: absolute;
    top: 12px;
    right: 10px;
    color: #000000;
    font-size: 1.3rem;
  }
}

.subLanMenu {
  position: absolute;
  right: 0;
  top: 65px;
  opacity: 0;
  visibility: hidden;
  min-width: auto;
  padding: 0px;
  background-color: #fff;
  border: 2px solid #61c3a7;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  width: 100%;
  color: #000;

  .lang-option {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 1rem;
    text-align: start;
    color: #000;

    &:hover {
      background: #bbbbbb;
    }

    img {
      width: 10%;
      margin-right: 1rem;
    }
  }
}

a.lan-button.show-popup .subLanMenu {
  opacity: 1;
  visibility: visible;
}

a.lan-button.show-popup .subLanMenu a:hover {
  color: #387063;
}

.enter-account {
  margin-top: 4.5rem;
}

.choice-chanel {
  .chanel-type {
    font-weight: normal;

    .chanel {
      background: #1c1b27;
      border: 1px solid rgba(197, 185, 211, 0.1);
      border-left: none;
      padding-right: 4rem;
      padding-bottom: 10px;

      .chanel-title {
        margin: 1rem 0;
        font-size: 0.85rem;
      }

      img {
        width: 140px;
      }

      .notice {
        margin: 1rem 0;
        color: #b8b8b8;
      }
    }
  }
}

.form-control {
  width: 100%;
}

.deposit-quota {
  .row {
    margin-left: -0.2rem;
    margin-right: -0.2rem;
  }
  .col {
    cursor: pointer;
    padding: 0.5rem 2rem;
    background: #fff;
    border-radius: 5px;
    color: #999593;
    font-size: 1.2rem;
    margin: 0 0.2rem;
    text-align: center;

    &:hover {
      background: #a68fb6;
      color: #fff;
    }

    &.active {
      background: #444444;
      color: #eba519;
    }
  }
}

.errorMsg {
  color: red;
}







.aaf{
  .no-wrap {
  white-space: nowrap;
}

.userInfo-middleContent {
  background-color: #fff;
  width: 80%;

  label {
    display: block;
    margin-left: 5rem;
    white-space: nowrap;
    margin-bottom: 0;
  }

  .form-control {
    display: inline-block;
    width: 100%;
    background: #fff;
    border: 0.5px solid rgba(177, 177, 177, 0.5764705882);
    // color: #fff;
  }

  button.btn-primary {
    margin: auto;
    width: 20%;
    background: linear-gradient(to bottom, #009ef7, #007ef5);
    // border-color: #00805b;

    &:hover {
      color: #ffce51;
    }
  }
}

.despoit-way {
  text-align: start;
  margin-left: -0.5rem;
  display: flex;
  overflow-x: auto;
  div {
    flex: 0 0 auto;
    cursor: pointer;
    margin: 0 0.5rem;
    padding: 0.8rem 1.2rem;
    border: 1px solid rgba(197, 185, 211, 0.4);
    margin-bottom: 10px;
    &:hover {
      border: 1px solid #808080;
    }

    &.active {
      cursor: default;
      border: 1px solid #e8e3ed;
    }

    img {
      display: inline-block;
      width: 26px;
      margin-right: 0.5rem;
      vertical-align: middle;
    }
  }
}
.scrollbar::-webkit-scrollbar {
  height: 8px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #004d3e 2.85%, #04bb97 97.76%);
}
a.lan-button {
  position: relative;
  width: 100%;
  display: block;
  background: #fff;
  border: 1px solid rgba(197, 185, 211, 0.4);
  box-shadow: none;
  text-align: start;
  margin-bottom: 1rem;
  color: #000;
  border-radius: 5px;

  img {
    width: 44px;
  }

  .notice {
    color: #6f6f6f;

    &.position-absolute {
      right: 49px;
      bottom: 11px;
    }
  }

  .fa-caret-down {
    position: absolute;
    top: 12px;
    right: 10px;
    color: #000000;
    font-size: 1.3rem;
  }
}

.subLanMenu {
  position: absolute;
  right: 0;
  top: 65px;
  opacity: 0;
  visibility: hidden;
  min-width: auto;
  padding: 0px;
  background-color: #fff;
  border: 2px solid #5bc5ff;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  width: 100%;
  color: #000;

  .lang-option {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 1rem;
    text-align: start;
    color: #000;

    &:hover {
      background: #bbbbbb;
    }

    img {
      width: 10%;
      margin-right: 1rem;
    }
  }
}

a.lan-button.show-popup .subLanMenu {
  opacity: 1;
  visibility: visible;
}

a.lan-button.show-popup .subLanMenu a:hover {
  color: #387063;
}

.enter-account {
  margin-top: 4.5rem;
}

.choice-chanel {
  .chanel-type {
    font-weight: normal;

    .chanel {
      background: #1c1b27;
      border: 1px solid rgba(197, 185, 211, 0.1);
      border-left: none;
      padding-right: 4rem;
      padding-bottom: 10px;

      .chanel-title {
        margin: 1rem 0;
        font-size: 0.85rem;
      }

      img {
        width: 140px;
      }

      .notice {
        margin: 1rem 0;
        color: #b8b8b8;
      }
    }
  }
}

.form-control {
  width: 100%;
}

.deposit-quota {
  .row {
    margin-left: -0.2rem;
    margin-right: -0.2rem;
  }
  .col {
    cursor: pointer;
    padding: 0.5rem 2rem;
    background: #fff;
    border-radius: 5px;
    color: #999593;
    font-size: 1.2rem;
    margin: 0 0.2rem;
    text-align: center;

    &:hover {
      background: #a68fb6;
      color: #fff;
    }

    &.active {
      background: #444444;
      color: #eba519;
    }
  }
}

.errorMsg {
  color: red;
}
}



</style>