<template>
  <main class="main-content">
    <div class="outsideBox">
      <div class="game-contbox pb-4">
        <div class="game-banner type02"></div>
        <div class="about-cont">
          <div class="about_list fl">
            <div class="sTitle type02">
              <img src="@/assets/aag/img/other/appBanner.jpg" />
              <!--------
                    <div class="text01">快捷導航</div>
                    <div class="text02">NAVIGATION</div>------->
            </div>
            <ul class="about_list_ul">
              <li @click="isShowData('About')">
                <img src="@/assets/aag/img/other/itemIcon001.png" class="picIcon" />
                <span>{{ $t("aboutUs") }}</span>
              </li>
              <li @click="isShowData('Story')">
                <img
                  src="@/assets/aag/img/other/icon_BrandStory.svg"
                  class="picIcon"
                />
                <span>{{ $t("BrandStory") }}</span>
              </li>
              <li @click="isShowData('Deposit')">
                <img src="@/assets/aag/img/other/itemIcon002.png" class="picIcon" />
                <span>{{ $t("depositHelp") }}</span>
              </li>
              <li @click="isShowData('Withdraw')">
                <img src="@/assets/aag/img/other/itemIcon003.png" class="picIcon" />
                <span>{{ $t("withdrawalHelp") }}</span>
              </li>
              <li @click="isShowData('Contact')">
                <img src="@/assets/aag/img/other/itemIcon004.png" class="picIcon" />
                <span>{{ $t("contactUs") }}</span>
              </li>
              <li @click="isShowData('Recommend')">
                <img src="@/assets/aag/img/other/itemIcon005.png" class="picIcon" />
                <span>{{ $t("recommend_friend") }}</span>
              </li>
            </ul>
            <div class="im picBox">
              <img src="@/assets/aag/img/other/aboutMyPhone.png" />
            </div>
          </div>
          <div class="about_right fr">
            <div class="cont">
              <article id="articles">
                <div class="article" v-show="ShowData === 'About'">
                    <template v-for="(item, index) in staticResourceResp" :key="index">
                        <div v-if="item.resourceId==='AboutUs_PC'" >
                          <div v-html="item.content"></div>
                        </div>
                    </template>
                  
                </div>
                <div class="article" v-show="ShowData === 'Contact'">
                    <template v-for="(item, index) in staticResourceResp" :key="index">
                        <div v-if="item.resourceId==='Contact_PC'" >
                          <div v-html="item.content"></div>
                        </div>
                    </template>
                  
                </div>
                <div class="article" v-show="ShowData === 'Deposit'">
                    <template v-for="(item, index) in staticResourceResp" :key="index">
                        <div v-if="item.resourceId==='DepositHelp_PC'" >
                          <div v-html="item.content"></div>
                        </div>
                    </template>
                  
                </div>
                <div class="article" v-show="ShowData === 'Withdraw'">
                    <template v-for="(item, index) in staticResourceResp" :key="index">
                        <div v-if="item.resourceId==='WithdrawalHelp_PC'" >
                          <div v-html="item.content"></div>
                        </div>
                    </template>
                  
                </div>
                <div class="article" v-show="ShowData === 'Story'">
                    <template v-for="(item, index) in staticResourceResp" :key="index">
                        <div v-if="item.resourceId==='BrandStory_PC'" >
                          <div v-html="item.content"></div>
                        </div>
                    </template>
                 
                </div>
                <div class="article agency-box" v-show="ShowData === 'Recommend'">
                  <div class="agency-promo">
                    <div class="agency-share">
                      <div>
                        <div class="qrCode">
                          <qrcode :value="host"></qrcode>
                        </div>
                        <div>
                          <div class="d-none" ref="hostText">{{ host }}</div>
                          <div class="copy-link" @click="copyText(hostText)">
                            {{ $t("copy_link") }}
                          </div>
                        </div>
                      </div>

                      <div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <loading-overlay :active="isLoading" :can-cancel="false" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff">
  </loading-overlay>
</template>
<script setup>
import { ref, onMounted, watch, computed, reactive } from "vue";
import { useRoute } from "vue-router";
import Qrcode from "vue3-qrcode";
import common from "@/utils/common";
import LoadingOverlay from 'vue-loading-overlay';
import apiService from '@/api/apiService';
import { useStore } from 'vuex';

const route = useRoute();
const { copyText, errorHandling } = common();
const host = ref(window.location.host);
const hostText = ref(null);
const ShowData = ref("");
const isLoading = ref(false);
const store = useStore();
const staticResourceResp = reactive([]);
const DomainLayoutId = computed(() => store.state.DomainLayoutId);
const lang = computed(() => store.state.lang);

const isShowData = (name) => {
  ShowData.value = name;
};


//取得關於我們靜態API資料
const getStaticResource = () => {
  isLoading.value = true;
 
  apiService.post('/StaticResource/List', {
    lang: localStorage.getItem("locale"),
    DomainLayoutId: DomainLayoutId.value,

  }).then((res) => {
    staticResourceResp.splice(0);//清空陣列資料
    res.data.datas.forEach(element => {
      staticResourceResp.push(element);
    });
  }).catch((err) => {
    errorHandling(err);
  }).finally(() => {
    isLoading.value = false;
  });

}

onMounted(() => {
  ShowData.value = route.query.info;
  getStaticResource();
});

//監聽語系變化
watch(
  () => lang.value.key,
  () => {
    getStaticResource();
  }
)

watch(
  () => route.query.info,
  () => {
    ShowData.value = route.query.info;
  }
);
</script>

<style lang="scss" scoped>
.box-translate {
  display: block;
  padding-top: 0 !important;
}

.main-content {
  position: relative;
  display: block;
  background: linear-gradient(to bottom, #171c1c, #004d3d) !important;
  background: #0a0a0a !important;
  padding: 90px 0 90px 0;
  display: flex;
  justify-content: center;

  .outsideBox {
    position: relative;
    display: block;
    //background-color: #cd841d;
  }
}

.game-contbox {
  width: 1100px;
  //background: #8d1111;
  color: #fff;
  overflow: hidden;
  background: #2a3f3a;
  background: #24272b;

  .game-banner {
    display: none;
    background: url(@/assets/aag/img/other/appBanner.jpg) no-repeat top center;
    height: 194px;
    border-bottom: 1px solid;

    &.type02 {
      background: none;
      height: 0px;
    }
  }

  .about-cont {
    padding: 34px;

    .about_list {
      //background: #353030;
      width: 260px;
      padding: 5px;
      //border: 1px solid #434343;
      border: 0.25px solid #0a0a0a;
      float: left;
      background: #1b2026;
      height: 900px;

      .sTitle {
        height: 69px;
        margin: 0px auto;
        width: 100%;

        &.type02 {
          height: 66px;
          padding: 0px;
          background-color: #666;
          display: flex;
          justify-content: center;
          align-items: center;
          //flex-wrap: wrap;
          flex-direction: column;
          color: #985c08;
          background-image: linear-gradient(to top, #cd841d, #fff7a9);

          .text01 {
            font-size: 22px;
            margin-top: 5px;
          }

          .text02 {
            font-size: 14px;
          }
        }

        img {
          vertical-align: middle;
          border: 0;
          width: 100%;
          height: auto;
        }
      }

      ul {
        padding: 0;
        margin: 0;
        margin-bottom: 30px;

        li {
          width: 100%;
          cursor: pointer;
          //background: #353030;
          font-size: 18px;
          line-height: 22px;
          padding: 20px 0 20px 0;
          text-align: left;
          color: #fff;
          border-bottom: 1px solid #0a0a0a;
          list-style: none;
          display: flex;
          justify-content: left;
          align-items: center;

          &:hover {
            background: #0a0a0a;
          }

          .picIcon {
            width: 24px;
            margin: 0 10px 0 10px;

            &img {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: auto;
            }
          }

          a {
            margin: 0 20px;
            color: #666;
            display: block;
            padding: 14px 0 14px 20px;

            img {
              max-width: 36px;
              border: 0;
              vertical-align: middle;
            }

            span {
              display: inline-block;
              padding-left: 20px;
            }
          }
          .textItemBox {
            //background-color: #fff7a9;
            min-width: 72%;
            text-align: left;
            max-width: 178px;
            overflow: hidden;
          }
        }
      }

      .picBox {
        width: 70%;
        margin: 0 15% 0 15%;

        & img {
          width: 100%;
          height: auto;
        }
      }
    }

    .about_right {
      width: 750px;
      padding: 5px 15px 10px 0px;
      float: right;

      .textTitle1st {
        font-size: 20pt;
        line-height: 24px;
        margin-bottom: 20px;
        display: block;
        //background: #c20a0a;
        &.type02 {
          margin: 0px 0 10px 0;
          color: #ecd0a0;
          font-size: 15pt;
          font-weight: 600;
        }
      }

      .textInside {
        display: block;
        font-size: 13pt;
        line-height: 30px;
        mso-font-kerning: 1pt;
        font-weight: lighter;

        &.type02 {
          margin: 20px 0 10px 0;
          color: #ecd0a0;
          font-size: 15pt;
          font-weight: 600;
        }

        &.type03 {
          color: #ecd0a0;
        }
      }
    }
  }

.agency-box{
  height:0;
   .agency-promo {
    position: relative;
    background: url("@/assets/aag/img/common/agency-promoBg.png") no-repeat;
    height: 1048px;
    width: 935px;
    margin-left: -1rem;
    font-weight: normal;
    background-size: 85% 85.85%;
    margin-top: -5px;

    .agency-share {
      position: absolute;
      bottom: 25rem;
      left: 44.5%;  
      transform: translate(-55%);
      text-align: center;

      .qrCode {
        margin-bottom: 2rem;
        display: inline-block;
        img {
         width: 130px;
        }
      }
      .copy-link {
        cursor: pointer;
        padding-top: 1.5rem;
        background: url('@/assets/aag/img/phone/promo-btnBg.png') no-repeat;
        text-align: center;
        margin-bottom: 1rem;
        cursor: pointer;
        font-size: 1.2rem;
        transition: all 0.3s ease-in-out;
        font-weight: 800;
        width: 297px;
        height: 73px;
        background-position: 50%;
        color: #000;
        &:hover {
          color: #ff8a00;
        }
      }
      .copy-text {
        margin-bottom: 0.8rem;
        text-align: left;
        line-height: 1.1rem;
        span {
          color: red;
          font-weight: 600;
        }
      }
      .share {
        border: 2px solid #f4cc4b;
        border-radius: 20px;
        background: #123f16;
        text-align: center;
        margin: auto;
        padding: 1.5rem 1rem 1rem 1rem;
        display: inline-block;

        .share-text {
          font-size: 3rem;
          font-weight: 900;
          background: radial-gradient(
            47.92% 517.92% at 52.08% 50.68%,
            #f2d57c 0%,
            #d8b251 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }
      .promo-rules {
        margin-top: 1.5rem;
        ul {
          background: #0c4113;
          border-radius: 10px;
          padding: 0.5rem;
          text-align: center;
          li {
            display: inline-block;
            font-size: 1rem;
            margin: 0 0.3rem;
          }
        }
      }
    }
  }
}
 
}
</style>
