<template>
  <div class="phone">
    <div class="gameHallPage">
      <div class="hallHeader">
        <a href="javascript:history.go(-1)">
          <div class="back"><font-awesome-icon icon="fa-solid fa-chevron-left" /> </div>
        </a>
        <div class="title">{{ selectedGameClass.name }}</div>
        <div class="search2" @click="isSearched=!isSearched"><font-awesome-icon icon="fa-solid fa-magnifying-glass" /></div>
      </div>

      <div v-if="isLogin" class="info">
        <div class="user-info">
          <div class="account">{{ $t("username") }}： <span>{{user.account}}</span></div>
          <div class="user-level">VIP {{user.level}}</div>
        </div>

        <div class="currency-type">
          <div class="currency-info">
            <img :src="wallets[0].currency.img" alt="">
            {{stringToMoney(wallets[0].balance)}}
          </div>
          <div class="currency-change">
            <div class="refreshIcon" ref="refreshIcon" @click="refreshWallets(refreshIcon)">
              <font-awesome-icon icon="fa-solid fa-rotate-right" />
            </div>
          </div>
        </div>
      </div>
      <div class="searchFun" v-show="isSearched===true">
        <swiper class="game-slide-menu" :modules="modules" :slides-per-view="3" :loop="false" :scrollbar="false" @slideChange="onSlideChange" @swiper="initSwiper">
          <template v-for="(subMenu,index) in selectedGameClass.subMenu" :key="index">
            <swiper-slide v-if="subMenu.status === 0 && subMenu.clickAction === 1" :class="[subMenu.gameThirdPartyNo === selectedGameThirdParty.gameThirdPartyNo ? 'active' : '']">
              <div @click="selectGameThirdPartyNo(subMenu.gameThirdPartyNo, subMenu.id )">
                {{subMenu.name}}
              </div>
            </swiper-slide>
          </template>

          <div class="slide-left" ref="slideLeft" :class="{'d-none': slideLeftHidden}"><font-awesome-icon icon="fa-solid fa-chevron-left" /><font-awesome-icon icon="fa-solid fa-chevron-left" /> {{ $t("swipeLeft") }}</div>
        </swiper>
        <div class=" winner-marquee">
          <Vue3Marquee class="marquee" :duration="60">
            <div v-for="(item,index) in memberWin" :key="index">
              <span style="color:red; margin-left: 60px;font-weight:400">{{$t("bigWinner")}}</span>
              {{ item.account }} {{ $t("bet_info_status_win") }}
              <span style="color:red;font-weight:400">{{stringToMoney(item.win)}}</span>
            </div>
          </Vue3Marquee>
        </div>
        <div class="search">
          <select class="form-select search-tab" v-model="selectedFilteredClassType" @change="changeSelectedFilteredClassType" aria-label="Default select example">
            <option value="0">{{$t("all")}}</option>
            <option v-for="(item,index) in filteredClassType" :key="index" :value="item.no">{{$t("classType"+item.no)}}</option>
          </select>
          <div class="input-group mb-3">
            <input type="text" v-model="filteredGameName" class="form-control">
            <button class="btn btn-outline-secondary" type="button"><font-awesome-icon icon="fa-solid fa-magnifying-glass" /></button>
          </div>
        </div>
      </div>
      <div class="gameList-wrapper">
        <div class="row">
          <template v-for="(game, index) in selectedGameThirdPartyAndFilteredClassType.games" :key="index">
            <template v-if="game.status == 0 && isLogin">
              <router-link class="openGame" :to="{name:'OpenGame', query: { gameThirdPartyNo: gameThirdPartyNo, thirdPartyGameNo: game.thirdPartyGameNo, thirdPartyTableNo:game.thirdPartyTableNo }}" target="_blank">
                <div class="col-4 mb-1" :class="{active: (filteredGameName === '' || game.name.toLowerCase().indexOf(filteredGameName.toLowerCase()) >= 0)}">
                  <img v-if="game.simage" :src="game.simage" alt="" @error.once="imgError">
                  <img v-else src="@/assets/aad/img/common/default.jpg">
                  <div><span class="gamename">{{game.name}}</span></div>
                </div>
              </router-link>
            </template>
            <template v-else>
              <div class="col-4 mb-1" :class="{active: (filteredGameName === '' || game.name.toLowerCase().indexOf(filteredGameName.toLowerCase()) >= 0)}" @click="clickStart(game)">
                <img v-if="game.simage" :src="game.simage" alt="" @error.once="imgError">
                <img v-else src="@/assets/aad/img/common/default.jpg">
                <div><span class="gamename">{{game.name}}</span></div>
                <div class="maintain-msg" :class="[game.status === 2 ? 'active' : '']"><font-awesome-icon icon="fa-solid fa-screwdriver-wrench" /> <span class="d-block"> 維護中</span> </div>
              </div>
            </template>
          </template>
        </div>
      </div>
    </div>
  </div>

  <!-- 底部選單 -->
  <phone-footer-menu-view />
  <!-- 加載 -->
  <loading v-model:active="isLoadingObj.value" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />
</template>

<script setup>
import { ref, reactive, onBeforeMount, watch, computed } from 'vue';
import { Swiper, SwiperSlide } from 'swiper/vue';
import { Navigation, Pagination, Scrollbar, A11y, EffectFade, Autoplay } from 'swiper';
import PhoneFooterMenuView from '@/components/aad/phone/PhoneFooterMenuView.vue'
import { useStore } from 'vuex';
import { storeToRefs } from "pinia";
import { useGamesStore } from '@/store/game'
import common from "@/utils/common";
import 'swiper/css';
import 'swiper/css/pagination';
import 'swiper/css/scrollbar';
import { Vue3Marquee } from 'vue3-marquee';
import 'vue3-marquee/dist/style.css';
import Loading from 'vue-loading-overlay';
import { Modal } from 'bootstrap';
import { useRouter } from "vue-router";

const router = useRouter();
const modules = [Navigation, Pagination, Scrollbar, A11y, EffectFade, Autoplay];
const games = useGamesStore();
const { gameClass, phoneMenu, gameThirdPartyNo } = storeToRefs(games);
const store = useStore();
const selectedGameClass = ref('')
const selectedGameThirdParty = ref('');
const selectedGameThirdPartyAndFilteredClassType = ref('');
const refreshIcon = ref(null);
const filteredGameName = ref('');
let isSetSelectedGameClass = false;
const DomainLayoutId = computed(() => store.state.DomainLayoutId);
const isLoadingObj = reactive({
  value:false
})
const isSearched = ref(true);
const { stringToMoney, refreshWallets, getGameThirdPartyGames } = common();
const classType = ref([
  {
    no: 1,
    name: "老虎機"
  },
  {
    no: 2,
    name: "捕魚機"
  },
  {
    no: 3,
    name: "街機"
  },
  {
    no: 4,
    name: "桌上遊戲"
  },
  {
    no: 5,
    name: "棋牌"
  },
  {
    no: 6,
    name: "其他"
  },
  {
    no: 7,
    name: "電子彩票"
  },
  {
    no: 8,
    name: "電競"
  },
  {
    no: 9,
    name: "彩票"
  },
  {
    no: 10,
    name: "體育"
  },
  {
    no: 11,
    name: "真人"
  },
  {
    no: 12,
    name: "虛擬體育"
  },
])
const filteredClassType = ref([]);
const selectedFilteredClassType = ref(0);

const memberWin = ref([]);
const slideLeft = ref(null);
const slideLeftHidden = ref(true);

const isLogin = computed(() => store.state.isLogin);
const user = computed(() => store.state.user);
const wallets = computed(() => store.state.wallets);

const initSwiper = swiper => {
  if (swiper.slides.length > 3) {
    slideLeftHidden.value = false;
  }
}
const onSlideChange = () => {
  slideLeft.value.classList.add("d-none")
}

const randomMemberWin = () => {
  for( let i = 0; i<4; i++){
    let money = Math.floor(Math.random() * 20000) + 7000;
    let randomLetters = generateRandomLetters() + "****";
    memberWin.value.push({
      account: randomLetters,
       win: money
    })
  }
}

const generateRandomLetters = () => {
  var letters = 'abcdefghijklmnopqrstuvwxyz';
  var result = '';
  
  for (var i = 0; i < 3; i++) {
    var randomIndex = Math.floor(Math.random() * letters.length);
    var randomLetter = letters.charAt(randomIndex);
    result += randomLetter;
  }
  
  return result;
}

// 輪播點選可切換gameThirdParty
const selectGameThirdPartyNo = async (gameThirdPartyNo, gameThirdPartyId) => {
  await games.setGameThirdPartyNo(gameClass.value, gameThirdPartyNo, gameThirdPartyId, 'gameHall');
  await getGameThirdPartyGames(gameThirdPartyNo,  isLoadingObj)
  selectedGameThirdParty.value = selectedGameClass.value.subMenu.find(item => item.gameThirdPartyNo === gameThirdPartyNo);
  
  setGameType();
  selectedFilteredClassType.value = 0
}
//初始化設定被選擇的遊戲種類
const setSelectedGameClass = () => {
  if (phoneMenu.value.length > 0) {
    const gameClassNo = localStorage.getItem('gameClass') ? +(localStorage.getItem('gameClass')) : 0;
    selectedGameClass.value = phoneMenu.value.find(item => item.no === gameClassNo);
    if (selectedGameClass.value.subMenu.length > 0 && isSetSelectedGameClass === false) {
      const gameThirdPartyNo = localStorage.getItem('gameThirdPartyNo') ? localStorage.getItem('gameThirdPartyNo') : selectedGameClass.value.subMenu[0].gameThirdPartyNo;
      selectedGameThirdParty.value = selectedGameClass.value.subMenu.find(item => item.gameThirdPartyNo === +(gameThirdPartyNo));
      setGameType();
    }
  }
}
//每個遊戲有自己的gameClassNo(遊戲小分類)，classType是完整的全部小分類，需要過濾出現有遊戲有哪些小分類，最後再補個all
const setGameType = () => {
  let gameClassNoArray = [];
  if(selectedGameThirdParty.value && selectedGameThirdParty.value.games){
    selectedGameThirdParty.value.games.forEach(game => {
      gameClassNoArray.push(game.gameClassNo)
    });
    gameClassNoArray = [...new Set(gameClassNoArray)].sort();
    filteredClassType.value = [];
    gameClassNoArray.forEach(no => {
      classType.value.forEach((item) => {
        if (item.no === no) {
          filteredClassType.value.push(item)
        }
      })
    })

    selectedGameThirdPartyAndFilteredClassType.value = { ...selectedGameThirdParty.value }
    isSetSelectedGameClass = true;
  }
}

//變更遊戲小分類
const changeSelectedFilteredClassType = () => {
  if (selectedFilteredClassType.value == "0") {
    selectedGameThirdPartyAndFilteredClassType.value = { ...selectedGameThirdParty.value }
  }
  else {
    selectedGameThirdPartyAndFilteredClassType.value.games = [];
    selectedGameThirdParty.value.games.forEach(game => {
      if (game.gameClassNo === selectedFilteredClassType.value) {
        selectedGameThirdPartyAndFilteredClassType.value.games.push(game);
      }
    })
  }
}

const clickStart = async () => {
  if (Modal.getInstance("#collapseTarget") == null) {
    let m = new Modal("#collapseTarget");
    m.show();
  } else {
    Modal.getInstance("#collapseTarget")?.show();
  }
}

watch(
  //直接本頁網址進來時，等API抓好資料再設定好被選擇的遊戲種類
  () => phoneMenu.value,
  () => {
    setSelectedGameClass();
  }, { deep: true }
);
onBeforeMount(async() => {
  if(localStorage.getItem("gameClass")){
    await games.setGameThirdPartyNo(+localStorage.getItem("gameClass"), +localStorage.getItem("gameThirdPartyNo"), localStorage.getItem("gameThirdPartyId") , 'gameHall')
    await getGameThirdPartyGames(+localStorage.getItem("gameThirdPartyNo"),  isLoadingObj)
  }
  else{
    router.push("/" + DomainLayoutId.value);
  }
  
  setSelectedGameClass();
  randomMemberWin();
});

// 圖片找不到給預設圖
function imgError(event) {
  event.target.src = require("@/assets/aad/img/common/default.jpg");
}

</script>

<style lang="scss" scoped>
.phone {
  background: #f5f5f5;
  color: #000;
  .gameHallPage {
    margin-bottom: 100px;
    .hallHeader {
      background: #d5921c;
      display: flex;
      justify-content: space-between;
      font-size: 1rem;
      color: #fff;
      line-height: 50px;

      .back {
        width: 50px;
        text-align: center;
      }

      .search2 {
        width: 50px;
        text-align: center;
      }
    }
  }
  .info {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #d9d9d9;
    height: 40px;
    background: #fff;

    .user-info {
      display: flex;
      justify-content: space-between;

      .account {
        color: #6f6f6f;
        margin-right: 1rem;
        font-size: 0.6rem;
        white-space: nowrap;
      }
      .user-level {
        background: linear-gradient(180deg, #9d2024 0%, #3f0303 100%);
        border-radius: 5px;
        display: inline-block;
        width: 50px;
        font-style: italic;
        margin-right: 10px;
        font-weight: 700;
        height: 20px;
        color: #fff;
        font-size: 12px;
        text-align: center;
      }
    }

    .currency-type {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 30px;
      padding: 0rem 0.5rem;
      display: flex;
      justify-content: space-between;
      height: 25px;
      width: 143px;
      .currency-info {
        display: flex;
        align-items: center;
        img {
          width: 19px;
          margin-right: 3px;
        }
      }
      .currency-change {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .change-img {
          width: 19px;
          padding-bottom: 0.2rem;
        }
        .refreshIcon {
          margin-left: 0.2rem;
          &.motion {
            animation-name: motion01;
            animation-duration: 1s;
            animation-delay: 0s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-fill-mode: none;

            @keyframes motion01 {
              0% {
                transform: rotate(0deg);
              }

              100% {
                transform: rotate(360deg);
              }
            }
          }
        }
      }
    }
  }

  .game-slide-menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: #fff;
    margin-bottom: 0.5rem;
    text-align: center;
    .active {
      color: #d00027;
    }
    div {
      padding: 0.27rem 0;
    }
    .slide-left {
      position: absolute;
      right: 0;
      background: #d5921c;
      color: #fff;
      padding: 0.5rem 0.3rem;
      font-size: 0.6rem;
      word-spacing: -0.2rem;
      z-index: 50;
    }
  }

  .winner-marquee {
    padding: 0.5rem 1rem;
    background: #fff;
    text-align: center;
    overflow: hidden;
  }

  .search {
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding: 10px;

    .search-tab {
      white-space: nowrap;
      background: #ffffff;
      border: 0.5px solid #9a9a9a;
      border-radius: 3px;
      height: 25px;
      padding: 0 0.5rem;
      height: 30px;
      font-size: 0.6rem;
      flex: 0 0 50%;

      &.active {
        background: #009688;
        border-radius: 3px;
        color: #fff;
      }
    }
    .input-group {
      margin-left: 0.5rem;

      input {
        border-right: none;
        height: 30px;
      }
      button {
        border: 0.5px solid #ced4da;
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background: #fff;
        height: 30px;
        margin-top: 0;
        &:hover {
          color: #212529;
        }
        &:focus {
          box-shadow: none;
        }

        svg {
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  .gameList-wrapper {
    padding: 0.5rem 0.5rem 3rem 0.5rem;

    .row {
      padding: 0.5rem;

      .col-4 {
        position: relative;
        border-radius: 5px;
        padding: 0.3rem;
        text-align: center;
        display: none;

        &.active {
          display: block;
        }
        
        img {
          border-radius: 5px 5px 0 0;
          background-color: white;
          height: 110px;
          width: 110px;
          max-width: none;
          object-fit: scale-down;
        }

        .gamename {
          border-radius: 0 0 5px 5px;
          display: inline-block;
          width: 110px;
          height: 50px;
          background-color: white;
          line-height: 1rem;
          padding-top: 5px;
          color: #000;
        }

        .maintain-msg {
          display: none;
          &.active {
            position: absolute;
            width: 95%;
            height: 100%;
            top: 50%;
            left: 50%;
            background: #00000088;
            color: #b8b8b8;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            transform: translate(-50%, -50%);
            border-radius: 5px;
          }
        }
      }
    }
  }
}

.searchModal {
  .modal-content {
    background: #fff;
    .modal-header {
      color: #000;
      justify-content: center;
      .btn-close {
        position: absolute;
        top: 5px;
        right: 5px;
        background: none;
        font-size: 1.2rem;
      }
    }
    .modal-body {
      .transaction-search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        padding: 0 0.5rem 0 0.3rem;
        margin-bottom: 0.5rem;
        .input-group {
          padding: 0.5rem;
          .input-group-text {
            background: #f4f5f8;
            border: none;
            border-radius: 30px 0 0 30px;
            &.del {
              border-radius: 0 30px 30px 0;
            }
          }
          input {
            background: #f4f5f8;
            border: none;
            border-radius: 0;
            height: 30px;
          }
        }
        .search-btn {
          white-space: nowrap;
          text-align: right;
          color: #000;
        }
      }
    }
  }
}
</style>