<template>
  <div class="userInfo-middleContent agency">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>{{ $t("agent_to_join") }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ $t("member_management") }}</li>
      </ol>
    </nav>
    <div class="search">
      <div class="input-group">
        <input type="text" class="form-control" v-model="searchAccountText" aria-label="Recipient's username with two button addons">
        <button class="btn btn-outline-secondary clear" type="button" @click="clearSearchAccountText"><font-awesome-icon :icon="['fas', 'circle-xmark']" /></button>
        <button class="btn btn-outline-secondary go" type="button" @click="searchAccount"><font-awesome-icon :icon="['fas', 'magnifying-glass']" /></button>
      </div>
    </div>
    <div class="agencyTeam-table">
      <div class="total-table">
        <div class="css_table">
          <div class="css_th">
            <div class="css_td">{{ $t("user") }}</div>
            <div class="css_td">{{ $t("number_people") }}</div>
            <div class="css_td">{{ $t("contribute") }}</div>
            <div class="css_td">{{ $t("invitation_code") }}</div>
          </div>
          <template v-if="getLowerUserResp.length>0">
            <div class="css_tr" v-for="(item, index) in getLowerUserResp" :key="index">
              <div class="css_td">{{ item.account }}</div>
              <div class="css_td">{{ stringToMoney(item.teamCount) }}</div>
              <div class="css_td">{{ stringToMoney(item.directSales) }}</div>
              <div class="css_td">{{ item.recommendCode }}</div>
            </div>
          </template>
          <template v-else>
            <div class="no-data">
              <img src="@/assets/img/common/history-nodata.png" alt="">
              <div>{{ $t("no_data")}}</div>
            </div>
          </template>
        </div>
      </div>
    </div>

    <!-- 分頁 -->
    <div v-if="totalCount>0" class="d-flex align-items-center justify-content-between mt-3 pr-1">
      <vue-awesome-paginate :total-items="totalCount" :items-per-page="lowerUserListReq.pageSize" v-model="lowerUserListReq.pageIndex" :on-click="changePage" />
      <div>{{$t('totalStart') + ' ' + totalCount + ' ' + $t('totalEnd')}}</div>
    </div>

    <!-- 加載 -->
    <loading v-model:active="isLoading" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />

  </div>
</template>

<script>
// 注單查詢
export class LowerUserListReq {
  sessionKey = '';
  account = '';
  pageIndex = 1;
  pageSize = 10;
  lang = '';
}
</script>

<script setup>

import { onMounted, reactive, ref, } from 'vue';
import Loading from 'vue-loading-overlay';
import apiService from '@/api/apiService';
import common from "@/utils/common";

const { errorHandling, stringToMoney, userLogout } = common();
const lowerUserListReq = reactive(new (LowerUserListReq))
const getLowerUserResp = reactive([]);

const isLoading = ref(false);
const totalCount = ref(0);
const searchAccountText = ref('');

function clearSearchAccountText() {
  searchAccountText.value = '';
}
function searchAccount() {
  lowerUserListReq.account = searchAccountText;
  lowerUserListReq.pageIndex = 1;
  getLowerUserList();
}
// 取得下級使用者列表
function getLowerUserList() {
  lowerUserListReq.sessionKey = localStorage.getItem("sessionKey");
  lowerUserListReq.lang = localStorage.getItem("locale");
  isLoading.value = true;

  //先將上一頁資料清除
  getLowerUserResp.splice(0)
  apiService.post('/LowerUser/List', lowerUserListReq
  ).then((res) => {
    res.data.datas.forEach(element => {
      getLowerUserResp.push(element);
    });
    totalCount.value = res.data.totalCount;
  }).catch((err) => {
    errorHandling(err);
  }).finally(() => {
    isLoading.value = false;
  });
}
// 換頁
function changePage(value) {
  lowerUserListReq.pageIndex = value;
  getLowerUserList();
}

onMounted(() => {
  if (!localStorage.getItem("sessionKey")) { userLogout(); return; }
  getLowerUserList();
  lowerUserListReq.pageIndex = 1;
})

</script>

<style lang="scss" scoped>
.userInfo-middleContent.agency {
  position: relative;
  .breadcrumb {
    background: none;
    padding: 0;
    margin: 0 0 2rem 0;
    .breadcrumb-item {
      &.active {
        color: #fff;
      }
      a {
        color: #999593;
      }
    }
  }
  .search {
    position: absolute;
    top: 1rem;
    right: 0;
    input {
      background: #d9d9d9;
      border: 0.5px solid rgba(197, 185, 211, 0.3);
      border-top-left-radius: 43px;
      border-bottom-left-radius: 43px;
      margin-right: 5px;
      &:focus {
        box-shadow: none;
      }
    }
    button {
      background: #d9d9d9;
      border: 0.5px solid rgba(197, 185, 211, 0.3);
    }
    .clear {
      border-top-right-radius: 43px;
      border-bottom-right-radius: 43px;
      margin-left: -1rem;

      .fa-circle-xmark {
        background: none;
        transform: matrix(1, 0, 0, -1, 0, 0);
        color: #7a7a7a;
        border: none;
        &:hover {
          color: #4fac91;
        }
      }
    }
    .go {
      border-radius: 40px;
      margin: 0 1rem;
      &:hover {
        color: #4fac91;
      }
    }
  }
  .agencyTeam-table {
    background: #234a3c;
    border-radius: 10px;
    .css_table {
      width: 100%;
      display: table;
      color: #ffffff;
      text-align: center;
      background-color: #2a3f3a;
    }
    .css_th {
      position: sticky;
      top: 0px;
      display: table-row;
      padding: 1rem 0;
      background: #0b3528;
      color: #fff;
      border-bottom: 0.5px solid #4fac91;
      .css_td {
        border-right: 1px solid #2d6151;
        &.css_td:nth-child(1) {
          border-left: 1px solid #2d6151;
        }
      }
    }

    .css_tr {
      display: table-row;
      background: #3a6a5b;
      color: #ffce51;
      &:hover {
        background: rgba(197, 185, 211, 0.3);
      }
      .css_td {
        border-right: 1px solid #0b3528;
        border-bottom: 1px solid #0b3528;
        &.css_td:nth-child(1) {
          border-left: 1px solid #0b3528;
        }
      }
    }
    .css_td {
      display: table-cell;
      padding: 0.8rem 0.5rem;
      white-space: nowrap;
      font-size: 0.8rem;
    }

    .no-data {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
:deep(.dp__main.dp__theme_light) {
  .dp__input_wrap {
    width: 106%;
    .dp__pointer {
      border-radius: 30px;
    }
  }
}
:deep(ul#componentContainer) {
  column-gap: 10px;
}
:deep(ul#componentContainer .paginate-buttons) {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  cursor: pointer;
  background: #2d6151;
  color: #fff;
  margin: 0 0.2rem;
  white-space: nowrap;
}
:deep(ul#componentContainer .paginate-buttons:hover) {
  background: #306958 !important;
}
:deep(ul#componentContainer .paginate-buttons.active-page) {
  background-color: #50ab90 !important;
  color: white !important;
}
.aad,
.aae, .aag{
  .userInfo-middleContent.agency {  
    .search input {
      margin-right: 15px;
    }
    button.btn {
      margin-top: 0;
      &.clear {
        .fa-circle-xmark:hover {
          color: #f1ac33 ;
        }
        
      }
      &.go:hover {
        color: #f1ac33 ;
      }
    }
    .agencyTeam-table {
      background: #333333;
      .total-table {
        .css_td {
          background: #6e6e6e;
        }
        .css_th .css_td{
          background: #15171a;
          border-left: 1px solid #616161!important;
          border-right: none;
        }

      }
      
    }
    :deep(ul#componentContainer .paginate-buttons) {
      height: 40px;
      width: 40px;
      border-radius: 5px;
      cursor: pointer;
      background: #5c5c5c;
      color: #fff;
      margin: 0 0.2rem;
      white-space: nowrap;
    }
    :deep(ul#componentContainer .paginate-buttons:hover) {
      background: #f2ad40  !important;
    }
    :deep(ul#componentContainer .paginate-buttons.active-page) {
      background-color: #adadad !important;
      color: rgb(53, 53, 53) !important;
    }
  }
}
</style>