<template>
  <div class="userInfo-middleContent agency">
    <div class="agency-promo">
      <div class="agency-share">
        <div class="share-wrapper">
          <div class="qrCode">
            <qrcode :value="recRegisterUrl"></qrcode>
          </div>
          <div>
            <div class="d-none" ref="recRegisterUrlText">{{recRegisterUrl}}</div>
            <div class="copy-link" @click="copyText(recRegisterUrlText)">{{ $t("copy_link") }}</div>
            <div class="copy-text">{{ $t("users_pass_above_link_scan_qrcode_downline_onlyh5_users") }}</div>
            <div class="copy-text">{{ $t("your_invitation_code") }}： <span>{{ recommendCode }}</span> </div>
          </div>
        </div>

        <div>
          <div class="share">
            <span class="share-text">{{ $t("share_with_friends") }}</span>
          </div>

          <div class="promo-rules">
            <ul>
              <li>{{ $t("agentSupport") }}</li> |
              <li>{{ $t("High%Dividends") }}</li> |
              <li>{{ $t("trafficChannelJointVenture") }}</li> |
              <li>{{ $t("RecruitAnchor/partTimeJob") }}</li>
            </ul>
          </div>

        </div>
      </div>
    </div>

  </div>
</template>

<script setup>
import { ref, onMounted, computed } from 'vue';
import common from "@/utils/common";
import Qrcode from 'vue3-qrcode';
import { useStore } from 'vuex';

const store = useStore();
const user = computed(() => store.state.user);
const { copyText, userLogout, getRecRegisterUrl } = common();

//推薦碼
const recommendCode = user.value.recommendCode;
//代理連結
const recRegisterUrl = getRecRegisterUrl(recommendCode);
const recRegisterUrlText = ref(null)

onMounted(() => {
  if (!localStorage.getItem("sessionKey")) { userLogout(); return; }
});


</script>
<style lang="scss" scoped>
.userInfo-middleContent.agency {
  padding: 0;
  .agency-promo {
    position: relative;
    background: url('@/assets/aaa/img/common/agency-promoBg.png');
    height: 746px;
    width: 935px;
    font-weight: normal;

    .agency-share {
      position: absolute;
      bottom: 4rem;
      left: 50%;
      transform: translate(-48%);
      text-align: center;
      .share-wrapper {
        display: flex;
        .qrCode {
          margin-right: 1rem;
          display: inline-block;
          img {
            max-width: 130px;
          }
        }
      }
      .copy-link {
        cursor: pointer;
        padding: 1rem;
        background: linear-gradient(180deg, #20dfd0 0%, #2a9b92 100%);
        border-radius: 10px;
        text-align: center;
        margin-bottom: 1rem;
        cursor: pointer;
        font-size: 1rem;
        transition: all 0.3s ease-in-out;
        font-weight: 800;
        &:hover {
          color: #ffce51;
        }
      }
      .copy-text {
        margin-bottom: 0.8rem;
        text-align: left;
        line-height: 1.1rem;
        span {
          color: red;
          font-weight: 600;
        }
      }
      .share {
        border: 2px solid #f4cc4b;
        border-radius: 20px;
        background: #123f16;
        text-align: center;
        margin: auto;
        padding: 1.5rem 1rem 1rem 1rem;
        display: inline-block;

        .share-text {
          font-size: 3rem;
          font-weight: 900;
          background: radial-gradient(
            47.92% 517.92% at 52.08% 50.68%,
            #f2d57c 0%,
            #d8b251 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }
      .promo-rules {
        margin-top: 1.5rem;
        ul {
          background: #0c4113;
          border-radius: 10px;
          padding: 0.5rem;
          text-align: center;
          li {
            display: inline-block;
            font-size: 1rem;
            margin: 0 0.3rem;
          }
        }
      }
    }
  }
}
.aad, .aag{
  .userInfo-middleContent.agency {
    .agency-promo {
      position: relative;
      background: url("@/assets/aad/img/common/agency-promoBg.png") no-repeat!important;
      height: 900px;
      width: 935px;
      font-weight: normal;
      background-size: 85%!important;
      background-position-x: 50%!important;

      .agency-share {
        position: absolute;
        bottom: 17.5rem;
        left: 52.5%;
        transform: translate(-55%);
        text-align: center;

        .share-wrapper {
          display: block;
          .qrCode {
            margin-right: 1rem;
            margin-bottom: 2rem;
            display: inline-block;
            img {
              max-width: 130px;
            }
          }
        }
        .copy-link {
          cursor: pointer;
          padding-top: 1.5rem;
          background: none;
          background: url('@/assets/aad/img/phone/promo-btnBg.png') no-repeat;
          text-align: center;
          margin-bottom: 1rem;
          cursor: pointer;
          font-size: 1.2rem;
          transition: all 0.3s ease-in-out;
          font-weight: 800;
          width: 297px;
          height: 73px;
          background-position: 50%;
          color: #000;
          &:hover {
            color: #ff8a00;
          }
        }
      }
      .share {
        display: none;
      }
      .copy-text {
        display: none;
      }
      .promo-rules {
        display: none;
      }
    }
  }
    
}
.aae{
  .userInfo-middleContent.agency {
    .agency-promo {
      position: relative;
      background: url("@/assets/aae/img/common/agency-promoBg.jpg") no-repeat!important;
      height: 900px;
      width: 935px;
      font-weight: normal;
      background-size: 85%!important;
      background-position-x: 50%!important;

      .agency-share {
        position: absolute;
        bottom: 17.25rem;
        left: 52.6%;
        transform: translate(-55%);
        text-align: center;

        .share-wrapper {
          display: block;
          .qrCode {
            margin-right: 1rem;
            margin-bottom: 2rem;
            display: inline-block;
            img {
              max-width: 130px;
            }
          }
        }
        .copy-link {
          cursor: pointer;
          padding-top: 1.5rem;
          background: none;
          // background: url('@/assets/aad/img/phone/promo-btnBg.png') no-repeat;
          text-align: center;
          margin-bottom: 1rem;
          cursor: pointer;
          font-size: 1.2rem;
          transition: all 0.3s ease-in-out;
          font-weight: 800;
          width: 297px;
          height: 73px;
          background-position: 50%;
          color: #000;
          &:hover {
            color: #ff8a00;
          }
        }
      }
      .share {
        display: none;
      }
      .copy-text {
        display: none;
      }
      .promo-rules {
        display: none;
      }
    }
  }
    
}
</style>