<template>
  <div class="mt-4">
    <div class="userInfo d-flex">
      <div class="userInfo-leftNav pt-4">
        <ol class="list-group list-group-numbered">
          <router-link :to="{ name: DomainLayoutId + 'AgencyTeam' }"
            class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">{{ $t("agencyTeam") }}</div>
            </div>
            <span v-if="$route.fullPath === '/MemberCentre/Agency/AgencyTeam'"><font-awesome-icon
                icon="fa-solid fa-chevron-right" /></span>
          </router-link>
          <router-link :to="{ name: DomainLayoutId + 'AgencyMember' }"
            class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">{{ $t("member_management") }}</div>
            </div>
            <span v-if="$route.fullPath === '/MemberCentre/Agency/AgencyMember'"><font-awesome-icon
                icon="fa-solid fa-chevron-right" /></span>
          </router-link>
          <router-link :to="{ name: DomainLayoutId + 'AgencyPromo' }"
            class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">{{ $t("agency_promotion") }}</div>
            </div>
            <span v-if="$route.fullPath === '/MemberCentre/Agency/AgencyPromo'"><font-awesome-icon
                icon="fa-solid fa-chevron-right" /></span>
          </router-link>
          <router-link :to="{ name: DomainLayoutId + 'AgencyRecord' }"
            class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">{{ $t("commission_report") }}</div>
            </div>
            <span v-if="$route.fullPath === '/MemberCentre/Agency/AgencyRecord'"><font-awesome-icon
                icon="fa-solid fa-chevron-right" /></span>
          </router-link>
          <router-link :to="{ name: DomainLayoutId+ 'AgencyBonus' }"
            class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">{{ $t("commission_plan") }}</div>
            </div>
            <span v-if="$route.fullPath === '/MemberCentre/Agency/AgencyBonus'"><font-awesome-icon
                icon="fa-solid fa-chevron-right" /></span>
          </router-link>
        </ol>
      </div>
      <router-view />

    </div>
  </div>
</template>

<script setup>
import { computed } from 'vue';
import { useStore } from 'vuex';

const store = useStore();
const DomainLayoutId = computed(() => store.state.DomainLayoutId);
</script>

<style lang="scss" scoped>
.userInfo-leftNav {
  width: 20%;
  background: #1C4F3E;
  border: 1px solid #61C3A7;


  .list-group-item {
    cursor: pointer;
    border: none;
    background-color: transparent;

    &.active {
      margin-top: 0;
      color: #fff;
      border: none;
      background: linear-gradient(to top, #171c1c, #004d3d);
      cursor: default;

      &:hover {
        color: #FFCE51;
      }

    }

    &:hover {
      color: #FFCE51;
    }

    span {
      color: #fff;
    }
  }

  .router-link-active {
    margin-top: 0;
    color: #ffce51;
    border: none;
    background: linear-gradient(to top, #171c1c, #004d3d);
    cursor: default;

    &:hover {
      color: #ffce51;
    }
  }
}
.userInfo-middleContent {
  background-color: #2A3F3A;
  width: 80%;
  padding: 1.5rem 1rem;
}
.userInfo-rigthDm {
  width: 20%;
}</style>