<template>
  <div class="userInfo-middleContent agency">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>{{ $t("agent_to_join") }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ $t("agencyTeam") }}</li>
      </ol>
    </nav>
    <div class="bet-record mt-3 d-flex justify-content-between align-items-center">
      <div>
        <span>{{ $t("proxy_account") }}： </span>
        <span class="agency-acount"> {{ user.account }}</span>
        <span class="ml-3">{{ $t("team_size") }}: </span>
        <span class="agency-number"> {{ directLowerCount }}</span>

        <span class="ml-3">{{ $t("currency_catagory") }}: </span>
        <span class="agency-number"> {{ reportAgentStatsReq.currencyId }}</span>
      </div>
      <div class="sport-historyBtn">
        <button class="button" :class="{ active: activeIndex === 0 }" @click="activeIndex = 0;selectDate(0);">{{ $t("this_month") }}</button>
        <button class="button" :class="{ active: activeIndex === 1 }" @click="activeIndex = 1;selectDate(1);">{{ $t("previous_month") }}</button>
      </div>
    </div>
    <div class="scroll-wrapper scrollbar">
      <div class="agencyTeamTB-content">
        <template v-if="responseData">
          <div class="agencyTeam-table">
            <div class="total-table">
              <div class="title d-flex justify-content-between">
                <div class="title-text"> <span class="mr-2">| </span> {{ $t("total") }}</div>
              </div>

              <div class="css_table">
                <div class="css_th">
                  <div class="css_td" style="width:25%;">{{ $t("bet") }}</div>
                  <div class="css_td" style="width:25%;">{{ $t("valid_bet") }}</div>
                  <div class="css_td" style="width:25%;">{{ $t("payout") }}</div>
                  <div class="css_td" style="width:25%;">{{ $t("win_or_lose") }}</div>
                </div>
                <div class="css_tr">
                  <div class="css_td">{{ stringToMoney(responseData.commissionStats.totalStakeScore) }}</div>
                  <div class="css_td">{{ stringToMoney(responseData.commissionStats.totalValidScore) }}</div>
                  <div class="css_td">{{ stringToMoney(responseData.commissionStats.totalPayoutScore )}}</div>
                  <div class="css_td">{{ stringToMoney(responseData.commissionStats.totalFinalScore) }}</div>
                </div>
              </div>

              <div class="css_table">
                <div class="css_th">
                  <div class="css_td" style="width:33.33%;">{{ $t("retreat") }}</div>
                  <div class="css_td" style="width:33.33%;">{{ $t("bonus") }}</div>
                  <div class="css_td" style="width:33.33%;">{{ $t("activeCount") }}</div>
                </div>
                <div class="css_tr">
                  <div class="css_td">{{ stringToMoney(responseData.commissionStats.totalRetreatScore) }}</div>
                  <div class="css_td">{{ stringToMoney(responseData.commissionStats.totalBonus) }}</div>
                  <div class="css_td">{{ stringToMoney(responseData.commissionStats.totalActiveCount )}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="agencyTeam-table">
            <div class="total-table">
              <div class="title mt-4 mb-2"> <span class="mr-2">| </span> {{ $t("bet") }}</div>
              <div class="css_table">
                <div class="css_th">
                  <div class="css_td">{{ $t("video") }}</div>
                  <div class="css_td">{{ $t("lottery") }}</div>
                  <div class="css_td">{{ $t("sport") }}</div>
                  <div class="css_td">{{ $t("elec") }}</div>
                  <div class="css_td">{{ $t("fishing") }}</div>
                  <div class="css_td">{{ $t("chess") }}</div>
                  <div class="css_td">{{ $t("sportEvents") }}</div>
                </div>
                <div class="css_tr">
                  <div class="css_td">{{ stringToMoney(responseData.stakeScoreStats.video) }}</div>
                  <div class="css_td">{{ stringToMoney(responseData.stakeScoreStats.lottery) }}</div>
                  <div class="css_td">{{ stringToMoney(responseData.stakeScoreStats.sport) }} </div>
                  <div class="css_td">{{ stringToMoney(responseData.stakeScoreStats.elec) }}</div>
                  <div class="css_td">{{ stringToMoney(responseData.stakeScoreStats.fishing) }}</div>
                  <div class="css_td">{{ stringToMoney(responseData.stakeScoreStats.chess) }}</div>
                  <div class="css_td">{{ stringToMoney(responseData.stakeScoreStats.sportEvents) }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="agencyTeam-table">
            <div class="total-table">
              <div class="title mt-4 mb-2"> <span class="mr-2">| </span> {{ $t("payout") }}</div>
              <div class="css_table">
                <div class="css_th">
                  <div class="css_td">{{ $t("video") }}</div>
                  <div class="css_td">{{ $t("lottery") }}</div>
                  <div class="css_td">{{ $t("sport") }}</div>
                  <div class="css_td">{{ $t("elec") }}</div>
                  <div class="css_td">{{ $t("fishing") }}</div>
                  <div class="css_td">{{ $t("chess") }}</div>
                  <div class="css_td">{{ $t("sportEvents") }}</div>
                </div>
                <div class="css_tr">
                  <div class="css_td">{{ stringToMoney(responseData.payoutScoreStats.video) }}</div>
                  <div class="css_td">{{ stringToMoney(responseData.payoutScoreStats.lottery) }}</div>
                  <div class="css_td">{{ stringToMoney(responseData.payoutScoreStats.sport) }} </div>
                  <div class="css_td">{{ stringToMoney(responseData.payoutScoreStats.elec) }}</div>
                  <div class="css_td">{{ stringToMoney(responseData.payoutScoreStats.fishing) }}</div>
                  <div class="css_td">{{ stringToMoney(responseData.payoutScoreStats.chess) }}</div>
                  <div class="css_td">{{ stringToMoney(responseData.payoutScoreStats.sportEvents) }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="agencyTeam-table">
            <div class="total-table">
              <div class="title mt-4 mb-2"> <span class="mr-2">| </span> {{ $t("valid_bet") }}</div>
              <div class="css_table">
                <div class="css_th">
                  <div class="css_td">{{ $t("video") }}</div>
                  <div class="css_td">{{ $t("lottery") }}</div>
                  <div class="css_td">{{ $t("sport") }}</div>
                  <div class="css_td">{{ $t("elec") }}</div>
                  <div class="css_td">{{ $t("fishing") }}</div>
                  <div class="css_td">{{ $t("chess") }}</div>
                  <div class="css_td">{{ $t("sportEvents") }}</div>
                </div>
                <div class="css_tr">
                  <div class="css_td">{{ stringToMoney(responseData.validScoreStats.video) }}</div>
                  <div class="css_td">{{ stringToMoney(responseData.validScoreStats.lottery) }}</div>
                  <div class="css_td">{{ stringToMoney(responseData.validScoreStats.sport) }}</div>
                  <div class="css_td">{{ stringToMoney(responseData.validScoreStats.elec) }}</div>
                  <div class="css_td">{{ stringToMoney(responseData.validScoreStats.fishing) }}</div>
                  <div class="css_td">{{ stringToMoney(responseData.validScoreStats.chess) }}</div>
                  <div class="css_td">{{ stringToMoney(responseData.validScoreStats.sportEvents) }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="agencyTeam-table">
            <div class="total-table">
              <div class="title mt-4 mb-2"> <span class="mr-2">| </span> {{ $t("win_or_lose") }}</div>
              <div class="css_table">
                <div class="css_th">
                  <div class="css_td">{{ $t("video") }}</div>
                  <div class="css_td">{{ $t("lottery") }}</div>
                  <div class="css_td">{{ $t("sport") }}</div>
                  <div class="css_td">{{ $t("elec") }}</div>
                  <div class="css_td">{{ $t("fishing") }}</div>
                  <div class="css_td">{{ $t("chess") }}</div>
                  <div class="css_td">{{ $t("sportEvents") }}</div>
                </div>
                <div class="css_tr">
                  <div class="css_td">{{ stringToMoney(responseData.finalScoreStats.video) }}</div>
                  <div class="css_td">{{ stringToMoney(responseData.finalScoreStats.lottery) }}</div>
                  <div class="css_td">{{ stringToMoney(responseData.finalScoreStats.sport) }}</div>
                  <div class="css_td">{{ stringToMoney(responseData.finalScoreStats.elec) }}</div>
                  <div class="css_td">{{ stringToMoney(responseData.finalScoreStats.fishing) }}</div>
                  <div class="css_td">{{ stringToMoney(responseData.finalScoreStats.chess) }}</div>
                  <div class="css_td">{{ stringToMoney(responseData.finalScoreStats.sportEvents) }}</div>
                </div>
              </div>
            </div>
          </div>
        </template>
      </div>
    </div>
    <!-- 加載 -->
    <loading v-model:active="isLoading" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />
  </div>
</template>

<script>
// 代理報表查詢
export class AgentStats {
  sessionKey = '';
  startTime = 0;
  endTime = 0;
  currencyNo = 0;
  currencyId = '';
  lang = '';
}
</script>

<script setup>
import { ref, reactive, onMounted, computed, watch } from 'vue';
import '@vuepic/vue-datepicker/dist/main.css'
import apiService from '@/api/apiService';
import common from "@/utils/common";
import moment from "moment";
import Loading from 'vue-loading-overlay';
import { useStore } from 'vuex';

const store = useStore();
const date = ref();
const { errorHandling, stringToMoney, userLogout } = common();

const activeIndex = ref(0);
const isLoading = ref(false);

//代理報表相關
const reportAgentStatsReq = reactive(new AgentStats());
const responseData = ref(null);



//使用者資料
const user = computed(() => store.state.user);
//從UserChangeInfo.vue取出團隊人數
const directLowerCount = user.value.directLowerCount;

//導入多語系

// 取得代理報表資訊
function getAgentReportStats() {
  reportAgentStatsReq.sessionKey = localStorage.getItem("sessionKey");
  reportAgentStatsReq.currencyNo = Number(localStorage.getItem("currencyNo"));
  reportAgentStatsReq.currencyId = localStorage.getItem("currencyId");
  reportAgentStatsReq.lang = localStorage.getItem("locale");
  isLoading.value = true;

  apiService.post('/Report/AgentReportStats', reportAgentStatsReq
  ).then((res) => {

    responseData.value = res.data;
  }).catch((err) => {
    errorHandling(err);
  }).finally(() => {
    isLoading.value = false;
  });
}

// 切換特定日期
function selectDate(value) {
  let startDate = moment().startOf('day');
  let endDate = moment().endOf('day');
  switch (value) {
    case 0:// 本月
      startDate = startDate.startOf('month');
      endDate = endDate.endOf('month');
      break;
    case 1:// 上月
      startDate = startDate.subtract(1, 'month').startOf('month');
      endDate = endDate.subtract(1, 'month').endOf('month');
      break;
    default:
      break;
  }
  date.value = [startDate.toDate(), endDate.toDate()];
  queryAgencyTeam();
}

// 查詢
function queryAgencyTeam() {
  let startTime = date.value[0].getTime();
  let endTime = date.value[1].getTime();

  if (startTime != reportAgentStatsReq.startTime || endTime != reportAgentStatsReq.endTime) {
    reportAgentStatsReq.startTime = startTime;
    reportAgentStatsReq.endTime = endTime;
  }
  getAgentReportStats();

}

watch(
  () => store.state.wallets,
  () => {
    queryAgencyTeam();
  }
)

onMounted(() => {
  if (!localStorage.getItem("sessionKey")) { userLogout(); return; }
  const startDate = moment().startOf('month').toDate();
  const endDate = moment().endOf('month').toDate();
  date.value = [startDate, endDate];
  queryAgencyTeam();
})

</script>

<style lang="scss" scoped>
.userInfo-middleContent.agency {
  display: flex;
  flex-direction: column;
  .breadcrumb {
    background: none;
    padding: 0;
    margin: 0;
    .breadcrumb-item {
      &.active {
        color: #fff;
      }
      a {
        color: #999593;
      }
    }
  }
  .bet-record {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 1rem;
    .agency-acount,
    .agency-number {
      color: #ffce51;
    }
  }
  .sport-historyBtn {
    .button {
      background: #2d6151;
      border: 1px solid rgba(197, 185, 211, 0.3);
      border-radius: 20px;
      box-shadow: none;
      margin-right: 1rem;
      &:hover {
        color: #d9d9d9;
      }
      &.active {
        cursor: default;
        color: #ffce51;
        background: linear-gradient(180deg, #9d2024 0%, #3f0303 100%) no-repeat;
        border-radius: 33px;
        border: 1px solid #2a3f3a00;
      }
    }
  }

  .agencyTeamTB-content {
    background: #234a3c;
    border-radius: 10px;
    padding: 1rem 1rem;

    .agencyTeam-table {
      background: #234a3c;
      border-radius: 10px;

      .fa-solid.fa-caret-down {
        display: inline-block;
        //background-color: #c08d10;
        padding: 0 0rem 0 0.3rem;
        border-radius: 0.2rem;
        margin-left: 0.3rem;
        color: #20dfd0;
      }
      .title-text {
        padding: 1.5rem 0 0.5rem 0;
      }
      .css_table {
        width: 100%;
        display: table;
        color: #ffffff;
        text-align: center;
        background-color: #2a3f3a;
      }
      .css_th {
        position: sticky;
        top: 0px;
        display: table-row;
        padding: 1rem 0;
        background: #0b3528;
        color: #fff;
        border-bottom: 0.5px solid #4fac91;
        .css_td {
          border-right: 1px solid #2d6151;
          &.css_td:nth-child(1) {
            border-left: 1px solid #2d6151;
          }
        }
      }

      .css_tr {
        display: table-row;
        background: #3a6a5b;
        color: #ffce51;
        &:hover {
          background: rgba(197, 185, 211, 0.3);
        }
        .css_td {
          border-right: 1px solid #0b3528;
          &.css_td:nth-child(1) {
            border-left: 1px solid #0b3528;
          }
        }
      }
      .css_td {
        display: table-cell;
        padding: 0.8rem 0.5rem;
        white-space: nowrap;
        font-size: 0.8rem;
      }
    }
  }
}

//aad的css
.aad,
.aae, .aag{
  .userInfo-middleContent.agency{
    .sport-historyBtn .button {
      background: #6e6e6e;
      &.active {
          background: #f1ac33;
          color: #fff;
        }
    }
    .bet-record {
      border: none;
    }
    .agencyTeamTB-content {
      background: #505050;
      .agencyTeam-table {
        background: transparent;
        .title-text {
          color: #fff;
        }
        .title {
          color: #fff;
        }
        .css_td {
          background: #6e6e6e;
        }
        .css_th .css_td{
          background: #15171a;
          border-left: 1px solid #616161!important;
          border-right: none;
        }
        
      }
    }
  }
}




.aaf{
  
}
</style>