<template>
  <div class="userInfo-middleContent agency">
    <div class="bonus-container scrollbar">
      <div v-for="(bonusImage, index) in bonusImages" :key="index">
        <img :src="bonusImage.imageUrl" alt="">
      </div>
    </div>
    <!-- 加載 -->
    <loading v-model:active="isLoading" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />
  </div>
</template>

<script setup>

import { ref, onMounted, watch, onBeforeMount } from 'vue';
import { useStore } from 'vuex';
import common from "@/utils/common";
import Loading from 'vue-loading-overlay';

const store = useStore();
const {  userLogout, getBonusImages } = common();
const isLoading = ref(false);
const bonusImages = ref([]);

const getImages = async () => {
  isLoading.value = true;
  bonusImages.value = await getBonusImages(1, 24);
  isLoading.value = false;
}

watch(
  () => store.state.lang,
  ()=> {
    getImages();
  }
)

onBeforeMount( async() => {
  getImages();
})

onMounted(() => {
  if (!localStorage.getItem("sessionKey")) { userLogout(); return; }
  
}) 
</script>
<style lang="scss" scoped>
.userInfo-middleContent.agency {
  background: #0d1c17;
  .bonus-container {
    padding: 0 60px;
    height: 803px;
  }
}
</style>