<template>
  <div class="userInfo-middleContent agency">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>{{ $t("agent_to_join") }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ $t("commission_report") }}</li>
      </ol>
    </nav>
    <div class="agencyTeam-table">
      <div class="total-table">
        <div class="css_table">
          <div class="css_th">
            <div class="css_td">{{ $t("commission_generate_date") }}</div>
            <div class="css_td">{{ $t("validStake") }}</div>
            <div class="css_td">{{ $t("profit") }}</div>
            <div class="css_td">{{ $t("activeCount") }}</div>
            <div class="css_td">{{ $t("rebateAmount") }}</div>
          </div>
          <template v-if="getRebateRecordResp.length>0">
            <div class="css_tr" v-for="(item, index) in getRebateRecordResp" :key="index">
              <div class="css_td">{{ item.commissionDate }}</div>
              <div class="css_td">{{ stringToMoney(item.validScore) }}</div>
              <div class="css_td">{{ stringToMoney(item.profit) }}</div>
              <div class="css_td">{{ stringToMoney(item.activeCount) }}</div>
              <div class="css_td">{{ stringToMoney(item.rebate) }}</div>
            </div>
          </template>
          <template v-else>
            <div class="no-data">
              <img src="@/assets/img/common/history-nodata.png" alt="">
              <div>{{ $t("no_data")}}</div>
            </div>
          </template>
        </div>
      </div>
    </div>

    <!-- 分頁 -->
    <div v-if="totalCount>0" class="d-flex align-items-center justify-content-between mt-3 pr-1">
      <vue-awesome-paginate :total-items="totalCount" :items-per-page="rebateRecordListReq.pageSize" v-model="rebateRecordListReq.pageIndex" :on-click="changePage" />
      <div>{{$t('totalStart') + ' ' + totalCount + ' ' + $t('totalEnd')}}</div>
    </div>

    <!-- 加載 -->
    <loading v-model:active="isLoading" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />

  </div>
</template>


<script>
// 佣金紀錄查詢
export class RebateRecordListReq {
  sessionKey = '';
  currencyNo = '';
  pageIndex = 1;
  pageSize = 10;
}
</script>


<script setup>
import { onMounted, reactive, ref } from 'vue';
import Loading from 'vue-loading-overlay';
import apiService from '@/api/apiService';
import common from "@/utils/common";

const { errorHandling, stringToMoney, userLogout } = common();
const rebateRecordListReq = reactive(new (RebateRecordListReq))
const getRebateRecordResp = reactive([]);
const isLoading = ref(false);
const totalCount = ref(0);

function getRebateRecordList() {
  rebateRecordListReq.sessionKey = localStorage.getItem("sessionKey");
  rebateRecordListReq.currencyNo = localStorage.getItem("currencyNo");
  isLoading.value = true;

  getRebateRecordResp.splice(0)
  apiService.post('/Rebate/Record', rebateRecordListReq)
    .then((res) => {
      res.data.datas.forEach(element => {
        getRebateRecordResp.push(element);
      });
      totalCount.value = res.data.totalCount;
    }).catch((err) => {
      errorHandling(err);
    }).finally(() => {
      isLoading.value = false;
    });
}
// 換頁
function changePage(value) {
  rebateRecordListReq.pageIndex = value;
  getRebateRecordList();
}

onMounted(() => {
  if (!localStorage.getItem("sessionKey")) { userLogout(); return; }
  getRebateRecordList();
}) 
</script>
<style lang="scss" scoped>
.userInfo-middleContent.agency {
  position: relative;
  .breadcrumb {
    background: none;
    padding: 0;
    margin: 0 0 2rem 0;
    .breadcrumb-item {
      &.active {
        color: #fff;
      }
      a {
        color: #999593;
      }
    }
  }
  .bet-record {
    padding-bottom: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    .input-group {
      width: 100%;
      padding-right: 1.5rem;

      input {
        position: relative;
        background: #d9d9d9;
        border: none;
        border-radius: 20px;
        margin-right: 1.5rem;
      }
      button {
        &.del {
          position: absolute;
          right: 90px;
          top: 2px;
          background: #d9d9d9;
          border: none;
          border-radius: 20px;
        }
        &.go-search {
          border: none;
          border-radius: 20px;
          background: #d9d9d9;
          &:hover {
            background: no;
          }
        }
      }
    }
  }
  .sport-historyBtn {
    .button {
      background: #2d6151;
      border: 1px solid rgba(197, 185, 211, 0.3);
      border-radius: 20px;
      box-shadow: none;
      margin-right: 1rem;
      &:hover {
        color: #d9d9d9;
      }
      &.active {
        cursor: default;
        color: #ffce51;
        background: linear-gradient(180deg, #9d2024 0%, #3f0303 100%) no-repeat;
        border-radius: 33px;
        border: none;
      }
    }
  }
  .agencyTeam-table {
    background: #234a3c;
    border-radius: 10px;
    .css_table {
      width: 100%;
      display: table;
      color: #ffffff;
      text-align: center;
      background-color: #2a3f3a;
    }
    .css_th {
      position: sticky;
      top: 0px;
      display: table-row;
      padding: 1rem 0;
      background: #0b3528;
      color: #fff;
      border-bottom: 0.5px solid #4fac91;
      .css_td {
        border-right: 1px solid #2d6151;
        &.css_td:nth-child(1) {
          border-left: 1px solid #2d6151;
        }
      }
    }

    .css_tr {
      display: table-row;
      background: #3a6a5b;
      color: #ffce51;
      &:hover {
        background: rgba(197, 185, 211, 0.3);
      }
      .css_td {
        border-right: 1px solid #0b3528;
        &.css_td:nth-child(1) {
          border-left: 1px solid #0b3528;
        }
      }
    }
    .css_td {
      display: table-cell;
      padding: 0.8rem 0.5rem;
      white-space: nowrap;
      font-size: 0.8rem;
    }

    .no-data {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
:deep(.dp__main.dp__theme_light) {
  .dp__input_wrap {
    width: 106%;
    .dp__pointer {
      border-radius: 30px;
    }
  }
}
:deep(ul#componentContainer) {
  column-gap: 10px;
}
:deep(ul#componentContainer .paginate-buttons) {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  cursor: pointer;
  background: #2d6151;
  color: #fff;
  margin: 0 0.2rem;
  white-space: nowrap;
}
:deep(ul#componentContainer .paginate-buttons:hover) {
  background: #306958 !important;
}
:deep(ul#componentContainer .paginate-buttons.active-page) {
  background-color: #50ab90 !important;
  color: white !important;
}
.aad,
.aae, .aag{
  .userInfo-middleContent.agency{
    .agencyTeam-table {
      background: #333333;
      .total-table {
        .css_td {
          background: #6e6e6e;
        }
        .css_th .css_td{
          background: #15171a;
          border-left: 1px solid #616161!important;
          border-right: none;
        }

      }
      
    }
    :deep(ul#componentContainer .paginate-buttons) {
      height: 40px;
      width: 40px;
      border-radius: 5px;
      cursor: pointer;
      background: #5c5c5c;
      color: #fff;
      margin: 0 0.2rem;
      white-space: nowrap;
    }
    :deep(ul#componentContainer .paginate-buttons:hover) {
      background: #f2ad40  !important;
    }
    :deep(ul#componentContainer .paginate-buttons.active-page) {
      background-color: #adadad !important;
      color: rgb(53, 53, 53) !important;
    }
  }
}

</style>