<template>
  <div class="userInfo-middleContent">
    <form class="w-100 pt-4">

      <template v-if="user.hasTransactionPassword">
        <div class="text-center mt-5">
          {{$t("need_to_contact_customer_service_to_set_transfer_password")}}

          <div class="mt-5">
            <a class="btn-primary" :href="siteSettingsInfo.customerServiceUrl" target="_blank">
              {{$t("contactCustomerService")}}
              <span><img src="@/assets/img/icon/withdrawSer.svg" alt=""></span>
            </a>
          </div>

        </div>

      </template>
      <template v-else>
        <div class="userChangeWithdrawForm m-3">
          <div class="d-flex">
            <div class="w-25">
              <label class="form-label">{{ $t("pls_enter_new_password") }}</label>
            </div>
            <div class="w-75">
              <div class="mb-3">
                <input type="password" class="form-control" v-model="userPassword.newPassword" maxlength="4" autocomplete="off">
                <div v-if="userPassword.newPasswordError" style="color: red">{{userPassword.newPasswordError}}</div>
              </div>
            </div>
          </div>
          <div class="d-flex">
            <div class="w-25">
              <label class="form-label">{{ $t("pls_enter_password_again") }}</label>
            </div>
            <div class="w-75">
              <div class="mb-3">
                <input type="password" class="form-control" v-model="userPassword.confirmPassword" maxlength="4" v-on:keyup.enter="updateUserPassword()" autocomplete="off">
                <div v-if="userPassword.confirmPasswordError" style="color: red">{{userPassword.confirmPasswordError}}</div>
              </div>
            </div>
          </div>

        </div>

        <button type="button" class="btn btn-primary d-block" @click="updateUserPassword()" :disabled="userPassword.newPassword.length<=0 || userPassword.confirmPassword.length<=0">{{ $t("confirm") }}</button>
      </template>
    </form>
  </div>

  <loading-overlay :active="isLoading" :can-cancel="false" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff">
  </loading-overlay>
</template>

<script>
export class UserPassword {
  newPassword = '';
  confirmPassword = '';
  newPasswordError = '';
  confirmPasswordError = '';
}
</script>

<script setup>
import { ref, reactive, onMounted, computed } from 'vue';
import apiService from '@/api/apiService';
import { useStore } from "vuex"
import LoadingOverlay from 'vue-loading-overlay';
import { useI18n } from "vue-i18n";
import Swal from "sweetalert2";
import common from "@/utils/common";

const { t } = useI18n();
const store = useStore();
const isLoading = ref(false);
let userPassword = reactive(new UserPassword());
const { getUserInfo, errorHandling, userLogout } = common();
const user = computed(() => store.state.user);

const siteSettingsInfo = computed(() => store.state.siteSettingsInfo);

// 變更密碼
function updateUserPassword() {
  let hasError = false;
  userPassword.newPasswordError = '';
  userPassword.confirmPasswordError = '';

  // 驗證密碼
  let regex = /^[0-9]{4}/;
  if (!regex.test(userPassword.newPassword)) {
    userPassword.newPasswordError = t('length_needs_4_digits');
    hasError = true;
  }

  if (userPassword.confirmPassword != userPassword.newPassword) {
    userPassword.confirmPasswordError = t('confirm_password_different');
    hasError = true;
  }

  if (hasError) return;

  isLoading.value = true;
  apiService.put('/User/TransactionPassword', {
    sessionKey: localStorage.getItem("sessionKey"),
    password: userPassword.newPassword,
    checkPassword: userPassword.confirmPassword,
  }).then((res) => {
    Swal.fire("", t("success"), "success");
    Object.assign(userPassword, new UserPassword());
    getUserInfo();
  }).catch((err) => {
    if (err.response == null || err.response.status == null) {
      console.log(err);
      Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
    } else {
      switch (err.response.status) {
        case 452:
          Swal.fire("", t("password_unchangeable"), "error");
          break;
        case 453:
          Swal.fire("", t("confirm_password_different"), "error");
          break;
        default:
          errorHandling(err);
          break;
      }
    }
  }).finally(() => {
    isLoading.value = false;
  });
}

onMounted(() => {
  if (!localStorage.getItem("sessionKey")) { userLogout(); return; }
});

</script>

<style lang="scss" scoped>
.userInfo-middleContent {
  background-color: #2a3f3a;
  width: 80%;

  .w-25 {
    margin-right: 1rem;
    label {
      display: block;
      padding: 0.75rem 0.75rem;
    }
  }

  .mb-3 {
    position: relative;
    .form-control {
      display: inline-block;
      width: 100%;
      background: #fff;
      border: 0.5px solid rgba(177, 177, 177, 0.5764705882);
      color: #000;
      margin-bottom: 1rem;
      & + div {
        position: absolute;
        bottom: -1rem;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .btn-primary {
    position: relative;
    margin: auto;
    background: linear-gradient(to bottom, #006d57, #004d3d);
    border-color: #00805b;
    padding: 0.5rem 2rem 0.5rem 3.5rem;
    border-radius: 5px;
    font-size: 1.5rem;

    &:hover {
      color: #ffdf8f;
    }
    span {
      position: absolute;
      width: 20px;
      left: 32px;
      top: 9.5px;
    }
  }
}
.aad,
.aae, .aag {
  .btn-primary {
    position: relative;
    margin: auto;
    background: linear-gradient(to bottom, #e7b823, #c97705)!important;
    border: 1px solid #ffd753!important;

    &:hover {
      color: #ffdf8f;
    }

  }
}







.aaf{
  .userInfo-middleContent {
  background-color: #fff;
  width: 80%;

  .w-25 {
    margin-right: 1rem;
    label {
      display: block;
      padding: 0.75rem 0.75rem;
    }
  }

  .mb-3 {
    position: relative;
    .form-control {
      display: inline-block;
      width: 100%;
      background: #fff;
      border: 0.5px solid rgba(177, 177, 177, 0.5764705882);
      color: #000;
      margin-bottom: 1rem;
      & + div {
        position: absolute;
        bottom: -1rem;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .btn-primary {
    position: relative;
    margin: auto;
    background: linear-gradient(to bottom, #4dbafc, #0a84f6);
    // border-color: #00805b;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    font-size: 1.5rem;

    &:hover {
      color: #ffdf8f;
    }
    span {
      position: absolute;
      width: 20px;
      left: 32px;
      top: 9.5px;
    }
  }
}
}
</style>