<template>
  <div class="userInfo-middleContent pr-3">
    <form class="w-100 pt-4">
      <div class="commonWithdrawForm m-3">
        <div class="d-flex mb-4">
          <div class="w-25">
            <label class="form-label">{{ $t("withdrawal_information") }}</label>
          </div>
          <div class="w-75">
            <div class="despoit-way" v-if="cardList">

              <div v-for="(card, index) in cardList.datas" :key="index" class="way-1 active bind d-flex" @click="clickCardBank(card, index)" :class="checkBank === index ? 'checkBank' : ' '">
                <img :src="card.config.image" alt="">
                <div v-if="card.payType === 1" class="bank-bind ellipsis">
                  <span>{{ card.bankName }}</span>
                  <span>{{ card.bankBranchName }}</span>
                  <span>{{ card.bankAccount }}</span>
                  <span>{{ card.config.currency.currencyId }}</span>
                </div>
                <div v-else-if="card.payType === 2" class="bank-bind ellipsis">
                  <span>{{ card.bankName }}</span>
                  <template v-for="(value, index) in Object.values(card.onlineWithdrawalInfo)" :key="index">
                    <span>{{value}}</span>
                  </template>
                  
                </div>
              </div>

              <template v-if="!cardList || cardList.datas.length == 0">
                <router-link :to="{ name: DomainLayoutId + 'WithdrawBankBind' }" class="withdraw-noBind">
                  <img src="@/assets/img/icon/withdraw-add-icon.svg" alt="">
                  <div>{{ $t("bind_withdrawal_card") }}</div>
                  <div class="">{{ $t("you_bind_your_or_someone_bank_card_echarge") }}</div>
                </router-link>
                <router-link :to="{ name: DomainLayoutId + 'WithdrawBankBind' }" class="withdraw-noBind">
                  <img src="@/assets/img/icon/withdraw-add-icon.svg" alt="">
                  <div>{{ $t("bind_withdrawal_card") }}</div>
                  <div class="">{{ $t("you_bind_your_or_someone_bank_card_echarge") }}</div>
                </router-link>
                <router-link :to="{ name: DomainLayoutId + 'WithdrawBankBind' }" class="withdraw-noBind">
                  <img src="@/assets/img/icon/withdraw-add-icon.svg" alt="">
                  <div>{{ $t("bind_withdrawal_card") }}</div>
                  <div class="">{{ $t("you_bind_your_or_someone_bank_card_echarge") }}</div>
                </router-link>
              </template>

              <template v-if="cardList && cardList.datas.length == 1">
                <router-link :to="{ name: DomainLayoutId + 'WithdrawBankBind' }" class="withdraw-noBind">
                  <img src="@/assets/img/icon/withdraw-add-icon.svg" alt="">
                  <div>{{ $t("bind_withdrawal_card") }}</div>
                  <div class="">{{ $t("you_bind_your_or_someone_bank_card_echarge") }}</div>
                </router-link>
                <router-link :to="{ name: DomainLayoutId +'WithdrawBankBind' }" class="withdraw-noBind">
                  <img src="@/assets/img/icon/withdraw-add-icon.svg" alt="">
                  <div>{{ $t("bind_withdrawal_card") }}</div>
                  <div class="">{{ $t("you_bind_your_or_someone_bank_card_echarge") }}</div>
                </router-link>
              </template>

              <template v-if="cardList && cardList.datas.length == 2">
                <router-link :to="{ name: DomainLayoutId + 'WithdrawBankBind' }" class="withdraw-noBind">
                  <img src="@/assets/img/icon/withdraw-add-icon.svg" alt="">
                  <div>{{ $t("bind_withdrawal_card") }}</div>
                  <div class="">{{ $t("you_bind_your_or_someone_bank_card_echarge") }}</div>
                </router-link>
              </template>
              <span class="bind-notice">{{ $t("you_are_bound") }}
                <span class="bank-bind-highlight">{{ cardList.datas.length }}/3</span>
                {{ $t("top_up_bank_card") }}
              </span>

            </div>

          </div>
        </div>
        <div class="d-flex mb-3">
          <div class="w-25"></div>
          <div class="w-75">
            <div v-if="card?.payType === 1" class="bankDetailInfo">
              <div>
                <span>{{ $t("bankName") }}:</span> <span>{{ card.bankName }}</span>
              </div>
              <div>
                <span>{{ $t("branch_name") }}:</span> <span>{{ card.bankBranchName }}</span>
              </div>
              <div>
                <span>{{ $t("bankCardNumber") }}:</span> <span>{{ card.bankAccount }}</span>
              </div>
              <div>
                <span>{{ $t("payee") }}:</span> <span>{{ card.payee }}</span>
              </div>
            </div>
            <div v-else-if="card?.payType === 2" class="bankDetailInfo">
              <div>
                <span>{{ $t("bankName") }}:</span> <span>{{ card.bankName }}</span>
              </div>
              <div v-for="(item, index) in Object.entries(card.onlineWithdrawalInfo)" :key="index">
                <span>{{ $t(item[0]) }}:</span><span>{{ item[1] }}</span>
              </div>
              <div>
                <span>{{ $t("payee") }}:</span> <span>{{ card.payee }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="w-25">
            <label class="form-label" style="margin-top:120px" v-if="card">{{ $t("withdrawal_amount") }}</label>
          </div>
          <div class="w-75">
            <div class="text-left deposit-quota" v-if="card">
              <span class="notice">＊{{ $t("single_withdrawal_amount_range") }}:
                {{ stringToMoney(card.config.minMoney) }} ~ {{ stringToMoney(card.config.maxMoney) }} {{ card.config.currency.currencyId }}
                <div v-if="card.config.currency.protocol">({{ card.config.currency.protocol }})</div>
              </span>
              <div class="row pl-3 mr-0">
                <div class="col" :class="{ active: activeIndex === 0 && percentButtonClicked }" @click="activeIndex = 0; percentButtonClicked = true; clickPercent(100);">
                  {{ $t("all") }}</div>
                <div class="col" :class="{ active: activeIndex === 1 && percentButtonClicked }" @click="activeIndex = 1; percentButtonClicked = true; clickPercent(75);">75%
                </div>
                <div class="col" :class="{ active: activeIndex === 2 && percentButtonClicked }" @click="activeIndex = 2; percentButtonClicked = true; clickPercent(50);">50%
                </div>
                <div class="col" :class="{ active: activeIndex === 3 && percentButtonClicked }" @click="activeIndex = 3; percentButtonClicked = true; clickPercent(25);">25%
                </div>
              </div>
              <input type="number" class="form-control withdraw-money" @keydown="keydownWithdrawMoneyInput" :placeholder="card.config.currency.currencyId" v-model="withDrawAmount">
              <div class="d-flex justify-content-between">
                <span class="notice">
                  {{ $t("handling_fee") }}: {{ card.config.fee }} {{ card.config.currency.currencyId }}
                </span>
                <span class="notice">
                  <template v-if="card.config.adminFeePer">
                    {{ $t("administrative_fee") }}: {{ getAdminFee() }}
                  </template>
                </span>
                <span class="notice">{{ $t("reference_amount") }}: {{ referenceAmount() }}</span>
              </div>
              <div class="caption" v-if="wallets[0] && wallets[0].withdrawalSill > 0">
                <p v-if="isWithdrawalIgnoreSill === true"> {{ $t("the_flow_threshold_still_needs_to_be") }}<span style="color:red">{{ stringToMoney(wallets[0].withdrawalSill) }}</span>{{ $t("the_administrative_fee_can_be_waived") }}</p>
                <p v-if="isWithdrawalIgnoreSill === false"> {{ $t("the_flow_threshold_still_needs_to_be") }}<span style="color:red">{{ stringToMoney(wallets[0].withdrawalSill) }}</span>{{ $t("you_can_withdraw_money") }}</p>
              </div>
            </div>
          </div>
        </div>

        <template v-if="wallets[0] && wallets[0].withdrawalSill > 0 && isWithdrawalIgnoreSill === false">
          <div class="text-center ml-3">

            <button type="button" class="btn btn-primary d-block my-3" disabled="disable">
              {{ $t("withdrawalThresholdNotReached") }}
            </button>
          </div>
        </template>
        <template v-else>
          <div class="d-flex">
            <div class="w-25">
              <label class="form-label label-pw">{{ $t("transactionPassword") }}</label>
            </div>
            <div class="w-75">
              <div class="mb-4 text-left enter-pw">
                <div class="d-flex">
                  <input type="password" maxlength="4" v-model="password1" class="form-control" autocomplete="off">
                </div>

              </div>
            </div>
          </div>

          <div class="text-center ml-3">

            <button type="button" class="btn btn-primary d-block my-3" @click="sendOrder">
              {{ $t("submit_application") }}</button>
          </div>

        </template>

      </div>
    </form>

    <loading-overlay :active="isLoading" :can-cancel="false" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff">
    </loading-overlay>

  </div>
</template>

<script setup>
import { ref, onMounted, computed, watch } from 'vue';
import { useStore } from 'vuex';
import apiService from '@/api/apiService';
import common from "@/utils/common";
import { useI18n } from "vue-i18n";
import Swal from "sweetalert2";
import LoadingOverlay from 'vue-loading-overlay';

const { t } = useI18n();
const { errorHandling, stringToMoney, userLogout, getWallets } = common();
const store = useStore();
const activeIndex = ref(0);
const cardList = ref();
const card = ref();
const withDrawAmount = ref(0);
const password1 = ref('');
const checkBank = ref(0);
const isLoading = ref(false);
const isWithdrawalIgnoreSill = ref(false);
const wallets = computed(() => store.state.wallets);
const DomainLayoutId = computed(() => store.state.DomainLayoutId);
const percentButtonClicked = ref(true);

function getAdminFee() {
  return card.value.config.adminFee;
}

function referenceAmount() {
  return stringToMoney(withDrawAmount.value - card.value.config.fee - getAdminFee());
}

const getCardBankList = async () => {
  isLoading.value = true;
  apiService.post('/WithdrawalPay/Card/Bank/List', {
    sessionKey: localStorage.getItem("sessionKey"),
    lang: localStorage.getItem("locale"),
    currencyNo: Number(localStorage.getItem("currencyNo"))
  }).then((res) => {
    card.value = '';
    cardList.value = res.data;

    cardList.value.datas.forEach(element => {
      element.onlineWithdrawalInfo = JSON.parse(element.onlineWithdrawalInfo);
    });

    isWithdrawalIgnoreSill.value = res.data.isWithdrawalIgnoreSill
    if (cardList.value && cardList.value.datas.length >= 1) {
      clickCardBank(cardList.value.datas[0], 0);
      clickPercent(100);
    }
  }).catch((err) => {
    errorHandling(err);
  }).finally(() => {
    isLoading.value = false;
  });
}

const clickCardBank = (_card, index) => {
  card.value = _card;
  checkBank.value = index;
}

const clickPercent = async (_percent) => {
  withDrawAmount.value = parseInt(wallets.value[0].balance * _percent / 100);
}

/// 發送出款訂單
const sendOrder = () => {
  const _password = password1.value;
  let adminFee = getAdminFee();

  // 驗證訂單
  let msg = '';

  if (card.value == null || card.value.no <= 0)
    msg += t('please_select_withdrawal_location') + '\n';

  if (withDrawAmount.value <= 0)
    msg += t('please_enter_amount') + '\n';
  else if (!Number.isInteger(+(withDrawAmount.value)))
    msg += t('must_be_integer') + '\n';
  else if (withDrawAmount.value < card.value.config.minMoney || withDrawAmount.value > card.value.config.maxMoney)
    msg += t('single_withdrawal_amount_range') + card.value.config.minMoney.toString() + '~' + card.value.config.maxMoney.toString() + '\n';
  else if (withDrawAmount.value <= (card.value.config.fee + adminFee))
    msg += t('total_handling_fee') + '\n';

  if (_password.length == 0) msg += t('pleaseEnterTransactionPassword') + '\n';
  else if (_password.length != 4) msg += t('password_needs_4_digits') + '\n';

  if (msg.length > 0) {
    msg = '<pre>' + msg + '</pre>';
    Swal.fire("", msg, "warning");
    return;
  }

  isLoading.value = true;
  apiService.post('/WithdrawalPay/SendOrder', {
    sessionKey: localStorage.getItem("sessionKey"),
    type: Number(0),
    agentWithdrawalCardNo: Number(card.value.no),
    transactionPassword: _password,
    amount: Number(withDrawAmount.value)
  }).then(() => {
    getWallets();
    clearInput();
    Swal.fire("", t("success"), "success");
  }).catch((err) => {
    if (err.response == null || err.response.status == null) {
      console.log(err);
      Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
    } else {
      switch (err.response.status) {
        case 452: // 密碼錯誤
          Swal.fire("", t("withdrawal_password_wrong"), "error");
          break;
        case 453: // 餘額不足
          Swal.fire("", t("insufficient_balance"), "warning");
          break;
        case 454: // 重複申請
          Swal.fire("", t("repeatedSubmit"), "warning");
          break;
        case 455: // 暫不開放使用此出款卡
          Swal.fire("", t("withdrawalCardUnavailable"), "warning");
          break;
        case 456: // 未達到取款門檻
          Swal.fire("", t("withdrawalThresholdNotReached"), "warning");
          break;
        case 457: // 尚未設定出款密碼
          Swal.fire("", t("transfer_password_not_set"), "warning");
          break;
        case 458: // 已達到每日提款次數
          Swal.fire("", t("daily_withdrawals_reached"), "warning");
          break;
        default:
          errorHandling(err);
          break;
      }
    }

  }).finally(() => {
    isLoading.value = false;
  });
}

// 清除輸入框
function clearInput() {
  withDrawAmount.value = 0;
  password1.value = '';
  activeIndex.value = -1;
}

function keydownWithdrawMoneyInput(){
  if (event.key === '.') event.preventDefault();
  percentButtonClicked.value = false;
}

watch(
  () => store.state.wallets,
  () => {
    getCardBankList();
  }
)

watch(
  () => store.state.lang,
  () => {
    getCardBankList();
  }
)

onMounted( async () => {
  if (!localStorage.getItem("sessionKey")) { userLogout(); return; }
  getCardBankList();
})




</script>

<style lang="scss" scoped>
.no-wrap {
  white-space: nowrap;

  &.label-pw {
    padding-top: 0rem;
  }
}

.userInfo-middleContent {
  background-color: #2a3f3a;
  width: 80%;

  label {
    display: block;
    padding: 0.75rem 0.75rem;
    margin-left: 2rem;
  }

  .form-control {
    display: inline-block;
    width: 100%;
    background: #fff;
    border: 0.5px solid rgba(177, 177, 177, 0.5764705882);
    color: #000;
  }

  button.btn-primary {
    margin: auto;
    width: 20%;
    background: linear-gradient(to bottom, #006d57, #004d3d);
    border-color: #00805b;

    &:not(:disabled):hover {
      color: #ffce51;
    }
  }
}

.despoit-way {
  position: relative;
  display: flex;
  text-align: start;
  margin-left: -8px;
  justify-content: right;

  > div {
    margin: 0 0.5rem;
    padding: 1rem 0.8rem 0.3rem 0.8rem;

    &.active {
      cursor: default;
      border: 1px solid #ffffff;
    }

    img {
      display: inline-block;
      width: 30px;
      height: 30px;
    }
  }

  div.way-1 {
    flex: 0 0 auto;
    width: calc(33.33% - 16px);
    cursor: pointer;

    &.active {
      background: linear-gradient(
        278.93deg,
        #58a1df 0%,
        #5e4adc 48.96%,
        #d261b4 100%
      );
      border-radius: 4.47837px;
    }

    &.checkBank {
      box-shadow: 0px 0px 19px 4px rgba(38, 166, 153, 1);
    }

    .bank-bind {
      display: inline-block;
      border: none;
      margin-left: 10px;

      &.ellipsis span {
        max-width: 150px;
        /* Set the desired width */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      span {
        display: block;
        font-weight: normal;

        &:not(:first-child) {
          font-size: 0.5rem;
          line-height: 16px;
        }
      }
    }

    .bind-msg {
      position: absolute;
      right: 5px;
      bottom: 5px;
      padding: 0rem 0.5rem;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 20px;
      font-size: 0.1rem;
    }
  }

  .withdraw-noBind {
    font-size: 0.1rem;
    text-align: center;
    padding: 1rem 0 0.5rem 0;
    margin: 0 8px;
    border-radius: 5px;
    border: 1px solid rgba(197, 185, 211, 0.3);
    background: #1c1b27;
    flex: 0 0 auto;
    width: calc(33.33% - 16px);
    &:hover {
      border: 1px solid #808080;
    }

    img {
      width: 30px;
      height: 30px;
      margin-bottom: 5px;
    }

    div {
      border: none;
      padding: 0;
      margin: 0;

      &:nth-child(3) {
        line-height: 20px;
        -webkit-transform: scale(0.85);
      }
    }
  }

  .bind-notice {
    position: absolute;
    right: -8px;
    bottom: -24px;
    -webkit-transform: scale(0.9);
    color: #b8b8b8;

    .bank-bind-highlight {
      color: #ffce51;
    }
  }

  .bankDetailInfo {
    position: absolute;
    left: 8px;
    bottom: -100px;
    width: 98%;
    border: none;
    cursor: auto;

    &:hover {
      border: none;
    }

    div {
      border: none;
      padding: 0;
    }
  }
}

a.lan-button {
  position: relative;
  width: 100%;
  display: block;
  background: #000000;
  border: 1px solid rgba(197, 185, 211, 0.4);
  box-shadow: none;
  text-align: start;
  margin-bottom: 1rem;

  img {
    width: 35px;
  }

  .notice {
    color: #6f6f6f;

    &.position-absolute {
      right: 49px;
      bottom: 11px;
    }
  }

  .fa-caret-down {
    position: absolute;
    top: 12px;
    right: 10px;
    color: #b8b8b8;
    font-size: 1.3rem;
  }
}

.subLanMenu {
  position: absolute;
  right: 0;
  top: 70px;
  opacity: 0;
  visibility: hidden;
  min-width: auto;
  padding: 0px 15px 5px;
  background-color: #111022;
  border: 1px solid #561d7b;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  width: 100%;

  .lang-option {
    cursor: pointer;
    display: block;
    margin: 0.5rem 0;
    text-align: start;

    img {
      width: 10%;
    }
  }
}

a.lan-button.show-popup .subLanMenu {
  opacity: 1;
  visibility: visible;
}

a.lan-button.show-popup .subLanMenu a:hover {
  color: #de99ff;
}

.enter-account {
  margin-top: 4.5rem;
}

.form-control {
  width: 100%;
}

.enter-pw {
  .form-control {
    background: #fff;
    border: 1.05397px solid #b8b8b8;
    border-radius: 5.26987px;
    margin: 0 0.2rem;
    color: #000;
  }
}

.deposit-quota {
  margin: 1rem 0 1rem 0;

  .col {
    cursor: pointer;
    padding: 0.5rem 2rem;
    background: #fff;
    border-radius: 5px;
    color: #999593;
    font-size: 1.2rem;
    margin: 0.5rem 0.4rem 0.5rem 0;
    text-align: center;

    &:hover {
      background: #a68fb6;
      color: #fff;
    }

    &.active {
      background: #444444;
      color: #eba519;
    }
  }

  .withdraw-money {
    font-size: 2rem;

    &::placeholder {
      color: #fff;
    }
  }

  .notice {
    margin: 0.3rem 0;
    color: #b8b8b8;
  }

  .caption {
    margin-top: 1rem;
    padding: 1rem 1rem 0.5rem 1rem;
    background: #1c1b27;
    border: 1px solid rgba(197, 185, 211, 0.3);

    p {
      color: #9d9b98;
      font-weight: normal;
      margin-bottom: 0;
    }
  }
}

.changePW {
  cursor: pointer;
  float: right;
  color: #ffce51;

  &:hover {
    color: #ffffff;
  }
}

.withDraw-recoding-btn {
  cursor: pointer;
  margin: auto;
  color: #ffce51;

  &:hover {
    color: #ffffff;
  }
}

.modal-dialog {
  background: none;
  width: 450px;

  .modal-content {
    height: 300px;
    background: #000000;
    border: 1px solid #26a699;
    padding: 0.5rem 1.5rem 1rem 1.5rem;

    .modal-header {
      border: none;

      button.btn-close {
        position: absolute;
        right: 10px;
        top: 10px;
        background: transparent;
        color: #fff;
        font-size: 1.5rem;
      }
    }

    .btn-outline-primary {
      width: 20%;
      background: linear-gradient(to bottom, #006d57, #004d3d);
      border-color: #00805b;
      color: #fff;
    }

    .btn-outline-secondary {
      background: #535353;
      color: #fff;
    }
  }
}





.aaf{
  .no-wrap {
  white-space: nowrap;

  &.label-pw {
    padding-top: 0rem;
  }
}

.userInfo-middleContent {
  background-color: #fff;
  width: 80%;

  label {
    display: block;
    padding: 0.75rem 0.75rem;
    margin-left: 2rem;
  }

  .form-control {
    display: inline-block;
    width: 100%;
    background: #fff;
    border: 0.5px solid rgba(177, 177, 177, 0.5764705882);
    color: #000;
  }

  button.btn-primary {
    margin: auto;
    width: 20%;
    background: linear-gradient(to bottom, #50bcfc, #0983f6);
    // border-color: #00805b;

    &:not(:disabled):hover {
      color: #ffce51;
    }
  }
}

.despoit-way {
  position: relative;
  display: flex;
  text-align: start;
  margin-left: -8px;
  justify-content: right;

  > div {
    margin: 0 0.5rem;
    padding: 1rem 0.8rem 0.3rem 0.8rem;

    &.active {
      cursor: default;
      border: 1px solid #ffffff;
    }

    img {
      display: inline-block;
      width: 30px;
      height: 30px;
    }
  }

  div.way-1 {
    flex: 0 0 auto;
    width: calc(33.33% - 16px);
    cursor: pointer;

    &.active {
      background: linear-gradient(
        278.93deg,
        #58a1df 0%,
        #5e4adc 48.96%,
        #d261b4 100%
      );
      border-radius: 4.47837px;
    }

    &.checkBank {
      box-shadow: 0px 0px 19px 4px rgba(38, 166, 153, 1);
    }

    .bank-bind {
      display: inline-block;
      border: none;
      margin-left: 10px;

      &.ellipsis span {
        max-width: 150px;
        /* Set the desired width */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      span {
        display: block;
        font-weight: normal;

        &:not(:first-child) {
          font-size: 0.5rem;
          line-height: 16px;
        }
      }
    }

    .bind-msg {
      position: absolute;
      right: 5px;
      bottom: 5px;
      padding: 0rem 0.5rem;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 20px;
      font-size: 0.1rem;
    }
  }

  .withdraw-noBind {
    font-size: 0.1rem;
    text-align: center;
    padding: 1rem 0 0.5rem 0;
    margin: 0 8px;
    border-radius: 5px;
    border: 1px solid rgba(197, 185, 211, 0.3);
    background: rgba(161,214,243,0.5);
    flex: 0 0 auto;
    width: calc(33.33% - 16px);
    color: #000;
    &:hover {
      border: 1px solid #808080;
    }

    img {
      width: 30px;
      height: 30px;
      margin-bottom: 5px;
    }

    div {
      border: none;
      padding: 0;
      margin: 0;

      &:nth-child(3) {
        line-height: 20px;
        -webkit-transform: scale(0.85);
      }
    }
  }

  .bind-notice {
    position: absolute;
    right: -8px;
    bottom: -24px;
    -webkit-transform: scale(0.9);
    color: #b8b8b8;

    .bank-bind-highlight {
      color: #ffce51;
    }
  }

  .bankDetailInfo {
    position: absolute;
    left: 8px;
    bottom: -100px;
    width: 98%;
    border: none;
    cursor: auto;

    &:hover {
      border: none;
    }

    div {
      border: none;
      padding: 0;
    }
  }
}

a.lan-button {
  position: relative;
  width: 100%;
  display: block;
  background: #000000;
  border: 1px solid rgba(197, 185, 211, 0.4);
  box-shadow: none;
  text-align: start;
  margin-bottom: 1rem;

  img {
    width: 35px;
  }

  .notice {
    color: #6f6f6f;

    &.position-absolute {
      right: 49px;
      bottom: 11px;
    }
  }

  .fa-caret-down {
    position: absolute;
    top: 12px;
    right: 10px;
    color: #b8b8b8;
    font-size: 1.3rem;
  }
}

.subLanMenu {
  position: absolute;
  right: 0;
  top: 70px;
  opacity: 0;
  visibility: hidden;
  min-width: auto;
  padding: 0px 15px 5px;
  background-color: #111022;
  border: 1px solid #561d7b;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  width: 100%;

  .lang-option {
    cursor: pointer;
    display: block;
    margin: 0.5rem 0;
    text-align: start;

    img {
      width: 10%;
    }
  }
}

a.lan-button.show-popup .subLanMenu {
  opacity: 1;
  visibility: visible;
}

a.lan-button.show-popup .subLanMenu a:hover {
  color: #de99ff;
}

.enter-account {
  margin-top: 4.5rem;
}

.form-control {
  width: 100%;
}

.enter-pw {
  .form-control {
    background: #fff;
    border: 1.05397px solid #b8b8b8;
    border-radius: 5.26987px;
    margin: 0 0.2rem;
    color: #000;
  }
}

.deposit-quota {
  margin: 1rem 0 1rem 0;

  .col {
    cursor: pointer;
    padding: 0.5rem 2rem;
    background: #fff;
    border-radius: 5px;
    color: #999593;
    font-size: 1.2rem;
    margin: 0.5rem 0.4rem 0.5rem 0;
    text-align: center;

    &:hover {
      background: #a68fb6;
      color: #fff;
    }

    &.active {
      background: #444444;
      color: #eba519;
    }
  }

  .withdraw-money {
    font-size: 2rem;

    &::placeholder {
      color: #fff;
    }
  }

  .notice {
    margin: 0.3rem 0;
    color: #b8b8b8;
  }

  .caption {
    margin-top: 1rem;
    padding: 1rem 1rem 0.5rem 1rem;
    background: #1c1b27;
    border: 1px solid rgba(197, 185, 211, 0.3);

    p {
      color: #9d9b98;
      font-weight: normal;
      margin-bottom: 0;
    }
  }
}

.changePW {
  cursor: pointer;
  float: right;
  color: #ffce51;

  &:hover {
    color: #ffffff;
  }
}

.withDraw-recoding-btn {
  cursor: pointer;
  margin: auto;
  color: #ffce51;

  &:hover {
    color: #ffffff;
  }
}

.modal-dialog {
  background: none;
  width: 450px;

  .modal-content {
    height: 300px;
    background: #000000;
    border: 1px solid #26a699;
    padding: 0.5rem 1.5rem 1rem 1.5rem;

    .modal-header {
      border: none;

      button.btn-close {
        position: absolute;
        right: 10px;
        top: 10px;
        background: transparent;
        color: #fff;
        font-size: 1.5rem;
      }
    }

    .btn-outline-primary {
      width: 20%;
      background: linear-gradient(to bottom, #006d57, #004d3d);
      border-color: #00805b;
      color: #fff;
    }

    .btn-outline-secondary {
      background: #535353;
      color: #fff;
    }
  }
}
}
</style>