<template>
  <div class="userInfo-middleContent pr-4">
    <form class="w-100 pt-4">
      <div class="bankBindForm m-3">
        <div class="d-flex mb-5">
          <div class="w-25">
            <label class="form-label h6">{{ $t("bind_new_bank_card") }}</label>
          </div>
          <div class="w-75">

          </div>
        </div>
        <div class="d-flex mb-4">
          <div class="w-25">
            <label class="form-label">
              {{DomainLayoutId =='aae'? $t("pixType") : $t("pls_select_bank") }}
            </label>
          </div>
          <div class="w-75">
            <div class="mb-5">
              <div class="position-relative choice-chanel">
                <a href="javascript:void(0)" class="button lan-button" :class="[showPopup ? 'show-popup' : '']" @mouseleave="showPopup = false">
                  <div class="d-flex" @mouseover="showPopup = true">
                    <div class="ml-2">

                      <div v-if="bank">
                        <span>{{ bank.name }}</span>
                      </div>
                      <div v-else>
                        <span>
                          {{DomainLayoutId =='aae'? $t("pixType") : $t("pls_select_bank") }}
                        </span>
                      </div>

                    </div>
                  </div>
                  <span class="fa-solid fa-caret-down"><font-awesome-icon icon="fa-solid fa-caret-down" /></span>
                  <div class="subLanMenu">
                    <a class="lang-option" v-for="b in bankList" :key="b" @click="clickBank(b)">
                      <img :src="b.image" alt="">
                      {{ b.name }}
                    </a>
                  </div>
                </a>
                <div class="mt-2" v-show="errorMsg.bank" style="color: red">{{ errorMsg.bank }}</div>
              </div>

            </div>

          </div>
        </div>
        <div v-if="bank?.payType === 1">
          <div class="d-flex">
            <div class="w-25">
              <label class="form-label">{{ $t("branch_name") }}</label>
            </div>
            <div class="w-75">
              <div class="mb-4">
                <input type="text" v-model="bankBranch" maxlength="100" class="form-control" :placeholder="$t('pls_enter_bank_branch_name')">
                <div v-show="errorMsg.bankBranch" style="color: red">{{ errorMsg.bankBranch }}</div>
              </div>
            </div>
          </div>
          <div class="d-flex">
            <div class="w-25">
              <label class="form-label">{{ $t("bankCardNumber") }}</label>
            </div>
            <div class="w-75">
              <div class="mb-4">
                <input type="text" v-model="bankCarkNo" maxlength="100" class="form-control" :placeholder="$t('pls_enter_bank_card_number')">
                <div v-show="errorMsg.bankCarkNo" style="color: red">{{ errorMsg.bankCarkNo }}</div>
              </div>
            </div>
          </div>
          <div class="d-flex">
            <div class="w-25">
              <label class="form-label">{{ $t("payee") }}</label>
            </div>
            <div class="w-75">
              <div class="mb-4">
                <input type="text" v-model="payee" maxlength="50" class="form-control" :placeholder="$t('please_enter_payee')" :disabled="hasRealName === true">
                <div v-show="errorMsg.payee" style="color: red">{{ errorMsg.payee }}</div>
                <div class="d-block notice" style="color:red"><font-awesome-icon icon="fa-solid fa-triangle-exclamation" />
            {{ $t('for_safety_funds_bank_card_bound_firsttime_must_you_name') }}</div>
              </div>
            </div>
          </div>
          <div class="d-flex">
            <div class="w-25">
              <label class="form-label">{{ $t("remark") }}</label>
            </div>
            <div class="w-75">
              <div class="mb-1">
                <input type="text" v-model="remark" class="form-control" :placeholder="$t('pls_enter_note')">
              </div>
            </div>
          </div>
        </div>
        <div v-if="bank?.payType === 2">
          <div v-for="(paramsItem, index) in bank.params" :key="index" class="d-flex">
            <div class="w-25">
              <label class="form-label">{{ $t(paramsItem.name) }}</label>
            </div>
            <div class="w-75">
              <div class="mb-4">
                <input type="text" v-model="paramsItem.value" class="form-control">
                <div v-show="paramsItem.errorMsg" style="color: red">{{ paramsItem.errorMsg }}</div>
              </div>
            </div>
          </div>
          <div class="d-flex">
            <div class="w-25">
              <label class="form-label">{{ $t("payee") }}</label>
            </div>
            <div class="w-75">
              <div class="mb-4">
                <input type="text" v-model="payee" maxlength="50" class="form-control" :placeholder="$t('please_enter_payee')" :disabled="hasRealName === true">
                <div v-show="errorMsg.payee" style="color: red">{{ errorMsg.payee }}</div>
                <div class="d-block notice" style="color:red"><font-awesome-icon icon="fa-solid fa-triangle-exclamation" />
            {{ $t('for_safety_funds_bank_card_bound_firsttime_must_you_name') }}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="buttons d-flex justify mt-5">
          <button type="button" class="btn btn-primary d-block" @click="addDrawalPayCardBank">{{ $t("bind_now") }}</button>
          <button type="button" class="gobackBtn" @click="goBack">{{ $t('return') }}</button>
        </div>
        

      </div>

    </form>
    <!-- 加載 -->
    <loading v-model:active="isLoading" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />
  </div>

</template>

<script setup>
import { ref, onMounted, reactive, computed, watch } from 'vue';
import apiService from '@/api/apiService';
import common from "@/utils/common";
import { useStore } from "vuex"
import { useI18n } from "vue-i18n";
import { useRouter } from "vue-router";
import Loading from 'vue-loading-overlay';
import Swal from "sweetalert2";

const { t } = useI18n();
const store = useStore();
const bank = ref();
const bankList = ref();
const bankBranch = ref('');
const bankCarkNo = ref('');
const payee = ref('');
const remark = ref('');
const showPopup = ref(false);
const isLoading = ref(false);
const { errorHandling, userLogout } = common();
const router = useRouter();
const hasRealName = ref('false');
const errorMsg = reactive({
  bank: '',
  bankBranch: '',
  bankCarkNo: '',
  payee: '',
});

const user = computed(() => store.state.user);
const DomainLayoutId = computed(() => store.state.DomainLayoutId);

/// 取得出款銀行卡
const getCardBankList = async () => {
  apiService.post('/WithdrawalPay/Bank', {
    sessionKey: localStorage.getItem("sessionKey"),
    lang: localStorage.getItem("locale"),
    currencyNo: Number(localStorage.getItem("currencyNo"))
  }).then((res) => {
    if (res.data != null && res.data.datas.length > 0) {
      bankList.value = res.data.datas[0].bankInfos;
    }
    if(bankList.value){
      bankList.value.forEach(element => {
        element.params = JSON.parse(element.params);
        if(element.params){
          element.params.forEach(item => {
            item.value = '';
            item.errorMsg = '';
          })
        }
      });
    }
    if (user.value.realName) {
      payee.value = user.value.realName;
      hasRealName.value = true;
    }
  }).catch((err) => {
    errorHandling(err);
  });
}
/// 選擇出款銀行卡
const clickBank = async (_bank) => {
  showPopup.value = false;
  bank.value = _bank;
}
/// 新增出款銀行卡
const addDrawalPayCardBank = () => {
  let params = '';
  // 選擇銀行
  if (bank.value == null || bank.value.no <= 0){
    errorMsg.bank = t('pls_select_bank');
    return;
  }


  if(bank.value.payType === 1){
    // 去除前後空白
    bankBranch.value = bankBranch.value.trim();
    bankCarkNo.value = bankCarkNo.value.trim();
    payee.value = payee.value.trim();

    if (!verifyAdd()) return;
    params = {
      sessionKey: localStorage.getItem("sessionKey"),
      bankNo: bank.value.no,
      bankBranchName: bankBranch.value,
      bankAccount: bankCarkNo.value,
      payee: payee.value,
      remark: remark.value,
      payType: 1
    }
  }
  else if(bank.value.payType === 2){
    bank.value.params.forEach(item=>{
      // mail都轉小寫
      if(item.name === 'bt.pix.email.accountno' && item.changeLowercase){
        item.value = item.value.toLowerCase()
      }

      // 去除空白
      item.value = item.value.trim();
    });

    if (!verifyAddOnlineWithdrawalAdd(bank.value.params)) return;

    params = {
      sessionKey: localStorage.getItem("sessionKey"),
      bankNo: bank.value.no,
      payType: 2,
      onlineWithdrawalInfo: null,
      payee: payee.value,
      bankAccount:null
    }

    let onlineWithdrawalInfo = {};

    bank.value.params.forEach(item => {
      onlineWithdrawalInfo[item.name] = item.prefix ? item.prefix + item.value : item.value

      if(item.isBankAccount){
        params.bankAccount = item.prefix ? item.prefix + item.value : item.value;
      }
    })
    
    onlineWithdrawalInfo = JSON.stringify(onlineWithdrawalInfo);
    params.onlineWithdrawalInfo = onlineWithdrawalInfo;
  }
  
  isLoading.value = true;

  apiService.post('/WithdrawalPay/Card/Bank/Add', params).then(() => {
    router.push({ name: DomainLayoutId.value + 'CommonWithdraw' });
  }).catch((err) => {
    if (err.response == null || err.response.status == null) {
      console.log(err);
      Swal.fire("", t("sportApiThirdPartyCode_systemError"), "error");
    } else {
      switch (err.response.status) {
        case 452: // 已達上限
          Swal.fire("", t("limitReached"), "warning");
          break;
        case 453: // 不可使用的收款人
          Swal.fire("", t("payee_not_available"), "warning");
          break;
        case 454: // 不可使用的銀行帳號
          Swal.fire("", t("bank_account_not_available"), "warning");
          break;
        default:
          errorHandling(err);
          break;
      }
    }
  }).finally(() => {
    isLoading.value = false;
  });
}
/// 回上一頁
const goBack = () => {
  router.go(-1);
};

const verifyAdd = () => {

  errorMsg.bank = '';
  errorMsg.bankBranch = '';
  errorMsg.bankCarkNo = '';
  errorMsg.payee = '';


  // 驗證分行
  if (bankBranch.value.length <= 0)
    errorMsg.bankBranch = t('pls_enter_bank_branch_name');
  else if (bankBranch.value.length > 100)
    errorMsg.bankBranch = t('limit_in_100_charater');

  // 驗證卡號
  let regex = /^[0-9]{1,100}$/;
  if (bankCarkNo.value.length <= 0)
    errorMsg.bankCarkNo = t('pls_enter_bank_card_number');
  else if (bankCarkNo.value.length > 100)
    errorMsg.bankCarkNo = t('limit_in_100_charater');
  else if (!regex.test(bankCarkNo.value))
    errorMsg.bankCarkNo = t('limitNumbers');

  // 驗證收款人
  if (payee.value.length <= 0)
    errorMsg.payee = t('please_enter_payee');
  else if (payee.value.length > 50)
    errorMsg.payee = t('limit_in_50_charater');

  if (errorMsg.bank.length > 0 || errorMsg.bankBranch.length > 0 || errorMsg.bankCarkNo.length > 0 || errorMsg.payee.length > 0)
    return false;

  return true;
}

const verifyAddOnlineWithdrawalAdd = (params) => {
  errorMsg.bank = '';
  errorMsg.payee = '';
  params.forEach(item => {
    item.errorMsg = '';
  })

  params.forEach(item => {
    if(item.isRequired && item.value.length === 0){
      item.errorMsg = t('please_enter_data');
    }
    else if(item.regex && !new RegExp(item.regex).test(item.value)){
      item.errorMsg = t('input_wrong_format');
    }
  })

  let hasError = false;
  params.forEach(item => {
    if(item.errorMsg !== ''){
      hasError = true;
    }
  })

  // 驗證收款人
  if (payee.value.length <= 0){
    errorMsg.payee = t('please_enter_payee');
    hasError = true;
  }
  else if (payee.value.length > 50){
    errorMsg.payee = t('limit_in_50_charater');
    hasError = true;
  }

  if(hasError) return false;

  return true;
}

watch(
  () => store.state.wallets,
  () => {
    goBack();
  }
)


onMounted(() => {
  if (!localStorage.getItem("sessionKey")) { userLogout(); return; }
  getCardBankList();
})
</script>

<style lang="scss" scoped>
.mb-4 {
  position: relative;

  .form-control {
    display: inline-block;
    width: 100%;
    background: #fff;
    border: 0.5px solid rgba(177, 177, 177, 0.5764705882);
    color: #000;
    margin-bottom: 1rem;

    & + div {
      position: absolute;
      bottom: -0.5rem;
      left: 5px;
    }

    &:read-only {
      background-color: #ccc;
    }
  }
}

.bank-bind {
  padding-top: 3.6rem;

  .form-control {
    width: 100%;
  }

  .notice {
    color: #9d9b98;

    .fa-triangle-exclamation {
      color: #b83830;
      font-size: 1rem;
    }
  }
}

a.lan-button {
  position: relative;
  width: 100%;
  display: block;
  background: #fff;
  border: 1px solid rgba(197, 185, 211, 0.4);
  box-shadow: none;
  text-align: start;
  margin-bottom: 1rem;
  color: #000;
  padding: 0.5rem;
  border-radius: 5px;

  img {
    width: 35px;
  }

  .notice {
    color: #6f6f6f;
  }

  .fa-caret-down {
    position: absolute;
    top: 7px;
    right: 10px;
    color: #000;
    font-size: 1.3rem;
  }

  & + div {
    position: absolute;
    bottom: -3rem;
    left: 5px;
  }
}

.subLanMenu {
  position: absolute;
  right: 0;
  top: 35px;
  opacity: 0;
  visibility: hidden;
  min-width: auto;
  padding: 0px;
  background-color: #fff;
  border: 2px solid #61c3a7;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 300px;
  overflow: auto;

  .lang-option {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 1rem;
    text-align: start;
    color: #000;

    &:hover {
      background: #bbbbbb;
    }

    img {
      width: 10%;
      margin-right: 1rem;
    }
  }
}

a.lan-button.show-popup .subLanMenu {
  opacity: 1;
  visibility: visible;
}

a.lan-button.show-popup .subLanMenu a:hover {
  color: #387063 !important;
}

.enter-account {
  margin-top: 4.5rem;
}

.choice-chanel {
  height: 15px;

  .chanel-type {
    font-weight: normal;

    .chanel {
      background: #1c1b27;
      border: 1px solid rgba(197, 185, 211, 0.1);
      border-left: none;
      padding-right: 4rem;
      padding-bottom: 10px;

      .chanel-title {
        margin: 1rem 0;
        font-size: 0.85rem;
      }

      img {
        width: 140px;
      }

      .notice {
        margin: 1rem 0;
        color: #b8b8b8;
      }
    }
  }
}

.buttons {
  justify-content: center;
}

button.btn-primary {
  width: 20%;
  height: 38px;
  background: linear-gradient(to bottom, #006d57, #004d3d);
  border-color: #00805b;

  &:hover {
    color: #ffce51;
  }
}

.gobackBtn {
  height: 38px;
  padding: 0px;
  width: 20%;
  text-align: center;
  color: #fefeff;
  background: linear-gradient(180deg, #9d2024 0%, #3f0303 100%);
  border-color: #d65155;
  border-radius: 3px;
  box-shadow: none;
  margin-left: 20px;
}

.aad {
  button.btn-primary {
  width: 20%;
  height: 38px;
  background: linear-gradient(180deg, #e7b823, #c97705) !important;
    border-color: #ffce51 !important;

  &:hover {
    color: #ffce51;
  }
}

.gobackBtn {
  height: 38px;
  padding: 0px;
  width: 20%;
  text-align: center;
  color: #fefeff;
  background: linear-gradient(180deg, #9d2024 0%, #3f0303 100%);
  border-color: #d65155;
  border-radius: 3px;
  box-shadow: none;
  margin-left: 20px;
}
}
</style>