<template>
  <div class="mt-4">
    <div class="userInfo d-flex">
      <div class="userInfo-leftNav pt-4">
        <ol class="list-group list-group-numbered">

          <router-link :to="{ name: DomainLayoutId + 'CommonWithdraw' }" class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">{{ $t("traditional_withdrawal") }}</div>
            </div>
            <span v-if="$route.fullPath === '/MemberCentre/Withdraw/CommonWithdraw'"><font-awesome-icon icon="fa-solid fa-chevron-right" /></span>
          </router-link>
          <router-link :to="{ name: DomainLayoutId + 'WithdrawRecord' }" class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">{{ $t("withdrawal_record") }}</div>
            </div>
            <span v-if="$route.fullPath === '/MemberCentre/Withdraw/WithdrawRecord'"><font-awesome-icon icon="fa-solid fa-chevron-right" /></span>
          </router-link>
          <router-link :to="{ name: DomainLayoutId + 'ChangeWithdrawPwView' }" class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">{{ $t("changeTransactionPassword") }}</div>
            </div>
            <span v-if="$route.fullPath === '/MemberCentre/Withdraw/ChageWithdrawPwView'"><font-awesome-icon icon="fa-solid fa-chevron-right" /></span>
          </router-link>
        </ol>
      </div>
      <router-view />
    </div>

  </div>
  
</template>

<script setup>
import { computed } from 'vue';
import { useStore } from 'vuex';

const store = useStore();
const DomainLayoutId = computed(() => store.state.DomainLayoutId);
</script>

<style lang="scss" scoped>
.outSideControl {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 0 50px 0;
  //background-color: #FFCE51;
  margin-top: 0px !important;
}

.userInfo-leftNav {
  width: 20%;
  background: #1C4F3E;
  border: 1px solid #61C3A7;


  .list-group-item {
    cursor: pointer;
    border: none;
    background-color: transparent;

    &.active {
      margin-top: 0;
      color: #FFCE51;
      border: none;
      background: linear-gradient(to top, #171c1c, #004d3d);
      cursor: default;

      &:hover {
        color: #FFCE51;
      }

    }

    &:hover {
      color: #FFCE51;
    }

    span {
      color: #fff;
    }
  }

  .router-link-active {
    margin-top: 0;
    color: #ffce51;
    border: none;
    background: linear-gradient(to top, #171c1c, #004d3d);
    cursor: default;

    &:hover {
      color: #ffce51;
    }
  }
}

.userInfo-middleContent {
  background-color: #2A3F3A;
  width: 80%;

  label {
    display: block;
    padding: 0.75rem 0.75rem;
    margin-left: 5rem;
  }

  .form-control {
    display: inline-block;
    width: 60%;
    background: #000000;
    border: 0.5px solid rgba(177, 177, 177, 0.5764705882);
    color: #fff;
  }

  button.btn-primary {
    margin: auto;
    width: 20%;
    background: linear-gradient(to bottom, #006d57, #004d3d);
    border-color: #00805b;

    &:hover {
      color: #c6dbff;
    }
  }
}




.aaf{
  .outSideControl {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 0 50px 0;
  //background-color: #FFCE51;
  margin-top: 0px !important;
}

.userInfo-leftNav {
  width: 20%;
  background: #fff;
  border: none;
border-right: 1px solid #dee2e6;


  .list-group-item {
    cursor: pointer;
    border: none;
    background-color: transparent;
color: #000;
    &.active {
      margin-top: 0;
      color: #FFCE51;
      border: none;
      background: linear-gradient(to top, #171c1c, #004d3d);
      cursor: default;

      &:hover {
        color: #FFCE51;
      }

    }

    &:hover {
      color: #FFCE51;
    }

    span {
      color: #fff;
    }
  }

  .router-link-active {
    margin-top: 0;
    color: #fff;
    border: none;
    background: linear-gradient(to top, #0983f6, #4ebafd);
    cursor: default;

    &:hover {
      color: #ffce51;
    }
  }
}

.userInfo-middleContent {
  background-color: #2A3F3A;
  width: 80%;

  label {
    display: block;
    padding: 0.75rem 0.75rem;
    margin-left: 5rem;
  }

  .form-control {
    display: inline-block;
    width: 60%;
    background: #000000;
    border: 0.5px solid rgba(177, 177, 177, 0.5764705882);
    color: #fff;
  }

  button.btn-primary {
    margin: auto;
    width: 20%;
    background: linear-gradient(to bottom, #006d57, #004d3d);
    border-color: #00805b;

    &:hover {
      color: #c6dbff;
    }
  }
}
}
</style>