<template>
  <div>
    <div class="phone-header__top w-100">
      <div class="d-flex justify-content-between align-items-center bg-white py-3 px-3">
        <div class="logo">
          <img src="@/assets/aaf/img/phone/logo.png" alt="">
        </div>
        
        <div v-if="!isLogin">
          <div class="btn fs-12 bg-blue text-white px-4 mr-2" data-bs-target="#collapseTarget" data-bs-toggle="modal"  @click="selectTab(false)">SIGN UP</div>
          <div class="btn fs-12 bg-yellow px-4" data-bs-target="#collapseTarget" data-bs-toggle="modal" @click="selectTab(true)">LOGIN IN</div>
        </div>
        
      </div>
      <marquee-view />
    </div>
    <div class="phone">
      <div class="banner-section section mb-2">
        <swiper class="banner pt-3" :modules="modules" :slides-per-view="1" :loop="true" :scrollbar="false" :autoplay="{ delay: 1500 }" :speed="1000" :pagination="{ clickable: true }" navigation>
          <swiper-slide>
            <img src="@/assets/aaf/img/phone/banner.png" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="@/assets/aaf/img/phone/banner.png" alt="" />
          </swiper-slide>
        </swiper>
        <router-link class="learn-more btn text-black fw-bold px-5 py-3" :to="{ name: 'aafHome' }" ><span class="mx-3">Learn More</span></router-link>
      </div>
      <div class="gameClass-section section pl-3 mb-4">
        <swiper class="" :modules="modules" :slides-per-view="'auto'" :space-between="10" :scrollbar="false" :speed="1000">
            <swiper-slide>
              <router-link class="item d-flex align-items-center text-black px-3 py-2 mr-2" :to="{ name: 'aafHome' }" >
                <img style="width:34px" src="@/assets/aaf/img/phone/icon-1.png" alt="">
                <span class="ml-2">Slot</span>
              </router-link>
            </swiper-slide>
            <swiper-slide>
              <router-link class="item d-flex align-items-center text-black px-3 py-2 mr-2" :to="{ name: 'aafHome' }" >
                <img style="width:40px" src="@/assets/aaf/img/phone/icon-2.png" alt="">
                <span class="ml-2">NEW</span>
              </router-link>
            </swiper-slide>
            <swiper-slide>
              <router-link class="item d-flex align-items-center text-black px-3 py-2 mr-2" :to="{ name: 'aafHome' }" >
                <img style="width:26px" src="@/assets/aaf/img/phone/icon-3.png" alt="">
                <span class="ml-2">Popular</span>
              </router-link>
            </swiper-slide>
            <swiper-slide>
              <router-link class="item d-flex align-items-center text-black px-3 py-2 mr-2" :to="{ name: 'aafHome' }" >
                <img style="width:26px" src="@/assets/aaf/img/phone/icon-4.png" alt="">
                <span class="ml-2">Bonus Buy</span>
              </router-link>
            </swiper-slide>
          </swiper>
      </div>
      <div class="popular-section section mb-4">
        <div class="title-block d-flex justify-content-between align-items-center px-3 pb-3">
          <div class="title text-blue d-flex align-items-center">
            <img style="width:30px" src="@/assets/aaf/img/phone/popular.png" alt="">
            <span class="fw-bold fs-20 ml-2">Popular</span>
          </div>
          <div class="d-flex">
            <div class="popular-prev flex-center mr-2">
              <img src="@/assets/aaf/img/phone/arrow-l.png" alt="">
            </div>
            <div class="popular-next flex-center">
              <img src="@/assets/aaf/img/phone/arrow-r.png" alt="">
            </div>
          </div>
          <router-link class="text-yellow fw-bold" :to="{ name: 'aafHome' }" >More</router-link>
        </div>
        <div class="content-block">
          <swiper class="" :modules="modules" :slides-per-view="2.4" :navigation="{ nextEl: '.popular-next', prevEl: '.popular-prev' }" :loop="true" :space-between="20" :centered-slides-bounds="true" :centered-slides="true" :scrollbar="false" :autoplay="{ delay: 1000 }" :speed="1000">
            <swiper-slide>
              <router-link :to="{ name: 'aafHome' }" >
                <img src="@/assets/aaf/img/phone/popular-1.png" alt="" />
              </router-link>
            </swiper-slide>
            <swiper-slide>
              <router-link :to="{ name: 'aafHome' }" >
                <img src="@/assets/aaf/img/phone/popular-1.png" alt="" />
              </router-link>
            </swiper-slide>
            <swiper-slide>
              <router-link :to="{ name: 'aafHome' }" >
                <img src="@/assets/aaf/img/phone/popular-1.png" alt="" />
              </router-link>
            </swiper-slide>
            <swiper-slide>
              <router-link :to="{ name: 'aafHome' }" >
                <img src="@/assets/aaf/img/phone/popular-1.png" alt="" />
              </router-link>
            </swiper-slide>  
            <swiper-slide>
              <router-link :to="{ name: 'aafHome' }" >
                <img src="@/assets/aaf/img/phone/popular-1.png" alt="" />
              </router-link>
            </swiper-slide>
            <swiper-slide>
              <router-link :to="{ name: 'aafHome' }" >
                <img src="@/assets/aaf/img/phone/popular-1.png" alt="" />
              </router-link>
            </swiper-slide>
          </swiper>
        </div>
      </div>
      <div class="winners-section section mb-4">
        <div class="title-block px-3 pb-3">
          <div class="title text-blue d-flex align-items-center">
            <img style="width:30px" src="@/assets/aaf/img/phone/winners.png" alt="">
            <span class="fw-bold fs-20 ml-2">Be one of the winners</span>
          </div>
        </div>
        <div class="content-block ml-3">
          <swiper class="arrows-style-1" :modules="modules" :slides-per-view="2.2"  :loop="true" :space-between="10" :scrollbar="false" :autoplay="{ delay: 1500 }" :speed="1000">
            <swiper-slide>
              <router-link :to="{ name: 'aafHome' }" >
                <img src="@/assets/aaf/img/phone/winners-1.png" alt="" />
              </router-link>
            </swiper-slide>
            <swiper-slide>
              <router-link :to="{ name: 'aafHome' }" >
                <img src="@/assets/aaf/img/phone/winners-1.png" alt="" />
              </router-link>
            </swiper-slide>
            <swiper-slide>
              <router-link :to="{ name: 'aafHome' }" >
                <img src="@/assets/aaf/img/phone/winners-1.png" alt="" />
              </router-link>
            </swiper-slide>
            <swiper-slide>
              <router-link :to="{ name: 'aafHome' }" >
                <img src="@/assets/aaf/img/phone/winners-1.png" alt="" />
              </router-link>
            </swiper-slide>
            <swiper-slide>
              <router-link :to="{ name: 'aafHome' }" >
                <img src="@/assets/aaf/img/phone/winners-1.png" alt="" />
              </router-link>
            </swiper-slide>
            <swiper-slide>
              <router-link :to="{ name: 'aafHome' }" >
                <img src="@/assets/aaf/img/phone/winners-1.png" alt="" />
              </router-link>
            </swiper-slide>
          </swiper>
        </div>
      </div>
      <div class="promotions-section section mb-4">
        <div class="title-block d-flex justify-content-between align-items-center px-3 pb-3">
          <div class="title text-blue d-flex align-items-center">
            <img style="width:30px" src="@/assets/aaf/img/phone/promotions.png" alt="">
            <span class="fw-bold fs-20 ml-2">Promotions</span>
          </div>
          <router-link class="text-yellow fw-bold" :to="{ name: 'aafHome' }" >Show all</router-link>
        </div>
        <div class="content-block pl-3">
          <swiper class="arrows-style-1" :modules="modules" :loop="true" :scrollbar="false" navigation :speed="1000">
            <swiper-slide>
              <div class="item">
                <img src="@/assets/aaf/img/phone/promotion-1.png" alt="" />
                <div class="btn promoCode-btn bg-white border-radius-10 py-1">
                  <span class="fs-18">Promocode [FWB]</span>
                  <img class="ml-2" style="width:18px" src="@/assets/aaf/img/phone/promocode.png" alt="">
                </div>
                <router-link :to="{ name: 'aafHome' }" class="btn checkDetail-btn bg-yellow border-radius-10 fs-18 py-2 px-4">
                  <span class="d-block py-1">Check details</span>
                </router-link>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="item">
                <img src="@/assets/aaf/img/phone/promotion-1.png" alt="" />
                <div class="btn promoCode-btn bg-white border-radius-10 py-1">
                  <span class="fs-18">Promocode [FWB]</span>
                  <img class="ml-2" style="width:18px" src="@/assets/aaf/img/phone/promocode.png" alt="">
                </div>
                <router-link :to="{ name: 'aafHome' }" class="btn checkDetail-btn bg-yellow border-radius-10 fs-18 py-2 px-4">
                  <span class="d-block py-1">Check details</span>
                </router-link>
              </div>
            </swiper-slide>
          </swiper>
        </div>
      </div>
      <div class="casinoGames-section section mb-4">
        <div class="title-block d-flex justify-content-between align-items-center px-3 pb-3">
          <div class="title text-blue d-flex align-items-center">
            <img style="width:30px" src="@/assets/aaf/img/phone/casinoGames.png" alt="">
            <span class="fw-bold fs-20 ml-2">Live casino games</span>
          </div>
          <router-link class="text-yellow fw-bold" :to="{ name: 'aafHome' }" >Show all</router-link>
        </div>
        <div class="content-block ml-3">
          <swiper class="arrows-style-1" :modules="modules" :slides-per-view="2.1"  :loop="true" :space-between="10" :scrollbar="false" :autoplay="{ delay: 1500 }" :speed="1000">
            <swiper-slide>
              <router-link :to="{ name: 'aafHome' }" >
                <img src="@/assets/aaf/img/phone/casinoGames-1.png" alt="" />
              </router-link>
            </swiper-slide>
            <swiper-slide>
              <router-link :to="{ name: 'aafHome' }" >
                <img src="@/assets/aaf/img/phone/casinoGames-1.png" alt="" />
              </router-link>
            </swiper-slide>
            <swiper-slide>
              <router-link :to="{ name: 'aafHome' }" >
                <img src="@/assets/aaf/img/phone/casinoGames-1.png" alt="" />
              </router-link>
            </swiper-slide>
            <swiper-slide>
              <router-link :to="{ name: 'aafHome' }" >
                <img src="@/assets/aaf/img/phone/casinoGames-1.png" alt="" />
              </router-link>
            </swiper-slide>
            <swiper-slide>
              <router-link :to="{ name: 'aafHome' }" >
                <img src="@/assets/aaf/img/phone/casinoGames-1.png" alt="" />
              </router-link>
            </swiper-slide>
            <swiper-slide>
              <router-link :to="{ name: 'aafHome' }" >
                <img src="@/assets/aaf/img/phone/casinoGames-1.png" alt="" />
              </router-link>
            </swiper-slide>
          </swiper>
        </div>
      </div>
      <div class="recentWinners-section mb-4">
        <div class="title-block d-flex justify-content-between align-items-center px-3 pb-3">
          <div class="title text-blue d-flex align-items-center">
            <img style="width:22px" src="@/assets/aaf/img/phone/recentWinners.png" alt="">
            <span class="fw-bold fs-20 ml-2">Recent winners</span>
          </div>
        </div>
        <div class="content-block fs-12 fw-bold mx-3">
          <div class="title-box d-flex justify-content-between bg-yellow p-3">
            <span>Game</span>
            <span>Payout</span>
          </div>
          <div class="item d-flex justify-content-between p-3">
            <div class="d-flex align-items-center">
              <img style="width:26px;" src="@/assets/aaf/img/phone/recent-winners-icon.png" alt="">
              <span class="ml-3">Red Hot BBQ</span>
            </div>
            <div class="d-flex align-items-center">
              <img style="width:16px;" src="@/assets/aaf/img/phone/recent-icon-1.png" alt="">
              <span class="text-lightGreen ml-2">0.00000074</span>
            </div>
          </div>
          <div class="item d-flex justify-content-between p-3">
            <div class="d-flex align-items-center">
              <img style="width:26px;" src="@/assets/aaf/img/phone/recent-winners-icon.png" alt="">
              <span class="ml-3">Red Hot BBQ</span>
            </div>
            <div class="d-flex align-items-center">
              <img style="width:16px;" src="@/assets/aaf/img/phone/recent-icon-2.png" alt="">
              <span class="text-lightGreen ml-2">0.00000074</span>
            </div>
          </div>
          <div class="item d-flex justify-content-between p-3">
            <div class="d-flex align-items-center">
              <img style="width:26px;" src="@/assets/aaf/img/phone/recent-winners-icon.png" alt="">
              <span class="ml-3">Red Hot BBQ</span>
            </div>
            <div class="d-flex align-items-center">
              <img style="width:16px;" src="@/assets/aaf/img/phone/recent-icon-3.png" alt="">
              <span class="text-lightGreen ml-2">0.00000074</span>
            </div>
          </div>
          <div class="item d-flex justify-content-between p-3">
            <div class="d-flex align-items-center">
              <img style="width:26px;" src="@/assets/aaf/img/phone/recent-winners-icon.png" alt="">
              <span class="ml-3">Red Hot BBQ</span>
            </div>
            <div class="d-flex align-items-center">
              <img style="width:16px;" src="@/assets/aaf/img/phone/recent-icon-1.png" alt="">
              <span class="text-lightGreen ml-2">0.00000074</span>
            </div>
          </div>
          <div class="item d-flex justify-content-between p-3">
            <div class="d-flex align-items-center">
              <img style="width:26px;" src="@/assets/aaf/img/phone/recent-winners-icon.png" alt="">
              <span class="ml-3">Red Hot BBQ</span>
            </div>
            <div class="d-flex align-items-center">
              <img style="width:16px;" src="@/assets/aaf/img/phone/recent-icon-2.png" alt="">
              <span class="text-lightGreen ml-2">0.00000074</span>
            </div>
          </div>
          <div class="item d-flex justify-content-between p-3">
            <div class="d-flex align-items-center">
              <img style="width:26px;" src="@/assets/aaf/img/phone/recent-winners-icon.png" alt="">
              <span class="ml-3">Red Hot BBQ</span>
            </div>
            <div class="d-flex align-items-center">
              <img style="width:16px;" src="@/assets/aaf/img/phone/recent-icon-3.png" alt="">
              <span class="text-lightGreen ml-2">0.00000074</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 底部選單 -->
  <phone-footer-menu-view />

</template>
<script setup>
import { ref, onMounted, computed } from "vue";
import { useStore } from "vuex";
import common from "@/utils/common";
const { getLogo, selectTab } = common();
import MarqueeView from "@/components/aaf/phone/PhoneMarqueeView.vue";

import { Swiper, SwiperSlide } from "swiper/vue";
import {
  Navigation,
  Pagination,
  Scrollbar,
  A11y,
  EffectFade,
  Autoplay,
} from "swiper";
const modules = [Navigation, Pagination, Scrollbar, A11y, EffectFade, Autoplay];

const downloadUrl = ref("");
const store = useStore();
const lang = computed(() => store.state.lang);
const selectedLang = ref('');
const logo = ref('');
const isLogin = computed(() => store.state.isLogin);

import PhoneFooterMenuView from "@/components/aaf/phone/PhoneFooterMenuView.vue";

import "swiper/css";
import "swiper/css/pagination";
import 'swiper/css/navigation';

onMounted(async () => {
  // getRedPacketInfo();
  selectedLang.value = lang.value
  downloadUrl.value = "/#/download?lang=" + localStorage.getItem("locale");
  logo.value = await getLogo(0, 11);
});
</script>
<style lang="scss" scoped>
  .phone-header__top{
    position: fixed;
    z-index: 2;
    .logo{
      width: 120px;
    }
  }
  .phone{
    padding-top: 97px;
    background: rgb(227,227,227);
    padding-bottom: 100px;
    .section{
      .title-block{
       .text-yellow{
        &:hover{
          color:#f1ac33;
        }
       }
      }
    }
    .banner-section{
      position: relative;
      .banner{
        padding-bottom: 110px;
      }
      .swiper-pagination{
          background: #000;
          .swiper-pagination-bullet-active{
            width: 30px;
          }
        }
      .learn-more{
        background: linear-gradient(#ffc044,#ff981c);
        border-radius: 50px;
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        white-space: nowrap;
      }
    }
    .gameClass-section{
      .item{
        background: linear-gradient(#d2d2d2,#aaaaaa);
        border-radius: 10px;
        height: 48px;
      }
      .swiper-slide{
        width: auto !important;
      }

    }
    .popular-section{
      .popular-prev,
      .popular-next{
        width: 30px;
        height: 30px;
        border:1px solid #5c5c5c;
        border-radius: 50%;
        img{
          width: 10px;
        }
      }
    }
    .promotions-section{
      .item{
        position: relative;
        .promoCode-btn{
          position: absolute;
          left: 24px;
          bottom: 90px;
        }
        .checkDetail-btn{
          position: absolute;
          left: 24px;
          bottom: 24px;
        }
      }
    }
    .recentWinners-section{
      .title-box{
        border-radius:10px 10px 0 0;
      }
      .item{
        &:nth-child(even){
          background: white;
        }
        &:nth-child(odd){
          background: #f4f4f4;
        }
      }
    }
  }

  :deep(.swiper) {
    .swiper-pagination{
      .swiper-pagination-bullet{
        border-radius: 10px;
        background: #868686;
        opacity: 1;
        transition: width .3s, background .3s;
      }
      .swiper-pagination-bullet-active{
        width: 30px;
        background: #1b95ff;
        
      }
    }
    .swiper-button-prev,
    .swiper-button-next{
      width: 45px;
      height: 45px;
      border:1px solid rgba(28,157,255,0.5);
      border-radius: 50%;
      &:after{
        font-size: 16px;
      }
    }
  }

  :deep(.swiper.arrows-style-1) {

    .swiper-button-prev,
    .swiper-button-next{
      width: 30px;
      height: 30px;
      background: white;
      border-radius: 50%;
      border:none;
      margin: 0;
      top: 50%;
      transform: translateY(-50%);
      &:after{
        font-size: 12px;
      }
    }
  }
</style>