
<template>
  <div class="agencyPage" v-if="pageTarget === 'homePage'">
    <div class="header-title">
      <div class="back"> <a href="javascript:history.go(-1)"><font-awesome-icon icon="fa-solid fa-chevron-left" /></a> </div>
      <div class="title">{{ $t("agent_to_join") }}</div>
      <div class="search"></div>
    </div>
    <div class="header-img">
      <swiper class="home-banner__slider isHotMatch swiper homeSwiper" :modules="modules" :slides-per-view="1" :loop="true" :scrollbar="false" :autoplay="{ delay: 1500 }" :speed="1000">
        <swiper-slide v-for="(agencyItem,index) in agencyBanner" :key="index">
          <a v-if="agencyItem.hyperlink" :href="agencyItem.hyperlink" target="_blank">
            <img :src="agencyItem.imageUrl" alt="">
          </a>
          <img v-else :src="agencyItem.imageUrl" alt="">
        </swiper-slide>
      </swiper>
    </div>
    <div class="agency-wrapper">
      <div class="info-wrapper">
        <div class="agency-info">
          <div class="info">
            <span class="account-name">{{ $t("proxy_account") }}：<span class="account">{{ user.account }}</span></span>
            <span class="team">{{ $t("team_size") }}: <span class="team-count">{{ directLowerCount }}</span></span>
          </div>
          
          <span class="month ml-4" :class="{ active: activeIndex === 0 }" @click="activeIndex = 0;selectDate(0);">{{ $t("this_month") }}</span>
          <span class="month" :class="{ active: activeIndex === 1 }" @click="activeIndex = 1;selectDate(1);">{{ $t("previous_month") }}</span>
        </div>
        <div class="agency-item">
          <router-link :to="{ name: 'aaaPhoneAgencyTeam' }" class="member">
            <img src="@/assets/aaa/img/member/agency/agency-member.svg" alt="">
            <div class="text">{{ $t("member_management") }}</div>
          </router-link>
          <router-link :to="{ name: 'aaaPhoneAgencyPromo' }" class="Follow ">
            <img src="@/assets/aaa/img/member/agency/agency-promo.svg" alt="">
            <div class="text">{{ $t("agency_promotion") }}</div>
          </router-link>
          <router-link :to="{ name: 'aaaPhoneAgencyBonus' }" class="bonus-plan">
            <img src="@/assets/aaa/img/member/agency/agency-bonus-plan.svg" alt="">
            <div class="text">{{ $t("commission_plan") }}</div>
          </router-link>
          <router-link :to="{ name: 'aaaPhoneAgencyBonusRecord' }" class="bonus-report">
            <img src="@/assets/aaa/img/member/agency/agency-bonus-report.svg" alt="">
            <div class="text">{{ $t("commission_report") }}</div>
          </router-link>
        </div>
      </div>

      <div class="agency-bounuCount">
        <div class="total">
          <div class="title d-flex justify-content-between">
            <div>{{ $t("total") }}</div>
            <div class="d-flex align-items-center" @click="pageTarget = 'currencies'">
              <img :src="wallets.find(item => item.currency.no === selectedCurrency)?.currency.img" alt="" style="width:26px;">
              <span class="ml-2">{{wallets.find(item => item.currency.no === selectedCurrency)?.currency.currencyId}}</span>
            </div>
          </div>
          <template v-if="responseData">
            <div class="total-content col4">
              <div class="retreat">
                <div>{{ $t("bet") }}</div>
                <div class="count">{{ stringToMoney(responseData.commissionStats.totalStakeScore) }}</div>
              </div>
              <div class="bonus">
                <div>{{ $t("valid_bet") }}</div>
                <div class="count">{{ stringToMoney(responseData.commissionStats.totalValidScore) }}</div>
              </div>
              <div class="rebate">
                <div>{{ $t("payout") }}</div>
                <div class="count">{{ stringToMoney(responseData.commissionStats.totalPayoutScore )}}</div>
              </div>
              <div class="activeCount">
                <div>{{ $t("win_or_lose") }}</div>
                <div class="count">{{ stringToMoney(responseData.commissionStats.totalFinalScore) }}</div>
              </div>
            </div>
            <div class="total-content col3">
              <div class="retreat">
                <div>{{ $t("retreat") }}</div>
                <div class="count">{{ stringToMoney(responseData.commissionStats.totalRetreatScore) }}</div>
              </div>
              <div class="bonus">
                <div>{{ $t("bonus") }}</div>
                <div class="count">{{ stringToMoney(responseData.commissionStats.totalBonus) }}</div>
              </div>
              <div class="rebate">
                <div>{{ $t("activeCount") }}</div>
                <div class="count">{{ stringToMoney(responseData.commissionStats.totalActiveCount )}}</div>
              </div>
            </div>
          </template>
        </div>

        <!-- 投注 -->
        <div class="payout">
          <div class="title">{{ $t("bet") }}</div>
          <template v-if="responseData">
            <div class="payout-content col4">
              <div class="live">
                <div>{{ $t("video") }}</div>
                <div class="count">{{ stringToMoney(responseData.stakeScoreStats.video) }}</div>
              </div>
              <div class="lottery">
                <div>{{ $t("lottery") }}</div>
                <div class="count">{{ stringToMoney(responseData.stakeScoreStats.lottery) }}</div>
              </div>
              <div class="sprot">
                <div>{{ $t("sport") }}</div>
                <div class="count">{{ stringToMoney(responseData.stakeScoreStats.sport) }}</div>
              </div>
              <div class="allSprot">
                <div>{{ $t("sportEvents") }}</div>
                <div class="count">{{ stringToMoney(responseData.stakeScoreStats.sportEvents) }}</div>
              </div>
            </div>
            <div class="payout-content col3">
              <div class="elec">
                <div>{{ $t("elec") }}</div>
                <div class="count">{{ stringToMoney(responseData.stakeScoreStats.elec) }}</div>
              </div>
              <div class="fishing">
                <div>{{ $t("fishing") }}</div>
                <div class="count">{{ stringToMoney(responseData.stakeScoreStats.fishing) }}</div>
              </div>
              <div class="chess">
                <div>{{ $t("chess") }}</div>
                <div class="count">{{ stringToMoney(responseData.stakeScoreStats.chess) }}</div>
              </div>
            </div>
          </template>
        </div>

        <!-- 派彩 -->
        <div class="payout">
          <div class="title">{{ $t("payout") }}</div>
          <template v-if="responseData">
            <div class="payout-content col4">
              <div class="live">
                <div>{{ $t("video") }}</div>
                <div class="count">{{ stringToMoney(responseData.payoutScoreStats.video) }}</div>
              </div>
              <div class="lottery">
                <div>{{ $t("lottery") }}</div>
                <div class="count">{{ stringToMoney(responseData.payoutScoreStats.lottery) }}</div>
              </div>
              <div class="sprot">
                <div>{{ $t("sport") }}</div>
                <div class="count">{{ stringToMoney(responseData.payoutScoreStats.sport) }}</div>
              </div>
              <div class="allSprot">
                <div>{{ $t("sportEvents") }}</div>
                <div class="count">{{ stringToMoney(responseData.payoutScoreStats.sportEvents) }}</div>
              </div>
            </div>
            <div class="payout-content col3">
              <div class="elec">
                <div>{{ $t("elec") }}</div>
                <div class="count">{{ stringToMoney(responseData.payoutScoreStats.elec) }}</div>
              </div>
              <div class="fishing">
                <div>{{ $t("fishing") }}</div>
                <div class="count">{{ stringToMoney(responseData.payoutScoreStats.fishing) }}</div>
              </div>
              <div class="chess">
                <div>{{ $t("chess") }}</div>
                <div class="count">{{ stringToMoney(responseData.payoutScoreStats.chess) }}</div>
              </div>
            </div>
          </template>
        </div>

        <!-- 有效投注 -->
        <div class="payout">
          <div class="title">{{ $t("valid_bet") }}</div>
          <template v-if="responseData">
            <div class="payout-content col4">
              <div class="live">
                <div>{{ $t("video") }}</div>
                <div class="count">{{ stringToMoney(responseData.validScoreStats.video) }}</div>
              </div>
              <div class="lottery">
                <div>{{ $t("lottery") }}</div>
                <div class="count">{{ stringToMoney(responseData.validScoreStats.lottery) }}</div>
              </div>
              <div class="sprot">
                <div>{{ $t("sport") }}</div>
                <div class="count">{{ stringToMoney(responseData.validScoreStats.sport) }}</div>
              </div>
              <div class="allSprot">
                <div>{{ $t("sportEvents") }}</div>
                <div class="count">{{ stringToMoney(responseData.validScoreStats.sportEvents) }}</div>
              </div>
            </div>
            <div class="payout-content col3">
              <div class="elec">
                <div>{{ $t("elec") }}</div>
                <div class="count">{{ stringToMoney(responseData.validScoreStats.elec) }}</div>
              </div>
              <div class="fishing">
                <div>{{ $t("fishing") }}</div>
                <div class="count">{{ stringToMoney(responseData.validScoreStats.fishing) }}</div>
              </div>
              <div class="chess">
                <div>{{ $t("chess") }}</div>
                <div class="count">{{ stringToMoney(responseData.validScoreStats.chess) }}</div>
              </div>
            </div>
          </template>
        </div>

        <!-- 輸贏 -->
        <div class="payout">
          <div class="title">{{ $t("win_or_lose") }}</div>
          <template v-if="responseData">
            <div class="payout-content col4">
              <div class="live">
                <div>{{ $t("video") }}</div>
                <div class="count">{{ stringToMoney(responseData.finalScoreStats.video) }}</div>
              </div>
              <div class="lottery">
                <div>{{ $t("lottery") }}</div>
                <div class="count">{{ stringToMoney(responseData.finalScoreStats.lottery) }}</div>
              </div>
              <div class="sprot">
                <div>{{ $t("sport") }}</div>
                <div class="count">{{ stringToMoney(responseData.finalScoreStats.sport) }}</div>
              </div>
              <div class="allSprot">
                <div>{{ $t("sportEvents") }}</div>
                <div class="count">{{ stringToMoney(responseData.finalScoreStats.sportEvents) }}</div>
              </div>
            </div>
            <div class="payout-content col3">
              <div class="elec">
                <div>{{ $t("elec") }}</div>
                <div class="count">{{ stringToMoney(responseData.finalScoreStats.elec) }}</div>
              </div>
              <div class="fishing">
                <div>{{ $t("fishing") }}</div>
                <div class="count">{{ stringToMoney(responseData.finalScoreStats.fishing) }}</div>
              </div>
              <div class="chess">
                <div>{{ $t("chess") }}</div>
                <div class="count">{{ stringToMoney(responseData.finalScoreStats.chess) }}</div>
              </div>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
    <!----選擇幣別----->
    <div v-if="pageTarget === 'currencies'" class="pCurrencyInfo">
      <div class="headerTop"> {{ $t("currency_selection") }}
        <img @click="setFilterCurrency()" src="@/assets/img/icon/icon_game_arrow_left.svg" class="backBtn">
      </div>
      <div class="pMidBoardBg">
        <!----幣別資訊----->
        <div class="pMidBoardBox">
          <!----幣別項目----->
          <a class="lang-option" v-for="(wallet, index) in wallets" :key="index">
            <span class="currency-check">
              <label class="radio">
                <input class="radio-input" type="radio" name="radio" :value="wallet.currency.no" v-model="selectedCurrency">
                <span class="radio-checkmark-box">
                  <span class="radio-checkmark"></span>
                </span>
              </label>
            </span>
            <span class="nation">
              <img :src=wallet.currency.img alt="" class="lanImg">
            </span>
            <span class="nation-name">{{ wallet.currency.currencyId }}</span>
          </a>
        </div>
      </div>
    </div>
  <!-- 加載 -->
  <loading v-model:active="isLoading" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />

</template>

<script>
// 代理報表查詢
export class AgentStats {
  sessionKey = '';
  startTime = 0;
  endTime = 0;
  currencyNo = 0;
  lang = '';
}
</script>

<script setup>
import { ref, reactive, onMounted, computed } from 'vue';
import '@vuepic/vue-datepicker/dist/main.css'
import apiService from '@/api/apiService';
import common from "@/utils/common";
import moment from "moment";
import Loading from 'vue-loading-overlay';
import { useStore } from 'vuex';
import { Swiper, SwiperSlide } from 'swiper/vue';
import { Navigation, Pagination, Scrollbar, A11y, EffectFade, Autoplay } from 'swiper';


const store = useStore();
const date = ref();
const { errorHandling, stringToMoney, userLogout, getPhoneAgencyBanner } = common();
const activeIndex = ref(0);
const pageTarget = ref('homePage')
const isLoading = ref(false);
//代理報表相關
const reportAgentStatsReq = reactive(new AgentStats());
const responseData = ref(null);
const selectedCurrency= ref('')
//使用者資料
const user = computed(() => store.state.user);
const wallets = computed(() => store.state.wallets);
//從UserChangeInfo.vue取出團隊人數
const directLowerCount = user.value.directLowerCount;

//代理banner相關
const modules = [Navigation, Pagination, Scrollbar, A11y, EffectFade, Autoplay];
const agencyBanner = ref([]);

// 取得代理報表資訊
function getAgentReportStats() {
  reportAgentStatsReq.sessionKey = localStorage.getItem("sessionKey");
  reportAgentStatsReq.currencyNo = selectedCurrency.value;
  reportAgentStatsReq.lang = localStorage.getItem("locale");
  isLoading.value = true;

  apiService.post('/Report/AgentReportStats', reportAgentStatsReq
  ).then((res) => {
    responseData.value = res.data;
  }).catch((err) => {
    errorHandling(err);
  }).finally(() => {
    isLoading.value = false;
  });
}
// 切換特定日期
function selectDate(value) {
  let startDate = moment().startOf('day');
  let endDate = moment().endOf('day');
  switch (value) {
    case 0:// 本月
      startDate = startDate.startOf('month');
      endDate = endDate.endOf('month');
      break;
    case 1:// 上月
      startDate = startDate.subtract(1, 'month').startOf('month');
      endDate = endDate.subtract(1, 'month').endOf('month');
      break;
    default:
      break;
  }
  date.value = [startDate.toDate(), endDate.toDate()];
  queryAgencyTeam();
}

// 查詢
function queryAgencyTeam() {
  let startTime = date.value[0].getTime();
  let endTime = date.value[1].getTime();

  if (startTime != reportAgentStatsReq.startTime || endTime != reportAgentStatsReq.endTime) {
    reportAgentStatsReq.startTime = startTime;
    reportAgentStatsReq.endTime = endTime;
  }
  getAgentReportStats();

}

//設定篩選語系
const setFilterCurrency = () => {
  pageTarget.value = 'homePage';
  getAgentReportStats();
}

onMounted( async() => {
  if (!localStorage.getItem("sessionKey")) { userLogout(); return; }
  const startDate = moment().startOf('month').toDate();
  const endDate = moment().endOf('month').toDate();
  date.value = [startDate, endDate];
  selectedCurrency.value = wallets.value[0].currency.no
  queryAgencyTeam();
  agencyBanner.value = await getPhoneAgencyBanner(0,9);
})



</script>

<style lang="scss" scoped>
.agencyPage {
  color: #000;
  .header-title {
    background: #fff;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding: 1.5rem 1rem 1.5rem 1rem;
    color: #000;
    .fa-chevron-left {
      color: #000;
    }
  }
  .agency-wrapper {
    background: #fff;
    border-radius: 10px;
    padding: 0.5rem 0;
    font-size: .6rem;
    line-height: .85rem;
    word-spacing: 0;
    .info-wrapper {
      margin-bottom: 0.5rem;
      padding-top: 1rem;
      .agency-info {
        border-bottom: 1px solid #d9d9d9;
        padding-bottom: 0.5rem;
        display: flex;
        justify-content: space-evenly;
        .info {
          width: 42%;
          align-self: center;
          margin-left: .5rem;
          .account-name {
            white-space: nowrap;
            margin-right: .5rem;
          }
          .team {
            display: inline-block;
          }
          .account,
          .team-count {
            color: #1c96ff;
          }
        }
        .month {
          padding: 0.25rem .8rem .1rem .8rem;
          height: 22px;
          vertical-align: middle;
          white-space: nowrap;
           word-spacing: 0;
          &.active {
            background: linear-gradient(180deg, #009685 0%, #004d3d 99.48%);
            border-radius: 30px;
            color: #fff;
          }
        }        
      }
      .agency-item {
        display: flex;
        justify-content: space-around;
        text-align: center;
        padding: 0.8rem 0;
        a {
          color: #555555;
        }
        img {
          width: 40px;
          margin-bottom: .5rem;
        }
      }
    }
    .agency-bounuCount {
      background: #fff;
      color: #6f6f6f;
      font-weight: normal;
      .title {
        position: relative;
        padding: 0.5rem 1rem 0.5rem 1.5rem;
        border-bottom: 1px solid #d9d9d9;
        &::before {
          content: '';
          position: absolute;
          left: 10px;
          top: 6px;
          background: #009688;
          border-radius: 5px;
          width: 4px;
          height: 16px;
        }
      }
      .count {
        font-size: 1rem;
        font-weight: bolder;
        color: #000;
        position: absolute;
        left: 50%;
        bottom: .5rem;
        transform: translate(-50%, 0);
      }
      .col4 > div {
        width: 25%;
      }
      .col3 > div {
        width: 33.33333333%;
      }
      .total {
        position: relative;
        width: 100%;
        .title {
          border-bottom: none;
        }
        .total-content {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #d9d9d9;
          & > div {
            padding: 0.5rem;
            border-right: 1px solid #d9d9d9;
            text-align: center;
            position: relative;
            height: 60px;

            &:last-child {
              border-right: none;
            }
          }
          &.col4 {
            border-top: 1px solid #d9d9d9;
          }
        }
        .curreny-select {
          position: absolute;
          top: -10px;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #eeeeee;
          border-radius: 32px;
          padding: 0.5rem 0.5rem 0.5rem 1rem;
          span {
            width: 1.5rem;
            .fa-circle-plus {
              font-size: 1.2rem;
              margin-top: 0.2rem;
            }
          }
        }
      }
      .payout {
        margin-top: 20px;
        width: 100%;
        .title {
          border-bottom: 1px solid #d9d9d9;
        }
        .payout-content {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #d9d9d9;
          & > div {
            padding: 0.5rem;
            border-right: 1px solid #d9d9d9;
            text-align: center;
            position: relative;
            height: 60px;
            &:last-child {
              border-right: none;
            }
          }
        }
      }
      .validStake {
        width: 100%;
        .title {
          border-bottom: 1px solid #d9d9d9;
        }
        .validStake-content {
          display: flex;
          border-bottom: 1px solid #d9d9d9;
          & > div {
            display: table-cell;
            padding: 0.5rem;
            border-right: 1px solid #d9d9d9;
            border-bottom: 1px solid #d9d9d9;
            text-align: center;
            &:last-child {
              border-right: none;
            }
          }
          &.col4,
          .col3 {
            border-bottom: none;
          }
        }
      }
    }
  }
}
.agencyPage.showWalletSelect{
  height: 0;
  overflow: hidden;
}

/*選擇幣別 */
.pCurrencyInfo {
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  z-index: 200;

  /*傳統充值headerTop */
  .headerTop {
    position: fixed;
    width: 100%;
    height: 78px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 1.1rem;
    z-index: 10;
    padding: 23px 0 0 0;

    .backBtn {
      position: absolute;
      left: 18px;
      width: 10px;
    }
  }

  .pMidBoardBg {
    width: 100vw;
    padding: 10px 0px 180px 0px;
    height: calc(100vh - 55px);
    background-color: rgba(0, 0, 0, 0.5);
    background-color: #f5f5f5;
    //background-color: rgba(172, 41, 41, 1);
    margin: 78px 0 0 0;
    overflow-y: auto;
  }

  /*白色區塊CSS */
  .pMidBoardBox {
    position: relative;
    display: block;
    width: calc(100vw - 20px);
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    color: #000;
    margin: 0px 10px 10px 10px;

    &.type02 {
      padding: 0 0 10px 0;
    }

    /*充值方式選項內容清單BTN */
    .pWithdrawBarBox {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      //background-color: #803030;
      padding: 10px;
      border-bottom: 1px solid #d9d9d9;

      .infoTextBox {
        display: block;
        width: calc(100% - 41px);
        margin: 0 5px 0 10px;
        //background-color: #a33069;

        .infoText01 {
          display: flex;
          justify-content: left;
          font-size: 0.9rem;
          font-weight: 700;
          line-height: 1.1rem;
          color: #000;

          .infoText01TagBox {
            display: flex;
            align-items: center;
            font-size: 0.6rem;
            font-weight: 400;
            line-height: 0.8rem;
            color: #6f6f6f;
            padding: 2px 5px;
            margin: 0 5px 0 0;
            border: 1;
            border: 1px solid #b83830;
            border-radius: 3px;
            box-sizing: border-box;
            white-space: nowrap;
          }
        }

        .infoText02 {
          margin: 3px 0 0 0;
          font-size: 0.85rem;
          font-weight: 400;
          line-height: 0.7rem;
          color: #6f6f6f;
          //background-color: #2DCD6C;
        }
      }

      .iconBox {
        display: flex;
        align-items: center;
        //background-color: #2DCD6C;
        width: 36px;

        & img {
          width: 100%;
          height: auto;
          max-height: 36px;
        }
      }
    }

    /*充值方式選項內容清單QRCODE */
    .qrcodeBlock {
      display: block;
      width: calc(100% - 20px);
      margin: 10px 10px 0 10px;
      //background-color: #B83830;

      .box01 {
        display: flex;
        justify-content: left;
        font-size: 0.9rem;
        line-height: 1rem;
        padding: 10px 0;

        .textAccount {
          margin: 0 0 0 10px;
        }
      }

      // QRcode欄位
      .box02 {
        margin: 10px 0 10px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .imgBox {
          width: 120px;

          & img {
            width: 100%;
            height: auto;
          }
        }

        .text {
          width: 100%;
          text-align: center;
          line-height: 1.2rem;
          margin: 5px;
        }
      }

      // 備註黑色文字欄位
      .box03 {
        font-size: 0.9rem;
        line-height: 1rem;
        padding: 10px 0;
      }

      // 一般欄位
      .box04 {
        display: flex;
        justify-content: left;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        font-size: 0.9rem;
        line-height: 1rem;
        padding: 10px 0;
        //background-color: #009688;

        .textAccountTitle {
          width: 18%;
          display: flex;
          justify-content: left;
          //background-color: #B83830;
        }

        .textAccountName {
          display: flex;
          justify-content: left;
          width: calc(82% - 28px);
        }

        .textCopyIcon {
          display: flex;
          justify-content: left;
          width: 28px;
          //background-color: #B83830;
        }
      }
    }

    .bottomLine {
      border-bottom: 1px solid #d9d9d9;
    }
  }

  .pBoardTitle {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 700;
    width: 100%;
    padding: 10px 0;
  }

  .pBoardCurrencyBlock {
    width: 100%;
    margin: 10px 0 0 0;
    //background: #004D3D;

    .pBoardInputBox {
      position: relative;
      width: 100%;
      margin: 12px 0 0 0;
      //background-color: #009685;
      border-bottom: 1px solid #d9d9d9;
      padding: 5px 0 20px 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .leftBox {
        display: flex;
        align-items: center;
        justify-content: left;

        .bar01Check {
          width: 20px;
          margin: 0 20px 0 10px;

          & img {
            width: 100%;
            height: auto;
          }
        }

        .bar02CoinIcon {
          width: 32px;
          margin: 0 10px 0 0;

          & img {
            width: 100%;
            height: auto;
          }
        }

        .bar03Text {
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          margin: 0 10px 0 0px;
          color: #000000;
        }

        .bar04Text {
          font-weight: 600;
          font-size: 12px;
          line-height: 17px;
          color: #6f6f6f;
        }
      }

      .pBoardInput {
        width: 100%;
        border: none;
        color: #000000;
        font-size: 1rem;
        line-height: 1.1rem;
        //background-color: #30b864;

        &::placeholder {
          color: #b8b8b8;
        }
      }

      .coinBox {
        display: flex;
        justify-content: right;
        font-style: normal;
        font-weight: 400;
        font-size: 0.8rem;
        line-height: 1.1rem;
        //background-color: #004D3D;
        margin: 1px 0 0 0;
      }
    }

    &.type02 {
      display: flex;
      justify-content: left;
      width: 100%;
      flex-wrap: wrap;

      .moneyItem {
        width: calc(25% - 10px);
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #b8b8b8;
        border-radius: 5px;
        font-size: 1rem;
        line-height: 1rem;
        padding: 10px 15px;
        margin: 5px 5px;

        &.selected {
          color: #fff;
          background-image: linear-gradient(180deg, #009685 0%, #004d3d 99.48%);
        }
      }
    }
  }

  .bottomRemarkTextBox {
    margin: 5px 20px 0 20px;
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 0.7rem;
    line-height: 1rem;
    font-weight: 400;
    color: #9d9b98;

    .remarkIcon {
      min-width: 15px;
      margin: 0 5px 0 0;
    }
  }

  .bottomRemarkText {
    margin: 5px 0 0 0;
    font-size: 11px;
    line-height: 0.8rem;
    font-weight: 400;
    color: #b8b8b8;

    &.type02 {
      color: #e60013;
    }

    &.type03 {
    }
  }
}

.lang-option {
  background: #fff;
  display: flex;
  align-items: center;
  margin: 1rem;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 1rem;
  span {
    margin: 0 0.2rem;
  }
  .nation-name {
    color: #000;
  }
  .radio {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    user-select: none;
    margin-bottom: 0;

    &:hover {
      .checkbox-checkmark {
        border: 2px solid #009688;
      }
    }
  }

  .radio-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .radio-checkmark-box {
      .radio-checkmark {
        &:after {
          display: block;
        }
      }
    }

    &:checked ~ .radio-checkmark-box {
      .radio-checkmark {
        background-color: #fff;
        border: 2px solid #009688;
      }
    }

    &:disabled ~ .radio-checkmark-box {
      .radio-checkmark {
        border: 2px solid #b0b0b0;
        cursor: not-allowed;
      }
    }

    &:disabled {
      &:checked ~ .radio-checkmark-box {
        .radio-checkmark {
          background-color: #b0b0b0;
        }
      }
    }
  }

  .radio-checkmark-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    border-radius: 50%;
  }

  .radio-checkmark {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #58a55a;
    border-radius: 50%;
    cursor: pointer;

    &:after {
      content: '';
      display: none;
      background: url("data:image/svg+xml,%3Csvg width='6' height='4' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.8866 9.91722L0.0873348 5.36761C0.0596566 5.34137 0.037692 5.31018 0.0227039 5.27582C0.00771585 5.24146 0 5.20461 0 5.1674C0 5.13019 0.00771585 5.09335 0.0227039 5.05899C0.037692 5.02463 0.0596566 4.99343 0.0873348 4.96719L1.29893 3.81086C1.41471 3.70049 1.60183 3.70049 1.71761 3.81086L4.87718 6.80501C4.99296 6.91538 5.18143 6.91409 5.2972 6.80372L12.2787 0.0839022C12.3945 -0.0277526 12.5829 -0.0277526 12.7001 0.0826188L13.913 1.23895C14.0288 1.34932 14.0288 1.52771 13.9143 1.63809L6.30821 8.95468L6.30956 8.95597L5.30662 9.91722C5.19085 10.0276 5.00238 10.0276 4.8866 9.91722Z' fill='%23009688'/%3E%3C/svg%3E%0A")
        no-repeat center;
      width: 14px;
      height: 12px;
      background-size: contain;
    }
  }
  img {
    width: 30px;
  }
}
</style>
