
<template>
  <div class="agencyPage">
    <div class="header-title">
      <div class="back"> <a href="javascript:history.go(-1)"><font-awesome-icon icon="fa-solid fa-chevron-left" /></a> </div>
      <div class="title">{{ $t("commission_plan") }}</div>
      <div class="search"></div>
    </div>
    <div class="AgencyBonus-wrapper">
      <div v-for="(bonusImage, index) in bonusImages" :key="index">
        <img :src="bonusImage.imageUrl" alt="">
      </div>

    </div>
    <!-- 加載 -->
    <loading v-model:active="isLoading" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />
  </div>
 
</template>


<script setup>
import { ref, onMounted, onBeforeMount } from 'vue';
import common from "@/utils/common";
import Loading from 'vue-loading-overlay';

const { userLogout, getBonusImages } = common();
const isLoading = ref(false);
const bonusImages = ref([]);

const getImages = async () => {
  isLoading.value = true;
  bonusImages.value = await getBonusImages(0, 8);
  isLoading.value = false;
}

onBeforeMount( async() => {
  getImages();
})

onMounted(() => {
  if (!localStorage.getItem("sessionKey")) { userLogout(); return; }
});
</script>

<style lang="scss" scoped>
.agencyPage {
  color: #000;
  .header-title {
    background: #fff;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding: 1.5rem 1rem 1.5rem 1rem;
    color: #000;
    position: fixed;
    width: 100%;
    top: 0;
    .fa-chevron-left {
      color: #000;
    }
  }
  .AgencyBonus-wrapper {
    margin-top: 70px;
    background: #ececec;
    padding: 0.5rem;

    .bonus-table {
      border-collapse: collapse;
      width: 100%;
      background: #fff;
      border-radius: 5px;
      .bonus-title {
        position: relative;
        padding: 0.5rem 0 0.5rem 1rem;
        border-bottom: 1px solid #ececec;
        &::before {
          content: '';
          position: absolute;
          left: 5px;
          top: 10px;
          background: #f1ac33;
          border-radius: 5px;
          width: 4px;
          height: 16px;
        }
      }
      .bonus-count {
        display: flex;
        justify-content: space-around;
        div {
          border-right: 1px solid #ececec;
          text-align: center;
          color: #6f6f6f;
          padding: 0.5rem 0;
          &.validStake,
          &.teamFinalScore,
          &.activeCount {
            width: 33.333333%;
            border-bottom: 1px solid #ececec;
          }
          span {
            display: block;
            color: #000;
            font-size: 1.2rem;
          }
        }
      }
    }
    .b-planBg {
      background: #444343;
      margin-bottom: 0.5rem;
      img {
        height: 100%;
      }
    }
    .notice {
      color: #555;
      .notice-title {
        margin-bottom: 1rem;
      }
      .text-red {
        color: red;
      }
    }
  }
}
</style>
