<template>
  <div class="userInfo-middleContent mt-4">
    <div class="bet-record">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" aria-current="page" v-if="message != null">{{ message.type == 0 ? $t('sports_announcement') : $t('station_letter') }}</li>
        </ol>
      </nav>
      <!-- 公告 -->
      <template v-if="message != null && message.type == 0">
        <div class="subject">
          <div class="subject-title">{{ $t('subject') }}： {{ message.detail.title }}</div>
          <div class="mail-info">
            <span class="mail-date">{{ $t('date') }}： {{ unixToLocal(message.detail.createTime) }}</span>
          </div>
        </div>
        <div class="mail-content" v-html="message.detail.content"></div>
      </template>

      <!-- 站內信 -->
      <template v-if="message != null && message.type == 1">
        <div class="subject">
          <div class="subject-title">{{ $t('subject') }}： {{ message.detail.title }}</div>
          <div class="mail-info">
            <span class="mail-from">{{ $t('sender') }}： {{ message.detail.sender }}</span>
            <br>
            <span class="mail-date">{{ $t('date') }}： {{ unixToLocal(message.detail.createTime) }}</span>
          </div>
        </div>
        <div class="mail-content" v-html="message.detail.content"></div>
      </template>

    </div>
    <div class="w-100 text-center mt-5"><button class="button" @click="goBack">{{ $t('return') }}</button></div>
  </div>
</template>

<script setup>
import { ref, onMounted } from "vue";
import common from "@/utils/common";
import apiService from '@/api/apiService';
import { useRouter } from "vue-router"; // 从 "vue-router" 导入

const message = ref();
const { unixToLocal } = common();
const router = useRouter();

// 標記讀取站內信
function markReading(value) {
  apiService.put('/Message/MarkReading', {
    sessionKey: localStorage.getItem("sessionKey"),
    no: value
  });
}

//點選回信件列表並帶著信件分類值0=公告, 1=站內信
const goBack = () => {
  let messageDetail = localStorage.getItem('messageDetail');
  message.value = JSON.parse(messageDetail);
  localStorage.setItem('messageType', message.value.type);
  router.go(-1);
};

onMounted(() => {
  // 0=公告, 1=站內信
  let messageDetail = localStorage.getItem('messageDetail');
  message.value = JSON.parse(messageDetail);
  if (message.value.type == 1 && message.value.detail.status == 0)
    markReading(message.value.detail.no);
});

</script>


<style lang="scss" scoped>
.outSideControl {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 0 50px 0;
  margin-top: 0px !important;
  background-color: #ffce51;
}

.userInfo-middleContent {
  background: #2a3f3a;
  padding: 2rem;

  .breadcrumb {
    background: none;
    border-bottom: 2px solid #1b352c;

    .breadcrumb-item.active {
      cursor: pointer;

      &:hover {
        color: #de99ff;
      }
    }
  }
}

.subject {
  background: #193129;
  padding: 1rem;
}

.mail-info {
  margin-top: 0.5rem;
  color: #999593;

  span {
    margin-right: 1rem;
  }
}

.mail-content {
  margin-top: 0.5rem;
  background: #193129;
  padding: 1.5rem;
}

.button {
  background: linear-gradient(180deg, #9d2024 0%, #3f0303 100%);
  border-radius: 3px;
  box-shadow: none;
  margin: auto;
}
.aad, .aag {

  .breadcrumb {
    border-bottom: 2px solid #3f3f3f;
  }
  .subject {
    background: #33333300;
  }
  .mail-content {
    background: #3f3f3f;
  }
  .button {
    background: linear-gradient(180deg, #e7b823, #c97705) !important;
    border-color: #ffce51 !important;

  }
}
</style>