<template>
  <div class="userInfo-middleContent mt-4">
    <div class="bet-record minWidth">

      <div class="select-option">
        <div class="sport-historyBtn">
        </div>

        <div class="date-select mt-3 mb-2">
          <span :class="{ active: activeIndex === 0 }" @click="activeIndex = 0; getNoticeList(0)">{{ $t('sports_announcement') }}
          </span> |
          <span :class="{ active: activeIndex === 1 }" @click="activeIndex = 1; getMessageList(1)">{{ $t('station_letter') }}
            ({{ unreadCount }})
          </span>
        </div>
      </div>

      <div class="table-overflow">
        <!-- 公告 -->
        <div class="css_table" v-show="activeIndex === 0">
          <div class="css_th">
            <div class="css_td">{{ $t('title') }}</div>
            <div class="css_td">{{ $t('content') }}</div>
            <div class="css_td">{{ $t('date') }}</div>
          </div>
          <div class="css_tr" v-for="(item) in noticeList" :key="item" @click="goDetail(0, item)">
            <div class="css_td">{{ item.title }}</div>
            <div class="css_td truncate">{{ item.content.replace(/<\/?.+?>/g,'') }}</div>
            <div class="css_td">{{ unixToLocal(item.createTime) }}</div>
          </div>
        </div>

        <!-- 站內信 -->
        <div class="css_table" v-show="activeIndex === 1">
          <div class="css_th">
            <div class="css_td">{{ $t('title') }}</div>
            <div class="css_td">{{ $t('content') }}</div>
            <div class="css_td">{{ $t('date') }}</div>
          </div>
          <div class="css_tr" v-for="(item) in messageList" :key="item" @click="goDetail(1, item)">
            <div class="css_td">{{ item.title }}</div>
            <div class="css_td" :class="(item.status === 0) ? 'unRead' : ''">{{ item.content.replace(/<\/?.+?>/g,'') }}</div>
            <div class="css_td">{{ unixToLocal(item.createTime) }}</div>
          </div>
        </div>
        <!-- 分頁 -->
        <div v-if="totalCount>0" class="d-flex align-items-center justify-content-between mt-3 pr-1">
          <vue-awesome-paginate :total-items="totalCount" :items-per-page="pageSize" v-model="pageIndex" :on-click="changePage" />
          <div>{{$t('totalStart') + ' ' + totalCount + ' ' + $t('totalEnd')}}</div>
        </div>
      </div>

    </div>

    <!-- 加載 -->
    <loading v-model:active="isLoading" backgroundColor="rgba(0, 0, 0, 0.95)" color="#fff" />
  </div>
</template>

<script setup>

import { ref, onMounted, reactive, computed, watch } from 'vue';
import apiService from '@/api/apiService';
import { useStore } from 'vuex';
import common from "@/utils/common";
import Loading from 'vue-loading-overlay';
import { useRouter } from "vue-router";

const store = useStore();
const unreadCount = ref(0);
const { errorHandling, unixToLocal, userLogout } = common();
const messageList = reactive([]);
const noticeList = reactive([]);
const activeIndex = ref(0);
const isLoading = ref(false);
const router = useRouter();
const pageIndex = ref(1);
const totalCount = ref(0);
const pageSize = ref(10);

const DomainLayoutId = computed(() => store.state.DomainLayoutId);

// 取得站內信未讀數量
function getUnreadCount() {
  apiService.post('/Message/UnreadCount', {
    sessionKey: localStorage.getItem("sessionKey")
  }).then((res) => {
    unreadCount.value = res.data.count;
  }).catch((err) => {
    console.log(err);
  });
}

// 站內信
function getMessageList() {
  isLoading.value = true;
  apiService.post('/Message/List', {
    sessionKey: localStorage.getItem("sessionKey"),
    pageIndex: pageIndex.value,
    pageSize: pageSize.value,
  }).then((res) => {
    messageList.splice(0);
    res.data.datas.forEach(element => {
      messageList.push(element)
    });
    totalCount.value = res.data.totalCount;
  }).catch((err) => {
    errorHandling(err);
  }).finally(() => {
    isLoading.value = false;
  });
}

// 公告
function getNoticeList() {
  isLoading.value = true;
  apiService.post('/Notice/List', {
    lang: localStorage.getItem("locale"),
    DomainLayoutId: DomainLayoutId.value
  }).then((res) => {
    noticeList.splice(0);
    res.data.datas.forEach(element => {
      noticeList.push(element)
    });
    totalCount.value = 0;
  }).catch((err) => {
    errorHandling(err);
  }).finally(() => {
    isLoading.value = false;
  });
}

// 轉到詳情
function goDetail(type, value) {
  // 0=公告, 1=站內信
  localStorage.setItem('messageDetail', JSON.stringify({
    type: type,
    detail: value
  }));
  router.push({ name: DomainLayoutId.value +'MessageDetail' });
}

// 換頁
function changePage(value) {
  pageIndex.value = value;
  getMessageList();
}

watch(
  () => store.state.lang,
  () => {
    if (localStorage.getItem('messageType') === '1') {
      activeIndex.value = 1;
      getMessageList();
    } else {
      activeIndex.value = 0;
      getNoticeList();
    }
  }
)

onMounted(() => {
  if (!localStorage.getItem("sessionKey")) { userLogout(); return; }
  getUnreadCount();
  if (localStorage.getItem('messageType') === '1') {
    activeIndex.value = 1;
    getMessageList();
  } else {
    activeIndex.value = 0;
    getNoticeList();
  }



})

</script>


<style lang="scss" scoped>
.outSideControl {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 0 50px 0;
  margin-top: 0px !important;
  background-color: #ffce51;
}

.userInfo-middleContent {
  background-color: #2a3f3a;
  width: 100%;
  padding: 0 2rem;

  .sport-historyBtn {
    text-align: end;
    margin-bottom: 1rem;

    .button {
      background: #3b3b3b;
      border: 1px solid rgba(197, 185, 211, 0.3);
      border-radius: 20px;
      box-shadow: none;

      &:hover,
      .active {
        cursor: pointer;
        background: #6e1a7c;
        color: #fcd882;
      }
    }
  }

  .breadcrumb {
    background: none;

    .breadcrumb-item.active {
      cursor: pointer;

      &:hover {
        color: #de99ff;
      }
    }
  }

  .select-option {
    display: flex;
    justify-content: space-between;

    .date-select {
      display: flex;
      align-items: center;

      span {
        cursor: pointer;
        white-space: nowrap;
        color: #999593;
        margin: 0 0.5rem;

        &:hover {
          color: #de99ff;
        }

        &.active {
          color: #ffce51;
        }
      }
    }
  }

  .table-overflow {
    height: 688px;
    border-collapse: collapse;

    .css_table {
      width: 100%;
      display: table;
      color: #999593;
      text-align: center;
      background: #1c1b27;
      margin-bottom: 2rem;
    }

    .css_th {
      position: sticky;
      top: 0px;
      display: table-row;
      padding: 2rem 0;
      background: #0b3528;
      color: #fff;

      .css_td {
        padding: 1rem;
      }
    }

    .css_tr {
      display: table-row;
      cursor: pointer;
      color: #fff;
      background: #474257;
      font-weight: 500;

      &:hover {
        background: rgba(197, 185, 211, 0.3);
      }
    }

    .css_td {
      display: table-cell;
      padding: 1rem;
      white-space: nowrap;
      border-bottom: 0.5px solid #0b3528;
      border-right: 0.5px solid #0b3528;
      background: #3a6a5b;

      &.noRead {
        color: #ffce51;
      }

      &.truncate {
        white-space: nowrap;
        /* 使文本不換行 */
        overflow: hidden;
        /* 隱藏超出容器的文本 */
        text-overflow: ellipsis;
        /* 將截斷的文本顯示為省略號（...） */
        max-width: 350px;
      }

      &.unRead {
        color: #ffce51;
        font-weight: 900;
      }

      .checkbox-animate {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .checkbox-animate label {
        position: relative;
        cursor: pointer;
        margin: 0;
      }

      .checkbox-animate label input {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
      }

      .input-check {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        border: 2px solid #ccc;
        position: relative;
        top: 6px;
        margin-right: 7px;
        transition: 0.4s;
      }

      .input-check::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 8px;
        border-bottom: 4px solid #fff;
        border-left: 4px solid #fff;
        transform: scale(0) rotate(-45deg);
        position: absolute;
        top: 2px;
        left: 3px;
        transition: 0.4s;
      }

      .checkbox-animate label input:checked ~ .input-check {
        background-color: #de99ff;
        border-color: #9347b6;
        animation-name: input-animate;
        animation-duration: 0.7s;
      }

      .checkbox-animate label input:checked ~ .input-check::before {
        transform: scale(1) rotate(-45deg);
        animation-name: input-check;
        animation-duration: 0.2s;
        animation-delay: 0.3s;
      }

      @keyframes input-animate {
        0% {
          transform: scale(1);
        }

        40% {
          transform: scale(1.3, 0.7);
        }

        55% {
          transform: scale(1);
        }

        70% {
          transform: scale(1.2, 0.8);
        }

        80% {
          transform: scale(1);
        }

        90% {
          transform: scale(1.1, 0.9);
        }

        100% {
          transform: scale(1);
        }
      }

      @keyframes input-check {
        0% {
          transform: scale(0) rotate(-45deg);
        }

        100% {
          transform: scale(1) rotate(-45deg);
        }
      }
    }
  }
}

.bet-record {
  text-align: center;

  &.minWidth {
    min-width: 967px;
  }
}

:deep(ul#componentContainer) {
  column-gap: 10px;
}

:deep(ul#componentContainer .paginate-buttons) {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  cursor: pointer;
  background: #2d6151;
  color: #fff;
  margin: 0 0.2rem;
  white-space: nowrap;
}

:deep(ul#componentContainer .paginate-buttons:hover) {
  background: #306958 !important;
}

:deep(ul#componentContainer .paginate-buttons.active-page) {
  background-color: #50ab90 !important;
  color: white !important;
}

.paginate-buttons.last-page-button {
  width: auto;
  white-space: nowrap;
}

.pageSelect {
  background: #fff;
  color: #000;
  padding: 0.5rem;
  margin-left: 1rem;
  text-align: center;
}

.router-link-active {
  cursor: default;
  background: linear-gradient(180deg, #e1f3ed 0%, #87cdb7 2.6%, #2f8e7e 100%);
}

//aad的css
.aad,
.aae, .aag{
  .userInfo-middleContent{ 
    .sport-historyBtn .button {
      background: #6e6e6e;
      &.active {
          background: #f1ac33;
          color: #fff;
        }
    }
      .css_table {
      background: #333333;
      .css_td {
        background: #6e6e6e;
        &:hover {
          color: #ffce51;
        }
      }
      .css_th .css_td{
        background: #15171a;
        border-right: none;
        border-bottom: 0.5px solid #616161;

      }
      
    }
    :deep(ul#componentContainer .paginate-buttons) {
      height: 40px;
      width: 40px;
      border-radius: 5px;
      cursor: pointer;
      background: #5c5c5c;
      color: #fff;
      margin: 0 0.2rem;
      white-space: nowrap;
    }
    :deep(ul#componentContainer .paginate-buttons:hover) {
      background: #5c5c5c !important;
    }
    :deep(ul#componentContainer .paginate-buttons.active-page) {
      background-color: #adadad !important;
      color: rgb(53, 53, 53) !important;
    }
  }
}

</style>